<section class="application" [attr.aria-busy]="busy">
    <div class="container uni-redesign">
        <div class="row all-cards">
            <div class="col-lg-4 card-container" *ngFor="let card of importCardsList">
                <div *ngIf="card.uiPermission.hasComponentAccess">
                    <div class="import-card">
                        <div class="card-header">
                            <a (click)="navigateToLogs(card.type)">Logg</a>
                        </div>
                        <div class="card-content">
                            <i class="material-icons">{{card.iconName}}</i>
                            <label>
                                {{card.title}}
                            </label>
                        </div>
                        <div class="card-footer">
                            <label class="upload-input" (click)="openImportTemplateModal(card.type)"
                                *ngIf="card.uiPermission.hasImportAccess">
                                <i class="material-icons">cloud_upload</i>
                                <span>{{card.importText}}</span>
                            </label>
                            <label class="upload-input" (click)="openDownloadTemplateModal(card.type)"
                                *ngIf="card.uiPermission.hasTemplateAccess">
                                <i class="material-icons">cloud_download</i>
                                <span>{{card.downloadText}}</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <!-- no access -->
            <div class="col-lg-4 card-container"
                *ngIf="!uiPermission.product.hasComponentAccess &&
                !uiPermission.customer.hasComponentAccess &&
                !uiPermission.supplier.hasComponentAccess &&
                !uiPermission.ledger.hasComponentAccess  &&
                !uiPermission.payroll.hasComponentAccess &&
                !uiPermission.saft.hasComponentAccess">
                <div class="import-card no-access">
                    <div class="card-content">
                        <i class="material-icons">extension</i>
                        <label>
                            Du har ikke rettigheter for import
                        </label>
                    </div>
                </div>
            </div>

            <button class="disclaimer-btn secondary" (click)="onDisclaimerClick()">
                <i class="material-icons">info</i>
                Betingelser for Import
            </button>
        </div>
    </div>
</section>