customer-details
    .unpaid-invoices
        color: var(--color-bad)
        margin-bottom:

    .pointintime-filter
        position: absolute
        display: flex
        align-items: flex-start
        margin-left: 19rem
        margin-right: 2rem
        margin-top: pxToRem(7)
        z-index: 101

    .uni-container
        min-height: 12rem

.customer-post-post-view
    padding: 1rem

    .ag-root-wrapper
        width: 100%

    uni-tabs
        margin-bottom: 1.25rem

    button
        flex: 0 0 auto
        height: 2rem
        line-height: 1rem
        margin-right: 0 !important
        margin-left: auto
