<section *ngIf="activeStatus" class="status-container" [ngClass]="{'has-substatus': activeStatus.substatusList?.length}">
    <section class="status-indicator">
        <i class="material-icons">info</i>
        {{activeStatus.title}}
        <span class="sub-status-counter" *ngIf="activeStatus.substatusList?.length">
            {{activeStatus.substatusList.length}}
        </span>
    </section>

    <section class="status-details">
        <section class="sub-statuses" *ngIf="activeStatus.substatusList?.length">
            <span class="header">Understatuser</span>

            <ul>
                <li *ngFor="let substatus of activeStatus.substatusList"
                    (click)="onSubStatusClick(substatus, activeStatus)"
                    [ngClass]="{
                        'selectable': substatus.selectable,
                        'active': isActiveSubStatus(substatus) && activeStatus.substatusList.length > 1
                    }">

                    <span class="title">{{substatus.title}}</span>
                    <span class="timestamp">{{formatTime(substatus.timestamp, substatus.formatDateTime)}}</span>
                    <span class="subtitle" *ngIf="substatus.subtitle">{{substatus.subtitle}}</span>
                </li>
            </ul>
        </section>

        <section class="history" *ngIf="entityType && entityID">
            <span class="header">Historikk</span>

            <a *ngIf="!activeStatus.logEntries" (click)="loadStatusHistory(activeStatus)">
                Hent statushistorikk
            </a>

            <ul *ngIf="activeStatus.logEntries">
                <li *ngFor="let logEntry of activeStatus.logEntries">
                    <span>
                        {{logEntry.FromStatusText || 'Ingen status' }}
                        <i class="material-icons">arrow_right</i>
                        {{logEntry.ToStatusText}}
                    </span>

                    <span>{{logEntry.CreatedByName}}</span>
                    <span>{{formatTime(logEntry.CreatedAt)}}</span>
                </li>
            </ul>
        </section>
    </section>
</section>
