<section class="salarytrans-filter">
    <salarytrans-filter [isDisabled]="disableFilter" (filtStringChange)="changeFilter($event)"></salarytrans-filter>
</section>
<section class="splitview">
    <nav class="splitview_list">
        <uni-table [config]="salarytransSelectionTableConfig" [resource]="employeeList" (rowSelected)="rowSelected($event)"></uni-table>
    </nav>
    <main class="splitview_detail">
        <salary-transactions-employee *ngIf="selectedEmployeeID" 
            [employeeID]="selectedEmployeeID"
            (nextEmployee)="goToNextEmployee($id)" 
            (previousEmployee)="goToPreviousEmployee($id)" 
            (salarytransListReady)="checkReady($value)"></salary-transactions-employee>
    </main>
</section>