<section [attr.aria-busy]="busy" class="detail_tables">
    <uni-table [resource]="filteredTranses" 
               [config]="salarytransEmployeeTableConfig" 
               (rowChanged)="rowChanged($event)"
               class="maintable"></uni-table>
</section>
<sal-trans-supplements-modal (updatedSalaryTransaction)="updateSingleSalaryTransaction($event)"></sal-trans-supplements-modal>
<control-modal (updatePayrollRun)="refreshPayrollRun($value)"></control-modal>
<postingsummary-modal (updatePayrollRun)="refreshPayrollRun($value)"></postingsummary-modal>
<sal-trans-supplements-modal (updatedSalaryTransaction)="updateSingleSalaryTransaction($event)"></sal-trans-supplements-modal>
<uni-save [actions]="saveactions"></uni-save>
<report-preview-modal></report-preview-modal>