<section class="splitview">
    <nav class="splitview_list">
        <ag-grid-wrapper
            [config]="salarytransSelectionTableConfig"
            [resource]="employeeList"
            (rowSelectionChange)="rowSelected($event)"
            (dataLoaded)="focusRow(0)">
        </ag-grid-wrapper>
    </nav>
    <main class="splitview_detail">
        <header class="detail_header" *ngIf="employeeList && employeeList.length">
            <section *ngIf="employeeList[selectedIndex] && agaZone" [attr.aria-busy]="busy" class="detail_header_info">
                <h1>{{employeeList[selectedIndex].ID}} - {{employeeList[selectedIndex].BusinessRelationInfo?.Name}}&ensp;|&ensp;
                    Virksomhet: {{employeeList[selectedIndex].SubEntity?.BusinessRelationInfo?.Name}}&ensp;|&ensp;
                    <abbr title="Arbeidsgiveravgift">Aga</abbr>-sone: {{agaZone.ZoneName}}
                </h1>
            </section>

            <nav class="detail_header_navigation" *ngIf="employeeList.length">
                <a (click)="goToPreviousEmployee()" class="previous">Forrige</a>
                <a (click)="goToNextEmployee()" class="next">Neste</a>
            </nav>
            <link-menu [menu]="linkMenu$ | async"></link-menu>
        </header>

        <section class="content">
            <salary-transactions-employee *ngIf="selectedIndex !== undefined" [employee]="employeeList[selectedIndex]"></salary-transactions-employee>
            <section class="detail_tables" *ngIf="employeeList && employeeList[selectedIndex]">
                <uni-summary [configs]="summary" [ngClass]="{'-is-dirty':hasDirty()}"></uni-summary>
            </section>
        </section>
    </main>
</section>
