<section class="splitview">
    <nav class="splitview_list">
        <uni-table [config]="salarytransSelectionTableConfig" [resource]="employeeList" (rowSelected)="rowSelected($event)"></uni-table>
    </nav>
    <main class="splitview_detail">
        <header class="detail_header" *ngIf="employeeList && employeeList.length">
            <section *ngIf="employeeList[selectedIndex] && agaZone" [attr.aria-busy]="busy" class="detail_header_info">
                <h1>{{employeeList[selectedIndex].ID}} - {{employeeList[selectedIndex].BusinessRelationInfo.Name}}
                    <small>Virksomhet: {{employeeList[selectedIndex].SubEntity.BusinessRelationInfo.Name}}</small>
                    <small><abbr title="Arbeidsgiveravgift">Aga</abbr>-sone: {{agaZone.ZoneName}}</small>
                </h1>
                <p *ngIf="hasError()" role="alert" class="error" [innerHTML]="generateErrorMessage()"></p>
                <p *ngIf="hasWarning()" role="alert" class="warn" [innerHTML]="generateWarningMessage()"></p>
            </section>

            <nav class="detail_header_navigation" *ngIf="employeeList.length">
                <uni-context-menu 
                    *ngIf="contextMenu"
                    [actions]="contextMenu">
                </uni-context-menu>
                <a (click)="goToPreviousEmployee()" class="previous">Forrige</a>
                <a (click)="goToNextEmployee()" class="next">Neste</a>
            </nav>
        </header>
        <salary-transactions-employee *ngIf="selectedIndex !== undefined" [employee]="employeeList[selectedIndex]"></salary-transactions-employee>
        <section class="detail_tables" *ngIf="employeeList && employeeList[selectedIndex]">
            <uni-summary [configs]="summary" [ngClass]="{'-is-dirty':hasDirty()}"></uni-summary>
        </section>
    </main>
</section>