@import 'accountSettings'
@import 'companySettings'
@import 'vatSettings'
@import "users"
@import 'altinnSettings'

.settings
    @include unigrid-flush(14)
    margin: 0 auto

    h2
        margin-left: 1rem

    .vertical_nav
        @include unigrid(2, 1, 4)
        float: left

    article
        @include unigrid(14, 7, 4)
        float: left
    