account-settings
    .splitview_list
        min-width: 66%
        max-width: 66%

        @include media(small)
            width: 100%

    .splitview_detail
        max-width: 33%
        min-width: 33%

account-details
    uni-form
        uni-field
            width: 90%
            float: left

account-details
    uni-checkbox-input
        margin-top: 0px

account-details
    .small-combo-field
        width: calc(90% - 5rem) !important

account-details
    uni-checkbox
        label
            min-height: 0px

.icon-column
    span
        @extend %hideText
        height: 1.1rem
        width: 1.1rem
        padding: 0.6rem
        margin-left: 0.4rem
        background-size: 1rem 1rem
        background-position: center center
        background-repeat: no-repeat

    .is-locked
        background-image: unicon-lock($uni-color-positive)

    .is-visible
        background-image: unicon-visible($uni-color-positive)

    .is-hidden
        background-image: unicon-hidden($uni-color-positive)

.accountList .menuDropDown
    float: right
    width: 10rem
    padding-top: 0.5rem

.accountList .showhide
    background: transparent unicon-plus($uni-color-positive) no-repeat
    background-size: 0.8rem
    background-position: 0.3rem 0.4rem
