account-settings
    .account-settings-container
        display: flex
        height: calc(100vh - 13rem)
        margin-top: 1rem
        overflow: hidden

        account-list, account-details
            display: block

        .list
            flex: 1
            height: 100%
            overflow: hidden
            ag-grid-wrapper
                height: 100%

        .details
            flex: 0 0 35rem
            height: 100%
            margin-left: 1rem
            overflow-y: auto
            @include labelLength(11rem)

        @media screen and (max-width: 1400px)
            flex-direction: column
            height: unset
            .list
                height: 25rem
            .details
                flex: 1
                margin-left: 0

account-list
    height: 100%
    .is-locked, .is-unlocked, .is-visible, .is-hidden, .is-na
        @extend %hideText

    .is-locked
        background: unicon-lock($uni-color-positive) no-repeat center center
        background-size: 1rem
    .is-visible
        background: unicon-visible($uni-color-positive) no-repeat center center
        background-size: 1rem
    .is-hidden
        background: unicon-hidden($uni-color-positive) no-repeat center center
        background-size: 1rem

.uni-wizard-settings-modal
    uni-field
        padding-left: 0 !important
        max-width: none !important

        label
            span
                span
                    font-size: 14px
            input
                font-size: 14px

.sales_info_section
    display: flex
    align-items: center
    border: 1px solid var(--border-color)
    border-radius: 3px
    padding: .5rem
    margin: 1rem 0

    i
        text-align: center

sales-part
    label
        display: flex
        align-items: center
        margin-bottom: 1rem

        uni-tooltip
            position: static !important
            margin-left: 5px

        span
            flex: 0 0 185px
            margin-right: 20px
            font-weight: 400
            font-size: 14px
            line-height: 2.4rem

        input, select
            flex: 1
            height: 2.4rem !important
            border: 1px solid rgba(0, 0, 0, 0.25)
            border-radius: 3px
            font-size: 14px
            width: 100%