.subEntityView
    &:before
        display: inline-block
        padding-left: 1rem
        font-weight: 600
        background: unicon-chevron-right($uni-color-scale5) left center no-repeat
        background-size: .4rem

    &.-is-expanded:before
        background: unicon-chevron-down($uni-color-scale5) left center no-repeat
        background-size: .7rem

    h4
        display: inline-block
        margin: .5rem 0
        cursor: pointer