.companySettings uni-combo-field
    @include unigrid(4, 2, 2)
    float: left

.company-logo uni-image
    @include unigrid(4, 2, 2, 1)

settings
    external-search

        .application
            margin-left: pxToRem(0)
            margin-right: pxToRem(0)

            .header-info
                width: 100%

            h3, p
                margin-left: pxToRem(15)
                margin-right: pxToRem(15)