create-opening-balance-modal
    uni-field
        padding-left: 0
    uni-field label.uni-label > span uni-tooltip
        position: relative !important
        left: 0.5rem
        right: 0 !important
    uni-field.splited-radio-group-first
        padding-bottom: 0
        height: 3.5rem
    uni-field.show-hide-field
        margin-top: 1rem
    header
        margin-bottom: 0
    h3
        font-size: 1rem
        font-weight: 300
        margin-top: 0
