uni-distibution
    .distribution-splitview
        display: flex
        flex-flow: row wrap
        width: 100%

        .distribution-list
            flex: 1
            min-width: 25rem
        .distribution-detail
            flex: 1
            min-width: 25rem
            header
                height: 3.5rem
                line-height: 3.5rem
                font-size: 20px

            uni-form
                @include labelLength(10rem)