opening-balance-component
    .file-upload-header
        font-weight: 500
        margin-top: 2rem
        font-size: 1.1rem
        margin-left: 0.5rem
    uni-file-upload
        margin-top: 0.5rem
    ag-grid-wrapper
        em.table-tooltip
            position: absolute
            bottom: 0.5rem
            right: 1rem
    uni-form.date-form
        uni-field
            padding-left: 0
        label
            span
                font-weight: 500
        input
            width: 20rem
    .info-section
        position: relative
        padding: 0rem 2.5rem 1rem 4rem
        background-color: #fff
        border-radius: 2px
        .info-text
            position: relative
            top: 20px
            a
                text-decoration: underline
        .material-icons.info
            position: absolute
            top: 20px
            left: 20px
            color: var(--color-c2a)
        .material-icons.close
            position: absolute
            top: 20px
            right: 20px
            color: var(--color-c2a)
            cursor: pointer
    .content
        text-align: center
        background-color: #fff
        border: 1px solid var(--border-color)
        padding: 10rem
        margin-top: 2rem
    .initcost-container
        display: flex
        align-items: center
    .initcost-info-span        
        align-items: center
        justify-content: center
        color: var(--color-c2a)
        background-color: var(--sidebar-active-section-background)
        width: fit-content
        padding: .5rem 1rem
        border-radius: 2rem

    svg
        color: var(--color-c2a)
edit-draftline-modal
    uni-field
        padding-left: 0
    uni-field > label span
        font-weight: 500
go-to-post-modal,opening-balance-guard-modal
    text-align: center
    font-size: 1.2rem
    p > a
        text-decoration: underline
        font-weight: 500
    .check_circle,.info
        font-size: 5rem
        color: var(--color-c2a)
    footer
        button
            margin: auto
