vat-settings
    .splitview_list
        min-width: 66%
        max-width: 66%

        @include media(small)
            width: 100%

    .splitview_detail
        max-width: 33%
        min-width: 33%

vattype-details
    uni-form 
        uni-field
            width: 90%
            float: left
    
vattype-details
    uni-checkbox-input        
        margin-top: 0px
            
    
.is-locked:before
    content: ''
    display: inline-block
    background: transparent unicon-lock($uni-color-positive) no-repeat
    background-size: 0.6rem
    padding: 0.6rem
    margin-left: 0.4rem

    