.vatList
    @include unigrid(12)
    float: left

.vatDetails
    @include unigrid(4)
    float: left

.vatDetails label
    width: 100%

.vatDetails fieldset
    width: 100%
    background: inherit
    margin: 0

.is-locked:before
    content: ""
    display: inline-block
    background: transparent unicon-lock($uni-color-positive) no-repeat
    background-size: 0.6rem
    padding: 0.6rem
    margin-left: 0.4rem
    