<section class='application'>
    
    <header class="title">
        <strong>Registrere timer for {{user.name}}</strong>
        <select *ngFor="let item of workRelations">
            <option>{{item.CompanyName}} : {{item.WorkPercentage}}% - {{item.Description}}</option>
        </select>
    </header>
    
    <section [attr.aria-busy]="busy" >
        <table class='timeentriesTable'>
            <thead>
                <tr>
                    <th>Beskrivelse</th>
                    <th>Start</th>
                    <th>Slutt</th>
                    <th>Dato</th>
                    <th>Aktivitet</th>
                    <th>Prosjekt</th>
                </tr>
            </thead>
            <tbody *ngIf="currentWorkRelation">
                <tr *ngFor="let item of workItems">
                    <td>{{item.Description}}</td>
                    <td>{{item.StartTime}}</td>
                    <td>{{item.EndTime}}</td>
                    <td>{{item.Date}}</td>
                    <td>{{item.Worktype.Name}}</td>
                    <td></td>
                </tr>                
                <tr>
                    <td>Epost / henvendelser</td>
                    <td>08:15</td>
                    <td>09:00</td>
                    <td>22.mai (i dag)</td>
                    <td>Administrativt</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Møte med Olsen og Pettersen</td>
                    <td>09:00</td>
                    <td>11:30</td>
                    <td>22.mai (i dag)</td>
                    <td>Møte</td>
                    <td>290031 - Jonh Olsen as</td>
                </tr>                
            </tbody>
        </table>    
    </section>
</section>