<section class='application regtimecontainer'>
    
    <header class="title">
        <span>Registrere timer for {{userName}}</span>
        <select *ngFor="let item of workRelations">
            <option>{{item.CompanyName}} : {{item.WorkPercentage}}% - {{item.Description}}</option>
        </select>
    </header>
    
    <aside class="horizontal_nav">
        <ul>
            <li *ngFor="let tab of tabs">
                <a [ngClass]="{'router-link-active': tab.isSelected}" >{{tab.label}}</a>
                <span class='tabtip' *ngIf="tab.counter">({{tab.counter}})</span>   
            </li>
        </ul>    
    </aside>

    <aside class="regtime_filters">
        <ul>
            <li *ngFor="let filter of filters">
                <a (click)="onFilterClick(filter)" [ngClass]="{'router-link-active': filter.isSelected}" >{{filter.label}}</a> 
            </li>
        </ul>    
    </aside>
    
    <section [attr.aria-busy]="busy" class="subcontainer" >
        
        <aside class='busy' *ngIf='busy'>Vent litt... stiller klokker og spisser blyanter..</aside>
    
        <table class='timeentriesTable' editable [config]="tableConfig" >
            <thead>
                <tr>
                    <th>Beskrivelse</th>
                    <th>Start</th>
                    <th>Slutt</th>
                    <th>Dato</th>
                    <th>Aktivitet</th>
                    <th>Prosjekt</th>
                </tr>
            </thead>
            <tbody *ngIf="timeSheet.currentRelation">
                <tr *ngFor="let item of timeSheet.items">
                    <td>{{item.Description}}</td>
                    <td>{{item.StartTime | isotime:'HH:mm'}}</td>
                    <td>{{item.EndTime | isotime:'HH:mm'}}</td>
                    <td>{{item.Date | isotime:'DD.MM.YY'}}</td>
                    <td>{{item.Worktype ? item.Worktype.Name : ''}}</td>
                    <td>{{item.Dimensions ? item.Dimensions.Project ? item.Dimensions.Project.Name : item.Dimensions.ProjectID : ''}}</td>
                </tr>                            
            </tbody>
        </table>    
    </section>

    <uni-save [actions]="actions"></uni-save>

</section>

