<uni-toolbar class="no-print" [config]="toolbarConfig" [saveactions]="actions"></uni-toolbar>

<aside class="horizontal_nav no-print" [hidden]="missingWorker">
    <ul>
        <li *ngFor="let tab of tabPositions">
            <a (click)="onTabClick(tabs[tab])" [ngClass]="{'router-link-active': tabs[tab]?.isSelected}">
                {{tabs[tab].label}}
                <span class='tab_counter' *ngIf="tabs[tab]?.counter">{{tabs[tab].counter}}</span>
            </a>
        </li>
    </ul>
</aside>

<section class='regtimecontainer'
    [class.wideapplication]="workEditor.numberOfVisibleColumns > 9" 
    [class.application]="workEditor.numberOfVisibleColumns <= 9" >

    <section class="regtime_tabs">

        <section [hidden]="missingWorker || !tabs[0].isSelected">
            
            <header>

                <daybrowser *ngIf="settings.useDayBrowser" (clickday)="onClickDay($event)" (requestsums)="onRequestDaySums($event)" 
                    (navigate)="onNavigateDays($event)">
                </daybrowser>

                <aside *ngIf="!settings.useDayBrowser" class="regtime_filters no-print">
                    <br/>
                    <ul>
                        <li *ngFor="let filter of filters">
                            <a (click)="onFilterClick(filter)" [ngClass]="{'router-link-active': filter.isSelected}" >{{filter.label}}</a>
                        </li>
                    </ul>
                </aside>                                

            </header>

            <workeditor [attr.aria-busy]="busy" [timesheet]="timeSheet" (rowDeleted)="onEditChanged(true)"
                (valueChanged)="onEditChanged(true)" >
            </workeditor>

        </section>

        <section [hidden]="!tabs[1].isSelected">
            <timetracking-timetable [eventcfg]="preSaveConfig"></timetracking-timetable>
        </section>

        <section [hidden]="!tabs[2].isSelected">
            <regtimetotals></regtimetotals>
        </section>        

        <section [hidden]="!tabs[3].isSelected">
            <regtimebalance [eventcfg]="preSaveConfig" [workrelation]="this.timeSheet?.currentRelation" (valueChange)="onBalanceChanged($event)" ></regtimebalance>
        </section>

        <section [hidden]="!tabs[4].isSelected">
            <vacation *ngIf="tabs[4].activated" (saved)="onVacationSaved()" [workrelationid]="timeSheet.currentRelation.ID"></vacation>
        </section>

        <div *ngIf="this.mapTabPosition(5)">
            <section [hidden]="!tabs[5].isSelected">
                <teamwork-report></teamwork-report>
            </section>        
        </div>

    </section>

</section>

<uni-confirm-modal></uni-confirm-modal>
<uni-file-import></uni-file-import>