#success-content
    margin-right: 4rem
    margin-left: 4rem
    align-content: center
    text-align: center
    
#icon-success
    margin-bottom: 1rem
    font-size: 3rem
    width: 10rem

.uni-modal
    width: 32rem   

button
    width: 7rem