<form [formGroup]="group" #form="ngForm" *ngIf="group" (keydown)="onKeydown($event)" autocomplete="radomStringToForceNotAutocomplete">
    <ng-template ngFor let-item [ngForOf]="fields | transformConfig" let-i="index">
        <ng-container [ngSwitch]="item?.type">
            <uni-fieldset *ngSwitchCase="'fieldset'"
                [fields]="item?.list"
                [legend]="item?.legend"
                [controls]="group"
                (changeEvent)="onChange($event)"
                (focusEvent)="onFocus($event)"
                (blurEvent)="onBlur($event)"
                (sourceChange)="onSourceChange($event)"
            ></uni-fieldset>
            <uni-section *ngSwitchCase="'section'"
                 [fields]="item?.list"
                 [header]="item?.header"
                 [controls]="group"
                 (changeEvent)="onChange($event)"
                 (focusEvent)="onFocus($event)"
                 (blurEvent)="onBlur($event)"
                 (sourceChange)="onSourceChange($event)"
                 (openSection)="onOpenSection($event)"
                 (closeSection)="onCloseSection($event)"
            ></uni-section>
            <ng-container  *ngSwitchDefault>
                <uni-field *ngIf="!item?.Hidden"
                           [field]="item"
                           [control]="group.get(item.Property | toControlName)"
                           (changeEvent)="onChange($event)"
                           (focusEvent)="onFocus($event)"
                           (blurEvent)="onBlur($event)"
                           (sourceChange)="onSourceChange($event)"
                ></uni-field>
            </ng-container>
        </ng-container>
    </ng-template>
</form>
