<ng-container *ngIf="config">
    <section class="input-with-button"
        (click)="toggle()"
        (clickOutside)="close()">

        <input type="text" #valueInput
            class="select-input"
            tabindex="-1"
            [formControl]="valueInputControl"
            [placeholder]="config?.placeholder || ''"
            [attr.aria-readonly]="readonly"
            (keydown)="onKeyDown($event)"
            (keydown.delete)="clear($event)"
            (keypress)="onKeyPress($event)"
            readonly
        />

        <button
            type="button"
            tabIndex="-1"
            style="pointer-events: none"
            [disabled]="readOnly$ | async">
            <i class="material-icons">expand_more</i>
        </button>
    </section>

    <input-dropdown-menu [input]="valueInput" [visible]="expanded">
        <ng-template>
            <section class="select-search" *ngIf="searchable">
                <input #searchInput
                    (keydown)="onKeyDown($event)"
                    type="search"
                    [placeholder]="config?.searchPlaceholder || 'Filtrer elementer'"
                    [formControl]="searchControl"
                    tabindex="-1"
                />
            </section>

            <section #itemDropdown>
                <section *ngFor="let item of filteredItems; let idx = index"
                    class="dropdown-menu-item"
                    [attr.aria-selected]="idx === focusedIndex"
                    (mouseover)="focusedIndex = idx"
                    (click)="confirmSelection($event, true)">
                    {{getDisplayValue(item, true)}}
                </section>
            </section>
        </ng-template>
    </input-dropdown-menu>
</ng-container>
