.uni-container
    flex: 1
    box-sizing: border-box
    margin: 0 1.25rem 1.25rem 0
    border-radius: 3px
    background: #fff
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1)
    padding-bottom: 1rem

    > *:not(header):not(uni-tabs):not(button)
        padding: 1rem 1rem 0

    > button
        margin-left: 1rem !important

    > header
        height: 2.5rem
        line-height: 2.5rem
        font-size: 19px
        font-weight: 400
        margin-bottom: .25rem
        border-bottom: 1px solid $uni-color-scale9

        padding: 0 1rem

    uni-tabs
        margin-bottom: .25rem

        .mat-tab-label
            font-weight: 400
            font-size: 15px

    fieldset
        box-shadow: none
        margin: 0
