.autocomplete
    position: relative

    *
        box-sizing: border-box

    .uniAutocomplete_input, .autocomplete_input
        @extend %inputButtonParent

    .uni-autocomplete-searchBtn
        @extend %inputButton
        background-image: unicon-search($uni-color-scale4)
    .uni-typeahead-searchBtn
        @extend %inputButton
        background-image: unicon-more($uni-color-scale4)

.autocomplete_result
    padding: .2rem 1rem

    &[aria-selected=true]
        font-weight: 400
        background: var(--color-c2a)
        color: $uni-color-negative

.group_list_header
    font-size: 1rem
    font-weight: 600
    &:hover
        cursor: default !important
        background-color: transparent !important
