$labelLength: pxToRem(200)
$input-height: 2.5rem

@import 'labels'
@import 'textInputs'
@import 'checkboxes'
@import 'formSection'
@import 'fieldset'
@import 'linebreaks'
@import 'select'
@import 'validation'
@import 'labelLength'
@import 'form-info-section'

uni-form
    display: block

uni-form *
    box-sizing: border-box

fieldset uni-field
    margin: 0 auto

uni-field
    width: 100%
    display: block
    padding: 0 .5rem 10px
    min-height: 3rem

    label.uni-label
        margin-bottom: 0
    .validation-results
        margin-left: $labelLength
        margin-top: .25rem


uni-hyperlink-input a
    display: block
    line-height: 2.2rem

    &.info-box-link
        height: 3rem
        display: flex
        align-items: center
        background-color: var(--alert-info)
        color: var(--color-c2a)
        padding-left: 1rem
        font-size: 15px


.info-box-link
    height: 3rem
    align-items: center
    background-color: var(--alert-info)
    color: var(--color-c2a)
    padding-left: 1rem
    display: block
    line-height: 2.2rem
    font-size: 13px
    i
        color: var(--color-c2a)
        width: 0.8rem
        margin-bottom: 0.2rem
.form-info-box
    display: block
    line-height: 1.1rem
    padding: 1rem 1rem 1rem 1rem
    height: auto !important
    color: var(--text-color)
    position: relative
    i
        z-index: 1
        margin-right: 1rem


uni-field.visuallyHideLabel label > span
    @extend %visuallyHidden

uni-button-input
    display: block
    min-width: 100%

    &.offset-left
        margin-left: #{$labelLength}
    button
        min-width: 8rem
        &.secondary
            border-width: 1px
        &.tertiary
            text-align: left

uni-static-text-input
    line-height: 2rem

month-picker-input
    display: block
    position: relative
    input
        width: 100%
        height: 2.5rem
        min-height: 2rem
        color: #1D1F25
        border: 1px solid rgba(112, 112, 112, 0.33)
        border-radius: 3px
        padding: 0 10px
        font-size: 14px
        text-transform: capitalize
        cursor: pointer

    i.material-icons
        position: absolute
        right: 10px
        top: 50%
        transform: translateY(-50%)
        font-size: 21px
        color: rgba(58, 59, 60, 0.65)
        cursor: pointer
        pointer-events: none
    input[disabled]
        background-color: var(--body-background)
