@import 'labels'
@import 'textInputs'
@import 'checkboxes'
@import 'formSection'
@import 'fieldset'
@import 'comboField'
@import 'linebreaks'
@import 'select'
@import 'validation'

uni-form form
    width: 100%
    flex-basis: 100%
    display: flex
    flex-wrap: wrap

    *
        box-sizing: border-box

uni-field
    @include unigrid(4,2,2)
    display: block
    padding-bottom: 1rem
    margin-top: 0

uni-button-input button
    margin: 1.5rem 0 0

uni-hyperlink-input a
    display: block