$radioBack: mix($uni-color-scale9, $uni-color-c2a, 90%)
uni-checkbox-input label, uni-radio-input label
    width: 100%

input[type=checkbox],
input[type=radio]
    @extend %visuallyHidden

    &:focus + label,
    & + label:focus
        outline: none

        &:before
            background: $uni-color-scale9

        &:after
            border-color: $uni-color-negative

    & + label
        user-select: none
        box-sizing: border-box
        padding: 1.5rem 0 0 1.8rem
        position: relative

        &:before
            display: block
            content: ''
            border: .1rem solid $uni-color-scale8
            height: 1rem
            width: 1rem
            margin-left: .3rem
            box-sizing: border-box
            position: absolute
            top: 1.8rem
            left: 0
            border-radius: .2rem
            background: #fff

        &.success:before
            border-color: $uni-color-good

        &.warning:before
            border-color: $uni-color-warn

        &.error:before
            border-color: $uni-color-bad

        &:after
            display: block
            content: ''
            border-right: .2rem solid transparent
            border-bottom: .2rem solid transparent
            position: absolute
            top: 1.82rem
            left: .65rem
            height: .5rem
            width: .2rem
            transform: rotate(45deg)

        &:hover,
        &:focus
            &:before
                background: $uni-color-scale9

            &:after
                border-color: $uni-color-negative

    &:checked + label

        &:before
            border-color: $uni-color-c2a
            background: linear-gradient(to top, $uni-color-c2a 0, lighten($uni-color-c2a, 10%) 100%)

        &:after
            opacity: 1
            border-color: $uni-color-negative

        &.success:before
            border-color: $uni-color-good
            background: linear-gradient(to top, $uni-color-good 0, lighten($uni-color-good, 10%) 100%)

        &.warning:before
            border-color: $uni-color-warn
            background: linear-gradient(to top, $uni-color-warn 0, lighten($uni-color-warn, 10%) 100%)

        &.error:before
            border-color: $uni-color-bad
            background: linear-gradient(to top, $uni-color-bad 0, lighten($uni-color-bad, 10%) 100%)

    &[disabled] + label,
    &[readonly] + label
        cursor-events: none

        &:before
            background: $uni-color-scale7
            border-color: $uni-color-scale3

        &:hover:before,
        &:focus:before
            background: $uni-color-scale7

    &[required] + label:before
        box-shadow: 0 0 0 1px $uni-color-negative, 0 0 0 2px $uni-color-scale9

    & + label.toggle
        padding-top: .3rem
        padding-left: 3.5rem

        &:before
            width: 2.6rem
            height: 1.1rem
            border-radius: 99rem
            top: .45rem
            border-color: transparent
            background-color: $uni-color-scale8
            content: 'Av'
            text-align: right
            color: $uni-color-scale3
            line-height: .9rem
            font-size: .75rem
            padding: 0 .3rem

        &:after
            width: 1rem
            height: 1rem
            top: .45rem
            left: .3rem
            border-radius: 99rem
            background-color: $uni-color-scale5
            box-shadow: 0 0 .5rem transparentize($uni-color-scale1, .5)
            border: pxToRem(1) solid transparentize($uni-color-scale2, .5)
            transition: all .3s ease
            transform: rotate(0deg)

        &:hover,
        &:focus
            &:after
                background: $uni-color-scale3

    &[disabled]:not([disabled=false]) + label.toggle:hover:after,
    &[readonly]:not([readonly=false]) + label.toggle:hover:after
        background: $uni-color-scale8

    &[disabled]:not([disabled=false]) + label.toggle:before,
    &[readonly]:not([readonly=false]) + label.toggle:before,
    &[disabled]:not([disabled=false]) + label.toggle:after,
    &[readonly]:not([readonly=false]) + label.toggle:after
        filter: grayscale(30%)
        opacity: .4

    &:checked + label.toggle
        &:after
            left: 1.8rem
            background-color: $uni-color-scale9

        &:before
            content: 'På'
            text-align: left
            color: $uni-color-negative
            background: transparentize($uni-color-good, .3)
            border-color: transparent

input[type=radio] + label

    &:before
        border-radius: 99rem
        background: $radioBack
        border-color: $radioBack

    &:after
        opacity: 0


input[type=radio]:checked + label
    &:before
        background: $uni-color-toolbar
        border-color: $radioBack

    &:after
        opacity: 0

uni-checkbox-input
    display: block
    margin-top: 1.3rem

uni-checkboxgroup-input,
uni-radiogroup-input
    display: block

    input[type=checkbox]+label,
    input[type=radio]+label
        padding-top: .2rem
        padding-bottom: 1.3rem
        padding-right: 2.5rem
        margin-left: 0

        &:before,
        &:after
            margin-top: -1.4rem
