$radioBack: mix($uni-color-scale9, $uni-color-c2a, 90%)

uni-checkbox-input
    mat-checkbox
        .mat-checkbox-label
            width: 0 !important // use unifield's label
        .mat-checkbox-layout
            margin-top: 4px !important
            .mat-checkbox-inner-container
                width: 18px
                height: 18px

    .mat-slide-toggle-content
        width: 0 !important

mat-checkbox
    outline: none !important

.mat-checkbox-label, .mat-checkbox-disabled .mat-checkbox-label,
.mat-radio-label, .mat-radio-disabled .mat-radio-label
    font-family: $uni-stack
    font-size: 16px
    color: $uni-color-positive
    user-select: none

.mat-checkbox-disabled, .mat-radio-disabled
    cursor: not-allowed !important

uni-field
    .mat-checkbox-label-before .mat-checkbox-inner-container,
    .mat-slide-toggle-bar
        margin-left: 0 !important

.mat-checkbox-frame
    border-width: 1px !important
    border-color: $uni-color-scale7


.mat-checkbox-checked .mat-checkbox-background
    background-color: #1565c0 !important //$uni-color-c2a !important

.mat-checkbox-ripple .mat-ripple-element
    background-color: transparentize(#1565c0, .85) !important

// Radio
mat-radio-button
    display: block !important

    .mat-radio-outer-circle
        border-color: $uni-color-scale6 !important
    .mat-radio-inner-circle
        background-color: $uni-color-c2a !important
    .mat-radio-ripple .mat-ripple-element
        background-color: transparentize($uni-color-c2a, .85) !important

// Slide toggle
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar
    background-color: transparentize($uni-color-c2a, .65) !important
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb
    background-color: $uni-color-c2a !important
.mat-slide-toggle-ripple .mat-ripple-element
    background-color: transparentize($uni-color-c2a, .85) !important
