fieldset
    position: relative
    border: 0
    padding: 3.5rem 0 .5rem
    box-sizing: border-box

    legend
        display: block
        position: absolute
        top: .75rem
        right: 0
        width: 100%
        border: 0
        padding: 0
        font-weight: 500
        font-size: 16px
        @media screen and (max-width: 1300px)
            font-size: 15px

    section.fieldset-column-container
        display: flex
        width: 100%

        section.fieldset-column
            flex-grow: 1
            height: auto
            margin: 0

            &:nth-of-type(odd)
                padding-right: 1rem

            uni-field:last-of-type
                padding-bottom: 0

    uni-field
        padding: 0 0 pxToRem(10) .25rem
        margin-left: 0 !important

uni-form fieldset,
fieldset.uni-fieldset
    width: calc(50% - 2.5rem)
    flex-basis: calc(50% - 2.5rem)
    min-width: pxToRem(450)
    margin: 0 1.25rem 1.25rem 0
    padding: 3.5rem 1rem .5rem
    background: #fff
    border-radius: var(--section-radius)
    border: 1px solid var(--border-color)

    @include media(950px)
        flex: 1 0 100%
        width: 100%

    legend
        padding: 0 1rem
