uni-section
    flex-basis: 100%

.collapsable[hidden]
    display: none

.collapsable
    display: block
    box-sizing: border-box

    & > h4
        margin-bottom: 1rem
        border-bottom: pxToRem(1) solid $uni-color-scale7
        padding-left: 1.5rem
        background: unicon-chevron-right(#1D2B33) no-repeat left .2rem bottom .4rem
        background-size: .3rem
        font-weight: 400
        cursor: pointer
        width: 100%
        display: block
        box-sizing: border-box

    & > .collapsable-content
        display: none

    &.-is-open
        & > h4
            background: unicon-chevron-down(#1D2B33) no-repeat left .2rem bottom .65rem
            background-size: .5rem

        & > .collapsable-content
            display: flex
            flex-wrap: wrap

