$inputs-list: 'input[type="email"]', 'input[type="number"]', 'input[type="password"]', 'input[type="search"]', 'input[type="tel"]', 'input[type="text"]', 'input[type="url"]', 'input[type="color"]', 'input[type="date"]', 'input[type="datetime"]', 'input[type="datetime-local"]', 'input[type="month"]', 'input[type="time"]', 'input[type="week"]'

$unquoted-inputs-list: ()

@each $input-type in $inputs-list
    $unquoted-inputs-list: append($unquoted-inputs-list, unquote($input-type), comma)

$all-text-inputs: $unquoted-inputs-list

@mixin uniTextInput($color)
    border-color: $color
    background: transparentize($color, .9)

    &:focus
        border-color: $color
        box-shadow: 0 0 pxToRem(5) transparentize($color, .5)

    &[disabled]
        background: transparentize($uni-color-scale9, .4)

@keyframes input-working
    0%
        opacity: 1

    100%
        opacity: .5

%uni-input
    background: $uni-color-negative none
    border: pxToRem(1) solid $uni-color-scale7
    border-radius: pxToRem(3)
    padding: pxToRem(3) pxToRem(10)
    transition: box-shadow .3s ease
    overflow: hidden
    text-overflow: ellipsis
    box-sizing: border-box
    height: auto

    &:focus
        outline: none
        border-color: $uni-color-C2A

    &[disabled]
        background: transparentize($uni-color-scale9, .5)
        cursor: not-allowed

    &[required]
        box-shadow: 0 0 0 pxToRem(1) $uni-color-negative, 0 0 0 pxToRem(2) $uni-color-scale9

    &[aria-busy]:not([aria-busy=false])
        &:after
            content: ''
            display: inline-block
            height: pxToRem(10)
            width: pxToRem(10)
            background: cyan

    &[readonly]
        font-weight: 400
        border: none
        background: mix($uni-color-negative, $uni-color-scale9, 50%)

    &.small
        font-size: .8rem
        font-weight: 400
        height: 1.5rem
        line-height: 1.5rem
        margin: .25rem 0
        padding: 0 .5rem

    $uni-placeholder-text-color: $uni-color-scale5

    &::-webkit-input-placeholder
        color: $uni-placeholder-text-color

    &:-moz-placeholder
        color: $uni-placeholder-text-color

    &::-moz-placeholder
        color: $uni-placeholder-text-color

    &:-ms-input-placeholder
        color: $uni-placeholder-text-color

    &.success
        @include uniTextInput($uni-color-Good)

    &.warning
        @include uniTextInput($uni-color-Warn)

    &.error
        @include uniTextInput($uni-color-Bad)

    label &
        display: block

input
    @extend %uni-input

#{$all-text-inputs}
    @extend %uni-input
    background: $uni-color-negative

@mixin field-validation($color)
    font-weight: 400
    border-radius: pxToRem(3)
    color: $color
    background-color: transparentize($color, .9)
    border: pxToRem(1) solid $color
    padding: 0 .3rem
    margin-top: .3rem

label
    display: inline-block

    & input
        width: 100%

    & small
        display: block
        font-size: .8rem

        &.error
            @include field-validation($uni-color-Bad)

        &.warn
            @include field-validation($uni-color-Warn)

        &.success
            @include field-validation($uni-color-Good)

input[type=search]
    background: $uni-color-negative unicon-search($uni-color-scale8) no-repeat center right .5rem
    background-size: 1rem
    box-sizing: content-box
    padding-right: 2rem
    font-weight: 400
