$inputButtonWidth: 2rem

%inputButtonParent
    width: calc(100% - #{$inputButtonWidth})
    float: left
    border-top-right-radius: 0
    border-bottom-right-radius: 0

    &[readonly],
    &[disabled]
        border-radius: pxToRem(3) 0 0 pxToRem(3)

%inputButton
    height: $inputHeight
    width: $inputButtonWidth
    margin: 0
    padding: 0
    float: right
    font-size: 0
    background-color: $uni-color-negative
    background-repeat: no-repeat
    background-position: center center
    background-size: .8rem
    border: $uni-color-scale8 solid pxToRem(1)
    border-left: none
    box-shadow: none
    border-bottom-left-radius: 0
    border-top-left-radius: 0

    &:hover,
    &:focus,
    &.-is-active
        background-color: $uni-color-scale9

