label.uni-label
    position: relative
    display: flex
    flex-direction: column
    margin-bottom: 1rem

    > span
        position: relative
        width: 100%
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        font-size: 15px
        margin-bottom: 5px

        uni-tooltip
            position: absolute !important
            right: 0.5rem

        & + *
            min-width: 9rem

    &.label-left
        flex-direction: row
        align-items: center

        > span
            width: $labelLength
            margin-bottom: unset
            & + *
                flex: 1

label
    input, textarea, .input-with-button,
        width: 100%

