.nir-password-input
    @extend %inputButtonParent

.uni-password-viewBtn
    @extend %inputButton
    background-size: 1rem auto
    background-image: unicon-visible($uni-color-scale4)

    input[type=text] + &
        background-size: .9rem auto
        background-image: unicon-hidden($uni-color-scale4)
