$input-height: 2.5rem

// Styling all our text-based inputs. Should you need to style something as a
// text input, you should probably consider either putting it in here, or
// @extend input[type=text].
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
input[type=date],
select,
textarea
    display: inline-block
    height: $input-height
    padding: 3px 10px
    background-color: #fff
    border: 1px solid var(--border-color)
    border-radius: var(--section-radius)
    transition: box-shadow .3s ease
    overflow: hidden
    text-overflow: ellipsis
    box-sizing: border-box
    font-size: 15px
    @media screen and (max-width: 1300px)
        font-size: 14px


    &[disabled], &[readonly]
        background-color: #F5F6F8

    &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &:placeholder
        color: var(--scale1)

    &.success
        border-color: var(--color-good)

    &.warning
        border-color: var(--color-warn)

    &.error, &.invalid, &.ng-touched.ng-invalid
        border-color: var(--color-bad)

input[type=search]
    background-image: unicon-search($uni-color-scale8)
    background-repeat: no-repeat
    background-position: center right .5rem
    background-size: 1rem
    padding-right: 2rem

select
    padding: 0 4px

textarea
    width: 100%
    min-height: 5rem
    resize: vertical

.input-with-button
    display: inline-flex
    height: $input-height
    input
        height: 100%
        width: 100%
        padding-right: 40px
    button
        margin: 0 0 0 -40px
        height: 100%
        width: 40px
        padding: 0
        background-color: unset
        color: var(--text-color)
        border: none

        &:focus
            color: #8c96a9

        i.material-icons
            vertical-align: middle
            font-size: 22px
            color: unset