$input-height: 2.5rem

// Styling all our text-based inputs. Should you need to style something as a
// text input, you should probably consider either putting it in here, or
// @extend input[type=text].
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
input[type=date],
select,
textarea
    display: inline-block
    height: $input-height
    padding: 3px 10px
    background-color: #fff
    color: var(--input-color)
    border-radius: var(--input-radius)
    transition: box-shadow .1s ease
    overflow: hidden
    text-overflow: ellipsis
    box-sizing: border-box
    font-size: 15px
    box-shadow: inset 0 0 0 var(--input-border-width) var(--input-border-color)
    border: none

    @if $hide-input-outline
        outline: none

    &:focus
        box-shadow: inset 0 0 0 var(--input-border-width-focus) var(--input-border-color-focus)

    @media screen and (max-width: 1300px)
        font-size: 14px


    &[disabled], &[readonly]
        background-color: #F5F6F8

    &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &:placeholder
        color: var(--scale1)

    &.success
        box-shadow: inset 0 0 0 var(--input-border-width) var(--color-good)

    &.warning
        box-shadow: inset 0 0 0 var(--input-border-width) var(--color-warn)

    &.error, &.invalid, &.ng-touched.ng-invalid
        box-shadow: inset 0 0 0 var(--input-border-width) var(--color-bad)

input[type=search]
    background-image: unicon-search($uni-color-scale8)
    background-repeat: no-repeat
    background-position: center right .5rem
    background-size: 1rem
    padding-right: 2rem

select
    padding: 0 4px

textarea
    width: 100%
    min-height: 5rem
    resize: vertical

.input-with-button
    display: inline-flex
    height: $input-height

    input
        height: 100%
        width: 100%
        padding-right: 41px
    button
        display: inline-flex
        align-items: center
        justify-content: center
        margin: 0 0 0 -41px
        height: 100%
        width: 40px
        padding: 0
        background-color: unset
        color: var(--input-icon-color)
        border: none
        border-radius: 50%

        &:focus
            color: #8c96a9

        i.material-icons, uni-icon
            font-size: 22px
            width: 22px
            height: 22px
            color: unset