uni-field.error
    input
        border-color: var(--color-bad)
    > label
        color: var(--color-bad)

uni-field.warn
    input
        border-color: var(--color-warn)
    > label
        color: var(--color-warn)