.form-row
    margin: 2rem 0

.form-info-section
    margin: .5rem 0 1rem
    padding-right: 2rem
    // padding-left: 1rem

    h1
        font-size: 1.15rem
        line-height: 1.25rem
        font-weight: 500
        margin: 0

    p
        font-size: .95rem

    small
        display: block
        a
            color: var(--link-color)

    p, small, button
        margin: 1rem 0 0

    button
        min-width: 10rem