.form-row
    margin: 2rem 0
    border-bottom: 1px solid var(--border-color)
    padding-bottom: 1rem

    &.last
        border-bottom: none

.form-info-section
    margin: .5rem 0 1rem
    padding-right: 2rem
    // padding-left: 1rem

    h1
        font-size: 1.15rem
        line-height: 1.25rem
        font-weight: 500
        margin: 0

    p
        font-size: .95rem

    small
        display: block
        a
            color: var(--link-color)

    p, small, button
        margin: 1rem 0 0

    button
        min-width: 10rem

.electronic-invoice-form
    uni-field
        padding: 0 0 15px !important

    uni-button-input
        margin-left: 0 !important