article.invoice-head
    width: 100%
    display: flex
    flex-flow: row wrap
    position: relative
    min-height: 10.5rem

    tof-customer-card
        order: 1
        flex: 0 1 20rem
        position: relative
        margin-right: 4rem

        label
            display: block
            margin-bottom: 2.2rem

        .new-customer
            position: absolute
            right: pxToRem(5)
            cursor: pointer
            text-decoration: underline
            color: $uni-color-scale6
            font-size: 0.9rem


    tof-details-form
        order: 2
        flex: 1

        uni-field
            width: calc(33% - 2rem)
            min-width: 8rem

    tof-delivery-form
        order: 2
        flex: 1
        display: flex
        flex-flow: row wrap

        section.shippingAddress
            order: 1
            flex: 0 1 18rem
            margin-right: 2rem
            margin-left: 1rem

            uni-field
                width: 100%
                padding-bottom: 0.5rem
                margin: 0

        aside
            order: 2
            flex: 1
            uni-field
                width: calc(50% - 2rem)
                min-width: 10rem

    uni-attachments
        order: 2
        flex: 1
        height: 10.5rem


.addressCard
    display: block
    box-sizing: border-box
    width: 100%
    min-height: pxToRem(107)
    padding: .3rem .8rem
    border-radius: pxToRem(5)
    border: 1px dashed $uni-color-scale8
    font-size: .9rem
    position: relative
    cursor: pointer

    &[aria-readonly]:not([aria-readonly=false])
        cursor: default

        .edit-btn
            cursor: not-allowed

    .edit-btn
        min-height: 0
        height: 0.8rem
        width: 0.8rem
        position: absolute
        top: pxToRem(5)
        right: pxToRem(5)
        cursor: pointer

        background-size: auto .8rem
        background-image: unicon-edit($uni-color-scale5)
        &:hover
            background-image: unicon-edit($uni-color-C2A)

uni-invoice-items
    display: block
    margin-top: 2rem