.header
    padding: 0 1.25rem

.content
    padding: 0

.no-approvals
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin-top: 22%
    color: #D5DCE4
    i.material-icons
        font-size: 40px
        margin-bottom: 5px

ul
    position: relative
    max-height: calc(100% - 1.25rem)
    list-style: none
    margin: .25rem .25rem 0
    padding: 0 1rem

    li
        display: flex
        align-items: center
        height: 4rem
        padding: 0 5px
        font-size: 13px
        font-weight: 500
        border-bottom: 1px solid rgba(0, 0, 0, .1)
        cursor: pointer

        i.material-icons-outlined
            flex: 0 0 auto
            margin-right: 1rem
            color: var(--widget-c2a)
            &.green
                color: var(--color-good)

        .text-section
            flex: 1
            display: flex
            flex-direction: column
            overflow: hidden

            span
                overflow: hidden
                white-space: nowrap
                text-overflow: ellipsis

            small
                color: #8E98AB
                font-size: 12px
                font-weight: 400

            span, small
                line-height: 18px

        .amount
            flex: 0 0 auto
            margin-left: 1rem