<section class="widget-wrapper">
    <section class="header">Godkjenninger</section>

    <section class="content">
        <section *ngIf="approvals?.length === 0" class="no-approvals">
            <i class="material-icons">done_all</i>
            Ingen godkjenninger
        </section>

        <ul id="assignments-widget-content">
            <li *ngFor="let approval of approvals" (click)="onApprovalClick(approval)">
                <i *ngIf="approval._icon" [ngClass]="approval._iconClass" class="material-icons-outlined">
                    {{approval._icon}}
                </i>

                <section class="text-section">
                    <span [title]="approval.Task?.Title">{{approval._label || approval.Task?.Title}}</span>
                    <small *ngIf="approval._typeText">{{approval._typeText}}</small>
                </section>

                <span *ngIf="approval._amount" class="amount">
                    {{approval._amount | uninumberformat:'money'}},-
                </span>
            </li>
        </ul>
    </section>
</section>