<!--Upload input -->
<label *ngIf="!readonly && !uploadConfig?.isDisabled && !uploading" class="upload"
    class="upload-input"
    [attr.aria-disabled]="uploadConfig?.isDisabled || uploading"
    (drop)="onDrop($event, dropData)">

    <i class="material-icons">cloud_upload</i>
    <span>Last opp</span>

    <input type="file"
        (change)="uploadFileChange($event)"
        [attr.aria-disabled]="uploadConfig?.isDisabled"
        [disabled]="uploadConfig?.isDisabled"
    />
</label>

<article class="uniImage" (click)="onClick()" (clickOutside)="offClick()">

    <!-- EHF -->
    <ehf-viewer
        *ngIf="currentFile?._ehfMarkup"
        [file]="currentFile"
        (print)="print()"
        (popout)="openFileViewer()">
    </ehf-viewer>

    <!-- Image -->
    <section class="image-section" *ngIf="currentFile && imgUrl && !currentFile?._ehfMarkup">
        <section class="uni-image-pager" *ngIf="files?.length && !hideToolbar">
            <a *ngIf="files.length > 1 || currentFile.Pages > 1"
                class="prev"
                (click)="previous()">
                <i class="material-icons">keyboard_arrow_left</i>
            </a>

            <span class="file-name">{{currentFile.Name}}</span>
            <span *ngIf="currentFile.Pages > 1">
                ({{currentPage}}/{{currentFile.Pages}})
            </span>

            <a class="print" (click)="print()">
                <i class="material-icons">print</i>
            </a>

            <a class="split" (click)="splitFile()"
                *ngIf="splitAllowed && !readonly && currentPage > 1 && currentFile.Pages > 1 && currentFile.Name.toLowerCase().endsWith('.pdf')">
                <i class="material-icons">call_split</i>
            </a>

            <a class="split" (click)="splitFileDialog()"
                *ngIf="splitFileDialogAllowed && currentFile.Pages > 1 && currentFile.Name.toLowerCase().endsWith('.pdf')">
                <i class="material-icons">call_split</i>
            </a>

            <a class="trash" (click)="deleteImage()" *ngIf="!readonly">
                <i class="material-icons">delete</i>
            </a>

            <a (click)="rotateLeft()" *ngIf="rotateAllowed">
                <i class="material-icons">undo</i>
            </a>

            <a (click)="rotateRight()" *ngIf="rotateAllowed">
                <i class="material-icons">redo</i>
            </a>

            <a (click)="openFileViewer()">
                <i class="material-icons">open_in_new</i>
            </a>

            <a *ngIf="files.length > 1 || currentFile.Pages > 1"
                class="next"
                (click)="next()">
                <i class="material-icons">keyboard_arrow_right</i>
            </a>
        </section>

        <div *ngIf="uploading && !hideToolbar" class="uploading-progress-info">
            <span *ngIf="processingPercentage">
                Prosesserer fil, {{processingPercentage}}% ferdig
            </span>
            <span *ngIf="!processingPercentage">
                Laster opp...
            </span>
        </div>

        <picture
            #imageContainer
            [ngClass]="{'clickable': currentClicked}"
            (click)="openFileViewer()">

            <source
                [attr.srcset]="imgUrl"
                media="(-webkit-min-device-pixel-radio: 2), (min-resolution: 192dpi)">

            <img
                [attr.src]="imgUrl"
                (error)="reauthenticate()"
            />

            <span *ngIf="ocrWords?.length">
                <span *ngFor="let word of ocrWords"
                    @flashAnimation
                    class="image-word iw"
                    title="{{word.text}}"
                    [ngStyle]="word._style"
                    (click)="onOCRWordClick(word, $event)"
                    [matMenuTriggerFor]="ocrMenu">
                </span>

                <mat-menu #ocrMenu="matMenu" [overlapTrigger]="false">
                    <section class="ocr-value-picker" (click)="$event.stopPropagation()">
                        <p>Valgt verdi: <strong>{{currentClickedWord?.text}}</strong></p>
                        <strong>Bruk verdi som</strong>
                        <button *ngFor="let value of ocrValues" mat-menu-item (click)="selectOCRWord(value.value, $event)">{{ value.label }}</button>
                    </section>
                </mat-menu>

                <span id="span-area-highlighter" class="span-area-highlight-class" [ngStyle]="highlightStyle"></span>
            </span>
        </picture>
    </section>

    <!-- Thumbnails -->
    <ul class="uni-thumbnail-list" *ngIf="!singleImage && files?.length > 1">
        <li *ngFor="let file of files" (click)="showFile(file)">

            <img
                *ngIf="!file._ehfMarkup"
                [attr.src]="file._thumbnailUrl"
                (error)="reauthenticate()"
            />

            <section *ngIf="file._ehfMarkup" class="ehf-thumbnail">
                EHF
            </section>
        </li>
    </ul>
</article>