<!--Upload input -->
<label *ngIf="!readonly && !uploadConfig?.isDisabled && !uploading" class="upload"
    class="upload-input"
    [attr.aria-disabled]="uploadConfig?.isDisabled || uploading"
    (drop)="onDrop($event, dropData)">

    <i class="material-icons">cloud_upload</i>
    <span>Last opp</span>

    <input type="file"
        (change)="uploadFileChange($event)"
        [attr.aria-disabled]="uploadConfig?.isDisabled"
        [disabled]="uploadConfig?.isDisabled"
    />
</label>

<article class="uniImage" (click)="onClick()" (clickOutside)="offClick()">

    <!-- Main image -->
    <section class="image-section" *ngIf="imgUrl.length">
        <section class="uni-image-pager" *ngIf="files?.length && !hideToolbar">
            <a *ngIf="files.length > 1 || (files[currentFileIndex] && files[currentFileIndex].Pages > 1)"
                class="prev"
                (click)="previous()">
            </a>

            {{fileInfo}}

            <a class="print" (click)="print()">
                <i class="material-icons">print</i>
            </a>

            <a class="split" (click)="splitFile()"
                *ngIf="splitAllowed && !readonly && files[currentFileIndex] && currentPage > 1 && files[currentFileIndex].Pages > 1 && files[currentFileIndex].Name.toLowerCase().endsWith('.pdf')">
                <i class="material-icons">call_split</i>
            </a>

            <a class="split" (click)="splitFileDialog()"
                *ngIf="splitFileDialogAllowed && files[currentFileIndex] && files[currentFileIndex].Pages > 1 && files[currentFileIndex].Name.toLowerCase().endsWith('.pdf')">
                <i class="material-icons">call_split</i>
            </a>

            <a class="trash" (click)="deleteImage()" *ngIf="!readonly">
                <i class="material-icons">delete</i>
            </a>

            <a (click)="rotateLeft()" *ngIf="rotateAllowed">
                <i class="material-icons">undo</i>
            </a>

            <a (click)="rotateRight()" *ngIf="rotateAllowed">
                <i class="material-icons">redo</i>
            </a>

            <a *ngIf="files.length > 1 || (files[currentFileIndex] && files[currentFileIndex].Pages > 1)"
                class="next"
                (click)="next()">
            </a>
        </section>

        <div *ngIf="uploading && !hideToolbar" class="uploading-progress-info">
            <span *ngIf="processingPercentage">
                Prosesserer fil, {{processingPercentage}}% ferdig
            </span>
            <span *ngIf="!processingPercentage">
                Laster opp...
            </span>
        </div>

        <picture
            #imageContainer
            [ngClass]="{'loading': imageIsLoading,'clickable': currentClicked}"
            (click)="onImageClick()">

            <source
                [attr.srcset]="imageUrl2x"
                media="(-webkit-min-device-pixel-radio: 2), (min-resolution: 192dpi)">

            <img
                #image
                [attr.src]="imgUrl"
                alt=""
                (error)="onLoadImageError($event)"
                (load)="finishedLoadingImage()"
                *ngIf="currentFileIndex >= 0">

            <span *ngIf="!imageIsLoading">
                <span *ngFor="let word of ocrWords"
                    class="image-word"
                    title="{{word.text}}"
                    [ngStyle]="word._style"
                    (click)="onWordClicked(word, $event)">
                </span>

                <div *ngIf="wordPickerAreaVisible"
                    class="word-picker-area"
                    [ngStyle]="currentClickedWordStyle"
                    (click)="$event.stopPropagation()"
                    (clickOutside)="abortUseWord()">

                    <p>Valgt verdi: {{currentClickedWord.text}}</p>
                    <h3>Bruk verdi som:</h3>
                    <button (click)="selectWordUsage(7, $event)">Fakturadato</button>
                    <button (click)="selectWordUsage(8, $event)">Forfallsdato</button>
                    <button (click)="selectWordUsage(5, $event)">Fakturanummer</button>
                    <button (click)="selectWordUsage(3, $event)">Bankkonto</button>
                    <button (click)="selectWordUsage(4, $event)">KID</button>
                    <button (click)="selectWordUsage(6, $event)">Fakturabeløp</button>
                </div>

                <span id="span-area-highlighter" class="span-area-highlight-class" [ngStyle]="highlightStyle"></span>
            </span>
        </picture>
    </section>

    <!-- Thumbnails -->
    <ul class="uni-thumbnail-list" *ngIf="thumbnails?.length > 1">
        <li *ngFor="let thumbnail of thumbnails; let idx = index">
            <img [attr.src]="thumbnail"
                [attr.alt]="shorten(files[idx]?.Description, 20)"
                (click)="thumbnailClicked(idx)">
        </li>
    </ul>

</article>