<!--Upload input -->
<label *ngIf="!readonly && !uploadConfig?.isDisabled && !uploading" class="upload"
    class="upload-input"
    [attr.aria-disabled]="uploadConfig?.isDisabled || uploading"
    (drop)="onDrop($event, dropData)">

    <i class="material-icons">cloud_upload</i>
    <span>Last opp</span>

    <input type="file"
        (change)="uploadFileChange($event)"
        [attr.aria-disabled]="uploadConfig?.isDisabled"
        [disabled]="uploadConfig?.isDisabled"
    />
</label>

<article class="uniImage" (click)="onClick()" (clickOutside)="offClick()">

    <!-- EHF -->
    <ehf-viewer
        *ngIf="currentFile?._ehfMarkup"
        [file]="currentFile"
        (print)="print()"
        (popout)="openFileViewer()">
    </ehf-viewer>

    <!-- Image -->
    <section class="image-section" *ngIf="currentFile && imgUrl && !currentFile?._ehfMarkup">
        <section class="uni-image-header" *ngIf="files?.length && !hideToolbar">
            <i class="material-icons prev" *ngIf="files.length > 1 || currentFile.Pages > 1" (click)="previous()">
                keyboard_arrow_left
            </i>

            <span class="file-name">
                {{currentFile.Name}}
                <ng-container *ngIf="currentFile.Pages > 1">
                    ({{currentPage}}/{{currentFile.Pages}})
                </ng-container>
            </span>

            <section class="actions">
                <i *ngIf="canPrint"
                    (click)="print()"
                    matTooltip="Skriv ut"
                    role="button"
                    class="material-icons">
                    print
                </i>

                <i (click)="downloadFile()"
                    matTooltip="Last ned fil"
                    role="button"
                    class="material-icons" >
                    get_app
                </i>

                <i role="button"
                    matTooltip="Åpne i nytt vindu"
                    class="material-icons open-file-viewer"
                    (click)="openFileViewer()">
                    open_in_new
                </i>

                <span *ngIf="dropdownMenuItems?.length" class="dropdown">
                    <i #trigger class="material-icons" matTooltip="Flere valg">more_horiz</i>

                    <dropdown-menu [trigger]="trigger" [minWidth]="'12rem'">
                        <ng-template>
                            <section
                                *ngFor="let item of dropdownMenuItems"
                                (click)="item.action()"
                                [class.disabled]="item.disabled"
                                class="dropdown-menu-item">
                                {{item.label}}
                            </section>
                        </ng-template>
                    </dropdown-menu>
                </span>
            </section>

            <i *ngIf="files.length > 1 || currentFile.Pages > 1"
                class="material-icons next"
                role="button"
                (click)="next()">
                keyboard_arrow_right
            </i>
        </section>

        <div *ngIf="uploading && !hideToolbar" class="uploading-progress-info">
            <span *ngIf="processingPercentage">
                Prosesserer fil, {{processingPercentage}}% ferdig
            </span>
            <span *ngIf="!processingPercentage">
                Laster opp...
            </span>
        </div>

        <section class="image-container" (click)="openFileViewer()">
            <auth-img [src]="imgUrl" (load)="imageLoaded.next()"></auth-img>

            <span *ngIf="ocrWords?.length">
                <span *ngFor="let word of ocrWords"
                    @flashAnimation
                    class="image-word iw"
                    title="{{word.text}}"
                    [ngStyle]="word._style"
                    (click)="onOCRWordClick(word, $event)"
                    [matMenuTriggerFor]="ocrMenu">
                </span>

                <mat-menu #ocrMenu="matMenu" [overlapTrigger]="false">
                    <section class="ocr-value-picker" (click)="$event.stopPropagation()">
                        <p>Valgt verdi: <strong>{{currentClickedWord?.text}}</strong></p>
                        <strong>Bruk verdi som</strong>
                        <button *ngFor="let value of ocrValues" mat-menu-item (click)="selectOCRWord(value.value)">{{ value.label }}</button>
                    </section>
                </mat-menu>

                <span id="span-area-highlighter" class="span-area-highlight-class" [ngStyle]="highlightStyle"></span>
            </span>
        </section>
    </section>

    <!-- Thumbnails -->
    <ul class="uni-thumbnail-list" *ngIf="!singleImage && files?.length > 1">
        <li *ngFor="let file of files" (click)="showFile(file)">
            <auth-img *ngIf="!file._ehfMarkup" [src]="file._thumbnailUrl"></auth-img>
            <section *ngIf="file._ehfMarkup" class="ehf-thumbnail">
                EHF
            </section>
        </li>
    </ul>
</article>