.barnepassProductsModal
    width: 55rem

    .uni-label
        width: 30rem
        span
            width: 5rem

.barnepassSenderModal
    width: 75vw
    footer
        display: flex
        justify-content: flex-end
