.infoNote
    float: right
    width: 90%
    margin: 0

.list
    list-style: none

.barnepassProductsModal
    width: 65vw

.barnepassSenderModal
    width: 75vw
    footer
        display: flex
        justify-content: flex-end
