// Uni Modal styling
@mixin fullscreen
    display: block
    position: fixed
    bottom: 0
    left: 0
    height: 100vh
    width: 100vw

@keyframes hide-modal
    0%
        height: 100vh
    99%
        height: 100vh
    100%
        height: 0

dialog.uniModal
    @include fullscreen
    box-sizing: border-box
    border: none
    padding: 2rem
    -webkit-backdrop-filter: blur(1rem)
    transition: opacity 300ms ease
    opacity: 1
    background: transparentize($uni-color-negative, .3)
    display: flex
    align-items: center
    justify-content: center
    overflow: auto
    z-index: 999
    @supports (backdrop-filter: blur(.2rem))
        backdrop-filter: blur(.2rem)
        background: transparentize($uni-color-negative, .4)

    .closeBtn
        @extend %hideText
        position: absolute
        top: 1rem
        right: 1rem
        height: 2rem
        width: 2rem
        padding: 0
        box-shadow: none
        border: none
        background: transparent unicon-close($uni-color-positive) center no-repeat
        background-size: .8rem

        &:hover
            background-color: $uni-color-negative
            border-radius: 99rem
            background-size: .8rem

    uni-component-loader
        width: 100%

    .modal-content
        @include unigrid-flush(10)
        margin: 0 auto
        background: $uni-color-negative
        box-shadow: 0 0 2rem transparentize($uni-color-positive, .9)
        padding: 2rem
        box-sizing: border-box
        border-radius: pxToRem(5)
        max-height: 90vh
        overflow: auto

        h1
            @extend h2

        footer
            text-align: right

dialog.uniModal[open=false],
dialog.uniModal[open=false]:before
    opacity: 0
    height: 0
    z-index: 0
    animation: hide-modal 300ms linear 1


