// Uni Modal styling
@mixin fullscreen
    display: block
    position: fixed
    bottom: 0
    left: 0
    height: 100vh
    width: 100vw

@keyframes hide-modal
    0%
        height: 100vh
    99%
        height: 100vh
    100%
        height: 0

dialog.uniModal
    @include fullscreen
    box-sizing: border-box
    border: none
    padding: 2rem
    transition: opacity 300ms ease
    opacity: 1
    background: transparentize($uni-color-scale4, .3)
    display: flex
    align-items: center
    justify-content: center
    overflow: auto
    z-index: map-get($zindex, modal)

    @supports (backdrop-filter: blur(.2rem))
        backdrop-filter: blur(.2rem)
        background: transparentize($uni-color-scale4, .4)

    .closeBtn
        @extend %hideText
        position: relative
        top: 3rem
        right: -.5rem
        height: 2rem
        width: 2rem
        padding: 0
        box-shadow: none
        border: none
        background: transparent unicon-close($uni-color-positive) center no-repeat
        background-size: .8rem
        margin-top: -2rem
        float: right

        &:hover
            background-color: $uni-color-scale8
            border-radius: 99rem
            background-size: .8rem

    uni-component-loader
        width: 100%
        display: none

    .modal-content
        width: 62.5vw
        margin: 0 auto
        background: $uni-color-negative
        color: $uni-color-positive
        box-shadow: 0 0 1rem transparentize($uni-color-positive, .9)
        border: 1px solid $uni-color-scale9
        padding: 2rem
        box-sizing: border-box
        border-radius: pxToRem(5)
        max-height: 90vh
        overflow: visible
        @include clearfix

        @media(small)
            width: 95cw



        footer
            float: right

    .modal-ameldingtype-content
        @extend .modal-content
        width: 25rem

        uni-field
            min-width: 15rem

    .modal-postingsummary-content
        @extend .modal-content
        width: 60rem

dialog.uniModal[open=false],
dialog.uniModal[open=false]:before
    visibility: hidden
    animation: hide-modal 300ms linear 1


// NEW MODAL STUFF
body.modal-open
    overflow: hidden

.uni-modal-backdrop
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    transition: opacity 300ms ease
    opacity: 1
    background: transparentize($uni-color-scale4, .4)
    overflow: auto
    z-index: map-get($zindex, modal)

    display: -ms-flexbox
    display: -webkit-flex
    display: flex

    -ms-flex-align: center
    -webkit-align-items: center
    -webkit-box-align: center
    align-items: center
    justify-content: center

    > *:first-child
        display: block !important
        margin: auto auto !important
        padding: 1rem 0 !important

.uni-modal
    width: 40vw
    margin: 0 auto
    background: $uni-color-negative
    color: $uni-color-positive
    box-shadow: 0 0 1rem transparentize($uni-color-positive, .9)
    box-sizing: border-box
    border-radius: pxToRem(5)
    overflow: visible
    display: block
    padding: 0
    border: none

    &.small
        width: 40vw

    &.medium
        width: 60vw

    &.large
        width: 90vw

    @media (max-width: 1100px)
        min-width: 60vw

    @media (max-width: 700px)
        width: 90vw !important

    header
        background: $uni-color-toolbar
        border-radius: pxToRem(4) pxToRem(4) 0 0

        h1
            @extend p
            width: calc(100% - 4rem)
            color: $uni-color-negative
            line-height: 1
            padding: 0 1rem
            display: inline-block
            box-sizing: border-box

        button.modal-close-button
            @extend %hideText
            float: right
            height: 2rem
            width: 2rem
            margin: .25rem 1rem
            padding: 0
            box-shadow: none
            border: none
            background: transparent unicon-close($uni-color-negative) center no-repeat
            background-size: .7rem
            display: inline-block

            &:hover
                background: transparent unicon-close($uni-color-scale1) center no-repeat
                background-size: .7rem

    > article
        box-sizing: border-box
        padding: 1rem

    footer
        width: 100%
        box-sizing: border-box
        padding: 0 1rem 1rem 1rem
        text-align: right
        border-top: 1px solid $uni-color-scale9

        button
            display: inline-block
            min-width: 5rem
            margin: 1rem 0 0 1rem


uni-bankaccount-modal .uni-modal
    width: 50vw

    fieldset
        flex-basis: 100% !important
        max-width: none
        margin-top: .25rem

        legend
            display: none !important

        .fieldset-column-container
            flex-flow: row wrap

            .fieldset-column
                flex: 1 0 50%
                padding: 0 .5rem !important
                min-width: 20rem

uni-send-email-modal
    textarea
        height: 12rem
        overflow: auto

uni-send-vipps-invoice-modal
    [aria-busy]:not([aria-busy=false]):before
            display: inline-block
            content: ''
            height: 15px !important
            width: 15px !important
            background: transparent
            border-radius: 50%
            border: none
            border-top: none
            animation: rotate .5s infinite linear
            margin: 0 7px -1px -7px

    *[aria-busy]:not([aria-busy=false]):not(button):not(.poster_tags_addBtn):not(input):not(textarea):not(.multiselectADropdown):not(label):not(.progress-item),
    .loading
        position: relative;
        display: inline;
        background-color: transparent;
        border-radius: .3125rem;
        min-height: 4rem;
        border: none;
        margin: 0 10px 0 10px


uni-preview-modal .uni-modal
    max-height: 95vh

    #reportContainer
        max-height: calc(95vh - 10rem)
        overflow: auto
        text-align: center

    .main-action-button
        border-radius: pxToRem(3) 0 0 pxToRem(3)

    .action-list-toggle
        @extend %hideText
        border-radius: 0 pxToRem(3) pxToRem(3) 0
        margin-left: 0
        border-left: none
        float: right
        min-width: 0
        width: 2rem
        background: $uni-color-good unicon-chevron-down($uni-color-negative) center center no-repeat
        background-size: .75rem auto

        &:hover,
        &:focus
            border-left: 0
            background-color: darken($uni-color-good, 5%)

    .download-action-list
        @extend %contextMenu
        bottom: 3rem
        right: 1rem