// Uni Modal styling
@mixin fullscreen
    display: block
    position: fixed
    bottom: 0
    left: 0
    height: 100vh
    width: 100vw

@keyframes hide-modal
    0%
        height: 100vh
    99%
        height: 100vh
    100%
        height: 0

dialog.uniModal
    @include fullscreen
    box-sizing: border-box
    border: none
    padding: 2rem
    transition: opacity 300ms ease
    opacity: 1
    background: transparentize($uni-color-scale4, .3)
    display: flex
    align-items: center
    justify-content: center
    overflow: auto
    z-index: map-get($zindex, modal)
    @supports (backdrop-filter: blur(.2rem))
        backdrop-filter: blur(.2rem)
        background: transparentize($uni-color-scale4, .4)

    .closeBtn
        @extend %hideText
        position: relative
        top: 3rem
        right: -.5rem
        height: 2rem
        width: 2rem
        padding: 0
        box-shadow: none
        border: none
        background: transparent unicon-close($uni-color-positive) center no-repeat
        background-size: .8rem
        margin-top: -2rem
        float: right

        &:hover
            background-color: $uni-color-scale8
            border-radius: 99rem
            background-size: .8rem

    uni-component-loader
        width: 100%
        display: none

    .modal-content
        width: 62.5vw
        margin: 0 auto
        background: $uni-color-negative
        box-shadow: 0 0 1rem transparentize($uni-color-positive, .9)
        border: 1px solid $uni-color-scale9
        padding: 2rem
        box-sizing: border-box
        border-radius: pxToRem(5)
        max-height: 90vh
        overflow: auto

        @media(small)
            width: 95cw

        h1
            @extend h2

        footer
            float: right

    .modal-ameldingtype-content
        @extend .modal-content
        width: 25rem

        uni-field
            min-width: 15rem

    .modal-postingsummary-content
        @extend .modal-content
        width: 40rem

dialog.uniModal[open=false],
dialog.uniModal[open=false]:before
    visibility: hidden
    animation: hide-modal 300ms linear 1


