uni-company-accounting-settings-modal
    uni-form uni-field
        max-width: none
    uni-form uni-field label > span
        width: 21rem
    uni-form uni-field label span + *
        width: calc(100% - 21rem)
