manage-products-modal
    font-family: 'Roboto', sans-serif

    .uni-modal
        width: fit-content
        min-width: 25rem
        padding-bottom: 2rem

    table
        width: 100%
        overflow: auto
        border-collapse: collapse
        font-size: 15px
        user-select: none

        thead tr
            height: 50px

        tbody tr:hover
            background: #f5f5f5

        th, td
            text-align: center
            &:first-of-type
                text-align: left
                padding-right: 20px

        th
            position: sticky
            top: 0
            background: #fff
            padding: 0 15px
            min-width: 5rem
            font-size: 14px
            font-weight: 500

        td
            padding: 0
            &:first-of-type
                padding-left: 15px

            i.material-icons
                display: block
                padding: 10px 0
                vertical-align: middle
                cursor: pointer
                color: rgba(0,0,0,.55)

                &.active
                    color: lighten(#0f4880, 5%)
