.infoToolContent
    width: 40rem
    padding: 2rem
    h2
        margin: 0
uni-reinvoice-modal
    .reinvoiceModal
        width: 75vw
    .reinvoiceContent
        display: flex
    #reinvoiceFormData
        flex-grow: 1
        position: relative
    #reinvoiceTypeLabel
        position: relative
        display: block
        width: 12rem
        margin-bottom: 1rem
    uni-tooltip
        right: 0
        top: 0
    uni-information
        width: 55%
        height: 100%
        margin-bottom: 0rem
        uni-tooltip
            position: absolute
            top: -4rem
            left: 42rem
    .value
        font-weight: 600
    uni-information a
        position: absolute
        right: 1rem
        bottom: 0.5rem
    table
        width: 100%
        text-align: left
    .reinvoiceTable
        margin-bottom: 2rem
