<section class="table-container-full" *ngIf="tableConfig && fields.length">
    <section class="application section-class-with-button">
        <button class="new-button" (click)="buttonAction()" *ngIf="buttonTitle">{{ buttonTitle }}</button>
        <uni-table [resource]="lookupFunction"
                   [config]="tableConfig"
                   (rowSelected)="onRowSelected($event)"></uni-table>
        </section>
    <a class="edit_original_link"
        [routerLink]="['/uniqueries/details/', queryDefinitionID]">Rediger original uttrekket</a>
</section>
