.uni-modal
    width: 65rem
    max-height: calc(100vh - 10rem)
    overflow: auto

    .list-container
        display: flex
        flex-direction: column
        .period-header
            font-size: 18px
            font-weight: 500
            padding-left: 2.5rem
            margin: 1rem 0
        .period-total
            margin: 0.5rem 1.5rem 0 0
            font-weight: 500
