<section role="dialog" class="uni-modal uni-redesign">
    <header>Delavregninger</header>

    <div class="list-container" *ngFor="let order of relatedOrders">
        <div class="period-header">{{order['_period']}}</div>        

        <simple-table>
            <thead>
                <tr>
                    <th>Varenr</th>
                    <th>Varenavn</th>
                    <th>Antall</th>
                    <th>Enhet</th>
                    <th>Pris</th>
                    <th>Rabatt</th>
                    <th>Sum</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of order.Items">
                    <td>{{item.ProductID}}</td>
                    <td>{{item.ProductName}}</td>
                    <td>{{item.Amount}}</td>
                    <td>{{item.Unit}}</td>
                    <td>{{item.Price | unicurrency}}</td>
                    <td>{{item.DiscountPrc > 0 ? item.DiscountPrc + '%' : ''}}</td>
                    <td>{{item.Sum | unicurrency}}</td>
                </tr>
            </tbody>
        </simple-table>

        <div class="period-total pull-right">Totalsum: {{order.Total | unicurrency}}</div>
    </div>
</section>
