.uni-multivalue-ng
    input[readonly]:not([aria-readonly=true])
      cursor: pointer
      background-color: #fff

    position: relative

    *
        box-sizing: border-box

.multivalue-section-container
  width: 100%
  border-top: 0
  padding-top: 1rem

  input
    width: 92%
    margin: 0 auto
    display: block
    border-radius: 3px
    height: 2.25rem

  ul
    list-style: none
    margin-bottom: 0

    li
      height: 3rem
      border-bottom: 1px solid #e2e6f0
      cursor: pointer
      &:last-of-type
        border-bottom: none
        i
          &.multivalue-add-new-icon
            color: #1565c0
          &.tab-tooltip
            color: #b9b9b9

      &:hover,
      &:focus
        background-color: #f0f0f0
        cursor: pointer

      &[aria-selected]:not([aria-selected=false])
        background-color: #f0f0f0

      div
        height: 3rem
        padding: 0 .8rem 0 1rem
        align-items: center
        display: flex

        &.mutlivalue-deleted-undo
          background-color: var(--color-bad)
          color: white
          i
            color: white !important

        span
          text-overflow: ellipsis
          white-space: nowrap
          overflow-x: hidden
          flex: 1

        i
          font-size: 20px
          margin-top: 1px
          color: rgba(0,0,0,.5)
          margin-right: .3rem
          cursor: pointer

.multivalue-shortcut-tooltip
  white-space: pre-line

// THE VALUE LIST
.uni-multivalue-values
  position: absolute
  list-style: none
  width: 100%
  min-width: 15rem
  right: 0
  margin-top: 1.95rem
  border: pxToRem(1) solid $uni-color-scale7
  background-color: #fff
  z-index: map-get($zindex, picker)
  border-radius: pxToRem(3)
  display: none

  &[aria-expanded]:not([aria-expanded=false])
    display: block

  li
    padding: .2rem .5rem
    border-bottom: pxToRem(1) solid $uni-color-scale9
    position: relative
    min-height: 2rem

    &:last-of-type
      border-bottom: none

    &:hover,
    &:focus
      background-color: #f3f3f3
      cursor: pointer

    &[aria-selected]:not([aria-selected=false])
      background-color: #f3f3f3


// VALUE
.uni-multivalue-value
  height: 1.4rem
  width: calc(100% - 3.5rem)
  display: inline-block
  overflow: hidden
  text-overflow: ellipsis
  margin-bottom: -.2rem
  white-space: nowrap

