<section role="dialog" class="uni-modal">
  <header>Lønnsarter rapporteres OTP</header>
  <article class="application" class="scrollable">
      <uni-form
      [config]="formOtpExportWagetypesConfig$"
      [fields]="fields$"
      [model]="otpexportWagetypesModel">
    </uni-form>
    <p>Lønnsarter i listen er med i grunnlaget for periodelønn i otp-eksporten.
      Lønnsarter kan legges til og fjernes når det måtte ønskes og rapporteringsgrunnlaget vil endre seg uten å avregne lønn på nytt.</p>
    <ag-grid-wrapper
      [config]="tableConfig"
      [resource]="selectedWagetypes">
    </ag-grid-wrapper>
  </article>
  <footer>
    <section>
      <button class="good" (click)="closeModal(true)">Lagre</button>
      <button class="bad" (click)="closeModal(false)">Avbryt</button>
    </section>
  </footer>
</section>
