<section *ngIf="ticker" class="ticket-container">
    <uni-ticker-filters
        (click)="setExpanded('filter', true)"
        (close)="setExpanded('ticker')"
        [ticker]="ticker"
        [filters]="ticker.Filters"
        [selectedFilter]="selectedFilter"
        (filterSelected)="onFilterSelected($event)"
        (filterChanged)="onFilterChanged($event)"
        [expanded]="expanded === 'filter'"
        [class]="expanded === 'filter' ? 'expanded' : ''">
    </uni-ticker-filters>
    <uni-ticker
        (click)="setExpanded('ticker')"
        (rowSelected)="onRowSelected($event)"
        [ticker]="ticker"
        [selectedFilter]="selectedFilter"
        [expanded]="expanded === 'ticker'"
        [class]="expanded === 'ticker' ? 'expanded' : ''">
    </uni-ticker>
    <uni-sub-ticker-container
        *ngIf="showSubTickers && ticker.SubTickers && ticker.SubTickers.length > 0"
        (click)="setExpanded('subticker', true)"
        (close)="setExpanded('ticker')"
        [parentModel]="selectedRow"
        [parentTicker]="ticker"
        [subTickers]="ticker.SubTickers"
        [expanded]="expanded === 'subticker'"
        [class]="expanded === 'subticker' ? 'expanded' : ''">
    </uni-sub-ticker-container>
</section>
