<uni-ticker-predefined-filters
    *ngIf="ticker?.Filters"
    [filtersAsNavbar]="filtersAsNavbar"
    [ticker]="ticker"
    [filters]="ticker.Filters"
    [expressionFilters]="expressionFilters"
    [selectedFilter]="selectedFilter"
    (filterSelected)="onFilterSelected($event)">
</uni-ticker-predefined-filters>

<section *ngIf="ticker" class="ticker-container"
    [ngClass]="{'detail-visible': showSubTickers && ticker?.SubTickers?.length}">

    <uni-ticker
        [ticker]="ticker"
        [selectedFilter]="selectedFilter"
        [expressionFilters]="expressionFilters"
        [actionOverrides]="actionOverrides"
        [columnOverrides]="columnOverrides"
        [unitableSearchVisible]="true"
        (rowSelected)="onRowSelected($event)"
        (editModeToggled)="editModeChanged($event)"
        (rowSelectionChange)="rowSelectionChange.emit($event)">
    </uni-ticker>

    <uni-sub-ticker-container
        *ngIf="showSubTickers && ticker?.SubTickers?.length"
        (close)="showSubTickers = false"
        [parentModel]="selectedRow"
        [parentTicker]="ticker"
        [subTickers]="ticker.SubTickers"
        [actionOverrides]="actionOverrides"
        [columnOverrides]="columnOverrides">
    </uni-sub-ticker-container>

</section>
