<uni-ticker-predefined-filters
    *ngIf="ticker?.Filters"
    [filtersAsNavbar]="filtersAsNavbar"
    [ticker]="ticker"
    [filters]="ticker.Filters"
    [expressionFilters]="expressionFilters"
    [selectedFilter]="selectedFilter"
    (filterSelected)="onFilterSelected($event)">
</uni-ticker-predefined-filters>

<section *ngIf="ticker" class="ticker-container">

    <uni-ticker
        [ticker]="ticker"
        [selectedFilter]="selectedFilter"
        [expressionFilters]="expressionFilters"
        [class.expanded]="expanded === 'ticker' "
        [class.nofilter]="!showFilters"
        [actionOverrides]="actionOverrides"
        [columnOverrides]="columnOverrides"
        (rowSelected)="onRowSelected($event)">
    </uni-ticker>

    <uni-sub-ticker-container
        *ngIf="showSubTickers && ticker?.SubTickers?.length"
        (close)="showSubTickers = false"
        [parentModel]="selectedRow"
        [parentTicker]="ticker"
        [subTickers]="ticker.SubTickers"
        [ngClass]="{'expanded': showSubTickers}"
        [actionOverrides]="actionOverrides"
        [columnOverrides]="columnOverrides">
    </uni-sub-ticker-container>

</section>
