// This is the base index
@import "icons/_icons"
@import "colors/_colors"
@import "typography/_typography"
@import "helpers/_helpers"
@import "grid/_grid"
@import "buttons/_buttons"
@import "forms/_forms"
@import "loadingIndicators/_loadingIndicators"


body.kitchensink
  & main
    @include unigrid(14)
    margin: 0 auto !important

  & label
    @include unigrid(3,3,4,1)
    & input
      box-sizing: border-box
      width: 100%

  & #grids
    @include clearfix

    & div
      background: $uni-color-scale9
      border: 1px dotted $uni-color-C2A
      margin-bottom: .3rem

      &:hover
        background: $uni-color-C2A
        color: $uni-color-negative

  & .one
    @include unigrid(1)
    @include clearfix
    float: left

  & .example
    clear: both

    @for $i from 1 through 16
      &.col#{$i}
        @include unigrid($i)
