@import 'colors/_colors'
@import 'typography/_typography'
@import 'helpers/_helpers'
@import 'grid/_grid'
@import 'icons/_icons'
@import 'buttons/_buttons'
@import 'forms/_forms'
@import 'loadingIndicators/_loadingIndicators'
@import 'print/_print'
@import 'page-layout/_page-layout'
@import 'container/_container'
@import 'materialOverrides'
@import 'alerts'
@import 'card/card'

.uni-grid-container
    max-width: 1500px
    width: calc(100% - 3rem) !important
    margin: 0 auto

    uni-tabs
        margin: 2rem 0