%contextMenuItem
    padding: .5rem 1rem
    border-bottom: pxToRem(1) solid $uni-color-scale9
    list-style: none
    width: 15rem
    cursor: pointer
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    color: $uni-color-positive

    &:hover,
    &:focus,
    &[aria-selected]:not([aria-selected=false])
        background: $uni-color-c2a
        color: $uni-color-negative

    &[aria-disabled=true]
        opacity: .5
        cursor: default

    &:last-of-type
        border-bottom: none

    &[aria-hidden=true]
        display: none

%contextMenu
    position: absolute
    display: block
    background: $uni-color-negative
    border-radius: pxToRem(3)
    border: 1px solid $uni-color-scale8
    box-shadow: 0 0 .6rem transparentize($uni-color-scale5, .7)
    z-index: map-get($zindex, toolbar)

    &:not([aria-expanded=true])
        display: none

    li
        @extend %contextMenuItem


ul.menu-list
    margin: 0
    min-width: 12rem
    list-style: none

    li
        box-sizing: border-box
        padding: 5px 10px
        cursor: pointer
        font-size: 15px

        &:hover
            background: #f0f0f0

        + li
            border-top: 1px solid $uni-color-scale9