.mat-menu-panel
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12) !important
    min-height: 48px !important

.mat-menu-content
    padding: 0 !important

.mat-step-header .mat-step-icon
    background-color: var(--color-c2a) !important

.uni-progress-bar
    .mat-progress-bar-buffer
        background-color: #f7f7f7 !important

    .mat-progress-bar-fill::after
        background-color: var(--color-c2a) !important


mat-selection-list
    .mat-list-text
        font-weight: 400

    .mat-list-option
        font-size: 14px !important
        color: #485460 !important
        user-select: none

    .mat-pseudo-checkbox
        border-width: 1px

        &:after
            box-sizing: content-box
            margin: 2px

    .mat-pseudo-checkbox-checked
        background: var(--color-c2a) !important
        border: none !important

        &.mat-pseudo-checkbox-disabled
            background: #d3dbe3


    .mat-list-item-disabled
        background-color: unset
        &:hover
            background-color: unset

        .mat-list-text
            color: #d3dbe3

        .mat-pseudo-checkbox
            color: #d3dbe3


.mat-menu-item
    margin: 0
    padding: 0
    text-shadow: none
    background-color: #fff
    &:focus
        background-color: #fff

mat-tree
    ul, li
        margin-top: 0
        margin-bottom: 0
        padding: 0
        list-style-type: none

    li, li.mat-tree-node
        overflow: visible

    mat-nested-tree-node ul
        margin-left: 15px

        mat-tree-node span
            margin-left: 10px !important

    .mat-tree-node
        cursor: pointer
        user-select: none
        min-height: 35px
        height: 35px
        display: flex

        i.material-icons
            flex: 0 0 auto
            margin: auto 0
            line-height: 35px

        span
            flex: 0 0 auto
            padding: 2px 5px
            border-radius: 3px
            margin: auto 0
            max-width: 15rem
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis

            &[aria-selected]:not([aria-selected=false])
                background-color: #f0f0f0


mat-expansion-panel
    box-shadow: none !important
    border: 1px solid var(--border-color)
    border-radius: 0 !important
    margin-bottom: 16px !important

    .mat-expansion-panel-body
        padding: 0 10px 10px
        border-top: 1px solid var(--border-color)

    mat-expansion-panel-header
        border-radius: 0
        padding: 0 15px !important
        background: var(--panel-header-background) !important

        .mat-checkbox-inner-container
            margin-right: 10px
            margin-bottom: 5px

        .panel-toggle
            font-size: 22px
            line-height: 24px
            margin-right: 2px


        .panel-right
            margin: auto 0 auto auto

    mat-panel-title
        margin: auto 0

.mat-calendar, .mat-button
    font-family: var(--font-family) !important

mat-calendar
    height: unset !important
    .mat-button:hover,
    .mat-button:focus
        background-color: #ddd

    .mat-calendar-previous-button, .mat-calendar-next-button
        color: var(--link-color) !important

    .mat-calendar-controls
        .mat-calendar-previous-button
            order: 1

        .mat-calendar-period-button
            order: 2
            margin: 0 auto

        .mat-calendar-next-button
            order: 3

        .mat-calendar-spacer
            display: none

    mat-month-view
        display: block
        height: 280px

    .mat-calendar-table-header th
        color: var(--color-c2a-dark)
        font-size: 14px

    .mat-calendar-body
        font-size: 14px
        tr[aria-hidden]:not([aria-hidden=false])
            display: none

        .mat-calendar-body-label
            color: rgba(0, 0, 0, 0)


    .mat-calendar-body-cell-content
        color: var(--text-color) !important
        border-radius: var(--button-radius) !important

    .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected)
        border: 2px solid var(--color-c2a)
        color: var(--color-c2a) !important
        font-weight: 500
        background-color: unset

    .mat-calendar-body-today.mat-calendar-body-selected
        box-shadow: none !important

    .mat-calendar-body-selected
        background-color: var(--color-c2a-dark)
        color: #fff !important
        border: none

    &.month-picker
        .mat-calendar-period-button
            pointer-events: none
        .mat-calendar-arrow
            display: none

mat-spinner circle
    stroke: var(--color-c2a) !important

i.material-icons, i.material-icons-outlined
    vertical-align: middle

    &[role=button]
        cursor: pointer
