.mat-menu-panel
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12) !important

.mat-menu-content
    padding: 0 !important

.mat-icon-button
    text-shadow: none
    &:hover, &:focus
        background: none

.mat-step-header .mat-step-icon
    background-color: $uni-color-c2a !important

.uni-progress-bar
    .mat-progress-bar-buffer
        background-color: #f7f7f7 !important

    .mat-progress-bar-fill::after
        background-color: $uni-color-toolbar !important


mat-selection-list
    .mat-list-text
        font-weight: 400

    .mat-list-option
        font-size: 14px !important
        color: #485460 !important
        user-select: none

    .mat-pseudo-checkbox
        border-width: 1px

        &:after
            box-sizing: content-box
            margin: 2px

    .mat-pseudo-checkbox-checked
        background: #1565c0
        border: none !important

        &.mat-pseudo-checkbox-disabled
            background: #d3dbe3


    .mat-list-item-disabled
        background-color: unset
        &:hover
            background-color: unset

        .mat-list-text
            color: #d3dbe3

        .mat-pseudo-checkbox
            color: #d3dbe3


.mat-menu-item
    margin: 0
    padding: 0
    text-shadow: none
    background-color: #fff
    &:focus
        background-color: #fff

mat-tree
    ul, li
        margin-top: 0
        margin-bottom: 0
        padding: 0
        list-style-type: none

    li, li.mat-tree-node
        overflow: visible

    mat-nested-tree-node ul
        margin-left: 15px

        mat-tree-node span
            margin-left: 10px !important

    .mat-tree-node
        cursor: pointer
        user-select: none
        min-height: 35px
        height: 35px
        display: flex

        i.material-icons
            flex: 0 0 auto
            margin: auto 0
            line-height: 35px

        span
            flex: 0 0 auto
            padding: 2px 5px
            border-radius: 3px
            margin: auto 0
            max-width: 15rem
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis

            &[aria-selected]:not([aria-selected=false])
                background-color: #f0f0f0


mat-expansion-panel
    box-shadow: none !important
    border: 1px solid $uni-color-scale9
    border-radius: 0 !important
    margin-bottom: 16px !important

    .mat-expansion-panel-body
        padding: 0 10px 10px
        border-top: 1px solid $uni-color-scale9

    mat-expansion-panel-header
        border-radius: 0
        padding: 0 15px !important

        .mat-checkbox-inner-container
            margin-right: 10px
            margin-bottom: 5px

        .panel-toggle
            margin-right: 5px

        .panel-right
            margin: auto 0 auto auto
            button
                padding: 1px 10px 0
                margin: 0
                color: #1565c0
                font-size: 14px

                &.red
                    color: #f53b57

                &[disabled]
                    background-color: unset

    mat-panel-title
        margin: auto 0