@mixin alert-coloring($type)
    background-color: var(--alert-#{$type})
    color: var(--alert-#{$type}-text-color)

    > i.material-icons
        color: var(--alert-#{$type}-icon-color)

    a
        color: var(--alert-#{$type}-link-color)

.alert
    display: flex
    padding: 1rem 1.25rem
    margin: 0 0 1rem
    font-size: .9rem
    box-sizing: border-box

    border: var(--alert-border)
    border-radius: var(--section-radius)

    &.bold
        font-weight: 500
        a
            font-weight: 500

    &.small
        padding: 0.75rem
        font-size: 14px


    > i.material-icons + *, > * + i.material-icons
        margin-left: 1rem

    a
        text-decoration: underline

    @include alert-coloring(info)

    &.error, &.bad
        @include alert-coloring(bad)

    &.good, &.success
        @include alert-coloring(good)

    &.warn
        @include alert-coloring(warn)

    &.center
        text-align: center
