<section class="splitview">
  <nav class="splitview_list" style="height: auto; min-height: 5rem; border: none;">
    <ag-grid-wrapper
      [config]="tableConfig"
      [resource]="ameldingerInPeriod"
      (rowSelectionChange)="onRowSelected($event)">
    </ag-grid-wrapper>
  </nav>
  <main class="splitview_detail" *ngIf="showFeedback">
    <amelding-receipt-view
      *ngIf="selectedAmelding"
      [attr.aria-busy]="loading"
      [currentAMelding]="selectedAmelding"
      [aMeldingerInPeriod]="ameldingerInPeriod"
      [companySalary]="companySalary">
    </amelding-receipt-view>
  </main>
</section>
