@font-face {
    font-family: DNB;
    src: url(/config/dist/theme/assets/DNB-Regular.woff2) format("woff2");
}
@font-face {
    font-family: DNB;
    src: url(/config/dist/theme/assets/DNB-Regular.woff2) format("woff2");
    font-weight: 300;
}
@font-face {
    font-family: DNB;
    src: url(/config/dist/theme/assets/DNB-Medium.woff2) format("woff2");
    font-weight: 500;
}
@font-face {
    font-family: DNB;
    src: url(/config/dist/theme/assets/DNB-Bold.woff2) format("woff2");
    font-weight: 700;
}
@font-face {
    font-family: DNB;
    src: url(/config/dist/theme/assets/DNB-Bold.woff2) format("woff2");
    font-weight: bold;
}

body {
    --font-family: DNB, arial, sans-serif;
    --body-background: #f8f8f8;
    --core-border-color: #EDEDED;
    --border-color: #D9D9D9;
    --section-radius: 4px;
    --logo-width: 8rem;

    --color-c2a: #007272;
    --color-c2a-dark: #005959;
    --color-good: #007272;
    --color-bad: #D63731;
    --color-bad-light: #F8598B;
    --color-warn: #FF9E2C;
    --color-warn-light: #fbbe11;

    /* Text */
    --link-color: #007272;
    --text-color: #00343E;
    --scale1: #00343E;
    --scale2: #c4c4c4;
    --scale3: #e3e3e3;
    --scale4: #F5F6F8;

    /* Navbar */
    --navbar-height: 82px;
    --navbar-background: #fff;
    --navbar-icon-color: #007272;

    --company-dropdown-border: 1px solid #008484;
    --company-dropdown-background: rgba(0, 0, 0, 0);
    --company-dropdown-color: #007272;

    --tabstrip-background: #fff;
    --tabstrip-header-color: #333;
    --tabstrip-header-weight: 500;
    --tabstrip-link-color: #333;
    --tabstrip-active-link-color: #007272;

    /* Sidebar */
    --sidebar-background: #fff;
    --sidebar-color: #2B2B2B;
    --sidebar-header-color: #007272;
    --sidebar-icon-color: #007272;
    --sidebar-hover-color: #007272;
    --sidebar-active-section-background: #F4FBF9;
    --sidebar-active-section-header-color: #007272;
    --sidebar-active-section-header-background: #D2F0E9;

    /* Toolbar */
    --toolbar-background: #fff;
    --toolbar-header-color: #00343E;
    --toolbar-breadcrumb-color: #007272;
    --toolbar-button-border: inset 0 0 0 1px #008484;
    --toolbar-button-border-focus: inset 0 0 0 2px #008484;

    /* Tabs */
    --tab-color: #007272;
    --active-tab-color: #14555A;
    --scoped-tab-background: #F4FBF9;

    /* Inputs */
    --input-border-width: 1px;
    --input-border-width-focus: 2px;
    --input-border-color: #008484;
    --input-border-color-focus: #008484;
    --input-icon-color: #14555A;
    --input-color: #14555A;
    --input-radius: 5px;

    --checkbox-size: 18px;
    --checkbox-checked-color: #fff;
    --checkbox-checked-background: #007272;
    --checkbox-checked-border: 1px solid #007272;

    /* Buttons */
    --button-radius: 50px;
    --button-font-size: 16px;

    --button-primary-font-weight: 400;
    --button-secondary-font-weight: 400;
    --button-tertiary-font-weight: 500;

    --secondary-btn-border-width: 1px;
    --secondary-btn-focus-border-width: 2px;
    --secondary-btn-border-color: currentColor;

    --tertiary-c2a-hover: #005959;
    --tertiary-bad-hover: #D63731;

    --button-c2a: #008484;
    --button-c2a-hover: #fff;
    --button-c2a-text: #fff;
    --button-c2a-text-hover: #005959;
    --button-c2a-border: #008484;
    --button-c2a-border-hover: #005959;

    --button-good: #008484;
    --button-good-hover: #fff;
    --button-good-text: #fff;
    --button-good-text-hover: #005959;
    --button-good-border: #008484;
    --button-good-border-hover: #005959;

    --button-bad: #D63731;
    --button-bad-hover: #fff;
    --button-bad-text: #fff;
    --button-bad-text-hover: #DC223E;
    --button-bad-border: #D63731;
    --button-bad-border-hover: #D63731;

    --button-warn: #fdbb31;
    --button-warn-hover: #fff;
    --button-warn-text: #00343e;
    --button-warn-text-hover: #00343e;
    --button-warn-border: #fdbb31;
    --button-warn-border-hover: #fdbb31;

    /* Dropdown menus */
    --dropdown-shadow: 0 5px 4px 2px rgba(140, 150, 169, 0.1);
    --dropdown-select-background: #D2F0E9;
    --dropdown-select-color: #007272;

    /* Tables */
    --table-header-background: #D2F0E9;
    --table-header-color: #14555A;
    --table-row-odd-background: #fff;
    --table-row-even-background: #F4FBF9;
    --table-row-select-background: #E9F8F4;
    --table-icon-color: #007272;
    --table-border: 1px solid #D2F0E9;
    --row-border: none;

    --alt-table-header-background: var(--table-header-background);
    --alt-table-header-color: var(--table-header-color);
    --alt-table-header-border: 1px solid var(--border-color);
    --alt-table-body-border: 1px solid var(--border-color);

    /* Alerts */
    --alert-border: none;

    --alert-info: #E9F8F4;
    --alert-info-text-color: var(--color-c2a-dark);
    --alert-info-icon-color: var(--color-c2a-dark);
    --alert-info-link-color: var(--link-color);

    --alert-good: #D2F0E9;
    --alert-good-text-color: var(--color-c2a-dark);
    --alert-good-icon-color: var(--color-c2a-dark);
    --alert-good-link-color: var(--link-color);

    --alert-warn: #FBF6EC;
    --alert-warn-text-color: var(--color-c2a-dark);
    --alert-warn-icon-color: var(--color-c2a-dark);
    --alert-warn-link-color: var(--link-color);

    --alert-bad: #FDEEEE;
    --alert-bad-text-color: #DC2A2A;
    --alert-bad-icon-color: #DC2A2A;
    --alert-bad-link-color: #DC2A2A;

    /* Toasts */
    --toast-info: #F2F4EC;
    --toast-info-text: #00343E;

    --toast-good: #D2F0E9;
    --toast-good-text: var(--text-color);

    --toast-warn: #FEEBC1;
    --toast-warn-text: var(--text-color);

    --toast-bad: #DC2A2A;
    --toast-bad-text: #fff;

    /* Cards */
    --card-header-height: 3rem;
    --card-header-border: 1px solid var(--border-color);
    --card-header-color: #00343E;
    --card-header-font-size: 16px;
    --card-header-weight: 500;
    --card-footer-background: #F2F4EC;

    --init-header: #00343E;
    --init-subtitle: #14555A;
    --init-label: #00343E;
    --init-text: #14555A;

    --contract-type-card-header: #00343E;
    --contract-type-card-text: #14555A;

    --widget-header-size: 18px;
    --widget-header-color: #00343E;
    --widget-c2a: #007272;

    --chat-header-background: #007272;
    --panel-header-background: #D2F0E9;
}
