\:host
    display: inline-flex
    align-items: center
    width: 24px
    height: 24px
    font-size: 24px

    ::ng-deep svg
        width: 100%
        height: 100%
        color: currentColor

    &.set-fill::ng-deep svg
        fill: currentColor

    i
        color: currentColor
        font-size: inherit
