.authentication-component
    @include unigrid-flush(4)
    margin: 0 auto

    img
        display: block
        margin: 2rem auto 3rem auto

    form
        input, label
            width: 100%
            margin: 0.5rem 0
            display: block
                        
            &.ng-invalid.ng-touched
                @include uniTextInput($uni-color-Bad)

        button
            width: 100%
            padding: 0
            margin: 0

        .company_select
            margin: .5rem auto
            display: block

            .k-input
                height: 2rem
                display: block

    p
        text-align: center