
table
    width: 100%
    font-size: 12px

    th
        color: var(--widget-header-color)

    .customer
        max-width: 15rem
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis