<section class="widget-wrapper">
    <section class="content">
        <section *ngIf="unauthorized" class="missing-access">Mangler tilgang: Kan ikke vise største kunder uten fakturamodulen</section>
        <table *ngIf="!unauthorized">
            <thead>
                <tr>
                    <th class="customer">10 STØRSTE KUNDER</th>
                    <th>SALG {{currentYear}}</th>
                    <th>SALG {{currentYear - 1}}</th>
                    <th>UTESTÅENDE</th>
                    <th class="menu"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers">
                    <td class="customer">
                        <a (click)="goToCustomer(customer.ID)">{{customer.Name}}</a>
                    </td>
                    <td>{{customer.SumThisYear | uninumberformat:'money'}}</td>
                    <td>{{customer.SumPreviousYear | uninumberformat:'money'}}</td>
                    <td>{{customer.SumRest | uninumberformat:'money'}}</td>

                    <td>
                        <i #toggle class="material-icons" style="font-size: 15px; vertical-align: middle; cursor: pointer;">
                            more_horiz
                        </i>

                        <dropdown-menu [trigger]="toggle">
                            <ng-template>
                                <a class="dropdown-menu-item"
                                    *ngFor="let item of contextMenuItems"
                                    (click)="goToEntity(item.entity, customer.ID)">
                                    {{item.label}}
                                </a>
                            </ng-template>
                        </dropdown-menu>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</section>