<fieldset class="uni-fieldset small">
  <legend>Detaljer</legend>
  <aside>
      <uni-form
        [config]="config$"
        [fields]="fields$"
        [model]="currentTemplate$"
        (changeEvent)="change($event)">
      </uni-form>
  </aside>
</fieldset>

<fieldset class="uni-fieldset small">
  <legend>Ansatte</legend>
  <uni-salarybalance-template-employee-list
    [currentTemplate]="currentTemplate$ | async"
    (changeEvent)="onEmployeeChange($event)">
  </uni-salarybalance-template-employee-list>
</fieldset>
