.uni-selection-list
    margin-top: 1rem
    .selection-list-item
        display: flex
        height: 55px
        align-items: center
        cursor: pointer
        background: #f7f7f7
        padding: 0 1rem
        font-size: 14px
        border-radius: var(--section-radius)
        & + label
            margin-top: .5rem
        > *
            margin-right: 8px
