\:host
    display: block
.toggle-list
    margin: 2rem auto
    text-align: center
    a
        font-weight: 500
        font-size: 18px
        text-decoration: none
        i.material-icons
            margin-bottom: 1px
            margin-left: -2px
            transition: transform .25s ease
            &.expanded
                transform: rotate(-180deg)
.comparison-container
    width: 100%
    background: #fff
    margin: 0 auto
    max-height: 5%
    transition: ease-in-out 400ms max-height
    &.opened
        max-height: 100%
        transition: ease-in-out 800ms max-height
table
    width: 100%
    border-collapse: collapse
    color: var(--table-header-color)
.comparison-header
    background-color: var(--table-header-background)
.category-row
    background-color: var(--table-row-select-background)
th
    padding: .90rem
.center
    text-align: center
td
    padding: .90rem
    .tooltip
        color: var(--color-c2a)

    svg
        color: var(--color-c2a)
        vertical-align: middle

.feature-tooltip
    display: inline-block
    margin-left: 4px
    color: var(--color-c2a)