\:host
    display: flex
    align-items: center
    position: relative

    &:hover .sub-statuses
        display: block

.sub-statuses
    display: none
    position: absolute
    left: 0
    top: 3rem
    background: #fff
    color: var(--text-color)
    border: 1px solid var(--border-color)
    border-radius: 4px
    padding: 1rem 1.5rem
    font-size: 14px
    white-space: nowrap

    .sub-status
        display: flex
        margin-bottom: .25rem
        span
            flex: 0 0 auto
        .timestamp
            width: 5rem
        .text
            width: 15rem
            margin: 0 1rem
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
