<uni-toolbar
    [config]="toolbarconfig"
    [saveactions]="saveActions">
</uni-toolbar>

<header class="horizontal_nav no-print">
    <ul>
        <li *ngFor="let filter of showoptions">
            <a (click)="onFilterClick(filter)" [ngClass]="{'router-link-active': filter.isSelected}" >
                {{filter.label}}&nbsp;
                <span *ngIf="filter.count" [class.tab_counter_passive]="filter.passiveCounter" [class.tab_counter_hot]="filter.hotCounter" class="tab_counter">{{filter.count}}</span>
            </a>
        </li>
    </ul>
</header>

<section class="application">

    <section class="filterview">
        <uni-form [fields]="fields$"
                [model]="model$"
                [config]="formConfig$"
                (changeEvent)="onFilterChange($event)">
        </uni-form>
    </section>

    <section class="splitview">
        <nav class ="splitview_list">
            <uni-table
                    [config]="accountsTableConfig"
                    [resource]="(accounts$ | async)"
                    (rowSelected)="onRowSelected($event)">
            </uni-table>
        </nav>

        <main class="splitview_detail">
            <ledger-account-reconciliation
                [customerID]="(customer$ | async)?.ID"
                [supplierID]="(supplier$ | async)?.ID"
                [accountID]="(account$ | async)?.ID"
                [pointInTime]="pointInTime$ | async"
                [autoLock]="(model$ | async)?.AutoLock"
                [hideHeader]="true">
            </ledger-account-reconciliation>
        </main>
    </section>

</section>
