<uni-toolbar
    [config]="toolbarconfig"
    [saveactions]="saveActions"
    [shareActions]="shareActions"
    [selectConfig]="registerConfig"
    (selectValueChanged)="changeRegister($event.Register)">
</uni-toolbar>

<section class="application">
        <uni-tabs
            [tabs]="mainTabs"
            (tabClick)="onCustomerFilterClick($event)">
        </uni-tabs>
    <section class="splitview">
        <nav class="splitview_list">
            <label class="pointintime-filter">
                <localdate-picker-input
                        [field]="datefield"
                        (changeEvent)="onPointInTimeChanged($event)">
                </localdate-picker-input>
            </label>

            <uni-table
                    [config]="accountsTableConfig"
                    [resource]="(accounts$ | async)"
                    (rowSelected)="onRowSelected($event)"
                    (filtersChange)="onFiltersChange($event.filter)">
            </uni-table>
        </nav>

        <main class="splitview_detail">
            <uni-tabs
                [tabs]="tabs"
                (tabClick)="onFilterClick($event)">
            </uni-tabs>
            <div class="toolbar" style="margin-top: 10px;">
                <button title="Ctrl + A"
                    class="good"
                    [disabled]="!(postpost?.canAutoMark)"
                    (click)="autoMark()">

                    Automerking
                </button>
            </div>

            <ledger-account-reconciliation
                [customerID]="(customer$ | async)?.ID"
                [accountNumber]="(current$ | async)?.AccountNumber"
                [supplierID]="(supplier$ | async)?.ID"
                [accountID]="(account$ | async)?.ID"
                [pointInTime]="pointInTime$ | async"
                [autoLocking]="autolocking"
                [hideHeader]="true"
                (allSelectedLocked)="onAllSelectedLocked($event)">
            </ledger-account-reconciliation>
        </main>
    </section>

</section>
