@import '../../../../import-central-common.sass'

section.uni-modal.uni-redesign
    max-width: 35rem
    
.check-box-section
    display: flex
    margin-top: 20px

    .title
        flex: 1
        margin-top: 0
        @media #{$xs-and-less}      
            flex: 0

    .check-box-container
        flex: 2

    .check-box
        margin-right: 10px

.dropdown-section
    .title
        flex: 1
        margin-top: 0
        @media #{$xs-and-less}      
            flex: 0
    .drop-down-container
        flex: 2
        .drop-down
            margin: 0

