<section class="unitableWidthAuto" *ngIf="showFeedback">
    <uni-table [config]="mottattLeveranserIPeriodenConfig" [resource]="mottattLeveranserIPerioden" (rowSelected)="rowSelected($event)"></uni-table>
    <ul>
        <li *ngFor="let avvik of alleAvvikNoder; let index = index" class="amelding_summaryview" [ngClass]="{'-is-expanded':!avvik.collapsed}">
            <h4 (click)="toggleCollapsed(index)">{{avvik.id}}</h4>
            <table *ngIf="!avvik.collapsed">
                <tr>
                    <th>Avvikstype</th>
                    <td>{{avvik.id}}</td>
                </tr>
                <tr>
                    <th>Alvorlighetsgrad</th>
                    <td>{{avvik.alvorlighetsgrad}}</td>
                </tr>
                <tr>
                    <th>Navn</th>
                    <td colspan="3">{{avvik.navn}}</td>
                </tr>
                <tr *ngIf="avvik.arbeidsforholdId">
                    <th>ArbeidsforholdID</th>
                    <td>{{avvik.arbeidsforholdId}}</td>
                </tr>
                <tr *ngIf="avvik.yrke">
                    <th>Stillingskode</th>
                    <td>{{avvik.yrke}}</td>
                </tr>
                <tr>
                    <th>Detaljer</th>
                    <td colspan="3">{{avvik.detaljer}}</td>
                </tr>
            </table>
        </li>
    </ul>
</section>