<section *ngIf="showFeedback">
    <uni-table [config]="mottattLeveranserIPeriodenConfig" [resource]="mottattLeveranserIPerioden" (rowSelected)="rowSelected($event)"></uni-table>
    <ul>
        <li *ngFor="let avvik of alleAvvik; let index = index" class="amelding_summaryview" [ngClass]="{'-is-expanded':!avvik.collapsed}">
            <h4 (click)="toggleCollapsed(index)">{{avvik.id}}</h4>
            <table *ngIf="!avvik.collapsed">
                <tr>
                    <th>ID</th>
                    <td>{{avvik.id}}</td>
                </tr>
                <tr>
                    <th>Alvorlighetsgrad</th>
                    <td>{{avvik.alvorlighetsgrad}}</td>
                </tr>
                <tr>
                    <th>Detaljer</th>
                    <td>{{avvik.detaljer}}</td>
                </tr>
                <tr>
                    <th>Navn</th>
                    <td>{{avvik.navn}}</td>
                </tr>
            </table>
        </li>
    </ul>
</section>