.quote-items-summary section 
    background-color: $uni-color-scale9
    height: pxToRem(70)
    width: 14%
    margin-right: pxToRem(3)
    margin-top: pxToRem(3)
    float: left
    padding-top: pxToRem(15)
    text-align: center
    
.quote-items-summary::after
    clear: both    

.quote-items-summary
    padding-bottom: pxToRem(150)