<header class="quote_poster" *ngIf="quote">    
    <article class="poster_toolbar">
        <section>
            <h1 *ngIf="quote">{{quote.Customer ? quote.Customer.Info.Name : quote.CustomerName}}</h1>            
            <p>Tilbudsnr. {{quote.QuoteNumber}} <span  *ngIf="!itemsSummaryData">. Netto kr {{quote.TaxExclusiveAmount}}</span> <span *ngIf="itemsSummaryData">. Netto kr {{itemsSummaryData.SumTotalExVat}}</span>. Status: {{ statusText }}</p>
            <p></p>
        </section>
        <nav class="poster_toolbar_tools">
            <a (click)="printQuote()" class="print">Utskrift</a>
            <a (click)="previousQuote()"  class="previous">Forrige</a>
            <a (click)="nextQuote()"  class="next">Neste</a>
            <a (click)="addQuote()"  class="new">Nytt tilbud</a>
        </nav>         
    </article>       
    
     <!-- Widget poster -->
    <section class="poster_overview">        
        <uni-widget-poster [model]="quote">
            <section class="application">
                widgetdata kommer her...
            </section>
        </uni-widget-poster>        
    </section> 
</header>

<section class="quote-details application">
    <uni-component-loader></uni-component-loader>

    <quote-item-list [quote]="quote" (ItemsUpdated)="recalcItemSums($event)" (ItemsLoaded)="recalcItemSums($event)"></quote-item-list>    
    <section class="quote-items-summary-placeholder" *ngIf="!itemsSummaryData" aria-busy>
        
    </section>
    <dl class="summary" *ngIf="itemsSummaryData" [attr.aria-busy]="busy">
        <dt>Avgiftsfritt</dt>
        <dd>Kr. {{itemsSummaryData.SumNoVatBasis}}</dd>        
        <dt>Avgiftsgrunnlag</dt>
        <dd>Kr. {{itemsSummaryData.SumVatBasis}}</dd>        
        <dt>Sum rabatt</dt>
        <dd>Kr. {{itemsSummaryData.SumDiscount}}</dd>        
        <dt>Nettosum</dt>
        <dd>Kr. {{itemsSummaryData.SumTotalExVat}}</dd>        
        <dt>Mva</dt>
        <dd>Kr. {{itemsSummaryData.SumVat}}</dd>        
        <dt>Øreavrunding</dt>
        <dd>Kr. {{itemsSummaryData.DecimalRounding}}</dd>        
        <dt>Totalsum</dt>
        <dd>Kr. {{itemsSummaryData.SumTotalIncVat}}</dd>            
    </dl>
</section>

<footer class="full-footer">
    <section class="application">
        <button class="good" (click)="saveQuoteManual($event)">Lagre tilbud</button>
        <button class="good" (click)="saveQuoteTransition($event, 'register')">Til register</button>
        <button class="good" (click)="saveQuoteTransition($event, 'shipToCustomer')">Til shiptocustomer</button> 
        <button class="good" (click)="saveQuoteTransition($event, 'customerAccept')">Til customeraccept</button>                       
        <button class="good" (click)="saveQuoteTransition($event, 'toOrder')">Til toorder</button>        
        <button class="good" (click)="saveQuoteTransition($event, 'toInvoice')">Til toinvoice</button>        
        <button class="good" (click)="saveQuoteTransition($event, 'complete')">Til complete</button>        
        <section class="auto_save_info">
            {{ lastSavedInfo }}    
        </section>
    </section>
</footer>