<uni-toolbar [config]="toolbarconfig"
             [saveactions]="saveActions"
             [commentsConfig]="commentsConfig">
</uni-toolbar>

<uni-tof-head [readonly]="readonly"
              [entityName]="'CustomerQuote'"
              [data]="quote"
              [currencyCodes]="currencyCodes"
              [projects]="projects"
              [paymentTerms]="paymentTerms"
              [deliveryTerms]="deliveryTerms"
              (dataChange)="onQuoteChange($event)">
</uni-tof-head>

<section class="application">
    <uni-tradeitem-table *ngIf="quote"
                         [readonly]="readonly"
                         [projects]="projects"
                         [defaultTradeItem]="newQuoteItem"
                         [columStorageKey]="'quote_tradeitem_table'"
                         [(items)]="quoteItems"
                         [currencyCodeID]="currencyCodeID"
                         [currencyExchangeRate]="currencyExchangeRate"
                         (itemsChange)="recalcDebouncer.emit($event)">
    </uni-tradeitem-table>
    <uni-summary *ngIf="quote" [configs]="summary" [ngClass]="{'-is-dirty':dirty}"></uni-summary>
</section>