<section role="dialog" class="uni-modal">
    <header>>Overføring av timer</header>

    <article [attr.aria-busy]="busy">
        <div class="stepheader">{{steps[step].label}}:</div>

        <section class="wizard-step-container" [hidden]="step !== 0">
            <uni-form [fields]="fields$"
                [model]="model$"
                [config]="formConfig$"
                (changeEvent)="onFormChange($event)">
            </uni-form>
        </section>

        <section class="wizard-step-container" [hidden]="step !== 1">
            <workitem-transfer-wizard-filter [options]="wizardOptions"></workitem-transfer-wizard-filter>
        </section>

        <section class="wizard-step-container" [hidden]="step !== 2">
            <workitem-transfer-wizard-products [options]="wizardOptions"></workitem-transfer-wizard-products>
        </section>

        <section class="wizard-step-container" [hidden]="step !== 3">
            <workitem-transfer-wizard-preview [options]="wizardOptions"></workitem-transfer-wizard-preview>
        </section>

        <section class="wizard-step-container" [hidden]="step !== 4 || workInProgress">
            Trykk "Fullfør" for å starte generering av {{wizardOptions?.orders.length}} ordre(r).
        </section>

        <section class="wizard-step-container" *ngIf="workInProgress">
            {{workIndex}} / {{wizardOptions?.orders?.length}}
            <div [attr.aria-busy]="transferBusy">...</div>
        </section>

    </article>

    <footer>
        <p style="float: left">Steg {{step+1}} av {{steps.length}}</p>
        <button [disabled]="workInProgress" *ngIf="step>0" class="bad" (click)="goBack()">Tilbake</button>
        <button [disabled]="workInProgress" class="good" id="good_button_ok" (click)="accept()" [innerHtml]="step<steps.length-1 ? 'Videre': 'Fullfør'"></button>
        <button [disabled]="workInProgress" class="cancel" (click)="cancel()">Avbryt</button>
    </footer>
</section>