<section class="header">
    <h1>Huskeliste</h1>

    <a class="pull-right" (click)="createOrEditTask()" tabindex="0">Opprett huskelapp</a>
</section>

<section class="content" id="reminder-list">
    <section *ngFor="let item of publicDueDates" class="reminder-item duedate-item">
        <uni-icon icon="calendar" svgSize="22"></uni-icon>
        <span class="description">{{item.AdditionalInfo}}</span>
        <span class="date pull-right" [ngClass]="item['_class']" [title]="item.Deadline | date: 'dd.MM.yyyy'">
            {{item['_daysLabel']}}
        </span>
    </section>

    <a *ngFor="let task of tasks; let i = index;" class="reminder-item unstyled-link task-span-title" (click)="createOrEditTask(task)">
        <i class="material-icons-outlined">note</i>
        <span>{{task.Title}}</span>
        <!-- <i class="material-icons-outlined finish-icon" title="Marker oppgave som fullført" *ngIf="!task._completed" (click)="quickApproveTask(task, $event, i)">brightness_1</i>
        <i class="material-icons-outlined" title="Oppgave fullført" *ngIf="task._completed">check_circle_outline</i> -->
    </a>

    <!-- Invoice approvals -->
    <a *ngFor="let approval of invoiceApprovals" [routerLink]="approval['_route']" class="reminder-item unstyled-link">
        <i class="material-icons-outlined">receipt_long</i>
        <span>{{approval['_label']}}</span>
    </a>

    <!-- Timesheet approvals -->
    <a *ngIf="timesheetApprovals?.length" routerLink="/assignments/approvals" class="reminder-item unstyled-link">
        <i class="material-icons-outlined">event_available</i>
        <span>{{timesheetApprovals.length}} {{timesheetApprovals.length > 1 ? 'timelister' : 'timeliste'}} å godkjenne</span>
    </a>

    <!-- Inbox -->
    <a *ngIf="counters.inbox" routerLink="/accounting/inbox" class="reminder-item unstyled-link">
        <i class="material-icons-outlined">mail</i>
        <span>{{counters.inbox}} {{counters.inbox > 1 ? 'filer' : 'fil'}} i innboks</span>
    </a>

    <!-- Invoices ready for payment -->
    <a *ngIf="counters.invoicesReadyForPayment" class="reminder-item unstyled-link" routerLink="/bank/ticker" [queryParams]="{code: 'payment_list'}">
        <i class="material-icons-outlined">credit_card</i>
        <span>
            {{counters.invoicesReadyForPayment}}
            {{counters.invoicesReadyForPayment > 1 ? 'regning' : 'regninger'}}
            til betaling
        </span>
    </a>

    <!-- Invoices ready for payment -->
    <a *ngIf="counters.invoicesReadyForReminder" routerLink="/sales/reminders/ready" class="reminder-item unstyled-link">
        <i class="material-icons-outlined">add_alert</i>
        <span>
            {{counters.invoicesReadyForReminder}}
            {{counters.invoicesReadyForReminder > 1 ? 'fakturaer' : 'fakturaer'}}
            å purre på
        </span>
    </a>
</section>
