.uni-modal
    width: 30vw

    button.modal-close-button
        display: none

    article
        padding: .5rem 1rem

    small.validation
        margin: .5rem 0 2rem

    uni-field
        max-width: none
        padding-right: 0

    footer button
        width: 11rem