<label
    class="uni-label"
    [ngClass]="formConfig?.showLabelAbove ? 'label-above' : 'label-left'"
    [class.reverse-label]="field?.FieldType === 5"
    *ngIf="field?.FieldType !== 1">

    <span
        [hidden]="!isInput(field?.FieldType)"
        [title]="field?.Label"
        [style.width]="labelWidth">
        {{field?.Label | isRequired:field}}

        <uni-tooltip *ngIf="field?.Tooltip"
            [type]="field.Tooltip.Type"
            [alignment]="field.Tooltip.Alignment"
            [text]="field.Tooltip.Text">
        </uni-tooltip>
    </span>

    <ng-container [ngSwitch]="field?.FieldType">
        <uniform-autocomplete #selectedComponent
            *ngSwitchCase="0"
            [field]="field"
            [model]="model"
            [asideGuid]="asideGuid"
            (readyEvent)="onReadyHandler($event)"
            (changeEvent)="onChangeHandler($event)"
            (inputEvent)="onInputHandler($event)"
            (focusEvent)="onFocusHandler($event)">
        </uniform-autocomplete>

        <uni-select-input #selectedComponent
            *ngSwitchCase="3"
            [field]="field"
            [model]="model"
            [asideGuid]="asideGuid"
            (readyEvent)="onReadyHandler($event)"
            (changeEvent)="onChangeHandler($event)"
            (inputEvent)="onInputHandler($event)"
            (focusEvent)="onFocusHandler($event)">
        </uni-select-input>

        <uni-checkbox-input #selectedComponent
            *ngSwitchCase="5"
            [field]="field"
            [model]="model"
            (readyEvent)="onReadyHandler($event)"
            (changeEvent)="onChangeHandler($event)">
        </uni-checkbox-input>

        <uni-numeric-input #selectedComponent
            *ngSwitchCase="6"
            [field]="field"
            [model]="model"
            [asideGuid]="asideGuid"
            (readyEvent)="onReadyHandler($event)"
            (changeEvent)="onChangeHandler($event)"
            (inputEvent)="onInputHandler($event)"
            (focusEvent)="onFocusHandler($event)">
        </uni-numeric-input>

        <uni-checkboxgroup-input #selectedComponent
            *ngSwitchCase="8"
            [field]="field"
            [model]="model"
            (readyEvent)="onReadyHandler($event)"
            (changeEvent)="onChangeHandler($event)">
        </uni-checkboxgroup-input>

        <uni-radiogroup-input #selectedComponent
            *ngSwitchCase="9"
            [field]="field"
            [model]="model"
            [asideGuid]="asideGuid"
            (readyEvent)="onReadyHandler($event)"
            (changeEvent)="onChangeHandler($event)"
            (inputEvent)="onInputHandler($event)"
            (focusEvent)="onFocusHandler($event)">
        </uni-radiogroup-input>

        <uni-text-input #selectedComponent
            *ngSwitchCase="10"
            [field]="field"
            [model]="model"
            [asideGuid]="asideGuid"
            (readyEvent)="onReadyHandler($event)"
            (changeEvent)="onChangeHandler($event)"
            (inputEvent)="onInputHandler($event)"
            (focusEvent)="onFocusHandler($event)">
        </uni-text-input>

        <uni-email-input #selectedComponent
            *ngSwitchCase="11"
            [field]="field"
            [model]="model"
            [asideGuid]="asideGuid"
            (readyEvent)="onReadyHandler($event)"
            (changeEvent)="onChangeHandler($event)"
            (inputEvent)="onInputHandler($event)"
            (focusEvent)="onFocusHandler($event)">
        </uni-email-input>

        <uni-password-input #selectedComponent
            *ngSwitchCase="12"
            [field]="field"
            [model]="model"
            [asideGuid]="asideGuid"
            (readyEvent)="onReadyHandler($event)"
            (changeEvent)="onChangeHandler($event)"
            (inputEvent)="onInputHandler($event)"
            (focusEvent)="onFocusHandler($event)">
        </uni-password-input>

        <uni-hyperlink-input #selectedComponent
            *ngSwitchCase="13"
            [field]="field"
            [model]="model"
            [asideGuid]="asideGuid"
            (readyEvent)="onReadyHandler($event)"
            (changeEvent)="onChangeHandler($event)"
            (inputEvent)="onInputHandler($event)"
            (focusEvent)="onFocusHandler($event)">
        </uni-hyperlink-input>

        <uni-multivalue-input #selectedComponent
            *ngSwitchCase="14"
            [field]="field"
            [model]="model"
            [asideGuid]="asideGuid"
            (readyEvent)="onReadyHandler($event)"
            (changeEvent)="onChangeHandler($event)"
            (inputEvent)="onInputHandler($event)"
            (focusEvent)="onFocusHandler($event)"
            (moveForwardEvent)="onMultivalueMoveForward($event)">
        </uni-multivalue-input>

        <uni-url-input #selectedComponent
            *ngSwitchCase="15"
            [field]="field"
            [model]="model"
            [asideGuid]="asideGuid"
            (readyEvent)="onReadyHandler($event)"
            (changeEvent)="onChangeHandler($event)"
            (inputEvent)="onInputHandler($event)"
            (focusEvent)="onFocusHandler($event)">
        </uni-url-input>

        <uni-textarea-input #selectedComponent
            *ngSwitchCase="16"
            [field]="field"
            [model]="model"
            [asideGuid]="asideGuid"
            (readyEvent)="onReadyHandler($event)"
            (changeEvent)="onChangeHandler($event)"
            (inputEvent)="onInputHandler($event)"
            (focusEvent)="onFocusHandler($event)">
        </uni-textarea-input>

        <localdate-picker-input #selectedComponent
            *ngSwitchCase="17"
            [field]="field"
            [model]="model"
            [asideGuid]="asideGuid"
            (readyEvent)="onReadyHandler($event)"
            (changeEvent)="onChangeHandler($event)"
            (inputEvent)="onInputHandler($event)"
            (focusEvent)="onFocusHandler($event)">
        </localdate-picker-input>

        <uni-search-wrapper #selectedComponent
            *ngSwitchCase="18"
            [field]="field"
            [model]="model"
            [asideGuid]="asideGuid"
            (readyEvent)="onReadyHandler($event)"
            (changeEvent)="onChangeHandler($event)"
            (inputEvent)="onInputHandler($event)"
            (focusEvent)="onFocusHandler($event)">
        </uni-search-wrapper>

        <uni-multi-select-input #selectedComponent
            *ngSwitchCase="19"
            [field]="field"
            [model]="model"
            [asideGuid]="asideGuid"
            (readyEvent)="onReadyHandler($event)"
            (changeEvent)="onChangeHandler($event)"
            (inputEvent)="onInputHandler($event)"
            (focusEvent)="onFocusHandler($event)"
            (moveForwardEvent)="onMultivalueMoveForward($event)">
        </uni-multi-select-input>

        <uni-static-text-input #selectedComponent
            *ngSwitchCase="20"
            [field]="field"
            [model]="model"
            [asideGuid]="asideGuid"
            (readyEvent)="onReadyHandler($event)"
            (changeEvent)="onChangeHandler($event)"
            (inputEvent)="onInputHandler($event)"
            (focusEvent)="onFocusHandler($event)">
        </uni-static-text-input>

        <uni-typeahead-input #selectedComponent
            *ngSwitchCase="21"
            [field]="field"
            [model]="model"
            [asideGuid]="asideGuid"
            (readyEvent)="onReadyHandler($event)"
            (changeEvent)="onChangeHandler($event)"
            (inputEvent)="onInputHandler($event)"
            (focusEvent)="onFocusHandler($event)">
        </uni-typeahead-input>
    </ng-container>
</label>

<section *ngIf="errorMessages?.length" [style.margin-left]="labelWidth" class="validation-results">
    <small *ngFor="let error of errorMessages" [ngClass]="error.isWarning ? 'warn' : 'bad'">
        {{error | uniformErrorTemplate}}
    </small>
</section>

<uni-button-input #selectedComponent
    *ngIf="field?.FieldType === 1"
    [style.margin-left]="labelWidth"
    [field]="field"
    [model]="model"
    [ngClass]="field?.Classes"
    [class.offset-left]="!formConfig?.showLabelAbove"
    [asideGuid]="asideGuid"
    (readyEvent)="onReadyHandler($event)"
    (changeEvent)="onChangeHandler($event)"
    (inputEvent)="onInputHandler($event)"
    (focusEvent)="onFocusHandler($event)">
</uni-button-input>
