.pension-scheme-text-container
    display: flex
    // grid-template-columns: repeat(2, auto)
    min-height: 2rem
    flex-direction: row
    align-items: center
    .pension-scheme-text
        display: flex
        flex-direction: row
        align-items: center
        p
            margin: 0 1rem
        // display: grid
        // grid-template-columns: repeat(2,auto)

.amelding_errorheader
        color: var(--color-bad)
