<section class="amelding-overview">
    <dl class="amelding_summary_overview" *ngIf="currentAMelding">
        <dt>A-melding ID</dt>
        <dd>{{currentAMelding.replacesID > 0 ? currentAMelding.ID + ' (Erstatter ID ' + currentAMelding.replacesID + ')' : currentAMelding.ID}}</dd>

        <dt>Klargjort</dt>
        <dd>{{createdDate}}</dd>

        <dt>Innsendt</dt>
        <dd>{{sentDate ? sentDate : 'Ikke innsendt'}}</dd>

        <dt>Status</dt>
        <dd>{{statusText}}</dd>

        <section class="pension-scheme-text-container">
            <dt>Pensjonsinnretning</dt>
            <dd class="pension-scheme-text">
                <p>{{pensionSchemeText}}</p>
                <button (click)="openPensionSchemeModal()" class="tertiary c2a">
                    {{(pensionSchemeText
                        ? 'SALARY.AMELDING.PENSION_SCHEME.EDIT'
                        : 'SALARY.AMELDING.PENSION_SCHEME.ADD') | translate
                    }}
                </button>
            </dd>
        </section>

    </dl>
    <dl class="amelding_summary_overview" *ngIf="showXMLValidationError">
        <dt style="color: red">Validering av xml feilet</dt>
        <dd id="amelding_mainfile_validation_error_text">{{validationErrorsInAmelding}}</dd>
    </dl>
    <dl class="amelding_summary_overview" *ngIf="!!errorMessage">
        <dt style="color: red">Ugyldig virksomhet</dt>
        <dd id="amelding_mainfile_validation_error_text">{{errorMessage}}</dd>
    </dl>
</section>

<ul class="amelding_summary_sections" *ngIf="entitiesWithData">

    <li *ngFor="let virksomhet of entitiesWithData; let index = index" class="amelding_summary_section" [attr.aria-expanded]="virksomhet.expanded">

        <section class="amelding_summary_section_header" (click)="virksomhet.expanded = !virksomhet.expanded">
            <i class="material-icons">
                {{virksomhet.expanded ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}
            </i>
            <p>
                <strong>{{virksomhet.orgNumber | uninumberformat:'orgno'}}</strong>
                {{virksomhet.name}}
            </p>
            <section class="amelding_validation_errors_container">
                <em
                *ngIf="virksomhet.validations.length"
                class="amelding_validation_errors"
                title="{{virksomhet.validations.join(', ')}}"></em>
            </section>


            <section class="amelding_summary_section_header_aga">
                <small>
                    Grunnlag arbeidsgiveravgift
                    <strong>{{virksomhet.sums.agaBase | unicurrency}}</strong>
                </small>
            </section>

        </section>

        <article class="amelding_summary_section_details" *ngIf="virksomhet.expanded">

            <h2>Ansatte og arbeidsforhold</h2>
            <ag-grid-wrapper [config]="employeeTableConfig" [resource]="virksomhet.employees"></ag-grid-wrapper>

            <h2 *ngIf="virksomhet.leaves && virksomhet.leaves.length > 0">Permisjoner</h2>
            <ag-grid-wrapper *ngIf="virksomhet.leaves && virksomhet.leaves.length > 0" [config]="leaveTableConfig" [resource]="virksomhet.leaves"></ag-grid-wrapper>

            <h2 *ngIf="virksomhet.transactions && virksomhet.transactions.length > 0">Sum per beskrivelse</h2>
            <ag-grid-wrapper *ngIf="virksomhet.transactions && virksomhet.transactions.length > 0" [config]="transactionTableConfig" [resource]="virksomhet.transactions"></ag-grid-wrapper>

        </article>


    </li>
</ul>
<!-- </section> -->
