<uni-toolbar
    [config]="toolbarConfig"
    [saveactions]="saveActions">
</uni-toolbar>

<mat-slide-toggle class="viewmode"
    [(ngModel)]="viewModePayable"
    (ngModelChange)="flipViewMode()"
    [labelPosition]="'before'">
    Utbetaling
</mat-slide-toggle>

<article class="main" [attr.aria-busy]="busy" >

    <section class="panel">
        <h3>Detaljer</h3>
        <easyjournal-prepaid *ngIf="!viewModePayable" [session]="session"></easyjournal-prepaid>
        <easyjournal-payable *ngIf="viewModePayable" [session]="session"></easyjournal-payable>
    </section>

    <section class="panel">
        <h3>Utgiftskonto</h3>
        <easyjournal-entries [session]="session"></easyjournal-entries>
    </section>

</article>