.typeahead
    position: relative

    *
        box-sizing: border-box

    .uniTypeahead_input, .typeahead_input
        width: calc(100% - 2rem)
        float: left
        border-top-right-radius: 0
        border-bottom-right-radius: 0

        &[readonly],
        &[disabled]
        border-radius: pxToRem(3) 0 0 pxToRem(3)

    .uni-typeahead-searchBtn
        @extend %inputButton
        background-image: unicon-more($uni-color-scale4)
        min-height: calc(1.5rem + #{pxToRem(10)})
        border: 1px solid $uni-color-scale8
        border-left: none
        border-radius: 0