.poster_overview-is-empty
    padding: 1rem 0 2.5rem
    text-align: center

    h2
        font-weight: 400

    .avatar
        @extend %avatar
        float: left
        margin-top: 2rem
        height: 8rem
        width: 8rem
        position: absolute