.poster_toolbar
    @include unigrid-flush(14)
    @include clearfix
    margin: 0 auto
    padding: .3rem 1rem 0
    display: flex
    flex-direction: row
    align-items: center
    min-height: 5.3rem
    justify-content: space-between

    & p
        @extend .poster_toolbar_descriptor

.poster_toolbar_headline
    margin: 0
    order: 1

.poster_toolbar_orgnr,
.poster_toolbar_descriptor
    display: block
    margin-top: -.4rem
    color: $uni-color-scale5

.poster_toolbar_tools
    order: 2
    min-width: 14rem
    text-align: right
    cursor: pointer

    a
        display: inline-block
        height: 2.1rem
        width: 2.1rem
        margin: 0 0 0 .5rem
        font-size: 0
        box-shadow: 0 pxToRem(1) pxToRem(1) $uni-color-scale7
        background: mix($uni-color-negative, $uni-color-C2A, 80%) no-repeat center
        background-size: 1rem 1rem
        position: relative
        top: -.3rem
        border-radius: pxToRem(3)

        &:hover,
        &:focus
            border-color: $uni-color-C2A

    .previous
        background-image: unicon-prev($uni-color-scale3)
        &:hover
            background-image: unicon-prev($uni-color-C2A)
    .next
        background-image: unicon-next($uni-color-scale3)
        &:hover
            background-image: unicon-next($uni-color-C2A)
    .new
        background-image: unicon-new($uni-color-scale3)
        &:hover
            background-image: unicon-new($uni-color-C2A)
    .edit
        background-image: unicon-edit($uni-color-scale3)
        &:hover
            background-image: unicon-edit($uni-color-C2A)
        &.-is-active
            background-color: $uni-color-C2A
            background-image: unicon-edit($uni-color-negative)
    .down
        background-image: unicon-down($uni-color-scale3)
        &:hover
            background-image: unicon-down($uni-color-C2A)
    .trash
        background-image: unicon-trash($uni-color-scale3)
        &:hover
            background-image: unicon-trash($uni-color-C2A)          
    .close
        background-image: unicon-close($uni-color-scale3)
        &:hover
            background-image: unicon-close($uni-color-C2A)                            

.poster_toolbar_extras
    @include unigrid-flush(14)
    margin: -1rem auto 0
    text-align: right
    button
        @extend button.small
        margin-left: 0

input[type=search].poster_toolbar_search
    float: left
    width: 5rem
    line-height: 1.8rem
    border-color: $uni-color-scale9
    height: 2.2rem

@include media(large, max-width)
    .poster_toolbar
        align-items: flex-start

    .poster_toolbar_headline
        width: calc(100% - 3rem)
        float: left
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden
        margin-bottom: 3rem

    .poster_toolbar_tools
        width: 3rem

        input[type=search].poster_toolbar_search,
        .next,
        .previous
            position: absolute
            top: 12rem

        input[type=search].poster_toolbar_search
            text-align: center
            border-color: $uni-color-scale9

        .next,
        .previous
            border: none

        .previous
            left: .5rem

        input[type=search].poster_toolbar_search
            left: 3.2rem
            width: calc(100% - 10.5rem)

        .next
            right: 5rem

