.poster_toolbar
  @include unigrid-flush(14)
  margin: 0 auto
  padding: .3rem 1rem 0
  display: flex
  flex-direction: row
  align-items: center
  min-height: 5.3rem
  justify-content: space-between

.poster_toolbar_headline
  margin: 0
  order: 1

  .poster_toolbar_orgnr
    display: block
    margin-top: -.4rem
    color: $uni-color-scale5

.poster_toolbar_tools
  order: 2

  a
    display: inline-block
    height: 2.1rem
    width: 2.1rem
    margin: 0 0 0 .5rem
    border: .1rem solid lighten($uni-color-scale8, 10%)
    font-size: 0
    background: no-repeat center
    background-size: 1rem 1rem
    position: relative
    top: -.3rem
    border-radius: pxToRem(3)

    &:hover,
    &:focus
      border-color: $uni-color-scale6

  .previous
    background-image: unicon-prev($uni-color-scale8)
    &:hover
      background-image: unicon-prev($uni-color-scale6)
  .next
    background-image: unicon-next($uni-color-scale8)
    &:hover
      background-image: unicon-next($uni-color-scale6)
  .new
    background-image: unicon-new($uni-color-scale8)
    &:hover
      background-image: unicon-new($uni-color-scale6)
  .edit
    background-image: unicon-edit($uni-color-scale8)
    &:hover
      background-image: unicon-edit($uni-color-scale6)

    &.-is-active
      background-color: $uni-color-C2A
      background-image: unicon-edit($uni-color-negative)



.poster_toolbar_search
  float: left
  width: 5rem
  line-height: 1.8rem
  border-color: $uni-color-scale9

@include media(large, max-width)
  .poster_toolbar_headline
    width: calc(100% - 3rem)
    float: left
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden

  .poster_toolbar_tools
    width: 3rem

    .poster_toolbar_search,
    .next,
    .previous
      display: none
