%avatar
  display: block
  height: 6rem
  width:  6rem
  background-position: center center
  background-size: cover
  border-radius: 99rem
  margin: 0 auto 1rem
  border: .2rem solid $uni-color-negative
  box-shadow: 0 0 .2rem transparentize($uni-color-scale5, .5)

.poster_widget_contact
  p
    text-align: center
    margin: 0

  .avatar
    @extend %avatar

    @include media(small)
      &
        height: 4rem
        width: 4rem