.poster_widget_figure
    text-align: center

    h1
        @extend p
        font-weight: 400
        margin-bottom: 0

    h2
        font-size: 3rem
        font-weight: 700
        color: $uni-color-C2A
        margin-top: .5rem
        margin-bottom: .5rem

    p
        margin-top: 0
        margin-bottom: 0
