<uni-toolbar [config]="{ title: 'Betingelser' }" [saveactions]="saveactions" ></uni-toolbar>

<section class="splitview settings-view-container">
    <nav class ="splitview_list">
        <ag-grid-wrapper
            *ngIf="termsTypes"
            [config]="termsTypeTableConfig"
            [resource]="termsTypes"
            (rowClick)="onTermSelected($event)">
        </ag-grid-wrapper>
    </nav>

    <main class="splitview_detail">
        <ag-grid-wrapper
            [config]="termsTableConfig"
            [resource]="currentTerms"
            (rowDelete)="onTermDeleted($event)">
        </ag-grid-wrapper>
    </main>
</section>
