<dl class="amelding_summary_overview" *ngIf="currentAMelding">
    <dt>A-melding ID</dt>
    <dd>{{currentAMelding.replacesID > 0 ? currentAMelding.ID + ' (Erstatter ID ' + currentAMelding.replacesID + ')' : currentAMelding.ID}}</dd>

    <dt>Klargjort den</dt>
    <dd>{{createdDate}}</dd>

    <dt>{{sentDate ? 'Innsendt den' : ''}}</dt>
    <dd>{{sentDate ? sentDate : 'Ikke innsendt'}}</dd>

    <dt>Status</dt>
    <dd>{{statusText}}</dd>
</dl>


<ul class="amelding_summary_sections" *ngIf="currentSumUp">

    <li *ngFor="let virksomhet of currentSumUp.entities; let index = index"
        class="amelding_summary_section"
        [attr.aria-expanded]="virksomhet.expanded">

        <header class="amelding_summary_section_header"
            (click)="virksomhet.expanded = !virksomhet.expanded">

            <h2><strong>{{virksomhet.orgNumber | uninumberformat:'orgno'}}</strong> {{virksomhet.name}}</h2>

            <dl class="amelding_summary_section_overview">
                <dt>Grunnlag arbeidsgiveravgift</dt>
                <dd>{{virksomhet.sums.agaBase | unicurrency}}</dd>

                <dt>Beregnet arbeidsgiveravgift</dt>
                <dd>{{virksomhet.sums.aga | unicurrency}}</dd>
            </dl>

        </header>

        <article class="amelding_summary_section_details" *ngIf="virksomhet.expanded">

            <h2>Ansatte og arbeidsforhold</h2>
            <uni-table [config]="employeeTableConfig" [resource]="virksomhet.employees"></uni-table>

            <h2 *ngIf="virksomhet.transactionTypes">Sum per beskrivelse</h2>
            <uni-table *ngIf="virksomhet.transactionTypes" [config]="transactionTableConfig" [resource]="virksomhet.transactionTypes"></uni-table>

        </article>


    </li>
</ul>