<section class="input-with-button">
    <input #input
        type="text"
        [formControl]="inputControl"
        (keypress)="busy = true"
        (keydown)="onKeyDown($event)"
        role="combobox"
        [title]="placeholder"
        [placeholder]="placeholder"
    />

    <button
        type="button"
        tabIndex="-1"
        (click)="toggle(); input.focus()">
        <i class="material-icons">search</i>
    </button>
</section>

<input-dropdown-menu [input]="input" [visible]="expanded && (lookupResults?.length || options.addNewButton)">
    <ng-template>
        <section *ngIf="!(loading$ | async)" class="result-container" #dropdown>
            <!-- List view -->
            <section *ngIf="!options.showResultAsTable" class="results">
                <section *ngFor="let item of lookupResults; let idx = index"
                    (click)="itemClicked(idx, item.isHeader)"
                    [ngClass]="item.isHeader ? 'dropdown-menu-header' : 'dropdown-menu-item'"
                    class="dropdown-menu-item"
                    [attr.aria-selected]="selectedIndex === idx">

                    {{ item.isHeader ? item.header : options.itemTemplate(item) }}
                </section>

                <section class="no-results" *ngIf="lookupResults.length === 0">
                    Ingen resultater
                </section>
            </section>


            <!-- Table view -->
            <section *ngIf="options.showResultAsTable && options.resultTableConfig" class="results">
                <table>
                    <thead>
                        <tr>
                            <th
                                *ngFor="let field of options.resultTableConfig.fields"
                                [ngStyle]="{width: field.width, textAlign: field.isMoneyField ? 'right' : 'left' }">

                                {{ field.header }}
                            </th>
                        </tr>
                    </thead>

                    <tbody #optionContainer>
                        <tr *ngFor="let item of lookupResults; let idx = index"
                            [attr.aria-selected]="selectedIndex === idx"
                            (click)="itemClicked(idx, item.isHeader)">

                            <td
                                *ngFor="let field of options.resultTableConfig.fields"
                                [ngStyle]="{width: field.width, textAlign: field.isMoneyField ? 'right' : 'left' }"
                                [ngClass]="field.class">

                                <span *ngIf="!field.isMoneyField">
                                    {{item[field.key]}}
                                </span>
                                <span *ngIf="field.isMoneyField">
                                    {{ item[field.key] | uninumberformat: 'money' }}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <section class="no-results" *ngIf="lookupResults.length === 0">
                    Ingen resultater
                </section>
            </section>

            <section *ngIf="!busy && options.addNewButton" class="footer">
                <a (click)="addNewItem()">
                    <i class="material-icons">add</i>
                    {{options.addNewButton.label || 'Opprett ny'}}
                </a>
            </section>
        </section>
    </ng-template>
</input-dropdown-menu>
