<section role="dialog" class="uni-modal">
    <header>{{options.header}}</header>

    <article>
        <section *ngIf="loading$ | async" class="modal-spinner">
            <mat-spinner></mat-spinner>
        </section>

        <section *ngIf="options.data.EntityType !== saft">
            <label class="uni-label label-left">
                <span>Filetype</span>
                <uni-select [config]="config" [value]="selectedFileType" [items]="operators"
                    (valueChange)="onSelectChange($event)">
                </uni-select>
            </label>

            <label class="uni-label label-left"
                *ngIf="options?.data?.Permisions?.hasTemplateDataAccess &&
            options.data.EntityType !== payrollType && options.data.EntityType != voucher && options.data.EntityType !== order">
                <span>{{options.message}}</span>
                <mat-checkbox class="check-box" [(ngModel)]="isSelected"
                    [disabled]="options.data.EntityType == payrollType || options.data.EntityType == voucher|| options.data.EntityType == order"
                    [ngModelOptions]="{standalone: true}" (click)="$event.stopPropagation()">
                </mat-checkbox>
            </label>
        </section>

        <section *ngIf="options.data.EntityType === saft">
            <label class="uni-label label-left">
                <span>Fra regnskapsår</span>
                <input type="number" [(ngModel)]="fromYear">
            </label>

            <label class="uni-label label-left">
                <span>Til regnskapsår</span>
                <input type="number" [(ngModel)]="toYear">
            </label>

            <label class="uni-label label-left">
                <span>Fra Periode</span>
                <input type="number" [(ngModel)]="fromPeriod">
            </label>

            <label class="uni-label label-left">
                <span>Til Periode</span>
                <input type="number" [(ngModel)]="toPeriod">
            </label>

            <label class="uni-label label-left">
                <span>Anonymiser data</span>
                <mat-checkbox class="check-box" [(ngModel)]="isAnonymous" (click)="$event.stopPropagation()">
                </mat-checkbox>
            </label>

            <label class="uni-label label-left">
                <span>Send meg epost med filen</span>
                <mat-checkbox [(ngModel)]="sendEmail"></mat-checkbox>
            </label>

            <div class="note">Du vil få epost med filen når eksporten er ferdig.</div>
        </section>
    </article>

    <footer>
        <button class="secondary" (click)="close()">Avbryt</button>
        <button class="c2a" (click)="onDownloadTempalte()">
            {{options.data.downloadButton}}
        </button>
    </footer>
</section>
