<section role="dialog" class="uni-modal uni-redesign">
    <header>
        {{options.header}}
    </header>
    <div class="under-line"></div>
    <article>
        <form class="uni-html-form">
            <div class="dropdown-section" *ngIf="options.data.EntityType !== saft">
                <label class="title">File Type</label>
                <label class="drop-down-container">
                    <uni-select class="drop-down" [config]="config" [value]="selectedFileType" [items]="operators"
                        (valueChange)="onSelectChange($event)">
                    </uni-select>
                </label>
            </div>
            <div class="check-box-section row-check"
                *ngIf="options.data.Permisions.hasTemplateDataAccess && options.data.EntityType !== saft">
                <label class="title"></label>
                <label class="check-box-container">
                    <mat-checkbox class="check-box" [(ngModel)]="isSelected"
                        [disabled]="options.data.EntityType == payrollType || options.data.EntityType == voucher" [ngModelOptions]="{standalone: true}"
                        (click)="$event.stopPropagation()">
                    </mat-checkbox>
                    <label class="option-text">
                        {{options.message}}
                    </label>
                </label>
            </div>
            <div class="saft-export-options" *ngIf="options.data.EntityType === saft">
                <div class="block">
                    <label class="title">Fra regnskapsår</label>
                    <input type="number" [(ngModel)]="fromYear" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="block">
                    <label class="title">Til regnskapsår</label>
                    <input type="number" [(ngModel)]="toYear" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="block">
                    <label class="title">Fra Periode</label>
                    <input type="number" [(ngModel)]="fromPeriod" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="block">
                    <label class="title">Til Periode</label>
                    <input type="number" [(ngModel)]="toPeriod" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="block">
                    <label class="title">Anonymiser data</label>
                    <mat-checkbox class="check-box" [(ngModel)]="isAnonymous" [ngModelOptions]="{standalone: true}"
                        (click)="$event.stopPropagation()">
                    </mat-checkbox>
                </div>
                <div class="block">
                    <label class="title">Send meg epost med filen</label>
                    <mat-checkbox class="check-box" [(ngModel)]="sendEmail" [ngModelOptions]="{standalone: true}"
                        (click)="$event.stopPropagation()">
                    </mat-checkbox>
                </div>
                <div class="note">
                    <label>Du vil få epost med filen når eksporten er ferdig.</label>
                </div>
            </div>
        </form>
        <section *ngIf="loading$ | async" class="modal-spinner">
            <mat-spinner></mat-spinner>
        </section>
    </article>
    <footer class="center">
        <button class="c2a rounded" (click)="onDownloadTempalte()"> {{options.data.downloadButton}}</button>
        <button (click)="close()">Avbryt</button>
    </footer>
</section>