@import '../../import-central-common.sass'
.uni-modal
    border-radius: 10px !important
.dropdown-section 
    display: flex
    margin-top: 20px

    .title
        flex: 1
        margin-top: 0

    .drop-down-container
        flex: 2

        .drop-down
            width: 100%
.saft-export-options
    .block
        display: flex
        align-items: center
        .title
            width: 45%
            margin-right: 25px
.check-box-section
    display: flex
    margin-top: 20px

    .title
        flex: 1
        margin-top: 0
        @media #{$xs-and-less}      
            flex: 0

    .check-box-container
        flex: 2

    .check-box
        margin-right: 10px

.option-text
    margin-bottom: 0 !important

section.uni-modal.uni-redesign
    max-width: 35rem

@media #{$xs-and-less}         
    section.uni-modal.uni-redesign
        min-width: auto !important

    label.option-text
        white-space: normal

        
        