<dl *ngIf="invoiceInfoShow" class="info">
    <dt class="konto-navn">
        Fakturadato:
    </dt>
    <dd>
         {{invoice?.InvoiceDate | unidateformat}} 
    </dd>
    <dt class="konto">
        Konto: 
    </dt>
    <dd [title]="invoice?.JournalEntry?.DraftLines[0]?.Account?.AccountName">
        {{invoice?.JournalEntry?.DraftLines[0]?.Account?.AccountNumber}} - {{invoice?.JournalEntry?.DraftLines[0]?.Account?.AccountName}} 
    </dd>
    <dt class="forfalls-dato">
         Forfallsdato: 
    </dt>
    <dd>
        {{invoice?.PaymentDueDate | unidateformat}} 
    </dd>
    <dt class="vat">
         Mva: 
    </dt>
    <dd>
         {{mva}}% 
    </dd>
    <dt class="betalings-id">
         Fakturanr: 
    </dt>
    <dd>
         {{invoice?.InvoiceNumber}} 
    </dd>
    <dt class="beskrivelse">
        Beskrivelse: 
    </dt>
    <dd [title]="invoice?.JournalEntry?.DraftLines[0]?.Description">
         {{invoice?.JournalEntry?.DraftLines[0]?.Description}} 
    </dd>
</dl>

<strong *ngIf="invoiceInfoShow" class="totalSum">
    Total sum: {{invoice?.TaxInclusiveAmount}}  <strong *ngIf="showCurrency">{{invoice?.CurrencyCode.Code}}/{{invoice?.CurrencyCode?.ShortCode}}</strong>
</strong>

<section>
    <uni-image *ngIf="task" 
        [entity]="'SupplierInvoice'" 
        [entityID]="task.EntityID"
        [readonly]="true"
        [singleImage]="false">
    </uni-image>
</section>