<section role="dialog" class="uni-modal timeTransfer">
  <header>Overføre timer</header>
  <article [attr.aria-busy]="busy">
    <section class="timeTransfer_uniform">
      <uni-form [config]="uniformConfig$" [fields]="uniformFields$" [model]="options.data" (changeEvent)="uniformChange($event)"></uni-form>
    </section>
    <uni-table [resource]="data" [config]="uniTableConfig" [attr.aria-busy]="busy" (rowChanged)="rowChanged($event)" (rowSelectionChanged)="onRowSelectionChange($event)"></uni-table>
  </article>
  <footer>
      <button class="good" (click)="createTimeTransactions()" [disabled]="!createTransesIsActive">
        Overfør timer
      </button>
      <button class="bad" (click)="closeModal()">Lukk</button>
  </footer>
</section>
