.container
    display: flex
    flex-direction: column
    height: 100%
    padding: 0
    font-family: var(--font-family)
    section
        display: flex
        flex-direction: row
        align-items: center
    p
        margin: 0
        font-weight: 500
    .row1
        flex: 2
        border-bottom: 1px solid var(--border-color)
        p
            flex: 1
            color: var(--widget-header-color)
        .left-text
            font-size: 1.125rem
            flex: 9
            padding: 0 0 0 0.938rem
        .right-text
            font-size: 2.25rem
            padding: 0 2.125rem 0 0
    .row2
        border-bottom: 1px solid var(--border-color)
        flex: 3
        font-size: 1rem
        .male
            display: flex
            flex: 1
            flex-direction: column
        .female
            display: flex
            flex: 1
            flex-direction: column
        .border
            border-right: 1px solid var(--border-color)
            height: 100%
        svg
            padding-bottom: 0.54rem

    .row3
        flex: 1
        border-bottom: 1px solid var(--border-color)
        .blue-text
            font-size: 1rem
            padding: 0 0 0 1.813rem
        .normal-text
            font-size: 0.875rem
            padding: 0 0 0 0.5rem

    .row4
        flex: 1
        border-bottom: 1px solid var(--border-color)
        .blue-text
            font-size: 1rem
            padding: 0 0 0 1.813rem
        .normal-text
            font-size: 0.875rem
            padding: 0 0 0 0.5rem
    .row5
        flex: 2
        section
            display: flex
            flex-direction: row
            flex: 1
            padding: 0 0.938rem 0 0.938rem
            p
                flex: 9
                background-color: #f5f6f8
            .left-text
                font-size: 0.875rem
                padding: 0.813rem 0 0.75rem 0.875rem
            .right-text
                font-size: 1.125rem
                flex: 1
                padding: 0.813rem 1.438rem 0.688rem 0
    .right-text
        text-align: right
    .blue-text
        color: #2699fb
    .normal-text
        padding-left: 5px
