.container
    display: flex
    flex-direction: column
    height: 100%
    align-items: stretch
    padding: 0
    section
        align-items: center
    p
        margin: 0
        font-family: var(--font-family)
        font-weight: 300
    .row1
        display: flex
        flex-direction: row
        flex: 1
        border-bottom: 1px solid var(--border-color)
        p
            padding-top: 0.5rem
            padding-bottom: 0.5rem
            flex: 1
            color: var(--widget-header-color)
            font-size: var(--widget-header-size)
            font-weight: 500
        .left-text
            flex: 9
        .right-text
            font-size: 1.5rem
    .row2
        display: flex
        flex-direction: row
        border-bottom: 1px solid var(--border-color)
        .male
            display: flex
            flex: 1
            flex-direction: column
            align-items: center
            padding-top: 0.2rem
            padding-bottom: 0.2rem
        .female
            display: flex
            flex: 1
            flex-direction: column
            align-items: center
            border-right: 1px solid var(--border-color)
            padding-top: 0.2rem
            padding-bottom: 0.2rem
    .row3
        display: flex
        flex-direction: row
        flex: 1
        border-bottom: 1px solid var(--border-color)

    .row4
        display: flex
        flex-direction: row
        flex: 1
        border-bottom: 1px solid var(--border-color)
    .row5
        section
            padding: 0.5rem
            display: flex
            flex-direction: row
            flex: 1
            p
                flex: 9
                background-color: #f5f6f8
                padding: 0.1rem 0.5rem 0.1rem 0.5rem
                font-weight: 500
            .right-text
                flex: 1
    .right-text
        text-align: right
        padding-right: 1.5rem
    .left-text
        padding-left: 1.5rem
    .blue-text
        color: #2699fb
        padding-left: 1.5rem
    .normal-text
        padding-left: 5px
