.uni-card
    width: 40rem
    margin: 0 auto

.uni-card-footer button
    min-width: 8rem

h1
    display: flex
    align-items: center
    font-weight: 500
    font-size: 24px
    color: var(--init-header)
    margin: 0 0 .5rem
    mat-spinner
        margin-right: 1rem

label span
    font-weight: 500
    color: var(--init-label)

autocomplete
    margin: 1rem 0 1.25rem
    padding-bottom: 1.5rem
    border-bottom: 1px solid var(--border-color)