<section class='application'>
    
    <header class="title">
        <span>Registrere timer for {{userName}}</span>
        <select *ngFor="let item of timeSheet.workRelations">
            <option>{{item.CompanyName}} : {{item.WorkPercentage}}% - {{item.Description}}</option>
        </select>
    </header>

    <aside class="horizontal_nav">
        <ul>
            <li *ngFor="let tab of tabs">
                <a [ngClass]="{'router-link-active': tab.isSelected}" >{{tab.label}}</a>
                <span class='tabtip' *ngIf="tab.counter">({{tab.counter}})</span>   
            </li>
        </ul>    
    </aside>
    
    <br/>

    <section [attr.aria-busy]="busy" >
        
        <button (click)="onReloadClick()">Reload</button>

        <uni-table [resource]="timeSheet.items" [config]="tableConfig"></uni-table>
    
    </section>

</section>
