<section class='application regtimecontainer'>
    
    <header class="regtimetitle">
        <span>Registrere timer for {{userName}}</span>
        <select *ngFor="let item of workRelations">
            <option>{{item.CompanyName}} : {{item.WorkPercentage}}% - {{item.Description}}</option>
        </select>
    </header>

    <aside class="horizontal_nav">
        <ul>
            <li *ngFor="let tab of tabs">
                <a [ngClass]="{'router-link-active': tab.isSelected}" >{{tab.label}}</a>
                <span class='regtimetabtip' *ngIf="tab.counter">({{tab.counter}})</span>   
            </li>
        </ul>    
    </aside>
    
    <br/>

    <section [attr.aria-busy]="busy" >
        
        <uni-table [resource]="timeSheet.items" [config]="tableConfig"></uni-table>
    
    </section>
    
    <uni-save [actions]="actions"></uni-save>

</section>
