<uni-toolbar [config]="toolbarConfig"></uni-toolbar>

<section class="application">
    <h3>Front end</h3>
    <table>
        <tr><td>Versjon:</td><td>{{frontend.fullVersion}}</td></tr>
        <tr><td>Build number:</td><td>{{frontend.minVersion}}</td></tr>
        <tr><td>Build date:</td><td>{{frontend.buildDate}}</td></tr>
    </table>
    <h3>Back end</h3>
    <table [attr.aria-busy]="!backend">
        <tbody *ngIf="backend">
            <tr><td>Versjon:</td><td>{{backend.fullVersion}}</td></tr>
            <tr><td>Build number:</td><td>{{backend.minVersion}}</td></tr>
            <tr><td>Build date:</td><td>{{backend.buildDate}}</td></tr>
        </tbody>
    </table>

    <section class="button-row">
        <button class="c2a">Test</button>
        <button class="c2a" [attr.aria-busy]="true">Test</button>

        <button class="good">Test</button>
        <button class="good" [attr.aria-busy]="true">Test</button>

        <button class="warn">Test</button>
        <button class="warn" [attr.aria-busy]="true">Test</button>

        <button class="bad">Test</button>
        <button class="bad" [attr.aria-busy]="true">Test</button>
    </section>

    <section class="button-row">
        <button class="secondary">Test</button>
        <button class="secondary" [attr.aria-busy]="true">Test</button>

        <button class="secondary good">Test</button>
        <button class="secondary good" [attr.aria-busy]="true">Test</button>

        <button class="secondary bad">Test</button>
        <button class="secondary bad" [attr.aria-busy]="true">Test</button>
    </section>

    <section class="button-row">
        <button class="tertiary c2a">Test</button>
        <button class="tertiary c2a" [attr.aria-busy]="true">Test</button>

        <button class="tertiary bad">Test</button>
        <button class="tertiary bad" [attr.aria-busy]="true">Test</button>
    </section>


</section>
