<uni-toolbar [config]="toolbarConfig"></uni-toolbar>

<section class="application">
    <h3>Front end</h3>
    <table>
        <tr><td>Versjon:</td><td>{{frontend.fullVersion}}</td></tr>
        <tr><td>Build number:</td><td>{{frontend.minVersion}}</td></tr>
        <tr><td>Build date:</td><td>{{frontend.buildDate}}</td></tr>
    </table>
    <h3>Back end</h3>
    <table [attr.aria-busy]="!backend">
        <tbody *ngIf="backend">
            <tr><td>Versjon:</td><td>{{backend.fullVersion}}</td></tr>
            <tr><td>Build number:</td><td>{{backend.minVersion}}</td></tr>
            <tr><td>Build date:</td><td>{{backend.buildDate}}</td></tr>
        </tbody>
    </table>


    <section style="margin: 2rem 0">
        <button class="c2a">Knappetest</button>
        <button class="good">Knappetest</button>
        <button class="warn">Knappetest</button>
        <button class="bad">Knappetest</button>
    </section>

    <section style="margin: 2rem 0">
        <button class="secondary">Knappetest</button>
        <button class="secondary good">Knappetest</button>
        <button class="secondary bad">Knappetest</button>
    </section>

    <section style="margin: 2rem 0">
        <button class="tertiary">Knappetest</button>
        <button class="tertiary c2a">Knappetest</button>
        <button class="tertiary bad">Knappetest</button>
    </section>

    <section style="margin: 2rem 0">
        <input type="text" placeholder="Inputtest" style="display: block; width: 20rem">
        <input type="text" placeholder="Inputtest" style="display: block; width: 20rem; margin-top: 1rem;" disabled>
    </section>
</section>
