<uni-toolbar
        [config]="toolbarConfig">
</uni-toolbar>

<section class="application">
    <h3>Front end</h3>
    <table>
        <tr><td>Versjon:</td><td>{{frontend.fullVersion}}</td></tr>
        <tr><td>Build number:</td><td>{{frontend.minVersion}}</td></tr>
        <tr><td>Build date:</td><td>{{frontend.buildDate}}</td></tr>
    </table>
    <h3>Back end</h3>
    <table [attr.aria-busy]="!backend">
        <tbody *ngIf="backend">
            <tr><td>Versjon:</td><td>{{backend.fullVersion}}</td></tr>
            <tr><td>Build number:</td><td>{{backend.minVersion}}</td></tr>
            <tr><td>Build date:</td><td>{{backend.buildDate}}</td></tr>
        </tbody>
    </table>

    <section style="margin-top: 2rem;">
        <button>Default</button>
        <button disabled>Disabled</button>
        <button class="test">Hover</button>
        <button [attr.aria-busy]="true">Loading</button>
    </section>

    <section style="margin-top: 2rem;">
        <button class="c2a">Primary</button>
        <button class="c2a" disabled>Primary</button>
        <button class="c2a test">Primary</button>
        <button class="c2a" [attr.aria-busy]="true">Loading</button>
    </section>

    <section style="margin-top: 2rem;">
        <button class="good">Action</button>
        <button class="good" disabled>Action</button>
        <button class="good test">Action</button>
        <button class="good" [attr.aria-busy]="true">Loading</button>
    </section>

    <section style="margin-top: 2rem;">
        <button class="warn">Warn</button>
        <button class="warn" disabled>Warn</button>
        <button class="warn test">Warn</button>
        <button class="warn" [attr.aria-busy]="true">Loading</button>
    </section>

    <section style="margin-top: 2rem;">
        <button class="bad">Destructive</button>
        <button class="bad" disabled>Destructive</button>
        <button class="bad test">Destructive</button>
        <button class="bad" [attr.aria-busy]="true">Loading</button>
    </section>

    <!-- Secondary -->
    <section style="margin-top: 2rem;">
        <button class="secondary">Secondary</button>
        <button class="secondary" disabled>Secondary</button>
        <button class="secondary test">Secondary</button>
        <button class="secondary" [attr.aria-busy]="true">Loading</button>
    </section>

    <!-- Tertiary -->
    <section style="margin-top: 2rem;">
        <button class="tertiary">Tertiary</button>
        <button class="tertiary" disabled>Tertiary</button>
        <button class="tertiary test">Tertiary</button>
        <button class="tertiary" [attr.aria-busy]="true">Loading</button>
    </section>

    <section style="margin-top: 2rem;">
        <button class="tertiary bad">Tertiary</button>
        <button class="tertiary bad" disabled>Tertiary</button>
        <button class="tertiary bad test">Tertiary</button>
        <button class="tertiary bad" [attr.aria-busy]="true">Loading</button>
    </section>

    <!-- Icons -->
    <section style="margin: 2rem 0 4rem;">
        <button>
            <i class="material-icons">add</i>
            Knapp med ikon
        </button>

        <button class="c2a">
            <i class="material-icons">add</i>
            Knapp med ikon
        </button>

        <button class="secondary">
            Knapp med ikon
            <i class="material-icons">add</i>
        </button>

        <button class="tertiary">
            <i class="material-icons">add</i>
            Knapp med ikon
        </button>
    </section>


</section>
