<i (click)="close()"
    class="close-icon material-icons"
    matTooltip="Du kan også lukke menyen med escape knappen på tastaturet"
    matTooltipPosition="left"
    matTooltipClass="megamenu-close-tooltip">
    close
</i>

<header>
    <img src="config/dist/theme/assets/logo.svg" alt="logo">

    <input #searchInput type="search"
        [formControl]="searchControl"
        [(ngModel)]="searchString"
        placeholder="Søk etter menyelement"
    />
</header>

<section class="link-groups" [class.bottom-padding]="isDirty">
    <section class="link-group" *ngFor="let section of filteredLinkSections; let i = index;">
        <ng-container *ngFor="let sub of section">
            <span>
                {{ sub.name | translate }}
            </span>
            <ul class="link-list">
                <ng-template ngFor let-group [ngForOf]="sub.linkGroups">
                    <li *ngFor="let link of group.links" (click)="isExpanded = false" [ngClass]="getClass(link)">
                        <mat-checkbox (click)="linkSelect(link)" [(ngModel)]="link.activeInSidebar" class="check-box" [ngModelOptions]="{standalone: true}">
                        </mat-checkbox>
                        <a (click)="linkSelect(link)">{{ link.name | translate}}</a>
                    </li>
                </ng-template>
            </ul>
        </ng-container>
    </section>

    <button (click)="resetMenu()" class="secondary reset-button">
        Tilbakestill meny
    </button>
</section>

<section class="bottom-save-section" *ngIf="isDirty">
    <span>Du har ulagrede endringer</span>
    <button class="secondary" (click)="resetChanges()">Forkast endringer</button>
    <button class="c2a" (click)="saveMenuStructure()">Lagre endringer</button>
</section>