<i (click)="close()"
    class="close-icon material-icons"
    matTooltip="Du kan også lukke menyen med escape knappen på tastaturet"
    matTooltipPosition="left"
    matTooltipClass="megamenu-close-tooltip">

    close
</i>

<header>
    <img src="../../../../../assets/economy-logo.png" alt="Uni Economy logo" />
    <input #searchInput type="search" [formControl]="searchControl" placeholder="Søk etter skjermbilde">
</header>

<section class="link-groups">

    <section class="link-group" *ngFor="let section of filteredLinkSections">
        <span [ngClass]="{'hamburger-link-header': section.url}" (click)="navigate(section.url)">
            {{ section.name | translate }}
        </span>
        <ul class="link-list">
            <ng-template ngFor let-group [ngForOf]="section.linkGroups">
                <li *ngFor="let link of group.links" (click)="isExpanded = false">
                    <i class="material-icons c2a" *ngIf="editMode" (click)="linkSelect(link)"> {{ link.activeInSidebar ? 'check_box' : 'check_box_outline_blank' }} </i>
                    <a (click)="navigate(link.url)">{{ link.name | translate}}</a>
                </li>
                <br>
            </ng-template>
        </ul>
    </section>
</section>
<section style="display: flex; justify-content: center;">
    <button class="c2a" (click)="onEditModeChange()"> {{ editMode ? 'Lagre' : 'Rediger' }} menyelementer </button>
</section>
