.uni-card
    height: 100%
    // margin-bottom: 0

\:host
    overflow: hidden

.upload-buttons
    margin-left: auto
    display: flex
    align-items: center
    color: var(--color-c2a)
    font-size: 16px

    uni-icon
        vertical-align: middle
        width: 16px
        margin-right: 5px
        margin-bottom: 3px

    .get-from-inbox
        cursor: pointer
        margin: 0 2rem 0 auto

    .upload-input
        margin-bottom: 0