<uni-stepper>
    <uni-step *ngFor="let step of steps" [step]="step">
        <ng-template #stepButtonTemplate let-item="item">
            <button>
                <i class="material-icons">edit</i>
            </button>
        </ng-template>
        <ng-template #stepCardTemplate let-item="item">
            <h5>{{item.title}}</h5>
            <article>{{item.text}}</article>
            <button class="c2a" (click)="runAction(item)">{{item.buttonText}}</button>
        </ng-template>
    </uni-step>
</uni-stepper>
