uni-custom-list-item
    &.checked h6
        margin: 0 !important
    &.disabled
        button.c2a
            display: none
    .custom-list-item-container
        .custom-list-item-status
            .custom-list-item-status-step
                border: 1px solid var(--link-color)
                background: var(--dropdown-select-background)
                border-radius: 50%
                padding: 0.5rem
                &.checked
                    border: 0
                    background: none
                    i.material-icons
                        color: var(--checkbox-checked-background-good)
                        font-size: 2.1rem
                        bottom: 0.7rem !important
                i
                    height: 1.25rem
                    width: 1.25rem
                    position: relative
                    right: 2px
                    bottom: 1px

                i.material-icons
                    right: 0.25rem
                    bottom: 0.1875rem
