<uni-custom-list>
    <uni-custom-list-item *ngFor="let step of steps" [step]="step" [class.disabled]="!step?._enabled">
        <ng-template #stepButtonTemplate let-item="item">
            <span
                class="custom-list-item-status-step"
                [class.checked]="step._icon === 'check_circle'"
            >
                <i class="material-icons step-status--checked" *ngIf="step._icon === 'check_circle'">{{step._icon}}</i>
                <i class="material-icons" *ngIf="step._icon === 'edit'">{{step._icon}}</i>
                <i *ngIf="step._icon !== 'edit' && step._icon !== 'check_circle'">{{step._icon}}</i>
            </span>
        </ng-template>
        <ng-template #stepCardTemplate let-item="item">
            <h6 class="custom-list-item-title">{{item.title}}</h6>
            <article class="custom-list-item-body">{{item.text}}</article>
            <button class="custom-list-item-button"
                    [class.c2a]="item._icon !== 'check_circle'"
                    [class.tertiary]="item._icon === 'check_circle'"
                    (click)="runAction(item)"
                    [disabled]="!item?._enabled">
                {{item.buttonText}}
            </button>
        </ng-template>
    </uni-custom-list-item>
</uni-custom-list>
