<section class="widget-wrapper">
    <section class="header">
        <span>{{ widget.description }}</span>

        <section class="filters" *ngIf="showPeriodSelector">
            <button #toggle class="tertiary toggle-button">
                {{ currentPeriod.label }}
                <i class="material-icons">expand_more</i>
            </button>

            <dropdown-menu [trigger]="toggle">
                <ng-template>
                    <a class="dropdown-menu-item"
                        *ngFor="let period of wagetypePeriods"
                        (click)="updateData(period)">
                        {{ period.label }}
                    </a>
                </ng-template>
            </dropdown-menu>
        </section>
    </section>

    <div class="content">
        <div class="canvas-container">
            <canvas #chartCanvas></canvas>
        </div>
    </div>
</section>