<section class="widget-wrapper">
    <section class="header">
        <span>{{ widget.description }}</span>

        <section class="filters uni-redesign" *ngIf="showPeriodSelector">
            <button class="toggle-button" [matMenuTriggerFor]="contextMenu">
                {{ currentPeriod.label }}
                <i class="material-icons">expand_more</i>
            </button>

            <mat-menu #contextMenu="matMenu">
                <ul class="widget-filter-menu">
                    <li *ngFor="let period of wagetypePeriods" role="button" (click)="updateData(period)">
                        {{ period.label }}
                    </li>
                </ul>
            </mat-menu>
        </section>
    </section>

    <div class="content">
        <div class="canvas-container">
            <canvas #chartCanvas></canvas>
        </div>
    </div>
</section>