.content
    .canvas-container
        height: calc(100%)
        position: relative

        .chart-tooltip
            position: absolute
            opacity: 0
            background: #454749
            color: #e6e6e6
            padding: 6px 12px
            box-sizing: border-box
            border-radius: 3px
            transition: opacity .5s
            min-width: 150px
            font-family: var(--font-family)
            font-size: 12px
            text-align: left
            pointer-events: none

            > span
                font-size: 13px

            .data-row
                display: flex
                justify-content: space-between
                span:first-of-type
                    color: #afafaf
                span + span
                    padding-left: 10px

    .chart-legend
        .income
            background: #62B2FF
        .cost
            background: #F6DC8D
        .result
            background: #ccc // #738293