\:host
    margin-left: .5rem

.navbar-alert
    cursor: pointer
    padding: 5px 8px
    .eye-icon
        width: 19px
        height: 19px
        margin-right: 3px
        position: relative
        top: -1px
        border-radius: var(--section-radius)
        svg
            width: inherit
            height: inherit
            overflow: visible
            color: var(--alert-warn-icon-color)

.show-more-dialog
    z-index: 10
    min-width: 314px
    position: absolute
    display: inline-block
    padding: 1.25rem 1rem 1rem
    background-color: #fff
    border: 1px solid var(--border-color)
    border-radius: 2px
    margin-top: 14px
    margin-left: -139px
    font-size: 15px
    footer
        margin-top: 1.25rem
        text-align: center
        button
            height: 2.25rem

.show-more-dialog:before
    content: ''
    position: absolute
    height: 15px
    width: 15px
    background-color: #fff
    top: -9px
    left: 50%
    transform: translateX(-50%) rotate(45deg) skew(15deg, 15deg)
    border-left: 1px solid var(--border-color)
    border-top: 1px solid var(--border-color)
    z-index: 10

