.uni-modal
    width: 30rem

article
    padding-top: 0

h1
    font-size: 24px
    font-weight: 500
    text-align: center
    margin-top: 0

.upgrade-success
    text-align: center
    svg
        margin: .5rem 0

.price-info
    justify-content: space-between

.bruno-illustration
    display: flex
    justify-content: center
    margin: .5rem 0 1.5rem