.no-duedates-next-thirty
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center
    font-size: 15px
    color: var(--color-good)

    i
        font-size: 50px

.public-duedate-modal
    width: 35vw

    article
        .section-div
            display: flex
            align-items: center

            .date-section
                width: 60px
                height: 60px
                display: flex
                justify-content: center
                align-items: center
                font-weight: bold
                border: 2px solid var(--color-c2a)
                border-radius: 30px
                font-size: 13px

            .info-section
                margin-left: 2rem
                display: flex
                flex-direction: column
                label
                    font-weight: bold
                    font-size: 15px

                span
                    font-size: 14px

                a
                    font-size: 14px
                    margin-top: 1.5rem
