<section>
    <h2 *ngIf="!project">Ingen prosjekt valgt</h2>
    <article *ngIf="project">
        <uni-attachments
            [entity]="'Project'" *ngIf="project"
            [entityID]="project?.ID"
            [showFileList]="false"
            (fileUploaded)="onFileUploaded()">
        </uni-attachments>

        <uni-table
            [config]="tableConfig"
            [resource]="(documents$ | async)"
            (rowDeleted)="onRowDeleted($event.rowModel)">
        </uni-table>
    </article>
</section>