.widget-group
    border: 1px solid var(--border-color)
    border-radius: var(--section-radius)
    margin-bottom: 1.5rem

    h2
        font-weight: 400
        font-size: 16px
        margin: 0
        padding: 0 1.25rem
        background: #f0f0f0
        border-bottom: 1px solid var(--border-color)

    .widget-list
        display: grid
        grid-template-columns: 1fr 1fr
        grid-gap: 1rem
        padding: 1.25rem