@keyframes rotate
    from
        transform: rotate(0deg)
    to
        transform: rotate(360deg)

@mixin primary-btn($type)
    border: none
    color: #fff
    background-color: var(--button-#{$type})
    font-weight: var(--primary-btn-font-weight)

    &:hover, &:focus, &:active
        color: if($btn-inversed-hover-state, var(--button-#{$type}-hover), #fff)
        background-color: if($btn-inversed-hover-state, #fff, var(--button-#{$type}-hover))
        box-shadow: inset 0 0 0 2px var(--button-#{$type}-hover)
    &:before
        border-color: #fff

@mixin secondary-btn-color($type)
    color: var(--button-#{$type})

    $border-color: if($secondary-btn-grey-border, #ccc, var(--button-#{$type}-hover))
    box-shadow: inset 0 0 0 var(--secondary-btn-border-width) $border-color

    &:hover, &:focus, &:active
        color: var(--button-#{$type}-hover)
        box-shadow: inset 0 0 0 var(--secondary-btn-focus-border-width) var(--button-#{$type}-hover)

    &:before
        border-color: var(--button-#{$type}) !important

button, a.button
    position: relative
    height: 2.5rem
    font-size: 15px
    font-weight: 400

    box-sizing: border-box
    border-radius: var(--button-radius)
    padding: 0 1rem
    cursor: pointer
    white-space: nowrap
    -webkit-appearance: none

    &[disabled], &[aria-disabled]:not([aria-disabled=false])
        opacity: 0.65
        pointer-events: none

    &.busy, &[aria-busy]:not([aria-busy=false])
        color: rgba(0,0,0,0) !important
        pointer-events: none
        &:before
            display: block
            content: ''
            position: absolute
            top: calc(50% - 9px)
            left: calc(50% - 9px)
            width: 18px
            height: 18px

            border: 2px solid #666
            border-top-color: rgba(0, 0, 0, 0) !important
            border-left-color: rgba(0, 0, 0, 0) !important

            border-radius: 50%
            animation: rotate .7s infinite linear

    &:focus
        outline: none

    &.icon-button
        background-color: unset
        padding: 0
        border: none
        width: 2.5rem
        i
            margin-bottom: 0

    i
        vertical-align: middle
        margin-bottom: 2px

    & + button
        margin-left: 1rem

    // Default
    background-color: #fff
    color: #666
    border: 1px solid #dbdbdb
    &:hover, &:focus, &:active, .test
        background-color: #fafafa

    // Main buttons
    &:not(.secondary):not(.tertiary)
        &.c2a
            @include primary-btn(c2a)
        &.good
            @include primary-btn(if($theme-has-good-btn, good, c2a))
        &.bad
            @include primary-btn(bad)

        &.warning, &.warn
            @include primary-btn(warn)

    // Secondary
    &.secondary
        background-color: #fff
        font-weight: 500
        border: none
        @include secondary-btn-color(c2a)
        &.good
            @include secondary-btn-color(if($theme-has-good-btn, good, c2a))
        &.bad
            @include secondary-btn-color(bad)

    // Tertiary
    &.tertiary
        background-color: unset
        padding-left: 0
        border: none
        font-weight: 500

        &.c2a
            color: var(--button-c2a)
            &:hover, &:focus, &:active
                color: var(--button-c2a-hover)

            &.busy, &[aria-busy]:not([aria-busy=false])
                &:before
                    border-color: var(--button-c2a)

        &.bad
            color: var(--button-bad)
            &:hover, &:focus, &:active
                color: var(--button-bad-hover)

            &.busy, &[aria-busy]:not([aria-busy=false])
                &:before
                    border-color: var(--button-bad)

.inbox-upload-button
    display: flex
    i
        margin-right: .5rem

.button-group
    display: inline-flex

combo-button + button
    margin-left: 1rem
