$buttons-list: 'button', 'input[type=button]', 'input[type=reset]', 'input[type=submit]'
$all-buttons: assign-inputs($buttons-list)

@import 'comboButton'

@keyframes rotate
    from
        transform: rotate(0deg)
    to
        transform: rotate(360deg)

@mixin btn-coloring($type)
    color: #fff
    background-color: var(--color-#{$type})
    &:hover, &:focus, &:active
        background-color: var(--color-#{$type}-hover)

#{$all-buttons}, a.button
    position: relative
    font: 400 15px var(--font-family)
    border: none
    box-sizing: border-box
    border-radius: .2rem
    padding: 10px 1rem
    margin: .5rem 1rem
    cursor: pointer
    min-height: 1.6667rem
    -webkit-appearance: none

    &[disabled], &[aria-disabled]:not([aria-disabled=false])
        opacity: 0.55

    &.busy, &[aria-busy]:not([aria-busy=false])
        color: rgba(0,0,0,0) !important
        &:before
            display: inline-block
            content: ''
            height: 15px
            width: 15px
            background: transparent
            border-radius: 50%
            border: 1px dotted rgba(255,255,255,.75)
            border-top: 2px solid #fff
            animation: rotate .5s infinite linear
            margin: 0
            position: absolute
            top: calc(50% - 7.5px)
            left: 0
            margin-left: calc(50% - 7.5px)

    &:focus
        outline: none

    &.small
        font-size: .9rem
        line-height: 1.5em
        padding: .2rem 1rem
        font-weight: 400
        text-shadow: none

        &[aria-busy]:not([aria-busy=false]):before
            margin: 0 5px -2px -5px

    // REVISIT: warn probably shouldn't be default
    @include btn-coloring(warn)

    &.c2a, &.primary
        @include btn-coloring(c2a)

    &.good
        @include btn-coloring(good)

    &.bad
        @include btn-coloring(bad)

    &.warning, &.warn
        @include btn-coloring(warn)


button[type=submit]
    @extend button.c2a


// This will be removed once the button redesign is done
button.button-clean
    height: 2.25rem
    // font: 500 14px var(--font-family)
    font: 400 15px var(--font-family)
    color: rgba(0, 0, 0, 0.87)
    background: 0 0
    text-shadow: none
    padding: 0 10px
    margin: 0

    &:hover
        background-color: rgba(0,0,0,.12)
        transition: background-color .25s ease

    i.material-icons
        vertical-align: middle
