@import 'employment'
.employeeToolbar
    .toolbar-bottom-row
        uni-toolbar-search
            flex: 0 1 20rem
            input[type=search]
                font-size: 1.25rem
                font-weight: 300

.taxCardRequest
    article
        display: flex
        align-items: flex-start
        justify-content: space-between

        tax-card-request
            flex-basis: 45%
        read-tax-card
            flex-basis: 50%

        h2
            margin: 0

        p
            margin-top: 0

.freeTextField label > span
    width: 0 !important

.freeTextFieldEmployee
    height: 8rem
    overflow-y: auto
