@import 'employment'
.employeeToolbar
    .toolbar-bottom-row
        uni-toolbar-search
            flex: 0 1 20rem
            input[type=search]
                font-size: 1.25rem
                font-weight: 300

.taxCardRequest
    padding: 1rem 0
    article
        display: flex
        align-items: flex-start
        justify-content: space-between
        padding-bottom: 0

        tax-card-request
            flex-basis: 45%
        read-tax-card
            flex-basis: 50%

        h2
            margin: 0

        p
            margin-top: 0

    footer
        padding: 0 1rem 0 0

        span
            flex: 1
            font-weight: 600
            font-size: 15px

    .main-footer
        padding-top: 1rem
        border-top: 1px solid #CCC
        margin-top: 2rem

.freeTextField label > span
    width: 0 !important

.freeTextFieldEmployee
    height: 8rem
    overflow-y: auto
