@import 'employment'

.taxCardRequestModal
    h1
        margin: 0

    p
        margin-top: 0

    uni-field
        flex-basis: 100%

        uni-radiogroup-input input[type=radio]+label
            display: block
            padding-bottom: .5rem
            margin-left: -1rem