<!-- Selection list -->
<section class="uni-container assignment-list">
    <section class="assignment-filters">
        <button (click)="setShowOnlyMine(true)" [ngClass]="{'active-filter': showOnlyMine}">
            Mine oppgaver
        </button>

        <button (click)="setShowOnlyMine(false)" [ngClass]="{'active-filter': !showOnlyMine}">
            Alle oppgaver
        </button>

        <mat-checkbox
            class="task-checkbox"
            (change)="loadTasks()"
            [(ngModel)]="showCompleted">
            Vis fullførte
        </mat-checkbox>
    </section>

    <ul class="task-list" #taskList>
        <li *ngFor="let task of tasks" (click)="selectedTask = task" [attr.aria-selected]="selectedTask?.ID === task.ID">
            <section class="assignment-info">
                <p>{{task.Title}}</p>
                <small class="assigned-to">
                    Tildelt til {{task._assignedTo}}
                </small>
                <small class="created-by">
                    Opprettet {{task._createdDate}} av {{task._assignedBy}}
                </small>
            </section>

            <section class="assignment-buttons">
                <i class="material-icons complete-task"
                    role="button"
                    title="Fullfør oppgave"
                    *ngIf="!task._completed && !task._activeApproval"
                    (click)="completeTask(task)">
                    check_circle
                </i>
            </section>
        </li>
    </ul>

    <section class="addTask">
        <button class="secondary" (click)="addTask()">
            Legg til oppgave
        </button>
    </section>
</section>

<!-- Details -->
<section class="uni-container assignment-details">
    <header>Kommentarer</header>

    <section class="assignment-details-content">
        <uni-comments
            *ngIf="selectedTask"
            [entity]="'Task'"
            [entityID]="selectedTask.ID">
        </uni-comments>
    </section>
</section>