<!-- Selection list -->
<section class="uni-container assignment-list">
    <section class="assignment-filters">
        <button (click)="setShowOnlyMine(true)" [ngClass]="{'active-filter': showOnlyMine}">
            Mine oppgaver
        </button>

        <button (click)="setShowOnlyMine(false)" [ngClass]="{'active-filter': !showOnlyMine}">
            Alle oppgaver
        </button>

        <mat-slide-toggle
            style="margin-top: .25rem; margin-left: 1rem;"
            [(ngModel)]="showCompleted"
            (change)="loadTasks()"
            [labelPosition]="'before'">
            Vis fullførte
        </mat-slide-toggle>
    </section>

    <ul class="task-list" #taskList>
        <li *ngFor="let task of tasks" (click)="selectedTask = task" [attr.aria-selected]="selectedTask?.ID === task.ID">
            <section class="assignment-info">
                <p>{{task.Title}}</p>
                <small class="assigned-to">
                    Tiltelt til {{task._assignedTo}}
                </small>
                <small class="created-by">
                    Opprettet {{task._createdDate}} av {{task._assignedBy}}
                </small>
            </section>

            <section class="assignment-buttons">
                <i class="material-icons complete-task"
                    role="button"
                    title="Fullfør oppgave"
                    *ngIf="!task._completed && !task._activeApproval"
                    (click)="completeTask(task)">
                    check_circle
                </i>
            </section>
        </li>
    </ul>

    <section class="addTask">
        <label class="task-text">
            Legg til oppgave
            <input type="text" [(ngModel)]="newTask.Title" placeholder="Oppgavetekst">
        </label>

        <label>
            Tilordne til
            <uni-select class="drop-up"
                [config]="userSelectConfig"
                [items]="users"
                [value]="currentUser"
                (valueChange)="onUserSelected($event)">
            </uni-select>
        </label>

        <button class="good" (click)="addTask()" [disabled]="!isValidInput()">
            Bekreft
        </button>
    </section>
</section>

<!-- Details -->
<section class="uni-container assignment-details">
    <header>Kommentarer</header>

    <section class="assignment-details-content">
        <uni-comments
            *ngIf="selectedTask"
            [entity]="'Task'"
            [entityID]="selectedTask.ID">
        </uni-comments>
    </section>
</section>