$recommended-tag-height: 28px

\:host
    display: inline-flex
    flex-direction: column
    background: #fff
    padding: 1.5rem 1.5rem 1rem
    border-radius: var(--section-radius)
    position: relative
    box-shadow: 0 4px 6px 0px rgba(0,0,0,.1)
    color: var(--contract-type-card-text)

    // Invisible border to avoid recommended style causing different layout
    border: 2px solid rgba(0, 0, 0, 0)

    &.recommended
        border: 2px solid var(--border-color)
        border-top-left-radius: 0

    .recommended-tag
        position: absolute
        top: -$recommended-tag-height
        left: -2px
        background: #A5E1D2
        color: #00343E
        height: $recommended-tag-height
        line-height: $recommended-tag-height
        padding: 0 .75rem
        border-top-left-radius: var(--section-radius)
        border-top-right-radius: var(--section-radius)

    .price
        margin-left: auto
        strong
            color: var(--contract-type-card-header)
            font-size: 1.1rem
            font-weight: 600

    .description
        text-align: center
        border-bottom: 1px solid var(--border-color)
        padding: .5rem

        h1
            font-weight: 500
            font-size: 1.5rem
            color: var(--contract-type-card-header)

    ul
        flex: 1
        display: grid
        justify-content: center
        list-style: none
        padding: 0 1.25rem
        li
            display: flex
            margin-top: 1rem
        svg
            flex: 0 0 auto
            fill: currentColor
            margin-right: 1rem


    .footer
        margin: 2rem auto 0
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        height: 75px

        button
            padding: 0 2rem
            margin-bottom: .5rem
