<uni-toolbar [config]="toolbarconfig"></uni-toolbar>

<section class=" application">
    <section class="splitview">
        <nav class="splitview_list">
            <uni-upload-file-button class="receipt-file-upload-button" [buttonText]="'Registrer innbetalingsfil'" (fileUploaded)="fileUploaded($event)"></uni-upload-file-button>
            <uni-table
                [resource]="lookupFunction"
                [config]="paymentBatchTableConfig"
                (rowSelected)="onRowSelected($event)">
            </uni-table>
        </nav>
        <main class="splitview_detail">
            <customer-payment-batch-details
                *ngIf="selectedPaymentBatchID"
                (paymentBatchUpdated)="paymentBatchUpdated($event)"
                (paymentBatchNavigate)="paymentBatchNavigate($event)"
                [paymentBatchID]="selectedPaymentBatchID"
                (deletePaymentBatch)="deletePaymentBatch($event)">
            </customer-payment-batch-details>
            <div *ngIf="!selectedPaymentBatchID">
                <h2>Opplasting av innbetalingsfil</h2>
                <p>
                    For å laste opp en fil med innbetalinger kan du klikke på knappen 'Registrer innbetalingsfil'.
                    Dette kan være fil av type OCR-Giro (Nets) eller Camt054C (ISO20022). 
                </p>
            </div>
        </main>
    </section>
</section>
