<div *ngIf="paymentBatchID && paymentBatch">
    <header class="detail_header">
        <h2>Detaljer betalingsbunt {{paymentBatchID}} - {{getFormattedDate(paymentBatch.CreatedAt)}} {{paymentBatchService.getStatusText(paymentBatch.StatusCode,true)}}</h2>
        <nav class="detail_header_navigation">
            <a (click)="goToPreviousBatch()" class="previous">Forrige</a>
            <a (click)="goToNextBatch()" class="next">Neste</a>
            <a (click)="deleteBatch()" *ngIf="paymentBatch.StatusCode <= 45005" class="trash">Slett betalingsbunt</a>
        </nav>
        <span>Totalbeløp: {{paymentBatch.TotalAmount}}. Antall: {{paymentBatch.NumberOfPayments}}</span>
        <div class="file-buttons">
            <button (click)="save()" class="good" *ngIf="paymentBatch.StatusCode != 45009">Lagre</button>
            <button (click)="completeCustomerPayment()" *ngIf="paymentBatch.PaymentFileID && paymentBatch.StatusCode != 45009" class="good">Registrer innbetaling</button>
            <button (click)="downloadPaymentFile()" *ngIf="paymentBatch.PaymentFileID">Last ned innbetalingsfil</button>
        </div>
    </header>
     <uni-table *ngIf="paymentTableConfig"
        [resource]="lookupFunction"
        [config]="paymentTableConfig">
     </uni-table>
</div>

<payment-relations-modal></payment-relations-modal>
<uni-confirm-modal></uni-confirm-modal>