<uni-toolbar [config]="toolbarconfig"></uni-toolbar>
<section class="application">
    <section class="splitview">
        <nav class="splitview_list">
            <uni-upload-file-button class="receipt-file-upload-button" [buttonText]="'Registrer kvitteringsfil'" (fileUploaded)="fileUploaded($event)"></uni-upload-file-button>
            <uni-table
                [resource]="lookupFunction"
                [config]="paymentBatchTableConfig"
                (rowSelected)="onRowSelected($event)">
            </uni-table>
        </nav>
        <main class="splitview_detail">
            <payment-batch-details
                *ngIf="selectedPaymentBatchID"
                (paymentBatchUpdated)="paymentBatchUpdated($event)"
                (paymentBatchNavigate)="paymentBatchNavigate($event)"
                [paymentBatchID]="selectedPaymentBatchID"
                (deletePaymentBatch)="deletePaymentBatch($event)">
            </payment-batch-details>
            <div *ngIf="!selectedPaymentBatchID">
                <h2>Opplasting av kvitteringsfil</h2>
                <p>
                    For å ferdigstille en betaling må du laste opp en kvitteringsfil fra banken. 
                    Dette kan du gjøre ved å klikke på knappen 'Registrer kvitteringsfil'.
                    Filtype som støttes er camt.054.001.02 (ISO20022)
                </p>
            </div>
        </main>
    </section>
</section>
