<div *ngIf="paymentBatchID && paymentBatch">
    <header class="detail_header">
        <h2>Detaljer betalingsbunt {{paymentBatchID}} - {{getFormattedDate(paymentBatch.CreatedAt)}} {{paymentBatchService.getStatusText(paymentBatch.StatusCode)}}</h2>
        <nav class="detail_header_navigation">
            <a (click)="goToPreviousBatch()" class="previous">Forrige</a>
            <a (click)="goToNextBatch()" class="next">Neste</a>
            <a (click)="deleteBatch()" class="trash" *ngIf="!paymentBatch.PaymentReceiptFileID">Slett betalingsbunt</a>
        </nav>
        <span>Totalbeløp: {{paymentBatch.TotalAmount}}. Antall: {{paymentBatch.NumberOfPayments}}</span>
        <div class="file-buttons">
            <button (click)="createPaymentFile()" *ngIf="!paymentBatch.PaymentFileID">Opprett betalingsfil</button>
            <button (click)="downloadPaymentFile()" *ngIf="paymentBatch.PaymentFileID">Last ned betalingsfil</button>
            <button (click)="toggleReceiptFilesVisible()" *ngIf="paymentBatch.StatusCode === 45005">{{ !receiptFilesVisible ? 'Vis kvitteringsfiler' : 'Skjul kvitteringsfiler' }}</button>
            <uni-upload-file-button [buttonText]="'Last opp kvitteringsfil'" (fileUploaded)="receiptFileUploaded($event)" *ngIf="paymentBatch.PaymentFileID && paymentBatch.StatusCode !== 45005"></uni-upload-file-button>
        </div>
        <section *ngIf="receiptFilesVisible">
            <uni-attachments [entity]="'PaymentBatch'" [entityID]="paymentBatch?.ID" [downloadAsAttachment]="downloadFilesAsAttachments" [headerText]="'Kvitteringsfiler tilknyttet denne bunten'"></uni-attachments>
        </section>
    </header>
     <uni-table *ngIf="paymentTableConfig"
        [resource]="lookupFunction"
        [config]="paymentTableConfig">
     </uni-table>
</div>

<payment-relations-modal></payment-relations-modal>
<uni-confirm-modal></uni-confirm-modal>