.toolbar-save-button-upload
    display: inline-block
    height: 2rem

    label
        color: #fff
        background: $uni-color-good
        text-shadow: none
        border-radius: 3px
        cursor: pointer
        min-width: 8rem
        box-sizing: border-box
        height: 2rem
        padding: 4px 16px

        &:hover
            background: darken($uni-color-good, 5%)

        input[type=file]
            @extend %visuallyHidden

.toolbar-save-list
    label
        -webkit-appearance: none
        width: 14rem
        cursor: pointer

        input[type=file]
            @extend %visuallyHidden

uni-file-upload-modal
    article
        text-align: center
        label
            padding: 1rem
            border: 1px solid #b9b9b9
            border-radius: 2rem
            &:hover
                background-color: #f3f3f3
    .upload-modal-list-container
        .unpload-file-modal-error-message-container
            color: red !important
            display: flex
            small
                margin-left: .5rem
                color: red

        .files-counter
            font-weigth: 500
            font-size: .9rem
        ul
            list-style: none
            text-align: left
            font-size: .9rem
            max-height: 20rem
            position: relative

            &.file-selected-list-header
                li
                    border-bottom: 1px solid #b9b9b9
            li
                height: 3rem

                div
                    display: flex
                    height: 3rem
                    align-items: center
                    span
                        width: 8rem
                        &:first-of-type
                            flex: 1
                    i
                        font-size: 20px
                        margin-top: 1px
                        color: rgba(0,0,0,.5)
                        margin-right: .3rem
                        cursor: pointer
                        margin-right: 1rem
