
uni-file-upload-modal
    article
        text-align: center
        label
            padding: 1rem
            border: 1px solid #b9b9b9
            border-radius: 2rem
            &:hover
                background-color: var(--dropdown-select-background)
    .upload-file-modal-error-message-container
        color: red !important
        display: flex
        small
            margin-left: .5rem
            color: red

    .files-counter
        font-weigth: 500
        font-size: .9rem
    ul
        list-style: none
        text-align: left
        font-size: .9rem
        max-height: 20rem
        position: relative

        &.file-selected-list-header
            li
                border-bottom: 1px solid #b9b9b9
        li
            height: 3rem

            div
                display: flex
                height: 3rem
                align-items: center
                span
                    width: 8rem
                    &:first-of-type
                        flex: 1
                i
                    font-size: 20px
                    margin-top: 1px
                    color: rgba(0,0,0,.5)
                    margin-right: .3rem
                    cursor: pointer
                    margin-right: 1rem

recaccount-file-upload-modal
    span.info-text
        display: block
        font-size: 15px
        margin: 0 0 1.5rem

    uni-attachments
        display: flex
        flex-direction: column
        align-items: center

        label
            padding: 1rem
            border: 1px solid #b9b9b9
            border-radius: 2rem
            &:hover
                background-color: var(--dropdown-select-background)
