<uni-toolbar
    [config]="projectService?.toolbarConfig | async"
    [saveactions]="projectService?.saveActions | async"
    [commentsConfig]="commentsConfig">
</uni-toolbar>

<section class="application">
    <uni-tabs
        [tabs]="childRoutes"
        [queryParamsHandling]="'preserve'"
        [useRouterLinkTabs]="true"
        (tabClick)="childRouteChange($event)">
    </uni-tabs>

    <section class="splitview">
        <nav class="small-split-view-list splitview_list">
            <!-- Active/all/mine select -->
            <mat-form-field>
                <mat-select [value]="currentFilter" (valueChange)="onActiveFilterChange($event)" placeholder="Prosjekter">
                    <mat-option *ngFor="let filter of filters" [value]="filter">
                        {{ filter.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <input type="search" [(ngModel)]="projectSearchFilterString" [formControl]="searchControl" />
            <ul>
                <cdk-virtual-scroll-viewport itemSize="65" id="scrolling-viewport">
                    <li *cdkVirtualFor="let project of filteredProjects"
                        [class.selected]="project.ID === activeProjectID"
                        (click)="onProjectSelect(project)">

                        <span>
                            {{ project.Name }}
                        </span>
                        <span>
                            Prosjektnr: &nbsp; {{ project.ProjectNumber }}
                        </span>
                    </li>
                </cdk-virtual-scroll-viewport>
            </ul>
        </nav>

        <main class="splitview_detail">
            <router-outlet></router-outlet>
        </main>
    </section>
</section>

