<uni-toolbar
    [config]="projectService?.toolbarConfig | async"
    [saveactions]="projectService?.saveActions | async"
    [commentsConfig]="commentsConfig">
</uni-toolbar>

<section class="application">
    <uni-tabs
        [tabs]="childRoutes"
        [queryParamsHandling]="'preserve'">
    </uni-tabs>

    <section class="splitview">
        <nav class="splitview_list">
            <uni-tabs
                [tabs]="filters"
                [activeIndex]="activeFilterIndex"
                (activeIndexChange)="onActiveFilterChange($event)">
            </uni-tabs>

            <uni-table
                [resource]="lookupFunction"
                [config]="tableConfig"
                (rowSelected)="onRowSelected($event)"
                (dataLoaded)="onTableReady()"
                (pageChange)="onPageChange($event)">
            </uni-table>
        </nav>

        <main class="splitview_detail">
            <router-outlet></router-outlet>
        </main>
    </section>
</section>

