project-hourtotals
    .hourtotals-toolbar
        display: flex
        align-items: flex-start
        justify-content: space-between
        width: 100%
        margin-bottom: 1rem
        white-space: nowrap

    table.report
        width: 100%
        min-width: pxToRem(1000)
        border-collapse: collapse
        table-layout: fixed

        tr:nth-child(even)
            background-color: lighten($uni-color-scale9,5%)

        th
            border-bottom: 1px solid $uni-color-scale6
            padding-bottom: pxToRem(5)

        th.prc, td.prc
            width: 3em
            background-color: lighten($uni-color-good,72%)

        th.prc
            border-width: pxToRem(1) pxToRem(1) pxToRem(1) pxToRem(1)
            border-style: solid
            border-color: $uni-color-scale8

        td.left
            text-align: left
            padding-left: 1em

        td
            padding: pxToRem(2) pxToRem(2) pxToRem(2) pxToRem(2)
            border-left: 1px solid $uni-color-scale8
            border-bottom: 1px solid $uni-color-scale8
            text-align: center
            overflow: hidden

        tr td:first-of-type, th:first-of-type
            width: 15em
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis
            border-left: 0
            text-align: left