
.number-series-select
    padding: 1rem 2rem 0
    display: flex
    align-items: center
    margin-bottom: 1rem

    label
        max-width: 35rem
        margin-bottom: 0

    i
        color: var(--color-c2a)
        margin-left: 2rem
        cursor: pointer

.number-series-table-container
    width: calc(100% - 4rem)
    margin: .5rem 2rem 0
    background-color: #ffffff
    box-sizing: border-box
    padding: .5rem 2rem

    .button-section
        display: flex

        span.divider
            flex: 1

        mat-slide-toggle
            font-size: 15px
            cursor: pointer
            width: 16rem

        i
            color: var(--color-c2a)
            cursor: pointer