<section class="splitview">

    <nav class ="splitview_list">
        <uni-table *ngIf="series"
                [config]="seriesTableConfig"
                [resource]="series"
                (rowSelected)="onSerieSelected($event)">
        </uni-table>
    </nav>

    <main class="splitview_detail">
        <fieldset>
            <legend>{{currentSerie?.Name}}</legend>

            <section class="uni-checkbox">
                <input type="checkbox" class="toggle" [checked]="allYears" />
                <label (click)="toggleAllYears()" class="toggle" tabindex="-1">
                    Vis alle regnskapsår
                </label>
            </section>

            <uni-table
                [config]="listTableConfig"
                [resource]="current"
                (rowSelectionChanged)="onRowSelectionChange($event)">
            </uni-table>
        </fieldset>
    </main>

</section>

<uni-save class="fixed-position" [actions]="saveactions"></uni-save>
