<section class="application" style="background-color: #fff; padding: 1rem;">
    <mat-form-field style="width: 25rem; margin: 1rem 1rem 0 0;">
        <mat-select placeholder="Nummerserie" [value]="currentSerie" (valueChange)="onSerieSelected($event)">
            <mat-option *ngFor="let serie of series" [value]="serie">
                {{ serie.Name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-slide-toggle
        style="margin-bottom: 1rem;"
        [(ngModel)]="allYears"
        (change)="toggleAllYears($event)"
        [labelPosition]="'before'">
        Vis alle regnskapsår
    </mat-slide-toggle>

    <uni-table
        [config]="listTableConfig"
        [resource]="current"
        (rowSelectionChanged)="onRowSelectionChange($event)">
    </uni-table>
</section>
