<section role="dialog" class="uni-redesign uni-modal">
    <header>Opprett nytt selskap</header>
    <article>
        <section *ngIf="busy" class="modal-spinner">
            <mat-spinner class="c2a"></mat-spinner>
        </section>

        <mat-horizontal-stepper [linear]="true" (selectionChange)="onStepChange($event)" #stepper [@.disabled]="true">
            <mat-step label="Fyll inn selskapsinformasjon" [completed]="companyInfo.valid">
                <uni-select-company
                    *ngIf="currentPage === PageType.selectCompany"
                    [(companyInfo)]="companyInfo"
                ></uni-select-company>
            </mat-step>

            <mat-step label="Velg lisens" [completed]="contractID > 0">
                <uni-select-license
                    *ngIf="currentPage === PageType.selectLicense"
                    [(contractID)]="contractID"
                ></uni-select-license>
            </mat-step>

            <mat-step label="Velg produkter" [completed]="this.selectedProductsNames.length > 0">
                <uni-select-products
                    *ngIf="currentPage === PageType.selectProducts"
                    [(selectedProductsNames)]="selectedProductsNames"
                ></uni-select-products>
            </mat-step>
        </mat-horizontal-stepper>
    </article>

    <footer>
        <button class="back"
            (click)="stepper.previous()"
            [disabled]="currentPage === PageType.selectCompany">
                Tilbake
        </button>

        <button class="c2a"
            *ngIf="currentPage < PageType.selectProducts"
            (click)="stepper.next()"
            [disabled]="!isCurrentStepValid()">
                Neste
        </button>

        <button class="good"
            *ngIf="currentPage === PageType.selectProducts"
            (click)="createCompany()">
                Opprett selskap
        </button>


        <button class="cancel" (click)="close()">Avbryt</button>
    </footer>
</section>
