.uni-modal
    width: 60rem
    max-width: 95%

small.bad
    display: block
    margin-top: 1rem

\:host ::ng-deep  ul.selection-list
    list-style: none
    li
        display: flex
        height: 3.5rem
        align-items: center
        cursor: pointer
        background: #f7f7f7
        margin-top: .5rem
        padding: 0 1rem
        font-size: 14px
        border-radius: 2px

        i.material-icons
            margin-right: .5rem
            color: #8C97AB

        &.selected
            i.material-icons
                color: #1565c0