\:host
    display: block
    padding: 2rem
    font-family: var(--font-family)
    font-size: 15px
    background: #fff

    > span
        display: block
        text-align: center
        font-weight: 300
        font-size: 17px
        color: #455463

.icon-wrap
    display: flex
    justify-content: center
    i
        font-size: 1.5rem

table
    border-collapse: collapse
    width: 100%
    th
        text-align: left
        font-weight: 500
    tr
        cursor: pointer
        & + tr
            border-top: 1px solid var(--border-color)
        &:hover
            background: #f9f9f9
    td
        padding: .75rem 0

    td.delete-plan
        color: rgba(0, 0, 0, .65)
        text-align: center
        &:hover
            color: var(--color-bad)
        i.material-icons
            vertical-align: middle
