annual-settlement-disposition-including-tax-toolbar-component
    .title-section .toolbar-header h1
        overflow: visible
    .material-icons
        color: #5C8E56
        position: relative
        left: 120px
        top: 6px
        cursor: pointer
annual-settlement-disposition-including-tax-component
    .row
        margin-left: 0
        margin-right: 0
    .alert
        &.good > i.material-icons
            color: #5C8E56
        .title
            font-style: normal
            font-weight: 600
            font-size: 17px
            line-height: 29px
            letter-spacing: 0.15px
