$bg-color: #F7F7F7
$bg-darker-color: #F2F2F2
$dark-text-color: #1D2B33
$arrow-color: #8C96A9
$light-text-color: #707D90
$primary-button-color: #1565C0
$good-color: #01A901
$warn-color: #F5A623
$bad-color: #F53B57

*:not(.material-icons),h1,h2,h3
    font-family: var(--font-family) !important
