$text-purple: #997baf
$text-light-blue: #8ebeda
$color-red: #ce6061
$color-green: #479354

@keyframes placeholder
    from
        transform: scaleX(0)
        opacity: 0
    to
        transform: scaleX(1)
        opacity: 1

@keyframes rotateIn
    from
        transform: rotate(20deg)
        opacity: 0
    to
        transform: rotate(45deg)
        opacity: 1

@keyframes fadeIn
    from
        opacity: 0
    to
        opacity: 1

.poster_tease
    @include unigrid(14)
    display: flex
    height: 15rem
    margin: 0 auto

.poster_tease_widget_2
    flex-grow: 1
    width: 25%
    height: 100%
    padding: 1rem
    border-left: pxToRem(1) solid $uni-color-negative
    box-sizing: border-box

.poster_tease_widget
    flex-grow: 1
    width: 25%
    height: 100%
    padding: 1rem
    border-left: pxToRem(1) solid $uni-color-negative
    box-sizing: border-box

    &:first-of-type
        border-left: none
        display: flex
        flex-direction: column
        justify-content: space-around

    &:nth-of-type(2)
        padding: 1rem 0 0 0

    &:nth-of-type(3)
        display: flex
        flex-direction: column
        align-content: center
        justify-content: space-around

    &:nth-of-type(4)
        position: relative
        display: flex
        justify-content: space-around

%posterPlaceholder
    background: transparentize($uni-color-C2A, .9)
    animation: 1000ms ease placeholder

%posterElemCenter
    margin: 0 auto

.widget_avatar
    @extend %posterElemCenter
    height: 7rem
    width: 7rem
    background: url('https://pbs.twimg.com/profile_images/29139742/hasselhoff-david-photo-xl-david-hasselhoff-6210194_400x400.jpg') no-repeat center center
    background-size: cover
    border-radius: 100%
    margin-bottom: -15px

.widget_headline
    @extend %posterPlaceholder
    @extend %posterElemCenter
    height: 1.8rem
    line-height: 1.8rem
    vertical-align: middle
    text-align: center
    width: 90%
    color: $text-light-blue
    background-color: transparent
    margin-top: 25px

.widget_subhead
    @extend %posterPlaceholder
    @extend %posterElemCenter
    height: 1.4rem
    line-height: 1.4 rem
    vertical-align: middle
    text-align: center
    background-color: transparent
    margin-top: -10px

.widget_fixed_pay_headline
    margin: 50px 0 0 0
    font-size: 2.2rem
    text-align: center
    font-weight: 500

.widget_fixed_pay_subhead
    margin: 0
    text-align: center

.widget_fixes_pay_number
    color: $text-purple
    text-align: center
    font-size: 2.4rem
    font-weight: 500
    margin-top: 5px

.widget_triple_notifier
    display: block
    width: 90%
    margin-left: 5%
    border-radius: 3px
    height: 25%
    text-align: center
    border: 1px solid transparent
    margin-bottom: 3%

    &:first-of-type
        margin-top: 5%

.widget_notifier_error
    background-color: $color-red
    color: #fff

.widget_notifier_success
    background-color: transparent
    color: $color-green
    border: 1px solid $color-green

.employment_percent
    font-size: 4rem
    margin: 20px 0 0 0
    font-weight: 400
    text-align: center
    color: $text-purple

.employment_title
    font-size: 1.1rem
    text-align: center
    font-weight: 400
    margin: 15px

.employment_active
    font-size: 3rem
    text-align: center
    font-weight: 300
    margin: 0

.employment_number_of_active
    font-size: 0.8rem
    text-align: center
    color: $text-purple
    cursor: pointer

.settings_orgnnumber_text
    font-size: 2.8rem
    font-weigth: 400
    text-align: center
    margin: 20px

.settings_orgnumber_number
    font-size: 2.8rem
    font-weight: 400
    text-align: center
    margin: 0
    color: $text-purple

.settings_businesses
    font-size: 1.4rem
    text-align: center
    margin: 10px
    font-weight: 600

.widget_randomNumber
    margin: 0
    padding: 0
    width: 100%
    text-align: center
    font-size: 7rem
    font-weight: 700
    color: transparentize($uni-color-C2A, .9)

.poster_explain
    background: none
    position: absolute
    right: 0
    top: 0
    margin: .5rem 0
    text-shadow: none
    box-shadow: none
    border: pxToRem(2) solid transparentize($uni-color-C2A, .7)
    color: transparentize($uni-color-C2A, .5)
    transition: all ease 300ms

    &:hover,
    &:focus
        background: $uni-color-negative
        color: $uni-color-C2A
        border-color: $uni-color-C2A

.widget_checkmark
    position: relative
    transform: rotate(45deg)
    top: -6rem
    left: -4rem
    animation: 1s ease-in rotateIn

    &:before,
    &:after
        content: ''
        display: block
        position: absolute
        background: #d1e0eb
        border-radius: pxToRem(3)

    &:before
        height: 1rem
        width: 5rem
        top: 10rem
        left: 3rem

    &:after
        width: 1rem
        height: 8rem
        top: 3rem
        left: 7rem

.poster_explainer
    width: 100%
    position: absolute
    height: 15rem
    background: transparentize(lighten($uni-color-scale9, 5%), .5)
    z-index: 1

    & > *:not(button)
        @include unigrid-flush(14)
        margin: 0 auto
        padding: .5rem 1rem
        position: relative

    button.close
        position: absolute
        right: 0
        z-index: 1