\:host
    display: grid
    article
        display: grid
        grid-template-columns: repeat(3, 1fr)
        column-gap: 2rem
        padding-top: 1rem
        .uni-container
            padding: 1rem 1.5rem 2rem
            border-color: var(--color-c2a)
        p, h2
            padding: 0
        h2
            padding-top: 0
            margin-top: 0
            line-height: normal
        h1,h2
            font-weight: 500
        .number
            color: var(--color-c2a)
            font-size: 4rem
            text-align: center
            padding-top: 1rem
            padding-bottom: 2rem
            margin: 0
            font-weight: 700
        .info-header, .info-text
            padding: 0
            margin: 0
        .info-header
            padding-top: 1rem
    .info-section
            position: relative
            padding: 0rem 2.5rem 1rem 4rem
            background-color: var(--color-good)
            border-radius: 2px
            .info-text
                position: relative
                top: 20px
                a
                    text-decoration: underline
            .material-icons.info
                position: absolute
                top: 20px
                left: 20px
                color: var(--color-c2a)
            .material-icons.close
                position: absolute
                top: 20px
                right: 20px
                color: var(--color-c2a)
                cursor: pointer
