<nav class="navbar_hamburger" (click)="openBurgerMenu()">
    Meny

    <ul class="navbar_menu">

        <li class="listElement is-active">
            Nøkkeltall
            <ul>
                <h3>Alt om deres økonomi</h3>
                <li [router-link]="[routes.kitchensink.name]">Nøkkeltall</li>
                <li [router-link]="[routes.uniFormDemo.name]">Salgstall</li>
                <li [router-link]="[routes.dashboard.name]">Regnskap</li>
            </ul>
        </li>

        <li class="listElement">
            Salg
            <ul>
                <h3>Utgående salg</h3>
                <li [router-link]="[routes.kitchensink.name]">Faktura</li>
                <li [router-link]="[routes.uniFormDemo.name]"><a href="flyordre.html">Ordre</a></li>
                <li [router-link]="[routes.dashboard.name]">Tilbud</li>
                <li [router-link]="[routes.login.name]">Innbetaling</li>
                <li [router-link]="[routes.uniFormDemo.name]">Purring</li>
                <li [router-link]="[routes.kitchensink.name]">Kunder</li>
                <li [router-link]="[routes.dashboard.name]">Produkter</li>
                <li [router-link]="[routes.uniFormDemo.name]">Prosjekter</li>
            </ul>
        </li>

        <li class="listElement">
            Regnskap
            <ul>
                <h3>Orden i bøkene</h3>
                <li [router-link]="[routes.kitchensink.name]">Fakturamottak</li>
                <li [router-link]="[routes.dashboard.name]">Bilagsføring</li>
                <li [router-link]="[routes.login.name]">Hovedbok</li>
                <li [router-link]="[routes.kitchensink.name]">Forespørsel</li>
            </ul>
        </li>

        <li class="listElement">
            Lønn
            <ul>
                <h3>Lønn og ansatte</h3>
                <li [router-link]="[routes.kitchensink.name]">Ansatt</li>
                <li [router-link]="[routes.dashboard.name]">Stillinger</li>
            </ul>
        </li>

        <li class="listElement">
            Rapporter
            <ul>
                <h3>Oversikt på papir</h3>
                <li [router-link]="[routes.dashboard.name]">Rapportoversikt</li>
            </ul>
        </li>

    </ul>
</nav>