<nav class="navbar_hamburger" (click)="burgerIsOpen = !burgerIsOpen" [ng-class]="{'-is-open': burgerIsOpen}">
	<ul *ng-if="burgerIsOpen">
		<a [router-link]="[routes.kitchensink.name]"><li>Kitchensink<span class="close"></span></li></a>            <a [router-link]="[routes.login.name]"><li>Login<span class="close"></span></li></a>
		<a [router-link]="[routes.dashboard.name]"><li> Dashboard<span class="close"></span></li></a>
		<a [router-link]="[routes.uniFormDemo.name]"><li>UniFromDemo<span class="close"></span></li></a>
		<a [router-link]="[routes.kitchensink.name]"><li>Kitchensink<span class="close"></span></li></a>
	</ul>
</nav>