.standard-vacation-pay-rate
    margin-left: .5rem
    h2
        margin: 0
    p
        margin: 0
    .uni-label
        margin-bottom: 1rem

.label-header
    h3
        font-size: 1.2rem
        font-weight: normal
        margin: 0
    margin: .5rem 0
