<uni-form [attr.aria-busy]="busy" class="companySettings" [config]="formConfig$" [fields]="fields$" [model]="mainOrganization$" (changeEvent)="mainOrgChange($event)"></uni-form>
<section class="validation error" *ngIf="error"><strong>Ops!</strong> Noe gikk galt. Lukk innstillinger og prøv igjen</section>
<section class="collapsable" [ngClass]="{'-is-open':showSubEntities}">
    <h4 (click)="toggleShowSubEntities()">Virksomheter</h4>
    <sub-entity-list class="collapsable-content" (saveIsDisabled)="saveButtonIsDisabled($event)"></sub-entity-list>
</section>
<uni-form [attr.aria-busy]="busy" class="companySettings" [config]="accountformConfig$" [fields]="accountfields$" [model]="companySalary$" (changeEvent)="companySalarychange($event)"></uni-form>
<uni-save [actions]="saveactions"></uni-save>
<grants-modal></grants-modal>
<freeamount-modal></freeamount-modal>
<uni-confirm-modal></uni-confirm-modal>
