.splitview
    margin-top: 0.5rem
    padding: 1rem

    nav
        border: none
        max-width: none
    main.splitview_detail
        flex: 0
        max-width: none
        min-width: none
        width: 25rem
        border: none
