<section class="splitview" [attr.aria-busy]="busy" style="width: 100%;">
    <nav class="splitview_list">
        <ag-grid-wrapper
            class="borders"
            [resource]="allSubEntities"
            [config]="subEntityListConfig"
            (rowDelete)="removeSubEntity($event)"
            (rowClick)="rowSelected($event)">
        </ag-grid-wrapper>

        <!-- <combo-button style="margin-top: 1rem;" [actions]="actions"></combo-button> -->
    </nav>

    <main class="splitview_detail">
        <sub-entity-details
            [currentSubEntity]="currentSubEntity">
        </sub-entity-details>
    </main>

</section>
