<section class="init-header">
    <img class="logo" src="themes/logo.svg">

    <a *ngIf="!isAuthenticated && showTryForFree" routerLink="/init/sign-up">Prøv gratis i 30 dager</a>
    <a *ngIf="!isAuthenticated && !showTryForFree" routerLink="/init/login">Logg inn</a>
    <a *ngIf="isAuthenticated" (click)="logout()">Logg ut</a>
</section>

<section class="init-main" [ngClass]="isSrEnvironment ? 'ext01-init' : 'ue-init'">
    <section class="init-bg"
        [ngStyle]="{'background': background, height: backgroundHeight}">
    </section>

    <section class="illustration-container">
        <img *ngIf="illustration" [src]="illustration">
    </section>

    <section class="content-container">
        <router-outlet></router-outlet>
    </section>
</section>

<section class="init-footer">
    Levert av Uni Micro
</section>