<section class="init-container">

    <section class="marketing-content">
        <h1>Velkommen som bruker av Uni&nbsp;Economy</h1>
        <p>Uni&nbsp;Economy er et webbasert økonomisystem, utviklet og levert av Uni&nbsp;Micro&nbsp;AS.</p>
        <p>Vi ønsker deg en god arbeidsdag.</p>
        <p>Mvh Uni&nbsp;Micro&nbsp;AS</p>
    </section>

    <section class="view-content">
        <img src="../../../assets/ue-logo.png" alt="Uni Economy logo">

        <router-outlet></router-outlet>
    </section>

</section>
