<section class="init-header">
    <img class="logo" [src]="logoUrl">
    <a *ngIf="isAuthenticated" (click)="authService.signoutRedirect()">
        Logg ut
    </a>

    <a *ngIf="!isAuthenticated && showTryForFree" routerLink="/init/sign-up">Prøv gratis i 30 dager</a>
</section>

<section *ngIf="useBackground1" class="init-bg init-bg1"><img [src]="background1"></section>
<section *ngIf="!useBackground1" class="init-bg init-bg2"><img [src]="background2"></section>

<section class="init-main">
    <router-outlet></router-outlet>
</section>

<section class="init-footer">
    Levert av Uni Micro
</section>