<article class="authentication-component">
	<img src="../../../assets/uni-logo.png" alt="Uni Economy logo">
    
	<section [hidden]="loginSuccess">
        <form (submit)="login($event)">
            <small class="validation error" *ngIf="errorMessage.length">{{errorMessage}}</small>
            <label for="">
                Brukernavn
                <input type="text" [disabled]="working" [(ngModel)]="credentials.username" placeholder="Brukernavn">
            </label>

            <label for="">
                Passord
                <input type="password" [disabled]="working" [(ngModel)]="credentials.password" placeholder="Passord">
            </label>
            
            <button class="c2a" [attr.aria-busy]="working" [disabled]="working">Logg inn</button>
        </form>
                
        <p *ngIf="!loginSuccess">
            <a [routerLink]="['Signup']">Registrer ny bruker</a><br>
            <a [routerLink]="['ResetPassword']">Glemt passord</a>
        </p>
    </section>
    
    
    
    <span [hidden]="!loginSuccess" class="company_select">
        <select style="display: none;"></select> <!-- kendo dropdownlist will compile here -->        
    </span>  
	
</article>
