<article class="authentication-component">
    <img src="../../../assets/uni-logo.png" alt="Uni Micro logo">
    
    <small class="validation error" *ngIf="errorMessage.length">{{errorMessage}}</small>
    <small class="validation good" *ngIf="successMessage.length">{{successMessage}}</small>
    <small class="validation good" *ngIf="passwordChanged">
        Passord har blitt endret. <a [routerLink]="['Login']">Gå til innlogging</a>.
    </small>

    <section *ngIf="!code || !userid">        
        <form [ngFormModel]="emailForm" (ngSubmit)="sendResetEmail()" #f="ngForm">
            <label>
                Epost
                <input type="email" ngControl="email" placeholder="Epost" [disabled]="busy || emailSent">
            </label>
            <button type="submit" [attr.aria-busy]="busy" [disabled]="!f.form.valid || busy || emailSent" class="c2a" >Tilbakestill passord</button>
        </form>
    </section>
    
    <section *ngIf="code && userid">        
        <form [ngFormModel]="passwordForm" (ngSubmit)="resetPassword()" #f="ngForm">
            <label>
                Passord
                <input type="password" ngControl="password" placeholder="Passord">
            </label>

            <label>
                Bekreft passord
                <input type="password" ngControl="confirmPassword" placeholder="Bekreft passord">
            </label>

            <button type="submit" [attr.aria-busy]="busy" [disabled]="!f.form.valid || !passwordsMatch || busy" class="c2a">Change password</button>
        </form>
    </section>

    <p><a [routerLink]="['Login']">Tilbake til innlogging</a></p>
        
</article>