<!-- Source select -->
<mat-form-field style="margin-right: 1rem;">
    <mat-select [value]="currentSource" (valueChange)="onSourceClick($event)" placeholder="Visning">
        <mat-option *ngFor="let source of sources" [value]="source">
            {{ source.label }}
        </mat-option>
    </mat-select>
</mat-form-field>

<!-- Period select -->
<mat-form-field>
    <mat-select [value]="currentFilter" (valueChange)="onFilterClick($event)" placeholder="Periode">
        <mat-option *ngFor="let filter of filters" [value]="filter">
            {{ filter.label }}
        </mat-option>
    </mat-select>
</mat-form-field>

<section class="timeentry-scrollview" [attr.aria-busy]="busy">
    <table class="timeentriesTable" *ngIf="config?.items?.length">
        <thead><tr>
            <th> </th>
            <th class="right" *ngFor="let col of config.columns">{{col.label}}</th>
            <th class="right">Sum</th>
        </tr></thead>
        <tbody>
            <tr *ngFor="let item of config.items">
                <td>{{item[currentSource.pivotResultColName]}}</td>
                <td class="right" *ngFor="let col of config.columns">{{item[col.name] | min2hours:'decimal0' }}</td>
                <td class="right sumright">{{item.sum | min2hours:'decimal0'}}</td>
            </tr>
            <tr>
                <td class="sum">Totalsum</td>
                <td class="right sum" *ngFor="let col of config.columns">{{config.sums[col.name] | min2hours:'decimal0' }}</td>
                <td class="right sum">{{config.sums.sum | min2hours:'decimal0'}}</td>
            </tr>
        </tbody>
    </table>

    <small *ngIf="!config?.items?.length">
        Ingenting å vise
    </small>
</section>

