<section class="filter-row">
    <section>
        <span class="dropdown-toggle" #sourceToggle>
            <strong>Visning:</strong> {{currentSource?.label}}
            <i class="material-icons">expand_more</i>
        </span>

        <dropdown-menu [trigger]="sourceToggle" [minWidth]="'12rem'">
            <ng-template>
                <section *ngFor="let source of sources" (click)="onSourceClick(source)" class="dropdown-menu-item">
                    {{source.label}}
                </section>
            </ng-template>
        </dropdown-menu>
    </section>

    <section>
        <span class="dropdown-toggle" #periodToggle>
            <strong>Periode:</strong> {{currentFilter?.label}}
            <i class="material-icons">expand_more</i>
        </span>

        <dropdown-menu [trigger]="periodToggle" [minWidth]="'12rem'">
            <ng-template>
                <section *ngFor="let filter of filters" (click)="onFilterClick(filter)" class="dropdown-menu-item">
                    {{filter.label}}
                </section>
            </ng-template>
        </dropdown-menu>
    </section>

    <section class="pull-right">
        <span class="dropdown-toggle" #chartToggle>
            {{chart?.label || 'Diagram'}}
            <i class="material-icons">expand_more</i>
        </span>

        <dropdown-menu [trigger]="chartToggle" [minWidth]="'12rem'">
            <ng-template>
                <section *ngFor="let crt of charts" (click)="onChartFilterClick(crt)" class="dropdown-menu-item">
                    {{crt.label}}
                </section>
            </ng-template>
        </dropdown-menu>
    </section>

    <a (click)="showHideChart()">
        {{ showChart ? 'Skjul' : 'Vis' }} diagram
    </a>
</section>


<div style="display: flex;" [attr.aria-busy]="busy">
    <div style="flex: 1" id="totals-grid-container">
        <ag-grid-wrapper
            [resource]="tableData"
            [config]="tableConfig">
        </ag-grid-wrapper>
    </div>

    <div style="flex: 1; margin-left: 2rem;" *ngIf="showChart">
        <section>
            <canvas #worktypeChart style="height: 300px !important;" id="myChart"></canvas>
        </section>
    </div>
</div>