<h2>Webhooks</h2> Webhook teknologi tilbyr mulighet for integrering third-party web services i Uni Economy.
<br/>
<br/>
<section class="application" [attr.aria-busy]="isBusy">
    <div *ngIf="!isPermitted" class="enable-webhooks">
        Du har ikke tilgang til webhooks.
    </div>
    <div *ngIf="isPermitted">
        <div *ngIf="!isEnabled">
            <div class="enable-webhooks">
                Du har ikke aktivert web hooks for dette selskapet.
                <br/>
                <button class="new-webhook" (click)="enableWebHooks()">Aktiver</button>
            </div>
        </div>
        <div *ngIf="isEnabled">
            <table class="webhookTable">
                <tr>
                    <td class="col1">
                        <label>
                            Objektiv
                            <uni-select [config]="objectiveSelectConfig"
                                        [items]="objectives"
                                        (valueChange)="onObjectiveSelectForNewSubscription($event)"
                                        [value]="getObjectiveName(subscription.ObjectiveId)">
                            </uni-select>
                        </label>
                    </td>
                    <td class="col2">
                        <label>
                            Handling
                            <uni-select [config]="actionSelectConfig"
                                        [items]="actions"
                                        (valueChange)="onActionSelectForNewSubscription($event)"
                                        [value]="getActionName(subscription.ActionId)">>
                            </uni-select>
                        </label>
                    </td>
                    <td class="col3">
                        <label>
                        URL
                        <input type="text" id="url" [(ngModel)]="subscription.Url" (change)="urlChange($event)">
                    </label>
                    </td>
                    <td class="col4">
                        <label>
                        Beskrivelse
                        <input type="text" id="description" [(ngModel)]="subscription.Name" (change)="descriptionChange($event)">
                    </label>
                    </td>
                    <td class="col5">
                        <button class="new-webhook" (click)="onSubmit()" [disabled]="isSubmitDisabled()">Legg til</button>
                    </td>
                </tr>
            </table>
            <br/>
            <h3>Eksisterende webhook integrasjoner</h3>
            <table class="webhookTable">
                <tr *ngFor="let item of subscriptions">
                    <template [ngIf]="item.State !== 2">
                        <td class="col1">
                            <label>
                                Objektiv
                                <uni-select [config]="objectiveSelectConfig"
                                            [items]="objectives"
                                            (valueChange)="onObjectiveSelectForExistingSubscription(item, $event)"
                                            [value]='getObjectiveName(item.ObjectiveId)'>
                                </uni-select>
                            </label>
                                </td>
                                <td class="col2">
                                    <label>
                                Handling
                                <uni-select [config]="actionSelectConfig"
                                            [items]="actions"
                                            (valueChange)="onActionSelectForExistingSubscription(item, $event)"
                                            [value]='getActionName(item.ActionId)'>
                                </uni-select>
                            </label>
                                </td>
                                <td class="col3">
                                    <label>
                                URL
                                <input type="text" [(ngModel)]="item.Url" (blur)="updateSubscription(item)">
                            </label>
                                </td>
                                <td class="col4">
                                    <label>
                                Beskrivelse
                                <input type="text" [(ngModel)]="item.Name" (blur)="updateSubscription(item)">
                            </label>
                        </td>
                        <td class="col5">
                            <table class="embeddedWebHookTable">
                                <tr>
                                    <td class="col5a">
                                        <input class="toggle" type="checkbox" id="{{item.id}}" [ngModel]="item.Enabled" (ngModelChange)="onToggle(item)" />
                                        <label attr.for="{{item.id}}" class="toggleWebHook">&nbsp;</label>
                                    </td>
                                    <td class="col5b">
                                        <button class="delete-webhook" (click)="onDeleteSubscription(item) ">&nbsp;</button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </template>
                </tr>
            </table>
            <uni-save class="fixed-position" [actions]="saveactions"></uni-save>
        </div>
    </div>
</section>
