article
    display: flex
    justify-content: space-between
    uni-reconciliation-request
        flex-basis: 49%
    uni-altinn-receipt-list
        flex-basis: 49%
    @media (max-width: 900px)
        flex-direction: column

