<h2>Firmainnstillinger</h2>
<article *ngIf="company">
    <uni-form class="companySettings" (uniFormSubmit)='onSubmit($event)' [config]='form'></uni-form>
</article>
<section class="error" *ngIf="error" style="background-color: #fbe4e1; color:#a90000; padding: 5px;"><strong>Ops!</strong> Noe gikk galt. Lukk innstillinger og prøv igjen</section>

<section>
    <br />
    <i>Test knapper før opprettelse av klientdata er helt klart</i><br>
    <button (click)="syncAS()">Synkroniser kontoplan</button>
    <button (click)="syncVat()">Synkroniser mva</button>
    <button (click)="syncCurrency()">Last ned valuta</button>
</section>