<uni-toolbar [config]="{ title: 'Firmaoppsett' }" [saveactions]="saveActions"></uni-toolbar>

<section class="container-fluid uni-grid-container">
    <section class="row form-row last">
        <section class="col-md-4">
            <section class="form-info-section">
                <h1> {{ 'SETTINGS.COMPANY' | translate }} </h1>
                <p> {{ 'SETTINGS.COMPANY_SETTINGS_INFOTEXT' | translate }}  </p>
                <small> {{ 'SETTINGS.FETCH_BR_REG_INFOTEXT' | translate }} </small>
                <button  (click)="openBrRegModal()" class="c2a secondary">
                    {{ 'SETTINGS.FETCH_FROM_BR_REG' | translate }}
                </button>
            </section>
        </section>

        <section class="col-md-8">
            <section class="uni-card">
                <section class="uni-card-content">
                    <uni-form
                        class="company-settings-form"
                        [config]="{showLabelAbove: true, autoFocus: true}"
                        [fields]="fields$"
                        [model]="companySettings$"
                        (changeEvent)="isDirty = true;">
                    </uni-form>
                </section>
            </section>
        </section>
    </section>

    <section class="row form-row last">
        <section class="col-md-4">
            <section class="form-info-section">
                <h1> {{ 'SETTINGS.COMPANY_EMAIL' | translate }} </h1>
                <p> {{ 'SETTINGS.COMPANY_EMAIL_INFOTEXT' | translate }}  </p>
            </section>
        </section>

        <section class="col-md-8">
            <section class="uni-card">
                <section class="uni-card-content">
                    <uni-form
                        class="electronic-invoice-form"
                        [config]="{showLabelAbove: true, autoFocus: true}"
                        [fields]="electronicInvoiceFields$"
                        [model]="companySettings$"
                        (changeEvent)="eifChange($event)">
                    </uni-form>
                </section>
            </section>
        </section>
    </section>

    <section class="row form-row last">
        <section class="col-md-4">
            <section class="form-info-section">
                <h1> {{ 'SETTINGS.REPORT_LOGO' | translate }} </h1>
                <p> {{ 'SETTINGS.LOGO_INFOTEXT' | translate }}  </p>
            </section>
        </section>

        <section class="col-md-8">
            <section class="uni-card">
                <section class="uni-card-content">
                    <label class="uni-label label-above" style="padding: 0 .5rem">
                        <span>Logo</span>

                        <uni-image
                            [entity]="'companysettings'"
                            [entityID]="1"
                            [singleImage]="true"
                            (fileListReady)="logoFileChanged($event)"
                        ></uni-image>
                    </label>
                </section>
            </section>
        </section>
    </section>
</section>