<section role="dialog" class="uni-modal uni-redesign">
    <header>Bekreft</header>

    <article class="scrollable">

        <section class="title" *ngIf="session.payment.Mode == 1">
            Bokføre utlegg betalt med {{session.payment?.PaidWith?.superLabel}}
        </section>

        <section class="title" *ngIf="session.payment.Mode == 2">
            Bokføre utlegg og utbetale til {{session.payment?.PaymentTo?.superLabel}}
        </section>

        <table class="summary">
            <tr>
                <td>Dato</td>
                <td class="right">{{session.payment.PaymentDate | date: 'dd.MM.yyyy'}}</td>
            </tr>
            <tr>
                <td>Totalsum</td>
                <td class="right">{{session.balance | uninumberformat: 'money'}}</td>
            </tr>
            <tr *ngFor="let sum of vatSummary.details" >
                <td>{{sum.vatPercent}}% Mva</td>
                <td class="right">{{sum.sum | uninumberformat: 'money'}}</td>
            </tr>
        </table>

        <section class="subtitle">Kostnadsføring:</section>
        <table class="accounts">
            <tr *ngFor="let acc of accList">
                <td>{{acc.name}}</td>
                <td class="right">{{acc.sum | uninumberformat: 'money'}}</td>
            </tr>
        </table>

        <section class="warning" *ngIf="session.payment.Mode == 2 && withPayment">
            <strong>Utbetaling:</strong>
            <table width="100%">
                <tr><td>- fra selskapets bankkonto</td><td class="right">{{session.payment?.SystemBankAccount?.AccountNumber}}</td></tr>
                <tr><td>- til {{session.payment?.PaymentTo?.AccountName}}'s' bankkonto:</td><td class="right">{{session.payment?.PaymentAccount?.AccountNumber}}</td><tr>
            </table>
        </section>



    </article>

    <footer>

        <button style="margin-left: auto" class="good" (click)="complete()">
            OK
        </button>

        <button class="outline" (click)="onClose.emit()">
            Avbryt
        </button>
    </footer>
</section>