.summary
    width: 100%
    background-color: #dfe
    padding: 0.3em 1rem 0.3rem 1rem
    border-radius: 5px
    border: 1px solid #cec

.title
    padding-bottom: 1rem

.right
    text-align: right

.subtitle
    padding-top: 1rem

.accounts
    width: 100%
    padding: 0.3rem 1rem 0.3rem 1rem

.warning
    width: 100%
    background-color: #fdc
    margin-top: 0.5rem
    margin-bottom: 0.5rem
    padding: 0.3em 1rem 0.3rem 1rem
    border-radius: 5px
    border: 1px solid #fa9