<h1>Checkout Form (Model Driven)</h1>
<form (ng-submit)="onSubmit()" [ng-form-model]="form" #f="form" class="col-lg-4">
    <p  class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" ng-control="firstName" class="form-control">
        <show-error control="firstName" [errors]="['required']"></show-error>
    </p>
    <p class="form-group">
        <label for="middleName">Middle Name</label>
        <input type="text" id="middleName" ng-control="middleName" class="form-control">
    </p>
    <p class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" ng-control="lastName" class="form-control">
        <show-error control="lastName" [errors]="['required']"></show-error>
    </p>
    <p class="form-group">
        <label for="country">Country</label>
        <select id="country" ng-control="country" class="form-control">
            <option *ng-for="#c of countries" [value]="c">{{c}}</option>
        </select>
    </p>
    <p class="form-group">
        <label for="creditCard">Credit Card</label>
        <input type="text" id="creditCard" ng-control="creditCard" class="form-control">
        <show-error control="creditCard" [errors]="['required', 'invalidCreditCard']"></show-error>
    </p>
    <p class="form-group">
        <label for="amount">Amount</label>
        <input type="number" id="amount" ng-control="amount" class="form-control">
        <show-error control="amount" [errors]="['required']"></show-error>
    </p>
    <p class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" ng-control="email" class="form-control">
        <show-error control="email" [errors]="['required','invalidEmail']"></show-error>
    </p>
    <p class="form-group">
        <label for="comments">Comments</label>
        <textarea id="comments" ng-control="comments" class="form-control">
        </textarea>
    </p>
    <p class="form-group">
        <label for="comments">Autocomplete</label>
        <input type="text" autocomplete ng-control="autocomplete" [config]="autocompleteConfig" class="form-control">
    </p>
    
    <p class="form-group">
        <label for="date">Date</label>
        <input id="date" class="form-control" datepicker ng-control="date" [config]="datepickerConfig">
    </p>
    
    <p class="form-group">
        <label for="numericInput">Number</label>
        <input id="numericInput" numeric ng-control="number" [config]="numericInputConfig">
	</p>
	<p>
        <label for="creditCardMasked">Credit card (masked input)</label>
        <input masked [config]="maskedInputConfig" id="creditCardMasked" ng-control="creditCardMasked">
	</p>
	<p>
        <label for="multiSelect">MultiSelect</label>
        <select multiselect ng-control="multiSelect" [config]="multiSelectConfig" class="form-control"></select>
	</p>
	<p>
        <label for="projectDropdown">Project</label>
        <input dropdown id="projectDropdown" class="form-control" 
            ng-control="project"
            [config]="dropdownConfig" >
    </p>
    <p class="form-group">
        <label for="projectCombo">Project</label>
        <input combobox id="projectCombo" class="form-control" 
            ng-control="projectCombo"
            [config]="comboboxConfig" >
    </p>
    
    <button class="btn btn-primary" type="submit" [disabled]="!f.form.valid">Submit</button>
    
</form>

Number value: {{form.controls.number.value}}
Credit card (masked) value: {{form.controls.creditCardMasked.value}}
Combo value: {{form.controls.projectCombo.value}}