<section class="chart_section">

    <!--WELCOME MESSAGE-->
    <header class="dashboard_welcome" *ngIf="!welcomeHidden">

        <h1>Velkommen til Uni&nbsp;Economy</h1>

        <p>Uni Economy er morgendagens økonomisystem fra Uni Micro. Like enkelt å bruke som alltid, tilgjengelig overalt, sikkert, og fullstendig integrert i din arbeidsflyt.</p>
        <p>Du prøver nå en meget tidlig versjon av systemet, og du vil trolig møte noen feil. <br>Ser du noe, si noe – gi veldig gjerne beskjed til en voksen (prosjektleder) når du ser bugs. 🐛</p>

        <button (click)="hideWelcome()">
            God kål!
        </button>

    </header>

    <!--INVOICED CHART-->
    <figure class="dashboard_chart_card">
        <h2>Fakturert<time>, siste 4 måned</time>(eks moms)</h2>
        <canvas id="invoicedChart" style="height: 233px; max-height: 233px" class=""></canvas>
    </figure>

    <!--TRANSACTIONS LIST -->
    <figure class="dashboard_chart_card" *ngIf="transactionList">
        <h2>Siste transaksjoner</h2>
        <ol class="dashboard_list recent">
            <li *ngFor="let trans of transactionList" style="font-size:0.8rem">
                <strong>{{trans.user}}</strong>
                {{trans.action}}
                <strong><a style="color:#7293cb">{{trans.module}}</a></strong>
                <time style="float: right; margin: 0">{{trans.time}}</time>
            </li> 
        </ol>
    </figure>

    <!--OPERATING PROFIT/LOSS CHART-->
    <figure class="dashboard_chart_card">
        <h2>Driftsresultater</h2>
        <canvas id="operating_chart" style="height: 233px; max-height: 233px"  class=""></canvas>
    </figure>

    <!--ASSETS CHART-->
    <figure class="dashboard_chart_card">
        <h2>Eiendeler</h2>
        <canvas id="assets_chart" style="height: 233px; max-height: 233px"  class=""></canvas>
    </figure>

</section>