<section class="chart_section">

    <!--WELCOME MESSAGE-->
    <header class="dashboard_welcome" *ngIf="!welcomeHidden">

        <h1>Velkommen til Uni&nbsp;Economy</h1>

        <p>Uni Economy er morgendagens økonomisystem fra Uni Micro. Like enkelt å bruke som alltid, tilgjengelig overalt, sikkert, og fullstendig integrert i din arbeidsflyt.</p>
        <p>Du prøver nå en meget tidlig versjon av systemet, og du vil trolig møte noen feil. <br>Ser du noe, si noe – gi veldig gjerne beskjed til en voksen (prosjektleder) når du ser bugs. 🐛</p>

        <button (click)="hideWelcome()">
            God kål!
        </button>

    </header>

    <!--INVOICED CHART-->
    <figure class="dashboard_chart_card" style="margin-bottom: 16px">
        <h2>Fakturert pr måned - 2016</h2>
        <canvas id="invoicedChart" style="height: 233px; max-height: 233px" class=""></canvas>
    </figure>

    <!--ORDRE CHART-->
    <figure class="dashboard_chart_card" style="margin-bottom: 16px">
        <h2>Ordre pr måned - 2016</h2>
        <canvas id="ordre_chart" style="height: 233px; max-height: 233px" class=""></canvas>
    </figure>

    <!--TRANSACTIONS LIST -->
    <figure class="dashboard_chart_card" *ngIf="transactionList" style="margin-bottom: 16px">
        <h2>Siste transaksjoner</h2>
        <ol class="dashboard_list recent">
            <li *ngFor="let trans of transactionList; let i = index;" style="font-size:0.8rem">
                <strong>{{trans.DisplayName}}</strong>
                endret <!--Should be dynamic-->
                <strong><a style="color:#7293cb; cursor: pointer;" (click)="widgetListItemClicked(trans.url)">{{trans.module}} {{trans.EntityID}}</a></strong>
                <time style="float: right; margin: 0">{{trans.time}}</time>
            </li> 
        </ol>
    </figure>

    <!--OPERATING PROFIT/LOSS CHART-->
    <figure class="dashboard_chart_card" style="margin-bottom: 16px">
        <h2>Driftsresultater</h2>
        <canvas id="operating_chart" style="height: 233px; max-height: 233px"  class=""></canvas>
    </figure>

    <!--PAYROLL CHART-->
    <figure class="dashboard_chart_card" style="margin-bottom: 16px">
        <h2>Utbetaling lønn per lønnsavregning</h2>
        <canvas id="payroll_chart" style="height: 233px; max-height: 233px" class=""></canvas>
    </figure>

    <!--ASSETS CHART-->
    <figure class="dashboard_chart_card" style="margin-bottom: 16px">
        <h2>Eiendeler</h2>
        <canvas id="assets_chart" style="height: 233px; max-height: 233px"  class=""></canvas>
    </figure>

    <!--MY TRANSACTIONS LIST -->
    <figure class="dashboard_chart_card" *ngIf="myTransactionList" style="margin-bottom: 16px">
        <h2>Dine siste transaksjoner</h2>
        <ol class="dashboard_list recent">
            <li *ngFor="let myTrans of myTransactionList; let i = index;" style="font-size:0.8rem">
                <strong>Du</strong>
                endret <!--Should be dynamic-->
                <strong><a style="color:#7293cb; cursor: pointer;" (click)="widgetListItemClicked(myTrans.url)">{{myTrans.module}} {{myTrans.EntityID}}</a></strong>
                <time style="float: right; margin: 0">{{myTrans.time}}</time>
            </li>
        </ol>
    </figure>

    <!--JOURNAL ENTRY LIST -->
    <figure class="dashboard_chart_card" style="margin-bottom: 16px">
        <h2>Siste bilag</h2>
        <ol class="dashboard_list recent" *ngIf="journalEntryList">
            <li *ngFor="let entry of journalEntryList; let i = index;" style="font-size:0.8rem">
                <strong><a style="color:#7293cb; cursor: pointer;" (click)="widgetListItemClicked(entry.url)">Bilag {{ entry.JournalEntryNumber}}</a></strong>
                <time style="float: right; margin: 0">{{entry.time}}</time>
            </li>
        </ol>
        <h4 *ngIf="!journalEntryList.length">Ingen bilag</h4>
    </figure>

</section>