<section role="dialog" class="uni-modal file-list-modal" [class.preview-mode]="selectedFile">
    <header> {{ 'ACCOUNTING.SUPPLIER_INVOICE.NEW' | translate }} </header>

    <article>
        <section *ngIf="busy" class="modal-spinner">
            <mat-spinner class="c2a"></mat-spinner>
        </section>
        <section class="inbox-container" *ngIf="!busy">
            <section class="inbox">
                <section *ngIf="!inboxFiles?.length">
                    Ingen dokumenter i innboks
                </section>

                <ag-grid-wrapper
                    *ngIf="inboxFiles?.length"
                    [resource]="inboxFiles"
                    [config]="tableConfig"
                    (rowSelectionChange)="preview($event)">
                </ag-grid-wrapper>
            </section>

            <section class="image-preview">
                <section *ngIf="loadingFiles" class="bill-preview-spinner">
                    <section class="spinner-container">
                        <mat-spinner [diameter]="40" class="c2a" ></mat-spinner>
                        <section class="spinner-text">Laster dokument</section>
                    </section>
                </section>

                <uni-image *ngIf="selectedFile"
                   [singleImage]="true"
                   [readonly]="true"
                   [uploadWithoutEntity]="true"
                   [fileIDs]="[selectedFile.ID]"
                   (fileListReady)="onFileListReady($event)">
                </uni-image>
            </section>
        </section>
    </article>

    <footer>
        <label class="upload">
            <input type="file" (change)="uploadFile($event)" />

            <button class="upload-button tertiary c2a">
                <i class="material-icons">cloud_upload</i>
                Last opp dokument
            </button>
        </label>

        <button class="secondary pull-right" (click)="onClose.emit()">Lukk</button>
        <button class="c2a" [disabled]="!selectedFile" (click)="onClose.emit(selectedFile.ID)">Velg</button>
    </footer>
</section>
