<section role="dialog" class="uni-modal file-list-modal" [class.preview-mode]="selectedFile">
    <header> {{ 'ACCOUNTING.SUPPLIER_INVOICE.NEW' | translate }} </header>

    <article>
        <section *ngIf="busy" class="modal-spinner">
            <mat-spinner class="c2a"></mat-spinner>
        </section>
        <section class="inbox-container"*ngIf="!busy">
            <section class="inbox" *ngIf="inboxFiles?.length">
                <section class="header">Fra innboks</section>

                <section class="file-list">
                    <section class="no-inbox-items" *ngIf="!inboxFiles?.length">
                        Ingen dokumenter i innboks
                    </section>
                    <section class="list-item"
                        *ngFor="let file of inboxFiles"
                        (click)="selectedFile = file;preview(file);">
                        <span>{{file.Name}}</span>
                        <span class="date">{{file.CreatedAt | date: 'dd.MM.yyyy'}}</span>
                    </section>
                </section>
            </section>
            <section class="image-preview" *ngIf="selectedFile">
                <uni-image
                   [singleImage]="true"
                   [readonly]="true"
                   [uploadWithoutEntity]="true"
                   [fileIDs]="[selectedFile.ID]">
                </uni-image>
            </section>
        </section>

        <label class="upload">
            <input type="file" (change)="uploadFile($event)" />

            <button class="upload-button tertiary c2a">
                <i class="material-icons">cloud_upload</i>
                Last opp dokument
            </button>
        </label>
    </article>

    <footer class="center">
        <button class="good" [disabled]="!selectedFile" (click)="onClose.emit(selectedFile.ID)">Velg</button>
        <button class="secondary" (click)="onClose.emit()">Lukk</button>
    </footer>
</section>
