<div *ngIf="tabs?.length || customers?.length > 0" class="select-container">
    <uni-tabs [tabs]="tabs"></uni-tabs>
    <section class="select-contract" *ngIf="customers?.length > 0">
        <button #trigger class="tertiary">
            Dine lisenser<i class="material-icons">keyboard_arrow_down</i>
        </button>
        <dropdown-menu [trigger]="trigger" minWidth="100px">
            <ng-template>
                <ng-container *ngFor="let customer of customers">
                    <a 
                    *ngFor="let contract of customer.Contracts" 
                    class="dropdown-menu-item" 
                    (click)="selectContract(contract, customer)"
                    [attr.aria-selected]="contract.ID === (selectedContractID$ | async)"
                    >
                        {{contract.Name || customer.Name}}
                        <span class="pull-right" style="padding-left: 25px">{{contract.ContractType | elsaContractType}}</span>
                    </a>
                </ng-container>
            </ng-template>
        </dropdown-menu>
    </section>
    <section *ngIf="(isAdmin$ | async) === true && isBureauCustomer">
        <button class="c2a" (click)="openNewContractModal()">Ny klient</button>
    </section>
</div>
<router-outlet></router-outlet>
