\:host
    display: block
    width: 95%
    max-width: 1200px
    margin: -3rem auto 0
    padding-bottom: 2rem

h1
    font: 500 20px 'Roboto'
    margin-left: 1rem

.info-card
    background: #fff
    margin: 0 1rem
    padding: 1.5rem 2rem
    border-radius: 3px
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.065)

.license-owner
    display: flex
    flex-wrap: wrap

    .info-card
        flex: 1
        min-width: 400px
        margin-bottom: 1rem

    .info-field
        display: flex
        justify-content: space-between
        padding: 5px 0

        strong
            font-weight: 500

        span
            text-align: right
            a
                display: block

.administrators
    margin-top: 2rem

    .info-card
        padding: 1rem 1.5rem 3rem

    table
        width: 100%
        border-collapse: collapse

        tr
            height: 3rem

        th, td
            padding: 0 10px

        thead th
            color: #97A0B1
            font-size: 15px
            font-weight: 500
            text-align: left

        tbody tr
            border-top: 1px solid rgba(0,0,0,.12)