ag-grid-wrapper
    height: 39rem

.quick-filters
    display: flex
    align-items: center
    margin: 1.5rem 0

    select
        flex-basis: 17.5rem

    uni-datepicker
        flex-basis: 10rem

    > * + *
        margin-left: 1rem

.header
    display: flex
    margin-bottom: 1rem
    padding: 1rem
    background: var(--alert-info)
    border: 1px solid var(--border-color)
    border-radius: var(--section-radius)

    span:first-of-type
        margin: 0 auto 0 .75rem
        font-size: 17px
    span:last-of-type
        font-weight: 400
        font-size: 15px
        i.material-icons
            font-size: 19px
