\:host
    display: block

.input-with-button
    width: 100%

.spinner-wrapper
    display: flex
    overflow: hidden
    mat-spinner
        margin: 1rem auto

.autocomplete-input-wrapper
    display: flex
    align-items: center
    autocomplete
        flex: 1
    mat-checkbox
        flex: 0 0 auto
        margin-left: 1.5rem

        ::ng-deep .mat-checkbox-label
            font-size: 15px
