<header class="customer_poster" *ngIf="Customer">
    
    <article class="poster_toolbar">
        <section>
            <h1 *ngIf="Customer && Customer.ID > 0">{{Customer.Info.Name}}</h1>
            <p *ngIf="Customer && Customer.ID > 0">Kundenr. {{Customer.CustomerNumber}}</p>
            <h1 *ngIf="customerID == 0">Ny kunde</h1>
            <p *ngIf="customerID == 0">&nbsp;</p>
        </section>
            
        <nav class="poster_toolbar_tools">
            <a (click)="previousCustomer()" class="previous">Forrige</a>
            <a (click)="nextCustomer()" class="next">Neste</a>
            <a (click)="addCustomer()" class="new">Ny kunde</a>
        </nav>         
    </article>
    
    <!-- Widget poster -->
    <section class="poster_overview">        
        <uni-widget-poster [model]="Customer" *ngIf="Customer && Customer.ID > 0">
            ..future widgets..
        </uni-widget-poster>
        <external-search [searchText]="searchText" (onSelect)="addSearchInfo($event)" *ngIf="Customer && Customer.ID == 0"></external-search>
    </section>
    
</header>

<section class="customer-details application">
    <uni-component-loader></uni-component-loader>
    
    <uni-multival [label]="'E-post'" [values]="email"></uni-multival>
</section>

<footer class="full-footer">
    <section class="application">
        <button class="good" (click)="saveCustomerManual($event)">Lagre kunde</button>
        <section class="auto_save_info">
            {{ LastSavedInfo }}    
        </section>
    </section>
</footer>