<uni-toolbar *ngIf="!modalMode" [config]="toolbarconfig"
                                [saveactions]="saveactions">
</uni-toolbar>

<header class="customer_poster">
    <section class="poster_overview">
        <external-search [searchText]="searchText" (selectEvent)="addSearchInfo($event)" *ngIf="showSearch(customerID)"></external-search>
    </section>

    <div class="horizontal_nav" *ngIf="(customer$|async)?.ID">
        <ul>
            <li>
                <a [class]="activeTab === 'details' ? 'router-link-active' : ''"
                   (click)="showTab('details')">
                   Detaljer
                </a>
            </li>
            <li>
                <a [class]="activeTab === 'reconciliation' ? 'router-link-active' : ''"
                   (click)="showTab('reconciliation')">
                    Åpne poster
                </a>
            </li>
            <li *ngFor="let link of reportLinks">
                <a
                        [class]="activeTab === 'uniquery' && showReportWithID == link.id ? 'router-link-active' : ''"
                        (click)="showTab('report', link.id)"
                >{{link.name}}</a>
            </li>
        </ul>
    </div>

</header>
<section class="customer-details application">
    <uni-form *ngIf="activeTab === 'details'"
              [config]="config$"
              [fields]="fields$"
              [model]="customer$">
    </uni-form>
    <ledger-account-reconciliation [customerID]="(customer$ | async)?.ID" *ngIf="activeTab === 'reconciliation'"></ledger-account-reconciliation>
    <uni-query-read-only
            *ngFor="let link of reportLinks"
            [hidden]="showReportWithID != link.id"
            [ngClass]="{'hidden': showReportWithID != link.id}"
            [queryDefinitionID]="link.id"
            [externalID]="(customer$ | async)?.ID"
    ></uni-query-read-only>

</section>

<uni-save *ngIf="modalMode" [actions]="saveactions" class="uni_save_modal_mode"></uni-save>

<email-modal></email-modal>
<phone-modal></phone-modal>
<address-modal></address-modal>
<uni-confirm-modal></uni-confirm-modal>
