<section *ngIf="journalEntryLines" [attr.aria-busy]="busy">
    <section class="floating-header">
        <section class="action-buttons" *ngIf="!hideHeader">
            <!--<button class="c2a" (click)="showHideMarkedEntries()">{{showMarkedEntries ? "Vis åpne" : "Vis alle" }}</button>-->
            <select [value]="displayPostsOption" (change)="showHideEntries($event.target.value)">
                <option value="OPEN">Vis åpne poster</option>
                <option value="MARKED">Vis lukkede poster</option>
                <option value="ALL">Vis alle poster</option>
            </select>
            <button class="warn" (click)="abortMarking()" [disabled]="!(currentSelectedRows.length > 0 || isDirty)">Avbryt</button>
            <button class="warn" (click)="unlockJournalEntries()" [disabled]="currentSelectedRows.length < 2">Lås opp</button>
            <button class="warn" (click)="autoMarkJournalEntries()" [hidden]="displayPostsOption === 'CLOSED'">Automerk</button>
            <button
                class="good"
                (click)="markCheckedJournalEntries()"
                [disabled]="currentMarkingSession.length < 2"
                [hidden]="displayPostsOption === 'CLOSED'">
                Lås
            </button>
            <button class="good" (click)="reconciliateJournalEntries()" [disabled]="!isDirty">
                Lagre {{allMarkingSessions.length > 0 ? allMarkingSessions.length : ''}} endringer
            </button>
        </section>
    </section>

    <uni-table
        [resource]="journalEntryLines"
        [config]="uniTableConfig"
        (rowSelectionChanged)="onRowSelected($event)">
    </uni-table>

    <uni-summary [ngClass]="{'application': !modalMode}" [configs]="summary" *ngIf="itemsSummaryData"></uni-summary>
</section>
