<section *ngIf="journalEntryLines" >
    <mat-progress-bar
        *ngIf="loading$ | async"
        class="uni-progress-bar"
        mode="indeterminate">
    </mat-progress-bar>

    <input type="search" [(ngModel)]="searchValue" [formControl]="searchControl" style="margin-bottom: 1rem; width: 250px;" placeholder="Søk i poster"/>

    <table class="uni-table postpost-single-table" *ngIf="uniTableConfig">
        <thead>
            <tr>
                <td *ngIf="showRowSelect" class="postpost-first">
                    <i *ngIf="displayPostsOption === 'OPEN'" class="material-icons" title="Automerk konto" (click)="onCheckAllSelected()">select_all</i>
                    <i *ngIf="displayPostsOption !== 'OPEN'" class="material-icons" title="Merk alle linjer" (click)="onCheckAllSelected(true)">{{ allSelected ? 'check_box' : 'check_box_outline_blank' }}</i>
                </td>
                <td *ngFor="let col of getVisibleFields()"  [ngClass]="col.cls" (click)="sortJournalEntryLines(col)"> {{ col.header }} </td>
                <td>
                    <i class="material-icons" (click)="openColumnsModal()"> settings </i>
                </td>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let row of journalEntryLinesDisplayed; let i = index;"
                [attr.aria-selected]="row._rowSelected"
                [ngClass]="row.StatusCode === 31003 ? 'journal-entry-credited' : ''">
                <td *ngIf="showRowSelect" class="postpost-first" (click)="onPostpostRowSelect(row, i)"> <i class="material-icons"> {{ row._rowSelected ? 'check_box' : 'check_box_outline_blank' }} </i> </td>
                <td *ngFor="let col of getVisibleFields()"
                    [ngClass]="col.conditionalCls ? col.conditionalCls(row) : col.cls ? col.cls : ''">

                    <span *ngIf="!col.template" (click)="onLinkClick(col, row)" title="{{ row[col.field] }}"> {{ row[col.field] }} </span>
                    <span *ngIf="col.template" title="{{ col.template(row) }}"> {{ col.template(row) }} </span>
                </td>
                <td>
                    <i #toggle class="material-icons timetable-context-menu">more_horiz</i>
                    <dropdown-menu [trigger]="toggle">
                        <ng-template>
                            <a class="dropdown-menu-item"
                                *ngFor="let item of getActions(row)"
                                (click)="actionClicked(item, row)">
                                {{item.label}}
                            </a>
                        </ng-template>
                    </dropdown-menu>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="postpost-pager" *ngIf="filteredJournalEntryLines?.length > uniTableConfig?.pageSize">
        <span> <i class="material-icons" (click)="onPageChange('first')"> first_page </i> </span>
        <span> <i class="material-icons" (click)="onPageChange('prev')"> chevron_left </i> </span>
        <span class="page-indicator"> Side {{ page }} av {{ getNumberOfPages() }} </span>
        <span> <i class="material-icons" (click)="onPageChange('next')"> chevron_right </i> </span>
        <span> <i class="material-icons" (click)="onPageChange('last')"> last_page </i> </span>
    </div>

    <uni-summary [configs]="summary" *ngIf="itemsSummaryData"></uni-summary>
</section>
