@import '~src/styles/unibase/colors/__colors.sass'

.report-groups
    display: block

    .report-group
        max-width: 25%
        min-width: 25rem
        float: left

        .report
            cursor: pointer

            strong
                color: var(--color-c2a)
                small
                    color: $uni-color-scale6

            p
                margin-top: .25rem