<button class="tertiary toggle"
    [ngClass]="{'unread': hasUnread}"
    [matMenuTriggerFor]="newfeedDropdown"
    (click)="setRead()">
    <i class="material-icons-outlined">mail</i>
    Nyheter
    <span *ngIf="hasUnread" class="unread-indicator"></span>
</button>

<mat-menu #newfeedDropdown="matMenu" [overlapTrigger]="false" yPosition="below">
    <section class="widget-wrapper" (click)="$event.stopPropagation()">
        <section class="header">Nyheter</section>

        <section class="content">
            <ul>
                <li *ngFor="let item of rssFeed" class="rss-item">
                    <header>
                        {{item.Title}}
                        <small>{{item.PubDate | date: 'dd.MM.yyyy'}}</small>
                    </header>

                    <img *ngIf="item.Image" [src]="item.Image" />

                    <article>{{item.Description}}</article>
                    <a target="_blank" href="{{item.Link}}">Les mer</a>
                </li>
            </ul>
        </section>
    </section>
</mat-menu>

