\:host
    font-family: var(--font-family)
    margin: 0 1rem 0 2rem

.widget-wrapper
    width: 35rem
    height: 50rem

button.toggle
    position: relative

    .unread-indicator
        position: absolute
        top: 5px
        right: 5px
        width: 10px
        height: 10px
        border-radius: 50%
        background: #F53B57
        color: #fff

.content
    padding: 0

ul
    list-style: none
    height: 100%
    overflow-y: auto
    margin: 0
    padding: 0 1.5rem 1.5rem

.rss-item
    margin-top: 10px
    margin-bottom: 1.5rem
    color: #1D2B33
    text-align: left

    border-bottom: 1px solid #E2E6F0
    padding-bottom: 1rem

    img
        width: 100%
        margin: .5rem 0

    header
        display: flex
        height: 30px
        align-items: center
        justify-content: space-between
        font-weight: 600
        font-size: 14px
        small
            font-weight: 400

    article
        max-height: 6rem
        overflow: hidden
        font-size: 14px

    a
        color: var(--link-color)
        font-size: 14px
        text-decoration: none !important