<div *ngIf="vatType$ | async">
    <uni-form
        [config]="config$"
        [fields]="fields$"
        [model]="vatType$"
        (change)="onChange($event)">
    </uni-form>

    <fieldset>
        <legend>Satser</legend>
        <uni-table
            [resource]="(vatType$ | async).VatTypePercentages"
            [config]="uniTableConfigVatTypePercentage">
        </uni-table>
    </fieldset>

    <fieldset>
        <legend>Regnskap</legend>
        <uni-table
            [resource]="(vatType$ | async).VatReportReferences"
            [config]="uniTableConfigVatPostReference"
            (rowDeleted)="onVatPostReferenceDelete($event.rowModel)">
        </uni-table>
    </fieldset>

</div>
<div *ngIf="!(vatType$ | async)">
    Velg en mvakode i listen til venstre for å se detaljer om mvakoden
</div>
