<section class="webinars-main" [attr.aria-busy]="false">
    <section class="header">
        <section class="background add-on-details-background-image">
            <h1>Uni Economy Webinarer</h1>
            <p>
                Enten du er ny bruker, eller du har vært i gang med Uni Economy en stund, så har vi kurs og webinar som passer for deg.
                Våre eksperter viser deg vei gjennom Regnskap, Salg, Lønn og Time. Meld deg på i dag!
            </p>
        </section>
    </section>
    <section class="webinar-items">
        <section class="webinar-item img-right-side">
            <img src="https://public-files.unieconomy.no/files/marketplace/time.png" />
            <section class="text-section">
                <h1>Uni Economy Time for regnskapsbyrå</h1>
                <p>
                    Webinaret gir dere en grunnleggende innføring i muligheter og funksjoner i
                    Uni Economy Time. Vi tar dere med fra opprettelse og vedlikehold av
                    timearter, registrering av timer, fleksisaldo og ferie.
                </p>
                <a href="http://support.unimicro.no/kurs/web-kurs/webinar-uni-economy-time-for-regnskapsbyraa">les mer</a>
            </section>
        </section>
        <section class="webinar-item img-left-side">
            <img src="https://public-files.unieconomy.no/files/marketplace/lonn_.png" />
            <section class="text-section">
                <h1>Uni Economy Lønn for regnskapsbyrå</h1>
                <p>
                    Webinaret gir dere en grunnleggende innføring i muligheter og funksjoner i
                    Uni Economy Lønn. Vi tar dere med fra opprettelse av ansatte, vedlikehold
                    av lønnsarter, innleggelse av faste poster og lønnskjøringer med innsending av A-melding.
                </p>
                <a href="http://support.unimicro.no/kurs/web-kurs/webinar-uni-economy-lonn-for-regnskapsbyraa">les mer</a>
            </section>
        </section>
        <section class="webinar-item img-right-side">
            <img src="https://public-files.unieconomy.no/files/marketplace/regn.png" />
            <section class="text-section">
                <h1>Uni Economy Regnskap for regnskapsbyrå</h1>
                <p>
                    Webinaret gir dere en grunnleggende innføring i muligheter og funksjoner i
                    Uni Economy Regnskap. Vi tar dere med fra registrering av fakturamottak
                    med godkjenning, bilagsregistrering, forespørsel på konto og rapportering, i tillegg
                    til innsending av Skattemelding og remittering.
                </p>
                <a href="http://support.unimicro.no/kurs/web-kurs/webinar-uni-economy-salg-for-regnskapsbyraa">les mer</a>
            </section>
        </section>
        <section class="webinar-item img-left-side">
            <img src="https://public-files.unieconomy.no/files/marketplace/salg_.png" />
            <section class="text-section">
                <h1>Uni Economy Salg for regnskapsbyrå</h1>
                <p>
                    Webinaret gir dere en grunnleggende innføring i muligheter og funksjoner i
                    Uni Economy Salg. Vi tar dere med fra registrering av kunder og varer,
                    opprettelse av tibud, ordre og faktura i tillegg til å vise purring og rapportering.
                </p>
                <a href="http://support.unimicro.no/kurs/web-kurs/webinar-uni-economy-salg-for-regnskapsbyraa">les mer</a>
            </section>
        </section>
    </section>
</section>
