<section class="users-container">

    <!-- List -->
    <section class="user-list-container">
        <section *ngIf="isAdmin" class="list-actions">
            <button (click)="manageProductPurchases()">
                <i class="material-icons">grid_on</i>
                Administrer produkttilganger
            </button>
            <button (click)="openInviteUserModal()">
                <i class="material-icons">person_add</i>
                Inviter bruker
            </button>
        </section>

        <input [formControl]="searchControl" type="search" placeholder="Søk etter bruker">

        <ul id="user-list">
            <li *ngFor="let user of filteredUsers"
                [ngClass]="{'selected': user.ID === selectedUser?.ID}"
                (click)="onUserSelected(user)">

                <div class="avatar">
                    <uni-avatar [name]="user.DisplayName || user.Email"></uni-avatar>
                    <span *ngIf="user._statusClass" class="status-indicator" [ngClass]="user._statusClass"></span>
                </div>

                <section class="user-info">
                    <strong>{{user.DisplayName || user.Email}}</strong>

                    <small *ngIf="user._isActive">
                        {{user._isAdmin ? 'Administrator' : 'Standard bruker'}}
                    </small>

                    <small *ngIf="!user._isActive && user._statusText">
                        {{user._statusText}}
                    </small>
                </section>
            </li>
        </ul>
    </section>

    <!-- Details -->
    <user-details
        [user]="selectedUser"
        [users]="users"
        [currentUserIsAdmin]="isAdmin"
        (activateUser)="activateUser()"
        (deactivateUser)="deactivateUser()"
        (resendInvite)="resendInvite($event)"
        (reloadUsers)="loadUsers(true)">
    </user-details>

</section>
