\:host
    font-family: var(--font-family)

.users-container
    display: flex
    flex-flow: row nowrap
    max-height: calc(100vh - 18.5rem)

    > *
        background: #fff
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1)

    .user-list-container
        flex: 0 0 28rem
        display: flex
        flex-direction: column
        margin-right: 20px
        padding-top: 1rem

        .list-actions
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            margin: 0 1rem

            button
                margin: 0  0 1rem 0
                &:first-of-type
                    margin-right: 2px
                i.material-icons
                    color: var(--color-c2a)
                    font-size: 18px
                    margin: 0 2px 2px 0

        input[type=search]
            height: 2.75rem
            width: calc(100% - 2rem)
            margin: 0 1rem
            padding: 0 1rem
            border: 1px solid rgba(0,0,0,.12)

        ul#user-list
            flex: 1
            position: relative // required for scroll to work properly
            margin-bottom: 0
            list-style: none
            max-width: 28rem

            li
                display: flex
                border-bottom: 1px solid var(--border-color)
                padding: 1rem
                cursor: pointer

                &:last-of-type
                    border-bottom: none

                &:hover
                    background-color: #f3f3f3

                &.selected
                    background-color: var(--dropdown-select-background)

                .user-info
                    flex: 1
                    margin: auto 1.5rem
                    overflow: hidden
                    strong
                        overflow: hidden
                        white-space: nowrap
                        text-overflow: ellipsis

::ng-deep .avatar
    flex: 0 0 auto
    margin: auto 0
    position: relative
    user-select: none

    uni-avatar
        display: block
        width: 2.75rem
        height: 2.75rem
        line-height: 2.75rem

    .status-indicator
        display: inline-block
        position: absolute
        bottom: 0
        right: 0
        margin: auto 1px auto 0
        width: 14px
        height: 14px
        border-radius: 50%

        &.inactive
            background: #f53b57
        &.invited
            background: #ffdd59

::ng-deep .user-info
    h4
        margin: 0
        font-weight: 500
        color: #485460

    strong
        display: block
        font-size: 16px
        font-weight: 500
        color: #485460
        line-height: 18px
        margin-bottom: 2px


    small
        display: block
        line-height: 14px
        font-size: 12px
        color: #8C96A9
        margin: 0