<section class="users_list_section" style="min-height: 400px; margin-bottom: 15px">
    <h3>Brukere</h3>
    <ul itemprop="userlist" *ngIf="users">
        <li>
            <span itemprop="headline" (click)="sortList('DisplayName')" class="user_list_header">Navn</span>
            <span itemprop="headline" (click)="sortList('Email')" class="user_list_header">Epost</span>
            <span itemprop="headline" (click)="sortList('Status')" class="user_list_header">Status</span>
            <span></span>
            <span></span>
        </li>
        <li *ngFor="#user of users | sort: sortProperty">
            <span itemprop="name">{{user.DisplayName}}</span>
            <span itemprop="email">{{user.Email}}</span>
            <span itemprop="status">{{user.Status}}</span>
            <span itemprop="event" class="user_invite_resend"><p *ngIf="user.Status != 'Aktiv'" (click)="resendInvite(user)">Resend</p></span>
            <span itemprop="event" class="user_invite_revoke"><p *ngIf="user.Status != 'Trukket godkjenning'" (click)="revokeInvite(user)">Revoke</p></span>
        </li>
    </ul>
</section>

<section class="users_invite">
    <h3>Legg til bruker:</h3>
    <section>
        <input type="text" [(ngModel)]="newUser.DisplayName" placeholder="Navn" />
        <input type="email" [(ngModel)]="newUser.Email" placeholder="Epostadresse" />
        <button (click)="inviteNewUser()" [attr.aria-busy]="isPostUserActive" class="c2a">Inviter</button>
    </section>
    <small *ngIf="invalidInviteInfo">{{errorMessage}}</small>
</section>

<section class="users_invite users_invite_link">
    <h3>Invitasjon direktelink:</h3>
    <section>
        <p>{{inviteLink}}</p>
    </section>
</section>
