uni-go-to-altinn-modal
    .material-icons-outlined
        color: var(--color-good)
    .alert.warn .material-icons
        color: var(--color-warn)
    .uni-modal > article
        margin-bottom: 3rem
    article
        display: flex
        justify-content: center
        flex-direction: column
        text-align: center
    .uni-modal header i.close-button
        position: absolute
        right: 37px
        top: 20px
    .uni-modal header
        display: block
        text-align: center
        margin: 2rem 0
    footer
        margin: auto
