\:host
    flex: 0 0 auto
    position: relative
    margin-left: auto

.help-toggle
    height: 100%
    cursor: pointer

    span
        float: left
        line-height: 1.9rem
        font-size: 14px

    .material-icons
        line-height: 2rem
        font-size: 18px
        margin-right: .5rem

.toolbar-dropdown-list
    top: 0.85rem
    right: -0.5rem