\:host
    flex: 0 0 auto
    position: relative
    margin-left: auto

.help-toggle
    display: flex
    align-items: center
    height: 100%
    cursor: pointer
    font-size: 14px

    .material-icons
        font-size: 18px
        margin-right: .5rem

.boost-icon
    position: fixed
    bottom: 5px
    right: 25px
    cursor: pointer