.reinvoice-list
    margin-bottom: 2rem
    .reinvoice-item
        display: flex
        align-items: center
        height: 3rem
        margin-bottom: 1rem
        font-size: 14px
        background: #f3f3f3
        padding: 0 1rem
        border-radius: 3px

        a
            font-weight: 500
            text-decoration: none

        section
            margin-left: 2rem

        small
            margin-left: 5px

        .customer-name
            flex: 1

        .status
            flex: 0 0 7rem
            text-align: right
            span
                background: #f0cf61
                font-size: 13px
                font-weight: 500
                padding: 4px 10px
                border-radius: 2px

