uni-information
    display: block
    position: relative
    z-index: 1
    margin: 0.3rem 1rem 4rem .3rem

.information_sheet
    padding: .5rem 1rem 1rem
    background: $uni-color-scale9
    position: relative

    h1
        font: 400 1.333rem/3rem var(--font-family)
        color: var(--color-c2a)

    .information-content
        font-size: .9rem

