<label [ngSwitch]="config.type" ngForm *ngIf="isInput(config.type)">
    <span>{{config.label}}</span>

    <uni-autocomplete *ngSwitchWhen="CONTROL_TYPES.AUTOCOMPLETE" [config]="config"></uni-autocomplete>
    <uni-dropdown *ngSwitchWhen="CONTROL_TYPES.DROPDOWN" [config]="config"></uni-dropdown>
    <uni-combobox *ngSwitchWhen="CONTROL_TYPES.COMBOBOX" [config]="config"></uni-combobox>
    <uni-multiselect *ngSwitchWhen="CONTROL_TYPES.MULTISELECT" [config]="config"></uni-multiselect>
    <uni-datepicker *ngSwitchWhen="CONTROL_TYPES.DATEPICKER" [config]="config"></uni-datepicker>
    <uni-masked *ngSwitchWhen="CONTROL_TYPES.MASKED" [config]="config"></uni-masked>
    <uni-numeric *ngSwitchWhen="CONTROL_TYPES.NUMERIC" [config]="config"></uni-numeric>

    <input
            type="email"
            [ngFormControl]="config.control"
            [ngClass] = "config.classes"
            *ngSwitchWhen="CONTROL_TYPES.EMAIL"
            [readonly]="config.readonly"
            [disabled]="config.disabled"
    />

    <input
            type="password"
            [ngFormControl]="config.control"
            *ngSwitchWhen="CONTROL_TYPES.PASSWORD"
            [readonly]="config.readonly"
            [disabled]="config.disabled"
    />

    <!-- checkbox needs its own component with multiple selects -->
    <input
            #cb
            type="checkbox"
            [ngFormControl]="config.control"
            [ngClass] = "config.classes"
            *ngSwitchWhen="CONTROL_TYPES.CHECKBOX"
            [readonly]="config.readonly"
            [disabled]="config.disabled"
            (change)="setFormValue(config.control, cb.checked)"
    />

    <!-- radio needs its own component with multiple selects -->
    <input
            type="radio"
            [ngFormControl]="config.control"
            [ngClass] = "config.classes"
            *ngSwitchWhen="CONTROL_TYPES.RADIO"
            [name]="config.field"
            [readonly]="config.readonly"
            [disabled]="config.disabled"
    />

    <input
            type="text"
            [ngFormControl]="config.control"
            [ngClass] = "config.classes"
            *ngSwitchWhen="CONTROL_TYPES.TEXT"
            [name]="config.field"
            [readonly]="config.readonly"
            [disabled]="config.disabled"
    />
    <show-error [control]="config.control" [messages]="config.errorMessages"></show-error>
</label>
<uni-radio-group *ngIf="isRadioGroup(config.type)" [config]="config"></uni-radio-group>


