<section class="application">
    <section class="row">
        <section class="row">
            <h2>AnnualSettlement Fields <button (click)="runTransition()">Step 3 to Step 4</button></h2>
        </section>
        <section class="splitview">
            <section class="splitview_list" style="max-width: 30vw;">
                <uni-form
                    [config]="{autofocus: true, showLabelAbove: true}"
                    [fields]="formFields"
                    [model]="annualSettlementFields"
                    (changeEvent)="onChange($event)"
                ></uni-form>
            </section>
            <section class="splitview_detail" style="width: 50vw">
                <pre>
{{annualSettlement | json}}
                </pre>
            </section>
        </section>
    </section>
</section>
