.uni-modal
    width: 90vw
    max-width: 1500px

.flex-container
    display: flex

    ag-grid-wrapper
        flex: 0 0 45%
        font-size: 14px

    .bill-preview
        position: relative
        display: flex
        flex-direction: column
        flex: 1
        margin-left: 1rem

        uni-image
            position: relative
            display: flex
            flex-direction: column
            flex: 1
            margin-left: 1.5rem
            height: calc(100vh - 18rem)
            overflow: auto
