 <uni-mega-menu *ngIf="navbarService.megaMenuVisible$ | async"></uni-mega-menu>

<section class="navbar">
    <section class="navbar-left">
        <section class="logo-and-hamburger-container">
            <section class="logo-wrapper" routerLink="/">
                <img src="themes/navbar_logo.svg" alt="logo">
            </section>

            <i *ngIf="hasActiveContract && !deativateFunctions"
                class="material-icons hamburger-toggle"
                role="button"
                (click)="toggleSidebarState()">
                menu
            </i>
        </section>

        <uni-company-dropdown [lockYearSelector]="deativateFunctions"></uni-company-dropdown>

        <section *ngIf="isTestCompany && isSrEnvironment"
            class="template-company-warning"
            matTooltip="Dette er et demoselskap. Ved aktivering av kontrakt må nytt selskap opprettes, og alle data på dette selskapet vil bli slettet">
            Kun for testing
        </section>

        <section class="bundle-test" style="margin-left: 1rem;">
            <a #trigger style="font-weight: 500; font-size: 15px; text-decoration: none;">
                Test produktpakke
                <i style="margin-bottom: 2px; margin-left: -2px;" class="material-icons">expand_more</i>
            </a>
            <dropdown-menu [trigger]="trigger" minWidth="8rem">
                <ng-template>
                    <section (click)="authService.mockSetProductBundle('Mini')" class="dropdown-menu-item">
                        Mini
                    </section>
                    <section (click)="authService.mockSetProductBundle('Plus')" class="dropdown-menu-item">
                        Pluss
                    </section>
                    <section (click)="authService.mockSetProductBundle('Complete')" class="dropdown-menu-item">
                        Komplett
                    </section>
                </ng-template>
            </dropdown-menu>
        </section>

        <support-access-indicator></support-access-indicator>
    </section>

    <section class="navbar-right">
        <section *ngIf="hasActiveContract && isDemo && !demoExpired" class="demo-company-notifier" routerLink="/contract-activation">
            {{demoText}}
            <a>{{isSrEnvironment ? 'Bestill Bank+Regnskap' : 'Aktiver nå'}}</a>
        </section>

        <section *ngIf="isDemo && demoExpired" class="demo-company-notifier expired">
            Prøveperiode utløpt
        </section>

        <section *ngIf="isTemplateCompany"
            class="template-company-warning"
            matTooltip="Denne klienten er merket som mal. Det vil si at man ved oppretting av nye klienter kan kopiere data og innstillinger fra den. Man bør derfor kun registrere data som skal kopieres til nye klienter.">
            MALKLIENT
        </section>

        <uni-icon
            *ngIf="hasActiveContract && !deativateFunctions"
            [icon]="'search'"
            (click)="openSearch()"
            matTooltip="Søk etter funksjon/tjeneste">
        </uni-icon>

        <uni-icon
            *ngIf="hasActiveContract && !deativateFunctions"
            [icon]="'company'"
            role="link"
            routerLink="bureau"
            matTooltip="Mine selskaper">
        </uni-icon>

        <navbar-create-new *ngIf="hasActiveContract && !deativateFunctions"></navbar-create-new>

        <notifications *ngIf="!deativateFunctions" title=""></notifications>

        <section class="navbar-settings" *ngIf="hasActiveContract && (settingsLinks?.length || adminLinks?.length) && !deativateFunctions">
            <uni-icon #settingsToggle [icon]="'settings'" title="Innstillinger" matTooltip="Innstillinger"></uni-icon>

            <dropdown-menu [trigger]="settingsToggle" minWidth="14rem">
                <ng-template>
                    <ng-container>
                        <section class="settings-dropdown-container">
                            <section *ngIf="settingsLinks?.length" class="settings-links">
                                <span class="dropdown-menu-header settings-header">Innstillinger</span>
                                <a class="dropdown-menu-item"
                                    *ngFor="let link of settingsLinks"
                                    [routerLink]="link.url">
                                    {{link.name | translate}}
                                </a>
                            </section>

                            <section *ngIf="toolLinks?.length" class="settings-links">
                                <span class="dropdown-menu-header settings-header">Verktøy</span>
                                <a class="dropdown-menu-item"
                                    *ngFor="let link of toolLinks"
                                    [routerLink]="link.url">
                                    {{link.name | translate}}
                                </a>
                            </section>

                            <section *ngIf="adminLinks?.length" class="admin-links">
                                <span class="dropdown-menu-header settings-header">Admin</span>
                                <a class="dropdown-menu-item"
                                    *ngFor="let link of adminLinks"
                                    [routerLink]="link.url">
                                    {{link.name | translate}}
                                </a>
                            </section>
                        </section>

                    </ng-container>

                    <section class="settings-overview-link">
                        <a routerLink="settings"> Oversikt innstillinger </a>
                    </section>
                </ng-template>
            </dropdown-menu>
        </section>

        <navbar-user-dropdown></navbar-user-dropdown>

        <uni-tabstrip-help *ngIf="!deativateFunctions"></uni-tabstrip-help>
    </section>

</section>

<section *ngIf="hasActiveContract && !deativateFunctions" class="tab-strip" [ngClass]="'sidebar-' + sidebarState">
    <uni-tabstrip></uni-tabstrip>

</section>