<section class="background" [ngStyle]="{'background': background, height: backgroundHeight}"></section>

<section class="content">
    <section class="illustration-wrapper">
        <img *ngIf="illustration" [src]="illustration">
    </section>

    <section class="login-container">
        <button class="c2a login-button" *ngIf="!isAuthenticated" (click)="authService.authenticate()" [disabled]="isLoading">
            Logg inn
        </button>

        <section *ngIf="isAuthenticated && availableCompanies?.length" class="authentication-component">
            <h1>Velg selskap</h1>
            <uni-select
                [config]="selectConfig"
                [items]="availableCompanies"
                (valueChange)="onCompanySelected($event)">
            </uni-select>
            <small class="cmp-error-msg"> {{ companyErrorMessage }} </small>
        </section>

        <section class="operating-error-message">
            <i class="material-icons">info_outline</i>
            <span>
                Vi opplever for tiden driftsproblemer relatert til databaser hos Microsoft Azure. Det rammer ikke alle, men enkelte av dere vil oppleve at ett eller flere selskap/klienter er utilgjengelig for pålogging. Vi jobber for å løse problemet, og vil sende ut en oppdatering når problemet er løst.
            </span>
        </section>
    </section>
</section>