\:host
    padding-top: 3rem
    .background
        height: 25rem

    button.c2a
        margin-top: 5.5rem

    img
        margin-right: 15rem

    &.sr-login
        padding-top: 0
        .login-container
            align-items: center
            margin: auto 15vw auto auto
            .login-card
                padding: 2rem
                background-color: #fff
                border-radius: var(--section-radius)
                p
                    color: var(--color-c2a-dark)
                    margin: 0
                    text-align: center
                    margin-bottom: 1.75rem
                    font-size: 20px
                button.c2a
                    margin: 0
                    width: 20rem
                    height: 2.5rem
                    font-size: 15px

            @media screen and (max-width: 1000px)
                margin: auto auto
                button.c2a
                    margin-right: 0

        .select-company-container
            align-items: center
            margin: auto 10vw auto auto

            @media screen and (max-width: 1000px)
                margin: auto auto
                button.c2a
                    margin-right: 0

        .background
            background-size: cover !important

.operating-error-message
    margin-top: 1rem
    font-size: 14px
    display: flex
    align-items: center
    padding: 1rem
    border: 2px solid var(--button-c2a)
    border-radius: 4px
    margin-top: 3rem
    max-width: 45rem
    background-color: var(--alert-info)

    i
        margin-right: 1rem
        color: var(--button-c2a)

button.c2a
    width: 20rem
    height: 5rem
    font-size: 22px
    font-weight: 300
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.16)

.validation
    text-align: center
    margin: 2rem 0

uni-select
    height: 3rem
    margin: 2rem 0

.cmp-error-msg
    font-size: 13px
    color: var(--color-bad)