<section class="background" [ngStyle]="{'background': background, height: backgroundHeight}"></section>

<section class="content">
    <section class="illustration-wrapper">
        <img *ngIf="illustration" [src]="illustration">
    </section>

    <section class="login-container" *ngIf="!isAuthenticated">
        <section class="login-card" *ngIf="isSb1">
            <p>SpareBank 1 Regnskap</p>
            <button class="c2a login-button" (click)="authService.authenticate()" [disabled]="isLoading">
                Logg inn
            </button>
        </section>
        <button class="c2a login-button" *ngIf="!isSb1" (click)="authService.authenticate()" [disabled]="isLoading">
            Logg inn
        </button>

        <section class="operating-error-message" *ngIf="show">
            <i class="material-icons">info_outline</i>
            <span>
                Vi har hatt utfordringer med dokumentvisning i formiddag. Problemet er identifisert og løst.
            </span>
        </section>
    </section>

    <section class="select-company-container" *ngIf="isAuthenticated && availableCompanies?.length">
        <section class="authentication-component">
            <h1>Velg selskap</h1>
            <uni-select
                [config]="selectConfig"
                [items]="availableCompanies"
                (valueChange)="onCompanySelected($event)">
            </uni-select>
            <small class="cmp-error-msg"> {{ companyErrorMessage }} </small>
        </section>
    </section>

</section>