<article class="authentication-component">
    <section *ngIf="!isAuthenticated" class="login-section">
        <button class="c2a" (click)="login()">Logg inn</button>
    </section>

    <section *ngIf="isAuthenticated">
        <ng-template [ngIf]="missingCompanies">
            <p class='validation info'>Fant ingen selskaper på brukeren. Dersom problemet vedvarer vennligst kontakt din
                systemadministrator eller vårt kundesenter.</p>
            <a (click)="resetLogin()" style="display:block;text-align:center;">Tilbake til innlogging</a>
        </ng-template>

        <uni-select
            *ngIf="availableCompanies?.length"
            [config]="selectConfig"
            [items]="availableCompanies"
            (valueChange)="onCompanySelected($event)">
        </uni-select>
    </section>
</article>
