\:host
    display: flex
    align-items: center
    margin: 0 15rem 0 auto

    @media screen and (max-width: 1100px)
        margin: 0 3rem 0 auto
    @media screen and (max-width: 700px)
        margin: 0 auto

button.c2a
    width: 20rem
    height: 5rem
    font-size: 22px
    font-weight: 300
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.16)

.validation
    text-align: center
    margin: 2rem 0

uni-select
    height: 3rem
    margin: 2rem 0