<section role="dialog" class="uni-modal" style="width: 42rem">
    <header>{{ options?.header || 'Opprett ny mottaker'}}</header>

    <article>
        <section *ngIf="busy" class="modal-spinner">
            <mat-spinner class="c2a"></mat-spinner>
        </section>

        <uni-form
            [config]="{showLabelAbove: true, autoFocus: true}"
            [model]="supplier$"
            [fields]="fields$"
            (changeEvent)="isDirty = true">
        </uni-form>

        <section *ngIf="!types.length && dataLoaded" class="alert warn">
            <i class="material-icons">info</i>
            <span>{{missingNumberseriesInfoText}}</span>
        </section>

        <section *ngIf="errorMsg?.length" class="alert bad">
            <i class="material-icons">error</i>
            <span>{{errorMsg}}</span>
        </section>
    </article>

    <footer>
        <button class="secondary" (click)="close()">Avbryt</button>
        <button class="c2a" (click)="save()">{{ isEdit ? 'Lagre mottaker' : 'Opprett mottaker'}}</button>
    </footer>
</section>