<section role="dialog" class="uni-modal new-reciever-modal" style="width: 35vw">
    <header>{{ options?.header || 'Opprett ny mottaker'}}</header>

    <article>
        <section *ngIf="busy" class="modal-spinner">
            <mat-spinner class="c2a"></mat-spinner>
        </section>

        <uni-form
            [model]="supplier$"
            [fields]="fields$"
            [config]="config$"
            (changeEvent)="isDirty = true">
        </uni-form>
        <section *ngIf="!types.length && dataLoaded" class="infotext-section">
            <i class="material-icons">info</i>
            <span>
                {{ infoText }}
            </span>
        </section>
        <small class="bad">
            {{ errorMsg }}
        </small>
    </article>

    <footer>
        <button class="secondary" (click)="close()">Avbryt</button>
        <button class="c2a" (click)="save()">{{ isEdit ? 'Lagre mottaker' : 'Opprett mottaker'}}</button>
    </footer>
</section>