.uni-container
    padding: 1rem 2rem
    max-width: 76rem
footer
    display: grid
    grid-template-columns: 1fr 1fr
    justify-content: space-between
    padding: 0
    .next-button
        display: grid
        justify-content: end
