<uni-toolbar [config]="toolbarconfig"></uni-toolbar>

<header class="horizontal_nav no-print">
    <ul>
        <li *ngFor="let tab of filterTabs; let idx = index">
            <a (click)="onFilterTabClick(tab, idx)" [ngClass]="{'router-link-active': idx === selectedFilterIndex}" >
                {{tab.label}}&nbsp;
                <span *ngIf="tab.count >= 0" class="tab_counter tab_counter_passive">{{tab.count}}</span>
            </a>
        </li>
    </ul>
</header>

<section class="application">
    <button class="new-button" (click)="createOrder()">Ny ordre</button>
    <uni-table
               [resource]="lookupFunction"
               [config]="orderTable"
               (rowSelected)="onRowSelected($event)">

    </uni-table>
</section>
<send-email-modal></send-email-modal>
<report-preview-modal></report-preview-modal>