amelding-receipt-view
    .amelding_validation_errors
        display: block
        background: unicon-warning($uni-color-bad) no-repeat center
        background-size: 4rem
        height: 4rem
        width: 4rem
