@keyframes open-down
    0%
        transform: scaleX(-100%)
    100%
        transform scaleX(100%)

amelding-summary-view
    .uni-container
        margin-right: 0
        display: flex

        .amelding_summary_overview
            flex: 1

        .amelding_summary_sections
            flex: 3


.amelding_summary_overview
    dt, dd
        display: inline-block
        line-height: 2rem

    dt
        min-width: 7rem
        font-weight: 600

    dd
        width: calc(100% - 8rem)
        margin-left: 0

.amelding_summary_sections
    list-style: none

.amelding_summary_section
    border: 1px solid $uni-color-scale9
    margin-bottom: 1rem

.amelding_summary_section_header,
.amelding_summary_section_details
    padding: 1rem

.amelding_summary_section[aria-expanded]:not([aria-expanded=false])
    .amelding_summary_section_header
        border-bottom: pxToRem(1) solid $uni-color-scale9

.amelding_summary_section_header
    width: calc(100% - 2rem)
    display: flex
    justify-content: space-between
    align-items: center
    cursor: pointer

    p
        margin: 0
        flex-grow: 1
        padding-left: 1rem

    strong
        display: block
        color: $uni-color-scale4
        line-height: 1rem
        font-size: 1rem

    .small
        font-size: 14px

.amelding_summary_section_overview
    margin: 0
    line-height: 1rem
    color: $uni-color-scale4

    dt
        display: inline-block
        margin-bottom: 1rem

    dd
        display: inline
        margin-left: 0
        font-weight: 600

        &:after
            content: '\a'
            white-space: pre

.amelding_summary_section_details
    animation: 500ms ease-in open-down
