.amelding_poster
    box-sizing: border-box
    width: 100%
    padding: 0 6.5%
    background: lighten($uni-color-scale9, 5%)
    display: flex
    justify-content: space-between
    align-items: stretch
    font-size: 1.2rem
    color: $uni-color-scale3

.amelding_poster_widget
    flex-grow: 1
    padding: 1rem
    margin: 0
    display: flex
    align-items: center
    justify-content: center

    &.two-up
        flex-grow: 2

    &:not(:last-of-type)
        border-right: pxToRem(1) solid $uni-color-negative

    & > *
        margin: 0

.amelding_poster_details
    text-align: center

    dd
        color: $uni-color-action
        margin-left: 0

    dd:not(:last-of-type)
        margin: 0 0 1rem 0
        font-size: 1.5rem

.amelding_poster_figures
    width: 100%
    padding: 1rem
    border: pxToRem(1) $uni-color-scale9 solid

    tr
        height: 2rem

        &:first-of-type th
            text-align: right

    .datacolumn
        max-width: 6rem

    th
        font-weight: normal
        text-align: left
        font-size: 1.1rem

    td
        text-align: right
        font-size: 1.5rem
        color: $uni-color-Good

.amelding_poster_events
    li
        width: 100%
        border-radius: pxToRem(3)
        display: block
        list-style: none
        text-align: center
        padding: .2rem 1rem
        font-size: 1rem

        &:not(:last-of-type)
            margin-bottom: .5rem

        &.success
            color: $uni-color-Good
            border: pxToRem(2) solid $uni-color-Good

        // &.warn
        //     color: $uni-color-Bad
        //     border: pxToRem(2) solid $uni-color-Bad

        &.warn
            background: $uni-color-Bad
            color: white
            border: pxToRem(2) solid $uni-color-Bad

        time
            font-size: 1rem
            display: inline-block
            margin-left: 1rem
            opacity: .75

