.salarytrans_filter
    ul
        display: inline
    button
        display: inline

.filter_buttonlist
    list-style-type: none
    padding: 0
    margin: 0
    overflow: hidden
    font-style: no

    > li
        display: block
        float: left