employee-salarybalance
    .splitview
        margin-top: .5rem
    .splitview_list
        salarybalances
            article
                margin: 0
                padding: 0
                width: 100%

    .splitview_detail
        margin-left: .5rem

        salary-balance-summary .salaryBalanceSummaryTable
            max-width: 100%
