employee-salarybalance
    .splitview
        margin-top: 0
    .splitview_list
        salarybalances
            article
                margin: 0
                padding: 0
                width: 100%

    .splitview_detail
        margin-top: 3rem
        padding-top: 2rem
        salarybalance-details
            salary-balance-summary
                width: 100%
                section
                    width: 100%
            fieldset
                width: 100%
                max-width: 100%
                aside, uni-image
                    margin-top: 0
                    width: 80%
                    max-width: 80%
                    margin: 0 10%

            legend
                justify-self: center
                padding: 0
                width: 100%
                background: $uni-color-toolbar
                color: $uni-color-negative
                padding-left: 1rem
                margin-bottom: 0

            uni-field
                max-width: 100%

            uni-form,
            article.collapsable
                display: block
                margin: 0 .25rem
