.income-report-radio-button-group
    .mat-radio-group
        display: flex
        flex-direction: row
        .mat-radio-button
            padding-right: 1rem

.income-report i.material-icons
    vertical-align: middle
    color: var(--color-c2a)

    &.warn
        color: var(--color-warn)
    &.error
        color: var(--color-bad)

.income-report-uni-field-alignment
    width: 100%
    display: block
    padding: 0 .5rem 10px
    min-height: 3rem
