.controll-heading-form
    width: 100%
    background: lighten($uni-color-scale9, 5%)
    h3
        text-align: left


.payrollrun-controll-missing-info:before
    content: ''
    display: inline-block
    background: transparent unicon-warning($uni-color-Bad) top .2rem center no-repeat
    background-size: 1rem
    padding: 0.6rem
    margin-right: 0.4rem