.personal-details-tax
    max-width: pxToRem(1340)
    margin: 0 auto

    @include media('650px', 'max-width')
        max-width: pxToRem(650)

    @include media('128em', 'min-width')
        max-width: 128rem
    fieldset
        margin: 0
    
    .collapsable-content
        employee-tax
            min-width: 100%
