.salarytrans-splitview
    display: flex
    flex-flow: row wrap
    margin-top: 1rem

    .salarytrans-list
        flex: 0
        min-width: 22rem

        ul
            max-height: calc(100vh - 28rem)
            li
                height: 34px
                cursor: pointer
                align-items: center
                span
                    flex: 1
                    margin-left: 5px
                    font-weight: 400
                div
                    font-weight: bold
                i
                    font-size: 1.2rem


        .pagination
            justify-content: center

    .salarytrans-details
        flex: 3
        min-width: 50rem
        margin-right: 0

        header
            display: flex
            padding: .5rem 1rem

        .header-info-container
            display: flex
            flex: 1
            font-size: 15px

            span
                margin-left: 3rem

        .navigation-buttons
            margin-left: 1rem

            i.material-icons
                vertical-align: middle
                cursor: pointer
                &:first-of-type
                    margin-right: 1rem


        link-menu, salary-transactions-employee
            display: block


salarytrans
    display: block

payrollrun-details .entityDetails
    uni-section
        display: block
        margin: 2rem auto

    .helpText
        width: 32rem
        left: calc(12.5rem - 17.7rem)

.selected-employee-list
    margin-top: 4rem
    h5
        margin: 0
    ul
        margin: 0
        list-style: none
        li
            height: 34px
            display: flex
            align-items: center
            span
                flex: 1
            i
                color: var(--color-bad)
                cursor: pointer
