salary-balance-summary
    margin-bottom: 1rem
    header
        display: flex
        align-items: center
        margin-bottom: .3rem
        $salaryBalanceFilterOffset: 5.7rem

        .uni-checkbox
            margin-left: .25rem
            margin-right: 2rem
            @include labelLength(7rem)

        button.add-manual-post
            height: 2rem
            line-height: 0


