// use this with splitview_details
.salary_splitview_details
    fieldset
        max-width: 50%
        width: 50%
        min-width: 50%

        @include media(pxToRem(900px))
            padding: 0
            max-width: 100%
            width: 100%
            min-width: 100%

