uni-salary
    display: block

    .splitview
        @include unigrid-flush(14)

        .splitview_list

            .icon-column
                font-size: 0
                height: 1rem

            .missing-info:before
                content: ''
                display: inline-block
                position: absolute
                background: transparent unicon-warning($uni-color-Bad) top center no-repeat
                background-size: 1rem
                margin: .3rem .4rem 0 0
                height: 1rem
                width: 1rem

            [aria-selected]:not([aria-selected=false]) .missing-info:before
                background-image: unicon-warning($uni-color-negative)
                background-size: 1rem

            th:last-child,
            td:last-child
                border-left: none

.salarytrans-payrollrun-detail
    @include unigrid-flush(14)
    margin: 0 auto

    h1
        @extend h2
        margin: 0

    p
        @extend .poster_toolbar_orgnr

section.salarytrans-filter
    width: 100%
    background-color: transparentize($uni-color-scale9, .5)

    salarytrans-filter
        display: block
        @include unigrid-flush(14)
        margin: 1rem auto
        padding: 1rem 0
        text-align: center

    p
        display: inline-block
        margin: 0

.detail_header
    @include clearfix
    margin: 0
    padding: 0
    position: relative

.detail_header_info
    width: 100%

    h1
        @extend h2
        margin: 0 0 .5rem

.detail_header_info_tableForm
    color: $uni-color-scale3

    label
        @include unigrid-flush(2)
        position: relative
        margin-left: 0
        margin-right: 12rem
        min-height: 1.5rem
        font-weight: 400

    input[readonly]
        color: $uni-color-scale3
        padding-left: 0
        position: absolute
        top: 0
        left: 100%
        width: 10rem
        margin-right: 2rem
        font-weight: 300
        background: transparent
        border: none


.detail_header_navigation
    @extend .poster_toolbar_tools
    position: absolute
    top: 0
    right: 0
    min-width: auto

uni-salary .k-grid tbody td>.k-grid-delete
    @extend %unbutton
    display: block
    height: 1rem
    width: 1rem
    background: unicon-close($uni-color-scale6) center center no-repeat
    background-size: .5rem
    font-size: 0

    &:hover,
    &:focus
        background: transparent unicon-close($uni-color-scale2) center center no-repeat
        background-size: .5rem

uni-salary .detail_tables
    margin-left: -1rem
    margin-top: 1rem
    width: calc(100% + 2rem)

    .maintable
        font-size: .9rem
        font-weight: 400

        .k-grid-content
            overflow: hidden

        div.k-grid-header
            padding-right: 0 !important

        .k-grid-toolbar
            text-align: right

    .k-grid-content
        padding-right: 1px

.summarytable
    display: block
    background: transparentize($uni-color-Good, .9)
    border-top: pxToRem(3) double $uni-color-scale9
    border-bottom: pxToRem(1) solid $uni-color-scale9
    pointer-events: none
    transition: color 1000ms ease-in
    position: relative

    &:before
        content: 'Summarytable is deprecated. Use <uni-summary> instead!'
        display: block
        background: yellow
        position: absolute
        top: 0
        left: 0

    &.-is-dirty
        @extend dl.summary.-is-dirty
        margin-bottom: .7rem

    .k-grid,
    table
        .k-grid-header tr,
        tr:nth-of-type(odd),
        tr:nth-of-type(even),
        td,
        th,
        .k-grid-content
            background: transparent
            overflow: visible
            text-align: left !important

        div.k-grid-header
            padding-right: 0 !important

        .k-grid-toolbar
            display: none

        .k-grid-header-wrap,
        th, tr, thead
            border-bottom: none

        .k-grid-header th.k-header>.k-link
            color: $uni-color-scale3
            text-transform: lowercase
            font-variant: small-caps

        td
            font-weight: 400
            line-height: .5rem
            padding-bottom: 1.5rem
            padding-left: 2rem

        th
            padding-top: 1rem
            padding-left: 2rem


.detail_keyFigures
    dt,
    dd
        display: block
        float: left
        margin-right: 1rem
    dt
        font-weight: 600
        width: 5rem

    dd
        width: 15rem
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap

    dt:nth-of-type(3)
        clear: left

salarytrans
    .splitview_list
        min-width: 20%
        max-width: 20%

        @include media(small)
            width: 100%
    
    .splitview_detail
        max-width: 80%
        min-width: 80%