.wageTypeToolbar
    .toolbar-bottom-row
        uni-toolbar-search
            flex: 0 1 20rem
            input[type=search]
                font-size: 1.25rem
                font-weight: 300

wagetype-details uni-field
    @include labelLength(14rem)

.wagetype-list ag-grid-wrapper
    height: calc(100vh - 12rem)