<label class="uni-multivalue" [class.-has-values]="values.length > 1">{{label}}

    <input type="text" [(ngModel)]="inputVal" [placeholder]="main">
    <button class="uni-multivalue-moreBtn" (click)="addOrDropdown(inputVal)">Add</button>

    <ul class="uni-multivalue-values" [class.-is-active]="activeMultival">
        <li *ngFor="#value of values" [class.-is-main]="value === main">
            {{value}}
            <button class="setMainBtn" (click)="setMain(value)">Set {{value}} as main</button>
        </li>
    </ul>

    <button>+ Legg til</button>

</label>