<header class="poster">


    <article class="poster_toolbar">

        <h2 class="poster_toolbar_headline">
            Audhild Grieg
            <p class="poster_toolbar_orgnr">F.nr. 21.08.67 35072</p>
        </h2>

        <div class="poster_toolbar_tools">

            <input type="search" placeholder="6115" class="poster_toolbar_search">

            <a class="previous" href="#">Forrige</a>
            <a class="next" href="#">Neste</a>
            <a class="new" href="#">Ny ansatt</a>
            <a class="edit" href="#">Rediger</a>
        </div>


    </article>

    <section class="poster_overview">

        <div class="poster_widgets">

                <article class="poster_widget poster_widget_contact">

                    <h4>Kontaktinformasjon
                    </h4>

                    <div style="background-image:url('https://farm6.staticflickr.com/5618/22518834462_3110dc694e_q_d.jpg')"
                         class="avatar"> </div>

                    <p>
                        <a href="mailto:audhild.grieg@gmail.com">audhild.grieg@gmail.com</a><br>
                    </p><p>
                    <span>
                        Overordnet: <a href="#" class="internal">Vibeke Thorsen</a>
                    </span>
                </p>

                </article>

                <article class="poster_widget poster_widget_table">
                    <h4>Sist registrerte timer</h4>

                    <table>
                        <tr>
                            <td>04.12</td>
                            <td>3412: Konsulent, fakturerbart</td>
                            <td>7,5t</td>
                        </tr>
                        <tr>
                            <td>03.12</td>
                            <td>1001: Administrastivt        </td>
                            <td>3t</td>
                        </tr>
                        <tr>
                            <td>03.12</td>
                            <td>3412: Konsulent, fakturerbart</td>
                            <td>4,5t</td>
                        </tr>
                        <tr>
                            <td>02.12</td>
                            <td>3412: Konsulent, fakturerbart</td>
                            <td>7,5t</td>
                        </tr>
                    </table>

                </article>

                <article class="poster_widget poster_widget_figure">

                    <h4>1 arbeidsforhold</h4>

                    <h1>Seniorkonsulent</h1>

                    <h2>80%</h2>

                    <p><a href="#" class="internal" title="Avdeling">Konsulent</a>,
                        <a href="#" class="internal" title="Arbeidssted">Stavanger</a></p>
                    <p>Ansatt 03.05.2014</p>

                </article>

                <article class="poster_widget poster_widget_status">

                    <h4>Varsler</h4>

                    <ul>
                        <li class="good">
                            <h3>Alt ok</h3>
                        </li>
                    </ul>

                </article>
        </div>

    </section>

</header>

<article class="application usertest">

    <label> Navn <input type="text" value="Audhild Grieg"/> </label>
    <label> Fødselsnr. <input type="text" value="21.08.67 35072"/> </label>
    <label> Fødselsdato <input type="text" value="21.08.67"/> </label>
    <label> Kjønn <input type="text" value="Kvinne" list="sex"/>
        <datalist id="sex">
            <option value="Kvinne">Kvinne</option>
            <option value="Mann">Mann</option>
        </datalist>
    </label>
    <uni-multival [label]="'Kontonummer'" [values]="['9484.06.14799']" [main]="'9484.06.14799'"></uni-multival>
    <label> Kommunenummer <input type="text" value="4130"/> </label>
    <label> Virksomhet / Lokalitet <input type="text" value="Stavanger"/> </label>
    <label> Overordnet <input type="text" value="Vibeke Thorsen" list="supervisor"/>
        <datalist id="supervisor">
            <option value="Vibeke Thorsen"></option>
            <option value="Angela Merkel"></option>
            <option value="Hillary Clinton"></option>
            <option value="Aung San Suu Kyi"></option>
            <option value="Erna Solberg"></option>
            <option value="Marissa Meyer"></option>
            <option value="Leymah Gbowee"></option>
            <option value="Susan Wojcicki"></option>
            <option value="Ellen Johnson Sirleaf"></option>
            <option value="Ginni Rometti"></option>
        </datalist>
    </label>

    <article class="collapsable -is-open">
        <h4>Kontaktinformasjon</h4>
        <div class="collapsable-content">

            <section>
                <label> Addresse <input type="text" value="Hafrsfjordsgata 65"/> </label>
                <label for="postnr" class="combo"> Postnummer og -sted
                    <div>
                    <input type="text" id="postnr" value="4010" class="sm"/> <input type="text" value="Stavanger"/>
                    </div>
                </label>
                <label> Landskode <input type="text" value="NO"></label>
                <label> Land <input type="text" value="Norge"></label>
            </section>

            <uni-multival [label]="'E-post'" [values]="email" [main]="'j@lom.me'"></uni-multival>
            <uni-multival [label]="'Telefon'" [values]="phone" [main]="'+47 95529331'"></uni-multival>

        </div>
    </article>


    <article class="collapsable -is-open">
        <h4>Skattekort</h4>
        <div class="collapsable-content">
            <label class="small"> Skattetabell <input type="text" value="7110"/> </label>
            <label class="small"> Skatteprosent <input type="text" value="38%"/> </label>
            <label class="small"> Fri inntekt <input type="text" value="50.000"/> </label>
            <input type="checkbox" id="captionedcheck1"/> <label for="captionedcheck1" class="small"> Biarbeidsgiver </label>
            <label class="small"> Kommunenummer <input type="text" value="4130"></label>
        </div>
    </article>


</article>