\:host
    display: flex
    flex-direction: column
    width: 50rem
    max-width: 100vw
    height: 100%
    background: #fff
    box-shadow: -1px 0 4px 0 rgba(0,0,0,.14)
    padding: 2rem

    .header
        flex: 0 0 auto
        padding-bottom: 2rem
        display: flex
        justify-content: space-between
        align-items: center
        margin: 0
        font-size: 22px

        .close
            cursor: pointer

    .alert.info
        flex: 0 0 auto
        margin: 0 0 2rem
        font-size: 15px
        font-weight: 400

    ag-grid-wrapper
        flex: 1
        overflow: hidden
        --table-row-even-background: #fff

    .footer
        flex: 0 0 auto
        padding-top: 1.5rem
        display: flex
        justify-content: flex-end
        button.good
            width: 10rem
        button.secondary
            width: 6rem
