.overview
    display: flex
    flex-direction: row

widget-chart
    width: 50%

.unpaid-legend
    display: grid
    justify-content: center
    margin: auto 0

    width: 50%
    grid-template-columns: 9rem 9rem
    grid-gap: 1.5rem
    white-space: nowrap

    .legend-item
        display: flex
        flex-direction: column
        border-radius: var(--section-radius)
        padding: 1rem 1.25rem
        font-size: 14px

        .value
            font-weight: 500
            font-size: 18px

simple-table
    font-size: 15px

.footer
    margin-bottom: .5rem
