.authentication-component
    position: relative
    width: 45rem
    padding: 2rem 6rem
    margin: 0

    h1
        margin-bottom: 2rem
        i.material-icons
            color: var(--link-color)
            cursor: pointer
            font-size: 22px

    label > span
        font-weight: 500