<section class="authentication-component">
    <section *ngIf="busy" class="spinner">
        <mat-spinner class="c2a"></mat-spinner>
    </section>

    <h1>
        <i routerLink="/init/register-company" class="material-icons">
            arrow_back_ios
        </i>
        Registrer selskapet ditt
    </h1>

    <label class="uni-label">
        <span>Navn på testselskap</span>
        <input type="text" [(ngModel)]="companyName">
    </label>

    <label class="uni-label">
        <span>Selskapsmal</span>
        <select [(ngModel)]="selectedTemplate">
            <option *ngFor="let template of templates" [ngValue]="template">
                {{template.name}}
            </option>
        </select>
    </label>
</section>