<uni-breadcrumbs *ngIf="!config?.hideBreadcrumbs" [omitFinalCrumb]="config?.omitFinalCrumb"></uni-breadcrumbs>

<uni-statustrack *ngIf="statustrack || config?.statustrack"
    [config]="statustrack || config.statustrack"
    (statusSelectEvent)="selectStatus($event)">
</uni-statustrack>

<uni-comments *ngIf="commentsConfig"
              [entity]="commentsConfig.entityName"
              [entityID]="commentsConfig.entityID">
</uni-comments>

<h1>{{config?.title}}
    <small *ngFor="let subhead of config?.subheads"
        [class]="subhead.classname || ''">
        <a [href]="subhead.link" *ngIf="subhead.link">{{subhead.title}}</a>
        {{subhead.link ? '' : subhead.title}}
    </small>
</h1>

<nav class="toolbar_tools">
    <input *ngIf="config?.navigation?.find"
        #query
        type="search"
        class="find"
        (keydown.enter)="navigate('find', query.value)" />

    <button *ngIf="config?.navigation?.prev"
        class="previous"
        type="button"
        (click)="navigate('prev')">Forrige</button>

    <button *ngIf="config?.navigation?.next"
        class="next"
        type="button"
        (click)="navigate('next')">Neste</button>

    <button *ngIf="config?.navigation?.add"
        class="new"
        type="button"
        (click)="navigate('add')">Ny</button>

    <uni-context-menu *ngIf="contextmenu || config?.contextmenu"
                      [actions]="contextmenu || config.contextmenu">
    </uni-context-menu>

    <uni-save *ngIf="saveactions || config?.saveactions"
              [actions]="saveactions || config.saveactions">
    </uni-save>
</nav>
