.daybrowser
    width: 100%    
    margin-bottom: pxToRem(7)
    border-bottom: pxToRem(1) solid $uni-color-scale8    
    text-align: center

    header
        font-size: 14pt
        @extend %clickable        

        .monthbutton
            border-radius: pxToRem(8)
            padding-left: pxToRem(20)
            padding-right: pxToRem(20)

        .monthbutton:hover
            background: $uni-color-scale8 !important

        .subtitle
            font-size: 10pt
            color: $uni-color-scale6

    unitable-calendar
        display: block


.daybrowser table
    margin: 0
    padding: 0
    border-collapse: collapse
    margin-left: auto
    margin-right: auto

    table td
        color: $uni-color-scale8
        @extend %clickable
        text-align: center
        white-space: nowrap
        padding: pxToRem(5) pxToRem(15) pxToRem(5) pxToRem(15)
        overflow: hidden

        &.is-active
            color: $uni-color-c2a

            &.is-weekend
                color: mix($uni-color-bad, $uni-color-scale4) !important

        &.is-weekend
            color: lighten(mix($uni-color-bad, $uni-color-scale4), 30%)        

        &:hover,
            color: $navbarTextColor
            background: darken(mix($uni-color-scale7, $navbarBackground, 60%), 15%)

        .circle
            border-radius: pxToRem(30)
            border: 2px solid lighten($uni-color-bad, 30%)
            padding-left: pxToRem(4) !important

    span.small
       display: block
       font-size: 9pt

    span.big
       font-size: 17pt      

.arrow-right, .arrow-left
    position: absolute
    top: pxToRem(35)
    width: 0
    height: 0
    border-left: 10px solid transparent
    border-right: 10px solid transparent
    border-bottom: 10px solid $uni-color-c2a

.arrow-right
    left: pxToRem(4)
    transform: rotate(90deg)
    float: right    

.arrow-left
    right: pxToRem(4)
    transform: rotate(270deg)
    float: left

td.arrow
    @extend %clickable
    width: pxToRem(35)
    height: 1em
    position: relative

    &:hover
        background: $uni-color-scale8 !important

.popup-calendar
    position: absolute
    z-index: 10
    left: 40%

    unitable-calendar
        margin-top: pxToRem(-20)
