<uni-toolbar
    [config]="toolbarconfig"
    [saveactions]="saveactions"
    [subheads]="toolbarSubheads">
</uni-toolbar>

<section class="application">
    <uni-tabs [tabs]="tabs" [activeIndex]="activeTabIndex" (tabClick)="activeTab = $event"></uni-tabs>

    <uni-form
        *ngIf="!activeTab?.value"
        [config]="config$"
        [fields]="fields$"
        [model]="seller$"
        (changeEvent)="onFormChange($event)">
    </uni-form>

    <section *ngIf="activeTab?.value" class="uni-container">
        <seller-sales-list
            style="display: block;"
            [sellerID]="sellerID"
            [mode]="activeTab.value">
        </seller-sales-list>
    </section>
</section>
