.uni-datepicker
    position: relative

    *
        box-sizing: border-box

    input
        width: calc(100% - 1.7rem)
        float: left
        border-top-right-radius: 0
        border-bottom-right-radius: 0

        &[readonly],
        &[disabled]
        border-radius: pxToRem(3) 0 0 pxToRem(3)

    .uni-datepicker-calendarBtn
        width: 1.7rem
        margin: 0
        padding: 0
        float: right
        font-size: 0
        background: $uni-color-negative unicon-calendar($uni-color-scale4) no-repeat center center
        background-size: .8rem
        border: $uni-color-scale7 solid pxToRem(1)
        border-left: none
        box-shadow: none
        border-bottom-left-radius: 0
        border-top-left-radius: 0

        &:hover,
        &:focus,
        &.-is-active
        background-color: $uni-color-scale9


    uni-calendar
        position: absolute
        margin-top: 1.68rem
        z-index: 99
        background: $uni-color-negative
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1)
        display: none
        border-radius: 3px

        &[aria-expanded]:not([aria-expanded=false])
            display: block

        caption
            background-color: $uni-color-C2A
            color: $uni-color-negative
            height: 2.5rem
            line-height: 2.5rem

            .prev, .next
                position: absolute
                cursor: pointer

                &:before
                    height: 2.5rem
                    width: 2rem
                    display: block
                    content: ''
                    background: unicon-chevron-right($uni-color-negative) center center no-repeat
                    background-size: .3rem

                &:hover
                    &:before
                        background-size: .4rem
            .prev
                left: 1%
                transform: rotate(180deg)

            .next
                right: 1%

        th
            font-weight: 400
            width: 2.25rem
            margin: 0
            padding: 0
            text-align: center

        td
            text-align: center
            height: 2rem
            line-height: 2rem
            cursor: pointer

            &.selected, &:hover
                color: $uni-color-C2A
                font-weight: bold

            &.other-month
                color: $uni-color-scale6