uni-image
    display: block
    position: relative

    span.span-area-highlight-class
        display: none
        height: 0
        width: 0
        position: absolute
        background-color: rgba(255, 216, 0, 0.4)

    .image-container
        position: relative
        display: inline-block

        img
            width: auto
            max-width: 100%
            cursor: pointer

    .uploading-progress-info
        margin-top: 1rem
        margin-left: 1rem

    .image-word
        display: block
        cursor: pointer
        position: absolute
        padding: .35rem .7rem
        opacity: .5

    .image-word:hover
        border: 1px solid var(--border-color)

    .uniImage
        display: flex

        .image-section, ehf-viewer
            display: block
            width: 100%
            height: 100%
            border: 1px solid var(--border-color)
            flex: 1

        ul.uni-thumbnail-list
            display: block
            list-style: none
            margin: 0 0 0 .5rem
            flex: 0 0 auto

            li
                height: pxToRem(50)
                display: flex
                width: 2.75rem
                justify-content: center
                cursor: pointer
                margin: 0 0 .5rem
                border: 1px solid #E2E6F0

                img
                    width: auto
                    height: 100%
                    max-width: 100%

                .ehf-thumbnail
                    margin: auto
                    font-weight: 700
                    color: #0f4880

    .uni-image-pager
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: 2.5rem
        font: 400 15px var(--font-family)
        color: $uni-color-negative
        background: rgba(0, 0, 0, 0.5)

        .file-name
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap

        i.material-icons
            cursor: pointer
            vertical-align: middle
            color: $uni-color-negative
            padding-left: 5px
            font-size: 21px

        .print
            margin-left: 5px
        .prev
            margin-right: auto
        .next
            margin-left: auto

uni-modal .uni-thumbnail-list
    position: static
    max-width: none


.widget-logo-wrapper .image-section
    border: none !important

.ocr-value-picker
    padding: 0 1rem