uni-attachments
    position: relative
    display: inline-block
    width: 100%
    height: 100%
    box-sizing: border-box

.upload-input
    display: inline-block
    box-sizing: border-box
    cursor: pointer
    margin-left: .1rem
    margin-bottom: 1rem

    &.modal-upload
        display: flex
        flex-direction: column
        box-sizing: border-box
        cursor: pointer
        margin: 1rem auto
        width: 25rem
        border-radius: 13rem
        align-items: center
        justify-content: center

    &.drag-over
        border: 1px dashed
        background-color: var(--dropdown-select-background)
        opacity: .8

    .material-icons
        color: var(--color-c2a)
        vertical-align: middle
        margin-top: -4px
        margin-right: .5rem

    &[aria-disabled]:not([aria-disabled=false])
        cursor: not-allowed

    input[type=file]
        // "visible" only for screen readers
        @extend %visuallyHidden

    .tooltip
        margin-left: 1rem
