uni-image
    position: relative
    min-width: 100%

    span.span-area-highlight-class
        display: none
        height: 0
        width: 0
        position: absolute
        background-color: rgba(255, 216, 0, 0.4)

    picture
        position: relative

    picture img
        width: auto
        max-width: 100%
        cursor: pointer

    picture:hover.clickable
        cursor: zoom-in

    .image-word
        display: block
        cursor: pointer
        position: absolute

    .image-word:hover
        border: 1px solid gray

    .word-picker-area
            display: block
            position: absolute
            width: 12rem
            color: $uni-color-positive
            padding: 1rem
            background: $uni-color-negative
            border: pxToRem(1) solid $uni-color-scale8
            box-shadow: 0 0 .6rem transparentize($uni-color-scale1, .7)
            border-radius: pxToRem(5)
            z-index: map-get($zindex, picker)
            left: pxToRem(-50)

            button
                @extend a:link
                display: block
                background: 0 0
                box-shadow: none
                text-shadow: none
                border: none
                padding: 0
                margin-left: .3rem
                margin-right: .3rem
                margin-top: 0.1rem
                margin-bottom: 0.1rem
                text-decoration: underline

            p
                margin-top: 0rem
                margin-bottom: 0.5rem

            h3
                margin-top: 0.1rem
                margin-bottom: 0.1rem

            &:before
                $size: .5rem
                $color: $uni-color-negative
                content: ''
                display: block
                position: absolute
                height: 0
                width: 0
                top: -#{$size}
                right: calc(50% - (#{$size} / 2))
                border-bottom: $size solid $color
                border-left: $size solid transparent
                border-right: $size solid transparent

    .uni-thumbnail-list
        display: block
        list-style: none
        margin-right: 0.5rem

        li
            height: pxToRem(50)
            max-width: 3rem
            display: inline-block
            float: left
            cursor: pointer
            margin-right: 5px

            &:last-of-type
                @include clearfix()

            img
                width: auto
                height: 100%
                max-width: 100%

            // REVISIT: Quickfix. Get help from Jørgen!
            &[aria-busy]:not([aria-busy=false])
                box-sizing: border-box !important
                cursor: not-allowed

            .uni-image-upload
                display: block
                height: 50px
                width: 3rem
                border: 1px dashed $uni-color-scale8
                border-radius: pxToRem(5)
                box-sizing: border-box
                cursor: pointer
                background: unicon-plus($uni-color-scale8) center center no-repeat
                background-size: 1rem

                &[aria-disabled]:not([aria-disabled=false])
                    cursor: not-allowed

                input[type=file]
                    // "visible" only for screen readers
                    @extend %visuallyHidden

    .uniImage
        @media (min-width: 1600px)
            position: relative

            .image-section
                width: calc(100% - 3.5rem)

            .uni-thumbnail-list
                width: 3rem
                position: absolute
                top: 0
                right: 0
                margin: 0

                li
                    margin-bottom: 5px

    .uni-image-pager
        width: 100%
        height: 3rem
        line-height: 3rem
        background: transparentize(#000, 0.5)
        text-align: center
        color: $uni-color-negative

        i.material-icons
            cursor: pointer
            vertical-align: middle
            color: $uni-color-negative
            padding-left: 5px
            font-size: 20px

        .print
            margin-left: 5px

        .prev, .next
            cursor: pointer
            &:before
                height: 3rem
                width: 2rem
                display: block
                content: ''
                background: unicon-chevron-right($uni-color-negative) center center no-repeat
                background-size: .35rem

            &:hover:before
                background-size: .45rem

        .prev
            float: left
            transform: rotate(180deg)
        .next
            float: right

uni-modal .uni-thumbnail-list.-has-thumbnails
    position: static
    max-width: none
