uni-image
    position: relative
    display: inline-block

    picture img
        width: auto
        max-width: 100%

    &:focus,
    picture:hover + .uni-image-pager,
    .uni-image-pager:hover
        width: 100%
        height: 3rem
        clip: initial

    .uni-image-pager
        @extend %visuallyHidden
        position: absolute
        top: 0
        background: transparentize(#000, 0.5)

        label
            position: absolute
            width: calc(100% - 4rem)
            left: 2rem
            text-align: center
            line-height: 3rem
            color: $uni-color-negative

        .prev, .next
            position: absolute
            cursor: pointer

            &:before
                height: 3rem
                width: 2rem
                display: block
                content: ''
                background: unicon-chevron-right($uni-color-negative) center center no-repeat
                background-size: .35rem

            &:hover:before
                background-size: .45rem
        .prev
            left: 1%
            transform: rotate(180deg)

        .next
            right: 1%


    .uni-thumbnail-list
        display: block
        list-style: none

        li
            height: 50px
            max-width: 5rem
            display: block
            float: left
            cursor: pointer

            &:not(:first-of-type)
                margin-left: pxToRem(5)

            &:last-of-type
                @include clearfix()

            img
                width: auto
                height: 100%
                max-width: 100%

            // REVISIT: Quickfix. Get help from Jørgen!
            &[aria-busy]:not([aria-busy=false])
                min-height: 50px !important
                box-sizing: border-box !important
                cursor: not-allowed

            .uni-image-upload
                display: block
                height: 50px
                min-width: 4rem
                border: 1px dashed $uni-color-scale8
                border-radius: pxToRem(5)
                box-sizing: border-box
                cursor: pointer
                background: unicon-plus($uni-color-scale8) center center no-repeat
                background-size: 1rem

                &[aria-disabled]:not([aria-disabled=false])
                    cursor: not-allowed

                input[type=file]
                    // "visible" only for screen readers
                    @extend %visuallyHidden

