uni-preview-modal
    section.uni-modal
        width: 90vw
    article
        width: 100%

    .report-loading
        margin: 0rem 2rem 2rem

        .uni-progress-bar
            height: 10px
            margin-top: 1rem
