.report_group_card
    @include unigrid(4,2,2)
    box-shadow: 0 0 1rem rgba(161,170,188,.4)
    border-radius: .1875rem
    padding: 1rem
    margin-top: 1rem
    float: left

    h2
        margin: 0

    h4
        margin-bottom: 1rem;

    p
        color: rgb(120, 120, 120)
        font-size: 0.8em
        white-space: normal

.report_overview_page
    padding: 3rem
    padding-top: 1rem



