uni-report-params-modal

    article
        width: calc(100% - pxToRem(5))
        margin: pxToRem(5)

    table
        margin-top: 1em
        width: 100%

        tr td:first-of-type
            width: 100%