.report_parameter_modal
    background: $uni-color-negative
    box-shadow: 0 0 2rem transparentize($uni-color-positive, .9)
    padding: 1rem
    box-sizing: border-box
    border-radius: pxToRem(5)
    max-height: 90vh
    overflow: auto

    @media(small)
        width: 95cw

    h1
        @extend h2


    width: 400px
    margin: 0vh 0vw
    overflow: auto
    
    p:last-of-type
        margin-bottom: 3rem

    footer
        padding-top: rem
        padding-bottom: 0rem