uni-report-params-modal,
.uni-report-params-modal
    .rememberForm
        width: 100%
        background-color: var(--scale4)
        padding: 0.5rem 2.5rem

uni-report-send-modal
    textarea
        height: 10rem
        overflow: auto
