uni-report-params-modal,
.uni-report-params-modal

    article
        width: calc(100% - pxToRem(5))

    .btn-left
        margin-left: 0 !important
        margin-right: 0.5em !important

    .nowrap
        white-space: nowrap

    .left
        text-align: left
    
    .right
        text-align: right

uni-report-send-modal
    textarea
        height: 10rem
        overflow: auto        