.report_group_card
    @include unigrid(4,2,2)
    box-shadow: 0 0 1rem rgba(161,170,188,.4)
    border-radius: .1875rem
    padding: 0.8rem
    margin-top: 1rem
    float: left

    h1
        margin: 0
        padding: 0 0 0 pxToRem(3)

    h4
        margin-bottom: 0
        border-radius: pxToRem(5)
        cursor: pointer
        padding: pxToRem(3)

    h4:hover
        background-color: $uni-color-scale9

    p
        color: rgb(120, 120, 120)
        font-size: 0.8em
        white-space: normal
        margin-top: 0
        padding: pxToRem(3)

    .waiting
        cursor: wait !important
        
.report_overview_page
    padding: 3rem
    padding-top: 1rem
