.tmpReportModal
    background: $uni-color-negative
    box-shadow: 0 0 2rem transparentize($uni-color-positive, .9)
    padding: 2rem
    box-sizing: border-box
    border-radius: pxToRem(5)
    max-height: 90vh
    overflow: auto

    @media(small)
        width: 95cw

    h1
        @extend h2

    footer
        text-align: right
        

    width: 840px
    height: 90vh
    margin: 0vh 0vw
    overflow: auto
    
    p:last-of-type
        margin-bottom: 3rem
    
.tmpReportFooter
    background: $uni-color-negative

    // For browsers who doesn't support position:sticky:
    position: absolute
    height: 50px
    bottom: 5vh // == position from bottom of the modal
    width: 	790px
    
    @supports (position: sticky)
        position: sticky
        bottom: 0
        left: 0
        right: 0
        width: auto // undo our setting of the width
        