<button class="selector-button" #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="contextMenu" title="Vis periodevelger"> {{ getPeriodeText() }} <uni-icon icon="calendar"></uni-icon></button>
<mat-menu #contextMenu="matMenu">
    <div class="date-selector-main-container" (click)="$event.stopPropagation();">
        <div style="display: flex; height: 36px;">
            <div style="flex: 1;"></div>
            <i class="material-icons" style="font-size: 1.4rem; vertical-align: middle; cursor: pointer;" title="Lukk periodevelger" (click)="menuTrigger.closeMenu()"> close </i>
        </div>
        <div class="periode-selector-container">
            <div class="standard-period-filters">
                <div *ngFor="let array of periodFilters" class="period-select-row">
                    <div *ngFor="let filter of array" class="period-select-column" [class.selected]="filter.selected" (click)="selectFilter(filter)">
                        <span> {{ filter.label }} </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="date-selector-container">
            <div class="calander-selection-container">
                    <span> Fra: </span>
                    <div *ngIf="fromDate">
                        <div class="calender-select-month-header">
                            <i class="material-icons" (click)="monthChange(true, -1)"> chevron_left </i>
                            <span>
                                {{ _MONTHS[currentFromMonth + 1] }} {{ currentFromYear }}
                            </span>
                            <i class="material-icons" (click)="monthChange(true, 1)"> chevron_right </i>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th *ngFor="let day of _DAYS">{{ day.substr(0,2) }}</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let week of fromMonths[currentFromMonth]">
                                    <td *ngFor="let weekday of week" [class.selected]="weekday.DateFormatted === fromDate.DateFormatted" (click)="calenderDateSelected(true, weekday)">
                                        {{ weekday.calenderText }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
            <div class="calander-selection-container">
                <span> Til: </span>
                <div *ngIf="toDate">
                    <div class="calender-select-month-header">
                        <i class="material-icons" (click)="monthChange(false, -1)"> chevron_left </i>
                        <span>
                            {{ _MONTHS[currentToMonth + 1] }} {{ currentToYear }}
                        </span>
                        <i class="material-icons" (click)="monthChange(false, 1)"> chevron_right </i>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th *ngFor="let day of _DAYS">{{ day.substr(0,2) }}</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let week of months[currentToMonth]">
                                <td *ngFor="let weekday of week" [class.selected]="weekday.DateFormatted === toDate.DateFormatted" (click)="calenderDateSelected(false, weekday)">
                                    {{ weekday.calenderText }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</mat-menu>
