batch-invoices-container
  .batch-invoice-details
    position: fixed
    top: 4.75rem
    right: 0
    height: calc(100vh - 4.75rem)
    box-shadow: -1px 0px 1px 0 rgba(0, 0, 0, 0.14)
    width: 70vw
    min-width: 45rem
    z-index: 500
    background-color: #fff
    padding: 0.5rem 1.5rem 1rem
    overflow: auto
    a.payment
      display: flex
      justify-content: space-between
      padding: 0 35rem 0 0
    .error-data-container
      display: flex
      justify-content: space-between
    a.orderlink
      width: 15rem
      display: flex
      align-items: baseline
    button.info
      background-color: var(--color-c2a)
      color: #fff
    .filter-inputs
      width: 20vw
      padding: 1rem
      margin: 2rem 0
  .sub-ticker-close-icon
    position: absolute
    right: 0.5rem
  table
    width: 100%
    border-spacing: 0
    border-collapse: collapse
    th
        text-align: left
        padding: 1rem
    td
        text-align: left
    mat-chip.mat-chip.mat-standard-chip
        padding: 0.3rem 1rem
        border-radius: 2rem
        display: inline-block
        color: #fff
        width: 6rem
        cursor: pointer

    tr.separation
        height: 1rem
        background-color: #fff

    tr.item-info
      td
        background-color: #F7F7F7
        padding: 1rem
        border: 2px solid #F7F7F7
      td.good
        mat-chip
          background-color: #01A901
          text-align: center
      td.bad
        mat-chip
          background-color: #F53B57
          text-align: center
    tr.error-info
      td
        background-color: #fff
        padding: 1rem
        border: 2px solid #F2F2F2
        a
          text-decoration: underline
        i
          color: #1565C0
          margin-left: 0.2rem
          position: relative
          top: 0.5rem
          margin-right: 0.3rem


