table.simple

    width: 100%
    min-width: pxToRem(800)
    table-layout: fixed
    border-collapse: collapse
    cursor: pointer
    margin-top: 1rem

    th, td
        text-align: left
        text-overflow: ellipsis
        overflow-x: hidden
        white-space: nowrap
        border-width: 0 0 pxToRem(1) 0
        border-color: $uni-color-scale8
        border-style: solid
        padding: pxToRem(3) pxToRem(4) 0 pxToRem(4)

    td
        border-bottom: pxToRem(1) solid $uni-color-scale9
        border-left: pxToRem(1) solid $uni-color-scale9

    a.bad
         color: red !important
         margin-right: 1em

    tr.current
        background-color: $uni-color-scale9

    button
        margin: pxToRem(3)
        padding: pxToRem(5)

saft-import-modal

    table.full
        width: 100%

    td.nowrap
        white-space: nowrap

    td.left
        text-align: left

    td.right
        text-align: right
