.saftTableLine
    margin: 0 !important
    height: 2rem
    line-height: 1rem

saft-import-modal

    table.full
        width: 100%

    td.nowrap
        white-space: nowrap

    td.left
        text-align: left

    td.right
        text-align: right

