.supplier-file-import
    height: 6rem
    display: flex
    align-items: center
    border: 1px solid #b9b9b9
    border-radius: 3px
    padding-left: 1rem

.type-filter
    margin-bottom: 1rem

.upload-input
    margin-top: 20px
    margin-bottom: 20px

label
    text-align: justify

.file-container
    margin-bottom: 15px
