<section role="dialog" class="uni-modal uni-redesign" style="position: relative;">
    <article>
        <section class="bureau-group-split-view">
            <!-- List-->
            <section class="bureau-group-list">
                <ul id="group-list">
                    <li class="header">Grupper</li>
                    <li *ngFor="let group of groups; let idx = index"
                        [attr.aria-selected]="idx === editingIndex"
                        (click)="editGroup(idx)">

                        <span>{{group.name}}</span>
                        <i *ngIf="!group.static" class="material-icons" (click)="deleteGroup(idx)">clear</i>
                    </li>
                </ul>

                <button class="tertiary c2a" (click)="createGroup()">
                    <i class="material-icons">add</i>
                    Ny gruppe
                </button>
            </section>

            <!-- Detail -->
            <section class="bureau-group-details" id="group-details">
                <strong>Gruppenavn</strong>
                <input type="text"
                    [(ngModel)]="groups[editingIndex].name"
                    [disabled]="groups[editingIndex].static"
                    placeholder="Gruppenavn"
                    spellcheck="false"
                    autofocus
                />

                <strong style="margin-top: 2rem">Selskaper i gruppe</strong>
                <small *ngIf="groups[editingIndex].static">
                    Hvilke selskap som inngår kan ikke endres for denne gruppen.
                </small>
                <ng-template [ngIf]="!groups[editingIndex].static">
                    <input type="search"
                        [formControl]="searchControl"
                        placeholder="Filtrer liste"
                    />

                    <mat-selection-list>
                        <mat-list-option *ngFor="let company of filteredCompanies"
                            checkboxPosition="before"
                            [selected]="company._isInGroup"
                            (click)="companySelectionChange(company)">

                            {{company.Name}}
                        </mat-list-option>
                    </mat-selection-list>
                </ng-template>
            </section>
        </section>
    </article>

    <footer class="center">
        <button class="c2a rounded" (click)="submitChanges()">Lagre endringer</button>
        <button (click)="onClose.emit()">Avbryt</button>
    </footer>
</section>