h4.total
    display: inline-block
    margin: 0
    margin-top: 1rem

div.sum
    height: auto
    width: 10rem
    float: right

div.uniTable
    max-height: 62.5vh
    min-height: 15vh

a
    vertical-align: middle
    font-weight: 600
    color: #1565C0

    &:hover
        text-decoration: underline


i.icon-blue
    margin: 1rem 0 1rem 4.5rem
    color: #1565C0
    vertical-align: middle
    font-weight: 600

.uni-modal
    width: 90vw

    @media screen and (min-width: 2000px)
        width: 80vw

.time-popup-date-text
    display: flex
    font-size: .9rem
    i
        margin-right: .4rem
    &:hover
        cursor: default !important
        text-decoration: none !important

    &.register-text
        margin-bottom: .5rem
    &.total-text
        margin-top: 1rem