button.good
    margin-left: 1.5rem !important
    margin-right: 3.3rem !important

h4.total
    display: inline-block
    margin: 0
    margin-top: 1rem

div.sum
    height: auto
    width: 10rem
    float: right

article
    padding-left: 70px
    padding-right: 70px
    height: auto

div.uniTable
    max-height: 62.5vh
    min-height: 15vh

a
    vertical-align: middle
    font-weight: 600
    color: #1565C0

    &:hover
        text-decoration: underline


i.icon-blue
    margin: 1rem 0 1rem 4.5rem
    color: #1565C0
    vertical-align: middle
    font-weight: 600

.uni-modal
    width: 90vw

    @media screen and (min-width: 2000px)
        width: 80vw

    header
        background: none
        border-radius: none

        h1
            font-size: 18px
            font-weight: 600
            padding-top: 2rem
            padding-left: 4.5rem
            color: #1d2b33

.time-popup-date-text
    display: flex
    font-size: .9rem
    i
        margin-right: .4rem
    &:hover
        cursor: default !important
        text-decoration: none !important

    &.register-text
        margin-bottom: 1rem
    &.total-text
        margin-top: 1rem