<uni-toolbar [config]="toolbarconfig">
</uni-toolbar>

<section class="application">
    
    <table class="title-button-bar">
        <tr>
            <td>Nedenfor finner du logg for jobben <strong>{{jobName}}</strong> <br> slik den ble kjørt {{jobRun?.Created | date:'dd.MM.yyyy'}}, kl. {{jobRun?.Created | date:'HH:mm'}}.</td>
            <td><button class="good" (click)="refresh()">Oppdater</button></td>
        </tr>
    </table>

    <table  [attr.aria-busy]="busy" class="jobLog">
        <tr>
            <td>
                Logg
            </td>
        </tr>
        <tr *ngFor="let item of log">
            <td>
                {{item.Created | date:'HH:mm:ss'}} - {{item.Msg}}
            </td>
        </tr>
        <hr>
        <tr>
            <td>
                Progress
            </td>
        </tr>
        <tr *ngFor="let item of progress">
            <td>
                {{item.Created | date:'HH:mm:ss'}} - {{item.Progress}}
            </td>
        </tr>
    </table>
</section>