@import '~src/styles/unibase/colors/__colors.sass'

\:host
    margin-right: 1.5rem

    .chat-box
        display: flex
        flex-direction: column
        width: 25rem
        height: 30rem
        background-color: #fff
        padding: 0

        &.minimized
            width: 15rem
            height: unset
            border: none
            .header span.title:hover
                text-decoration: none

        .header
            flex: 0 0 auto
            height: 3rem
            display: flex
            align-items: center
            padding: 0 1rem
            cursor: pointer
            color: #fff
            background: var(--color-c2a)
            border: 1px solid var(--color-c2a)
            border-top-left-radius: var(--section-radius)
            border-top-right-radius: var(--section-radius)

            span.title
                margin-right: auto
                overflow: hidden
                white-space: nowrap
                text-overflow: ellipsis
                &:hover
                    text-decoration: underline

            .unread-indicator, .close-button
                flex: 0 0 auto
                margin-left: 1rem

            .close-button
                font-size: 22px

            .unread-indicator
                width: 24px
                height: 24px
                border-radius: 50%
                background: var(--color-bad)
                font-size: 12px
                color: #fff
                display: flex
                justify-content: center
                align-items: center

        .messages, .footer
            border-left: 1px solid var(--border-color)
            border-right: 1px solid var(--border-color)

        .messages
            flex: 1
            overflow: auto
            margin: 0
            height: 100%

            .scroll-container
                min-height: 0
                display: flex
                flex-direction: column-reverse
                padding-bottom: 1rem
                .message-row
                    display: flex
                    flex-wrap: nowrap
                    padding: 1rem 1rem 0
                    justify-content: flex-start
                    .avatar
                        margin: auto 1rem auto 0

                    &.from-current-user
                        flex-direction: row-reverse
                        .avatar
                            margin: auto 0 auto 1rem

                    .message
                        display: flex
                        width: fit-content
                        flex-direction: column
                        background: #F4F4F4
                        border-radius: var(--section-radius)
                        padding: 8px 16px

                        .message-text
                            font-size: 15px
                            white-space: pre-line

                            ::ng-deep .mention
                                background: transparentize($uni-color-toolbar, .9)
                                padding: 0 pxToRem(2)
                                border-radius: pxToRem(2)

                        small
                            display: block
                            font-size: 12px

        .footer
            flex: 0 0 auto
            display: flex
            border-top: 1px solid var(--border-color)
            word-break: break-all

            ul
                bottom: 2rem
                left: 1rem
                position: absolute
                bottom: 1rem
                left: 0
                width: 15rem
                max-height: 17rem
                border-radius: pxToRem(3)
                box-sizing: border-box
                overflow-y: auto
                visibility: hidden
                &[aria-expanded]:not([aria-expanded=false])
                    visibility: visible

            .message-input
                min-height: 4rem
                max-height: 8rem
                padding: 10px 1rem
                border: none
                outline: none
                resize: none
                overflow: auto
                word-break: break-word

