<button class="notifications_toggle"
        type="button"
        (click)="toggle($event)">Varsler</button>
<span class="notifications_count" *ngIf="unreadCount > 0">
    {{unreadCount}}
</span>

<span class="notification_view" (clickOutside)="close()" [attr.aria-expanded]="isOpen">
    <h1>Varsler</h1>
    <ol class="notification_list">
        <li class="notification_list_item"
            *ngFor="let notification of notifications"
            [ngClass]="{
                'unread': notification.StatusCode === 900010,
                'marked': notification.StatusCode === 900030
            }">

            <p  class="notification_readStatus"
                role="status"
                (click)="toggleReadStatus(notification)"
                [title]="notification.StatusCode === 900010 ? 'Marker som lest' : 'Marker som ulest'">
                {{notification.StatusCode === 900010 ? 'Ulest' : 'Lest'}}
            </p>

            <article class="notification_body"
                (click)="onNotificationClick(notification)">

                <header>{{notification.CompanyName}}</header>
                <p>
                    {{getNotificationText(notification)}}
                </p>
                <footer><small>{{getNotificationTime(notification)}}</small></footer>
            </article>

            <button class="notification_deleteBtn"
                title="Slett notifikasjon"
                (click)="deleteNotification(notification)">
                Slett notifikasjon
            </button>
        </li>
    </ol>
    <footer class="notification_footer">
        <a (click)="markAllAsRead()">Marker alle som lest</a>
    </footer>
</span>

<uni-confirm-modal></uni-confirm-modal>