<section class="reconciliation-list-view">
    <input [(ngModel)]="searchText" type="search" placeholder="Søk">

    <section class="header">
        <span class="date">Dato</span>
        <span class="description">Tekst</span>
        <span class="amount">Sum</span>
    </section>

    <ul id="bank-statement-entry-list">
        <ng-container *ngFor="let entry of items | reconciliationItemFilter: searchText">
            <li *ngIf="!entry.StageGroupKey"
                [@itemAnim]="items.length"
                (click)="itemSelected.next(entry)"
                [ngClass]="{'selected': entry.Checked, 'closed': entry.Closed}">

                <span class="date">{{entry.Date | date: 'dd.MM.yy'}}</span>
                <span class="description">{{entry.Description}}</span>
                <span class="amount" [ngClass]="entry.Amount >= 0 ? 'positive' : 'negative'">
                    {{(entry.OpenAmount || entry.Amount) | uninumberformat: 'money'}}
                </span>
            </li>
        </ng-container>
    </ul>
</section>