<section class="reconciliation-list-view">
    <input [(ngModel)]="searchText" type="search" placeholder="Søk">

    <ul id="bank-statement-entry-list">
        <ng-container *ngFor="let entry of items | reconciliationItemFilter: searchText">
            <li *ngIf="(!entry.StageGroupKey) && (showClosed || !entry.Closed)"
                [@itemAnim]="items.length"
                (click)="itemSelected.next(entry)"
                [ngClass]="{'selected': entry.Checked, 'closed': entry.Closed}">

                <span class="date">{{entry.Date | date: 'dd.MM.yy'}}</span>
                <span class="description" [title]="entry.Description">{{entry.Description}}</span>
                <span class="amount" [ngClass]="entry.Amount >= 0 ? 'positive' : 'negative'">
                    {{(entry.OpenAmount || entry.Amount) | uninumberformat: 'money'}}

                    <i class="material-icons go-to-journal-icon"
                        *ngIf="showJournalEntryLink && entry?.JournalEntryNumber"
                        (click)="$event.stopPropagation(); goToJournalEntryView(entry)"
                        title="Gå til bilag {{ entry.JournalEntryNumber }}"> open_in_new
                    </i>

                    <i class="material-icons go-to-journal-icon"
                        *ngIf="showJournalEntryLink && entry?.JournalEntryID"
                        (click)="$event.stopPropagation(); openFileModal(entry)"
                        title="Legg dokument til bilag {{ entry.JournalEntryNumber }}"> attach_file
                    </i>
                </span>
            </li>
        </ng-container>

        <li *ngIf="closedEntries" class="closed" (click)="showClosed = !showClosed">
            <span class="description">{{closedEntries}} lukkede poster</span>
            <span class="amount" [ngClass]="closedSum >= 0 ? 'positive' : 'negative'">
                {{closedSum | uninumberformat: 'money'}}
            </span>
        </li>
    </ul>

    <section *ngIf="loaded && !items?.length && !((!showClosed) && closedEntries)" class="upload-bank-section" (click)="uploadSelected.emit()">
        <i class="material-icons">cloud_upload_outline</i>
        <span>Last opp kontoutskrift</span>
    </section>
</section>