
.chart-legend
    margin-top: 1.25rem
    .legend
        font-size: 14px
        .invoiceinvoiced
            background: #2F7FDA
        .invoicepaid
            background: #62B2FF

.canvas-container
    position: relative
    height: calc(100% - 3rem)