<section class="widget-wrapper">
    <section class="header">
        <span>{{ widget.description }}</span>

        <section class="filters uni-redesign" *ngIf="!unauthorized">
            <button class="toggle-button" [matMenuTriggerFor]="contextMenu">
                {{ currentPeriod.label }}
                <i class="material-icons">expand_more</i>
            </button>

            <mat-menu #contextMenu="matMenu">
                <ul class="widget-filter-menu">
                    <li role="button" (click)="updateData(0)">
                        Vis siste 12 måneder
                    </li>

                    <li role="button" (click)="updateData(1)">
                        Vis siste 10 uker
                    </li>

                    <li role="button" (click)="updateData(2)">
                        Vis siste 10 dager
                    </li>
                </ul>
            </mat-menu>
        </section>
    </section>

    <div class="content">
        <div class="canvas-container">
            <section class="custom-tooltip" *ngIf="tooltip" [ngStyle]="tooltip.style">
                <span>{{tooltip.label}}</span>
                <section class="data-row">
                    <span>Fakturert</span>
                    <span>{{(tooltip.invoiced | uninumberformat:'money') || '0,00'}}</span>
                </section>

                <section class="data-row">
                    <span>Innbetalt</span>
                    <span>{{(tooltip.paid | uninumberformat:'money') || '0,00'}}</span>
                </section>

                <section class="data-row">
                    <span>Utestående</span>
                    <span>{{(tooltip.unpaid | uninumberformat:'money') || '0,00'}}</span>
                </section>
            </section>
            <section *ngIf="unauthorized" class="missing-access">Mangler tilgang</section>
            <canvas #chartCanvas></canvas>
        </div>

        <section class="chart-legend" *ngIf="!unauthorized">
            <section class="legend">
                <span class="indicator invoiceinvoiced"></span>
                Fakturert: <strong>{{ totalInvoiceInPeriod }}</strong>
            </section>

            <section class="legend">
                <span class="indicator invoicepaid"></span>
                Innbetalt: <strong>{{ totalPaidInPeriod }}</strong>
            </section>
        </section>
    </div>
</section>
