<section class="widget-wrapper">
    <section class="header">
        <span>{{ widget.description }}</span>

        <section class="filters" *ngIf="!unauthorized">
            <button #toggle class="tertiary toggle-button">
                {{ currentPeriod.label }}
                <i class="material-icons">expand_more</i>
            </button>

            <dropdown-menu [trigger]="toggle">
                <ng-template>
                    <a class="dropdown-menu-item" (click)="updateData(0)">
                        Vis siste 12 måneder
                    </a>

                    <a class="dropdown-menu-item" (click)="updateData(1)">
                        Vis siste 10 uker
                    </a>

                    <a class="dropdown-menu-item" (click)="updateData(2)">
                        Vis siste 10 dager
                    </a>
                </ng-template>
            </dropdown-menu>
        </section>
    </section>

    <div class="content">
        <div class="canvas-container">
            <section class="custom-tooltip" *ngIf="tooltip" [ngStyle]="tooltip.style">
                <span>{{tooltip.label}}</span>
                <section class="data-row">
                    <span>Fakturert</span>
                    <span>{{tooltip.invoiced | uninumberformat:'money'}}</span>
                </section>

                <section class="data-row">
                    <span>Innbetalt</span>
                    <span>{{tooltip.paid | uninumberformat:'money'}}</span>
                </section>

                <section class="data-row">
                    <span>Utestående</span>
                    <span>{{tooltip.unpaid | uninumberformat:'money'}}</span>
                </section>
            </section>
            <section *ngIf="unauthorized" class="missing-access">Mangler tilgang</section>
            <canvas #chartCanvas></canvas>
        </div>

        <section class="chart-legend" *ngIf="!unauthorized">
            <section class="legend">
                <span class="indicator" [style.background]="COLORS[0]"></span>
                Fakturert: <strong>{{ totalInvoiceInPeriod }}</strong>
            </section>

            <section class="legend">
                <span class="indicator" [style.background]="COLORS[1]"></span>
                Innbetalt: <strong>{{ totalPaidInPeriod }}</strong>
            </section>
        </section>
    </div>
</section>
