<section class="authentication-component">
    <img src="../../../assets/uni-logo.png" alt="Uni Economy logo">
    
    <small class="validation error" *ngIf="errorMessage.length">{{errorMessage}}</small>
    <small class="validation good" *ngIf="success">Vi setter nå opp kontoen din. En epost blir automatisk sendt ut når alt er klart.</small>

    <form *ngIf="emailForm" [ngFormModel]="emailForm" (ngSubmit)="checkEmail()" #f="ngForm">
        <label>
            Epost
            <input type="email" ngControl="Email" placeholder="Epost" [disabled]="detailsForm || working">
        </label>
        <button type="submit" class="c2a" *ngIf="!detailsForm" [attr.aria-busy]="working" [disabled]="!f.form.valid || working">Sjekk epost</button>
    </form>
    
    <section *ngIf="detailsForm && !success">
        <form *ngIf="!existingUser" [ngFormModel]="detailsForm" (ngSubmit)="submitDetails()" #f="ngForm">
            <label>
                Firmanavn
                <input type="text" ngControl="CompanyName" placeholder="Firmanavn">
            </label>
            
            <label>
                Fullt navn
                <input type="text" ngControl="Name" placeholder="Fullt navn">
            </label>

            <label>
                Brukernavn
                <input type="text" ngControl="UserName" placeholder="Brukernavn">
            </label>

            <label>
                Passord
                <input type="password" ngControl="Password" placeholder="Passord">
            </label>

            <label>
                Bekreft passord
                <input type="password" ngControl="ConfirmPassword" placeholder="Bekreft passord">
            </label>
            
            <label>
                <input type="checkbox" [(ngModel)]="isTest">
                Inkluder testdata
            </label>
            <button type="submit" class="c2a" [attr.aria-busy]="working" [disabled]="!f.form.valid || !passwordsMatching || working">Registrer</button>
        </form>
        
        <form *ngIf="existingUser" [ngFormModel]="detailsForm" (ngSubmit)="submitDetails()" #f="ngForm">
            <label>
                Firmanavn
                <input type="text" ngControl="CompanyName" placeholder="Firmanavn">
            </label>
            
            <label>
                <input type="checkbox" [(ngModel)]="isTest">
                Inkluder testdata
            </label>
            <button type="submit" class="c2a" [attr.aria-busy]="working" [disabled]="!f.form.valid || working">Legg til selskap</button>
        </form>
    </section>

    <p><a [routerLink]="['login']">Tilbake til innlogging</a></p>
</section>