<article class="authentication-component">
    <h1>Registrering</h1>

    <small class="alert error" *ngIf="errorMessage">
        {{errorMessage}}
    </small>

    <!-- STEP 1 -->
    <section class="step1" *ngIf="!confirmationCode">
        <small class="alert info center" *ngIf="!step1Successful && !errorMessage">
            Vennligst registrer deg her for å prøve systemet gratis i 30 dager.
        </small>

        <small *ngIf="step1Successful" class="alert good center">
            En e-post med mer informasjon vil bli sendt til:
            <br>{{step1Form.controls['Email'].value}}
        </small>

        <form #step1="ngForm" *ngIf="!step1Successful" [formGroup]="step1Form" (ngSubmit)="submitStep1Form()">
            <label class="uni-label">
                <span>Ditt navn</span>
                <input type="text" placeholder="Ditt navn" formControlName="DisplayName" />
            </label>

            <label class="uni-label">
                <span>E-post</span>
                <input type="email" placeholder="E-post" formControlName="Email" />
            </label>

            <re-captcha class="recaptcha" formControlName="RecaptchaResponse"></re-captcha>

            <small class="privacy-info">
                Ved registrerering godtar du lagring og bruk av dine personlige data.
            </small>

            <button
                type="submit"
                class="c2a init-submit-button"
                [attr.aria-busy]="busy"
                [disabled]="busy || !step1?.form?.valid">
                Start registrering
            </button>
        </form>
    </section>

    <!-- STEP 2  -->
    <section class="step2" *ngIf="confirmationCode">
        <small class="alert info center" *ngIf="!step2Successful && !errorMessage">
            Selskapet ditt er klart for oppretting. Vennligst fyll ut ønsket brukernavn og passord for å komme i gang.
        </small>

        <section style="text-align: center" *ngIf="step2Successful && !errorMessage">
            <small class="alert good center">
                Registrering fullført!<br>Prøveperioden på 30 dager er nå aktiv.
            </small>

            <button class="c2a" style="width: 12rem" (click)="authService.authenticate()">
                Logg inn
            </button>
        </section>

        <form #step2="ngForm" *ngIf="!step2Successful && !invalidConfirmationCode && !userExists" [formGroup]="step2Form" (ngSubmit)="submitStep2Form()">
            <label class="uni-label">
                <span>Passord</span>
                <input type="password" formControlName="Password" autocomplete="new-password" />
            </label>

            <label class="uni-label">
                <span>Bekreft passord</span>
                <input type="password" formControlName="ConfirmPassword" />
                <small class="bad">{{step2Form?.get('ConfirmPassword').errors?.passwordMatchValidator}}</small>
            </label>

            <uni-password-guide *ngIf="step2Form?.controls"
                [passwordControl]="step2Form.controls.Password">
            </uni-password-guide>

            <button
                type="submit"
                class="c2a init-submit-button"
                [attr.aria-busy]="busy"
                [disabled]="busy || !step2.form.valid">
                Fullfør registrering
            </button>
        </form>
    </section>

    <a class="init-link"
        *ngIf="!step2Successful && !invalidConfirmationCode && !step1Successful"
        [routerLink]="['/init/login']">
        Tilbake til innlogging
    </a>

    <a class="init-link" *ngIf="invalidConfirmationCode"
        [routerLink]="['/init/sign-up']"
        (click)="invalidConfirmationCode = false">
        Tilbake til registrering
    </a>
</article>
