<section class="authentication-component">
    <img src="../../../assets/uni-logo.png" alt="Uni Economy logo">

    <small class="validation error" *ngIf="errorMessage.length">{{errorMessage}}</small>
    <small class="validation good" *ngIf="success">Vi setter nå opp kontoen din. En epost blir automatisk sendt ut når alt er klart.</small>

    <h1>Nytt selskap</h1>
    <form *ngIf="companyForm" [formGroup]="companyForm" (ngSubmit)="checkEmail()" #f="ngForm">
        <label>
            Epost
            <input type="email" formControlName="Email" placeholder="Epost" [disabled]="emailChecked || working">
        </label>
        <label>
            Firmanavn
            <input type="text" formControlName="CompanyName" placeholder="Firmanavn" [disabled]="emailChecked || working">
        </label>
        <button type="submit" class="c2a" *ngIf="!emailChecked" [attr.aria-busy]="working" [disabled]="!f.form.valid || working">
            Neste
        </button>
    </form>

    <section *ngIf="userForm">
        <h1>Brukerdetaljer</h1>
        <form [formGroup]="userForm" (ngSubmit)="submitDetails()" #f="ngForm">
            <label>
                Fullt navn
                <input type="text" formControlName="Name" placeholder="Fullt navn">
            </label>

            <label>
                Brukernavn
                <input type="text" formControlName="UserName" placeholder="Brukernavn">
            </label>

            <label>
                Passord
                <input type="password" formControlName="Password" placeholder="Passord">
            </label>

            <label>
                Bekreft passord
                <input type="password" formControlName="ConfirmPassword" placeholder="Bekreft passord">
            </label>

            <button type="submit" class="c2a" [attr.aria-busy]="working" [disabled]="!f.form.valid || !passwordsMatching || working">
                Opprett nytt selskap
            </button>
        </form>
    </section>

    <p><a [routerLink]="['login']">Tilbake til innlogging</a></p>
</section>