@import '~src/styles/unibase/colors/__colors.sass'

\:host
    position: relative
    cursor: default

i.material-icons
    vertical-align: middle
    color: $uni-color-toolbar

    &.warn
        color: $uni-color-warn
    &.error
        color: $uni-color-bad

.tooltip
    width: 20rem
    z-index: 999
    padding: .5rem 1rem
    border-radius: 3px
    white-space: normal
    background-color: $uni-color-scale1
    color: $uni-color-negative

    position: absolute
    bottom: 2rem
    &.bottom
        bottom: unset
        top: 2rem
    &.left
        bottom: -12px
        left: 2rem
    &.right
        bottom: -12px
        right: 2rem

    visibility: hidden

i:hover + .tooltip
    visibility: visible
