<label class="uni-label">
    <span>Betalt fra</span>
    <select (change)="onChange($event)" >
        <option *ngIf="busy">Henter bankkontoer...</option>
        <option *ngFor="let acc of bankAccounts" >{{acc.AccountNumber}} {{acc.AccountName}} - {{acc.BankName}}</option>
    </select>
</label>

<label class="uni-label">
    <span>Dato</span>
    <section class="input-with-button">
        <input #dateInput type="text" placeholder="I dag" [(ngModel)]="session.payment.PaymentDate" [matDatepicker]="picker" (keydown.enter)="dateInput.blur();dateInput.focus();">
        <button (click)="picker.open()">
            <i class="material-icons">date_range</i>
        </button>
        <mat-datepicker #picker></mat-datepicker>
    </section>

</label>