currencyexchange
    uni-field
        margin-left: 0

    .override-column
        height: 1.1rem
        width: 1.1rem
        margin-left: 0.4rem
        background-size: 1rem 1rem
        background-position: center center
        background-repeat: no-repeat
        background-image: unicon-warning($uni-color-positive)