.text-container
	display: flex
	align-items: center
	justify-content: center
	padding: 1rem 0
	color: var(--color-good)
	margin: 0 2rem 1rem

	&.failed
		color: var(--color-warn)

	i
		margin-right: .75rem
		font-size: 3rem