.filters
    flex: 1
    overflow: auto
    padding: 1px // to avoid clipping outline
    min-height: 6rem

    .filter
        display: flex
        margin-bottom: 10px
        font-size: 15px

        select
            flex: 0 0 10rem
            height: 2.5rem
            border: 1px solid #C3CAD9
            padding: 0 4px

            &.operator-select
                flex: 0 0 8rem
                margin: 0 1rem

            &.value-select
                flex: 1

        input
            flex: 1
            height: 2.5rem

        button.remove-filter
            margin-left: 10px
            i.material-icons
                font-size: 21px

    button.add-button
        margin-top: .5rem

.align-right
    margin-left: auto !important

.save-section
    position: relative
    margin: 0 1rem
    input
        font-size: 15px
        padding-right: 5rem
    button
        position: absolute
        right: 0
        min-width: unset
        padding: 0 .75rem
        border-radius: 0
        border-left: 1px solid var(--border-color)
