.month-selector
    display: inline-flex
    align-items: center

.timeentry-widget-calendar
    width: 100%
    // max-width: 25rem
    // margin: 0 auto
    font-size: 15px

    .calendar-dates
        display: grid
        grid-template-columns: repeat(8, 35px)
        grid-gap: 1rem
        justify-content: center // space-around


        .calendar-header-cell
            font-weight: 500
            text-align: center

        .calendar-cell
            display: inline-flex
            justify-content: center
            align-items: center
            height: 35px

            &.day
                border-radius: 50%
                cursor: pointer

                &.today
                    font-weight: 500
                    background: var(--color-c2a)
                    color: #fff

                &.different-month
                    color: #8c97ab

                &:hover
                    background: var(--dropdown-select-background)
                    color: var(--dropdown-select-color)

                &.good
                    background: var(--alert-good)
                &.bad
                    background: var(--alert-bad)
                &.warn
                    background: var(--alert-warn)

                // &.good span
                //     border-bottom: 2px solid var(--color-good)
                // &.bad span
                //     border-bottom: 2px solid var(--color-bad)
                // &.warn span
                //     border-bottom: 2px solid var(--color-warn)


widget-empty-state
    text-align: center
