.header
    h1
        text-transform: capitalize
        min-width: 90px

    .month-selector
        display: inline-flex
        align-items: center
        margin-left: .5rem
        button + button
            margin-left: 0

    button.tertiary
        margin-right: .5rem


.content
    @media (max-width: 1100px)
        table th, table td
            width: 50px

    @media (max-width: 860px)
        table
            width: 100%

        .flex-section
            display: none

table
    flex: 0 0 auto
    border-collapse: collapse
    font-size: 15px
    height: 100%
    margin-right: 2rem


    th, td
        text-align: center
        width: 60px

    th
        height: 40px
        font-weight: 500

    .week-number
        background: #f9f9f9

    .day
        cursor: pointer
        span
            display: flex
            justify-content: center
            align-items: center
            height: 100%
            width: 100%
            font-size: 14px

            &.today
                font-weight: 500
                background: var(--alert-info)

            &.different-month
                color: #8c97ab
                background: none !important

            &.good
                background: var(--alert-good)
            &.bad
                background: var(--alert-bad)
            &.warn
                background: var(--alert-warn)

        &:hover span
            background: var(--dropdown-select-background)
            color: var(--dropdown-select-color)

widget-empty-state
    text-align: center


.flex-section
    flex: 1
    max-width: 20rem
    display: flex
    flex-direction: column
    justify-content: center

    margin: .5rem .5rem .5rem auto
    padding: 1.5rem
    background: var(--alert-info)
    border-radius: var(--section-radius)
    text-align: center

    .sum
        font-size: 22px
        font-weight: 500
        margin: .5rem 0 0

    .flex-balance-change
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 1.5rem
        font-size: 14px
        i
            margin-bottom: .5rem

