.month-selector
    display: inline-flex
    align-items: center


table
    border-collapse: collapse
    font-size: 15px
    width: 100%
    height: 100%

    th, td
        text-align: center

    th
        height: 40px
        font-weight: 500

    .week-number
        background: #f9f9f9

    .day
        span
            display: flex
            justify-content: center
            align-items: center
            height: 100%
            border-radius: 50%
            cursor: pointer
            height: 30px
            width: 30px
            margin: auto
            font-size: 14px

            &.today
                font-weight: 500
                background: var(--color-c2a)
                color: #fff

            &.different-month
                color: #8c97ab
                background: none !important

            &:hover
                background: var(--dropdown-select-background)
                color: var(--dropdown-select-color)

            &.good
                background: var(--alert-good)
            &.bad
                background: var(--alert-bad)
            &.warn
                background: var(--alert-warn)

widget-empty-state
    text-align: center
