<section class="header">
    <h1>Timeføring {{calendarMonthName}}</h1>

    <section class="month-selector pull-right">
        <button (click)="prevMonth()" class="icon-button">
            <i class="material-icons">chevron_left</i>
        </button>

        <button (click)="nextMonth()" class="icon-button">
            <i class="material-icons">chevron_right</i>
        </button>
    </section>
</section>

<section *ngIf="!loading" class="content">
    <widget-empty-state *ngIf="missingWorker">
        Det ser ikke ut brukeren din er satt opp for timeføring på dette selskapet.
        <button class="c2a" [attr.aria-busy]="activating" (click)="activateWorker()">
            Aktiver timeføring
        </button>
    </widget-empty-state>

    <table *ngIf="!missingWorker && calendar">
        <thead>
            <tr>
                <th class="week-number">
                    <span>Uke</span>
                </th>
                <th *ngFor="let day of dayLabels">{{day}}</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let week of calendar; let idx = index">
                <td class="week-number">{{week[0]?.weekNumber}}</td>
                <td *ngFor="let day of week" (click)="openTimeEntryDialog(day)" class="day">
                    <span [ngClass]="day.classList">
                        {{day.date | date: 'd'}}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</section>