<section role="dialog" class="uni-redesign uni-modal uni-wizard-settings-modal" style="width: 40vw">
    <header><h1>Veiviser for samlefakturering</h1></header>
    <article style="overflow: unset">
        <mat-horizontal-stepper [linear]="true" #stepper [@.disabled]="true">
            <mat-step label="Oppsumering" [completed]="currentStep > 0">
                <h1>Oppsumering</h1>
                <p>
                    Veiviser for oppretelse av samlefaktura. Alle ordre/fakturakladder du har i listen
                    vil bli samlefaktureret
                </p>

                <section class="summary-field">
                    <span>Ordre/Fakturakladder samlefaktureres:</span>
                    <span>{{numberOfItems}}</span>
                </section>

                <section class="summary-field">
                    <span>Total sum:</span>
                    <span>{{totalAmount | uninumberformat: 'money'}}</span>
                </section>

            </mat-step>
            <mat-step label="Valg for samlefaktura" [completed]="currentStep > 1">
                <uni-form
                    [config]="{ autofocus: true }"
                    [fields]="fields"
                    [model]="batchInvoice"
                ></uni-form>
            </mat-step>
            <mat-step label="Utsendelse" [completed]="currentStep > 2">
                <h1>Utsendelse</h1>
                <!-- just show one of those paragraphs -->
                <p *ngIf="hasDistributionPlans">Fakturaene vil sendes ut etter oppsatt utsendelesplan på firma og kunde.</p>
                <p *ngIf="!hasDistributionPlans">Firmaet er ikke satt opp med en plan for utsendelse. Register en plan her.
                    <a href="#/settings/distribution" class="distribution-plan">Utsendelse</a></p>
            </mat-step>
            <mat-step label="Kjør" [completed]="currentStep > 3">
                <p class="good">
                    <span class="success-message">
                        <i class="good material-icons icon-image-preview">check_circle</i>
                        {{numberOfItems}} ordre/fakturakladd er inkludert i denne samlefaktura-jobben
                        med total sum {{totalAmount | uninumberformat: 'money'}}
                    </span>
                </p>
                <p>
                    Trykk Kjør for å fullføre samlefakturajobben. Når jobben er ferdig fakturert vil du få et varsel
                    og en e-post med en oppsumering
                </p>
                <p>
                    Dersom du ønsker oppdatering på jobben underveis gå til:
                </p>
                <p>
                    Instillinger &rarr; Jobber &rarr; <a (click)="goToBatchInvoicesList()">Samlefaktura</a>
                </p>
            </mat-step>
        </mat-horizontal-stepper>
    </article>
    <footer>
        <button class="back" (click)="goBack()" [disabled]="currentStep === 1">Tilbake</button> <!--Ikke vis på siste side-->
        <button class="c2a" (click)="goNext()" *ngIf="currentStep < 3">Neste</button> <!--Ikke vis på siste side-->
        <button (click)="execute()" class="good" *ngIf="currentStep === 3">Kjør</button> <!--Vis kun på siste side-->
        <button (click)="close('ok')" class="good" *ngIf="currentStep === 4">Lukk</button> <!--Vis kun på siste side-->
    </footer>
</section>`
