<uni-toolbar
    [config]="toolbarconfig"
    [saveactions]="saveactions"
    [commentsConfig]="commentsConfig"
    [contextmenu]="contextMenuItems">
</uni-toolbar>

<section class="product-groups application">

    <section class="tree-view-container">
        <header>Grupper</header>
        <button class="good add-root-group" [disabled]="selectedGroup && !selectedGroup.ID" (click)="createGroup()">
            Ny hovedgruppe
        </button>

        <div class="treeContainer">
            <tree-root #tree *ngIf="nodes"
                [nodes]="nodes"
                [options]="treeoptions">
             </tree-root>
        </div>
    </section>

    <group-details
        *ngIf="selectedGroup"
        [(group)]="selectedGroup"
        (createChildGroup)="createGroup(selectedGroup)"
        (deleteGroup)="deleteGroup()">
    </group-details>

</section>


