<section role="dialog" class="uni-modal">
    <header>Inviter bruker</header>

    <article>
        <section *ngIf="busy" class="modal-spinner">
            <mat-spinner class="c2a"></mat-spinner>
        </section>

        <input type="email"
            [formControl]="emailControl"
            [ngClass]="{'invalid': invalidInput}"
            (keydown.enter)="send()"
            placeholder="E-postadresse"
            uniAutoFocus
        />

        <small class="validation-error" *ngIf="invalidInput">Ugyldig e-postadresse</small>
    </article>

    <footer>
        <button class="secondary" (click)="onClose.emit()">Avbryt</button>
        <button class="c2a" (click)="send()">Send invitasjon</button>
    </footer>
</section>
