\:host
    margin: 10rem auto auto !important

.uni-modal
    width: 30rem

input
    display: block
    width: 100%
    height: 3rem

    &.invalid
        border: 1px solid #d24d57

small
    display: block
    margin: 8px 8px 0
    color: #d24d57
