<section class="contract-types" *ngIf="!loadingData && contractTypes?.length && !selectedContractType">
    <contract-type-card
        *ngFor="let contractType of contractTypes"
        [contractType]="contractType"
        [recommended]="contractType.Name === 'Plus'"
        (selected)="onContractTypeSelected(contractType)">
    </contract-type-card>
</section>

<section *ngIf="!loadingData && (!contractTypes?.length || selectedContractType)" class="uni-card shadow">
    <section class="uni-card-content">
        <h1>{{headerText}}</h1>

        <h2>Lisenseier</h2>

        <autocomplete
            [options]="autocompleteOptions"
            [readonly]="activationInProgress"
            [(value)]="brRegCompany"
            (valueChange)="onBrRegCompanyChange()">
        </autocomplete>

        <section class="alert good">
            <span>
                Lisenseier er selskapet som administrerer og faktureres for lisensen.
                <br>Dette trenger ikke være selskapet du skal føre regnskap på,
                <br>det opprettes i neste steg.
            </span>
        </section>

        <form [formGroup]="customerDetailsForm">
            <h2>Kontaktperson</h2>
            <label class="uni-label">
                <span>Navn</span>
                <input type="text" formControlName="ContactPerson" />
            </label>

            <label class="uni-label">
                <span>Epost</span>
                <input type="text" formControlName="ContactEmail" />
            </label>

            <label class="uni-label">
                <span>Telefon</span>
                <input type="text" formControlName="ContactPhone" />
            </label>

            <label *ngIf="customerDetailsForm.controls['PersonalNumber']" class="uni-label">
                <span>Personnummer</span>
                <input type="text" formControlName="PersonalNumber">
            </label>

            <label *ngIf="customerDetailsForm.controls['BankUserID']" class="uni-label">
                <!-- TODO: tooltip -->
                <span>Bruker-identifikator i nettbank bedrift</span>
                <input type="text" formControlName="BankUserID">
            </label>

            <mat-checkbox *ngIf="customerDetailsForm.controls['IsBankCustomer']" formControlName="IsBankCustomer">
                <span class="checkbox-label">Jeg er allerede SR-Bank bedriftskunde</span>
            </mat-checkbox>
        </form>


        <mat-checkbox [(ngModel)]="termsAgreed" [disabled]="activationInProgress">
            <span class="checkbox-label">
                Jeg har lest og godtar
                <a [href]="lisenceAgreementUrl" target="_blank" rel="noopener noreferrer">lisensavtalen</a>.
            </span>
        </mat-checkbox>
    </section>

    <section class="uni-card-footer">
        <button class="secondary pull-left"
            *ngIf="contractTypes?.length"
            (click)="selectedContractType = undefined">
            Tilbake
        </button>

        <button class="c2a"
            [disabled]="!termsAgreed"
            [attr.aria-busy]="activationInProgress"
            (click)="activateContract()">
            {{submitButtonText}}
        </button>
    </section>
</section>
