\:host
    width: 100%

h1
    font-weight: 500
    font-size: 24px
    color: var(--init-header)
    margin: 0 0 .5rem
h2
    font-weight: 500
    font-size: 18px
    color: var(--init-header)
    margin: 0 0 .5rem

label span
    font-weight: 500
    color: var(--init-label)
    uni-tooltip
        position: relative !important
        right: 0

mat-checkbox
    display: block
    margin: 1.5rem 0 .5rem

.checkbox-label
    font-size: 15px
    font-weight: 500
    color: var(--init-label)
    a
        font-weight: 500

.alert.good
    font-size: 16px

.uni-card
    width: 40rem
    margin: 0 auto

.uni-card-footer button
    min-width: 8rem

autocomplete
    margin: 0 0 1rem
