@import '~src/styles/unibase/helpers/_zindex.sass'

\:host
    display: flex
    width: 100%
    min-height: 100%
    background: #edeeef
    position: absolute
    top: 0
    flex-direction: column

    padding: 2rem
    justify-content: center


    // Overlay mode when the trial is expired
    &.overlay
        position: fixed
        width: 100%
        height: calc(100vh - #{var(--navbar-height)})
        top: var(--navbar-height)
        left: 0
        z-index: #{map-get($zindex, sidebar) + 1}

    .alert
        margin: auto
