<section *ngIf="!canActivateContract" class="alert warn">
    Du har ikke tilgang til å aktivere kundeforhold.
    <br>Dette må gjøres av lisensadministrator.
</section>

<ng-container *ngIf="canActivateContract">
    <contract-activation-wizard
        *ngIf="!hasActiveContract"
        [contractID]="contractID"
        (contractActivated)="onContractActivated($event)">
    </contract-activation-wizard>

    <company-creation-wizard
        *ngIf="hasActiveContract"
        [contractID]="contractID"
        [orgNumber]="orgNumber">
    </company-creation-wizard>
</ng-container>
