@import '~src/styles/unibase/colors/__colors.sass'
@import '~src/styles/unibase/helpers/_zindex.sass'

.uni-modal
    width: 63rem
    border-radius: 3px

\:host
    display: flex
    width: 100%
    height: 100%
    background: #edeeef
    position: absolute
    top: 0

    // Overlay mode when the trial is expired
    &.overlay
        position: fixed
        width: 100%
        height: calc(100vh - 2.75rem)
        top: 2.75rem
        left: 0
        z-index: #{map-get($zindex, sidebar) + 1}

    .activation-section
        flex: 1
        display: flex
        flex-direction: column
        justify-content: center
        overflow: hidden
        box-sizing: border-box

        .info-message
            margin-bottom: 5rem
            text-align: center
            font-size: 15px
            i.material-icons
                vertical-align: middle
                margin-bottom: 3px
                margin-right: 3px
                &.good
                    color: #01A901
                &.bad
                    color: #F53B57

        .form-container
            overflow-y: auto
            padding: 2rem

            h1
                font: 400 22px var(--font-family)
                width: 40rem
                margin: 0 auto 1.75rem
                padding-left: 180px

            form
                width: 40rem
                padding-right: 4rem
                margin: 0 auto
                label span
                    width: 160px
                    margin-right: 1rem
                    text-align: right

            @media (max-width: 650px)
                h1
                    width: 32rem
                    padding-left: 0
                form
                    width: 32rem
                    padding-right: 0


fieldset legend
    padding-left: 180px
    font-size: 18px
    font-weight: 400

form label
    font-size: 14px

small.form-error
    display: block
    color: #F53B57
    margin: -10px 0 16px 170px

.submit-section
    margin-left: 180px

    mat-checkbox
        display: block
        margin-top: 10px

    .checkbox-label
        font-size: 14px

    button.good
        height: 2.5rem
        color: #fff
        min-width: 10rem
        border-radius: 20px
        margin: 2rem 0 0