<h1>Velg lisensen du vil legge til brukere i</h1>

<ul class="uni-selection-list">
    <ng-container *ngFor="let customer of customers">
        <li *ngFor="let contract of customer.Contracts"
            (click)="selectContract(contract)"
            [ngClass]="{'selected': selectedContractID === contract.ID}">

            <i class="material-icons">
                {{selectedContractID === contract.ID ? 'radio_button_checked' : 'radio_button_unchecked'}}
            </i>

            <span>{{customer.Name}}</span>
            <span class="pull-right">
                Lisenstype:
                {{contract.ContractType | elsaContractType}}
            </span>
        </li>
    </ng-container>
</ul>