<section role="dialog" class="uni-modal">
    <article>
        <section *ngIf="busy" class="modal-spinner">
            <mat-spinner class="c2a"></mat-spinner>
        </section>

        <mat-horizontal-stepper *ngIf="!showReceipt" [linear]="true" (selectionChange)="onStepChange($event)" #stepper [@.disabled]="true">
            <mat-step label="Lisens" [completed]="licenseSelected">
                <select-license-for-bulk-access
                    *ngIf="currentPage === PageType.selectLicense"
                    [data]="grantAccessData"
                    [initData]="initData"
                    (stepComplete)="licenseSelected = true"
                ></select-license-for-bulk-access>
            </mat-step>

            <mat-step label="Selskaper" [completed]="companiesSelected">
                <select-companies-for-bulk-access
                    *ngIf="currentPage === PageType.selectCompanies"
                    [data]="grantAccessData"
                    (stepComplete)="companiesSelected = $event"
                ></select-companies-for-bulk-access>
            </mat-step>

            <mat-step label="Brukere" [completed]="usersSelected">
                <select-users-for-bulk-access
                    *ngIf="currentPage === PageType.selectUsers"
                    [data]="grantAccessData"
                    (stepComplete)="usersSelected = $event"
                ></select-users-for-bulk-access>
            </mat-step>

            <mat-step label="Produkter" [completed]="productsSelected">
                <select-products-for-bulk-access
                    *ngIf="currentPage === PageType.selectProducts"
                    [data]="grantAccessData"
                    (stepComplete)="productsSelected = $event"
                ></select-products-for-bulk-access>
            </mat-step>

            <mat-step label="Bekreft">
                <execute-for-bulk-access
                    *ngIf="currentPage === PageType.execute"
                    [data]="grantAccessData"
                ></execute-for-bulk-access>
            </mat-step>
        </mat-horizontal-stepper>

        <!-- Receipt -->
        <receipt-for-bulk-access
            *ngIf="showReceipt"
            [hangfireID]="hangfireID"
        ></receipt-for-bulk-access>
    </article>

    <footer>
        <button class="secondary pull-left" (click)="close()">Lukk</button>

        <button class="secondary"
            *ngIf="!showReceipt"
            (click)="stepper.previous()"
            [disabled]="currentPage === 0">
            Tilbake
        </button>

        <button class="c2a"
            *ngIf="!showReceipt && currentPage < 4"
            (click)="stepper.next()">
            Neste
        </button>

        <button class="good"
            *ngIf="!showReceipt && currentPage >= 4"
            (click)="sendInvites()">
            Gi tilganger
        </button>
    </footer>
</section>
