@import '~src/styles/unibase/colors/__colors.sass'

.uni-modal
    width: 65rem
    height: 80vh !important
h1
    font: 400 18px var(--font-family)
    margin-bottom: 2rem

.grant-access-review-section
    display: flex
    margin-top: 1rem

    > section
        flex: 1
        margin-right: 4rem

        strong
            font: 500 16px var(--font-family)
        ul
            list-style: none
            max-height: calc(100vh - 30rem)
            min-height: 10rem
            overflow: auto

            small
                font-size: 14px

    button.cancel
        margin-left: auto

.admin-checkbox
    mat-checkbox
        display: flex
        max-width: fit-content
        margin: 0 .5rem 1.2rem 0
        font-size: 15px
        uni-tooltip
            margin-left: 0.5rem

.receipt-header
    .main-header
        font-size: 20px
        margin-bottom: 1rem
    .message-text
        font-size: 16px
        margin-bottom: 1.5rem
    
.receipt-body
    height: 78%
    .scroll-container
        height: 100%
        overflow: auto
