<article class="modal-content" [attr.aria-busy]="busy">
    <h1>Personlig pålogging Altinn</h1>
    <p *ngIf="atLogin">{{altinnMessage}}</p>
    <p *ngIf="!atLogin">Skattekort er hentet og klart</p>
    <uni-form *ngIf="model && atLogin" [config]="formConfig" [fields]="fields" [model]="model"></uni-form>
    <footer>
        <button *ngIf="atLogin" (click)="getCorrespondence()">OK</button>
        <button *ngIf="config" (click)="config.cancel()">{{closeBtnLabel}}</button>
    </footer>
</article>