<article class="taxCardRequestModal" [attr.aria-busy]="busy">
    <h1>{{title}}</h1>

    <p *ngIf="!error"> Her kan du sende forespørsel om skattekort til altinn. Du velger ut hvilke ansatte du ønsker å få tilbake skattekort for. Din forespørsel vil bli behandlet i altinn, dette kan ta inntil ett døgn </p>

    <uni-form *ngIf="model"
              [config]="formConfig"
              [fields]="fields"
              [model]="model"
              (changeEvent)="change($event)"></uni-form>

    <p *ngIf="error"
        role="alert"
        class="error preformatted">{{error}}</p>

    <footer>
        <button class="c2a" *ngIf="sendAltinnVisible" (click)="submit()">Send forespørsel til Altinn</button>
    </footer>
</article>
