p
    margin-top: 0

table
    width: 100%
    border-collapse: collapse
    font-size: 15px

    th, td
        padding: .5rem

    th
        text-align: left
        margin-right: 1rem
        font-weight: 500
        font-size: 15px

    tr:nth-of-type(even)
        background: var(--scale4)