<section class="uni-modal">
    <header>Brukeren din mangler roller</header>

    <article id="missing-roles-dialog-body">
        <section *ngIf="busy" class="modal-spinner">
            <mat-spinner class="c2a"></mat-spinner>
        </section>

        <section class="alert warn dialog-warning">
            <i class="material-icons">warning</i>
            <section>
                Det ser ut som brukeren din er satt opp uten roller/tilganger i dette selskapet.
                <br>I nær fremtid vil dette føre til at du mister tilgang til de fleste funksjonene i systemet.
            </section>
        </section>

        <p>
            Listen under viser brukere med administratortilgang i selskapet.
            <br>De kan hjelpe med å få satt opp riktige roller på brukeren din under Innstillinger > Brukere
        </p>

        <table class="uni-html-table" *ngIf="admins?.length">
            <thead>
                <tr>
                    <th>Administrator</th>
                    <th>Epost</th>
                    <th>Telefon</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let admin of admins">
                    <td>{{admin.DisplayName}}</td>
                    <td>
                        <a href="mailto:{{admin.Email}}">{{admin.Email}}</a>
                    </td>
                    <td>{{admin.PhoneNumber}}</td>
                </tr>
            </tbody>
        </table>
    </article>

    <footer class="center">
        <button (click)="onClose.emit()" class="c2a">Lukk</button>
    </footer>
</section>