<header class="invoice_poster" *ngIf="invoice">
    <section *ngIf="!runAsCreditNote" class="invoice-detail-header">
        <h2>
            Faktura
        </h2>
    </section>
    <section *ngIf="runAsCreditNote" class="invoice-detail-header">
        <h2>
            Kreditnota
        </h2>
    </section>

    <article class="poster_toolbar">
        <section>
            <h1 *ngIf="invoice">{{invoice.Customer ? invoice.Customer.Info.Name : invoice.CustomerName}}</h1>
            <p>Fakturanr. {{invoice.InvoiceNumber}} <span *ngIf="!itemsSummaryData">. Netto kr {{invoice.TaxExclusiveAmount}}</span> <span *ngIf="itemsSummaryData">. Netto kr {{itemsSummaryData.SumTotalExVat}}</span>. Status: {{ statusText }}</p>
            <p></p>
        </section>
        <nav class="poster_toolbar_tools">
            <a (click)="previousInvoice()" class="previous">Forrige</a>
            <a (click)="nextInvoice()" class="next">Neste</a>
            <a (click)="addInvoice()" class="new">Ny ordre</a>
        </nav>
    </article>

    <!-- Widget poster -->
    <section class="poster_overview">
        <uni-widget-poster [model]="invoice">
            <section class="application">
                widgetdata kommer her...
            </section>
        </uni-widget-poster>
    </section>
</header>

<section class="invoice-details application">
    <uni-component-loader></uni-component-loader>

    <section class="invoice-items-summary-placeholder" *ngIf="!itemsSummaryData" aria-busy></section>
    <dl class="summary" *ngIf="itemsSummaryData" [attr.aria-busy]="busy">
        <dt>Avgiftsfritt</dt>
        <dd>Kr. {{itemsSummaryData.SumNoVatBasis}}</dd>
        <dt>Avgiftsgrunnlag</dt>
        <dd>Kr. {{itemsSummaryData.SumVatBasis}}</dd>
        <dt>Sum rabatt</dt>
        <dd>Kr. {{itemsSummaryData.SumDiscount}}</dd>
        <dt>Nettosum</dt>
        <dd>Kr. {{itemsSummaryData.SumTotalExVat}}</dd>
        <dt>Mva</dt>
        <dd>Kr. {{itemsSummaryData.SumVat}}</dd>
        <dt>Øreavrunding</dt>
        <dd>Kr. {{itemsSummaryData.DecimalRounding}}</dd>
        <dt>Totalsum</dt>
        <dd>Kr. {{itemsSummaryData.SumTotalIncVat}}</dd>
    </dl>

    <invoice-item-list [invoice]="invoice" (ItemsUpdated)="recalcItemSums($event)" (ItemsLoaded)="recalcItemSums($event)"></invoice-item-list>
</section>

<footer class="full-footer">
    <section class="application">
        <button class="good" (click)="saveInvoiceManual($event)">Lagre faktura</button>
        <button class="good" (click)="saveInvoiceTransition($event, 'invoice')">Fakturer</button>
        <section class="auto_save_info">
            {{ lastSavedInfo }}
        </section>
    </section>
</footer>