<uni-toolbar [config]="toolbarconfig"
             [saveactions]="saveActions">
</uni-toolbar>

<uni-tof-head [readonly]="readonly"
              [entityName]="'CustomerInvoice'"
              [data]="invoice"
              [currencyCodes]="currencyCodes"
              (dataChange)="onInvoiceChange($event)">
</uni-tof-head>

<section class="application">
    <uni-tradeitem-table *ngIf="invoice"
                         [readonly]="readonly"
                         [(items)]="invoiceItems"
                         [currencyCodeID]="currencyCodeID"
                         [currencyExchangeRate]="currencyExchangeRate"
                         [defaultTradeItem]="newInvoiceItem"
                         (itemsChange)="recalcDebouncer.next($event)">
    </uni-tradeitem-table>
    <uni-summary *ngIf="invoice" [configs]="summaryFields"></uni-summary>
</section>

<uni-confirm-modal></uni-confirm-modal>
<send-email-modal></send-email-modal>
<register-payment-modal></register-payment-modal>
<report-preview-modal (printed)="onPrinted($event)"></report-preview-modal>
<activate-ap-modal></activate-ap-modal>
<reminder-sending-modal></reminder-sending-modal>
