.uni-modal
    width: 65rem
    max-height: calc(100vh - 10rem)
    overflow: auto

    .list-container
        display: flex
        flex-direction: column
        padding: 0 2.5rem
        
        .row-divider
            background: #fff !important
            td
                border-top: var(--table-border)
                height: 25px
        .period-header
            font-size: 18px
            font-weight: 500
            margin: 1rem 0
        .period-total
            background: var(--table-header-background) !important
            color: var(--table-header-color) !important
            font-weight: 500 !important
