<uni-toolbar [config]="toolbarconfig"
             [saveactions]="saveactions"
             [contextmenu]="contextMenu">
</uni-toolbar>

<section class="application">
    <section class="splitview">
        <nav class ="splitview_list">
            <ag-grid-wrapper #listTable
                [config]="listTableConfig"
                [(resource)]="paymentInfoTypes"
                (rowSelectionChange)="onKidSelect($event)"
                (dataLoaded)="listTable.focusRow(0)">
            </ag-grid-wrapper>
        </nav>

        <main class="splitview_detail">
            <fieldset>
                <legend>{{currentPaymentInfoType?.Name}}</legend>

                <uni-form
                    [config]="formConfig$"
                    [fields]="formFields$"
                    [model]="formModel$"
                    (changeEvent)="onDataChange()">
                </uni-form>

                <ag-grid-wrapper #detailsTable *ngIf="currentPaymentInfoType"
                    [config]="detailsTableConfig"
                    [(resource)]="currentPaymentInfoType.PaymentInfoTypeParts"
                    (resourceChange)="onDataChange()">
                </ag-grid-wrapper>
            </fieldset>
            <h3 *ngIf="sumDoesNotMatch" style="padding: 0; padding-left: 20px; margin: 0; color: red;">Antall siffer stemmer ikke overens med KID-lengde</h3>
            <p class="modulus">*KID-innstillingene beregnes etter modulus 10</p>
        </main>

    </section>
</section>
