<section role="dialog" class="uni-modal">
    <header>{{options.data.name}}</header>

    <article>
        <section class="report-type">
            <h3>Blankett-formular</h3>

            <mat-radio-group [(ngModel)]="selectedReport" (ngModelChange)="loadReportParameters()">
                <mat-radio-button *ngFor="let report of reports" [value]="report">
                    {{report.Description}}
                </mat-radio-button>
            </mat-radio-group>

            <mat-checkbox [(ngModel)]="showParameters">
                Vis parametere
            </mat-checkbox>
        </section>

        <section class="report-parameters" *ngIf="showParameters">
            <h3>Parametere</h3>

            <mat-form-field class="example-full-width">
                <input matInput [placeholder]="inputFromLabel" [(ngModel)]="fromNr">
            </mat-form-field>

            <mat-form-field *ngIf="inputType.secondInputType">
                <input matInput [placeholder]="inputToLabel" [(ngModel)]="toNr">
            </mat-form-field>
        </section>
    </article>

    <footer>
        <button class="previewButton" type="button" id="preview_button" (click)="preview()">
            Forhåndsvis
        </button>

        <button class="good" id="good_button_ok" (click)="acceptAndSendEmail()">
            Send e-post
        </button>

        <button class="good" id="good_button_ok" (click)="acceptAndPrintOut()">
            Skriv ut
        </button>

        <button class="cancel" (click)="cancel()">
            Avbryt
        </button>
    </footer>
</section>