@import '~src/styles/unibase/colors/__colors.sass'

.uni-modal
    width: 45rem

article
    display: flex
    width: 100%
    padding: 0

    .report-type
        flex: 1
        box-sizing: border-box
        padding: 0 2rem 2rem 2rem

    .report-parameters
        flex: 0 0 auto
        box-sizing: border-box
        padding: 0 3rem 2rem 2rem
        border-left: 1px solid $uni-color-scale9

mat-checkbox
    display: block
    margin-top: 1rem

mat-form-field
    display: block

footer button
    min-width: 6rem
    height: 2.5rem
    line-height: 0

    &.previewButton
        background: #fff
        color: $uni-color-good
        text-shadow: none
        border: 1px solid $uni-color-good
