<div class="autocomplete" (clickOutside)="onClickOutside()">
    <input #query
           class="autocomplete_input"
           [formControl]="mainControl"
           [placeholder]="config?.Placeholder || ''"
           (focus)="onFocus()"
           role="combobox"
           autocomplete="radomStringToForceNotAutocomplete"
           aria-autocomplete="inline"
           [title]="mainControl?.value || ''"
           type="text"
           tabindex="-1"
    />
    <button #btn class="uni-autocomplete-searchBtn"
            type="button"
            (click)="search()"
            [attr.aria-busy]="busy"
            tabIndex="-1">
        Søk
    </button>
    <uni-autocomplete-list #list
        [queryInput]="query"
        [filter]="filter"
        [expanded]="expanded"
        [searchFn]="config?.Options?.search"
        [selectedItem]="selectedItem"
        [items]="source"
        [editor]="config?.Options?.editor"
        [groupConfig]="config?.Options?.groupConfig"
        [labelProperty]="config?.Options?.labelProperty"
        [valueProperty]="config?.Options?.valueProperty"
        [itemTemplate]="config?.Options?.template"
        [searchOnButtonClick]="config?.Options?.searchOnButtonClick"
        (select)="onSelect($event)"
        (expandChange)="onExpand($event)"
        (searchStart)="onSearchStart()"
        (searchEnd)="onSearchEnd()"
    ></uni-autocomplete-list>
</div>
