<annual-settlement-road-map-toolbar-component *ngIf="(selectedAnnualSettlement$ | async)"
    [annualSettlement]="selectedAnnualSettlement$ | async"
    (runAction)="onRunAction($event)"
></annual-settlement-road-map-toolbar-component>
<section *ngIf="busy" class="modal-spinner">
    <mat-spinner class="c2a"></mat-spinner>
</section>
<section class="application container-fluid error-list" *ngIf="!annualSettlementAllowedByYear || !annualSettlementAllowedByType" >
    <section *ngIf="!annualSettlementAllowedByYear && annualSettlementAllowedByType" class="uni-container">
        <article>
            <h2>Du har ikke muligheten til å årsavslutte regnskapsåret du står nå.</h2>
            <p>
                Kun år 2020 er klar for årsavslutning.
            </p>
            <p>
                Velg regnskapsår 2020 i nedtrekksmenyen der du velger firma.
            </p>
        </article>
        <article class="with-image">
            <img src="config/dist/theme/assets/annual-settlement-not-allowed.svg" alt="annual settlement not allowed for year {{currentYear}}"/>
        </article>
    </section>
    <section *ngIf="!annualSettlementAllowedByType" class="uni-container">
        <article>
            <h2>Årsavslutning er ikke tilgjengelig for din firmatype</h2>
            <p>Årsavslutning er kun tilgjengelig for firmatypene AS, ASA, Stiftelse og NUF.</p>
        </article>
        <article class="with-image">
            <img src="config/dist/theme/assets/annual-settlement-not-allowed.svg" alt="annual settlement not allowed for current company type"/>
        </article>
    </section>
</section>
<section *ngIf="!busy && (selectedAnnualSettlement$ | async) && annualSettlementAllowedByYear && annualSettlementAllowedByType" class="annual-settlement-container container-fluid uni-grid-container">
    <section class="row">
        <h4>{{(selectedAnnualSettlement$ | async)?.AccountYear}}</h4>
    </section>
    <section class="row">
        <annual-settlement-steps-component [steps]="steps"></annual-settlement-steps-component>
    </section>
    <section class="row justify-content-end">
        <button class="complete-button">Fullført</button>
    </section>
</section>
