<annual-settlement-road-map-toolbar-component
    [annualSettlement]="selectedAnnualSettlement$ | async"
    (runAction)="onRunAction($event)"
></annual-settlement-road-map-toolbar-component>
<section class="annual-settlement-container container-fluid uni-grid-container">
    <section class="row">
        <h4>{{(selectedAnnualSettlement$ | async)?.AccountYear}}</h4>
    </section>
    <section class="row">
        <annual-settlement-steps-component [steps]="steps"></annual-settlement-steps-component>
    </section>
    <section class="row justify-content-end">
        <button class="complete-button">Fullført</button>
    </section>
</section>
