annual-settlement-road-map-component
    width: 100vw
    .row
        margin-left: 50px
        margin-right: 50px
    h4
        font-size: pxToRem(24px)
        line-height: pxToRem(38.4px)
        font-weight: 700 !important
    .annual-settlement-container
        margin-top: 1.2rem
        padding-bottom: 5rem
    .complete-button
        float: right
        padding: 0 10rem
        margin: 0
