<article class="tof-head">
    <section class="uni-container customer-card">
        <header>
            Kunde
        </header>

        <tof-customer-card
            [readonly]="readonly"
            [entity]="data"
            [entityType]="entityName"
            (entityChange)="onDataChange($event)">
        </tof-customer-card>
    </section>

    <section class="uni-container tof-forms">
        <uni-tabs [tabs]="tabs" [(activeIndex)]="activeTabIndex"></uni-tabs>

        <uni-recurring-invoice-settings-view
            *ngIf="activeTabIndex === 0 && entityName === 'RecurringInvoice'"
            [entity]="data"
            (entityChange)="onDataChange($event)"
            [entityType]="entityName">
        </uni-recurring-invoice-settings-view>

        <tof-details-form
            *ngIf="activeTabIndex === indexes[0]"
            [entity]="data"
            (entityChange)="onDataChange($event)"
            [entityType]="entityName"
            [readonly]="readonly"
            [currencyCodes]="currencyCodes"
            [projects]="projects"
            [sellers]="sellers"
            [companySettings]="companySettings">
        </tof-details-form>

        <tof-delivery-form
            *ngIf="activeTabIndex === indexes[1]"
            [entity]="data"
            (entityChange)="onDataChange($event)"
            [entityType]="entityName"
            [readonly]="readonly"
            [paymentTerms]="paymentTerms"
            [deliveryTerms]="deliveryTerms"
            [paymentInfoTypes]="paymentInfoTypes">
        </tof-delivery-form>

        <section *ngIf="activeTabIndex === indexes[2]" class="tof-freetext">
            <label>
                <span>Kommentar</span>
                <input type="text"
                    [formControl]="commentControl"
                    [readonly]="isReadOnly()"
                    (change)="onDataChange()"
                    [attr.maxLength]="500"
                />
            </label>
            <label>
                <span>Fritekst</span>
                <textarea
                    [formControl]="freeTextControl"
                    [readonly]="isReadOnly()"
                    (change)="onDataChange()"
                    [attr.maxLength]="500"
                >
                </textarea>
            </label>
        </section>

        <section class="tof-sellers" *ngIf="activeTabIndex === indexes[3]">
            <seller-links
                [parent]="data"
                [readonly]="isReadOnly()"
                (sellerChanged)="onDataChange()"
                (deleted)="onSellerLinkDeleted($event)">
            </seller-links>
        </section>

        <section class="tof-attachments" *ngIf="activeTabIndex === indexes[4]">
            <p *ngIf="!data?.ID">
                <span *ngIf="entityName == 'CustomerInvoice' || entityName === 'RecurringInvoice'">
                    Du må lagre faktura som kladd før du kan legge til dokumenter.
                </span>
                <span *ngIf="entityName == 'CustomerOrder'">
                    Du må lagre ordre som kladd eller registrere ordre før du kan legge til dokumenter.
                </span>
                <span *ngIf="entityName == 'CustomerQuote'">
                    Du må lagre tilbud som kladd eller registrere tilbud før du kan legge til dokumenter.
                </span>
            </p>

            <uni-attachments *ngIf="data?.ID"
                id="attachments"
                [entity]="entityName"
                [entityID]="data?.ID">
            </uni-attachments>
        </section>

        <uni-dimension-tof-view
            *ngIf="activeTabIndex === indexes[5]"
            (entityChange)="onDataChange($event)"
            [dimensionTypes]="dimensionTypes"
            [entity]="data"
            [entityType]="entityName">
        </uni-dimension-tof-view>

        <uni-distribute
            *ngIf="activeTabIndex === indexes[6]"
            [distributionPlans]="distributionPlans"
            [reports]="reports"
            [entity]="data"
            [entityType]="entityName"
            (entityChange)="onDataChange($event)">
        </uni-distribute>

        <section class="tof-reminders" *ngIf="activeTabIndex === indexes[7] && entityName === 'CustomerInvoice'">
            <invoice-reminders [customerInvoice]="data"></invoice-reminders>
        </section>

    </section>

</article>