<section class="horizontal_nav">
    <ul>
        <li *ngFor="let tab of tabs; let idx = index">
            <a (click)="activeTabIndex = idx" [ngClass]="{'router-link-active': activeTabIndex === idx}">
                {{tab}}
            </a>
        </li>
    </ul>
</section>

<section class="application">
    <article class="tof-head">

        <tof-customer-card [readonly]="readonly"
                           [entity]="data"
                           [entityType]="entityName"
                           (entityChange)="onDataChange($event)">
        </tof-customer-card>

        <tof-details-form *ngIf="activeTabIndex === 0"
                          [entity]="data"
                          (entityChange)="onDataChange($event)"
                          [entityType]="entityName"
                          [readonly]="readonly"
                          [currencyCodes]="currencyCodes"
                          [projects]="projects"
                          [sellers]="sellers"
                          [companySettings]="companySettings">
        </tof-details-form>

        <tof-delivery-form *ngIf="activeTabIndex === 1"
                           [entity]="data"
                           (entityChange)="onDataChange($event)"
                           [entityType]="entityName"
                           [readonly]="readonly"
                           [paymentTerms]="paymentTerms"
                           [deliveryTerms]="deliveryTerms">
        </tof-delivery-form>

        <fieldset *ngIf="activeTabIndex === 2" class="freetext-fieldset">
            <legend>Fritekst</legend>
            <label>
                <span>Kommentar</span>
                <input [formControl]="commentControl" (change)="onDataChange()" />
            </label>
            <label>
                <span>Fritekst</span>
                <textarea [formControl]="freeTextControl"
                        (change)="onDataChange()">
                </textarea>
            </label>
        </fieldset>

        <fieldset class="sellers-fieldset" *ngIf="activeTabIndex === 3">
            <legend>Selgere</legend>
            <seller-links
                [parent]="data"
                (sellerChanged)="onDataChange()"
                (deleted)="onSellerLinkDeleted($event)">
            </seller-links>
        </fieldset>

        <fieldset class="attachment-fieldset" *ngIf="activeTabIndex === 4">
            <legend>Dokumenter</legend>
            <label for="attachments">
                <span *ngIf="data?.ID">Vedlegg</span>
                <p *ngIf="!data?.ID">
                    <span *ngIf="entityName == 'CustomerInvoice'">
                        Du må lagre faktura som kladd før du kan legge til dokumenter.
                    </span>
                    <span *ngIf="entityName == 'CustomerOrder'">
                        Du må lagre ordre som kladd eller registrere ordre før du kan legge til dokumenter.
                    </span>
                    <span *ngIf="entityName == 'CustomerQuote'">
                        Du må lagre tilbud som kladd eller registrere tilbud før du kan legge til dokumenter.
                    </span>                    
                </p>
            </label>
            <uni-attachments *ngIf="data?.ID"
                id="attachments"
                [entity]="entityName"
                [entityID]="data?.ID"
                [hideLabel]="true">
            </uni-attachments>
        </fieldset>

        <fieldset class="reminder-fieldset" *ngIf="activeTabIndex === 5 && entityName === 'CustomerInvoice'">
            <legend>Purringer</legend>
            <invoice-reminders [customerInvoice]="data"></invoice-reminders>
        </fieldset>

    </article>
</section>
