<article class="tof-head">
    <section class="uni-container customer-card">
        <header>Kunde</header>

        <tof-customer-card
            [readonly]="readonly"
            [entity]="data"
            [entityType]="entityName"
            (entityChange)="onDataChange($event)"
            (keydown.tab)="focusDetailsForm($event)">
        </tof-customer-card>

        <div class="required-dimension" *ngIf="validationMessage?.Level === 30">
            <i class="material-icons bad">error</i>
            {{validationMessage.Message}}
        </div>
    </section>

    <section class="uni-container tof-forms">
        <uni-tabs class="scoped"
            [activeIndex]="0"
            [tabs]="tabs"
            (tabClick)="activeTab = $event.value">
        </uni-tabs>

        <uni-recurring-invoice-settings-view
            *ngIf="activeTab === 'settings'"
            [entity]="data"
            (entityChange)="onDataChange($event)"
            [entityType]="entityName">
        </uni-recurring-invoice-settings-view>

        <tof-details-form
            *ngIf="activeTab === 'details'"
            [entity]="data"
            (entityChange)="onDataChange($event)"
            [entityType]="entityName"
            [readonly]="readonly"
            [currencyCodes]="currencyCodes"
            [projects]="projects"
            [sellers]="sellers"
            [contacts]="contacts"
            [companySettings]="companySettings">
        </tof-details-form>

        <tof-delivery-form
            *ngIf="activeTab === 'delivery'"
            [entity]="data"
            (entityChange)="onDataChange($event)"
            [entityType]="entityName"
            [readonly]="readonly"
            [paymentInfoTypes]="paymentInfoTypes">
        </tof-delivery-form>

        <section class="tof-sellers" *ngIf="activeTab === 'sellers'">
            <seller-links
                [readonly]="isReadOnly()"
                [(entity)]="data"
                (entityChange)="onSellersChange($event)">
            </seller-links>
        </section>

        <section class="tof-attachments" *ngIf="activeTab === 'attachments'">
            <p *ngIf="!data?.ID">
                <span *ngIf="entityName == 'CustomerInvoice' || entityName === 'RecurringInvoice'">
                    Du må lagre faktura som kladd før du kan legge til dokumenter.
                </span>
                <span *ngIf="entityName == 'CustomerOrder'">
                    Du må lagre ordre som kladd eller registrere ordre før du kan legge til dokumenter.
                </span>
                <span *ngIf="entityName == 'CustomerQuote'">
                    Du må lagre tilbud som kladd eller registrere tilbud før du kan legge til dokumenter.
                </span>
            </p>

            <uni-attachments *ngIf="data?.ID"
                id="attachments"
                [entity]="entityName"
                [entityID]="data?.ID"
                [canSendEHF]="canSendEHF">
            </uni-attachments>
        </section>

        <uni-dimension-view
            *ngIf="activeTab === 'dimensions'"
            (entityChange)="onDataChange($event)"
            [dimensionTypes]="dimensionTypes"
            [entity]="data"
            [entityType]="entityName">
        </uni-dimension-view>

        <tof-distribution-form
            *ngIf="activeTab === 'distribution'"
            [distributionPlans]="distributionPlans"
            [reports]="reports"
            [entity]="data"
            [entityType]="entityName"
            [companySettings]="companySettings"
            (entityChange)="onDataChange($event)">
        </tof-distribution-form>

        <section class="tof-reminders" *ngIf="activeTab === 'reminders'">
            <invoice-reminders [customerInvoice]="data"></invoice-reminders>
        </section>

    </section>

</article>
