<uni-toolbar [config]="{title: 'GDPR', hideBreadcrumbs: true}"></uni-toolbar>
<section class="application">
    <input [formControl]="searchControl" type="search" placeholder="Filter" class="unitableSearch_input"/>
    <span>
        *data is limited to the top 50 entitites of each type. Use filter to be more specific
    </span>
    <ag-grid-wrapper
        [attr.aria-busy]="busy"
        [config]="tableConfig"
        [resource]="data"
        (rowSelectionChange)="onRowSelected($event)">
    </ag-grid-wrapper>
</section>
