<section class="notification-icon" [ngClass]="notificationType">
     <i class="material-icons" *ngIf="icon">{{icon}}</i>
</section>

<section class="notification-body">
    <!-- <small>{{notification.CompanyName}}</small> -->
    <span *ngIf="!hasHtml; else elseBlock">{{notificationText}}</span>
    <!-- <small *ngIf="!hideTimestamp">{{timestamp}}</small> -->

    <small>
        {{notification.CompanyName}} - {{timestamp}}
    </small>

</section>

<!-- <button class="menu-toggle icon-button">
    <i class="material-icons">more_vert</i>
</button> -->

<ng-template #elseBlock>
    <span [innerHTML]="notificationText"></span>
</ng-template>