<section role="dialog" class="uni-modal done-redirect-modal">
    <header>Bokført {{ withPayment ? ' og lagt i betalingslisten' : '' }}</header>

    <article>

        <i class="material-icons">done_all</i>
        <span>Utlegg bokført som <a (click)="close(url)"> bilagsnr. {{ journalEntryNumber }} </a>
            {{ withPayment ? ', og er sendt til betalingslisten.' : '' }} </span> <br/>
        <span *ngIf="paymentUrl">Betalingen er bokført som <a (click)="close(paymentUrl)"> bilagsnr. {{ paymentJournalEntry }} </a>
            {{ withPayment ? ', og er sendt til betalingslisten.' : '' }} </span> <br/>
        <section [innerHtml]="msg"></section>
    </article>

    <footer>
        <button class="secondary pull-left" (click)="close('/')">Gå til startside</button>
        <button class="secondary" (click)="close('/bank/ticker?code=payment_list')" *ngIf="withPayment">Gå til betalingslisten</button>
        <button class="c2a" (click)="close('/accounting/inbox')">Tilbake til innboks</button>
    </footer>
</section>