<section class="uni-multivalue-ng">
    <input type="text" [(ngModel)]="currentValue" [readonly]="field?.ReadOnly">
    <button class="uni-multivalue-moreBtn" (click)="showDropdown($event)">Ny</button>

    <ul class="uni-multivalue-values" [class.-is-active]="listIsVisible">
        <template ngFor let-row [ngForOf]="rows" let-i = "index">
            <li [class.-is-main]="index == i">

                <input *ngIf="row.EditMode" 
                        class="uni-multivalue_edit" 
                        [(ngModel)]="row.TempValue" 
                        (blur)="save(row, $event)" 
                        (keyup.enter)="save(row, $event)" 
                        type="text">
                        
                <div *ngIf="row.ReadMode">
                    <span class="uni-multivalue-value" (click)="setAsDefault(row, i)">{{row.Value}}</span>
                    <button class="uni-multivalue_edit_action-delete" (click)="del(row, i, $event)">Delete</button>
                    <button class="setEditBtn" (click)="edit(i, $event)">Rediger {{row.Value}}</button>                    
                </div>
                <p *ngIf="row.DeleteMode" class="uni-multivalue_deleted">
                    Slettet &lsquo;{{row.Value}}&rsquo;. (<a (click)="putBack(row, i, $event)">Angre</a>)
                </p>
                           
            </li>             
        </template>
        <li><button class="uni-multivalue-addBtn" (click)="addValue($event)">Legg til&hellip;</button></li>
    </ul>
    
    <uni-component-loader></uni-component-loader>

    <small *ngIf="successMessage" class="good">Lagret.</small>

</section>