article
    display: grid
    grid-row-gap: .5rem
    row-gap: .5rem
    grid-template-columns: auto
    .invisible
        visibility: hidden
        height: 0
        width: 0
    .period-selector-section
        display: grid
        .period-selector
            display: grid
            grid-template-columns: auto auto
            justify-content: start
            input
                box-shadow: none
                height: auto
                padding: 0
            button
                align-self: center
