.task-modal
    width: 35vw
.new-task-form
    label
        display: flex
        align-items: center
        margin-bottom: 1rem
        span
            flex: 0 0 120px
        input, uni-select
            flex: 1