.uni-modal
    width: 40rem

    article
        display: flex
        flex-direction: column

        img
            margin: 0 auto 1rem
            max-width: 40rem

        h1
            font-size: 25px
            font-weight: 400
            margin: 0 auto 1rem

        p
            font-weight: 400

        span
            display: inline-block
            margin: 1rem 0