<uni-annual-settlement-header-component
    [annualSettlement]="annualSettlement"
    [isAlertOpen]="true"
    [title]="'Avstem balansen'"
    [completeLabel]="'Fullført'"
    [icon]="'info'"
    [outlinedIcon]="false"
    [disableCompleteButton]="annualSettlement?.StatusCode !== 36105 || !allAccountsAreApproved"
    [saveButtonLabel]="'Lagre'"
    [disableSaveButton]="annualSettlement?.StatusCode !== 36105"
    [alert]="infoContent"
    [tabTitle]="'Avstem balansen'"
    (clickCompleteButton)="completeReconcile($event)"
    (clickSaveButton)="saveAnnualSettlement($event)"
>
    <section *ngIf="busy" class="modal-spinner">
        <mat-spinner class="c2a"></mat-spinner>
    </section>
    <section class="uni-card" *ngIf="!busy">
        <simple-table>
            <thead>
            <tr>
                <th>Konto</th>
                <th>Kontonavn</th>
                <th>Saldo i regnskapet</th>
                <th style="text-align: right">Din saldo</th>
                <th class="saldo-button-header"></th>
                <th style="text-align: center">Godkjent</th>
                <th>
                    <i class="material-icons-outlined">chat_bubble_outline</i>
                </th>
                <th style="text-align: center">Vedlegg</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let account of accounts$ | async">
                <td>
                    {{account._AccountNumber}}
                </td>
                <td>
                    {{account._AccountName}}
                </td>
                <td>
                    {{account._TotalAmount | uninumberformat: 'money'}}
                </td>
                <td style="text-align: right">
                    <input type="text"
                           style="text-align: right"
                           [disabled]="annualSettlement?.StatusCode !== 36105"
                           [(ngModel)]="account.Balance"
                           (blur)="updateBalance(account)"/>
                </td>
                <td class="saldo-button-container">
                    <button class="saldo-button"
                            tabindex="-1"
                            [class.invisible]="account.Balance === account._TotalAmount || annualSettlement?.StatusCode !== 36105"
                            [disabled]="account.Balance === account._TotalAmount || annualSettlement?.StatusCode !== 36105"
                            (click)="updateBalanceFromButton(account)"
                    >
                        {{account._TotalAmount | uninumberformat: 'money'}}
                    </button>
                </td>
                <td style="text-align: center">
                    <i *ngIf="account?.IsApproved" class="material-icons good">check_circle</i>
                    <i *ngIf="!account?.IsApproved" class="material-icons warn" [matTooltip]="warningMessage">error</i>
                </td>
                <td class="comment" (click)="callOpenModalForComment(account, account.Balance)">
                    <!-- add -->
                    <svg *ngIf="!account?.Comment" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.5 3V5H2.5V18.385L4.263 17H18.5V10H20.5V18C20.5 18.2652 20.3946 18.5196 20.2071 18.7071C20.0196 18.8946 19.7652 19 19.5 19H4.955L0.5 22.5V4C0.5 3.73478 0.605357 3.48043 0.792893 3.29289C0.98043 3.10536 1.23478 3 1.5 3H12.5ZM17.5 3V0H19.5V3H22.5V5H19.5V8H17.5V5H14.5V3H17.5Z" fill="#03053D"/>
                    </svg>
                    <!-- ok -->
                    <svg [matTooltip]="account?.Comment" *ngIf="account?.Comment" width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.955 16L0.5 19.5V1C0.5 0.734784 0.605357 0.48043 0.792893 0.292893C0.98043 0.105357 1.23478 0 1.5 0H19.5C19.7652 0 20.0196 0.105357 20.2071 0.292893C20.3946 0.48043 20.5 0.734784 20.5 1V15C20.5 15.2652 20.3946 15.5196 20.2071 15.7071C20.0196 15.8946 19.7652 16 19.5 16H4.955ZM4.263 14H18.5V2H2.5V15.385L4.263 14ZM9.793 9.121L14.036 4.879L15.45 6.293L9.793 11.95L5.903 8.06L7.318 6.646L9.793 9.121Z" fill="#03053D"/>
                    </svg>
                </td>
                <td style="text-align: center; cursor: pointer;">
                    <i class="material-icons-outlined" #toggle title="Se vedlegg"> attach_file </i>
                    <dropdown-menu [trigger]="toggle" (click)="$event.stopPropagation()">
                        <ng-template>
                            
                            <uni-attachments style="width: 48rem; margin: 2rem"
                                class="account-attachments"
                                [entity]="'ReconcileAccount'"
                                [entityID]="account?.ID"
                                [multirowSelect]="false"
                                [showInfoBox]="false">
                            </uni-attachments>

                        </ng-template>
                    </dropdown-menu>
                </td>
            </tr>
            </tbody>
        </simple-table>
    </section>
</uni-annual-settlement-header-component>

