annual-settlement-reconcile
    ag-grid-wrapper ag-grid-angular.editable .ag-cell + .ag-cell,
    ag-grid-wrapper ag-grid-angular.editable .ag-header-cell + .ag-header-cell
        border-left: 0
    .ag-body
        border: 1px solid var(--border-color)
    .row
        margin: 0
    .saldo-button
        border: 1px solid var(--link-color)
        background: var(--sidebar-active-section-header-background)
        min-width: 7rem
        &.hidden
            display: none
    .page-navigation
        margin: 0
        margin-bottom: 1rem
    .checkbox-column
        .material-icons-outlined.checked, .material-icons.checked
            color: var(--checkbox-checked-background-good)
@media screen and (min-width: 1600px)
    annual-settlement-reconcile
        .application
            padding: 1rem 10rem
