<annual-settlement-reconcile-toolbar-component
    [annualSettlement]="annualSettlement"
></annual-settlement-reconcile-toolbar-component>
<section class="application">
    <section class="row">
        <uni-alert-component
            [type]="'info'"
            [icon]="'info'"
            [title]="infoContent.title"
            [text]="infoContent.text"
            [isOpen]="true"
        ></uni-alert-component>
    </section>
    <section class="uni-card">
        <section class="uni-card-content">
            <section class="row header page-navigation">
                <a href="#/accounting/annual-settlement" class="page-navigation-button">
                    <i class="material-icons">keyboard_backspace</i>
                </a>
                <h5>Avstem balansen</h5>
            </section>
            <ag-grid-wrapper [resource]="accounts$ | async" [config]="config">
            </ag-grid-wrapper>
            <section class="custom-table-footer flex-row justify-content-end padding-top-bottom" style="display:flex; padding: 1rem 0">
                <button (click)="completeReconcile()">Fullfør avstemmingen</button>
            </section>
        </section>
    </section>
</section>
