<div class="accountList">
    <account-list (uniAccountChange)="changeAccount($event)"></account-list>
</div>
<div class="accountDetails">
    <account-details (uniSaved)="accountSaved($event)" [account]="account"></account-details>
</div>
<div class="testonly">
    <i>Test knapper før alt er helt klart</i><br>
    <button (click)="syncAS()">Synkroniser kontoplan</button>
    <button (click)="syncVat()">Synkroniser mva</button>
    <button (click)="syncCurrency()">Last ned valuta</button>
    <button (click)="showTestAccount()">TEST konto 1000</button>
</div>
