<uni-toolbar [config]="toolbarconfig"></uni-toolbar>
<section class=" application">
    <section class="splitview">
        <button class="new-button" (click)="createNew()">Ny konto</button>
        <nav class="splitview_list">
            <account-list (uniAccountChange)="changeAccount($event)"></account-list>
        </nav>
        <main class="splitview_detail">
            <account-details (accountSaved)="accountSaved($event)" [inputAccount]="account" (changeEvent)="change($event)"></account-details>
        </main>
    </section>
</section>
<div style="height: 70px">&nbsp;</div>
<uni-save [actions]="saveactions"></uni-save>
