<section class="splitview">

    <nav class="splitview_list">
        <account-list (uniAccountChange)="changeAccount($event)"></account-list>
    </nav>
    <main class="splitview_detail">
        <account-details (uniSaved)="accountSaved($event)" [account]="account"></account-details>
    </main>

</section>


<div class="testonly">
    <i>Test knapper før alt er helt klart</i><br>
    <button (click)="syncAS()">Synkroniser kontoplan</button>
    <button (click)="syncVat()">Synkroniser mva</button>
    <button (click)="syncCurrency()">Last ned valuta</button>
    <button (click)="showTestAccount()">TEST konto 1000</button>
</div>
