<article (clickOutside)="close()" (keydown.esc)="close()">
    <input type="text"
           class="uni-multilevel-input"
           [placeholder]="placeholder"
           (click)="toggle()"
           readonly />

    <section class="uni-multilevel-dropdown">
        <ul [attr.aria-expanded]="isExpanded">
            <li *ngFor="let item of items"
                [ngClass]="{'has-sublist': item.items}"
                (click)="onItemClick(item)">
                {{getDisplayValue(item)}}
                <ul class="uni-multilevel-sublist" *ngIf="item.items">
                    <li *ngFor="let subItem of item.items"
                        (click)="onItemClick(subItem)">
                        {{getDisplayValue(subItem)}}
                    </li>
                </ul>

            </li>
        </ul>
    </section>

</article>