<uni-toolbar [config]="toolbarConfig"></uni-toolbar>
<header class="poster" *ngIf="wageType">
    <!-- Widget poster -->
    <section class="poster_overview">
        <uni-widget-poster [model]="wageType" *ngIf="wageType && wagetypeID > 0"></uni-widget-poster>
    </section>
</header>

<section class="application wagetype">
    <uni-form [config]="config" [fields]="fields" [model]="wageType" (onSubmit)="saveWagetype($event)" (onChange)="change($event)"></uni-form>
    <section *ngIf="showSupplementaryInformations">
        <p>
            Valgte tilleggsopplysninger
        </p>
        <uni-table *ngIf="wageType.SupplementaryInformations" [config]="tilleggspakkeConfig" [resource]="wageType.SupplementaryInformations"></uni-table>
    </section>
</section>

<uni-save [actions]="saveactions"></uni-save>