<uni-toolbar
    [config]="{title: 'Lønnsarter'}"
    [contextmenu]="contextMenuItems"
    [saveactions]="toolbarActions">
</uni-toolbar>
<input type="hidden" value="Sync" style="background-color:red" (click)='onCustomClick()' id="letmesync">
<article class="application wagetype" [attr.aria-busy] = "busy">
    <ag-grid-wrapper
        class="transquery-grid-font-size"
        [resource]="lookupFunction"
        [config]="tableConfig"
        (rowClick)="rowSelected($event)">
</ag-grid-wrapper>
</article>
