<uni-toolbar
    [config]="{title: 'Lønnsarter'}"
    [contextmenu]="contextMenuItems"
    [saveactions]="toolbarActions">
</uni-toolbar>
<input type="hidden" value="Sync" style="background-color:red" (click)='onCustomClick()' id="letmesync">
<section class="application wagetype" [attr.aria-busy]="busy">
    <ag-grid-wrapper
        class="transquery-grid-font-size"
        [resource]="lookupFunction"
        [config]="wagetypeTableConfig"
        (rowClick)="wagetypeSelected($event)">
    </ag-grid-wrapper>
</section>
