<header class="poster" *ngIf="wageType">

    <article class="poster_toolbar">

        <section>
            <h1 *ngIf="wagetypeID > 0">{{wageType.WageTypeName}}</h1>
            <p *ngIf="wagetypeID > 0">Lønnsartnr. {{wageType.WageTypeNumber}}</p>
            <h1 *ngIf="wagetypeID == 0">Ny lønnsart</h1>
        </section>

        <nav class="poster_toolbar_tools">
            <a (click)="previousWagetype()" class="previous">Forrige</a>
            <a (click)="nextWagetype()" class="next">Neste</a>
            <a href="/salary/wagetypes/0" class="new">Ny lønnsart</a>
        </nav>

    </article>

    <!-- Widget poster -->
    <section class="poster_overview">
        <uni-widget-poster [model]="wageType" *ngIf="wageType && wagetypeID > 0"></uni-widget-poster>
    </section>

</header>

<section class="application wagetype">
    <uni-form [config]="config" [fields]="fields" [model]="wageType" (onSubmit)="saveWagetype($event)" (onChange)="change($event)"></uni-form>
    <section *ngIf="tilleggsinformasjonDatasource.length > 0">
        <p>
            Valgte tilleggsopplysninger
        </p>
        <uni-table *ngIf="tilleggsinformasjonDatasource" [config]="tilleggspakkeConfig" [resource]="tilleggsinformasjonDatasource"></uni-table>
    </section>
</section>

<uni-save [actions]="saveactions"></uni-save>