<section class="splitview">
    <nav class="splitview_list">
        <article>
            <button class="tertiary c2a"
                style="margin-bottom: 1rem"
                (click)="newEmployment()"
                [disabled]="employee?.ID === 0 || btnDisabled()">

                <i class="material-icons">add</i>
                Nytt Arbeidsforhold
            </button>

            <ag-grid-wrapper
                [config]="tableConfig"
                [(resource)]="employments"
                (rowClick)="onRowSelected($event)">
            </ag-grid-wrapper>
            <br><small *ngIf="employee?.ID === 0">Ansatt må lagres før arbeidsforhold kan registreres</small>
        </article>
    </nav>
    <main class="splitview_detail" *ngIf="employments">
        <employment-details
            [employment]="selectedEmployment$ | async"
            [employee]="employee"
            (employmentChange)="onEmploymentChange($event)"
            (employeeChange)="onEmployeeChange($event)">
        </employment-details>
        <button class="delete" (click)="onDeleteEmployment()" [disabled]="deleteBtnDisabled()">
            Slett arbeidsforhold
        </button>
    </main>
</section>
