<section class="splitview application">
    <nav class="splitview_list">
        <uni-table [config]="tableConfig" [resource]="employments$ | async" (rowSelected)="onRowSelected($event)"></uni-table>
        <button (click)="newEmployment()"
                [disabled]="employee?.ID === 0 || btnDisabled()"
                style="margin: 0 0 10px;">
            Nytt Arbeidsforhold
        </button>
        <br><small *ngIf="employee?.ID === 0">Ansatt må lagres før arbeidsforhold kan registreres</small>
    </nav>
    <main class="splitview_detail salary_splitview_details" *ngIf="employments">
        <employment-details [employment]="selectedEmployment$ | async"
                            [subEntities]="subEntities"
                            [projects]="projects"
                            [departments]="departments"
                            (employmentChange)="onEmploymentChange($event)">
        </employment-details>
    </main>
</section>
