<section role="dialog" class="uni-modal uni-redesign">
    <header>
        Betingelser for Import
    </header>
    <div class="under-line"></div>
    <article>
        <form class="uni-html-form">
            <p>
                Ved benyttelse av verktøyet for import av data til Uni Economy aksepterer brukeren på vegne av
                lisenseier at dette er på eget ansvar. Feil og mangler i verktøyet samt eventuelle feil som oppstår i
                etterkant av bruk av programmet er ikke omfattet av supportavtalen.
            </p>
            <p>
                Uni Micro AS er ikke ansvarlig for eventuelle økonomiske tap, dirkete eller indirekte, som følge av
                feil,
                tap av data eller mangler i programmet.
            </p>
            <p>
                Uni Micro AS sine kundekonsulenter kan bistå ved import av data til Uni Economy.
            </p>
            <p>
                Hvis du som kunde trenger hjelp til rydde opp etter en import er dette en tjeneste som vil bli belastet
                per
                time etter medgått tid fra UniMicro AS sin side.
            </p>

            <label class="check-box-container" *ngIf='!hasAgreed'>
                <mat-checkbox class="check-box" [(ngModel)]="isSelected" [ngModelOptions]="{standalone: true}"
                    (click)="$event.stopPropagation()">
                </mat-checkbox>
                <label class="option-text">
                    Jeg godtar vilkår og betingelser
                </label>
            </label>

            <div class="alert-success" *ngIf='hasAgreed' role="alert">
                Disse vilkårene og betingelsene ble godtatt av deg den <b>{{approvedDate}}</b>
            </div>



        </form>

        <section *ngIf="loading$ | async" class="modal-spinner">
            <mat-spinner></mat-spinner>
        </section>
    </article>
    <footer class="center">
        <button class="c2a rounded" *ngIf='!hasAgreed' (click)="proceed()" [disabled]="!isSelected">Fortsett</button>
        <button (click)="close()" *ngIf='hasAgreed'>Lukk</button>
    </footer>
</section>