<section role="dialog" class="uni-modal">
    <header>Opprett nytt selskap</header>
    <article>
        <section *ngIf="busy" class="modal-spinner">
            <mat-spinner class="c2a"></mat-spinner>
        </section>

        <mat-horizontal-stepper [linear]="true" (selectionChange)="currentStep = $event.selectedIndex" #stepper [@.disabled]="true">
            <mat-step label="Lisens" [completed]="selectedContract && !companyLimitReached">
                <uni-select-license
                    *ngIf="currentStep === steps.selectLicense"
                    [currentContractID]="currentContractID"
                    [(selectedContract)]="selectedContract"
                    (selectedContractChange)="onContractSelected($event)"
                ></uni-select-license>

                <small class="bad" *ngIf="companyLimitReached">
                    Demolisenser kan kun ha to selskaper, og valgt lisens har nådd dette taket
                </small>
            </mat-step>

            <mat-step label="Selskapsinformasjon" [completed]="companyInfo.valid">
                <uni-select-company
                    *ngIf="currentStep === steps.selectCompany"
                    [(companyInfo)]="companyInfo"
                    (companyInfoChange)="onCompanyInfoChange()"
                ></uni-select-company>
            </mat-step>

            <mat-step label="Produkter" [completed]="this.selectedProductsNames.length > 0">
                <uni-select-products
                    *ngIf="currentStep === steps.selectProducts"
                    [products]="products"
                    [(selectedProductsNames)]="selectedProductsNames"
                ></uni-select-products>
            </mat-step>

            <mat-step label="Malklient" *ngIf="templateCompanies?.length && !companyInfo?.isTemplate">
                <uni-select-template
                    [templateCompanies]="templateCompanies"
                    [(selectedTemplateCompany)]="selectedTemplateCompany"
                    (selectedTemplateCompanyChange)="onTemplateSelected($event)"
                ></uni-select-template>
            </mat-step>
        </mat-horizontal-stepper>
    </article>

    <footer>
        <button class="secondary pull-left" (click)="close()">
            Avbryt
        </button>

        <button class="secondary" (click)="stepper.previous()" [disabled]="currentStep === 0">
            Tilbake
        </button>

        <button class="c2a"
            *ngIf="currentStep < lastStep"
            (click)="stepper.next()"
            [disabled]="!stepper.selected?.completed">
            Neste
        </button>

        <button class="good" *ngIf="currentStep === lastStep" (click)="createCompany()">
            Opprett selskap
        </button>
    </footer>
</section>
