<section role="dialog" class="uni-modal uni-redesign">
    <header>{{options.header}}</header>

    <article>
        <section *ngIf="loading$ | async" class="modal-spinner">
            <mat-spinner></mat-spinner>
        </section>

        <p><strong>Klient: </strong>{{authService?.activeCompany?.Name}}</p>

        <p *ngIf="options.data.hasTemplateAccess && options.data.isExternal">
            <strong>Last ned mal: </strong>
            <a href="{{options.data.downloadTemplateUrl}}">
                {{options.data.downloadTemplateUrl.split("/").pop()}}
            </a>
        </p>

        <p>{{options.data.conditionalStatement}}</p>
        <p>{{options.data.formatStatement}}</p>
        <p>{{options.data.downloadStatement}}</p>

        <p *ngIf="options.data.isExternal">
            Vær vennlig og les gjennom
            <a (click)="openDisclaimerNote()"> våre vilkår </a>
            før du laster opp filen.
        </p>

        <ng-container *ngIf="options.data.entity === payrollType">
            <label *ngIf="operators?.length" class="uni-label label-left">
                <span>Velg lønnsavregning</span>
                <uni-select
                    [config]="config"
                    [value]="selectedPayroll"
                    [items]="operators"
                    (valueChange)="onSelectChange($event)">
                </uni-select>
            </label>

            <div class="missing-payroll" *ngIf="!operators?.length">
                Det må opprettes en
                <a [routerLink]="['/salary/payrollrun/0']" (click)="close()">
                    lønnsavregning
                </a>
                før du kan importere variable lønnsposter.
            </div>
        </ng-container>

        <div>
            <strong>Filopplasting</strong>
            <div class="file-upload" [ngClass]="!isValidFileFormat ? 'error' : 'file-upload'" (click)="selectFile()"
                (drop)="dropFile($event)" (dragover)="dragFile($event)">
                <div class="upload-file" *ngIf='isFileSelected'>
                    <div class="file-card">
                        <i class="material-icons file-icon">insert_drive_file</i>
                        <label class="file-name">{{attachedFile.name}}</label>
                        <mat-progress-bar class="progress-bar" mode="determinate" [value]='progressBarVal'>
                        </mat-progress-bar>
                        <i class="material-icons cancel-icon" (click)="onFileDetach()" *ngIf="showCancel">add_circle</i>
                    </div>
                </div>
                <div class="select-file" *ngIf='!isFileSelected'>
                    <i class="material-icons">cloud_upload</i>
                    <span>
                        Dra og slipp eller <span class="browse-link">bla i</span> dine filer
                    </span>
                    <input #file type='file' (change)="openFile($event)" accept=".xlsx, .txt, .xml">
                </div>
            </div>

            <p class="error-msg" *ngIf='!isValidFileFormat'>
                Vennligst legg til en fil (.xlsx, .txt eller .xml) for å kunne importere {{options.data.type}}.
            </p>
        </div>

        <div class="radio-button-group"
            *ngIf="(options.data.entity !== payrollType) && (options.data.entity !== saftType)">
            <mat-radio-group [(ngModel)]="importOption">
                <mat-radio-button [value]="skip" [checked]="true">
                    Hopp over dupliserte {{options.data.entity === mainLedgerType ? 'Konto': options.data.type}}
                </mat-radio-button>
                <!-- <mat-radio-button [value]="duplicate">
                    Opprett dupliserte {{options.data.type}} med nye nummer
                </mat-radio-button> -->
                <mat-radio-button [value]="override">
                    Overskriv eksisterende {{options.data.entity === mainLedgerType ? 'Konto': options.data.type}}
                </mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="check-box-section" *ngIf="options.data.entity === saftType">
            <strong>Importvalg</strong>

            <mat-checkbox class="check-box" [(ngModel)]="isOpening">
                Opprett åpningsbalanse
            </mat-checkbox>

            <mat-checkbox class="check-box" [(ngModel)]="isKeepRecords">
                Behold kunde- og leverandørnummer
            </mat-checkbox>

            <mat-checkbox class="check-box" [(ngModel)]="isUpdate">
                Oppdater eksisterende kunder/leverandører
            </mat-checkbox>

            <mat-checkbox class="check-box" [(ngModel)]="isAutomatic">
                Automatisk merking av reskontroposter
            </mat-checkbox>
        </div>
    </article>

    <footer>
        <button class="secondary" (click)="close()">Avbryt</button>
        <button class="c2a"
            [disabled]="options.data.entity === payrollType && (!operators.length || !selectedPayroll)"
            (click)="importFile()">
            Importer {{options.data.type}}
        </button>
    </footer>
</section>