<article class="application" *ngIf="recurringPosts">
    <small *ngIf="!employeeID">Ansatt må lagres før faste poster kan registreres<br><br></small>
    <small *ngIf="unsavedEmployments$ | async">
        Det finnes ulagrede arbeidsforhold. Disse vil ikke kunne benyttes før du har lagret.<br><br>
    </small>
    <button class="c2a" (click)="navigateToNewAdvance()">Forskudd</button>
    <button class="c2a" (click)="navigateToNewDraw()">Trekk</button>
    <button class="c2a" (click)="navigateToSalaryBalanceList()">Saldooversikt</button>
    <uni-table class="salaryTransTable" [resource]="filteredPosts" [config]="tableConfig" (rowDeleted)="onRowDeleted($event)"></uni-table>
</article>
