.uni-modal
    min-width: 75vw

footer
    mat-checkbox
        margin-right: 1rem
    button
        min-width: 8rem

.positive
    color: var(--color-c2a)

.negative
    color: var(--color-bad)

.diff-alert
    i
        color: currentColor
        & + span
            margin-left: .5rem

    &.negative
        color: var(--color-bad)

.rules-and-series-container
    display: flex
    margin-bottom: .25rem

    .quick-rules
        flex: 1
        display: flex
        align-items: center

        span
            display: block
            margin-bottom: .4rem


