footer
    button.c2a, button.good
        min-width: 8rem

.uni-modal
    min-width: 90vw

.positive
    color: rgba(22, 93, 190, 0.96)

.negative
    color: #D12323

.leftspan
    margin-right: auto !important

.vert-bottom
    vertical-align: bottom

.checkbox
    margin-right: 3rem
    padding-right: 3rem
    vertical-align: bottom

    input[type="checkbox"]
        height: 20px
        width: 2.2rem
        vertical-align: bottom

.nrserie
    max-width: 15rem
    margin: 1rem
    padding: 3px
    height: 2rem

.nrserie-label, .nrserie
    font-weight: normal
    font-size: 12pt

.nrserie-label
    margin-left: 3em

.gap
    margin-right: 2rem
    padding-right: 2rem