.uni-modal
    min-width: 75vw

footer
    mat-checkbox
        margin-right: 1rem
    button
        min-width: 8rem

.positive
    color: var(--color-c2a)

.negative
    color: var(--color-bad)

.diff-footer
    display: flex
    justify-content: flex-end
    align-items: center
    padding: .5rem 1rem .5rem 0
    background-color: #f3f6ed
    margin-bottom: 1rem 0

    span
        font-size: 14px

    i
        margin-right: .5rem
        font-size: 20px

    &.positive
        color: var(--color-c2a)
    &.negative
        color: var(--color-bad)

.rules-and-series-container
    display: flex
    margin-bottom: .25rem

    .quick-rules
        flex: 1
        display: flex
        align-items: center

        span
            display: block
            margin-bottom: .4rem


