<section role="dialog" class="uni-modal">
    <header>
        Bokføre bankdata
        <label>
            <span>Nummerserie</span>
            <select class="nrserie" [(ngModel)]="session.selectedSerie">
                <option *ngFor="let serie of session.series" [ngValue]="serie">
                    {{serie.DisplayName}}
                </option>
            </select>
        </label>

        <section class="rules-dropdown">
            <button #toggle class="tertiary c2a">
                Bokføringsregler
                <i class="material-icons">expand_more</i>
            </button>

            <dropdown-menu [trigger]="toggle" [alignRight]="true" [minWidth]="'15rem'">
                <ng-template>
                    <section (click)="openJournalingRulesModal()" class="dropdown-menu-item">
                        <i style="margin: 0 .5rem 0 0" class="material-icons">edit</i>
                        Rediger regler
                    </section>

                    <ng-container *ngIf="bankStatementRules?.length">
                        <section (click)="runAllRules()" class="dropdown-menu-item">
                            <i style="margin: 0 .5rem 0 0" class="material-icons">play_circle_filled</i>
                            Kjør alle regler
                        </section>

                        <section class="dropdown-menu-header">Kjør spesifikk regel</section>
                        <section *ngFor="let rule of bankStatementRules" (click)="runRule(rule)" class="dropdown-menu-item">
                            {{rule.Name}}
                        </section>
                    </ng-container>
                </ng-template>
            </dropdown-menu>
        </section>
    </header>

    <article>
        <section *ngIf="busy" class="modal-spinner">
            <mat-spinner class="c2a"></mat-spinner>
        </section>

        <ag-grid-wrapper class="compactcells"
            [resource]="session?.items"
            [config]="tableConfig"
            (rowDelete)="onRowDeleted($event)">
        </ag-grid-wrapper>

    </article>

    <footer>
        <span class="pull-left" *ngIf="session?.balance" [ngClass]="session?.balance >= 0 ? 'positive' : 'negative'">
            <i class="material-icons">error</i>
            Differanse: {{ session?.balance | uninumberformat: 'money'}}
        </span>

        <mat-checkbox [(ngModel)]="settings.journalAsDraft">Lagre som kladd</mat-checkbox>

        <button class="secondary" (click)="onClose.emit()">Avbryt</button>

        <button [disabled]="session?.balance && !settings.journalAsDraft" class="c2a"
            (click)="save()">
            {{(settings.journalAsDraft ? 'Opprett kladd' : 'Bokfør')}}
        </button>
    </footer>
</section>