.taskView
    width: 100%

.taskView td
    width: 50%

.taskList
    width: 100%

.taskListEmbedded
    width: 100%
    cursor: pointer

.taskListEmbedded tr:hover
    background: lighten($uni-color-scale6, 34%)

.addTask
    width: 50%
    position: absolute
    bottom: 0px

button.add-task
    @extend .good
    margin-top: 2rem
