uni-tasks *
    box-sizing: border-box

uni-tasks .tasks
    display: block
    width: 93.75%
    padding: 0
    margin: 0
    margin-left: 6.25%
    padding-left: 1rem

task-list
    width: 55%
    height: calc(100vh - 5.5rem - 2.5rem)
    float: left

    .task-filters
        height: 10%
        padding-top: 2rem
        display: block

        button
            margin: 0
            border-radius: 0
            background-color: $uni-color-negative
            color: $uni-color-c2a
            border: 1px solid $uni-color-c2a
            text-shadow: none
            box-shadow: none
            margin-right: -4px

            &.active-filter
                background-color: $uni-color-c2a
                color: $uni-color-negative

            &:first-of-type
                border-top-left-radius: .2rem
                border-bottom-left-radius: .2rem
                border-right: none
                width: 7rem

            &:last-of-type
                border-top-right-radius: .2rem
                border-bottom-right-radius: .2rem
                border-left: none
                width: 7rem

        .show-completed-toggle
            display: inline-block
            margin-left: .5rem

            input[type=checkbox]+label.toggle
                padding-top: .5rem
                padding-left: 3.8rem


    .task-list
        display: block
        width: 100%
        height: 75%
        overflow: auto
        box-sizing: border-box
        list-style-type: none
        margin: 0
        padding: 1rem 0

        li
            position: relative
            cursor: pointer
            border-bottom:  pxToRem(1) solid $uni-color-scale9
            padding: 1rem

            &[aria-selected]:not([aria-selected=false])
                background: mix($uni-color-c2a, $uni-color-negative, 10%)

            p
                margin: 0

            button
                margin-top: 0
                float: right
                width: 7rem

            .approval-buttons .good
                margin-right: 0

    .addTask
        display: block
        width: 100%
        height: 15%
        padding: 2.5rem 0

        label
            display: inline-block
            width: 15rem

            &.task-text
                width: 25rem
                margin-right: 1.5rem

task-details
    display: block
    box-sizing: border-box
    width: 45%
    height: calc(100vh - 5.5rem - 2.5rem)
    float: left
    border-left: 1px solid $uni-color-scale9
    list-style-type: none

    .task-header
        height: 10%
        padding: 1rem 12.5% 1rem 2rem
        background-color: #fff
        border-bottom:  pxToRem(1) solid $uni-color-scale9
        h2
            margin: 0

    uni-comment-list
        display: block
        height: 80%
        padding: 2rem 12.5% 1rem 1rem
        border-bottom: pxToRem(1) solid $uni-color-scale9
        box-sizing: border-box

    uni-comment-input
        box-sizing: border-box
        padding: 1.5rem 12.5% 1rem 1rem

        ul
            bottom: 2.5rem
            left: 1rem

        button
            margin-right: 0

