<section role="dialog" class="uni-modal">
    <header>Aktiver autobank for {{user?.DisplayName}}</header>

    <article>
        <section *ngIf="busy" class="modal-spinner">
            <mat-spinner class="c2a"></mat-spinner>
        </section>

        <section *ngFor="let message of errorMessages" class="alert bad">
            {{message}}
        </section>

        <form [formGroup]="autobankData">
            <label class="uni-label label-left">
                <span>Ditt autobank passord</span>
                <input formControlName="AdminPassword" type="password" autocomplete="new-password" autofocus>
            </label>

            <fieldset>
                <legend>Brukerinfo</legend>
                <small>
                    For å registrere bankbruker trenger vi et passord å knytte til brukeren.
                    Brukeren kan selv endre dette senere via brukerinnstillingene oppe til høyre
                    i applikasjonen.
                    <br><br>
                    Det jobbes med en bedre flyt, der brukeren fyller ut registreringsinfo selv.
                    Dette vil være tilgjengelig om kort tid.
                    <br><br>
                    Passordet må være minst 10 tegn og inneholde en stor bokstav, en liten bokstav, ett tall og ett tegn
                </small>

                <label class="uni-label label-left">
                    <span>Passord</span>
                    <input formControlName="Password" type="password" autocomplete="new-password">
                </label>

                <label class="uni-label label-left">
                    <span>Bekreft passord</span>
                    <input formControlName="ConfirmPassword" type="password" autocomplete="new-password">
                </label>

                <label class="uni-label label-left">
                    <span>Telefon</span>
                    <input formControlName="Phone" type="tel">
                </label>

                <label class="uni-label label-left">
                    <span>Autobank administrator</span>
                    <mat-checkbox formControlName="IsAdmin"></mat-checkbox>
                </label>
            </fieldset>
        </form>
    </article>

    <footer>
        <button (click)="close()" class="secondary">Avbryt</button>
        <button (click)="submit()" class="c2a">Registrer bankbruker</button>
    </footer>
</section>