.uni-modal
    width: 40rem

    article
        padding-right: 3rem

p[role=alert]
    margin: 0 0 1rem
    &:last-of-type
        margin-bottom: 2rem

form
    margin: 0 0 2rem

    fieldset
        padding-top: 3rem
        small
            display: block
            margin-bottom: 1.5rem

    label
        display: flex
        margin-bottom: 1rem
        margin-right: 2rem

        span
            flex: 0 0 12rem
            margin: auto 0
            font-size: 14px

        input
            flex: 1

        mat-checkbox
            flex: 1
            margin-bottom: 3px