.uni-modal
    width: 40rem

.validation:last-of-type
    margin-bottom: 2rem

form small
    display: block
    margin-bottom: 1.5rem

.reset-password-link
    width: 100%
    display: flex
    justify-content: flex-end
    a
        font-size: 15px
        font-weight: 500
