body
    --font-family: 'Roboto', sans-serif, arial
    --body-background: #f5f6f8
    --border-color: #D2DAE2

    --link-color: #2699fb
    --text-color: #2B2B2B
    --scale1: #808080
    --scale2: #c4c4c4
    --scale3: #e3e3e3
    --scale4: #F5F6F8

    --logo-width: 9rem

    --navbar-height: 82px
    --navbar-background: #123F9A
    --navbar-icon-color: #fff

    --company-dropdown-border: 1px solid rgba(255, 255, 255, .7)
    --company-dropdown-background: rgba(0, 0, 0, 0)
    --company-dropdown-color: #fff

    --tabstrip-background: #fff
    --tabstrip-color: #2b2b2b
    --tabstrip-link-color: #808080
    --tabstrip-active-link-color: #0070E0

    --tab-color: #2B2B2B
    --active-tab-color: #0070E0

    --sidebar-background: #fff
    --sidebar-color: #2B2B2B
    --sidebar-icon-color: #0070E0
    --sidebar-hover-color: #0070E0
    --sidebar-active-section-background: #E8F1F9

    --toolbar-background: #fff
    --toolbar-border: 1px solid var(--border-color)
    --toolbar-header-color: var(--text-color)
    --toolbar-icon-color: #0F519C

    --toolbar-button-border: 1px solid var(--border-color)
    --toolbar-button-color: #0F519C

    --button-radius: 3px
    --section-radius: 3px

    --color-c2a: #0070E0
    --color-c2a-dark: #123F9A
    --color-good: #01A901
    --color-bad: #D63731
    --color-bad-light: #F8598B
    --color-warn: #FF9E2C
    --color-warn-light: #fbbe11

    --button-c2a: #0070E0
    --button-c2a-hover: #1565C0

    --button-good: #008900
    --button-good-hover: #007900

    --button-bad: #D63731
    --button-bad-hover: #DC223E

    --button-warn: #FF9E2C
    --button-warn-hover: #ffa733

    --dropdown-shadow: 0 5px 4px 2px rgba(140, 150, 169, 0.1)
    --dropdown-select-background: #DAEEFF
    --dropdown-select-color: #0070E0

    --checkbox-size: 18px
    --checkbox-checked-color: #fff
    --checkbox-checked-background: #0070E0
    --checkbox-checked-border: 1px solid #0070E0

    --table-header-background: #fff
    --table-header-color: #2B2B2B
    --table-row-even-background: #fafafa
    --table-row-odd-background: #fff
    --table-row-select-background: #DAEEFF

    --alt-table-header-background: var(--scale4)
    --alt-table-header-color: var(--text-color)
    --alt-table-header-border: none
    --alt-table-body-border: 1px solid var(--border-color)

    --alert-info: #DAEEFF
    --alert-good: #DAF0CD
    --alert-warn: #FFEBD5
    --alert-bad: #FDD5D2

    --toast-info: #DAEEFF
    --toast-info-text: var(--text-color)

    --toast-good: #01A901
    --toast-good-text: #fff

    --toast-warn: #FAB86B
    --toast-warn-text: var(--text-color)

    --toast-bad: #D63731
    --toast-bad-text: #fff

    --widget-header-size: 16px
    --widget-header-color: #2b2b2b
    --widget-c2a: #0070E0

    --chat-header-background: #0070E0
