body
    --font-family: 'Roboto', sans-serif, arial
    --body-background: #f4f4f4
    --border-color: rgba(0, 0, 0, .15)

    --text-color: #1D2B33
    --link-color: #0071CD // #2699fb

    --logo-width: 9rem

    --navbar-height: 82px
    --navbar-background: #014890
    --navbar-icon-color: #fff

    --company-dropdown-border: none
    --company-dropdown-background: rgba(0, 0, 0, 0.2)
    --company-dropdown-color: #fff

    --tabstrip-background: #fff
    --tabstrip-color: #262626
    --tabstrip-link-color: #8B96AC
    --tabstrip-active-link-color: #1565C0

    --tab-color: #485460
    --active-tab-color: #1565C0

    --sidebar-background: #fff
    --sidebar-color: #8B96AC
    --sidebar-section-header-color: #8B96AC
    --sidebar-hover-color: #1565C0
    --sidebar-active-section-background: #E8F1F9

    --toolbar-background: #fff
    --toolbar-border: 1px solid rgba(0, 0, 0, .15)
    --toolbar-icon-color: #0F519C

    --toolbar-button-border: 1px solid var(--border-color)
    --toolbar-button-color: #0F519C

    --button-radius: 3px
    --section-radius: 3px

    --color-c2a: #1565C0
    --color-c2a-hover: #0F519C
    --color-c2a-dark: #0F519C

    --color-neutral: #485460
    --color-neutral-hover: #485460

    --color-good: #008A00
    --color-good-hover: #008A00

    --color-bad: #F53B57
    --color-bad-hover: #DC223E

    --color-warn: #ff9100
    --color-warn-hover: #ffa733

    --dropdown-shadow: 0 5px 4px 2px rgba(140, 150, 169, 0.1)
    --dropdown-select-background: #d9efff
    --dropdown-select-color: #1565C0

    --checkbox-size: 18px
    --checkbox-checked-color: #fff
    --checkbox-checked-background: #1565C0
    --checkbox-checked-border: 1px solid #1565C0

    --table-header-background: #fff
    --table-header-color: #0F519C
    --table-row-even-background: #fafafa
    --table-row-odd-background: #fff
    --table-row-select-background: #d9efff

    --alert-info: #E8F1F9
    --alert-good: #E1F4E3
    --alert-warn: #F8F5EB
    --alert-bad: #F3BBAA

    --widget-header-size: 16px
    --widget-header-color: #596879
    --widget-c2a: #1565C0

    --chat-header-background: #1565C0
