body.sr-theme
    --font-family: MuseoSans, arial, sans-serif

    --body-background: #f4f4f4
    --border-color: #ccc

    --text-color: #262626
    --header-color: #002776
    --link-color: #0071CD

    --logo-url: url(assets/sb1_sr_2.png)
    --logo-width: 8rem

    --navbar-height: 80px
    --navbar-background: #fff
    --navbar-icon-color: #002776

    --company-dropdown-border: 1px solid #ccc
    --company-dropdown-background: #fff
    --company-dropdown-color: #4a5155

    --tabstrip-background: #fff
    --tabstrip-color: #262626
    --tabstrip-link-color: #676767
    --tabstrip-active-link-color: #0071CD

    --tab-color: #676767
    --active-tab-color: #002776

    --sidebar-background: #fff
    --sidebar-color: #676767
    --sidebar-hover-color: #002776
    --sidebar-active-section-background: #E8F1F9

    --toolbar-background: #fff
    --toolbar-border: 1px solid #ccc

    --color-c2a: #005AA4
    --color-c2a-hover: #005193

    --color-good: #008A00
    --color-good-hover: #007B00

    --color-bad: #E60000
    --color-bad-hover: #D90000

    --color-warn: #FF9100
    --color-warn-hover: #F28400

    --dropdown-shadow: 0 5px 4px 2px rgba(140, 150, 169, 0.1)

    --checkbox-size: 20px
    --checkbox-checked-color: #005AA4
    --checkbox-checked-background: #fff
    --checkbox-checked-border: 2px solid #005AA4
