body.sr-theme
    // --font-family: MuseoSans-500, arial, sans-serif
    --font-family: 'Roboto', sans-serif, arial

    --body-background: #f4f4f4 // #F6F6F3
    --text-color: #1D2B33 // #262626
    --container-borders: 1px solid #ccc

    --logo-url: url(assets/sb1_sr_2.png) //url(assets/SRBA.svg)
    --logo-width: 8rem

    --navbar-height: 80px
    --navbar-background: #fff
    --navbar-icon-color: #002776

    --company-dropdown-border: 1px solid #ccc
    --company-dropdown-background: #fff
    --company-dropdown-color: #4a5155

    --tabstrip-background: #fff
    --tabstrip-color: #4a5155
    --tabstrip-active-tab-background: rgba(0,0,0,0)
    --tabstrip-active-tab-color: #002776

    --sidebar-background: #fff
    --sidebar-color: #8B96AC
    --sidebar-hover-color: #002776
    --sidebar-active-section-background: #E8F1F9

    --toolbar-header-color: #002776

    --color-c2a: #005AA4
    --color-c2a-hover: #005193

    --color-good: #008A00
    --color-good-hover: #007B00

    --color-bad: #E60000
    --color-bad-hover: #D90000

    --color-warn: #FF9100
    --color-warn-hover: #F28400
