\:root
    // --font-family: MuseoSans-500, arial, sans-serif


    --body-background: #F6F6F3 // #edeeef
    --text-color: #262626 // #1D2B33
    --container-borders: 1px solid #ccc

    --logo-url: url(assets/SRBA.svg)
    --logo-width: 8rem

    --navbar-height: 90px
    --navbar-background: #fff
    --navbar-color: #4a5155

    --tabstrip-background: #fff
    --tabstrip-color: #4a5155
    --tabstrip-border: 1px solid #ccc
    --tabstrip-active-tab-background: #fff
    --tabstrip-active-tab-color: #0071cd

    --sidebar-background: #fff
    --sidebar-color: #596879 // #32414d
    --sidebar-icon-color: #596879 // #638bb3
    --sidebar-active-section-color: #fff
    --sidebar-link-hover-background: #e8e9ea
    --sidebar-link-hover-color: #198CEE

    --color-c2a: #0071cd
    --color-c2a-hover: #0063b4

    --color-good: #008A00
    --color-good-hover: #007B00

    --color-bad: #E60000
    --color-bad-hover: #D90000

    --color-warn: #FF9100
    --color-warn-hover: #F28400
