body
    // TODO: variable for font import?
    --font-family: 'Roboto', sans-serif, arial

    --body-background: #f4f4f4
    --text-color: #1D2B33
    --border-color: rgba(0, 0, 0, .15)

    --logo-url: url(assets/ue-logo-small.png)
    --logo-width: 2rem

    --navbar-height: 80px
    --navbar-background: #014890
    --navbar-icon-color: #fff

    --company-dropdown-border: none
    --company-dropdown-background: rgba(0, 0, 0, 0.2)
    --company-dropdown-color: #fff

    --tabstrip-background: #fff
    --tabstrip-color: #485460
    --tabstrip-link-color: #8B96AC
    --tabstrip-active-link-color: #1565C0

    --active-tab-color: #1565C0

    --sidebar-background: #fff
    --sidebar-color: #8B96AC
    --sidebar-hover-color: #1565C0
    --sidebar-active-section-background: #E8F1F9

    --toolbar-header-color: #0F519C
    --toolbar-background: #f4f4f4

    --color-c2a: #1565C0
    --color-c2a-hover: #0F519C

    --color-good: #008A00
    --color-good-hover: #008A00

    --color-bad: #F53B57
    --color-bad-hover: #DC223E

    --color-warn: #ff9100
    --color-warn-hover: #ffa733

@import './sr-theme.sass'