\:root
    // TODO: variable for font import?
    --font-family: 'Roboto', sans-serif, arial

    --body-background: #edeeef
    --text-color: #1D2B33
    --container-borders: 1px solid rgba(0, 0, 0, .1)

    --logo-url: url(assets/ue-logo-small.png)
    --logo-width: 2rem

    --navbar-height: 80px
    --navbar-background: #0c3b69
    --navbar-color: #fff

    --tabstrip-background: #638bb3
    --tabstrip-color: #fff
    --tabstrip-border: none
    --tabstrip-active-tab-background: #537eaa
    --tabstrip-active-tab-color: #fff

    --sidebar-background: #fff
    --sidebar-color: #596879 // #32414d
    --sidebar-icon-color: #596879 // #638bb3
    --sidebar-active-section-color: #fff
    --sidebar-link-hover-background: #e8e9ea
    --sidebar-link-hover-color: #198CEE

    --color-c2a: #1565C0
    --color-c2a-hover: #0F519C

    --color-good: #008A00
    --color-good-hover: #008A00

    --color-bad: #F53B57
    --color-bad-hover: #DC223E

    --color-warn: #ff9100
    --color-warn-hover: #ffa733

// @import './sr-theme.sass'