<div *ngIf="currentDay" class="uni-redesign time-off-edit-container">

    <div style="display: flex">
        <label> Dato </label>
        <input [value]="currentDay.dateText" type="text" [readonly]="true" style="width: 12.75rem">

        <button (click)="showEndDate = !showEndDate" class="tertiary c2a" style="margin-left: 1rem">
            Flere fridager på rad? Klikk her for å legge til sluttdato
        </button>
    </div>

    <div style="display: flex" *ngIf="showEndDate">
        <label> Sluttdato </label>
        <uni-datepicker [(value)]="timeOff.ToDate"></uni-datepicker>
    </div>

    <div style="display: flex">
        <label> Halv dag </label>
        <input [(ngModel)]="timeOff.IsHalfDay" type="checkbox" [readonly]="showEndDate">
    </div>

    <div style="display: flex">
        <label> Beskrivelse</label>
        <textarea [(ngModel)]="timeOff.Description"> </textarea>
    </div>

    <mat-progress-bar
        *ngIf="loading$ | async"
        class="uni-progress-bar"
        mode="indeterminate">
    </mat-progress-bar>

    <small *ngIf="errorMsg" class="bad">
        {{ errorMsg }}
    </small> <br />

    <div class="save-timeoff-footer" >
        <button  class="c2a" (click)="saveTimeOff()">
            Lagre fridag
        </button>
        <button *ngIf="timeOff.ID" class="secondary bad" (click)="deleteTimeOff()">
            {{ getButtonText() }}
        </button>
    </div>
</div>