.pension-schemes
    li
        display: grid
        grid-template-columns: repeat(2, auto)
        justify-content: space-between
        align-items: center
        margin: 0 0 0 1rem
        .pension-scheme
            margin: 0

