<header class="poster">
    
    <article class="poster_toolbar">
        <div *ngIf="empJSON">
            <h2 class="poster_toolbar_headline">{{employee.BusinessRelationInfo.Name}}
                <p class="poster_toolbar_orgnr">Ansattnr. {{employee.EmployeeNumber}}</p>
            </h2>
        </div>
            
        <div class="poster_toolbar_tools">
            <input type="search" class="poster_toolbar_search">
            <a href="#" class="previous">Forrige</a>
            <a href="#" class="next">Neste</a>
            <a href="#" class="new">Ny ansatt</a>
        </div>
            
    </article>
    
    <!-- Widget poster -->
    <section class="poster_overview">
        <uni-widget-poster [model]="employee"></uni-widget-poster>
    </section>
    
    {{empJSON}}
</header>
	
<!-- Child component navigation and outlet -->
<uni-tabs [routes]="childRoutes" class="horizontal_nav"></uni-tabs>
<router-outlet></router-outlet>


