<uni-toolbar
    [config]="{title: 'Ansatte'}"
    [saveactions]="toolbarActions">
</uni-toolbar>

<uni-ticker-wrapper
    [tickerCode]="'employee_list'"
    [showFiltersAsNavbar]="true"
    [actionOverrides]="[]"
    [columnOverrides]="[]">
</uni-ticker-wrapper>

<!-- <section class="application">
    <ag-grid-wrapper class="selection-list"
        [resource]="employees$ | async"
        [config]="employeeTableConfig"
        (rowSelectionChange)="employeeSelected($event)">
    </ag-grid-wrapper>
</section> -->