<section class="salarytrans-splitview">
    <section class="uni-container salarytrans-list small-split-view-list" style="margin-right: 1rem" [attr.aria-busy]="busy">
        <section class="emp-header">

            <mat-form-field class="emp-sort">
                <mat-select [value]="currentListFilter" placeholder="Sorter etter">
                    <mat-option *ngFor="let filter of employeeListfilters" [value]="filter" (click)="onActiveFilterChange(filter)">
                        {{ filter.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button class="tertiary c2a" (click)="getEmployee()">
                <i class="material-icons">person_add</i>
                Hent ansatt
            </button>

            <input type="search" [(ngModel)]="employeeFilterString" [formControl]="searchControl" class="emp-search"/>
            <i class="material-icons info" matTooltip="Kun ansatte med lønnsposter i lønnsavregningen vises i listen. Dersom du ønsker å registrere lønnsposter på ansatte som ikke er i listen, klikk på knappen &quot;hent ansatt&quot; for å hente den ansatte inn i listen. Det er ikke nødvendig å hente inn ansatte i listen før man importerer data eller registrerer i bildet for variable lønnsposter. Listen oppdateres automatisk når ansatt har lønnsposter på lønnsavregningen">
                 info
            </i>

        </section>

        <cdk-virtual-scroll-viewport id="role-info" class="emp-list" itemSize="34" >
            <li *cdkVirtualFor="let employee of filteredEmployees; templateCacheSize: 100"
                [class.selected]="employee.ID === selectedEmp?.ID" class="emp-item"
                (click)="rowSelected(employee)" style="display: flex; flex-direction: row;">
                <strong>{{ employee.EmployeeNumber }}. &nbsp; </strong>
                <span> {{ employee.Name }}</span>
                <i class="material-icons bad" *ngIf="errors[employee.ID]" title="{{ errors[employee.ID] }}"> warning </i>
            </li>
            <li *ngIf="hasInitialized && !(filteredEmployees).length" style="padding: 0; line-height: 34px;">
                <span (click)="getEmployee()"> Ingen ansatte å vise. Legg til ny </span>
            </li>
        </cdk-virtual-scroll-viewport>
    </section>

    <section class="uni-container salarytrans-details">
        <header *ngIf="selectedEmp && agaZone">
            <section class="header-info-container">
                <a [routerLink]="['/salary/employees/' + selectedEmp.ID]" title="Gå til ansattkortet"> {{selectedEmp.EmployeeNumber}} - {{selectedEmp?.Name}} </a>
                <span> <strong>Virksomhet:</strong> &nbsp; {{selectedEmp.SubEntity?.BusinessRelationInfo?.Name}} </span>
                <span title="Arbeidsgiveravgift"><strong>Aga-sone:</strong> &nbsp; {{ agaZone.ZoneName }}</span>
            </section>

            <section class="navigation-buttons">
                <i class="material-icons" role="button" (click)="prevRow()">
                    keyboard_arrow_left
                </i>
                <i class="material-icons" role="button" (click)="nextRow()">
                    keyboard_arrow_right
                </i>
            </section>
        </header>

        <link-menu [menu]="linkMenu$ | async" style="padding-top: .5rem"></link-menu>
        <salary-transactions-employee *ngIf="selectedEmp" [employee]="selectedEmp"></salary-transactions-employee>
        <section class="detail_tables" *ngIf="employees && selectedEmp">
            <uni-summary [configs]="summary" [ngClass]="{'-is-dirty':hasDirty()}"></uni-summary>
        </section>
    </section>
</section>
