<h1>Job No {{batchinvoice?.ID}}</h1>
<input type="text" [(ngModel)]="query" (ngModelChange)="searchQueryChange($event)" role="search" placeholder="Type something here" class="filter-inputs"/>
<table>
    <thead>
    <th>Nr</th>
    <th>{{headerByEntity}}</th>
    <th>Kundenr</th>
    <th>Sum eks. mva</th>
    <th>Kundenavn</th>
    <th>Status samlefaktura</th>
    <th></th>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of (filteredItems$ | async)">
        <tr class="item-info">
            <td><a [href]="getLink(item)">{{item.CustomerOrderID ? item.CustomerOrder.OrderNumber : item.CustomerInvoice.InvoiceNumber}}</a></td>
            <td>{{(item.CustomerOrderID ? item.CustomerOrder.OrderDate : item.CustomerInvoice.InvoiceDate) | date: 'dd.MM.yyyy'}}</td>
            <td>{{item.CustomerOrderID ? item.CustomerOrder.CustomerOrgNumber : item.CustomerInvoice.CustomerOrgNumber}}</td>
            <td>{{(item.CustomerOrderID ? item.CustomerOrder.TaxExclusiveAmountCurrency : item.CustomerInvoice.TaxExclusiveAmount) | unicurrency}}</td>
            <td>{{item.CustomerOrderID ? item.CustomerOrder.CustomerName : item.CustomerInvoice.CustomerName}}</td>
            <td [class]="item.StatusCode === 70001 ? 'bad': 'good'">
                <mat-chip (click)="goToInvoice(item)">{{item.StatusCode === 70001 ? 'Feilet': 'Registret'}}
                </mat-chip>
            </td>
            <td>
                <a class="material-icons" *ngIf="item.StatusCode === 70001" (click)="getError(item)">keyboard_arrow_down</a>
                <a class="material-icons" *ngIf="item.StatusCode !== 70001" (click)="getPayments(item)">keyboard_arrow_down</a>
            </td>
        </tr>
        <tr class="error-info" *ngIf="item.StatusCode === 70001 && item._isOpen">
            <td colspan="7">
                <div class="error-data-container">
                    <span>{{item?._comment?.Text}}</span>
                    <a class="orderlink" [href]="'#/sales/orders/' + item.CustomerOrder.ID">
                        <i class="material-icons">launch</i>
                        Go to order
                    </a>
                    <button class="info" (click)="reBatchInvoices(batchinvoice?.ID)">Samlefakturere igjen</button>
                </div>
            </td>
        </tr>
        <tr class="error-info" *ngIf="item.StatusCode !== 70001 && item._isOpen">
            <td colspan="7">
                <ng-container *ngFor="let payment of item._payments">
                    <h3>Betalinger</h3>
                    <a class="payment" [href]="payment._link">
                        <span class="timestamp">
                            {{payment.PaymentPaymentDate | date: 'dd.MM.yyyy'}}
                        </span>
                        <span class="text">{{payment.PaymentAmountCurrency | unicurrency: 2}} {{payment.CurrencyCodeCode}}</span>
                        <span class="status">{{payment._statusText}}</span>
                    </a>
                </ng-container>
            </td>
        </tr>
        <tr class="separation">
            <td colspan="7"></td>
        </tr>
    </ng-container>
    </tbody>
</table>
