uni-annual-settlement-header-component
    .application
        padding-left: 10rem
        padding-right: 10rem
    .last
        display: flex
    .material-icons, .material-icons-outlined
        color: #5C8E56 !important
        cursor: pointer
        &.alert-icon
            width: auto
            height: auto
@media screen and (max-width: 1300px)
    uni-annual-settlement-header-component
        .application
            padding: 0rem 5rem
@media screen and (max-width: 700px)
    uni-annual-settlement-header-component
        .application
            padding: 0rem 1rem
