%detaillist
    padding: 0

    .k-grid tr.k-state-selected
        color: $uni-color-negative
        background: $uni-color-C2A

    div.k-grid-header
        padding-right: 0 !important // Because of Kendo's $%#@ing inline styles

    input[type=search]
        display: none

    .k-grid-content
        overflow-y: hidden
        overflow-x: hidden
        margin-bottom: 1rem

.treelist
    @extend %detaillist
    list-style: none

    .treelist
        padding-left: 1rem
        border-left: pxToRem(2) solid $uni-color-scale9

    &[aria-expanded=true]
        background: red


.treelist_headline
    cursor: pointer
    font-weight: 300
    font-size: 1rem
    padding: 0 0 .2em 1rem
    margin: 0
    background: unicon-chevron-right($uni-color-scale5) no-repeat 0 .5rem
    background-size: .35rem

    .treelist_item[aria-expanded=true] > &
        background: unicon-chevron-down($uni-color-scale5) no-repeat 0 .5rem
        background-size: .7rem

    &:empty
        display: none

.treelist_content
    uni-table
        margin-bottom: 1rem

