<uni-toolbar
    [config]="toolbarconfig"
    [saveactions]="saveactions">
</uni-toolbar>

<section class="application">
    <section *ngIf="remindersToDebtCollect" class="uni-container">
        <mat-slide-toggle
            [(ngModel)]="showInvoicesWithReminderStop"
            (change)="updateReminderTable()"
            [labelPosition]="'before'">
            Vis faktura med purrestopp
        </mat-slide-toggle>

        <b>{{remindersToDebtCollect.length}} purringer er klar til inkasso</b><br />

        <ag-grid-wrapper
            class="transquery-grid-font-size"
            [resource]="remindersToDebtCollect"
            [config]="reminderToDebtCollectTable"
            (rowSelectionChange)="onRowSelected($event)">
        </ag-grid-wrapper>
        <uni-summary *ngIf="summaryData" [configs]="summaryFields" [ngClass]="{'-is-dirty':dirty}"></uni-summary>
    </section>
</section>