.dashboard_welcome
    @include unigrid(16)
    box-shadow: 0 0 1rem rgba(161,170,188,.4)
    margin-top: 1rem
    border-radius: .1875rem
    padding: 1rem
    background-color: #fafbfc

.dashboard_company
    @include unigrid(16)
    margin-top: 1rem
    border-radius: .1875rem
    padding: 1rem

    section
        float: left

        &:last-of-type
            margin-left: 1rem

        h1
            cursor: pointer

.dashboard_chart_card
    @include unigrid(4,2,2)
    box-shadow: 0 0 1rem rgba(161,170,188,.4)
    border-radius: .1875rem
    padding: 1rem
    margin-top: 1rem
    height: 340px
    max-height: 340px
    float: left
    background-color: #fafbfc

    h2
        margin: 0

.dashboard_double_chart_card
    @include unigrid(8,4,2,1)
    box-shadow: 0 0 1rem rgba(161,170,188,.4)
    border-radius: .1875rem
    padding: 1rem
    height: 340px
    max-height: 340px
    float: left

.chart_canvas
    height: 260px
    max-height: 260px

.dashboard_lists
    font-size: 0.75rem

    a
        color:#7293cb
        cursor: pointer

.inbox_list_item
    font-weight: 600
    display: inline-block
    width: 65%
    overflow: hidden
    white-space: nowrap

.time_float
    float: right
    margin: 0

// .header_logo
//     img
//         width: auto
//         height: 80px