.chart_section
    @include unigrid-flush(14)
    margin: 0 auto


.dashboard_welcome
    @include unigrid-flush(8,8,2)
    box-shadow: 0 0 1rem rgba(161,170,188,.4)
    margin: 2rem 1rem 2rem 0
    border-radius: .1875rem
    padding: 1rem


.dashboard_chart_card
    @include unigrid-flush(2,2,2,1)
    box-shadow: 0 0 1rem rgba(161,170,188,.4)
    margin: 2rem 1rem 2rem 0
    border-radius: .1875rem
    padding: 1rem
    float: left
    