.chart_section
    @include unigrid-flush(14)
    margin: 0 auto


.dashboard_welcome
    @include unigrid(16)
    box-shadow: 0 0 1rem rgba(161,170,188,.4)
    margin-top: 1rem
    margin-bottom: 1rem
    border-radius: .1875rem
    padding: 1rem


.dashboard_chart_card
    @include unigrid(4,2,2,1)
    box-shadow: 0 0 1rem rgba(161,170,188,.4)
    border-radius: .1875rem
    padding: 1rem
    height: 340px
    max-height: 340px
    float: left
    