<header class="poster">
    <uni-toolbar [config]="toolbarConfig" 
                 [saveactions]="actions" 
                 [contextmenu]="contextMenuItems" 
                 [statustrack]="getStatusTrackConfig()" 
                 (statusSelectEvent)="setAmeldingFromEvent($event)"></uni-toolbar>

    <section class="amelding_poster">

        <article class="amelding_poster_widget">
            <dl class="amelding_poster_details">
                <dt>Juridisk enhet</dt>
                <dd>{{legalEntityNo | uninumberformat:'orgno'}}</dd>

                <dt>Status periode</dt>
                <dd>{{periodStatus}}</dd>
            </dl>
        </article>

        <article class="amelding_poster_widget two-up">
            <table class="amelding_poster_figures">
                <tr>
                    <td></td>
                    <th>Sum forskuddstrekk</th>
                    <th>Sum arbeidsgiveravgift</th>
                </tr>
                <tr>
                    <th class="datacolumn">Fra lønnsystem</th>
                    <td class="currency">{{totalFtrekkSystemStr}}</td>
                    <td class="currency">{{totalAGASystemStr}}</td>
                </tr>
                <tr>
                    <th class="datacolumn">Fra tilbakemelding</th>
                    <td class="currency">{{totalFtrekkFeedbackStr}}</td>
                    <td class="currency">{{totalAGAFeedBackStr}}</td>
                </tr>
            </table>
        </article>

        <article class="amelding_poster_widget">
            <ul class="amelding_poster_events" *ngIf="initialized">
                <li [className]="clarifiedDate ? 'success' : 'warn'">
                    {{clarifiedDate ? 'Generert' : 'Ikke generert'}}
                    <time *ngIf="clarifiedDate">{{clarifiedDate}}</time>
                </li>
                <li [className]="submittedDate ? 'success' : 'warn'">
                    {{submittedDate ? 'Innsendt' : 'Ikke innsendt'}}
                    <time *ngIf="submittedDate">{{submittedDate}}</time>
                </li>
                <li [className]="feedbackObtained ? 'success' : 'warn'">
                    {{feedbackObtained ? 'Tilbakemelding hentet' : 'Tilbakemelding ikke hentet'}}
                </li>
            </ul>
        </article>

    </section>

    <div class="horizontal_nav">
        <ul>
            <!--<li>
                <a (click)="showView = 'control'" [class.router-link-active]="showView == 'control'">Kontroll</a>
            </li>-->
            <li>
                <a (click)="showView = ''" [class.router-link-active]="showView == ''">Oppsummering</a>
            </li>
            <li>
                <a (click)="showView = 'aga'" [class.router-link-active]="showView == 'aga'">Arbeidsgiveravgift</a>
            </li>
            <li>
                <a (click)="showView = 'receipt'" [class.router-link-active]="showView == 'receipt'">Tilbakemelding</a>
            </li>
            <li>
                <a (click)="showView = 'periodsummary'" [class.router-link-active]="showView == 'periodsummary'">Periodeoppsummering</a>
            </li>
            <!--<li>
                <a (click)="showView = 'avstem'" [class.router-link-active]="showView == 'avstem'">Avstemming</a>
            </li>-->
        </ul>
    </div>
</header>

<select-amelding-type-modal (ameldTypeChange)="createAMelding($event)"></select-amelding-type-modal>
<altinn-authentication-data-modal></altinn-authentication-data-modal>

<section class="application" [attr.aria-busy]="busy">

    <!--<amelding-control-view *ngIf="showView == 'control'"></amelding-control-view>-->
    <amelding-summary-view *ngIf="showView == ''" [currentSumUp]="currentSumUp" [currentAMelding]="currentAMelding"></amelding-summary-view>
    <amelding-aga-view *ngIf="showView == 'aga'" [currentSumUp]="currentSumUp"></amelding-aga-view>
    <amelding-receipt-view *ngIf="showView == 'receipt'" [currentAMelding]="currentAMelding" [aMeldingerInPeriod]="aMeldingerInPeriod"></amelding-receipt-view>
    <amelding-periodsummary-view *ngIf="showView == 'periodsummary'" [currentAMelding]="currentAMelding" [systemData]="currentSumsInPeriod" [aMeldingerInPeriod]="aMeldingerInPeriod"></amelding-periodsummary-view>
    <!--<amelding-avstem-view *ngIf="showView == 'avstem'"></amelding-avstem-view>-->

</section>