.uni-modal
    width: 35rem
    max-height: 90vh

    header
        margin-bottom: 0 !important

    > article
        padding: 1rem 0 0

    receipt-for-bulk-access
        margin: 0 2rem !important
        max-height: calc(100vh - 30rem)

#product-wrapper
    max-height: calc(100vh - 25rem)
    overflow-y: auto
    padding: 1rem 3rem
    margin-top: 1rem
    border-top: 1px solid #E2E6F0
    border-bottom: 1px solid #E2E6F0

    mat-accordion
        display: block

    ::ng-deep
        .mat-checkbox-label
            font-size: 15px
        .mat-list-item-content
            padding-left: 15px