.uni-modal
    width: 35rem

label
    display: block
    margin-bottom: 1rem
    span
        font-size: 14px
        color: #8D97AA
        display: block
        margin-bottom: .5rem

    input, select
        height: 2.5rem
        padding: 0 8px
        font-size: 15px
        border: 1px solid rgba(0, 0, 0, .18)
        border-radius: 3px

    .input-with-button
        width: 100%

.validation-error
    display: block
    margin: 20px 0 0
    color: #F53B57
    text-align: right
