// Import Source Sans Pro from Google Fonts. We may want to self-host this later.
// @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700)


// MuseoSans_500
@font-face
  font-family: MuseoSans-500
  src: url(assets/MuseoSans_500.otf) format("opentype")

@font-face
  font-family: MuseoSansRounded700
  src: url(assets/MuseoSansRounded-700.otf) format("opentype")

// For our font stack we prefer Source Sans Pro, and try to fall back to the system defaults
// for situations when the typeface doesn't load. (San Francisco for iOS 9 or OS X El Capitan up,
// Segoe UI for Win 8+, Droid Sans for Android, Ubuntu for.. well, you can probably guess that one.
// Because, _this_ will be the year of Linux on the desktop!)
$uni-stack: 'Source Sans Pro', -apple-system, 'Segoe UI', 'Droid Sans', 'Roboto', 'Ubuntu', 'Fira Sans Light', sans

$rem: 16
$rem-smaller-screens: 14

html,
body,
p
  font-family: var(--font-family) // $uni-stack
  font-weight: 400
  font-size: #{$rem}px
  line-height: #{$rem*1.5}px
  // -webkit-font-smoothing: antialiased
  // text-rendering: optimizeLegibility
  // text-shadow: rgba(0, 0, 0, .01) 0 0 1px
  color: var(--text-color)
  // letter-spacing: .02rem

  @media (max-width: 1300px)
    font-size: #{$rem-smaller-screens}px
    line-height: #{$rem-smaller-screens*1.5}px

@import 'headlines'
@import 'links'
@import 'lists'

b, strong
  font-weight: 600

small,
small *
  color: $uni-color-scale3
  font-size: .8rem

hr
  border: none
  border-bottom: 1px solid $uni-color-scale9

