$rem: 16
$rem-smaller-screens: 14

html,
body,
p
  font-family: var(--font-family)
  font-weight: 400
  font-size: #{$rem}px
  line-height: #{$rem*1.5}px
  color: var(--text-color)

  @media (max-width: 1300px)
    font-size: #{$rem-smaller-screens}px
    line-height: #{$rem-smaller-screens*1.5}px

@import 'headlines'
@import 'links'
@import 'lists'

b, strong
  font-weight: 500

small,
small *
  color: $uni-color-scale3
  font-size: .8rem

hr
  border: none
  border-bottom: 1px solid var(--border-color)

$uni-color-minus: #ce4731
