// The headline sizing uses the perfect fourth (3:4) scaling model

h1
  font: 200 2.369rem/3rem $uni-stack

h2
  font: 200 1.777rem/3rem $uni-stack

h3
  font: 300 1.333rem/3rem $uni-stack

h4
  font: 600 1rem/1.5rem $uni-stack

p
  font: 300 1rem/1.5rem $uni-stack

h1, h2, h3, h4
  clear: both