a
  cursor: pointer
  &,
  &:link,
  &:visited
    color: var(--color-c2a)
    font-weight: 400

  &:hover,
  &:focus
    color: saturate($uni-color-c2a, 100%)

  aside.more &
    font-size: .8rem
    line-height: 1.5rem
    text-transform: uppercase
    text-decoration: none
