$horizontal-padding: 2rem

uni-smart-search, uni-company-search
    box-sizing: border-box
    width: 44rem
    max-width: 95vw
    background: #fff
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.20)
    font-family: var(--font-family)
    border-radius: 5px

    .search-container
        box-sizing: border-box
        padding: .25rem $horizontal-padding
        border-bottom: 1px solid $uni-color-scale9
        background: #f3f3f3
        border-top-left-radius: 5px
        border-top-right-radius: 5px

        input
            font-size: 18px
            width: 100%
            height: 2.5rem
            margin: 1.75rem 0 .5rem

        .help-text
            display: flex
            margin: .75rem 0

            i.material-icons
                margin-right: .25rem
                margin-left: -5px
                font-size: 35px
                color: $uni-color-toolbar

            small
                margin: auto 0
                line-height: 18px
                a
                    color: $uni-color-toolbar

    .progress-container
        display: block
        height: 5px

        .uni-progress-bar
            border-bottom: 1px solid $uni-color-scale9

    #results-container
        position: relative
        box-sizing: border-box
        background: #fff
        margin: 4px 0 12px
        padding: 0 $horizontal-padding 0
        overflow-y: auto
        max-height: calc(100vh - 18rem)

        .hint
            display: block
            margin-top: .5rem
            font-style: italic

        smart-search-item
            display: block
            box-sizing: border-box

            // If you change this you need to update the
            // item height param in scrollActiveItemIntoView()
            height: 40px

            &.header
                padding: 1rem 0 2px
                text-transform: uppercase
                font-weight: bold
                font-size: 13px

            &:not(.header)
                padding: .5rem 5px
                cursor: pointer
                border-radius: 3px

                &.active, &:hover
                    background: #f3f3f3

    .search-footer
        display: flex
        height: 2.5rem
        box-sizing: border-box
        padding: 0 $horizontal-padding
        margin-bottom: .25rem
        justify-content: space-between
        border-bottom-left-radius: 5px
        border-bottom-right-radius: 5px

        small
            margin: auto 0
            color: #707d90

            span
                border: 1px solid $uni-color-scale8
                border-radius: 3px
                background: #f7f7f7
                color: #596879
                padding: 0 4px
                margin: 0 2px
            a
                color: $uni-color-toolbar

    @media screen and (max-height: 500px)
        .search-footer
            display: none
