<uni-toolbar
    [config]="toolbarConfig"
    [saveactions]="saveActions">
</uni-toolbar>

<section class="application bureau-splitview">

    <section class="uni-container bureau-company-list">
        <uni-tabs [tabs]="allTags"
                  (activeIndexChange)="tagChanged($event)"></uni-tabs>

        <input class="bureau-search-input"
            [formControl]="searchControl"
            type="search"
            placeholder="Filtrer selskaper"
        />

        <ag-grid-wrapper
            [config]="tableConfig"
            [resource]="filteredCompanies"
            (rowSelectionChange)="onRowClick($event)">
        </ag-grid-wrapper>
    </section>

    <section class="uni-container bureau-company-details">
        <header>{{highlightedCompany?.Name}}</header>
        <uni-tabs [tabs]="detailsTabs"></uni-tabs>

        <router-outlet></router-outlet>
    </section>

</section>
