<article class="payrollControl" [attr.aria-busy]="busy" *ngIf="config">
    <h1>{{description$ | async}}</h1>

    <header class="payrollControl_header">
        <h3>Hovedtall for lønnsavregningen: </h3>
        <uni-form [config]="formConfig$" [fields]="fields$" [model]="model$"></uni-form>
    </header>

    <ol *ngIf="payList" class="payrollControl_payList">
        <li *ngFor="let payLine of payList; let index = index" class="payrollControll_payee" [ngClass]="{'-is-expanded':!payList[index].collapsed}">

            <h4 (click)="toggleCollapsed(index)">{{payLine.employeeInfo.number}}, {{payLine.employeeInfo.name}}, Netto utbetalt: {{payLine.employeeInfo.payment | unicurrency}}
                <em title="Mangler skattekort" class="-is-missing-info" *ngIf="!payLine.employeeInfo.hasTaxInfo"></em>
            </h4>

            <uni-table [resource]="payLine.paymentLines" [config]="tableConfig" *ngIf="!payList[index].collapsed"></uni-table>

        </li>
    </ol>

    <footer class="payrollControl_footer">
        <button [disabled]="payrollrunIsSettled" (click)="runSettling()" class="good">Avregn</button>
        <button [disabled]="!payrollrunIsSettled" (click)="sendPayments()" class="good">Til utbetaling</button>
        <button *ngIf="config.hasCancelButton" (click)="config.cancel()" class="bad">Avbryt</button>
    </footer>
</article>