<article class="modal-content" [attr.aria-busy]="busy">
    <h1 *ngIf="payrollRun">Kontroll av {{payrollRun.ID}} - {{payrollRun.Description}}</h1>
    <section class="controll-heading-form">
        <h3>Hovedtall for lønnsavregningen: </h3>
        <uni-form *ngIf="formConfig" [config] = "formConfig"></uni-form>
    </section>
    <section *ngIf="payList">
        <section *ngFor = "#payLine of payList #index = index">
            <h4 (click) = "toggleCollapsed(index)">
                {{index + 1}}, {{payLine.employeeInfo.name}}, Netto utbetalt: {{payLine.employeeInfo.payment}}
                <span title="Mangler skattekort" class="payrollrun-controll-missing-info" *ngIf ="payLine.employeeInfo.hasTaxInfo"></span>
            </h4>
            <uni-table [config] = "payLine.salaryTransactions"></uni-table>
        </section>
    </section>
    <footer>
        <button *ngFor="#action of config.actions; #i=index" (click)="action.method()">
            {{action.text}}
        </button>
        <button *ngIf="config.hasCancelButton" (click)="config.cancel()">Avbryt</button>
    </footer>
</article>