<article class="paymentList" [attr.aria-busy]="busy">
    <h1>Utbetalingsliste</h1>

    <section class="payrollInfo">
        <p>Utbetalingsdato: {{payDate | date: "ddMMyy"}}</p>
        <p>Lønnskjøring: {{payrollRunID}}</p>
        <p>Fra konto: {{account}}</p>
    </section>

    <uni-table [resource]="payLines" [config]="paymentListConfig"></uni-table>
    <p>Sum lønn: {{empSum}}</p>
    <h3>Forskuddstrekk</h3>
    <uni-table [resource]="paymentList" [config]="withholdingConfig"></uni-table>
    <hr>
    <p>Sum total: {{sum}}</p>
</article>