<header class="poster" [attr.aria-busy]="busy">
    <article class="poster_toolbar">
        <div *ngIf="payrollrun">
            <h1 class="poster_toolbar_headline">{{payrollrun.Description}}
                <p class="poster_toolbar_orgnr">
                    Lønnsavregning nr. {{payrollrun.ID}}, Utbetalingsdato: {{payDate | date: "dd.MM.yy"}}, Status: {{payStatus}}
                </p>
            </h1>
        </div>

        <nav class="poster_toolbar_tools">
            <input type="search" class="poster_toolbar_search">
            <a (click)="previousPayrollrun()" class="previous">Forrige</a>
            <a (click)="nextPayrollrun()" class="next">Neste</a>
            <a (click)="createNewRun()" class="new">Ny lønnsavregning</a>
        </nav>

    </article>

    <section class="poster_toolbar_extras" *ngIf="payrollrun">
        <control-modal></control-modal>
        <postingsummary-modal *ngIf="canPost()"></postingsummary-modal>
    </section>

</header>
<section class="application" [attr.aria-busy]="busy">
    <uni-form *ngIf="payrollrun" [config]="config" [fields]="fields" [model]="model" (onChange)="change($event)" (onReady)="ready($event)"></uni-form>
</section>
<section *ngIf="formIsReady">
    <section [attr.aria-busy]="busy">
        <salarytrans *ngIf="!uniform.section(1).isOpen" (salaryTransSelectionListReady)="salarytransReady($value)"></salarytrans>
    </section>

    <uni-save *ngIf="uniform.section(1).isOpen" [actions]="saveactions"></uni-save>
</section>