<uni-toolbar [config]="toolbarconfig" [contextmenu]="contextMenuItems" [saveactions]="saveActions" [statustrack]="getStatustrackConfig()">
</uni-toolbar>

<header class="poster" [attr.aria-busy]="busy">
    <section class="poster_toolbar_extras" *ngIf="payrollrun">
        <control-modal></control-modal>
        <postingsummary-modal (updatePayrollRun)="this.getPayrollRun()"></postingsummary-modal>
        <vacationpay-modal (updatePayrollRun)="this.getSalaryTransactions()" (recalc)="this.updateTranses()"></vacationpay-modal>
    </section>

</header>

<section class="entityDetails" [attr.aria-busy]="busy" [attr.aria-expanded]="detailsActive">
    <uni-form *ngIf="payrollrun" [config]="config" [fields]="fields" [model]="payrollrun" (changeEvent)="change($event)" (readyEvent)="ready($event)" (toggleEvent)="toggle($event)"></uni-form>
</section>

<section class="content" [attr.aria-disabled]="detailsActive">
    <!--<salarytrans-filter [isDisabled]="disableFilter" (filtStringChange)="changeFilter($event)"></salarytrans-filter>-->
    <salarytrans></salarytrans>
</section>
<report-preview-modal></report-preview-modal>
<uni-confirm-modal></uni-confirm-modal>