<article class="postingsummary" [attr.aria-busy]="busy">
    <h3 *ngIf="postingsummary">Konteringssammendrag for lønnsavregning {{postingsummary.PayrollRun.ID}} - {{postingsummary.PayrollRun.Description}}</h3>

    <header class="postingsummary_header" *ngIf="!showReceipt">
        <h4>Kontering til regnskap</h4>
        <uni-form *ngIf="headerConfig" [config]="headerConfig"></uni-form>
    </header>

    <section *ngIf="!showReceipt">
        <uni-table [config]="accountTableConfig"></uni-table>
        <label>Kontrollsum totalt</label>
        <uni-table [config]="debcredTableConfig"></uni-table>
    </section>

    <section *ngIf="showReceipt">
        <p>Bilaget er bokført i ditt regnskap</p>
        <p>Bilagsnummer {{journalNumber}}</p>
        <p>Dato {{journalDate}}</p>
    </section>

    <footer class="postingsummary_footer">
        <section *ngIf="!showReceipt">
            <button *ngFor="let action of config.actions; let i = index" (click)="action.method()">
                {{action.text}}
            </button>
            <button *ngIf="config.hasCancelButton" (click)="config.cancel()">Avbryt</button>
        </section>
        <button *ngIf="showReceipt" (click)="config.cancel()">OK</button>
    </footer>
</article>