<article *ngIf="config" class="postingsummary" [attr.aria-busy]="busy">
    <h3>{{headerString}}</h3>

    <section *ngIf="!showReceipt" class="unitableWidthAuto">
        <uni-table *ngIf="summary" [resource]="summary.PostList" [config]="accountTableConfig"></uni-table>
        <label>Kontrollsum totalt: </label> {{getAccountingSum() | number: '1.2-2' }}
    </section>

    <section *ngIf="showReceipt">
        <p>Bilaget er bokført i ditt regnskap</p>
        <p>
            <a href="#/accounting/transquery/details;journalEntryNumber={{journalNumber}}">
                Bilagsnummer: {{journalNumber}}
            </a>
        </p>
        <p>Dato {{journalDate}}</p>
    </section>

    <footer class="postingsummary_footer">
        <section *ngIf="!showReceipt && config">
            <button *ngFor="let action of config.actions; let i = index" (click)="action.method()">
                {{action.text}}
            </button>
            <button *ngIf="config.hasCancelButton" (click)="config.cancel()">Avbryt</button>
        </section>
        <button *ngIf="showReceipt" (click)="config.cancel()">OK</button>
    </footer>
</article>