product-details

    uni-widget-poster
        //hide widget for now, we dont have any data to display there..
        display: none

        .application
            section
                margin-left: pxToRem(15)
                margin-top: pxToRem(5)
                margin-bottom: pxToRem(5)

    .collapsable-content
        padding-top: 1rem

    label
        span
            display: inline-block
            line-height: 2rem
            width: 15rem

        textarea
            width: calc(100% - 15rem)
            float: right

    uni-image
        width: 80%