product-details

    uni-widget-poster
        //hide widget for now, we dont have any data to display there..
        display: none

        .application
            section
                margin-left: pxToRem(15)
                margin-top: pxToRem(5)
                margin-bottom: pxToRem(5)


    uni-image
        @include unigrid(4, 2, 2, 1)