accrual-modal
    .accrual-modal
        height: pxToRem(600)
        width: pxToRem(1000) !important

        footer
            clear: both

        uni-checkboxgroup-input
            label
                padding-right: 1.5rem

    .accrual-form
        width: 35%
        float: left

        uni-field
            width: 100%

    .accrual-periods
        width: calc(65% - 2rem)
        float: left
        margin-left: 2rem

        table
            width: 100%

        input[type=checkbox]
            height: 15px
            width: 15px
            position: relative

.accrual-periods-groups
    margin-top: 1.5rem





