accrual-modal
    .accrual-split-view
        display: flex
        justify-content: space-between
        padding: 2rem

        .accrual-form
            flex: 0 0 40rem
            margin-top: 1rem

        .accrual-periods
            flex: 0 0 auto
            margin-right: 2rem
            input[type=checkbox]
                height: pxToRem(15)
                width: pxToRem(15)
                position: relative