activate-ap-modal
    left: pxToRem(4)
    right: pxToRem(4)
    width: pxToRem(150)

    uni-field
        width: 100%

uni-confirm-modal.scrollable
    dialog.uniModal
        uni-confirm-content
            .modal-content
                overflow-y: scroll
