address-modal
    .address-modal
        width: 60rem !important //I'm sorry :-(

    uni-field
        width: calc(50% - 2rem)

    .postal
        width: calc(25% - 2rem)

    .country-dropdown
        margin-bottom: pxToRem(150)

        .uniSelect_dropdown_list
            max-height: pxToRem(150)
