address-modal
    fieldset
        min-width: 90%
        width: 90%
        margin: 0 auto 2rem auto

        @include labelLength(10rem)

    .address-modal
        width: 60rem !important //I'm sorry :-(
