register-payment-modal dialog.uniModal
    .register-payment-modal
        width: 40rem
        padding: 2rem 2rem 4rem

    .large-field
        width: calc(50% - 2rem)

    uni-field
        width: calc(50% - 2rem)
    