register-payment-modal dialog.uniModal
    .register-payment-modal
        width: 40rem
        padding: 2rem 2rem 4rem

    .large-field
        width: calc(50% - 2rem)

    uni-field
        width: calc(50% - 2rem)
    .invoice-currency-table
        width: 100%
        margin-top: 0.5rem
        margin-left: 1rem
        margin-right: 1rem
    td
        width: 25%
        text-align: left
        padding: pxToRem(5)
    