article.modal-content.send-email-modal
    width: pxToRem(400)

send-email-modal
    left: pxToRem(4)
    right: pxToRem(4)

    uni-field
        width: 100%

    uni-textarea-input
        textarea
            height: pxToRem(160)
