.header
    .header-text
        flex: 1
    .bullets
        display: flex
        align-items: center
        i
            font-size: 22px
            cursor: pointer
            &.checked
                color: var(--color-c2a)
        span
            margin: 0 1rem 0 .5rem
            font-size: 14px

.balance-header
    font-size: 13px
    margin: -12px 0 0 1.5rem
    color: var(--text-color)

article
    height: 100%

    .widget-body
        padding: .75rem 1.5rem
        height: 100%

    table
        width: 100%
        height: 100%
        table-layout: fixed
        border-collapse: collapse
        font-size: 13px
        color: var(--text-color)

        thead
            tr
                th
                    text-align: center

        tbody
            tr
                td
                    border-top: 2px solid #cccccc
                    border-right: 2px solid #cccccc
                    text-align: right
                    padding-right: .5rem
                    &.good
                        background-color: var(--color-good)
                        color: white
                    &.bad
                        background-color: red
                        color: white
                    &:first-of-type
                        border: none
                        font-weight: bold
                        border-right: 2px solid #cccccc
                        padding: 0
                        text-align: left
                &:last-of-type
                    td:not(:first-of-type)
                        border-bottom: 2px solid #cccccc

                &.sum-row
                    font-weight: 500
                    td:not(:first-of-type)
                        background-color: #fafafa

                &.liquidity-row
                    font-weight: 500

footer
    display: flex
    justify-content: center
    padding-bottom: .5rem

    a
        font-size: 13px

.new-custom-payment
    font-size: 22px
    color: var(--color-c2a)
    cursor: pointer
    margin-left: 1rem

.custom-payment
    width: 35rem

    label
        margin: 1rem 0

    .radio-buttons-section
        padding: 1rem
        background-color: var(--alert-info)
        margin-bottom: .75rem
        i
            font-size: 22px
            cursor: pointer
            color: var(--tab-color)
            &.checked
                color: var(--color-c2a)
        span
            margin: 0 1.5rem 0 .5rem
            font-size: 14px
            cursor: pointer

    .sum-and-date-section
        display: flex

        label
            flex: 1
            &:first-of-type
                margin-right: 2rem
                input
                    text-align: right
    small.error
        color: var(--color-bad)

.info-text-span
    font-size: 14px

.other-link
    color: var(--color-c2a)
    cursor: pointer

.payment-list-sections
    span.header
        font-size: 15px
        font-weight: bold
        color: var(--color-c2a)
    ul
        list-style: none
        li
            display: flex
            align-items: center
            padding: .2rem 1rem
            border: 1px solid #cccccc
            margin-bottom: .75rem
            border-radius: 3px

            &:hover
                cursor: pointer
                background-color: var(--table-row-select-background)

            section
                &:first-of-type
                    display: flex
                    flex-direction: column
                    flex: 1

                    span.desc
                        font-size: 13px
                        font-weight: 500
                    span.sum
                        font-size: 12px
                        margin-top: -5px
                &:last-of-type
                    font-size: 13px

            i
                margin-left: 1rem
                color: var(--color-c2a)
                &:hover
                    color: var(--color-bad)
                    cursor: pointer



