\:host
    display: flex
    width: 100%
    justify-content: flex-end

    .content
        display: flex
        margin-right: 10vw
        padding-top: 4rem

        @media screen and (max-width: 1750px)
            margin-right: 5vw
        @media screen and (max-width: 1650px)
            margin-right: 2vw
        @media screen and (max-width: 1100px)
            margin: 0 auto

        @media screen and (max-height: 810px)
            padding-top: 2rem

.select-type-of-company
    display: flex
    padding-bottom: 2.5rem

    @media screen and (max-width: 700px)
        flex-direction: column
        .authentication-component
            width: 90vw !important
            margin: 0 0 1rem !important

    .authentication-component
        display: flex
        flex-direction: column
        width: 23rem
        min-height: 28rem
        margin: 0 0 auto

        h1
            text-align: left
            margin: 0

        &:first-of-type
            margin-right: 2rem

        button
            margin: auto auto 1rem
            min-width: 12rem