<section class="integration-main" [attr.aria-busy]="false">
    <section class="header">
        <section class="background add-on-details-background-image">
            <h1>Integrasjoner</h1>
            <p>
                Her finner dere en oversikt over systemer Uni Economy har ferdige integrasjoner med. Uni Economy er utviklet med et åpent
                API, som gjør det enkelt å integrere med andre systemer. Vi kommer til å utvikle flere standardintegrasjoner som vil dukke
                opp i listen her. Dersom dere ønsker å integrere andre systemer med Uni Economy, må dere ikke nøle med å ta kontakt med oss.
            </p>
            <button (click)="navigateToExternalUrl('https://www.unimicro.no/kontakt')">Kontakt oss!</button>
        </section>
    </section>
    <section class="integration-item img-right-side">
        <img src="https://public-files.unieconomy.no/files/marketplace/integrations/traveltext.png" />
        <section class="text-section">
            <h1>Travel Text</h1>
            <p>
                Vi automatiserer 80% av de manuelle handlingene ved føring og administrasjon
                av reiseregninger. Utleggsregning og kjørebok er vakkert integrert. Attestering
                skjer i TravelText, kan inkludere eksterne attestanter og ha så mange nivåer
                som du ønsker.
            </p>
            <a href="https://www.unimicro.no/kontakt">kontakt oss</a>
        </section>
    </section>
    <section class="integration-item img-left-side">
        <img src="https://public-files.unieconomy.no/files/marketplace/integrations/vipps.png" />
        <section class="text-section">
            <h1>Vipps Faktura</h1>
            <p>
                Med Vipps Faktura kan kundene dine betale faktura når og hvor de vil.
                Du får kjappere innbetalinger og bedre likviditet.
                Si JA til noe som er raskere, enklere og mer lønnsomt for din bedrift.
            </p>
            <a href="https://www.unimicro.no/kontakt">kontakt oss</a>
        </section>
    </section>
    <section class="integration-item img-right-side">
        <img src="https://public-files.unieconomy.no/files/marketplace/integrations/ecommerce.png" />
        <section class="text-section">
            <h1>Nettbutikk</h1>
            <p>
                Uni Nettbutikk er integrert med Uni Economy. Alt du gjør synkroniseres på nettet,
                slik at butikken og regnskapet alltid er oppdatert. Uni Nettbutikk styres fra
                Uni Economy, og alle varer, priser, bilder, dokumenter og varebeskrivelser som er
                tilgjengelig her kan enkelt bli gjort tilgjengelig i nettbutikken din.
            </p>
            <a href="https://www.unimicro.no/kontakt">kontakt oss</a>
        </section>
    </section>
    <section class="integration-item img-left-side">
        <img src="https://public-files.unieconomy.no/files/marketplace/integrations/izettle.png" />
        <section class="text-section">
            <h1>iZettle</h1>
            <p>
                iZettles salgsløsninger gjør det lettere å holde oversikten over de daglige
                arbeidsoppgavene – slik at du kan selge mer og konsentrere deg om det du liker.
            </p>
            <a href="https://www.unimicro.no/kontakt">kontakt oss</a>
        </section>
    </section>
    <section class="integration-item img-right-side">
        <img src="https://public-files.unieconomy.no/files/marketplace/integrations/zapier.png" />
        <section class="text-section">
            <h1>Zapier</h1>
            <p>
                Med Zapier kan du linke dine systemer sammen med få tastetrykk, slik at systemene kan dele data. Zapier hjelper deg å bygge
                integrasjoner raskt, - og helt uten koding. Med Zapier kan du integrere, automatisere og innovere.
            </p>
            <a href="https://www.unimicro.no/kontakt">kontakt oss</a>
        </section>
    </section>
</section>
