<section class="integration-main" [attr.aria-busy]="false">
    <section class="header">
        <h1>Integrasjoner</h1>
    </section>
    <section class="search">
        <div class="search-input">
            <input type="search"
                   placeholder="Søk"
                   (input)="search($event.target.value)"
                   [attr.deactivated]="!(filteredActiveIntegrations && filteredUpcomingIntegrations && filteredCandidateIntegrations)"
            />
            <p class="search-info">
                {{(filteredActiveIntegrations?.length + filteredUpcomingIntegrations?.length + filteredCandidateIntegrations?.length)}} resultater
            </p>
        </div>
    </section>
    <section class="live-integration-items" [attr.aria-busy]="!activeIntegrations">
        <h3>Aktive</h3>
        <section class="integration-item" *ngFor="let item of filteredActiveIntegrations">
            <i *ngIf="item['_isBought']" class="material-icons has-bought">check_circle</i>
            <section class="integration-icon" [style.background-color]="item.iconBackgroundColor">
                <img src="{{item.iconReference}}" />
            </section>
            <div class="title-container">
                <p class="title">{{item.name}}</p>
                <p class="sub-title">{{item.label}}</p>
            </div>
            <p class="footer">
                <i class="material-icons">power</i> {{item.categoryName}} <a class="link" (click)="openSubscribeModal(item)">Les mer</a>
            </p>
        </section>
    </section>
    <section class="upcoming-integration-items" [attr.aria-busy]="!upcomingIntegrations">
        <h3>Lanseres snart</h3>
        <section class="integration-item" *ngFor="let item of filteredUpcomingIntegrations">
            <i *ngIf="item['_isBought']" class="material-icons has-bought">check_circle</i>
            <section class="integration-icon" [style.background-color]="item.iconBackgroundColor">
                <img src="{{item.iconReference}}" />
            </section>
            <div class="title-container">
                <p class="title">{{item.name}}</p>
                <p class="sub-title">{{item.label}}</p>
            </div>
            <p class="footer">
                <i class="material-icons">power</i> {{item.categoryName}} <a class="link" (click)="openSubscribeModal(item)">Les mer</a>
            </p>
        </section>
    </section>
    <section class="candidate-integration-items" [attr.aria-busy]="!candidateIntegrations">
        <h3>Ønsker du integrasjon mot noen av disse? Vis din interesse</h3>
        <section class="integration-item" *ngFor="let item of filteredCandidateIntegrations">
            <i *ngIf="item['_isBought']" class="material-icons has-bought">check_circle</i>
            <section class="integration-icon" [style.background-color]="item.iconBackgroundColor">
                <img src="{{item.iconReference}}" />
            </section>
            <div class="title-container">
                <p class="title">{{item.name}}</p>
                <p class="sub-title">{{item.label}}</p>
            </div>
            <p class="footer">
                <i class="material-icons">power</i> {{item.categoryName}} <a class="link" (click)="openSubscribeModal(item)">Les mer</a>
            </p>
        </section>
    </section>
    <section class="more-info-container">
        <h3>Vil du vite mer?</h3>
        <p class="info-text">
            Dette er et overblikk over systemer som Uni Economy vil ha integrasjoner med på kort sikt. Uni Economy er
            utviklet med et åpent API, som gjør det enkelt å integrere med andre systemer. Vi vil utvikle mer standard
            integrasjoner som vil komme i listen her. Kontakt oss hvis du vil integrere andre systemer med Uni
            Economy.
        </p>
        <a class="button c2a contact-us-button" href="https://www.unimicro.no/kontakt">Kontakt oss</a>
    </section>
</section>
