@import '../marketplaceSharedStyles.sass'

$integration-item-width: 20rem
$integration-item-spacing: 2rem

.integration-main
    background-color: $bg-color
    color: $dark-text-color
    display: flex
    flex-flow: row wrap
    margin-top: -1.5rem
    margin-bottom: -1rem

.header
    background-color: white
    width: 100%
    padding-left: 2rem
    h1
        font-weight: 500

h3
    width: 100%
    font-weight: 500
    font-size: 20px

.search
    display: flex
    flex-flow: row wrap
    justify-content: center
    align-items: center
    height: 10rem
    width: 100%
    .search-input
        width: 35%
        input
            height: 2.5rem
            width: 100%
        p
            padding: 6px 0 0 1px
            margin: 0
            color: $light-text-color
            font-size: 0.8rem
            font-weight: 600

.integration-grid
    display: grid
    grid-template-columns: repeat(auto-fill, $integration-item-width)
    grid-column-gap: $integration-item-spacing
    grid-row-gap: $integration-item-spacing

.live-integration-items
    background-color: $bg-darker-color

.live-integration-items, .future-integrations
    display: flex
    flex-flow: row wrap
    width: 100%
    padding: 1rem 5% 2rem

    .integration-grid
        max-width: 100%
        width: #{(4 * $integration-item-width) + (3 * $integration-item-spacing)}

        .integration-item
            background-color: white
            width: $integration-item-width
            height: 10rem
            padding: 1.4rem
            display: flex
            flex-flow: row wrap
            position: relative
            border-radius: 3px
            &:hover
                box-shadow: 0rem 0.2rem 0.2rem 0.2rem #EDEDED
                transition-property: box-shadow
                transition: .25s ease-in-out

            .integration-active
                position: absolute
                top: 10px
                right: 10px
                color: transparentize(#01A901, .3)

            .integration-icon
                margin: 0.5rem
                width: 3.75rem
                height: 3.75rem
                flex-grow: 0
                flex-shrink: 0
                border-radius: 50%
                box-shadow: 0.2rem 0.2rem #EDEDED
                overflow: hidden
                display: flex
                align-items: center
                & img
                    width: 100%

            .title-container
                padding: 1.05rem 0 0 0.5rem
                width: 70%

            .title
                color: #1D2B33
                font-weight: 500
                margin: 0 0 2px 0

            .sub-title
                color: $light-text-color
                font-size: 0.8rem
                line-height: 0.6rem
                padding: 0
                margin: 0

            .footer
                display: flex
                width: 100%
                font-size: 0.8rem
                color: $light-text-color

                span
                    margin: auto 0
                    .material-icons
                        vertical-align: middle
                        margin-bottom: 2px

                a.read-more
                    margin: auto 0 auto auto
                    font: 500 14px var(--font-family)
                    text-decoration: none
                    color: $primary-button-color
                    &:hover
                        text-decoration: underline



.more-info-container
    padding: 2rem 5% 6rem
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-items: center
    .info-text
        width: 75%
    .contact-us-button
        padding: 0 3rem
        height: 2.5rem
        line-height: 2.5rem
