<section class="application">
    <uni-component-loader></uni-component-loader>
    <uni-table
            [resource]="lookupFunction"
            [config]="uniTableConfig"
            (filtersChange)="onFiltersChange($event.filter)"
    ></uni-table>

    <dl class="summary" *ngIf="summaryData" [attr.aria-busy]="busy">
        <dt>Sum debet</dt>
        <dd>{{summaryData.SumDebit}}</dd>

        <dt>Sum kreditt</dt>
        <dd>{{summaryData.SumCredit}}</dd>

        <dt>Sum reskontro</dt>
        <dd>{{summaryData.SumLedger}}</dd>

        <dt *ngIf="showTaxBasisAmount">Grunnlag MVA</dt>
        <dd *ngIf="showTaxBasisAmount">{{summaryData.SumTaxBasisAmount}}</dd>

        <dt>Saldo</dt>
        <dd>{{summaryData.SumBalance}}</dd>
    </dl>
</section>
