.uni-modal
    width: 35rem

input
    width: 100%
    height: 2.5rem

.selection-list
    outline: none
    height: 25rem
    margin-top: .5rem

input, .selection-list
    border: 1px solid rgba(0, 0, 0, .15)

.list-item
    font-weight: 500 !important
    .email
        font-size: 13px
        font-weight: 400