\:host
    position: relative

i.material-icons
    cursor: pointer
    vertical-align: middle
    user-select: none

.unread-indicator
    position: absolute
    top: -2px
    right: -2px
    width: 15px
    height: 15px
    line-height: 15px
    border-radius: 50%
    background: red
    color: #fff
    text-align: center
    font-size: 11px
