.navbar_search
  text-align: center
  padding: .2rem 0
  
  span.k-widget
    
    input
      background: #fafbff url('data:image/svg+xml;utf8,<svg style="" width="60.000000" height="60.000000" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M43.750000 36.562500 L43.125000 37.656250 L60.000000 54.687500 L54.687500 60.000000 L37.812500 42.968750 L36.718750 43.750000 C32.552062 46.354180 28.229189 47.656250 23.750000 47.656250 C17.187467 47.656250 11.588565 45.312523 6.953125 40.625000 C2.317685 35.937477 0.000000 30.312533 0.000000 23.750000 C0.000000 17.187467 2.317685 11.588565 6.953125 6.953125 C11.588565 2.317685 17.187467 -0.000000 23.750000 -0.000000 C30.312533 -0.000000 35.911435 2.317685 40.546875 6.953125 C45.182315 11.588565 47.500000 17.187467 47.500000 23.750000 C47.500000 28.333356 46.250012 32.604147 43.750000 36.562500 Z M37.031250 10.468750 C33.385398 6.822898 28.958359 5.000000 23.750000 5.000000 C18.541641 5.000000 14.114602 6.822898 10.468750 10.468750 C6.822898 14.114602 5.000000 18.541641 5.000000 23.750000 C5.000000 28.958359 6.822898 33.385398 10.468750 37.031250 C14.114602 40.677102 18.541641 42.500000 23.750000 42.500000 C28.958359 42.500000 33.385398 40.677102 37.031250 37.031250 C40.781269 33.281231 42.656250 28.854192 42.656250 23.750000 C42.656250 18.645808 40.781269 14.218769 37.031250 10.468750 Z M60.000000 60.000000" style="fill:#bdc3d2"/></svg>') no-repeat center right 0.5rem
      background-size: 1rem
      box-sizing: content-box
      padding-right: 2rem
      font-weight: 400
      height: 1.3rem
      text-overflow: ellipsis

