.navbar_tabs
    margin: 0
    white-space: nowrap

    & + button.small
        position: fixed
        bottom: 1rem
        right: 1rem

    a
        &:first-of-type li
            border-left: none

        &:last-of-type li
            border-right: none

        &.router-link-active li
            background: $uni-color-negative
            color: $navbarBackground

            .close
                border: pxToRem(1) solid $navbarBackground
                background-image: unicon-close($uni-color-negative), linear-gradient(to top, $navbarBackground 0, $navbarBackground 100%)
                opacity: .8

    li
        @extend %navbarText
        @extend %clickable
        padding: .5rem .7rem
        margin: 0
        text-align: center
        max-width: 200px
        border-left: .1rem solid transparentize($navbarTextColor, .8)
        border-right: .1rem solid transparentize(contrasting($navbarTextColor), .8)
        white-space: nowrap
        display: inline-block

        &.router-tab-active,
        &.router-tab-active:hover,
        &.router-tab-active:focus
            background: $uni-color-negative
            color: $navbarBackground

            .close
                border: pxToRem(1) solid mix($navbarBackground, $navbarBackground, 70%)
                background-image: unicon-close($uni-color-negative)
                opacity: .8

                &:focus,
                &:hover
                    opacity: 1

        &:first-of-type
            border-left: none

        &:last-of-type
            border-right: none

        &:before
            content: ''

        .close
            display: inline-block
            height: .75rem
            width: .75rem
            margin-left: .7rem
            top: .1rem
            position: relative
            border-radius: pxToRem(3)
            border: pxToRem(1) solid transparent
            background-image: unicon-close($uni-color-negative)
            background-color: mix($uni-color-positive, $navbarBackground, 25%)
            background-position: center center
            background-repeat: no-repeat
            background-size: .4rem, contain

            &:hover,
            &:focus
                border: pxToRem(1) solid $navbarBackground

        &:hover,
        &:focus
            background: darken($navbarBackground, 10%)

    @include media(large, max-width)
        $btmNavColor1: mix($navbarBackground, $uni-color-scale1, 80%)
        $btmNavColor2: mix($navbarBackground, $uni-color-scale1, 70%)

        &
            border-top: pxToRem(1) solid mix($uni-color-positive, $navbarBackground, 30%)

        &,
        & li
            background: linear-gradient(to top, $btmNavColor1, $btmNavColor2)
