.navbar_userinfo
  text-align: right

  .navbar_userinfo_user,
  .navbar_userinfo_company
    @extend %clickable
    @extend %navbarText
    display: inline-block
    position: relative
    padding: 0

    &:hover,
    &:focus
      background: darken($navbarBackground, 10%)

    .navbar_userinfo_title
      display: inline-block
      padding: .5rem 1rem

      &:after
        display: inline-block
        height: 1rem
        width: 1rem
        content: ""
        margin-left: .5rem
        background-size: contain
        background-repeat: no-repeat
        position: relative
        top: .1rem



  .navbar_userinfo_dropdown
    @extend %navbarDropdowns
    position: absolute
    list-style: none
    display: none
    right: 0
    top: 1rem
    color: $uni-color-positive
    margin: 1.5rem 0
    padding: 1rem

    &.-is-active
      display: block
    
    .company_select .k-input
      width: 10rem
      height: 2rem
      margin: .5rem auto
      display: block

.navbar_userinfo_company .navbar_userinfo_title:after
  background-image: unicon-company($navbarTextColor)

.navbar_userinfo_user .navbar_userinfo_title:after
  background-image: unicon-user($navbarTextColor)
  
.navbar_userinfo_user company-select span
  width: 200px

@include media(large, max-width)
  .navbar_userinfo_title
    overflow: hidden
    text-indent: -999rem
    width: 1rem
    height: 1rem
    font-size: 0