.navbar_userinfo
  text-align: right

  article
    @extend %clickable
    @extend %navbarText
    padding: .5rem 1rem
    display: inline-block
    position: relative

    &:hover,
    &:focus
      background: darken($navbarBackground, 10%)

    span
      &:after
        display: inline-block
        height: 1rem
        width: 1rem
        content: ""
        margin-left: .5rem
        background-size: contain
        background-repeat: no-repeat
        position: relative
        top: .1rem



  .navbar_userinfo_dropdown
    @extend %navbarDropdowns
    position: absolute
    list-style: none
    display: none
    right: 0
    top: 1rem
    color: $uni-color-positive
    margin: 1.5rem 0
    padding: 1rem

    &.-is-active
      display: block

.navbar_userinfo_company .navbar_userinfo_title:after
  background-image: unicon-company($navbarTextColor)

.navbar_userinfo_user .navbar_userinfo_title:after
  background-image: unicon-user($navbarTextColor)
