.navbar_userinfo
    text-align: right

    .navbar_userinfo_user,
    .navbar_userinfo_company
        @extend %clickable
        @extend %navbarText
        display: inline-block
        position: relative
        padding: 0
        user-select: none

        &:hover
            background: darken($navbarBackground, 10%)

        .navbar_userinfo_title
            display: inline-block
            padding: .5rem 1rem

            &:after
                display: inline-block
                height: 1rem
                width: 1rem
                content: ""
                margin-left: .5rem
                background-size: contain
                background-repeat: no-repeat
                position: relative
                top: .1rem

    .navbar_userinfo_dropdown
        position: absolute
        display: none
        list-style: none
        right: 0
        top: 1rem
        color: $uni-color-positive
        margin: 1.4rem 0
        padding: 1rem
        background: $uni-color-negative
        border: pxToRem(1) solid $uni-color-scale8
        box-shadow: 0 0 .6rem transparentize($uni-color-scale1, .7)
        border-radius: pxToRem(5)
        text-align: left
        min-width: 12rem
        z-index: 9999

        &:before
            $size: .5rem
            $color: $uni-color-negative
            content: ''
            display: block
            position: absolute
            height: 0
            width: 0
            top: -#{$size}
            right: 1rem
            border-bottom: $size solid $color
            border-left: $size solid transparent
            border-right: $size solid transparent

        &.-is-active
            display: block

        li, p
            font-weight: 300

            a:only-child
                box-sizing: border-box
                display: inline-block
                width: calc(100% + 2rem)
                margin-left: -1rem
                padding: .3rem 1rem

                &:hover
                    color: $uni-color-positive
                    background: $uni-color-scale9

        h4
            margin-top: 0

        address
            dl
                @include clearfix

            dt, dd
                font-style: normal

            dt
                display: inline-block
                float: left
                clear: both
                font-weight: 400

            dd
                float: right
                margin: 0 0 0 .5rem
                font-weight: 300

    .company_select
        font-weight: 300
        width: 100%

.navbar_userinfo_company .navbar_userinfo_title:after
    background-image: unicon-company($navbarTextColor)

.navbar_userinfo_user .navbar_userinfo_title:after
    background-image: unicon-user($navbarTextColor)

@include media(large, max-width)
    .navbar_userinfo_title
        overflow: hidden
        text-indent: -999rem
        width: 1rem
        height: 1rem
        font-size: 0