<section role="dialog" class="paycheckSenderModal uni-modal medium">
    <header>
        <h1>Send/Skriv ut lønnslipp</h1>
    </header>

    <article class="scrollable" [attr.aria-busy]="busy">
        <uni-paycheck-mail-options
            (mailOptions)="onEmailOptions($event)"
            (printReport)="onPrintReport($event)">
        </uni-paycheck-mail-options>
        <paycheck-sending
            [runID]="options.data"
            (busy)="setBusy($event)"
            (selectedEmps)="onSelectedEmps($event)">
        </paycheck-sending>
    </article>

    <footer>
        <section role="group" class="comboButton" *ngIf="saveActions.length">
            <button
                class="comboButton_btn good"
                type="button"
                (click)="saveActions[0].action()"
                [attr.aria-busy]="busy"
                [disabled]="saveActions[0].disabled">{{saveActions[0].label}}</button>
            <button
                class="comboButton_more good"
                type="button"
                (click)="open = !open"
                (clickOutside)="open = false"
                aria-owns="saveActionMenu"
                [attr.aria-expanded]="open"
                [disabled]="saveActions[0].disabled">More options</button>

            <ul class="comboButton_moreList" [attr.aria-expanded]="open" role="menu" (click)="open = false">
                <li *ngFor="let action of saveActions" (click)="action.action()" role="menuitem" [attr.aria-disabled]="action.disabled">{{action.label}}</li>
            </ul>
        </section>
        <section>
            <button (click)="close()" class="bad">
                Lukk
            </button>
        </section>
    </footer>
</section>
