uni-comments
    position: relative
    display: inline-block
    text-align: left

.comments_toggle
    @extend %toolbarButton
    background-image: unicon-chat($uni-color-negative) !important
    background-size: 1rem auto
    position: relative

.comments_count
    color: #fff
    background: $uni-color-bad
    position: absolute
    top: -7px
    right: -5px
    text-align: center
    font-size: .8rem
    width: 1rem
    height: 1rem
    line-height: .9rem
    border-radius: 50%

.comments-view
    @extend %mainNavDropdown
    position: absolute
    display: flex
    flex-direction: column
    padding: 1rem
    box-sizing: border-box
    height: 30rem
    width: 30rem
    top: 2.25rem
    right: 0
    z-index: #{map-get($zindex, toolbar) + 1}

    display: none
    &[aria-expanded]:not([aria-expanded=false])
        display: flex

    uni-comment-list
        flex: 1

    uni-comment-input
        flex: 0 0 auto
        margin-top: 1rem
        ul
            bottom: 2rem
            left: 1rem
        button
            width: 6rem
            margin-left: 1rem

ol.comment-list
    overflow-y: auto

    li
        display: flex
        flex-flow: row nowrap
        margin: 0 1rem 1rem 0

        &:before
            content: ''

        main
            order: 2
            flex: 1
            font-size: .9rem

            header
                strong
                    margin-right: .5rem
                small
                    color: $uni-color-scale5

            .mention
                background: transparentize($uni-color-toolbar, .9)
                padding: 0 pxToRem(2)
                border-radius: pxToRem(2)


uni-comment-list
    display: block
    box-sizing: border-box

    ol
        display: block
        width: 100%
        height: 100%
        overflow-y: auto
        margin: 0
        padding: 0

        small
            float: right

        uni-avatar
            height: 2.5rem
            width: 2.5rem
            margin: .25rem 1rem 0 1rem


uni-comment-input
    position: relative
    display: flex
    flex-flow: row nowrap
    box-sizing: border-box

    input
        flex: 1

    ul
        @extend .uni-multivalue-values
        position: absolute
        bottom: 1rem
        left: 0
        width: 15rem
        max-height: 17rem
        border-radius: pxToRem(3)

        box-sizing: border-box
        overflow-y: auto
        visibility: hidden
        &[aria-expanded]:not([aria-expanded=false])
            visibility: visible


.comments-standard-mode
    height: 100%

    uni-comment-list
        display: block
        height: calc(100% - 5rem)
        padding: 1rem

    uni-comment-input
        padding: 1rem
        height: 5rem

        ul
            bottom: 2.5rem
            left: 0
        button
            margin-right: 0