uni-comments
    position: relative
    display: inline-block
    text-align: left

    .toggle-button i.material-icons
        font-size: 22px

    .comments_count
        position: absolute
        top: -5px
        right: -5px
        display: flex
        justify-content: center
        align-items: center
        width: 16px
        height: 16px
        border-radius: 50%
        background: var(--color-bad)
        color: #fff
        font-size: 10px