@import '~src/styles/unibase/colors/__colors.sass'

.reconciliation-list-container
    table
        width: 100%
        table-layout: fixed
        border-collapse: collapse
        border: 1px solid var(--border-color)
        border-radius: 3px

        thead, tbody
            tr
                height: 50px
                border-bottom: 1px solid var(--border-color)

                td:first-of-type
                    padding-left: 1rem

                td, th
                    &.right
                        text-align: right
                        padding-right: 2rem

                    &.center
                        text-align: center

        thead
            tr
                th
                    text-align: left
                    color: var(--table-header-color)
                    background: var(--table-header-background)
                    font-weight: 500

                    &:last-of-type
                        width: 50px
                    &:first-of-type
                        padding-left: 1rem

        tbody
            font-size: .9rem
            tr
                &.opened
                    td
                        font-weight: bold !important
                &:last-of-type
                    border-bottom: none

                td
                    &:first-of-type
                        padding-left: 1rem

                    &:last-of-type
                        i
                            cursor: pointer
                    i
                        vertical-align: middle
                        font-size: 20px
                        margin-right: .5rem

                    a
                        text-decoration: none
                        font-weight: 500
                        &.recwork
                            color: var(--color-warn)
                        &.recdone
                            color: var(--color-good)
                        &.recstart
                            color: var(--link-color)
.empty-statement-msg
    font-size: 14px
    strong
        font-weight: bold
        cursor: pointer
        color: var(--color-c2a)

.entry-list-ul
    height: 400px
    overflow: auto
    margin-bottom: 1rem
    margin-top: 0
    display: flex
    flex-direction: column

    li:nth-child(even)
        background-color: var(--table-row-even-background)

    #scrolling-viewport
        height: 100%
        width: 100%

.list-header, .list-body-li
    display: flex
    height: 35px
    line-height: 35px
    font-size: 13px

    span
        flex: 1
        padding-left: 1rem
        &:first-of-type
            flex: 1

        &:nth-last-child(-n + 2)
            text-align: right
            padding-right: 2rem
            padding-left: 0

.list-header
    font-weight: 600
    border-bottom: 1px solid var(--border-color)
    width: calc(100% - 1rem)