@import '~src/styles/unibase/colors/__colors.sass'

.reconciliation-list-container
    table
        width: 100%
        table-layout: fixed
        border-collapse: collapse
        border: 1px solid $uni-color-scale9
        border-radius: 3px

        thead, tbody
            tr
                height: 50px
                border-bottom: 1px solid $uni-color-scale9

                td:first-of-type
                    padding-left: 1rem

                td, th
                    &.right
                        text-align: right
                        padding-right: 2rem

                    &.center
                        text-align: center

        thead
            tr
                th
                    text-align: left
                    color: $uni-color-scale6
                    font-weight: 600

                    &:last-of-type
                        width: 50px
                    &:first-of-type
                        padding-left: 1rem

        tbody
            font-size: .9rem
            tr
                &:last-of-type
                    border-bottom: none

                td
                    color: #26333D
                    font-weight: 500

                    &:first-of-type
                        padding-left: 1rem

                    &:last-of-type
                        i
                            cursor: pointer

                    &.good
                        color: $uni-color-plus
                        font-weight: 600
                    &.bad
                        color: var(--color-bad)
                        font-weight: 600
                    &.done
                        color: var(--color-good)
                        font-weight: 600

                    i
                        vertical-align: middle
                        font-size: 20px
                        margin-right: .5rem

                    a
                        text-decoration: none
                        font-weight: 600
                        &.recwork
                            color: var(--color-warn)
                        &.recdone
                            color: var(--color-good)
                        &.recstart
                            color: $uni-color-plus
    .empty-statement-msg
        font-size: 14px
        strong
            font-weight: bold
            cursor: pointer
            color: var(--color-c2a)

