<section class="task-filters">
    <button (click)="filterTasks(0)" [ngClass]="{'active-filter': typeFilter === 0}">
        Oppgaver
    </button>

    <button (click)="filterTasks(1)" [ngClass]="{'active-filter': typeFilter === 1}">
        Godkjenninger
    </button>

    <button (click)="filterTasks()" [ngClass]="{'active-filter': typeFilter === undefined}">
        Begge
    </button>

    <section class="show-completed-toggle">
        <input type="checkbox" class="toggle"
            [placeholder]="'Vis fullførte'"
            [checked]="showCompleted"
        />
        <label (click)="toggleShowCompleted()" class="toggle" tabindex="-1">
            Vis fullførte
        </label>
    </section>
</section>

<ul #taskList class="task-list">
    <li *ngFor="let task of filteredTasks" (click)="selectTask(task)" [attr.aria-selected]="selectedTask?.ID === task.ID">
        <section class="task-info">
            <p>{{task.Title}}</p>
            <small>Tildelt av {{task._assignedBy}}</small>
            <small>{{task._createdDate}}</small>
        </section>

        <section class="task-buttons">
            <button class="c2a"
                    *ngIf='!task._completed && !task._activeApproval'
                    (click)="completeTask(task)">
                Fullfør
            </button>

            <button *ngIf="task._activeApproval" class="bad"  (click)="rejectTask(task)">
                Avvis
            </button>

            <button *ngIf="task._activeApproval" class="good" (click)="approveTask(task)">
                Godkjenn
            </button>
        </section>
    </li>
</ul>

<section class="addTask">
    <label class="task-text">
        Legg til oppgave
        <input type="text" [(ngModel)]="newTask.Title" placeholder="Oppgavetekst">
    </label>

    <label>
        Tilordne til
        <uni-select class="drop-up"
                    [config]="userSelectConfig"
                    [items]="users"
                    (valueChange)="onUserSelected($event)">
        </uni-select>
    </label>

    <button class="good" (click)="addTask()" [disabled]="!isValidInput()">Legg til</button>
</section>


























