<div>
    <input type="radio" name="taskType" value="Oppgaver">
    <input type="radio" name="taskType" value="Godkjenninger">
    <input type="radio" name="taskType" value="Begge">
    <!-- DO NOT REMOVE this uncommented section !!
    <input type="checkbox" id="filterCompleted" [ngModel]="filterCompleted" (ngModelChange)="onStatusFilterChange()">
    <label attr.for="filterCompleted" class="toggle"> </label>

    <label>
        Fullført
    </label>
    <input type="checkbox" id="aaaa" [ngModel]="filterCompleted" (ngModelChange)="onStatusFilterChange()">
    <label attr.for="aaaa" class="toggle"> </label>
    -->
</div>
<ul class="taskList">
    <li *ngFor="let item of tasks" (click)="onRowSelected(item)">
        <button class="task-complete" *ngIf='!isCompleted(item) && !isApproval(item)' (click)="onComplete(item)" [disabled]="!item.myTask">Fullfør</button>
            <p>{{item.Title}}</p>
            <hr>
    </li>
</ul>

<section class="addTask">
    <label>
        Legg til
    <input type="text"  [(ngModel)]="newTask.Title">
    </label>
    <label>
        Tilordne til
        <uni-select [config]="userSelectConfig"
                    [items]="users"
                    (valueChange)="onUserSelect($event)">
        </uni-select>
    </label>
    <button class="add-task" (click)="addTask()" [disabled]="!isValidInput()">Legg til</button>
</section>


























