.settings-label
    display: flex
    align-items: center
    padding: .5rem 1rem
    background-color: var(--body-background)
    margin-bottom: 1rem

    span
        flex: 1
        font-size: 15px
        font-weight: 500

    input
        width: 10rem
        text-align: right
        padding-right: 1rem

small
    color: var(--color-bad)