<section role="dialog" class="uni-modal uni-redesign" style="width: 40rem">
    <header>Kjør automatisk kobling av poster</header>

    <article>
        <p> Sett verdi mellom 0 og 100. Systemet vil koble postene automatisk etter disse innstillingere </p>
        <label class="settings-label">
            <span>Maks antall dager mellom transaksjoner:</span>
            <input type="text" [(ngModel)]="settings.MaxDayOffset" min="0" max="100">
        </label>

        <label class="settings-label">
            <span>Maks avvik i NOK:</span>
            <input type="text" [(ngModel)]="settings.MaxDelta" min="0" max="100">
        </label>
        <small> {{errorMsg}} </small>
    </article>

    <footer class="center">
        <button class="secondary" (click)="onClose.emit()"> Avbryt </button>
        <button class="c2a" (click)="complete()"> Kjør automatisk kobling </button>
    </footer>
</section>