<uni-toolbar [config]="toolbarconfig"></uni-toolbar>

<section class="application">
    <section class="uni-container">
        <label class="uni-label label-left" style="width: 20rem">
            <span style="width: 7rem">Valutadato</span>
            <uni-datepicker
                style="flex: 0 0 10.5rem;"
                [(value)]="currencyDate"
                (valueChange)="loadData()">
            </uni-datepicker>
        </label>

        <ag-grid-wrapper
            [resource]="exchangelist"
            [config]="exchangeTable">
        </ag-grid-wrapper>
    </section>
</section>