<button class="comments_toggle"
        type="button"
        (click)="toggle($event)">Kommentarer</button>
<span class="comments_count">
    {{comments?.length || 0}}
</span>

<section class="comments-view"
         (keydown.esc)="close()"
         (clickOutside)="close()"
         [attr.aria-expanded]="isOpen">
    <ol class="comment-list" #commentList>
        <li *ngFor="let comment of comments">
            <aside class="comment-avatar"></aside>
            <main>
                <header>
                    <strong>{{comment.Author?.DisplayName}}</strong>
                    <small>{{getTimeFromNow(comment.CreatedAt)}}</small>
                </header>
                <blockquote [innerHTML]="comment.Text"></blockquote>
            </main>
        </li>
    </ol>

    <section class="new-comment">
        <ul #list class="comments-dropdown-list"
            role="listbox"
            tabindex="-1"
            [attr.aria-expanded]="lookupResults?.length > 0">

            <li *ngFor="let item of lookupResults; let idx = index"
                role="option"
                (mouseover)="selectedIndex = idx"
                (click)="selectItem($event)"
                [attr.aria-selected]="selectedIndex === idx">

                {{item.DisplayName}}
            </li>
        </ul>
        <textarea [formControl]="inputControl"
                  (keydown)="onKeydown($event)"
                  #inputElement>
        </textarea>
        <button class="comment-submit-btn c2a"
                (click)="submit()"
                [attr.aria-busy]="isBusy"
                [disabled]="isBusy">
            Send
        </button>
    </section>
</section>