// Things that needs icons
$uniKendoIconColor: $uni-color-scale4
$uniKendoIconColorHover: $uni-color-scale3
.k-i-arrow-s,
.k-numerictextbox .k-select .k-link span.k-i-arrow-s
    background-image: unicon-chevron-down($uniKendoIconColor)
    background-position: center center
    background-size: .7rem

    .k-state-hover &
        background-image: unicon-chevron-down($uniKendoIconColorHover)
        background-position: center center

.k-numerictextbox .k-numeric-wrap .k-select
    min-height: 1rem

    .k-link
        height: .75rem
        line-height: .75rem

        &:nth-of-type(2)
            border-top: pxToRem(1) solid $uni-color-scale7
            padding-bottom: pxToRem(1)

        span.k-i-arrow-n
            background-image: unicon-chevron-up($uniKendoIconColor)
            background-position: top center
            background-size: pxToRem(12)

        span.k-i-arrow-s
            background-position: top center
            background-size: pxToRem(12)

.k-i-calendar
    background-image: unicon-calendar($uniKendoIconColor)
    background-position: center center
    background-size: contain

    .k-state-hover &
        background-image: unicon-calendar($uniKendoIconColorHover)
        background-position: center center

.k-i-close
    background-image: unicon-close($uniKendoIconColor)
    background-position: 0 30%
    background-size: .5rem

    .k-state-hover .k-button.k-state-hover &
        background-image: unicon-close($uniKendoIconColorHover)
        background-position: 0 30%