// The multiselect component
.k-multiselect-wrap
  @extend input
  border: pxToRem(1) solid $uni-color-scale7

  .k-state-focused &
    border-color: $uni-color-C2A

  .k-input
    @extend %no-border
    margin-top: pxToRem(3)

  .k-button
    @extend %no-border
    border-radius: 99rem
    background: $uni-color-scale9
    margin: pxToRem(3)

    .k-select
      background: transparent