<section class="slide-panel uni-redesign active busy-spinner-container" (clickOutside)="closeView()" @container>

    <section *ngIf="busy" class="modal-spinner">
        <mat-spinner class="c2a"></mat-spinner>
    </section>


    <section class="header">
        <span> Avstemte poster </span>
        <i (click)="closeView()" class="material-icons" title="Lukk sidemeny">close</i>
    </section>

    <section class="actions">
        <span>
            {{ matchList?.length || 0 }} avstemte poster funnet
        </span>

        <button (click)="openAll()" class="secondary" title="Løser opp alle avstemte poster under">Løs opp alle</button>
    </section>

    <section class="closed-groups closed-group-panel" *ngFor="let match of matchList">

        <section class="panel-header" (click)="match['_expanded'] = !match['_expanded']">

            <i class="material-icons delete" (click)="open($event, match.ID)" title="Løs opp kobling">delete_outline</i>

            <span class="panel-match-date">{{ match.JLFinancialDate | date: 'dd.MM.yyyy' }}</span>

            <span class="panel-match-text" [class.open]="match['_expanded']">{{ match.BEDescription }}</span>

            <span class="panel-match-total">{{ match.BankStatementMatchAmount | uninumberformat: 'money' }}</span>

            <i class="material-icons"> {{ match['_expanded'] ? 'arrow_drop_up' : 'arrow_drop_down'}} </i>
        </section>

        <section *ngIf="match['_expanded']" class="line-container">

           <section class="entry">
                <span class="line-date">{{ match.BEBookingDate | date: 'dd.MM.yyyy' }}</span>
                <span class="description"><strong>Bank:</strong> {{ match.BEDescription }} </span>
                <span class="amount">{{ match.BEAmount | uninumberformat: 'money' }}</span>
            </section>

            <section class="entry">
                <span class="line-date">{{ match.JLFinancialDate | date: 'dd.MM.yyyy' }}</span>
                <span class="description"><strong>Regnskap:</strong> {{ match.JLDescription }} </span>
                <span class="amount">{{ match.JLAmount | uninumberformat: 'money' }}</span>
            </section>

        </section>
    </section>
</section>