\:host
    position: fixed
    top: 4.75rem
    right: 0
    width: 100vw
    height: calc(100vh - 4.75rem)
    background: rgba(0, 0, 0, .1)

    .slide-panel
        display: flex
        flex-direction: column
        background: #fff
        width: 45rem
        height: 100%
        margin-left: auto
        padding: 0 2rem
        overflow: auto

        .header
            display: flex
            justify-content: space-between
            align-items: center
            padding: 1rem 0
            border-bottom: 1px solid var(--color-c2a)

            i.material-icons
                cursor: pointer

            span
                font-weight: 500
                font-size: 20px

        .actions
            display: flex
            align-items: center
            margin: 1.5rem

            span
                font-weight: 500
                font-size: 17px

            button
                width: 8rem
                margin-left: auto

.closed-groups
    margin-bottom: .4rem

.closed-group-panel
    border-radius: 5px

    & + .closed-group-panel
        margin-top: .75rem

    .panel-header
        background: #f2f2f2
        display: flex
        align-items: center
        height: 2.5rem
        padding-left: .75rem
        cursor: pointer

        i.material-icons
            flex: 0 0 2rem
            color: var(--color-c2a)
            &.delete
                font-size: 20px
                margin-bottom: 2px
                &:hover
                    color: var(--color-warn)

            &:last-of-type
                margin-left: 1rem

        span
            font-size: 14px
            font-weight: 600
            text-overflow: ellipsis
            overflow: hidden
            white-space: nowrap

            &.panel-match-date
                width: 7.5rem

            &.panel-match-text
                flex: 1
                font-weight: 400

                &.open
                    font-weight: 600

            &.panel-match-total
                text-align: right

    .line-container
        border: 1px solid #f2f2f2

        .entry
            height: 2.5rem
            display: flex
            justify-content: center
            align-items: center

            span
                font-size: 14px
                font-weight: 400

                &.description
                    flex: 1

                &.amount
                    text-align: right
                    margin-right: 3rem

                &.line-date
                    margin-left: calc(2rem + 12px)
                    width: 7.5rem

.busy-spinner-container
    position: relative

    .modal-spinner
        position: absolute
        width: calc(100% - 4rem)
        height: 80%
        left: 2rem
        top: 0
        background: rgba(255,255,255,.75)
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        z-index: 999
