group-details
    fieldset
        margin-top: 0.03rem
        margin-left: 2rem
        max-width: 80%
        width: 70%

    fieldset.uniTable
        margin-top: 3rem
        width: 69.6%

div.uniSearchDiv
    max-width: 30vw
    display: inline-block
    float: right
    margin

    uni-search
        max-width: 12rem
        display: inline-block
