product-groups
    section
        nav
            float: left
            min-width: 14rem
            max-width: 14rem

        main
            max-width: calc(100%-14rem)
            min-width: calc(100%-14rem)

            @include media(small)
                width: 100%
