product-groups
    section.product-groups
        nav
            border: 0.05rem solid black
            float: left
            min-width: 18rem
            max-width: 18rem
            overflow: auto
            height: 75vh

            div.treeContainer
                margin: 1rem

        .toggle-children
            width: 1.4rem
            height: 1.4rem
            background: url('/assets/folder-64x64.png') center/100% no-repeat

        .toggle-children-wrapper-expanded .toggle-children
            background: url('/assets/folder-open-64x64.png') center/100% no-repeat
            transform: none
