product-groups
    .product-groups
        display: grid
        width: 100%
        grid-template-columns: min-content 1fr

        .tree-view-container
            height: 75vh
            min-width: 25rem
            background: #fff
            border: 1px solid var(--border-color)

            button
                margin: .5rem .75rem 0

            mat-tree
                height: calc(100% - 3.5rem)
                margin: .75rem 0
                padding: 0 1rem
                overflow: auto

        group-details
            height: 75vh
            margin-left: 1rem
            overflow: hidden

group-details .details-section
    background: #fff
    border: 1px solid var(--border-color)
    min-height: 15rem
    padding: 1rem
    height: 100%
    overflow-y: auto

    uni-form
        display: block
        margin: 1rem

        uni-field
            @include labelLength(10rem)
            margin: 0
            padding-left: 0

    header
        margin-bottom: 2rem

        h1
            font: 500 20px var(--font-family)
            margin: 0 .75rem 1rem

    .add-product
        display: block
        padding: 1rem

        uni-search
            display: block
            width: 20rem
            height: 2rem

    ag-grid-wrapper
        padding: 1rem
