<uni-toolbar [config]="{title: 'Faktura', omitFinalCrumb: true}"></uni-toolbar>

<header class="horizontal_nav no-print">
    <ul>
        <li *ngFor="let tab of filterTabs">
            <a (click)="onFilterTabClick(tab)" [ngClass]="{'router-link-active': tab === activeTab}" >
                {{tab.label}}&nbsp;
                <span *ngIf="tab.count >= 0" class="tab_counter tab_counter_passive">{{tab.count}}</span>
            </a>
        </li>
        <li><a (click)="onReminder()">Purring</a></li>
    </ul>
</header>

<section class="application">
    <button class="new-button" (click)="createInvoice()">Ny faktura</button>
    <uni-table
        [resource]="lookupFunction"
        [config]="invoiceTable"
        (rowSelected)="onRowSelected($event.rowModel)">
    </uni-table>
    <uni-summary [configs]="summaryConfig"></uni-summary>
</section>
<send-email-modal></send-email-modal>
<register-payment-modal (changed)="onRegisteredPayment($event)"></register-payment-modal>
<report-preview-modal></report-preview-modal>