
.details-backdrop
    position: fixed
    top: 0
    left: 0
    height: 100vh
    width: 100vw
    background: rgba(0, 0, 0, .25)
    display: flex
    justify-content: flex-end
    z-index: 500
    transition: background .5s ease-in

.uni-modal
    z-index: 600