﻿<uni-toolbar [config]="toolbarConfig"></uni-toolbar>

<section class="distribution-container container-for-spinner">

    <section *ngIf="busy" class="modal-spinner">
        <mat-spinner class="c2a"></mat-spinner>
    </section>

    <section class="distribution-type-container" *ngFor="let type of entityTypes">
        <div class="content-container">
            <section class="entity-name-container">
                <span (click)="type.showPlansView = !type.showPlansView" title="Se alle planer for {{ type.label }}"> {{ type.label }} </span>
            </section>

            <section class="entity-priority-container">
                <span *ngIf="!type.showPlansView">
                        {{ type.defaultPlan ? 'Standardplan: ' + type.defaultPlan.Name : 'Ingen plan satt' }}
                </span>
                <ul class="distribution-elements-stepper" *ngIf="!type.showPlansView && type.defaultPlan">
                    <ng-container *ngFor="let elem of type.defaultPlan.Elements; let i = index;">
                        <li class="list-item"> {{ elem.Priority }}. {{ elem.ElementType.Name }} </li>
                        <li class="divider" *ngIf="i < type.defaultPlan.Elements.length - 1"></li>
                    </ng-container>
                    <li class="list-item" *ngIf="!type.defaultPlan.Elements.length"> Ingen automatisk utsendelse </li>
                </ul>
            </section>

            <section class="entity-functionality-container settings-view">
                <span *ngIf="type.value === 'Models.Sales.CustomerInvoice'"> Automatisk utsendelse </span>

                <mat-slide-toggle [(ngModel)]="active" (change)="turnOnOffAutomaticDistribution()" [labelPosition]="'before'" *ngIf="type.value === 'Models.Sales.CustomerInvoice'" > </mat-slide-toggle>

                <i class="material-icons" title="Se alle planer" (click)="type.showPlansView = !type.showPlansView">
                    {{ type.showPlansView ? 'close' : 'list' }}
                </i>

            </section>
        </div>
        <div class="plans-info-container" *ngIf="type.showPlansView">
            <table>
                <thead>
                    <tr>
                        <th> Navn </th>
                        <th> Prioriteringsrekkefølge </th>
                        <th> Tildelt til </th>
                        <th>  </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let plan of type.plans">
                        <td> {{ plan.Name }} </td>
                        <td>
                            <ul class="distribution-elements-stepper" style="margin: 0;">
                                <ng-container *ngFor="let elem of plan.Elements; let i = index;">
                                    <li class="list-item"> {{ elem.Priority }}. {{ elem.ElementType.Name }} </li>
                                    <li class="divider" *ngIf="i < plan.Elements.length - 1"></li>
                                </ng-container>
                            </ul>
                        </td>
                        <td> <a (click)="onActionClick('customer', plan, type)"> {{ plan._count }} kunder </a> </td>
                        <td>
                            <span *ngIf="type.defaultPlan && type.defaultPlan.ID === plan.ID"> Firmastandard </span>
                            <i #toggle class="material-icons">more_horiz</i>
                            <dropdown-menu [trigger]="toggle">
                                <ng-template>
                                    <section class="dropdown-menu-item" (click)="onActionClick('customer', plan, type)">
                                        Administrer kunder
                                    </section>

                                    <section class="dropdown-menu-item" (click)="onActionClick('edit', plan, type)">
                                        Rediger
                                    </section>

                                    <section class="dropdown-menu-item" (click)="onActionClick('delete', plan, type)">
                                        Slett
                                    </section>

                                    <section class="dropdown-menu-item" (click)="onActionClick('remove', plan, type)"
                                        *ngIf="type.defaultPlan && plan.ID === type.defaultPlan.ID">
                                        Fjern standard
                                    </section>

                                    <section class="dropdown-menu-item" (click)="onActionClick('standard', plan, type)"
                                        *ngIf="!type.defaultPlan || plan.ID !== type.defaultPlan.ID">
                                        Sett som standard
                                    </section>
                                </ng-template>
                            </dropdown-menu>
                        </td>
                    </tr>
                </tbody>

            </table>
            <button class="add-button tertiary c2a" (click)="openPlanModal(null, type)">
                + Ny utsendelsesplan
            </button>
        </div>
    </section>
</section>
