<section class="distribution-splitview">

    <section class ="uni-container distribution-list" style="margin-right: 1rem;">
        <ag-grid-wrapper
            [config]="unitableConfig"
            [resource]="plans"
            (rowClick)="onRowSelected($event)">
        </ag-grid-wrapper>
    </section>

    <section class= "uni-container distribution-detail">
        <header>Plandetaljer</header>
        <uni-form
            [config]="config$"
            [fields]="fields$"
            [model]="plan"
            (changeEvent)="onFormChange($event)">
        </uni-form>
        <button (click)="addPriority()">Ny prioritet</button>
    </section>
</section>
