<article class="uniSelect"
    *ngIf="config && items"
    (clickOutside)="close()">

    <input type="text"
        class="uniSelect_input"
        role="combobox"
        aria-autocomplete="none"
        [attr.aria-owns]="guid"
        [attr.aria-activedescendant]="activeDescendantId"
        tabindex="0"
        (click)="toggle()"
        [value]="getDisplayValue(selectedItem)"
        [placeholder]="config?.Placeholder || ''"
        readonly />

    <article class="uniSelect_dropdown" bind-hidden="!expanded">
        <section class="uniSelect_search" *ngIf="searchable">
            <input #searchInput
                   type="search"
                   [placeholder]="config?.searchPlaceholder || 'Filtrer elementer'"
                   [formControl]="searchControl"
            />
        </section>

        <ul #itemDropdown
            [id]="guid"
            [attr.aria-expanded]="true"
            class="uniSelect_dropdown_list"
            role="listbox"
            tabindex="-1">

            <li *ngFor="let item of filteredItems; let idx = index"
                class="uniSelect_dropdown_item"
                role="item"
                tabindex="-1"
                [id]="guid + '-item-' + idx"
                [attr.aria-selected]="idx === focusedIndex"
                (mouseover)="focusedIndex = idx"
                (click)="confirmSelection()">
                {{getDisplayValue(item)}}
            </li>
            <li *ngIf="newButtonAction"
                class="uniSelect_dropdown_new_button_item">
                <button
                    type="button"
                    (click)="onNewItemClick()">
                    Ny
                </button>
            </li>
        </ul>
    </article>
</article>
