<form>
    <h2><i class="material-icons">storage</i>Velg plan</h2>
    <form action="#" name="choose-plan-form">
        <div class="radio" [ngClass]="{'active': eventPlan.PlanType === PlanType.Webhook}"
             (click)="toggle()">
            <input (click)="toggle()"
                   type="radio"
                   id="Webhook"
                   name="radio-group"
                   class="radio-button"
                   [checked]="eventPlan.PlanType === PlanType.Webhook"/>
            <label for="Webhook">Webhook</label>
        </div>
        <div class="radio" [ngClass]="{'active': eventPlan.PlanType === PlanType.Custom}"
             (click)="toggle()">
            <input (click)="toggle()"
                   type="radio"
                   id="Custom"
                   name="radio-group"
                   class="radio-button"
                   [checked]="eventPlan.PlanType === PlanType.Custom"/>
            <label for="Custom">Custom</label>
        </div>
    </form>
    <label class="planDataLabel" *ngIf="eventPlan.PlanType === PlanType.Webhook">
        <span>URL-er til webhook endepunktene</span>
        <div *ngFor="let subscriber of eventPlan.Subscribers; let i = index" class="webhook-endpoint">
            <button *ngIf="i !== 0" class="removeSubscriber" (click)="removeSubscriber(subscriber)">&times;</button>
            <mat-form-field>
                <input type="text"
                       matInput
                       name="webhook-name-{{i}}"
                       placeholder="Skriv inn navn"
                       [(ngModel)]="subscriber.Name"
                       style="border:none;">
            </mat-form-field>
            <mat-form-field>
                <input type="text"
                       matInput
                       name="webhook-url-{{i}}"
                       placeholder="Skriv inn URL"
                       [(ngModel)]="subscriber.Endpoint"
                       style="border:none;">
            </mat-form-field>
        </div>
        <button type="button" (click)="addSubscriber()">Legg til nytt endepunkt</button>
    </label>
    <label class="planDataLabel" *ngIf="eventPlan.PlanType === PlanType.Custom">
        <span>Velg job som skal kalles ved aktivitet på "{{eventPlan.ModelFilter}}"</span>
        <mat-form-field>
            <input type="text"
                   [(ngModel)]="eventPlan.JobNames"
                   placeholder="Velg job"
                   aria-label="Velg job"
                   matInput
                   [formControl]="myControl"
                   [matAutocomplete]="auto"
                   style="border:none;">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </label>
    <label class="planDataLabel" *ngIf="eventPlan.PlanType === PlanType.Custom">
        <span>Parametrer til jobben</span>
        <div *ngFor="let subscriber of eventPlan.Subscribers; let i = index" class="webhook-endpoint">
            <button class="removeSubscriber" (click)="removeSubscriber(subscriber)">&times;</button>
            <mat-form-field>
                <input type="text"
                       matInput
                       name="webhook-name-{{i}}"
                       placeholder="Skriv inn navn"
                       [(ngModel)]="subscriber.Name"
                       style="border:none;">
            </mat-form-field>
            <mat-form-field>
                <input type="text"
                       matInput
                       name="webhook-url-{{i}}"
                       [placeholder]="subscriber._title || 'Skriv inn verdi'"
                       [(ngModel)]="subscriber.Endpoint"
                       style="border:none;">
            </mat-form-field>
        </div>
        <button type="button" (click)="addSubscriber()">Legg til nytt parameter</button>
    </label>
</form>
