@import '~src/styles/uni-redesign/_color.sass'

article::ng-deep
    min-height: 33rem

flow-custom-modal-entity::ng-deep,
flow-custom-modal-triggers::ng-deep,
flow-custom-modal-plan::ng-deep,
flow-custom-modal-receipt::ng-deep
    li > span
        display: block
        font-weight: bold
    li
        list-style: none
        background-color: $redesign-scale6
        border-radius: 3px
        padding: 0.5rem
        margin: 1rem 0
        cursor: pointer
        border: solid rgba(0,0,0,0) 1px
    li.active
        border: solid $redesign-c2a 1px

    input.checkbox-round
        float: right
        margin-top: 0.9rem
        width: 1.3em
        height: 1.31em
        background-color: white
        border-radius: 50%
        border: 1px solid #ddd
        -webkit-appearance: none
        outline: none
        cursor: pointer

    .checkbox-round:checked
        background-color: $redesign-c2a
        display: inline-block
        &:after
            content: ''
            display: block
            width: 0.3rem
            height: 0.7rem
            margin-top: 0.15rem
            margin-left: 0.4rem
            border: solid white
            border-width: 0 2px 2px 0
            transform: rotate(45deg)
    .radio
        display: flex
        justify-content: flex-start
        align-items: center
        border: 1px solid #ddd
        padding: 10px
        border-radius: 5px
        width: 150px
        margin-bottom: 15px
        cursor: pointer
        float: left
        margin-right: 1rem
    label
        margin-bottom: 0
    [type="radio"]:checked,
    [type="radio"]:not(:checked)
        position: absolute
        left: -9999px
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
        position: relative
        padding-left: 28px
        cursor: pointer
        line-height: 20px
        display: inline-block
        color: #8C96A9
        font-weight: 500
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before
        content: ''
        position: absolute
        left: 0
        top: 0
        width: 18px
        height: 18px
        border: 1px solid #8C96A9
        border-radius: 100%
        background: #fff
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after
        content: ''
        width: 12px
        height: 12px
        background: #1565C0
        position: absolute
        top: 3px
        left: 3px
        border-radius: 100%
        -webkit-transition: all 0.2s ease
        transition: all 0.2s ease
    [type="radio"]:not(:checked) + label:after
        opacity: 0
        -webkit-transform: scale(0)
        transform: scale(0)
    [type="radio"]:checked + label:after
        opacity: 1
        -webkit-transform: scale(1)
        transform: scale(1)
    .radio.active
        border-color: #1565C0
    .active label
        color: #1565C0 !important
    .planDataLabel
        display: inline-block
        width: 100%
        span
            font-size: 0.9rem
            color: $redesign-scale2
            display: block
        mat-form-field
            width: 100%

    h1,h2,h3,h4,h5,h6
        color: $redesign-scale3
        font-size: 1.1rem
        font-weight: 600
    .material-icons
        vertical-align: middle
        margin-right: 1rem

    .receipt-item
        border: solid $redesign-scale5 1px
        border-radius: 0.2rem
        padding: 1rem
        margin-bottom: 1rem

        h1,h2,h3,h4,h5,h6
            margin-top: -1rem
        ul
            margin-bottom: -1rem
    .webhook-endpoint
        border: solid $redesign-scale5
        border-radius: 0.5rem
        padding: 1rem 1rem 0 1rem
        position: relative
        &:not(:first-of-type)
            margin-top: 1rem
        button
            position: absolute
            top: -0.5rem
            right: -1rem

