\:host
	margin-bottom: auto
	.uni-card
		margin-bottom: 0

.more-fields-button
	margin: 0 0 1rem
	padding: 0.5rem
	border: none
	border-radius: 0
	border-bottom: 1px solid var(--border-color)
	display: flex
	align-items: center
	width: 100%
	text-align: left

	span
		display: inline-block
		flex: 1

	i.material-icons
		transition: transform 550ms ease

		&.flipped
			transform: rotate(-180deg)

.addOnFieldsForm
	overflow: hidden

uni-form
	margin: 0 -0.5rem