@import '~src/styles/unibase/colors/__colors.sass'

\:host
    font-family: var(--font-family)
    ::ng-deep mat-selection-list .mat-list-text
        font-size: 15px

.uni-modal
    width: 40rem
    position: relative

    .invited-user-info
        display: block
        margin-bottom: 1rem