@import '~src/styles/unibase/colors/__colors.sass'

$lightblue: #2699fb
$darkblue: #1565c0
$red: #f53b57
$green: #0be881
$yellow: #ffdd59

\:host
    font-family: 'Roboto', sans-serif
    ::ng-deep mat-selection-list .mat-list-text
        font-size: 15px

.uni-modal
    width: 40rem
    height: 50rem
    max-height: 90vh // mobile
    position: relative

mat-expansion-panel
    box-shadow: none !important
    border: 1px solid $uni-color-scale9
    border-radius: 0 !important
    margin-bottom: 16px

    ::ng-deep .mat-expansion-panel-body
        padding: 0 10px 10px
        border-top: 1px solid $uni-color-scale9

mat-expansion-panel-header
    border-radius: 0
    padding-right: 10px

    .panel-toggle
        margin-right: 5px

    .panel-right
        margin: auto 0 auto auto
        button
            padding: 1px 10px 0
            margin: 0
            color: $darkblue
            font-size: 14px

            &[disabled]
                background-color: unset

mat-panel-title
    margin: auto 0

