<section role="dialog" class="uni-modal">
    <header>{{user?.DisplayName || user?.Email}}</header>

    <article>
        <section *ngIf="busy" class="modal-spinner">
            <mat-spinner class="c2a"></mat-spinner>
        </section>

        <small *ngIf="userStatusInvited" class="invited-user-info">
            Produktkjøp blir automatisk utført basert på valgte roller når en
            invitert bruker fullfører registreringen.
        </small>

        <mat-accordion multi="true">
            <mat-expansion-panel #panel
                *ngFor="let group of roleGroups; let idx = index"
                [expanded]="!group.product || group.productPurchased"
                [hideToggle]="true">

                <mat-expansion-panel-header [collapsedHeight]="'45px'" [expandedHeight]="'45px'" style="background: #f0f0f0;">
                    <mat-panel-title>
                        <i class="material-icons panel-toggle">
                            {{panel.expanded ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}
                        </i>
                        {{group.label}}
                    </mat-panel-title>

                    <section class="panel-right" *ngIf="group.product && !userStatusInvited">
                        <button
                            [ngClass]="group.productPurchased ? 'tertiary bad' : 'tertiary c2a'"
                            (click)="togglePurchase(group, $event)">
                            {{group.productPurchased ? 'Deaktiver' : 'Kjøp produkt'}}
                        </button>
                    </section>
                </mat-expansion-panel-header>

                <section>
                    <mat-selection-list>
                        <mat-list-option *ngFor="let role of group.roles"
                            [disabled]="group.product && !group.productPurchased"
                            [checkboxPosition]="'before'"
                            [selected]="role._checked"
                            (click)="onRoleClick(group, role)">
                            {{role.Name | translateRole}}
                        </mat-list-option>
                    </mat-selection-list>
                </section>
            </mat-expansion-panel>
        </mat-accordion>
    </article>

    <footer>
        <button class="secondary" (click)="onClose.emit(false)">Avbryt</button>
        <button class="c2a" (click)="saveRoles()">Lagre endringer</button>
    </footer>
</section>