<header class="dashboard-header uni-redesign" [ngClass]="{ 'no-link-dashboard': isSrEnvironment }">
    <span class="title">{{ isSrEnvironment ? activeLinkLabel : companyName}}</span>

    <ng-container *ngIf="!isSrEnvironment">
        <ul class="links" *ngIf="links">
            <li *ngFor="let link of links">
                <a class="dashboard-link"
                    [routerLink]="link.url"
                    [routerLinkActiveOptions]="{exact: true}"
                    routerLinkActive="active">
                    {{ link.label }}
                </a>
            </li>
        </ul>

        <a class="dashboard-link" routerLink="/overview">Oversikt</a>

        <newsfeed></newsfeed>
    </ng-container>

    <button class="edit-toggle icon-button" (click)="toggleEditMode()" title="Rediger dashboard-layout">
        <i class="material-icons">edit</i>
    </button>
</header>

<section #canvas
    class="widget-canvas"
    [ngClass]="{'edit-mode': editMode}"
    [ngStyle]="{'height': ((canvasHeight || 0) * gridUnitInPx) + 'px'}"
    (mousemove)="onMouseMove($event)">
    <section class="canvas-guide" *ngIf="editMode">
        <ng-template ngFor let-row let-rowIndex="index" [ngForOf]="canvasHelper.canvasGrid">
            <span *ngFor="let cell of row; let cellIndex = index"
                    class="canvas-cell"
                    [ngStyle]="{
                        top:  rowIndex * gridUnitInPx + 'px',
                        left: cellIndex * gridUnitInPx + 'px',
                        width:  gridUnitInPx - widgetMargin + 'px',
                        height: gridUnitInPx - widgetMargin + 'px'
                    }">
            </span>
        </ng-template>
    </section>

    <span *ngIf="gridAnchor" class="grid-anchor"
          [ngClass]="gridAnchor.valid ? 'valid-anchor' : 'invalid-anchor'"
          [ngStyle]="{
              top:  gridAnchor.top + 'px',
              left: gridAnchor.left + 'px',
              width:  gridUnitInPx - widgetMargin + 'px',
              height: gridUnitInPx - widgetMargin + 'px'
          }">
    </span>

    <ng-template ngFor let-widget [ngForOf]="layout[currentSize] || []" let-idx="index">
        <uni-widget [widget]="widget"
                    (widgetRemoved)="onWidgetRemoved($event, idx)"
                    (mousedown)="startDrag($event, widget)"
                    [ngStyle]="{
                        top:  widget._position.top + 'px',
                        left: widget._position.left + 'px',
                        width:  (gridUnitInPx * widget.width) - widgetMargin + 'px',
                        height: (gridUnitInPx * widget.height) - widgetMargin + 'px'
                    }">
        </uni-widget>
    </ng-template>
</section>

<section class="canvas-toolbar uni-redesign" *ngIf="editMode">
    <button (click)="hardReset()" class="bad">
        Tilbakestill alt
    </button>

    <uni-multilevel-select
        [placeholder]="'Legg til widget'"
        [items]="widgetSelectorItems"
        [displayField]="'description'"
        (select)="addWidget($event)"
        class="drop-up">
    </uni-multilevel-select>

    <button (click)="save()" class="good">
        Lagre
    </button>

    <button (click)="cancelEdit()" class="canvas-cancel tertiary">
        Avbryt
    </button>
</section>

