<section class="application">

    Add widget1
    <button type="button" (click)="addWidget('widget1', 'widget-small')">small</button>
    <button type="button" (click)="addWidget('widget1', 'widget-medium')">medium</button>
    <button type="button" (click)="addWidget('widget1', 'widget-large')">large</button>

    <br>

    Add widget2
    <button type="button" (click)="addWidget('widget2', 'widget-small')">small</button>
    <button type="button" (click)="addWidget('widget2', 'widget-medium')">medium</button>
    <button type="button" (click)="addWidget('widget2', 'widget-large')">large</button>

    <br>

    Add widget3
    <button type="button" (click)="addWidget('widget3', 'widget-small')">small</button>
    <button type="button" (click)="addWidget('widget3', 'widget-medium')">medium</button>
    <button type="button" (click)="addWidget('widget3', 'widget-large')">large</button>

    <br><br><br>

    <section class="widget-canvas">
        <template ngFor let-widget [ngForOf]="widgetLayout">
            <uni-widget [class]="widget.size" [config]="widget.config"></uni-widget>
        </template>
    </section>

</section>