<button (click)="toggleEditMode()">Toggle edit mode</button>

<section #canvas class="widget-canvas" [ngClass]="{'edit-mode': editMode}" (mousemove)="onMouseMove($event)">
    <section class="canvas-guide" *ngIf="editMode">
        <ng-template ngFor let-row let-rowIndex="index" [ngForOf]="canvasHelper.canvasGrid">
            <span *ngFor="let cell of row; let cellIndex = index"
                    class="canvas-cell"
                    [ngStyle]="{
                        top:  rowIndex * gridUnitInPx + 'px',
                        left: cellIndex * gridUnitInPx + 'px',
                        width:  gridUnitInPx - marginInPx + 'px',
                        height: gridUnitInPx - marginInPx + 'px'
                    }">
            </span>
        </ng-template>
    </section>

    <span *ngIf="gridAnchor" class="grid-anchor"
          [ngClass]="gridAnchor.valid ? 'valid-anchor' : 'invalid-anchor'"
          [ngStyle]="{
              top:  gridAnchor.top + 'px',
              left: gridAnchor.left + 'px',
              width:  gridUnitInPx - marginInPx + 'px',
              height: gridUnitInPx - marginInPx + 'px'
          }">
    </span>

    <ng-template ngFor let-widget [ngForOf]="widgets">
        <uni-widget [widget]="widget"
                    (mousedown)="startDrag($event, widget)"
                    [ngStyle]="{
                        top:  widget._position.top + 'px',
                        left: widget._position.left + 'px',
                        width:  (gridUnitInPx * widget.width) - marginInPx + 'px',
                        height: (gridUnitInPx * widget.height) - marginInPx + 'px'
                    }">
        </uni-widget>
    </ng-template>
</section>
