.downloadPaymentsModal
    width: 100%

.uni-autobank-agreement-modal
    width: 75rem
    display: flex
    flex-direction: row !important
    padding: 0 !important

    uni-field label span
        width: 9rem
        font-weight: 500

    .bank-agreement-button
        width: 150px !important
        border-radius: 18px !important
        background-color: #2c5dbe !important
        color: white !important
        margin: 0 auto
        &.back-button
            background-color: #d2d8e1 !important
            color: #2c5dbe !important
            margin-right: 2rem

    .payments-checkboxes
        display: flex
        flex-direction: column
        margin-left: -3px
        div
            display: flex
            margin-top: .8rem
            i
                color: #4b90fa
                cursor: pointer
            span
                margin-left: 1rem
                font-size: .9rem


    .close-button
        font-size: 18px
        color: #8c93a7
        margin: 18px -18px 0 0 !important

    .progressbar_container
        background-color: #f2f2f2
        padding: 4rem 0

        p
            margin: 0 0 2rem 0
            font-weight: 600
            font-size: 1.05rem
            text-align: center

        .autobank_progressbar
            list-style: none
            position: relative
            padding: 0
            width: fit-content
            margin: 0 auto
            &:before
                content: ''
                position: absolute
                width: 2px
                height: calc(100% - 15px)
                margin-top: 15px
                top: 0
                left: 0
                background: #ddd

            li
                padding: 40px
                display: flex
                align-items: center
                &:first-of-type
                    padding-top: 0
                &:last-of-type
                    padding-bottom: 0
                    span
                        bottom: 0

                span
                    position: absolute
                    width: 16px
                    height: 16px
                    border: 2px solid #d2d8e1
                    border-radius: 8px
                    left: -7px
                    background-color: #8c93a7
                    &.is-active-step
                        border: 2px solid var(--color-c2a)
                        background-color: #f2f2f2

                div
                    color: #9ba2b3
                    &.is-active-step
                        color: var(--color-c2a)

    .uni-autobank-agreement-modal-body
        width: 100%

        h3
            font-weight: 600
            font-size: 1.2rem
            margin-bottom: 0
            color: var(--color-c2a)

            strong
                margin-right: 10px

    footer
        border: none !important
        text-align: center !important

        span
            font-size: .75rem
            color: red
            margin-left: 0.5rem

        div
            text-align: center
            margin: 2rem 0

    .two-factor-tooltip
        font-size: 18px
        color: #58658d
        vertical-align: middle

    .close-bankagreement-button
        position: absolute
        top: 1rem
        right: 1rem
        font-size: 1.3rem
        cursor: pointer
        z-index: 9999

.agreement-table
    width: 95%
    text-align: left
    margin: 10px
    border-spacing: 0
    font-size: .9rem

    thead
        tr
            th
                padding-left: .5rem
    tbody
        tr
            line-height: 2.7rem

            td
                padding-left: .5rem
                border-bottom: 1px solid var(--border-color)
            &:last-of-type
                td
                    border-bottom: none

.text-center-in-table
    text-align: center

.text-right-in-table
    text-align: right

.bank-file-name-span
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

.checkbox_step
    .checkbox-label
        display: block
        padding-left: 15px
        text-indent: -15px
        cursor: pointer

    input[type='checkbox']
        width: 18px
        height: 18px
        padding: 0
        margin: 0 1rem 0 0
        vertical-align: bottom
        cursor: pointer
        position: relative
        top: -2px

.agreement-delete
    position: absolute
    bottom: .6rem
    font-size: 0
    height: 1.5rem
    width: 1.5rem
    padding: 0
    margin: 0 0 0 1.6rem
    border: none
    box-shadow: none
    background: transparent no-repeat center center
    background-image: unicon-trash($uni-color-scale6)
    background-size: .9rem
    cursor: pointer

    &:hover
        background-image: unicon-trash($uni-color-bad)

.uni-send-payment-modal
    width: 35vw

    article
        div
            display: flex
            flew-flow: row-wrap
            justify-content: center
            align-items: center

            i
                flex: 1
                text-align: center

            p
                flex: 12

        section
            .info-text
                font-size: 14px
            .uni-label
                margin-top: 1rem

        .message-bottom-section
            display: flex
            small
                color: var(--color-bad)
            span
                flex: 1
            a
                text-align: right
                font-size: 14px



.modwarn
    font-size: 1.2rem
    text-decoration: underline

.bank-list-section

    display: flex

    .bank-list-ag
        width: 30rem
    .bank-list-details
        flex: 1
        border-style: solid
        border-color: #C3CAD9
        border-width: 1px
        padding: 1.5rem
        margin: 0 0 0 2rem
        > label
            font-size: 15px
            display: flex
            align-items: center
            margin-bottom: .75rem
            input
                flex: 1
            span
                width: 240px

                &.sid-span
                    flex: 1
                    width: none

.bank-autobank-update-info
    border-style: solid
    border-color: #C3CAD9
    border-width: 1px
    padding-left: 1rem
    margin-top: 2rem

.closed-entries-modal
    width: 75rem

    ul
        list-style: none
        li
            padding: .6rem
            border: 1px solid #CCC
            border-radius: 3px
            margin-bottom: 1rem

            &.selected
                border: 2px solid var(--color-c2a)

            .match-container
                display: flex
                align-items: center
                font-size: 14px

                span
                    margin: 0 2rem 0 1rem

                i
                    margin: 0 1rem
                    cursor: pointer
                    &:hover
                        color: var(--color-bad)

                .info-container-middle
                    flex: 1
                    display: flex
                    flex-direction: column
                    overflow: hidden

                    div
                        overflow: hidden
                        text-overflow: ellipsis
                        white-space: nowrap
                        display: flex

                        .desc
                            flex: 1
                            overflow: hidden
                            text-overflow: ellipsis
                            white-space: nowrap
                            max-width: 100%
                            display: inline-block

                        .leader-text
                            font-weight: bold
                            margin-right: .5rem
                            display: inline-block
                            width: 4rem

                        .amount
                            font-weight: bold
                            margin-right: 3rem

                            &.bad
                                color: var(--color-bad)
                            &.good
                                color: var(--color-c2a)