.downloadPaymentsModal
    width: 100%

.uni-autobank-agreement-modal
    width: 40vw

    .uni-autobank-agreement-modal-body
        transition: 1s linear
        min-height: 250px

        h3
            font-weight: 400
            letter-spacing: 1px
            strong
                letter-spacing: 0px
                margin-right: 10px

.checkbox_step
    .checkbox-label
        display: block
        padding-left: 15px
        text-indent: -15px
        cursor: pointer

    input[type='checkbox']
        width: 18px
        height: 18px
        padding: 0
        margin: 0 1rem 0 0
        vertical-align: bottom
        cursor: pointer
        position: relative
        top: -2px