<div *ngIf="!(account$ | async)">
    Velg en konto i tabellen til venstre for å vise detaljer om kontoen
</div>

<div *ngIf="account$ | async">
     <uni-form
        [config]="config$ | async"
        [fields]="fields$ | async"
        [model]="account$ | async"
        (changeEvent)="onChange($event)">
    </uni-form>
    <uni-form
        [config]="dimensionsConfig$ | async"
        [fields]="dimensionsFields$ | async"
        [model]="dimensions$ | async"
        (changeEvent)="onDimensionsChange($event)"
    ></uni-form>
    <button class="bad" (click)="deleteAccount()" [disabled]="deleteButtonDisabled">Slett</button>
</div>

