<section id="sidebar-container"
    (mouseleave)="onMouseLeave()"
    [ngClass]="{
        'collapsed': state === 'collapsed',
        'popover': popover
    }">

    <section id="scroll-container">
        <ul class="sidebar-menu"
            [ngClass]="{'collapsed': state === 'collapsed'}">

            <li *ngFor="let section of navbarLinkSections; let idx = index"
                [attr.aria-expanded]="expandedSectionIndex === idx && !section.isOnlyLinkSection">

                <section class="sidebar-section-header" (click)="toggleSection(idx, section)">
                    <section class="icon-container">
                        <uni-icon
                            [icon]="section.icon"
                            [matIconClass]="'material-icons-outlined'"
                            [ngClass]="{'ue-icon': isUEEnvironment}"
                            (click)="navigateToSectionUrl(section, $event)"
                            [matTooltip]="section.name | translate"
                            [matTooltipDisabled]="popover || state === 'expanded'"
                            matTooltipPosition="right">
                        </uni-icon>
                    </section>

                    <span>{{ section.name | translate }}</span>
                </section>

                <section *ngFor="let group of section.linkGroups" class="sidebar-link-group">
                    <!-- <span *ngIf="group.name">{{group.name}}</span> -->

                    <ul class="sidebar-sub-menu">
                        <li *ngFor="let link of group.links">

                            <a (click)="navigate(link.url)"
                                routerLinkActive="active-sidebar-link"
                                [routerLinkActiveOptions]="{exact: link.routerLinkActiveExact}">

                                {{ link.name | translate }}
                            </a>
                        </li>
                    </ul>
                </section>

            </li>
        </ul>
    </section>

    <section class="mega-menu-toggle"
        (click)="showMegaMenu()"
        matTooltip="Rediger menyvalg"
        matTooltipPosition="right"
        matTooltipClass="sidebar-tooltip"
        [matTooltipDisabled]="popover || state === 'expanded'">

        <i class="material-icons">apps</i>
        <span *ngIf="popover || state === 'expanded'">Rediger menyvalg</span>
    </section>
</section>
