<section id="sidebar-container"
    (mouseleave)="onMouseLeave()"
    [ngClass]="{
        'collapsed': state === 'collapsed',
        'popover': popover
    }">

    <section id="scroll-container">
        <ul class="sidebar-menu"
            [ngClass]="{'collapsed': state === 'collapsed'}">

            <li *ngFor="let section of navbarLinkSections; let idx = index"
                [attr.aria-expanded]="expandedSectionIndex === idx">

                <section class="sidebar-section-header" (click)="toggleSection(idx)">
                    <i class="material-icons"
                        *ngIf="section.mdIcon"
                        [matTooltip]="section.name"
                        [matTooltipDisabled]="popover || state === 'expanded'"
                        matTooltipPosition="right"
                        matTooltipClass="sidebar-tooltip"
                        [ngClass]="{'sidebar-link-icon': section.url}"
                        (click)="navigateToSectionUrl(section.url, $event)">
                        {{section.mdIcon}}
                    </i>
                    <span>{{section.name}}</span>

                    <i class="material-icons expanded-section-icon">
                        {{expandedSectionIndex === idx ? 'expand_more' : 'keyboard_arrow_right'}}
                    </i>
                </section>


                <section *ngFor="let group of section.linkGroups" class="sidebar-link-group">
                    <!-- <span *ngIf="group.name">{{group.name}}</span> -->

                    <ul class="sidebar-sub-menu">
                        <li *ngFor="let link of group.links">

                            <a (click)="navigate(link.url)"
                                routerLinkActive="active-sidebar-link"
                                [routerLinkActiveOptions]="{exact: link.routerLinkActiveExact}">

                                {{link.name}}
                            </a>
                        </li>
                    </ul>
                </section>

            </li>
        </ul>

    </section>

    <section class="mega-menu-toggle" (click)="showMegaMenu()">
        <i class="material-icons" title="Vis alle menyvalg">apps</i>
        <span *ngIf="popover || state === 'expanded'">Vis alle menyvalg</span>
    </section>
</section>
