@import '~src/styles/unibase/colors/__colors.sass'
@import '~src/styles/unibase/icons/__icons.sass'
@import '~src/styles/unibase/helpers/_zindex.sass'
@import '~src/styles/unibase/page-layout/_page-layout-variables.sass'

$sidebar-background: #fff
$sidebar-text-color: $uni-color-scale2
$active-section-background: #f7f7f7
$link-hover-background: $uni-color-toolbar

\:host
    position: relative
    height: 100%
    max-height: 100%
    display: block
    box-sizing: border-box
    margin: 0
    padding: 0
    background: $sidebar-background
    color: $uni-color-negative
    font-family: 'Roboto', sans-serif

    transition: all .25s ease
    z-index: map-get($zindex, 'sidebar')

#sidebar-container
    position: fixed
    top: $reserved-height-for-navbar
    left: 0
    width: 240px
    height: calc(100vh - #{$reserved-height-for-navbar})
    background: #fff
    box-shadow: 1px 0px 4px 0 rgba(0, 0, 0, 0.14)
    transition: all .25s ease

    &.collapsed
        width: $sidebar-collapsed-width

        &.popover
            width: $sidebar-expanded-width
        &:not(.popover)
            .sidebar-link-icon:hover
                color: $uni-color-toolbar

            .sidebar-link-group
                display: none


#scroll-container
    height: calc(100% - 3rem)
    position: relative

ul.sidebar-menu
    color: $sidebar-text-color
    max-width: 100%

    list-style: none
    user-select: none
    margin-top: 0

    overflow-x: hidden

    > li
        .sidebar-section-header
            cursor: pointer
            padding: .75rem 0
            line-height: 2rem
            display: flex
            white-space: nowrap

            &:hover
                background-color: #e8e9ea

            i.material-icons
                flex: 0 0 $sidebar-collapsed-width
                text-align: center
                margin-top: -1px
                line-height: 2rem
                color: $uni-color-toolbar

                &.expanded-section-icon
                    margin-left: auto
                    color: $uni-color-scale5
                    font-size: 15px
                    margin-top: 0
                    flex-basis: 3rem

                &.sidebar-link-icon:hover
                    color: $uni-color-link

            span
                font-size: 15px


        .sidebar-link-group
            display: none // hide until section is expanded
            margin: 0
            width: 240px

            &:last-of-type
                margin-top: .75rem
                padding-bottom: 1rem

            > span
                padding-left: 2.2rem
                text-transform: uppercase
                font-size: 14px
                font-weight: 600
                color: $uni-color-toolbar

            ul.sidebar-sub-menu
                padding: 0
                list-style: none
                li
                    position: relative

                    a
                        display: block
                        color: $sidebar-text-color
                        text-decoration: none
                        padding: 3px 0 3px 3rem
                        margin: 0 1rem
                        cursor: pointer
                        font-size: 15px

                        @media screen and (max-width: 1300px)
                            font-size: 14px

                        &:hover,
                        &.active-sidebar-link
                            background: darken(#edeeef, 2%)
                            border-radius: 3px

        &[aria-expanded]:not([aria-expanded=false])
            background: $active-section-background
            border-top: 1px solid #eceff5
            border-bottom: 1px solid #eceff5

            .sidebar-link-group
                display: block

#sidebar-container:not(.collapsed), #sidebar-container.popover
    .sidebar-link-group[aria-expanded]:not([aria-expanded=false])
        .sidebar-section-header
                margin-bottom: 5px


.mega-menu-toggle
    position: absolute
    width: 100%
    height: 2.5rem
    line-height: 2.5rem
    text-align: center
    left: 0
    bottom: 0
    color: $uni-color-scale2
    background: $sidebar-background
    border-top: 1px solid $uni-color-scale9

    cursor: pointer
    &:hover
        background: #e8e9ea

    i.material-icons
        vertical-align: middle
        font-size: 19px
    span
        font-size: 13px



// .sidebar-tools
//     width: 100%
//     height: 32px
//     position: absolute
//     left: 0
//     bottom: 0
//     background: $sidebar-background
//     color: $sidebar-text-color
//     border-top: 1px solid $uni-color-scale9

//     .material-icons
//         cursor: pointer
//         line-height: 32px

//         &:first-of-type
//             margin-left: .25rem
//             font-size: 19px

//         &:last-of-type
//             float: right
//             margin-right: .25rem
