<section class="uni-redesign widget-wrapper">
    <section class="header">
        <span>Rapportsnarveier</span>

        <i *ngIf="selectedReports?.length > 0"
            role="button"
            (click)="openSetupModal()"
            class="material-icons">
            settings
        </i>
    </section>

    <div class="content">
        <section *ngIf="selectedReports?.length === 0" (click)="openSetupModal()" class="no-shortcuts">
            Sett opp snarveier
        </section>

        <ul id="report-list">
            <li *ngFor="let report of selectedReports" (click)="openReport(report)">
                {{ report.Name }}
            </li>
        </ul>
    </div>
</section>