<section role="dialog" class="uni-modal">
    <header>
        <h1 class="new">Overføring av timer</h1>
    </header>

    <article [attr.aria-busy]="busy">
        <div class="stepheader">{{steps[step].label}}</div>
        
        <section class="wizard-step-container" [hidden]="step !== 0">
            <form>
                <div class="container">
                    <label>Medarbeidere:</label>
                    <select >
                        <option value="0">Mine timer</option>
                        <option value="1">Alle medarbeidere</option>
                    </select>
                </div>
                <div class="container">
                    <div *ngFor="let choice of choices">
                        <input type="radio" [checked]="choice.checked"><label>{{choice.label}}</label>
                    </div>
                </div>
            </form>
        </section>

        <section class="wizard-step-container" [hidden]="step !== 1">
            <workitem-transfer-wizard-filter [options]="filterOptions" ></workitem-transfer-wizard-filter>
        </section>

        <section class="wizard-step-container" [hidden]="step !== 2">
            {{filterOptions.selectedCustomers?.length}} selected customers
        </section>
        
        <section class="wizard-step-container" [hidden]="step !== 3">

        </section>        

    </article>

    <footer>
        <p style="float: left">Steg {{step+1}} av {{steps.length}}</p>
        <button *ngIf="step>0" class="bad" (click)="goBack()">Tilbake</button>
        <button class="good" id="good_button_ok" (click)="accept()" [innerHtml]="step<steps.length-1 ? 'Videre': 'Fullfør'"></button>
        <button class="cancel" (click)="cancel()">Avbryt</button>
    </footer>
</section>