<section role="dialog" class="uni-modal">
    <header>
        <h1 class="new">Overføring av timer</h1>
    </header>

    <article [attr.aria-busy]="busy">
        <strong>{{steps[step].label}}</strong>
        
        <section class="wizard-step-container" [hidden]="step !== 0">
            <form>
                <div class="container">
                    <label>Medarbeidere:</label>
                    <select>
                        <option>Mine timer</option>
                        <option>Alle medarbeidere</option>
                    </select>
                </div>
                <div class="container">
                    <div *ngFor="let choice of choices">
                        <input type="radio" [checked]="choice.checked"><label>{{choice.label}}</label>
                    </div>
                </div>
            </form>
        </section>

        <section class="wizard-step-container" [hidden]="step !== 1">

        </section>

        <section class="wizard-step-container" [hidden]="step !== 2">

        </section>
        
        <section class="wizard-step-container" [hidden]="step !== 3">

        </section>        

    </article>

    <footer>
        <p style="float: left">Steg {{step+1}} av {{steps.length}}</p>

        <button *ngIf="step>0" class="bad" (click)="goBack()">Tilbake</button>

        <button *ngIf="options.buttonLabels.accept" class="good" id="good_button_ok" (click)="accept()">
            {{options.buttonLabels.accept}}
        </button>

        <button *ngIf="options.buttonLabels.reject" class="bad" (click)="reject()">
            {{options.buttonLabels.reject}}
        </button>

        <button *ngIf="options.buttonLabels.cancel" class="cancel" (click)="cancel()">
            {{options.buttonLabels.cancel}}
        </button>
    </footer>
</section>