<section class="ticker-overview">
    <ul class="ticker-list">
        <li *ngFor="let group of tickerGroups">
            {{group.Name}}
            <ul>
                <li *ngFor="let ticker of group.Tickers"
                    (click)="navigateToTicker(ticker)"
                    [attr.aria-selected]="ticker.Code === selectedTicker?.Code">
                    {{ticker.Name}}
                </li>
            </ul>
        </li>
    </ul>

    <section class="overview-ticker-section">
        <section class="overview-ticker-header">
            <span class="ticker-title">{{tickerTitle || 'Oversikt'}}</span>

            <span class="ticker-create-new" *ngIf="createNewAction" (click)="onCreateNewClick()">
                <i class="material-icons">add_circle</i>
                Opprett ny
            </span>

            <span class="ticker-export" (click)="exportToExcel()">
                <i class="material-icons">cloud_download</i>
                Eksporter til excel
            </span>
            <span class="ticker-export" (click)="turnGroupingOnOff()">
                <i class="material-icons">apps</i>
                Slå av/på gruppering
            </span>
        </section>

        <uni-ticker-container *ngIf="!navigatingToTicker"
            [ticker]="selectedTicker"
            [actionOverrides]="actionOverrides"
            (urlParamsChange)="onTickerParamsChange($event)">
        </uni-ticker-container>
    </section>

</section>
