<uni-toolbar
    [config]="toolbarConfig"
    [saveactions]="saveactions">
</uni-toolbar>

<section class="ticker-overview">
    <!-- REVISIT: Should this be a component? -->
    <ul class="ticker-list">
        <li *ngFor="let group of tickerGroups">
            {{group.Name}}
            <ul>
                <li *ngFor="let ticker of group.Tickers"
                    (click)="navigateToTicker(ticker)"
                    [attr.aria-selected]="ticker.Code === selectedTicker?.Code">
                    {{ticker.Name}}
                </li>
            </ul>
        </li>
    </ul>

    <uni-ticker-container
        [ticker]="selectedTicker"
        [actionOverrides]="actionOverrides"
        (urlParamsChange)="onTickerParamsChange($event)">
    </uni-ticker-container>
</section>
