<uni-toolbar [config]="toolbarConfig" [saveactions]="saveactions"></uni-toolbar>

<nav class="search-history">
    <ul>
        <li>Siste søk</li>
        <li><a (click)="showHistoricSearch()">Ordre: Mine</a></li>
        <li><a (click)="showHistoricSearch()">Faktura: Forfalte</a></li>
        <li><a (click)="showHistoricSearch()">Timer: Mine</a></li>
        <li><a (click)="showHistoricSearch()">Tilbud: Min avdeling</a></li>
        <li style="color:red;font-weight: bold">BARE DUMMYDATA HER FORELØPIG</li>
    </ul>
</nav>
<uni-ticker-container [showSubTickers]="showSubTickers" [ticker]="selectedTicker" (urlPropertiesChanged)="onUrlChanged()"></uni-ticker-container>
