
<section *ngIf="subTickers && subTickers.length > 0">
    <span class="sub-ticker-header">Detaljer</span>
    <div *ngIf="parentModel">
        <div class="sub-ticker-container" *ngIf="expanded">
            <button (click)="closeSubtickers()" class="closeBtn"></button>
            <div class="sub-ticker-container-expanded" (click)="stopPropagation()">
                <ng-template ngFor let-subTicker [ngForOf]="subTickers">
                    <uni-ticker
                        [header]="subTicker.Name"
                        [ticker]="subTicker"
                        [parentModel]="parentModel"
                        [parentTicker]="parentTicker">
                    </uni-ticker>
                </ng-template>
            </div>
        </div>
        <div class="sub-ticker-container" *ngIf="!expanded">
            <dl class="sub-ticker-summary">
                <ng-template ngFor let-column [ngForOf]="parentTicker.Columns">
                    <dd>{{column.Header}}</dd>
                    <dt [innerHtml]="getFieldValue(column, parentModel) | safehtml"></dt>
                </ng-template>
            </dl>
        </div>
    </div>
    <div class="sub-ticker-container" *ngIf="!parentModel">
        <div class="sub-ticker-empty">
            Velg en rad for å se detaljer
        </div>
    </div>
</section>
