reminder-rules
    button.add-rule
        margin: 0 0 0 1rem

    .splitview
        margin: 2rem 0
        flex-wrap: wrap

        &.uni-card
            header
                margin-bottom: 1rem

            .splitview_list,.splitview_detail
                border: none
                padding: 0 1rem

            .splitview_list
                min-width: 32rem

reminder-settings
    uni-form.main-form
        @include labelLength(20rem)

    .splitview_detail
        margin-top: 0