reminder-rules
    button.add-rule
        margin: 0
        height: 2rem
        line-height: 0
        min-width: 8rem

reminder-settings
    uni-form.main-form
        @include labelLength(20rem)

    .splitview_detail
        margin-top: 0