reminder-rules
    button.add-rule
        margin: 0 0 0 1rem

    .splitview
        margin: 2rem 0

reminder-settings
    uni-form.main-form
        @include labelLength(20rem)

    .splitview_detail
        margin-top: 0