<section class="uni-selection-list" style="margin-top:1rem">
    <section *ngIf="busy" class="modal-spinner">
        <mat-spinner class="c2a"></mat-spinner>
    </section>
    <ng-container *ngFor="let customer of customers">
        <label *ngFor="let contract of customer.Contracts" class="selection-list-item" (click)="selectContract(contract)">
            <mat-radio-button (click)="$event.preventDefault()" [checked]="selectedContract.ID === contract.ID"></mat-radio-button>
            {{customer.Name}}
            <span class="pull-right">
                Lisenstype: {{contract.ContractType | elsaContractType}}
            </span>
        </label>
    </ng-container>
</section>
