<uni-incoming-balance-info
    [journalEntry]="stateService.journalEntry$ | async"
    [journalEntryDraftLines]="stateService.journalLines$ | async"
    [isBooked]="stateService.isBooked$ | async">
    {{ 'SETTINGS.INCOMING_BALANCE.SUPPLIERS.INFO_TEXT' | translate }}
</uni-incoming-balance-info>
<section class="balance-diff-info">
    {{ 'SETTINGS.INCOMING_BALANCE.COMMON.FROM_BALANCE' | translate }} {{stateService.sumToDiffAgainst$ | async | unicurrency}}
</section>
<section *ngIf="(stateService.sumToDiffAgainst$ | async); else noDiff">
    <ag-grid-wrapper
        [config]="balanceConfig"
        [resource]="stateService.journalLines$ | async"
        (rowChange)="onRowChange($event)"
        (rowDelete)="onRowDelete($event)">
    </ag-grid-wrapper>
    <button
        *ngIf="!(stateService.isBooked$ | async)"
        (click)="addRow()"
        class="tertiary c2a">
        {{ 'SETTINGS.INCOMING_BALANCE.COMMON.NEW_LINE_LABEL' | translate }}
    </button>
</section>
<ng-template #noDiff>
    <uni-incoming-balance-tab-empty-state>
        {{ 'SETTINGS.INCOMING_BALANCE.SUPPLIERS.EMPTY_STATE_TEXT' | translate }}
    </uni-incoming-balance-tab-empty-state>
</ng-template>
<footer>
    <uni-incoming-balance-totals [sum]="stateService.supplierSum$ | async" [diff]="stateService.supplierDiff$ | async"></uni-incoming-balance-totals>
    <uni-incoming-balance-wizard-navigation [currentTab]="'suppliers'"></uni-incoming-balance-wizard-navigation>
</footer>
