.month-picker-wrapper
	display: flex
	align-items: center
	margin: 0 .75rem

	month-picker
		margin: 0 .25rem
		height: 2.5rem

		input
			border-radius: var(--button-radius) !important

	i
		color: var(--color-c2a)
		font-size: 28px
