.checkbox
    margin-left: 2rem
    margin-right: 3rem
    padding-right: 3rem
    vertical-align: inherit

    input[type="checkbox"]
        height: 20px
        width: 2.2rem
        vertical-align: middle

.toolbar
    display: flex
    align-items: center

    button.good
        margin-left: auto
        margin-right: 0