h1
    font: 400 20px var(--font-family)

    i.material-icons
        cursor: pointer
        vertical-align: middle
        margin-bottom: 3px
        color: var(--color-c2a)

.result-report-content
    padding-left: 2rem
