article
    border-radius: .5rem
    margin-bottom: 1rem
    padding: 1rem
.material-icons
    color: var(--color-c2a)
.clickable
    cursor: pointer
.no-info
    padding: 0
    margin: 0
    padding-rigth: 1rem
    // padding-bottom: 1rem
    i
        float: right
.general-info
    background-color: var(--alert-info)
    display: grid
    grid-template-columns: auto 1fr auto
    .info
        margin-right: 1rem
    .close-section
        display: grid
        align-content: center

.journal-info
    background-color: var(--alert-info)
    display: grid
    grid-template-columns: auto auto
    justify-content: space-between
    section h2
        margin: 0

    .journal-info-status, .journal-info-number
        display: grid
        align-content: center
    .journal-info-number
        margin-right: 2rem
