
external-search .search-content
    clear: both
    margin-left: pxToRem(15)
    margin-right: pxToRem(15)
    padding-bottom: pxToRem(10)
    position: relative

external-search .header-info
    width: 50%
    min-width: pxToRem(500)
    
external-search .filter
    width: 50%
    min-width: pxToRem(500)
    float: left
    display: block

external-search .filter input
    display: inline-block
    margin-left: pxToRem(5)
            
external-search h3
    margin-top: 0.1rem
    margin-bottom: 0.1rem
    
external-search .search-result-extra-info
    font-size: pxToRem(14) 
    color: $uni-color-scale5

external-search .search-result
    clear: both

external-search .search-result-item
    width: 30%
    min-width: pxToRem(300)
    float: left        
    display: block
    padding: pxToRem(7)

external-search  
    .search-result-item:hover
        background-color: $uni-color-scale9
        cursor: pointer
    
external-search 
    .more-results-info
        clear: both

external-search
    .clear
        clear: both

external-search .application
    //added so that the external search doesn't change size when searching (and everything under jumps down)
    min-height: 185.6px
