uni-toast-list
    ul.toast-list
        position: fixed
        top: 4.4rem
        right: 0
        z-index: #{map-get($zindex, modal) + 1}

        list-style: none
        margin: 0

        &.centered
            top: .35rem
            right: 50%
            transform: translateX(50%)

uni-toast
    font-family: var(--font-family)
    position: relative
    display: block
    cursor: pointer
    height: auto
    vertical-align: center
    width: 25rem
    margin: .5rem
    padding: 15px 2rem 15px 1rem
    text-align: left
    border-radius: 4px
    color: #fff !important
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12)

    &.good
        background-color: rgba(1, 184, 1, 0.98)

    &.bad
        background-color: rgba(210, 77, 87, 0.98)

    &.warn
        background-color: rgba(238, 131, 0, 0.98)

    i.material-icons
        position: absolute
        top: 15px
        right: 10px
        font-size: 19px

    header
        display: flex
        font: 500 15px var(--font-family)

        span
            flex: 1

            small.toast-count
                color: #fff
                font-weight: 300
                font-size: 13px

            &.toast-action
                flex: 0 0 auto
                margin: 1px 10px 0 auto

    .toast-message
        display: block
        padding-top: 10px
        font: 400 13px var(--font-family)

    .toast-action
        display: inline-block
        padding-top: 10px
        font-size: 14px
        text-decoration: underline

    header .toast-action
        padding-top: 0
        margin-left: 5px