

<article class="poster_explainer"
    *ngIf="posterExplain">

    <p>
        <button class="close" 
        type="button"
        (click)="posterExplain = !posterExplain">
        Lukk</button>
    </p>

    <h1>Hva er dette?</h1>

    <p>Her kommer "plakaten" for ting som kunder, ansatte, leverandører og så 
        videre. Her vil du kunne få et raskt overblikk over nøkkeltall og status
        knyttet til den enkelte entiteten.</p>

    <p>Funksjonen er under utvikling.</p>

</article>

<section class="poster_tease" *ngIf="model.employee">

    <article class="poster_tease_widget_2">

        <div class="widget_avatar"></div>
        <h2 class="widget_headline">{{ defaultEmailAddress }}</h2>
        <h2 class="widget_subhead">Tlf: {{ defaultPhoneNumber }}</h2>

    </article>

    <article class="poster_tease_widget_2">
        <!--<canvas class="widget_graph" id="widgetGraph0"></canvas>-->
        <h1 class="widget_fixed_pay_headline">NETTOLØNN</h1>
        <h4 class="widget_fixed_pay_subhead">utbetalt hittil i år</h4>
        <h2 class="widget_fixes_pay_number">{{ netPaidThisYear }}</h2>
    </article>

    <article class="poster_tease_widget_2">
        <!--<h1 class="widget_randomNumber" role="presentation">{{randomNumber}}</h1>-->
        <section class="widget_triple_notifier" [ngClass]="{'widget_notifier_error' : !datachecks.hasTaxCard, 'widget_notifier_success' :  datachecks.hasTaxCard}">
            <h3>SKATTEKORT {{ okOrMissing(datachecks.hasTaxCard) }}</h3>
        </section>
        <section class="widget_triple_notifier" [ngClass]="{'widget_notifier_error' : !datachecks.hasSSN, 'widget_notifier_success' :  datachecks.hasSSN}">
            <h3>PERSONNUMMER {{ okOrMissing(datachecks.hasSSN) }}</h3>
        </section>
        <section class="widget_triple_notifier" [ngClass]="{'widget_notifier_error' : !datachecks.hasAccountNumber, 'widget_notifier_success' :  datachecks.hasAccountNumber}">
            <h3>KONTONUMMER {{ okOrMissing(datachecks.hasAccountNumber) }}</h3>
        </section>
    </article>
    
    <article class="poster_tease_widget_2" *ngIf="defaultEmployment.workPercent">

        <h1 class="employment_percent">{{ defaultEmployment.workPercent }} %</h1>
        <h4 class="employment_title">{{ defaultEmployment.jobName }} </h4>
        <h4 class="employment_active">AKTIV</h4>
        <h6 class="employment_number_of_active" *ngIf="defaultEmployment.numberOfActives > 1">+ {{ defaultEmployment.numberOfActives - 1 }} aktive...</h6>

    </article>

    <article class="poster_tease_widget_2" *ngIf="!defaultEmployment.workPercent">

        <h4 class="active_error">INGEN AKTIVE STILLINGER</h4>

    </article>

</section>

<section class="poster_tease" *ngIf="model.settings">

    <article class="poster_tease_widget_2">

        <uni-image 
            [entity]="'companysettings'"
            [entityID]="1"
            [singleImage]="true"
            [readonly]="true"
            class="poster_margin_20 poster_logo"></uni-image>
        
        <img *ngIf="!hasImage" [ngClass]="{'logo_placeholder' : !hasImage}" src="http://celebrityhockeyclassics.com/wp-content/uploads/Logo-Placeholder.png"/>

    </article>

    <article class="poster_tease_widget_2">
        <h2 class="settings_orgnnumber_text">ORG.NUMMER</h2>
        <h2 class="settings_orgnumber_number">{{ defaultSettings.orgNumber }}</h2>
        <h2 class="settings_orgnumber_number" *ngIf="!defaultSettings.orgNumber">- - -</h2>
        <h4 class="settings_businesses">{{ numberOfBusinesses }} virksomheter</h4>
    </article>

    <article class="poster_tease_widget_2">
        <div class="widget_avatar poster_margin_20"></div>
        <h2 class="widget_subhead settings_avatar_text"> {{ currentUser.DisplayName }}</h2>
    </article>

    <article class="poster_tease_widget_2">

        <h2 class="active_users_number">{{ numberOfActiveUsers }}</h2>
        <h2 class="active_users_text">AKTIVE BRUKERE</h2>
    </article>

</section>

<section class="poster_tease" *ngIf="!model.employee && !model.settings">

    <article class="poster_tease_widget">

        <div class="widget_avatar"></div>
        <h1 class="widget_headline">unipilot@unimicro.no</h1>
        <h2 class="widget_subhead">Tlf: +47 99 52 92 51</h2>

    </article>

    <article class="poster_tease_widget">
        <canvas class="widget_graph" id="widgetGraph0"></canvas>
    </article>

    <article class="poster_tease_widget">
        <h1 class="widget_randomNumber" role="presentation">{{randomNumber}}</h1>
    </article>

    <article class="poster_tease_widget">

        <button type="button"
                class="poster_explain"
                (click)="posterExplain = !posterExplain">
            Hva er dette?
        </button>

        <div class="widget_checkmark"></div>
    </article>

</section>