<section class="widget-wrapper">
    <section class="header sr-widget-header chart-and-table">
        <span style="flex: 1;">{{ widget.description }}</span>
        <section class="filters">
            <button #toggle class="tertiary toggle-button"
                (click)="toggleButtonClick()"
                title="{{ isCustomer ? 'Gå til liste over forfalte faktura' : 'Se tilgjengelige kontoer' }}">
                {{ isCustomer ? 'Se forfalte' : 'Kontoer' }}
                <i class="material-icons"> {{isCustomer ? 'arrow_right' : 'expand_more'}} </i>
            </button>
            <dropdown-menu [trigger]="toggle" *ngIf="widget?.config?.model !== 'CustomerInvoice'">
                <ng-template>
                    <a class="dropdown-menu-item" (click)="changeResultLine(false)">
                        Vis månedlig resultat
                    </a>

                    <a class="dropdown-menu-item" (click)="changeResultLine(true)">
                        Vis akkumulert resultat
                    </a>
                </ng-template>
            </dropdown-menu>
        </section>
    </section>

    <section *ngIf="missingData" class="no-content">
        Mangler data
    </section>

    <div *ngIf="!missingData" class="content" style="display: flex;">
        <section class="chart-section" style="width: 200px;">
            <div style="height: calc(100% - 8rem)">
                <canvas style="max-height: 220px" #chartCanvas></canvas>
            </div>
            <div class="legend-vertical-class">
                <section class="legend-row" *ngFor="let label of widget?.config?.labels; let  i = index;" id="{{ 'legend' + i }}" (click)="addhiddenClass('legend' + i, i)">
                    <span class="indicator cost" [ngStyle]="{ 'background-color': this.widget.config.colors[i] }"></span>
                    {{ label }}
                </section>
            </div>
        </section>

        <section class="table-section" style="flex: 1; margin-left: 2rem">
            <ul [ngClass]="isCustomer ? 'chart-and-table-customer' : ''">
                <li class="table-widget-header">
                    <span> </span>
                    <span> {{ headers[0] }} </span>
                    <span> {{ headers[1] }} </span>
                    <span> {{ headers[2] }} </span>
                    <span> {{ headers[3] }} </span>
                </li>

                <li  *ngFor="let row of tableData; let i = index;">
                    <span>
                        <div *ngIf="isCustomer" class="indicator" [ngStyle]="{ 'background-color': row.color }"> </div>
                    </span>
                    <span> <a *ngIf="isCustomer" title="Gå til kunde" (click)="onClickNavigate('/sales/customer/', row.CustomerID)"> {{ row.value1 }} </a> </span>
                    <span> <a *ngIf="isCustomer" title="Gå til faktura" (click)="onClickNavigate('/sales/invoices/', row.ID)"> {{ row.value2 }} </a> </span>
                    <span> {{ row.value3 }} </span>
                    <span> {{ row.value4 }} </span>
                </li>
            </ul>

        </section>

    </div>
</section>