.widget-canvas
    width: 100%
    display: block
    box-sizing: border-box
    padding: 0

    uni-widget
        height: 5rem
        display: block
        float: left
        text-align: center
        margin: .25rem
        border: 1px solid $uni-color-positive
        border-radius: 2px
        color: $uni-color-negative

        &.widget-small
            width: calc((100% / 12) - 0.5rem - 2px)

        &.widget-medium
            width: calc((100% / 6) - 0.5rem - 2px)

        &.widget-large
            width: calc((100% / 3) - 0.5rem - 2px)


        uni-widget-1
            background-color: $uni-color-good
            display: block
            height: 100%

        uni-widget-2
            background-color: $uni-color-bad
            display: block
            height: 100%

        uni-widget-3
            background-color: $uni-color-warn
            display: block
            height: 100%


