
.sending-dropdown
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 10px
    height: 2.5rem
    background: #fff
    font-size: 15px
    border: 1px solid var(--border-color)
    border-radius: var(--section-radius)
    cursor: pointer
