.uni-modal
    width: 45rem
    a
        text-decoration: underline
    p
        margin-top: 0

.sending-dropdown
    display: flex
    align-items: center
    padding: 0 10px
    height: 2.5rem
    background: #fff
    font-size: 15px
    border: 1px solid var(--border-color)
    border-radius: var(--section-radius)
    cursor: pointer
    span
        white-space: nowrap
    small
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

    .toggle
        margin-left: auto
        padding-left: 2rem

.previous-sharings
    flex-direction: column
    margin-bottom: 2rem

    .sharing
        display: flex
        .date
            flex: 0 0 7rem
        .text
            flex: 1
            margin: 0 1rem
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
        .status
            flex: 0 0 8rem
