<section role="dialog" class="uni-modal uni-redesign">
    <header>Sending av faktura {{invoice?.InvoiceNumber || ''}}</header>
    <article>
        <section *ngIf="busy" class="modal-spinner">
            <mat-spinner class="c2a"></mat-spinner>
        </section>

        <!-- TODO: warn if invoice is already sent -->
        <section *ngIf="previousSharings?.length" class="alert warn previous-sharings">
            <section *ngFor="let sharing of previousSharings" class="sharing">
                <span class="date">{{(sharing.SharingCreatedAt || sharing.SharingUpdatedAt) | date: 'dd.MM.yyyy HH:MM'}}</span>
                <span class="text">{{getSharingText(sharing)}}</span>
                <span class="status">{{getSharingStatus(sharing)}}</span>
            </section>
        </section>


        <label class="uni-label">
            <span>Velg utsendingsmetode</span>

            <div #toggle class="sending-dropdown">
                <span>{{selectedOption?.label}}</span>
                <i class="material-icons">expand_more</i>
            </div>

            <dropdown-menu [trigger]="toggle">
                <ng-template>
                    <section class="dropdown-menu-item"
                        *ngFor="let option of sendingOptions"
                        (click)="selectedOption = option">
                        {{option.label}}
                    </section>
                </ng-template>
            </dropdown-menu>

        </label>


    </article>

    <footer>
        <button class="secondary" (click)="onClose.emit()">Avbryt</button>
        <button class="c2a" (click)="runSelectedOption()">Send</button>
    </footer>
</section>
