<section role="dialog" class="uni-modal">
    <header>
        Faktura {{invoice?.InvoiceNumber || ''}} til {{invoice.CustomerName}}
    </header>
    <article>
        <p>
            Faktura {{invoice?.InvoiceNumber || ''}} til {{invoice.CustomerName}} er fakturert og bokført med bilagsnummer
            <a [href]="journalEntryUrl">{{invoice?.JournalEntry?.JournalEntryNumber}}</a>
        </p>
        <section *ngIf="busy" class="modal-spinner">
            <mat-spinner class="c2a"></mat-spinner>
        </section>
        <section *ngIf="invoice?.StatusCode === 42004" class="alert info">
            <i class="material-icons-outlined">info</i>
            <span>Denne fakturaen er allerede markert som betalt</span>
        </section>
        <section *ngIf="invoice?.StatusCode === 42006" class="alert info">
            <i class="material-icons-outlined">info</i>
            <span>Denne fakturaen er allerede markert som kreditert</span>
        </section>
        <section *ngIf="previousSharings?.length" class="alert warn previous-sharings">
            <section *ngFor="let sharing of previousSharings" class="sharing">
                <span class="date">{{(sharing.SharingCreatedAt || sharing.SharingUpdatedAt) | date: 'dd.MM.yyyy HH:mm'}}</span>
                <span class="text">{{getSharingText(sharing)}}</span>
                <span class="status">{{getSharingStatus(sharing)}}</span>
            </section>
        </section>
        <h2>Hvordan vil du sende fakturaen?</h2>
        <label class="uni-label">
            <span>Velg utsendingsmetode</span>
            <div #toggle class="sending-dropdown">
                <span>{{selectedOption?.label}}</span>
                <small *ngIf="selectedOption.small" style="padding-left: .5rem">{{selectedOption.small}}</small>
                <i class="material-icons toggle">expand_more</i>
            </div>
            <dropdown-menu [trigger]="toggle">
                <ng-template>
                    <section class="dropdown-menu-item"
                        *ngFor="let option of sendingOptions"
                        (click)="selectedOption = option">
                        {{ option.label }}
                        <small *ngIf="option.small" style="padding-left: .5rem">{{option.small}}</small>
                    </section>
                </ng-template>
            </dropdown-menu>
        </label>
    </article>

    <footer>
        <button class="secondary" [disabled]="busy" (click)="onClose.emit()">Ikke send</button>
        <button class="c2a" [disabled]="busy" (click)="runSelectedOption()">Send</button>
    </footer>
</section>
