<section role="dialog" class="uni-modal"
        (clickOutside)="close(false)"
        (keydown.esc)="close(false)">
    <header>Utvalg a-melding</header>
    <article>
        <uni-form
            [config]="formConfig$"
            [fields]="fields$"
            [model]="ameldingModel$">
        </uni-form>
    </article>

    <footer>
        <button class="good" (click)="close(true)">Lag a-melding</button>
        <button class="bad" (click)="close(false)">Avbryt</button>
    </footer>
</section>