<h2>Timeliste</h2>
<h3 *ngIf="config">{{config.title}}</h3>

<aside class="regtime_filters no-print">
    <ul>
        <li *ngFor="let filter of filters">
            <a (click)="onFilterClick(filter)" [ngClass]="{'router-link-active': filter.isSelected}" >{{filter.label}}</a> 
        </li>
    </ul>    
</aside>

<section *ngIf="config" [attr.aria-busy]="busy">
    <table class="timeentriesTable">
        <thead><tr>
            <th class="s2">Ukedag</th>
            <th class="s2">Dato</th>
            <th class="s2 center">Start</th>
            <th class="s2 center">Slutt</th>
            <th class="s2 right">Timer</th>
            <th class="s1 right">Lunsj</th>
            <th class="s2 right" *ngFor="let col of sumColumns">{{col.label}}</th>
            <th class="left">Sum</th>
        </tr></thead>
        <tbody>
            <tr *ngFor="let item of config.items">
                <td>{{item.Date | isotime:'dddd'}}</td>
                <td>{{item.Date | isotime:'DD.MM.YYYY'}}</td>
                <td class="center">{{item.minstarttime | isotime:'HH:mm'}}</td>
                <td class="center">{{item.maxendtime | isotime:'HH:mm'}}</td>
                <td class="right">{{item.summinutes | min2hours:'short' }}</td>
                <td class="right">{{item.sumlunchinminutes | min2hours:'short'}}</td>
                <td class="right" *ngFor="let col of sumColumns">{{item[col.name] | min2hours:'short' }}</td>
                <td class="left">{{item.total | min2hours:'short' }}</td>
            </tr>
            <tr>
                <td class="sum">Sum</td>
                <td class="right sum" colspan="4">{{config.sumWork | min2hours }}</td>
                <td></td>
                <td *ngFor="let col of sumColumns" class="right sum">{{col.sum | min2hours:'short' }}</td>
                <td class="left sum">{{config.sumTotal | min2hours }}</td>
            </tr>
        </tbody>
    </table>
</section>