@import "accountSettings"
@import "companySettings"

.settings
  @include unigrid-flush(14)
  margin: 2rem auto 0 auto
  h1
    text-align: center
  
  .vertical_nav
    @include unigrid(3,2)
    float: left
    
  article
    @include unigrid(13,6)
    float: left
    