@import "accountSettings"
@import "companySettings"

.settings
  @include unigrid-flush(14)
  margin: 0 auto

  h2
    margin-left: 1rem
  
  .vertical_nav
    @include unigrid(2,1)
    float: left
    
  article
    @include unigrid(14,7)
    float: left
    