.button-toolbar
    width: 100%
    margin: 0 0 pxToRem(4) 0

    button
        margin-left: 0
        margin-right: pxToRem(7)
        min-width: 7em    

.deleted-row
    color: $uni-color-scale7 !important

uni-teams

    .splitview_detail
        min-height: 40em
