.users_list_section
  margin-bottom: 1rem

  /*Styles for list-example*/
  ul
    list-style: none

    @include unigrid-flush(16,8,4,1)

    li
      @include unigrid-flush(16,8,4,1)
      min-height: 1.8rem

      &:first-of-type
        @include unigrid-flush(16,8,false,false)

      .user_list_header
        cursor: pointer
        font-weight: 200

      span
        @include unigrid-flush(5,2,4)
        display: inline-block
        padding-left: 1rem
        line-heigth: 1.8rem
        vertical-align: middle
        font-size: 16px

        &:nth-last-of-type(3),&:nth-last-of-type(2),&:last-of-type
          @include unigrid-flush(2,1,4)

        p
          padding: 0
          margin: 0
    
      .user_invite_resend
        color: $uni-color-Good
        cursor: pointer

      .user_invite_revoke
        color: $uni-color-Bad
        cursor: pointer

      &:nth-child(even)
        background-color: $uni-color-scale9 

  .k-grid
    td
      border: none
      border-style: none
      border-width: 0

  .k-grid-content
    overflow-y: auto

  .k-button
    border: none

  .btn_resend
    color: $uni-color-Good
    
  .btn_revoke
    color: $uni-color-Bad
    float: right
    margin: 0

.users_invite_link
  display: none

.users_invite
  @include unigrid-flush(16)

  h3
    margin: .4rem 0 .4rem 0
    padding: 0

  section
    border: 1px solid #e8e8e8
    padding: 1rem
    margin-bottom: 1rem

    input
      @include unigrid-flush(3,2,1)
      margin-right: 1rem
    
    p
      margin: 0
      padding: 0

    button
      float: right
      margin: 0