.users_list_section
  margin-bottom: 1rem

.users_invite
  @include unigrid-flush(16)

  h3
    margin: .4rem 0 .4rem 0
    padding: 0

  div
    border: 1px solid #e8e8e8
    padding: 1rem
    margin-bottom: 1rem

    input
      @include unigrid-flush(3,2,1)
      margin-right: 1rem
    
    p
      margin: 0
      padding: 0

    button
      float: right