.users_list_section
  margin-bottom: 1rem

  /*Styles for list-example*/
  ul
    list-style: none

    @include unigrid-flush(16,8,4,1)

    li
      @include unigrid-flush(16,8,4,1)
      min-height: 1.8rem

      &:first-of-type
        @include unigrid-flush(16,8,false,false)

      .user_list_header
        cursor: pointer
        font-size: 18px

      span
        display: inline-block
        line-heigth: 1.8rem
        vertical-align: middle
        font-size: 16px
        box-sizing: border-box
        float: left

        p
          padding: 0
          margin: 0

      .user_list_name
        @include unigrid-flush(5,2,1,1)
        padding-left: 1rem 

      .user_list_email
        @include unigrid-flush(5,3,2,1)

      .user_list_status
        @include unigrid-flush(2,1,2,1)
    
      .user_invite_resend
        @include unigrid-flush(2,1,1,1)
        min-height: 1px
        color: $uni-color-Good
        cursor: pointer

      .user_invite_revoke
        @include unigrid-flush(2,1,1,1)
        color: $uni-color-Bad
        cursor: pointer

      &:nth-child(even)
        background-color: $uni-color-scale9 

.users_invite_link
  display: none

.users_invite
  @include unigrid-flush(16)

  h3
    margin: .4rem 0 .4rem 0
    padding: 0

  section
    border: 1px solid #e8e8e8
    padding: 1rem
    margin-bottom: 1rem

    input
      @include unigrid-flush(3,2,1)
      margin-right: 1rem
    
    p
      margin: 0
      padding: 0

    button
      float: right
      margin: 0