.vatList
    @include unigrid(10)
    float: left
    
.vatDetails
    @include unigrid(6)
    float: left

.vatDetails label
    width: 100%

.vatDetails fieldset
    width: 100%
    background: inherit
    margin: 0
