.vat-type-settings-view
	ag-grid-wrapper
		padding: 1rem
		background: #fff
		border: 1px solid var(--border-color)

	.padding-container
		padding-left: 1rem

		section:first-of-type
			padding: 1rem
			background: #fff
			border: 1px solid var(--border-color)

