@import '~src/styles/unibase/colors/__colors.sass'

.payroll-info-and-links
    background: #fff
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1)
    display: flex
    flex-direction: column
    padding: 0
    justify-content: center

    section
        padding: .75rem 1rem

.payroll-info
    line-height: 1.7rem
    font-size: 15px
    display: flex
    align-items: center
    overflow: auto

    i
        font-size: 20px
        margin-right: .3rem
    span
        margin-right: 3rem
        white-space: nowrap

        &:last-of-type
            flex: 1

.link-list-section
    display: flex
    border-top: 1px solid #CCC
    a
        font-size: 15px
        margin-right: 2.5rem

section.coverView
    height: 50vh