%contextMenuItem
    padding: .5rem 1rem
    border-bottom: pxToRem(1) solid $uni-color-scale9
    list-style: none
    width: 15rem
    cursor: pointer
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

    &:hover,
    &:focus
        background: $uni-color-C2A
        color: $uni-color-negative

    &[aria-disabled=true]
        opacity: .5
        cursor: default

    &:last-of-type
        border-bottom: none

    &[aria-hidden=true]
        display: none

%contextMenu
    position: absolute
    display: block
    background: $uni-color-negative
    border-radius: pxToRem(3)
    border: 1px solid $uni-color-scale8
    box-shadow: 0 0 .6rem transparentize($uni-color-scale5, .7)

    &:not([aria-expanded=true])
        display: none

    li
        @extend %contextMenuItem

uni-save
    display: block
    position: fixed
    left: 0
    bottom: 0
    right: 0
    background: transparentize(mix($uni-color-negative, $uni-color-Good, 84%), .1)
    backdrop-filter: blur(.2rem)
    border-top: pxToRem(1) solid $uni-color-scale9
    height: 3.5rem

    .uniSave
        @include unigrid-flush(14)
        @include clearfix
        margin: 0 auto

    .uniSave-status
        float: left
        margin-top: .8rem
        time
            color: $uni-color-scale5

    .comboButton,
    .singleButton
        @include unigrid-flush(14)
        margin: 0 auto
        bottom: 1.5rem
        position: fixed
        display: flex
        justify-content: flex-end

        button
            @extend button.good
            margin: 0
            height: 3.5rem
            font-weight: 600

    button.comboButton_btn,
    .singleButton button
        min-width: 10rem
        display: block
        border-top-right-radius: 0
        border-bottom-right-radius: 0

    .singleButton button
        border-top-right-radius: pxToRem(3)
        border-bottom-right-radius: pxToRem(3)

    button.comboButton_more
        display: block
        border-top-left-radius: 0
        border-bottom-left-radius: 0
        width: 2rem
        padding: 0
        overflow: hidden
        text-indent: -99rem

        &:before
            width: 100%
            height: 100%
            display: block
            content: ''
            background: unicon-chevron-up($uni-color-negative) center center no-repeat
            background-size: .5rem

        &[aria-expanded=true]
            @extend button.good:hover

    .comboButton_moreList
        @extend %contextMenu
        bottom: 2.7rem
        right: 0