@keyframes slideUp
    from
        transform: translate3d(0, 100%, 0)
        opacity: 0
    to
        transform: none
        opacity: 1

%contextMenuItem
    padding: .5rem 1rem
    border-bottom: pxToRem(1) solid $uni-color-scale9
    list-style: none
    width: 15rem
    cursor: pointer
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

    &:hover,
    &:focus
        background: $uni-color-c2a
        color: $uni-color-negative

    &[aria-disabled=true]
        opacity: .5
        cursor: default

    &:last-of-type
        border-bottom: none

    &[aria-hidden=true]
        display: none

%contextMenu
    position: absolute
    display: block
    background: $uni-color-negative
    border-radius: pxToRem(3)
    border: 1px solid $uni-color-scale8
    box-shadow: 0 0 .6rem transparentize($uni-color-scale5, .7)
    z-index: map-get($zindex, toolbar)

    &:not([aria-expanded=true])
        display: none

    li
        @extend %contextMenuItem

.toolbar_tools uni-save

    .uniSave
        display: inline-block

    .singleButton,
    .comboButton
        margin: -.5rem 0 0

    .singleButton button,
    .comboButton_btn
        @extend button.good
        width: auto
        margin: .35rem 0 0 .2rem
        box-shadow: none
        border: pxToRem(1) solid transparentize($uni-color-negative, .5)
        top: .32rem
        width: 10rem
        overflow: hidden
        text-overflow: ellipsis

        &:hover,
        &:focus
            border: pxToRem(1) solid transparentize($uni-color-negative, .5)

    .comboButton_btn
        border-radius: pxToRem(3) 0 0 pxToRem(3)

    .comboButton_more
        @extend %hideText
        border-radius: 0 pxToRem(3) pxToRem(3) 0
        margin-left: 0
        border-left: none
        top: 0
        width: 2rem
        background: $uni-color-good unicon-chevron-down($uni-color-negative) center center no-repeat
        background-size: .75rem auto

        &:hover,
        &:focus
            border: pxToRem(1) solid transparentize($uni-color-negative, .5)
            border-left: 0
            background-color: darken($uni-color-good, 5%)

    .comboButton_moreList
        @extend %contextMenu
        right: 0
        top: 1.1rem

    .uniSave-status
        position: fixed
        bottom: 0
        left: 0
        right: 0
        margin: 0
        padding: .3rem 6.5% .8rem
        text-align: start
        display: block
        background: transparentize($uni-color-scale4, .1)
        color: $uni-color-negative
        -webkit-backdrop-filter: blur(.5rem)
        animation: .3s ease slideUp

        time
            opacity: .5
            transition: opacity 300ms ease

        &:hover time
            opacity: 1

:not(.toolbar_tools) > uni-save
    display: block
    position: fixed
    left: 0
    bottom: 0
    right: 0
    background: transparentize(mix($uni-color-negative, $uni-color-good, 84%), .1)
    backdrop-filter: blur(.2rem)
    border-top: pxToRem(1) solid $uni-color-scale9
    height: 3.5rem
    z-index: map-get($zindex, hamburger)

    // Removing deprecation warning for pilot merge.
    // &:before
    //     content: '⚠️ Attn. devs! Uni-save has moved. Add your saveactions[] to the toolbar config instead.'
    //     display: block
    //     background: $uni-color-action
    //     top: -.5rem
    //     padding: 0 5rem

    .uniSave
        @include unigrid-flush(14)
        @include clearfix
        margin: 0 auto

    .uniSave-status
        float: left
        margin-top: .8rem
        time
            color: $uni-color-scale5

    .comboButton,
    .singleButton
        @include unigrid-flush(14)
        margin: 0 auto
        bottom: 1.5rem
        position: fixed
        display: flex
        justify-content: flex-end

        button
            @extend button.good
            margin: 0
            height: 3.5rem
            font-weight: 600

    button.comboButton_btn,
    .singleButton button
        min-width: 10rem
        display: block
        border-top-right-radius: 0
        border-bottom-right-radius: 0

    .singleButton button
        border-top-right-radius: pxToRem(3)
        border-bottom-right-radius: pxToRem(3)

    button.comboButton_more
        display: block
        border-top-left-radius: 0
        border-bottom-left-radius: 0
        width: 2rem
        padding: 0
        overflow: hidden
        text-indent: -99rem

        &:before
            width: 100%
            height: 100%
            display: block
            content: ''
            background: unicon-chevron-up($uni-color-negative) center center no-repeat
            background-size: .5rem

        &[aria-expanded=true]
            @extend button.good:hover

    .comboButton_moreList
        @extend %contextMenu
        bottom: 2.7rem
        right: 0


