@keyframes slideUp
    from
        transform: translate3d(0, 100%, 0)
        opacity: 0
    to
        transform: none
        opacity: 1

%contextMenuItem
    padding: .5rem 1rem
    border-bottom: pxToRem(1) solid $uni-color-scale9
    list-style: none
    width: 15rem
    cursor: pointer
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    color: $uni-color-positive

    &:hover,
    &:focus
        background: $uni-color-c2a
        color: $uni-color-negative

    &[aria-disabled=true]
        opacity: .5
        cursor: default

    &:last-of-type
        border-bottom: none

    &[aria-hidden=true]
        display: none

%contextMenu
    position: absolute
    display: block
    background: $uni-color-negative
    border-radius: pxToRem(3)
    border: 1px solid $uni-color-scale8
    box-shadow: 0 0 .6rem transparentize($uni-color-scale5, .7)
    z-index: map-get($zindex, toolbar)

    &:not([aria-expanded=true])
        display: none

    li
        @extend %contextMenuItem

uni-save
    height: 2rem
    padding-top: 1px
    box-sizing: border-box

.save-buttons
    display: inline-block
    position: relative
    button
        height: calc(1.75rem + 1px)
        box-sizing: border-box
        line-height: 0
        margin: 0
        float: left
        background: lighten($uni-color-good, 5%)
        text-shadow: none
        border-radius: 0

        border: 1px solid transparentize($uni-color-negative, .5)
        &:not(:first-of-type)
            border-left: none
        &:not(:last-of-type)
            border-right: 1px solid $uni-color-negative

        &:hover, &:focus
            border-color: $uni-color-negative

    .toolbar-print,
    .toolbar-email
        @extend %hideText
        position: relative

        &:before
            content: '🗎'
            color: $uni-color-negative
            font-size: 1.25rem
            position: absolute
            left: .6rem

    .toolbar-save
        min-width: 8rem
        &[disabled],
        &[aria-disabled]
            background-color: desaturate(mix($uni-color-good, $uni-color-negative, 50%), 10%)

    .toolbar-save-toggle
        @extend %hideText
        background: lighten($uni-color-good, 5%) unicon-chevron-down($uni-color-negative) center center no-repeat
        background-size: .75rem auto

    .toolbar-save-dropdown
        @extend %contextMenu
        right: 0
        top: 1rem

.uni-save-status
    position: fixed
    bottom: 0
    left: 0
    right: 0
    margin: 0
    padding: .3rem 6.5% .8rem
    text-align: start
    display: block
    background: transparentize($uni-color-scale4, .1)
    color: $uni-color-negative
    -webkit-backdrop-filter: blur(.5rem)
    animation: .3s ease slideUp


// Non-toolbar uni-save styling
// Remove when we get rid of this (settings, customer modalmode)
uni-save.fixed-position
    display: block
    position: fixed
    left: 0
    right: 0
    bottom: 0
    background: rgba(208,230,213,0.9)
    backdrop-filter: blur(.2rem)
    border-top: pxToRem(1) solid $uni-color-scale9
    height: 3.5rem
    z-index: map-get($zindex, picker) - 1

    .toolbar-print,
    .toolbar-email,
    .toolbar-save-toggle
        display: none

    .toolbar-save
        position: fixed
        bottom: 1.5rem
        right: 6.25%
        height: 3.5rem
        min-width: 10rem

    .uni-save-status
        padding-bottom: 1rem
        background: transparent
        color: $uni-color-scale4