tax-card-request, read-tax-card
    p
        font-size: 15px

    h2
        font-size: 20px
        font-weight: bold

    h3
        margin: 1.5rem 0 .75rem 0

    .mat-radio-button
        margin-bottom: .6rem

    .mat-radio-label-content, .mat-checkbox-label
        font-size: 15px
