.employee-alert
    display: flex
    align-items: center
    p
        margin: 0 1rem
    margin: 1rem 0

.info
    background: var(--body-background)
    .radio-buttons
        padding: 1.5rem
    p
        padding: 1rem 1.5rem
    autocomplete
        margin: 1rem 2rem
        max-width: 50%
    margin-bottom: 1rem


mat-checkbox
    margin: 0 1.5rem

footer
    display: flex
    justify-content: center
