<section role="dialog" class="uni-modal">
  <header>
    <h1>Lønnsarter rapporteres OTP</h1>
  </header>
  <article class="application" class="scrollable">
      <uni-form
      [config]="formOtpExportWagetypesConfig$" 
      [fields]="fields$" 
      [model]="otpexportWagetypesModel">
    </uni-form>
    <ag-grid-wrapper
      [config]="tableConfig"
      [resource]="selectedWagetypes">
    </ag-grid-wrapper>
  </article>
  <footer>
    <section>
      <button class="good" (click)="closeModal(true)">Lagre</button>
      <button class="bad" (click)="closeModal(false)">Avbryt</button>
    </section>
  </footer>
</section>
