<section class="uni-modal">
    <header>{{isNewSupplier ? 'Rediger leverandør' : 'Ny leverandør'}}</header>

    <article>
        <section *ngIf="busy" class="modal-spinner">
            <mat-spinner class="c2a"></mat-spinner>
        </section>

        <section *ngIf="externalLookupOptions" class="external-search">
            <autocomplete
                [options]="externalLookupOptions"
                [value]="value"
                (valueChange)="onExternalSearchSelected($event)">
            </autocomplete>
        </section>

        <uni-form
            [model]="supplier$"
            [fields]="fields$"
            [config]="config$"
            (changeEvent)="isDirty = true">
        </uni-form>
    </article>

    <footer>
        <button (click)="onClose.emit()" class="secondary">
            Avbryt
        </button>

        <button (click)="save()" class="c2a" (keydown.tab)="$event.preventDefault()">
            Lagre
        </button>
    </footer>
</section>