.toolbaritem
    margin-left: 2rem

.right
    text-align: right !important

table.report
    width: 100%
    min-width: pxToRem(1000)
    border-collapse: collapse
    table-layout: fixed
    font-size: 0.9rem

    td
        padding: 0.3rem

    tr:nth-child(even)
        background-color: var(--table-row-even-background)

    th
        border-bottom: 1px solid var(--border-color)
        padding-bottom: pxToRem(5)

    th.prc, td.prc
        width: 3em
        background-color: var(--sidebar-active-section-background)

    th.prc
        border: 1px solid var(--border-color)

    td.left
        text-align: left
        padding-left: 1em

    td
        padding: pxToRem(2) pxToRem(2) pxToRem(2) pxToRem(2)
        border-left: 1px solid var(--border-color)
        border-bottom: 1px solid var(--border-color)
        text-align: center
        overflow: hidden

    tr td:first-of-type, th:first-of-type
        width: 15em
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        border-left: 0
        text-align: left