<section role="dialog" class="uni-modal uni-redesign">
    <header>Aktiver EHF mottak</header>
    <article>
        <section *ngIf="busy" class="modal-spinner">
            <mat-spinner class="c2a"></mat-spinner>
        </section>

        <uni-form
            [config]="formConfig$"
            [fields]="formFields$"
            [model]="formModel$">
        </uni-form>

        <section *ngIf="terms" class="terms-checkbox">
            <mat-checkbox [(ngModel)]="termsAgreed">
                <span class="checkbox-label" (click)="$event.preventDefault()">
                    Jeg har lest og godtar <a (click)="$event.preventDefault(); confirmTerms()">avtalen</a>.
                </span>
            </mat-checkbox>
        </section>
    </article>

    <footer>
        <button class="secondary pull-left" (click)="close()">
            Avbryt
        </button>

        <button class="c2a" (click)="activate()" [disabled]="!termsAgreed && terms">
            Aktiver
        </button>
    </footer>
</section>