browser-warning
    article
        position: absolute
        top: 10rem
        left: 0
        right: 0
        background: $uni-color-warn
        padding: 0 12.5% 2rem
        color: contrasting($uni-color-warn)
        z-index: #{map-get($zindex, 'modal') + 99}


    p, a:link, a:visited
        color: contrasting($uni-color-warn)

    button
        border: pxToRem(2) solid $uni-color-negative
        position: absolute
        top: 0
        right: 0

    &:before
        content: ''

    .backface
        background: transparentize($uni-color-scale3, .5)
        top: 0
        bottom: 0
        left: 0
        right: 0
        position: absolute
        z-index: #{map-get($zindex, 'modal') + 89}
