$uni-card-height: 35rem

.uni-card
  height: $uni-card-height
  @include unigrid(4, 2, 2)
  margin-top: 3rem !important
  float: left
  box-shadow: 0 .2rem .5rem .1rem transparentize($uni-color-positive, .9)
  border-radius: pxToRem(5)
  background: mix(#fff, $uni-color-negative, 50%)
  position: relative
  display: flex
  flex-direction: column

  h1
    @extend h3
    line-height: 1.5
    margin: 0

  p
    margin: 0
    font-size: .9rem

  .uni-card_header
    background: $uni-color-scale9
    color: $uni-color-positive
    padding: 1rem
    border-radius: pxToRem(5) pxToRem(5) 0 0
    border-bottom: 1px solid $uni-color-scale8

    label
      float: right
      width: 1.8rem
      height: 1.8rem
      overflow: hidden

    input[type=checkbox] + label:after
      display: none

    input[type=checkbox] + label:before,
    input[type=checkbox]:checked + label:before
      background: transparent unicon-star-hollow($uni-color-scale8) center no-repeat
      background-size: 1rem
      height: 100%
      width: 100%
      border: none
      top: 0
      margin: 0

    input[type=checkbox] + label:hover:before
      background: transparent unicon-star($uni-color-scale8) center no-repeat
      background-size: 1rem


    input[type=checkbox]:checked + label:before
      background: transparent unicon-star($uni-color-scale3) center no-repeat
      background-size: 1rem

.uni-card_content
  overflow: auto
  padding: 1rem


.uni-card_add
  @extend .uni-card
  @extend %clickable
  padding-top: 17rem
  text-align: center
  box-shadow: none
  border: pxToRem(2) dashed $uni-color-scale9
  color: $uni-color-scale8
  background: transparent unicon-circle-plus($uni-color-scale9) center 12rem no-repeat
  background-size: 2rem
  transition: border-color 300ms ease, background-color 300ms ease

  &:hover
    border-color: $uni-color-scale5
    color: $uni-color-scale5
    background: mix(#fff, $uni-color-negative, 50%) unicon-circle-plus($uni-color-scale5) center 12rem no-repeat
    background-size: 2rem