\:host
    display: block

    .view-wrapper
        display: flex
        flex-direction: column
        height: calc(100vh - 12.5rem)
        padding-bottom: 0
        margin-bottom: 0

    .reconciliation-toolbar
        flex: 0 0 auto
        display: flex
        min-height: 3rem
        margin-bottom: .5rem
        flex-wrap: no-wrap
        align-items: center

        .left-side
            display: flex
            flex-wrap: wrap

        select,.section-cont
            border: 1px solid rgba(112, 112, 112, 0.33)
            border-radius: 3px
            color: #1D1F25
            height: 2.5rem
            font-size: 14px
            width: 14rem
            height: 34px
            cursor: pointer
            display: flex
            align-items: center

            span
                overflow: hidden
                white-space: nowrap
                text-overflow: ellipsis
                margin: 0 .5rem

        .period-picker
            display: inline-flex
            align-items: center
            month-picker
                height: 34px
                width: 14rem
            button.icon-button
                margin: 0 1px
                height: 34px

        .pull-right
            margin-left: auto
            flex: 0 0 auto
            flex-wrap: nowrap
            align-items: flex-start

            button.good
                min-width: 8rem

            button i.material-icons
                margin-bottom: 1px
                margin-right: 4px
            button.tight
                margin-left: 0.2rem
                margin-right: 0.2rem
                padding-left: 0.4rem
                padding-right: 0.4rem

.select-wrapper
    display: flex
    .flex-sections-container
        display: flex
        flex-direction: column
        align-items: flex-start
        margin: 0 1rem 1rem 0
        span
            font-size: 14px
            &.account-legend
                margin-left: .15rem
            &.date-legend
                margin-left: 2.4rem
                margin-right: 2px

.reconciliation-view
    flex: 1
    overflow: auto
    display: flex
    border-radius: 3px

    .list-section
        flex: 1
        min-width: 20rem
        .list-header
            display: flex
            align-items: center
            margin-bottom: 1rem

            .overflow-ellipsis
                margin-right: 1rem

            span
                font: 500 17px 'Roboto'
            small
                font: 400 15px 'Roboto'
                margin-left: auto
                margin-right: 1rem

        @media (max-width: 1400px)
            span
                font-size: 16px !important

        @media (max-width: 1300px)
            min-width: 22rem

.center-section
    position: sticky
    top: 0
    flex: 0 0 18rem
    margin: 0 2rem
    position: relative

    .warning-label
        position: absolute
        display: block
        top: 0
        width: 100%
        text-align: center

        i.material-icons
            font-size: 21px
            vertical-align: middle
            margin-bottom: 2px

.reconciliation-summary
    display: flex
    flex-direction: column
    margin: 2.5rem 0 auto
    font-size: 14px
    border-radius: 3px
    min-height: 12rem
    background: #fff
    border: 1px solid #cccccc
    border-radius: 3px

    section.header
        padding: 10px 1.5rem
        font-size: 15px
        background: #F5F6F9
        color: #485460

    section.content
        padding: .5rem 1.5rem
        color: #48484A

        .no-match-drafts
            margin-top: 1rem
            text-align: center

        .info-box
            margin-top: 0.5rem
            margin-bottom: 0.5rem
            text-align: center

        .reset-button
            i.material-icons
                margin-bottom: 2px
                font-size: 21px

        ul.match-drafts
            list-style: none
            font-weight: 500
            li
                display: flex
                justify-content: space-between

                span:first-of-type
                    width: 7.5rem

                &.diff
                    margin-top: .5rem
                    padding-top: .5rem
                    border-top: 1px solid rgba(112, 112, 112, 0.2)
                    .has-diff
                        color: #EF8538

    .footer
        display: flex
        flex-direction: column
        margin: 1rem 0 0 0
        text-align: center
        padding: 10px 1.5rem
        font-size: 15px
        background: #F5F6F9

    button.link-posts-button
        width: 100%
        margin: 1rem 0 0 0
        border-radius: 25px
        &[disabled]
            background-color: #D2DAE2 !important
            color: #485460
            opacity: .5

        i.material-icons
            margin-bottom: 2px
            margin-right: 2px

.bullet
    display: inline-flex
    align-items: center
    justify-content: center
    margin: 0 auto
    padding-left: 1px
    color: #fff
    background-color: orange
    font-size: 13px
    border-radius: 50%
    height: 2rem
    width: 2rem

.book-button
    margin: 1rem 2rem 1rem 2rem
    display: flex
    align-items: center
    justify-content: center
    border: 1px solid #ccc
    border-radius: 3px

    i
        font-size: 14px
        margin-left: .5rem

.good-bullet
    background-color: green

.nowrap
    white-space: nowrap

.positive
    color: var(--color-c2a)
.negative
    color: var(--color-bad)
.c2a
    color: var(--color-c2a)
.good
    color: var(--color-good)

.ontop
    z-index: 999

.menu-list
    list-style: none
    margin: 0

    li
        height: 34px
        padding: 0 1rem
        cursor: pointer
        display: flex
        align-items: center
        font-size: 15px
        &:hover
            background-color: var(--dropdown-select-background)

