<uni-toolbar
    [config]="toolbarconfig"
    [saveactions]="saveactions"
    (monthChange)="onDateChange($event)">
</uni-toolbar>

<section class="application">

    <mat-progress-bar
        *ngIf="session.loading$ | async"
        class="uni-progress-bar"
        mode="indeterminate">
    </mat-progress-bar>

    <section style="height: 4px; width: 100%;" *ngIf="!(session.loading$ | async)"></section>

    <section class="uni-container view-wrapper">

        <section class="reconciliation-view">
            <section class="list-section">
                <section class="list-header">
                    <section class="overflow-ellipsis" #toggle title="Se tilgjengelige kontoer">
                        <i class="material-icons-outlined">account_balance</i>
                        <span class="bank-name" *ngIf="selectedBankAccount"> {{ selectedBankAccount['_displayValue'] }} </span>
                        <i class="material-icons-outlined">arrow_drop_down</i>
                    </section>

                    <dropdown-menu [trigger]="toggle">
                        <ng-template>
                            <section class="dropdown-menu-item"
                                *ngFor="let bankAccount of bankAccounts"
                                (click)="selectedBankAccount = bankAccount; onBankPeriodChange()">
                                {{ bankAccount['_displayValue'] }}
                            </section>
                        </ng-template>
                    </dropdown-menu>

                </section>

                <section class="balance-section">
                    <span>Utgående saldo bank:</span>
                    <span class="nowrap" [ngClass]="session.bankBalance >= 0 ? 'positive' : 'negative'" style="margin-right: 1rem;">{{session.bankBalance | uninumberformat: 'money'}}</span>
                </section>

                <bank-statement-entries *ngIf="!cleanUp"
                    [showJournalEntryLink]="false"
                    [(loaded)]="loaded"
                    [items]="session.bankEntries"
                    [stageInfo]="session.stageInfo.bank"
                    (itemSelected)="onItemSelect($event)"
                    (showClosedGroups)="closedGroupDetailsVisible = true"
                    (uploadSelected)="openImportModal()">
                </bank-statement-entries>
            </section>

            <section class="center-section">

                <span class="top-center-imbalance-warning" *ngIf="session?.totalImbalance">
                    <i class="material-icons">warning</i>
                    Avvik i saldo: {{session.totalImbalance | uninumberformat: 'money' || '0.00'}}
                </span>


                <section class="reconciliation-summary" [attr.aria-busy]="session.preparing">
                    <header>
                        Koble sammen poster
                    </header>
                    <section class="content">
                        <section *ngIf="session.status == 2" class="info-box">
                            <article>Du har ingen bankposter.</article>
                            <article>Trykk på "Last opp kontoutskrift" for å lese inn en bankfil manuelt.</article>
                        </section>

                        <section *ngIf="session.status == 3 && !session.stage?.length" class="no-match-drafts c2a">
                            Koble poster ved å klikke på transaksjonene
                        </section>

                        <section *ngIf="session.status == 4" class="warn" style="text-align: left;">
                            Du har bankposter som ikke finnes i regnskapet.
                            <br> Du kan bruke "Se alle poster i bilagsføring" under ...meny oppe til høyre for å bokføre disse.
                        </section>

                        <section *ngIf="session.status == 5" class="info-box warn">
                            Du har poster {{ session.journalEntryMode === 0 ? 'i regnskapet' : session.journalEntryMode === 1 ? 'på kunder' : 'på leverandører'  }} som ikke finnes på bankutskriften.
                        </section>

                        <section *ngIf="session.status == 7" class="info-box good">
                            <i style="font-size: 40pt" class="material-icons">done_all</i>
                            <article>Alle poster er avstemt for perioden</article>
                        </section>

                        <section *ngIf="session.status == 8 && session.statusText" class="info-box good">
                            <span> {{ session.statusText }} </span>
                        </section>


                        <ul *ngIf="session.stage?.length" class="match-drafts">
                            <ng-container *ngFor="let entry of session.stage">
                                <li>
                                <span>{{entry.Date | date: 'dd.MM'}} - {{(entry.IsBankEntry ? 'Bank' : 'Regnskap')}}</span>
                                <span [ngClass]="entry.Amount >= 0 ? 'positive' : 'negative'">
                                    {{entry.Amount | uninumberformat: 'money' || 0}}
                                </span>
                                </li>
                            </ng-container>

                            <li class="diff" [ngClass]="{'has-diff': !!session.stageTotal}">
                                <span>Differanse</span>
                                <i class="material-icons" *ngIf="!session.stageTotal"> check_circle_outline </i>
                                <span> {{ session.stageTotal || 0 | uninumberformat: 'money'}} </span>
                            </li>
                        </ul>

                        <section *ngIf="session.status == 9" class="info-box good open-post">
                            <span> Det er ingen sammenfallende post i regnskapet, men vi har funnet en match i åpne poster kunde. </span>
                            <button class="c2a secondary" (click)="session.changeToSeeMatch(1);"> Se match </button>
                        </section>

                        <section *ngIf="session.status == 10" class="info-box good open-post">
                            <span> Det er ingen sammenfallende post i regnskapet, men vi har funnet en match i åpne poster leverandør. </span>
                            <button class="c2a secondary" (click)="session.changeToSeeMatch(2);"> Se match </button>
                        </section>

                        <button class="c2a link-posts-button"
                            *ngIf="session.canCloseStage || session.status == 3"
                            (click)="closeStage()"
                            [disabled]="!session.canCloseStage">

                            <i class="material-icons">link</i>
                            Avstem
                        </button>
                    </section>

                    <button class="secondary book-button" *ngIf="session.stageHasOnlyBankEntries && session.status <= 8" (click)="openJournalModal(false)">
                        <i class="material-icons">edit</i>
                        Bokfør transaksjon
                    </button>

                </section>
            </section>

            <section class="list-section">
                <section class="list-header">
                    <span class="accounting-name" [class.selected-value]="session.journalEntryMode === 0" (click)="changeMode(0);" title="Se alle poster i regnskapet i perioden">Regnskap - {{selectedBankAccount?.Account?.AccountNumber}} ({{ session.originalCounter }})</span>
                    <span class="accounting-name" [class.selected-value]="session.journalEntryMode === 1" (click)="changeMode(1);" title="Viser åpne poster på dine kunder">Kunde ({{session.customerCounter}})</span>
                    <span class="accounting-name" [class.selected-value]="session.journalEntryMode === 2" (click)="changeMode(2);" title="Viser åpne poster på dine leverandører">Leverandør ({{session.supplierCounter}})</span>
                </section>

                <section class="balance-section">
                    <span>Utgående saldo regnskap:</span>
                    <span class="nowrap" [ngClass]="session.journalEntryBalance >= 0 ? 'positive' : 'negative'" style="margin-right: 1rem;">{{session.journalEntryBalance | uninumberformat: 'money'}}</span>
                </section>

                <bank-statement-entries *ngIf="!cleanUp"
                    [showJournalEntryLink]="true"
                    [items]="session.journalEntries"
                    [stageInfo]="session.stageInfo.journal"
                    (itemSelected)="onItemSelect($event)"
                    (showClosedGroups)="closedGroupDetailsVisible = true">
                </bank-statement-entries>
            </section>
        </section>

    </section>
</section>

<closed-reconciliations
    style="z-index: 999;"
    *ngIf="closedGroupDetailsVisible"
    [item]="selectedClosedItem"
    (close)="sideMenuClose($event)">
</closed-reconciliations>