$summary-section-width: 18rem
$summary-section-margin: 2rem

\:host
    display: block
    margin-top: -5rem

    .reconciliation-toolbar
        display: flex
        align-items: center
        min-height: 3rem
        margin-bottom: 1.5rem

        h1
            font: 400 22px 'Roboto'
            margin-right: 2rem

        label
            display: inline-flex
            align-items: center
            margin-left: 1rem
            span
                margin-right: 1rem
            select
                border: 1px solid rgba(112, 112, 112, 0.33)
                border-radius: 3px
                color: #1D1F25
                height: 2.5rem
                padding: 0 5px
                font-size: 14px
                max-width: 14rem
            month-picker
                height: 2.5rem

        .pull-right
            margin-left: auto

            button.good
                min-width: 8rem

            button i.material-icons
                margin-bottom: 1px
                margin-right: 4px
            button.tight
                margin-left: 0.2rem
                margin-right: 0.2rem
                padding-left: 0.4rem
                padding-right: 0.4rem


.reconciliation-view
    // flex: 1
    height: calc(100vh - 12rem)
    overflow: auto
    display: flex
    padding: 1.5rem
    background: #fff
    border-radius: 3px

    .list-section
        flex: 1
        .list-header
            display: flex
            align-items: center
            margin-bottom: 1rem
            span
                font: 400 20px 'Roboto'
            small
                font: 400 15px 'Roboto'
                margin-left: auto
                margin-right: 1rem

.reconciliation-summary
    position: sticky
    top: 0
    flex: 0 0 $summary-section-width
    display: flex
    flex-direction: column
    margin: 0 $summary-section-margin auto
    font-size: 14px
    border-radius: 3px
    min-height: 12rem

    background: #fff
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15)
    // border: 1px solid #D2DAE2

    section.header
        padding: 10px 1.5rem
        font-size: 15px
        background: #F5F6F9
        color: #485460

    section.content
        padding: .5rem 1.5rem

        .no-match-drafts
            margin-top: 1rem
            text-align: center
            color: #48484A

        ul.match-drafts
            list-style: none
            font-weight: 500
            li
                display: flex
                justify-content: space-between

                span:first-of-type
                    width: 7.5rem

                &.diff
                    margin-top: .5rem
                    padding-top: .5rem
                    border-top: 1px solid rgba(112, 112, 112, 0.2)
                    .has-diff
                        color: #EF8538

    button.c2a
        width: 100%
        margin: 1rem 0
        border-radius: 25px
        background-color: #2699FB
        &[disabled]
            background-color: #D2DAE2 !important
            color: #485460

        i.material-icons
            margin-bottom: 2px
            margin-right: 2px


::ng-deep
    .reconciliation-list-view
        display: flex
        flex-direction: column
        height: 100%
        color: rgba(72, 72, 74, 0.97)
        max-width: 35vw

        input[type=search]
            width: 100%
            flex: 0 0 2.5rem
            border: 1px solid #DDDEE0
            margin-bottom: 1rem

        .header
            display: flex
            padding: 0 .5rem
            font-size: 14px
            font-weight: 500
            color: #485460

        ul
            flex: 1
            position: relative
            list-style: none
            margin: .5rem 0 0

            li
                display: flex
                height: 2.4rem
                align-items: center
                padding: 0 1rem
                background: #F5F6F9
                border-radius: 3px
                font-size: 14px
                cursor: pointer

                border: 1px solid rgba(0, 0, 0, 0)
                &:hover
                    background: darken(#F5F6F9, 5%)
                    // border-color: rgba(0, 0, 0, 0.15)
                &.selected
                    border-color: #2699FB
                    background: rgba(38, 153, 251, 0.1)

                & + li
                    margin-top: .5rem

        span
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis

            &.date
                flex: 0 0 5rem

            &.description
                flex: 1

            &.amount
                flex: 0 0 8rem
                text-align: right
                font-weight: 500

            & + span
                margin-left: 1rem

    .positive
        color: rgba(22, 93, 190, 0.96)
    .negative
        color: #D12323

    .bullet
        color: white
        background-color: orange
        border-radius: 30px
        padding: 0.5rem

    .warning-label
        text-align: center
        display: block
        padding: 0.6rem

    .nowrap
        white-space: nowrap




