.viewmode
    position: absolute
    top: 2.6rem
    left: 20rem
    z-index: 301

.expense-split-view
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr))
    grid-gap: .75rem
    margin-bottom: 1rem
    margin-top: 1rem

    .uni-container
        margin: 0

        &.journaling
            margin-top: 1rem
            padding-bottom: 0

            footer
                justify-content: space-between
                height: 3.25rem
                margin-top: 1.5rem
                color: var(--color-c2a-dark)
                font-size: 15px
                font-weight: 500
                background: #fafafa
                border-top: 1px solid var(--border-color)


.attachments
    position: relative

    .attachments-header
        display: flex

        span
            font-weight: 400
            color: var(--color-c2a)

        uni-icon
            color: var(--color-c2a)
            vertical-align: middle
            width: 16px
            margin-right: 4px
            margin-bottom: 3px

        .get-from-inbox
            cursor: pointer
            margin: 0 2rem 0 auto

        .upload-input
            margin-bottom: 0

    uni-image::ng-deep
        .image-section
            border: none

.done-redirect-modal
    width: 35vw
    article
        display: flex
        flex-direction: column
        align-items: center
        text-align: center

        i
            margin: 1rem auto
            font-size: 3.5rem
            color: var(--color-good)