<uni-toolbar
    [config]="toolbarConfig"
    [saveactions]="saveActions">
</uni-toolbar>

<section class="application" [attr.aria-busy]="busy" >

    <section class="expense-split-view">
        <section class="input-section">
            <section class="details uni-container">
                <header>Detaljer</header>

                <section>
                    <expense-prepaid *ngIf="session.payment.Mode === 1 && dataLoaded" [session]="session"></expense-prepaid>
                    <expense-payable *ngIf="session.payment.Mode === 2 && dataLoaded" [session]="session"></expense-payable>
                </section>
            </section>

            <section class="journaling uni-container">
                <header>Utgiftskonto</header>
                <expense-entries [session]="session"></expense-entries>
                <footer>
                    <span>Totalsum</span>
                    <span>{{session.balance | uninumberformat: 'money'}}</span>
                </footer>
            </section>
        </section>

        <section class="uni-container attachments">
            <header class="attachments-header">
                Dokumenter ({{ fileIds?.length }})

                <span class="get-from-inbox" (click)="openAddFileModal()" role="button">
                    <uni-icon [icon]="'download'"></uni-icon>
                    Hent fra innboks
                </span>

                <label class="upload-input">
                    <uni-icon [icon]="'upload'"></uni-icon>
                    <span>Last opp</span>
                    <input type="file" (change)="uniImage.onUploadInputChange($event)" />
                </label>
            </header>

            <uni-image #uniImage
                [hideUploadInput]="true"
                [splitFileDialogAllowed]="true"
                [rotateAllowed]="true"
                [uploadWithoutEntity]="true"
                [readonly]="false"
                [fileIDs]="fileIds"
                (fileListReady)="onFileListReady($event)"
                (useWord)="useWord($event)">
            </uni-image>
        </section>
    </section>
</section>