<uni-toast-list></uni-toast-list>
<section *ngIf="isAuthenticated && !isOnInitRoute" class="chatboxes">
    <uni-chat-box *ngFor="let chatbox of (chatBoxService.businessObjects | async)" [businessObject]="chatbox"></uni-chat-box>
</section>

<uni-navbar class="no-print" *ngIf="isAuthenticated && !isOnInitRoute"></uni-navbar>

<section id="page-container" [ngClass]="'sidebar-' + (navbarService.sidebarState$ | async)">
    <uni-sidebar *ngIf="isAuthenticated && !isOnInitRoute"></uni-sidebar>

    <main id="page-content-container">
        <router-outlet></router-outlet>
    </main>
</section>

<section class="theme-selector">
    <boost-chat *ngIf="boostChatScriptUrl"></boost-chat>
    <span #toggle>
        <i class="material-icons" style="vertical-align: middle; margin: 0 2px 2px 0">aspect_ratio</i>
        Demo
    </span>
    <dropdown-menu [trigger]="toggle">
        <ng-template>
            <section class="dropdown-menu-item" (click)="applyUeTheme()">Uni Economy</section>
            <section class="dropdown-menu-item" (click)="applySrTheme()">SR Regnskap</section>
        </ng-template>
    </dropdown-menu>
</section>