<uni-toast-list></uni-toast-list>
<api-status></api-status>

<section *ngIf="isAuthenticated && !isOnInitRoute" class="chatboxes">
    <uni-chat-box *ngFor="let chatbox of (chatBoxService.businessObjects | async)" [businessObject]="chatbox"></uni-chat-box>
</section>

<uni-navbar [deativateFunctions]="isPendingApproval || licenseExpired" class="no-print" *ngIf="isAuthenticated && !isOnInitRoute"></uni-navbar>

<section id="page-container" [ngClass]="'sidebar-' + (navbarService.sidebarState$ | async)">
    <uni-sidebar *ngIf="isAuthenticated && !isOnInitRoute && !isPendingApproval && !licenseExpired"></uni-sidebar>

    <section class="locked-container" *ngIf="isPendingApproval && !licenseExpired">
        <section class="company-lock">
            <h3>Avventer {{isBankCustomer ? 'signering av dokumenter' : 'etablering av kundeforhold'}}</h3>
            <span *ngIf="isBankCustomer">
                For å ta i bruk fullverdig versjon av SpareBank 1 Regnskap må nødvendige avtaledokumenter være signert.
                Du vil få informasjon om dokumentene på e-post og SMS, og du signerer med BankID.
                Etter at dokumentene er signert kan det ta inntil 1 virkedag før systemet er tilgjengelig. <br/> <br/>
                Du vil motta en e-post fra oss når systemet er tilgjengelig.
            </span>
            <span *ngIf="!isBankCustomer">
                For å ta i bruk fullverdig versjon av SpareBank 1 Regnskap må du være bedriftskunde i {{bankName}}.
                Dersom du allerede har fylt ut bli-kunde-skjemaet er saken din under behandling. 
                Nødvendige avtaledokumenter må signeres med BankID, og du får informasjon om dette på e-post og SMS. 
                Du vil også få beskjed når kundeforholdet er etablert og systemet tilgjengelig.  <br/> <br/>
                Dersom du ikke allerede har fylt ut skjemaet, trykk på Bli kunde under.
            </span>
            <button *ngIf="!isBankCustomer" class="c2a" (click)="goToExternalSignup()"> Bli kunde </button>
        </section>
    </section>

    <section class="locked-container" *ngIf="licenseExpired">
        <section class="license-lock">
            <span>
                Sluttdato på {{expiredEntity}} har passert. 
                Om du fortsatt ønsker å benytte systemet, 
                må du kontakte <a [href]="supportPageUrl" target="_blank">support</a>.
            </span>
        </section>
    </section>

    <main id="page-content-container" *ngIf="!isPendingApproval && !licenseExpired">
        <router-outlet></router-outlet>
    </main>
</section>
