<section class="save-buttons">
    <button type="button" *ngIf="main"
        class="good toolbar-save"
        (click)="onSave(main)"
        [attr.aria-busy]="busy"
        [disabled]="main.disabled">
        {{main.label | translate}}
    </button>

    <ng-container *ngIf="filteredActions?.length > 1">
        <button #toggle class="good toolbar-save-toggle">
            <i class="material-icons">expand_more</i>
        </button>

        <dropdown-menu [trigger]="toggle" [minWidth]="'14rem'">
            <ng-template>
                <a *ngFor="let action of filteredActions"
                    class="dropdown-menu-item"
                    (click)="onSave(action)"
                    [attr.aria-disabled]="action.disabled || busy">

                    <span> {{ action.label | translate }} </span>
                </a>
            </ng-template>
        </dropdown-menu>
    </ng-container>
</section>

<!-- Fixed position on the bottom of the page -->
<section *ngIf="statusMessage?.length" class="uni-save-status" role="status">
    {{statusMessage}}
</section>