%mainNavDropdown
    color: var(--text-color)
    background: #fff
    box-shadow: var(--dropdown-shadow)
    border-radius: 3px

@import 'tabstrip'
@import 'company'

.megamenu-close-tooltip
    max-width: unset !important
    width: 16rem !important

uni-navbar
    display: block
    position: fixed
    width: 100vw
    height: var(--navbar-height)
    top: 0
    z-index: map-get($zindex, hamburger)

.navbar
    width: 100%
    height: calc(100% - 32px)
    background: var(--navbar-background)
    padding: 0 2rem 0 0
    box-sizing: border-box

    display: flex
    flex-flow: row nowrap

    .navbar-left
        min-width: 7rem

        .logo-and-hamburger-container
            display: flex
            justify-content: space-between
            align-items: center
            width: 250px
            height: 100%

            .logo-wrapper
                flex: 1
                display: flex
                align-items: center
                height: 100%
                padding-left: 1.25rem
                cursor: pointer
                outline: none
                img
                    max-height: 100%
                    max-width: 100%
                    width: var(--logo-width, 100%)
                    object-fit: contain

            .hamburger-toggle
                flex: 0 0 auto
                padding: 0 .5rem
                cursor: pointer

    .navbar-left, .navbar-right
        flex: 0 0 auto
        display: flex
        flex-flow: row nowrap
        align-items: center

    .navbar-right
        margin-left: auto
        flex-shrink: 0 0 auto
        > *
            margin: 0 0 0 1rem

    .template-company-warning
        font: 400 14px var(--font-family)
        background: var(--alert-warn)
        color: var(--alert-warn-text-color)
        padding: 8px 14px
        border-radius: var(--section-radius)
        cursor: default
        user-select: none

    .demo-company-notifier
        font: 400 14px var(--font-family)
        padding: 8px 14px
        border-radius: var(--section-radius)
        cursor: pointer
        user-select: none
        background: var(--alert-warn)
        color: var(--alert-warn-text-color)
        margin-right: .5rem

        a
            color: var(--alert-warn-link-color)
            text-decoration: underline
            margin-left: 8px
            font-weight: 500

        &.expired
            font-weight: 500
            background: var(--alert-bad)
            color: var(--alert-bad-text-color)
            a
                color: var(--alert-bad-link-color)



    i.material-icons, uni-icon
        user-select: none
        color: var(--navbar-icon-color)
        cursor: pointer
        vertical-align: middle

.settings-overview-link
    padding: 1rem
    font-size: 14px
    text-align: center
    border-top: 1px solid #CCC
    a
        color: var(--color-c2a)
        font-size: 15px
        font-weight: 500

.bureau-link
    cursor: pointer
    vertical-align: middle

navbar-create-new
    display: block

uni-tabstrip
    flex-grow: 1

.navbar-settings
    i.material-icons
        line-height: 2.5rem
        vertical-align: middle
        cursor: pointer

@include media(large, max-width)
    uni-tabstrip
        flex-grow: 2
        flex-shrink: 1

        overflow-x: hidden
        @media (pointer:coarse)
            overflow-x: scroll

            .navbar_tabs li
                flex-shrink: 0

        li
            min-width: 1.5rem


@media screen and (max-width: 560px)
    .navbar-left
        min-width: unset !important
        .hamburger-toggle
            display: none

    .navbar-right
        navbar-create-new,
        .navbar-search,
        .bureau-link
            display: none
