.company-bank-account-form
	label.uni-label
		margin-bottom: .25rem !important
		span
			font-weight: 500 !important

.side-menu-container
	position: fixed
	right: 0
	top: 0
	z-index: 999
	width: 36rem
	background-color: white
	height: 100vh
	padding: 2rem 3rem
	border-left: 2px solid var(--border-color)
	overflow-x: hidden
	overflow-y: auto

	header
		display: flex
		font-size: 22px
		font-weight: 500
		margin-bottom: 2rem

.integrations-container
	margin-top: 3rem
	header
		font-size: 18px

		span
			float: right
			font-size: 16px
			border: 1px solid #ccc
			border-radius: 2rem
			padding: 0 1rem
			font-weight: 200

			&.active
				background-color: #28B482
				color: white

	.integrations
		display: flex
		padding: .75rem 2rem
		border: 1px solid #D2F0E9
		border-radius: 3px
		margin-bottom: 1rem

		&.active
			background-color: #D2F0E9

		span
			font-size: 16px

			&.title
				flex: 1

		i
			color: var(--color-good)



