<section *ngIf="ticker && prefetchDataLoaded && canShowTicker">
    <!-- Main ticker header -->
    <section *ngIf="!parentModel; else subTickerHeader" class="ticker-horizontal-menu">
        <a *ngFor="let action of getTickerActions()"
            (click)="onExecuteAction(action)"
            [hidden]="action.DisplayInActionBar != null && !action.DisplayInActionBar">
            {{action.Name}}
        </a>
    </section>

    <!-- Sub ticker header (ng else) -->
    <ng-template #subTickerHeader>
        <section class="ticker-header" [ngClass]="{'sub-ticker': !!parentModel}">
            <span class="ticker-title" *ngIf="ticker.Name">{{ticker.Name}}</span>

            <uni-context-menu
                *ngIf="contextMenuItems?.length"
                [actions]="contextMenuItems"
                class="ticker-context-menu">
            </uni-context-menu>

            <button *ngIf="openAction"
                    type="button"
                    class="sub-ticker-open-button"
                    (click)="onExecuteAction(openAction)">
                Åpne
            </button>
        </section>
    </ng-template>

    <section class="ticker-data">
        <section class="data-container">
            <ag-grid-wrapper *ngIf="ticker.Type === 'table'"
                [resource]="lookupFunction"
                [columnSumResolver]="columnSumResolver"
                [config]="tableConfig"
                (columnsChange)="onColumnsChange($event)"
                (rowSelectionChange)="onRowSelectionChange($event)">
            </ag-grid-wrapper>

            <div *ngIf="ticker.Type !== 'table'">
                <uni-ticker-detail-view
                    [ticker]="ticker"
                    [model]="model"
                    [columnOverrides]="columnOverrides">
                </uni-ticker-detail-view>
            </div>
        </section>
    </section>
</section>
