<section *ngIf="ticker && prefetchDataLoaded && canShowTicker">
    <section class="ticker-header" [ngClass]="{'sub-ticker': !!parentModel}">
        <span class="ticker-title" *ngIf="header?.length">{{header}}</span>
        <uni-ticker-actions
            *ngIf="ticker.Actions?.length || (ticker.UseParentTickerActions && parentTicker?.Actions?.length)"
            [ticker]="ticker"
            [model]="model"
            [actions]="getTickerActions()"
            [actionOverrides]="actionOverrides"
            (executeAction)="onExecuteAction($event)"
            [isSubTicker]="!!parentModel">
        </uni-ticker-actions>
    </section>

    <section class="ticker-data">
        <section class="data-container" (click)="letUniTableHandleIsOwnClicks($event)">
            <uni-table
                *ngIf="ticker.Type === 'table'"
                [resource]="lookupFunction"
                [config]="tableConfig"
                (rowSelected)="onRowSelected($event)">
            </uni-table>

            <div *ngIf="ticker.Type !== 'table'">
                <uni-ticker-detail-view
                    [ticker]="ticker"
                    [model]="model"
                    [columnOverrides]="columnOverrides">
                </uni-ticker-detail-view>
            </div>
        </section>
    </section>
</section>

<image-modal></image-modal>
