uni-marketplace
    uni-marketplace-integrations .add-on-background-image
        background: url('assets/marketplace/integration/integrasjon_header.png') no-repeat center center
        background-size: cover
        background-position: 0 0

    uni-marketplace-integrations .add-on-details-background-image
        background: url('assets/marketplace/integration/integrasjon_header.png') no-repeat center center
        background-size: cover
        background-position: 0 0

    .integration-main

        & > h1
            margin: 0
            display: block
            text-align: center
            padding-top: 1rem
            padding-bottom: 3rem
            font-weight: 900
            width: 100%
            background-color: white

    .integration-main
        .inner-container
             section
                width: 100%
        .header
            padding-bottom: 0
            padding-bottom: 1rem
            background-color: white
            text-align: center
            margin: 0 auto

            h1,p
                margin: 0
                color: white
                font-weight: 400
            h1
                padding-top: 2rem
                padding-bottom: 2rem
                font-size: 2.6rem
            p
                font-size: 1.8rem
                font-weight: 400
                line-height: 2rem
                margin: 0 auto
                max-width: 55rem
                padding-bottom: 2rem
            button
                color: white
                background-color: transparent
                border: 0.1rem solid
                font-size: 2rem
                padding: 1rem 3rem
                margin-bottom: 1.5rem

    .integration-item
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        width: 100%
        padding: 5.5rem 0

        &.img-left-side
            background-color: white
            & > img
                order: 0
            & > .text-section
                padding-left: 2.7rem
        &.img-right-side
            & > img
                order: 1
            & > .text-section
                padding-right: 2.7rem

        img
            width: 15rem

        .text-section
            width: 30%

            h1
                margin: 0
                font-weight: bold
                color: $uni-color-positive
                line-height: 2.5rem
            p
                text-align: left
                padding-bottom: 0.7rem
                margin: 0
                color: $uni-color-positive
            a
                display: block
                width: 100%
                text-align: left
                color: $uni-color-link
                text-decoration: none
                font-weight: bold
