uni-marketplace

    .integration-main

        & > h1
            margin: 0
            display: block
            text-align: center
            padding-top: 1rem
            padding-bottom: 3rem
            font-weight: 900
            width: 100%
            background-color: white

    .integration-main
        .inner-container
             section
                width: 100%
        .header
            padding-bottom: 0
            padding-bottom: 1rem
            background-color: white

            p
                width: 41rem

            .buttons
                width: 100%
                display: flex
                justify-content: flex-end
                align-items: center
                padding: 0

    .integration-item
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        width: 100%
        padding: 5.5rem 0

        &.img-left-side
            background-color: white
            & > img
                order: 0
            & > .text-section
                padding-left: 2.7rem
        &.img-right-side
            & > img
                order: 1
            & > .text-section
                padding-right: 2.7rem

        img
            width: 15rem

        .text-section
            width: 30%

            h1
                margin: 0
                font-weight: bold
                line-height: 2.5rem
            p
                text-align: justify
                padding-bottom: 0.7rem
                margin: 0
                color: $uni-color-c2a
            a
                display: block
                width: 100%
                text-align: right
                color: $uni-color-warn
                text-decoration: none
                font-weight: bold
