uni-marketplace-add-ons
    .add-on-background-image
        background: url('assets/marketplace/modules/header_moduler.png') no-repeat center center
        background-size: cover
        background-position: 0 0

    .add-on-details-background-image
        background: url('assets/marketplace/modules/header_moduler.png') no-repeat center center
        background-size: cover
        background-position: 0 0

    .marketplace-add-ons
        p
            color: $uni-color-positive

    .package-deal-container
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        justify-content: center
        align-items: center
        padding: 5rem
        color: white
        background: $uni-color-c2a
        > h1
            margin: 0
            font-weight: 700
            font-size: 2.1rem
            line-height: 4rem

        > p
            font-size: 2rem
            margin-top: 0
            margin-bottom: 1rem
            color: $uni-color-c2a
        > img
            width: 32rem
            padding: 2rem
        > button
            background-color: transparent
            color: white
            border-radius: 0
            margin-top: 1rem
            font-weight: 400
            font-size: 1.5rem
            text-shadow: none
            border: 0.01rem solid


    .header
        padding-bottom: 9rem
        background-color: white

        .add-on-background-image
            text-align: center
        h1
            padding-top: 3rem
        h1,h2
            margin: 0
            color: white
            font-weight: 400
            font-size: 2rem
        p
            color: $uni-color-c2a
        a
            color: $uni-color-warn
        button
            color: white

        & > img
            max-height: 100%
            max-width: 100%

        .background
            width: 100%
            height: 27rem

        .inner-container
            display: flex
            flex-direction: row
            flex-wrap: nowrap
            justify-content: space-between
            align-content: space-between
            align-items: center
            width: 76rem
            margin: -15rem auto 1.3rem
            background: white

            h1,h2
                font-weight: bold
                line-height: 2rem
                color: $uni-color-positive
            h2
                padding-bottom: 1rem
                font-size: 1.8rem

            p
                font-size: 1.2rem
                margin: 0
                color: $uni-color-positive

            img
                width: 50%
                padding: 5rem 1rem 2rem 3rem

            section
                padding: 3rem
