uni-marketplace
    color: $uni-color-c2a

    a
        cursor: pointer
        text-decoration: underline

    .title
        margin-top: -4.5rem
        padding-bottom: 2rem
        padding-top: 1.9rem
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: center
        align-content: center
        align-items: center
        background-color: #FFFFFF

        span
            height: 2rem

        span:nth-child(1)
            font-size: 3.5rem
            font-weight: bold
            color: $uni-color-legend2

        span:nth-child(2)
            font-size: 3.5rem
            color: $uni-color-c2a

        span:nth-child(3)
            padding-left: 0.5rem
            font-size: 2rem
            display: flex
            align-items: flex-end
            color: $uni-color-c2a

    .header
        padding-bottom: 3rem
        background-color: $uni-color-negative

        p
            color: $uni-color-c2a
        a
            color: $uni-color-warn
        button
            color: white

        & > img
            max-height: 100%
            max-width: 100%

        .background
            width: 100%
            height: 25rem

        .add-on-background-image
            background: url('assets/marketplace/addOns/bg_banner.png') no-repeat center center
            background-size: cover

        .add-on-details-background-image
            background: url('assets/marketplace/addOnsDetails/bg_banner.png') no-repeat center center
            background-size: cover

        .inner-container
            display: flex
            flex-direction: row
            flex-wrap: nowrap
            justify-content: space-between
            align-content: space-between
            align-items: center
            width: 76rem
            margin: -15rem auto 1.3rem
            background: white
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19)

            h1
                font-weight: bold
                line-height: 2.4rem
                margin: 0 0 2rem

            p
                font-size: 1.2rem
                margin: 0

            img
                width: 50%
                padding: 2rem 1rem 2rem 3rem

            section
                padding: 3rem
