uni-marketplace
    .marketplace-add-ons-details
        // Hide the 80px high margin on the bottom of all pages
        &:after
            height: 80px
            background-color: $uni-color-c2a
            position: absolute
            overflow: hidden
            left: 0
            right: 0
            content: ' '

        .add-on-details-background-image.regnskap_header
            background: url('assets/marketplace/modules_details/regnskap_header.png') no-repeat center center
            background-size: cover
            background-position: 0 0
        .add-on-details-background-image.salg_header
            background: url('assets/marketplace/modules_details/salg_header.png') no-repeat center center
            background-size: cover
            background-position: 0 0
        .add-on-details-background-image.lonn_header
            background: url('assets/marketplace/modules_details/lonn_header.png') no-repeat center center
            background-size: cover
            background-position: 0 0
        .add-on-details-background-image.time_header
            background: url('assets/marketplace/modules_details/time_header.png') no-repeat center center
            background-size: cover
            background-position: 0 0

        .app-containers
            background-color: $uni-color-c2a

        .sub-apps-heading
            color: $uni-color-positive
            background-color: white
            margin: 0
            padding: 1rem

        .app-containers.sub-app-containers
            background-color: white

        .app-containers.sub-app-containers
            .app-container
                margin-top: 2rem

    .price-containers-header
        display: block
        width: 100%
        text-align: center
        font-size: 2rem
        line-height: 2.4rem
        margin: 0
        padding-top: 3rem
        padding-bottom: 1rem
        font-weight: bold
        color: $uni-color-positive
        background-color: transparent

    .price-containers
        text-align: center
        width: 60%
        padding-bottom: 4rem
        padding-left: 20%
        padding-right: 20%
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-around
        align-items: stretch
        background-color: transparent

    .price-container
        margin-top: 2.5rem
        margin-left: 4rem
        margin-right: 4rem
        width: 16rem
        order: 0
        flex: 0 1 auto
        align-self: auto
        cursor: pointer
        box-shadow: -0.6rem 0.6rem 0 0 $uni-color-scale9

    .price-header
        text-align: center
        background-color: $uni-color-toolbar
        line-height: 3rem
        font-size: 1.4rem
        color: white

    .price-body
        text-align: center
        background-color: white
        h3
            padding-top: 3rem
            font-size: 3rem
            line-height: 3rem
            margin: 0
            color: $uni-color-positive
            font-weight: 600

        ul
            padding-top: 0.4rem
            margin: 0
            list-style: none
            color: $uni-color-c2a
            font-size: 1.5rem
            padding-bottom: 4rem

    .sub-app-containers
        background-color: $uni-color-positive

    .sub-apps-heading
        text-align: center
        font-weight: bold

    .suggested-products-heading
        display: block
        text-align: center
        width: 100%
        line-height: 3rem
        font-weight: bold
        background: $uni-color-c2a
        color: white
        margin: 0
        padding-top: 2rem


    .buy-section
        display: flex
        flex-wrap: wrap
        flex-direction: row
        justify-content: center
        padding: 2rem 0
        background-color: $uni-color-c2a

        .button-section
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

            *
                font-weight: 600
                color: white
                text-decoration: none
            button
                background-color: transparent
                color: white
                border-radius: 0
                margin-top: 1rem
                font-weight: 400
                font-size: 1.5rem
                text-shadow: none
                border: 0.01rem solid

        .icon-section
            margin-right: 1rem
            img
                max-height: 7rem

        .text-section
            display: flex
            flex-direction: column
            justify-content: center
            margin-right: 6rem

            span
                font-size: 2.5rem
                line-height: 3rem
                color: white
                margin: 0
                padding: 0
                font-weight: 300

            span:nth-child(2)
                font-weight: 600

