@import '~src/styles/unibase/colors/__colors.sass'

.uni-modal
    width: 40rem

article
    padding-right: 5rem !important

h2
    font: 500 16px var(--font-family)
    margin: 3rem 0 2rem

small
    display: block
