<section role="dialog" class="uni-modal uni-redesign">
    <header>Brukerinnstillinger</header>
    <article>
        <section *ngIf="busy" class="modal-spinner">
            <mat-spinner class="c2a"></mat-spinner>
        </section>

        <form *ngIf="userDetailsForm" [formGroup]="userDetailsForm">
            <label class="uni-label label-left">
                <span>Visningsnavn</span>
                <input formControlName="DisplayName" type="text">
            </label>

            <label class="uni-label label-left">
                <span>Telefonnummer</span>
                <input formControlName="PhoneNumber" type="tel">
            </label>

            <label class="uni-label label-left">
                <span>E-post</span>
                <input disabled formControlName="Email" type="email">
            </label>

            <label class="uni-label label-left">
                <span>Passord</span>
                <a [attr.href]="changePasswordUrl">Endre passord</a>
            </label>

            <label class="uni-label label-left">
                <span>To-faktor pålogging</span>
                <mat-slide-toggle
                    formControlName="TwoFactorEnabled"
                    [labelPosition]="'before'">
                </mat-slide-toggle>
            </label>
            <label *ngIf="userDetailsForm.value.TwoFactorEnabled" class="uni-label label-left auth-number">
                <span>To-faktor telefon</span>
                <select formControlName="CountryCode">
                    <option *ngFor="let countryCode of countryCodes; let i = index" 
                    [ngValue]="countryCode.dialCode">
                        {{ countryCode.name }} (+{{countryCode.dialCode}})
                    </option>
                </select>
                <input formControlName="AuthPhoneNumber" type="number" required>
            </label>
            <label
                *ngIf="user?.BankIntegrationUserName"
                class="uni-label label-left"
            >
                <span>Endre autobankpassord</span>
                <button
                    [disabled]="epostButtonClicked"
                    (click)="resetAutobankPassword(); epostButtonClicked=true;"
                >
                    Send E-post
                </button>
            </label>
        </form>
    </article>

    <footer>
        <button class="secondary" (click)="onClose.emit()">Avbryt</button>
        <button class="c2a" (click)="save()">Lagre</button>
    </footer>
</section>
