<section role="dialog" class="uni-modal uni-redesign">
    <header>Brukerinnstillinger</header>
    <article>
        <section *ngIf="busy" class="modal-spinner">
            <mat-spinner class="c2a"></mat-spinner>
        </section>

        <form *ngIf="userDetailsForm" [formGroup]="userDetailsForm">
            <label class="uni-label label-left">
                <span>Visningsnavn</span>
                <input formControlName="DisplayName" type="text">
            </label>

            <label class="uni-label label-left">
                <span>Telefonnummer</span>
                <input formControlName="PhoneNumber" type="tel">
            </label>

            <label class="uni-label label-left">
                <span>E-post</span>
                <input disabled formControlName="Email" type="email">
            </label>
        </form>

        <!-- Change autobank password -->
        <section *ngIf="user?.BankIntegrationUserName" class="reset-autobank-password">
            <strong>Endre autobank passord</strong>
            <form *ngIf="autobankPasswordForm" [formGroup]="autobankPasswordForm" autocomplete="off">
                <label class="uni-label label-left">
                    <span>Nåværende passord</span>
                    <input formControlName="currentPassword" type="password" autocomplete="new-password">
                </label>

                <label class="uni-label label-left">
                    <span>Nytt passord</span>
                    <input formControlName="newPassword" type="password" autocomplete="new-password">
                </label>

                <label class="uni-label label-left">
                    <span>Bekreft passord</span>
                    <input formControlName="confirmNewPassword" type="password" autocomplete="new-password">
                </label>
            </form>
            <small>Glemt passord? Autobank administrator kan nullstille fra Innstillinger > Brukere</small>
        </section>
    </article>

    <footer>
        <button class="secondary" (click)="onClose.emit()">Avbryt</button>
        <button class="c2a" (click)="save()">Lagre</button>
    </footer>
</section>