<uni-icon [icon]="'user'" [matMenuTriggerFor]="userMenu" matTooltip="Min profil"></uni-icon>

<mat-menu #userMenu="matMenu" yPosition="below" [overlapTrigger]="false">
    <ng-template matMenuContent>
        <section class="navbar-user-dropdown" (click)="$event.stopPropagation()">
            <section class="info-section">
                <h2>{{user?.DisplayName}}</h2>
            </section>

            <section class="info-section">
                <section class="info-field" *ngIf="user?.PhoneNumber">
                    <span>Telefon:</span>
                    <span>{{user?.PhoneNumber}}</span>
                </section>

                <section class="info-field">
                    <span>Epost:</span>
                    <span>{{user?.Email}}</span>
                </section>
            </section>

            <section class="info-section">
                <section class="info-field">
                    <span>Lisens:</span>
                    <span>{{licenseRole}}</span>
                </section>
            </section>

            <a routerLink="license-info" (click)="trigger?.closeMenu()">
                <i class="material-icons license-info">link</i>
                Lisensinformasjon
            </a>

            <a (click)="openUserSettingsModal()">
                <i class="material-icons">settings</i>
                Brukerinnstillinger
            </a>

            <a (click)="logOut()">
                <i class="material-icons">exit_to_app</i>
                Logg ut
            </a>
        </section>
    </ng-template>
</mat-menu>