@import '~src/styles/unibase/colors/__colors.sass'

\:host
    display: block
    height: 2.5rem

    i.material-icons
        line-height: 2.5rem
        vertical-align: middle
        cursor: pointer

.navbar-user-dropdown
    font-family: var(--font-family)
    font-size: 15px

    width: 18rem
    box-sizing: border-box
    padding: 8px 0

    > *
        padding: 0 1.25rem

    h2
        line-height: 25px
        margin: 0
        font-weight: normal
    p
        margin: 0

    .info-section
        display: block
        padding: .75rem 1rem
        border-bottom: 1px solid $uni-color-scale9

        &:first-of-type
            margin: 0
            padding: .5rem 1rem 1rem

        .info-field
            display: flex

            & .info-field
                margin-top: 5px

            span
                margin-right: 5px
                &:first-of-type
                    font-weight: 500

    a
        display: block
        color: var(--color-c2a)
        text-decoration: none
        margin-top: .5rem
        padding-left: 1rem

        i.material-icons
            font-size: 19px
            vertical-align: middle
            margin-top: -2px
            margin-right: .25rem
            color: #32414d

            &.license-info
                font-size: 21px
