@import '~src/styles/unibase/colors/__colors.sass'

\:host
    display: block
    height: 2.5rem
    width: 2rem
    i.material-icons
        line-height: 2.5rem
        vertical-align: middle
        cursor: pointer

.navbar-user-dropdown
    box-sizing: border-box
    padding: 8px 0

    > *
        padding: 0 1.25rem

    h2
        margin: 0
        font-weight: normal
    p
        margin: 0

    span.user-license
        display: block
        padding: .5rem 1rem
        margin: .75rem 0
        border-top: 1px solid $uni-color-scale9
        border-bottom: 1px solid $uni-color-scale9

    a
        display: block
        color: $uni-color-c2a
        text-decoration: none
        margin-top: .5rem
        padding-left: 1rem

        i.material-icons
            font-size: 19px
            vertical-align: middle
            margin-top: -2px
            margin-right: .25rem
            color: #32414d