@import '~src/styles/unibase/colors/__colors.sass'

.uni-modal
    width: 40rem

.auth-number
    select
        margin-right: 0.6rem
    input
        width: auto

.password-links
    span
        margin-bottom: auto
    a
        display: block
        & + a
            margin-top: .5rem