@import '~src/styles/unibase/colors/__colors.sass'

.uni-modal
    width: 40rem

h2
    font: 500 16px var(--font-family)
    margin: 3rem 0 2rem

small
    display: block

.reset-autobank-password strong
    display: block
    margin: 1.5rem 0
    
.auth-number
    select
        margin-right: 0.6rem 
    input
        width: auto