<nav class="navbar_hamburger">
    <ul class="navbar_menu">
        <li *ngFor="#componentList of availableComponents; #i = index" class="listElement" [ngClass]="{true:'is-active', false:''}[i==0]">
            {{componentList.componentListName}}
            <ul>
                <h3>{{componentList.componentListHeader}}</h3>
                <li *ngFor="#component of componentList.componentList" (click)="navigate(component.componentUrl)">
                    {{component.componentName}}
                </li>
            </ul>
        </li>
    </ul>
</nav>