<table-filters
    *ngIf="config?.searchable"
    [tableConfig]="config"
    [columns]="columns"
    [filters]="dataService?.advancedSearchFilters"
    [quickFilters]="quickFilters"
    (filtersChange)="onFiltersChange($event)">
</table-filters>
<mat-spinner diameter="20" *ngIf="useSpinner && dataService.isDataLoading"></mat-spinner>
<section #wrapper class="uni-ag-wrapper"
    *ngIf="rowModelType"
    [ngStyle]="{
        'height': tableHeight,
        'flex': config?.isGroupingTicker || config?.virtualScroll ? '1' : 'unset',
        'overflow': config?.editable ? 'unset' : 'hidden'
    }">

    <span
        *ngIf="config?.isGroupingTicker"
        role="button"
        class="expand-collapse-groups"
        (click)="expandCollapseAll()">
        Åpne/lukk alle grupper
    </span>

    <table-editor *ngIf="config?.editable"
        [agGridApi]="agGridApi"
        [config]="config"
        [columns]="columns"
        [rowHeight]="50"
        (valueChange)="onEditorChange($event)">
    </table-editor>

    <ag-grid-angular #agGrid
        [ngClass]="{
            'editable': config?.editable,
            'col-menu-hidden': config && !config.columnMenuVisible,
            'has-sum-row': !!(dataService?.sumRow$ | async),
            'multi-row-select': config?.multiRowSelect
        }"
        [columnDefs]="agColDefs"
        [getRowClass]="rowClassResolver"
        [pinnedBottomRowData]="dataService?.sumRow$ | async"
        [suppressPropertyNamesCheck]="true"

        [rowModelType]="rowModelType"
        [domLayout]="(localData && !config?.isGroupingTicker && !config?.virtualScroll) ? 'autoHeight' : 'normal'"

        [getRowNodeId]="getRowIdentifier"
        [enableColResize]="true"
        [enableSorting]="!config?.editable && !config?.rowDraggable"
        [enableServerSideSorting]="rowModelType === 'infinite'"

        [suppressNoRowsOverlay]="false"
        [suppressDragLeaveHidesColumns]="true"
        [headerHeight]="rowHeight"
        [rowHeight]="rowHeight"
        [rowDragManaged]="true"
        [suppressRowDrag]="!config?.rowDraggable"
        [cacheBlockSize]="cacheBlockSize"
        [animateRows]="true"
        [suppressMakeColumnVisibleAfterUnGroup]="config?.suppressMakeColumnVisibleAfterUnGroup"
        [suppressDragLeaveHidesColumns]="config?.suppressDragLeaveHidesColumns"
        [groupMultiAutoColumn]="!config?.isGroupingTicker"
        [autoGroupColumnDef]="config?.autoGroupColumnDef"
        [rowGroupPanelShow]="config?.rowGroupPanelShow"
        [blockLoadDebounceMillis]="250"
        [suppressContextMenu]="true"

        [pagination]="usePagination"
        [paginationPageSize]="config?.pageSize"
        (paginationChanged)="onPaginationChange($event)"

        (gridReady)="onAgGridReady($event)"
        (gridSizeChanged)="gridSizeChangeDebouncer$.next($event)"
        (columnResized)="colResizeDebouncer$.next($event)"
        (modelUpdated)="onAgModelUpdate($event)"
        (rowDragEnd)="onRowDragEnd($event)"
        (sortChanged)="onSortChange($event)"

        [rowSelection]="selectionMode"
        [suppressRowClickSelection]="selectionMode === 'multiple' || suppressRowClick"
        [isRowSelectable]="isRowSelectable"
        (selectionChanged)="onSelectionChange($event)"
        (rowSelected)="onRowSelected($event)"
        (rowClicked)="onRowClick($event)"
        (cellClicked)="onCellClick($event)"
        (columnMoved)="columnMoveDebouncer$.next($event)"
        (columnRowGroupChanged)="onColumnRowGroupChanged($event)"

        [context]="context"
        [frameworkComponents]="cellRendererComponents"
        [groupRowAggNodes]="aggregator"
        [localeText]="agTranslations">
    </ag-grid-angular>
</section>

<!-- Note that row-count appears twice in this file, make changes in both -->
<section *ngIf="!usePagination && !config?.hideRowCount" class="row-count" [ngClass]="{'absolute': !!(dataService?.sumRow$ | async)}">
    <span *ngIf="config?.showTotalRowCount && dataService?.totalRowCount$ | async"><strong>Antall rader:</strong> {{dataService?.totalRowCount$ | async}}</span>
    <span *ngIf="config?.multiRowSelect && sumMarkedRows"><strong>Sum markerte rader:</strong> {{ sumMarkedRows }} ({{ markedRowCount }} stk)</span>
    <span *ngIf="config?.multiRowSelect && !sumMarkedRows"><strong>Antall markerte rader:</strong> {{ markedRowCount }} stk</span>
</section>

<section *ngIf="usePagination" class="bottom-bar">
    <!-- Note that row-count appears twice in this file, make changes in both -->
    <section class="row-count" *ngIf="!config?.hideRowCount">
        <span *ngIf="config?.showTotalRowCount && dataService?.totalRowCount$ | async"><strong>Antall rader:</strong> {{dataService?.totalRowCount$ | async}}</span>
        <span *ngIf="config?.multiRowSelect && sumMarkedRows"><strong>Sum markerte rader:</strong> {{ sumMarkedRows }} ({{ markedRowCount }} stk)</span>
        <span *ngIf="config?.multiRowSelect && !sumMarkedRows"><strong>Antall markerte rader:</strong> {{ markedRowCount }} stk</span>
    </section>

    <section class="pagination" *ngIf="usePagination && paginationInfo?.pageCount > 1">
        <i class="material-icons" (click)="paginate('first')">first_page</i>
        <i class="material-icons" (click)="paginate('prev')">keyboard_arrow_left</i>

        <span class="pagination-info" *ngIf="paginationInfo">
            Side
            <input type="text" #pageInput
                [value]="paginationInfo.currentPage"
                (change)="paginationInputChange(pageInput.value)"
                (keydown.enter)="$event.stopPropagation()"
            />
            av {{paginationInfo.pageCount}}
        </span>

        <i class="material-icons" (click)="paginate('next')">keyboard_arrow_right</i>
        <i class="material-icons" (click)="paginate('last')">last_page</i>
    </section>
</section>
