<table-search
    *ngIf="config?.searchable"
    [tableConfig]="config"
    [columns]="columns"
    [configFilters]="dataService?.advancedSearchFilters"
    (filtersChange)="onFiltersChange($event)"
    (upOrDownArrows)="onFilterInputUpOrDownArrows($event)">
</table-search>

<section #wrapper class="uni-ag-wrapper"
    *ngIf="rowModelType"
    [ngStyle]="{'height': tableHeight}"
    (clickOutside)="clearEmptyRowsAndEmit()">

    <table-editor *ngIf="config?.editable"
        [agGridApi]="agGridApi"
        [config]="config"
        [columns]="columns"
        [rowHeight]="35"
        (valueChange)="onEditorChange($event)">
    </table-editor>

    <table-contextmenu
        [items]="config?.contextMenu?.items">
    </table-contextmenu>

    <ag-grid-angular #agGrid
        [ngClass]="{
            'editable': config?.editable,
            'col-menu-hidden': config && !config.columnMenuVisible
        }"
        [columnDefs]="agColDefs"
        [pinnedBottomRowData]="dataService?.sumRow$ | async"

        [rowModelType]="rowModelType"
        [domLayout]="domLayout"

        [getRowNodeId]="getRowIdentifier"
        [enableColResize]="true"
        [enableServerSideSorting]="true"

        [suppressNoRowsOverlay]="true"
        [suppressDragLeaveHidesColumns]="true"
        [headerHeight]="35"
        [rowHeight]="35"

        (gridReady)="onAgGridReady($event)"
        (gridSizeChanged)="onGridSizeChange($event)"
        (columnResized)="onColumnResize($event)"
        (modelUpdated)="onAgModelUpdate($event)"

        [rowSelection]="selectionMode"
        [suppressRowClickSelection]="selectionMode === 'multiple'"
        (selectionChanged)="onSelectionChange($event)"
        (rowClicked)="onRowClick($event)"
        (cellClicked)="onCellClick($event)"
        (columnMoved)="columnMoveDebouncer$.next($event)">
    </ag-grid-angular>
</section>
