uni-approvetask-modal article
    min-height: 6em
    max-width: pxToRem(600)
    
    table td:first-of-type
        padding-right: 4em

    footer 
        margin-top: 1em
    
        button
            min-width: 8em
            margin: 0 !important

        button:last-of-type
            margin-left: 1em