@import 'regtime/_regtime.sass'
@import 'inline/_inline.sass'

.cornerspinner
    position: absolute !important
    width: 3rem
    left: pxToRem(4)
    top: pxToRem(4)

.visiblecheckbox
    display: inline !important
    width: 1em