@import 'regtime/_regtime.sass'
@import 'regtime/_sidemenu.sass'
@import 'workeditor/_workeditor.sass'
@import 'teamworkreport/_teamworkreport.sass'
@import 'timetable/_timetable.sass'
@import '_approvaltaskmodal.sass'
@import 'transfer-wizard/_transfer-wizard.sass'

.cornerspinner
    position: absolute !important
    width: 3rem
    left: pxToRem(4)
    top: pxToRem(4)

.visiblecheckbox
    display: inline !important
    width: 1rem
    height: 1rem

genericdetail
    form, uni-field
        margin: 0


timetracking-import-modal
    label.worktype-select
        display: block
        margin-top: 1rem
        select
            display: block
            width: 12rem
            margin-top: .5rem

    .timeentry-import-validation
        margin-left: 1rem
        .material-icons
            vertical-align: middle
            margin-top: -4px

            &.good
                color: var(--color-good)
            &.bad
                color: var(--color-bad)

regtimetotals .filter-row
    display: flex
    align-items: center
    margin-bottom: 2rem
    .dropdown-toggle
        margin-right: 1.5rem
        strong
            margin-right: .5rem
        i.material-icons
            font-size: 21px
