.filter-nav
    margin: 0 0 pxToRem(5) 0
    width: 100%

    ul
        margin: 0
        width: 100%
        overflow: hidden
        list-style: none
        display: flex
        flex-direction: row
        align-items: right

        li
            padding: pxToRem(5) 1em pxToRem(5) 1em
            border-color: $navbarBackground
            border-style: solid
            border-width: pxToRem(1) 0 pxToRem(1) pxToRem(1)
            cursor: pointer

            &:first-of-type
                border-radius: 7px 0 0 7px

            &:last-of-type
                border-radius: 0 7px 7px 0
                border-width: pxToRem(1) pxToRem(1) pxToRem(1) pxToRem(1)
            
            &.is-active, &:hover
                background: $navbarBackground
                color: $navbarTextColor


.wait-cursor 
    cursor: wait !important

    td
        cursor: wait !important
