\:host
    display: flex
    flex-direction: column
    position: fixed
    top: 0
    right: 0
    width: 100vw
    height: 100vh
    background: rgba(0, 0, 0, 0.25)
    z-index: 999

.list-container
    height: 100%
    max-width: 60vw
    min-width: 30rem
    background: #fff
    box-shadow: -1px 0px 1px 0 rgba(0, 0, 0, 0.14)
    margin-left: auto
    border-radius: 0

    .header
        margin: 2rem 1.5rem
        display: flex
        font-size: 14px
        .name-and-type
            display: flex
            flex-direction: column
            .name
                font-size: 22px
            .type
                color: var(--scale1)
                margin-top: 4px

        .email
            margin-left: auto
            i.material-icons-outlined
                margin-right: 4px

    mat-spinner
        margin: 8rem auto 0

    .grid-wrapper
        height: 100%
        overflow: auto

    .grid
        display: grid
        font-size: 14px

        .header-cell, .cell
            white-space: nowrap
            height: fit-content
            padding: 0 1rem
            height: 3.5rem
            line-height: 3.5rem
            min-width: 5rem

            &.company
                max-width: 20rem
                overflow: hidden
                text-overflow: ellipsis
                padding-left: 1.5rem

        .header-cell
            position: sticky
            top: 0
            background: var(--alt-table-header-background)
            border-bottom: var(--alt-table-header-border)
            font-weight: 500
            color: var(--alt-table-header-color)

        .cell
            border-bottom: var(--alt-table-body-border)

        i
            color: var(--scale1)
            &.active
                color: var(--color-c2a)
