@import '~src/styles/unibase/colors/__colors.sass'
@import '~src/styles/unibase/helpers/_zindex.sass'

$navbar-height: 2.75rem

\:host
    user-select: none
    display: flex
    max-height: $navbar-height
    overflow-y: hidden
    margin-left: 1rem

.navbar-link-toggle
    .hamburger-toggle
        overflow: hidden
        vertical-align: middle
        color: #fff
        padding: 0 .5rem
        cursor: pointer
        line-height: $navbar-height

.navbar-link-dropdown
    position: fixed
    top: $navbar-height
    left: 0
    width: 100%
    max-height: calc(100vh - #{$navbar-height})
    overflow-y: auto
    background: #fff
    z-index: 999
    box-sizing: border-box
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.14)

    .link-groups
        display: flex
        flex-flow: row wrap
        padding: .75rem .25rem

        .link-group
            flex: 0 0 12rem
            padding: 0 1.5rem

            .hamburger-link-header
                cursor: pointer
                &:hover
                    text-decoration: underline

            > ul
                list-style-position: unset

            > span
                display: block
                margin-top: .5rem
                font-weight: bold
                font-size: 17px
                color: $uni-color-c2a
                text-transform: uppercase

                + ul
                    margin-top: .25rem

        a
            text-decoration: none
            color: $uni-color-scale2
            &:hover
                text-decoration: underline
                color: $uni-color-link

    .navbar-options
        color: $uni-color-scale2
        border-top: 1px solid $uni-color-scale9
        padding: .5rem 1rem
        font-size: 15px

        .toggle-navbar-mode
            cursor: pointer

            img
                float: left
                height: 1rem
                margin-top: 4px
                margin-right: .5rem
                &.dock-top
                    transform: rotate(90deg)
