@import '~src/styles/unibase/colors/__colors.sass'
.regulative-upload-info-note
    display: grid
    grid-template-columns: auto auto
    background-color: lighten($uni-color-warn, 50%)
    margin: 1rem 0
    .regulative-info-icon
        margin: 1rem 0 0 1rem

