// The Inbox-file is where quick hot fixes, temporary solutions or code by more inexperienced users go.
// (For instance, if code needs to be pushed before we've had time for a proper code review, the Sass changes should stay here.)

// It should be emptied out regularly by an experienced Sass developer.

kitchensink label
  @include unigrid-flush(5)

.application
  @include unigrid-flush(14)
  margin: 0 auto

body
  background: $uni-color-negative

  fieldset
    margin-top: -.5rem
    display: inline-block

    label
      width: calc(100% - 2rem)


.column-align-right
  text-align: right

.full-footer    
  width: 100%  
  height: pxToRem(45)
  position: fixed
  bottom: 0  
  border-top: 1px solid $uni-color-scale9
  background-color: transparentize($uni-color-scale9, .2)
  
.full-footer button
  float: right
  
.auto_save_info
  color: $uni-color-scale5
  float: right
  font-style: italic
  margin-top: pxToRem(8)
  margin-left: pxToRem(15)   

.hidden
  display: none  

uni-form
  .max-width
    width: 95% !important 
    
.poster_toolbar
  h1    
    margin-bottom: pxToRem(0)
    
  p
    margin-top: pxToRem(0)    
    