// The Inbox-file is where quick hot fixes, temporary solutions or code by more inexperienced users go.
// (For instance, if code needs to be pushed before we've had time for a proper code review, the Sass changes should stay here.)

// It should be emptied out regularly by an experienced Sass developer.

.column-align-right
  text-align: right

.hidden
  display: none

uni-form
  .max-width
    @include unigrid-flush(16)

  .half-width
    @include unigrid-flush(8)

  .less-than-half
    width: 47%

  .quarter-width
    @include unigrid-flush(4)

%popover
  display: none
  position: absolute
  max-width: 30rem
  color: $uni-color-positive
  background: $uni-color-negative
  border: 1px solid var(--border-color)
  box-shadow: var(--dropdown-shadow)
  border-radius: pxToRem(5)
  min-width: 13rem
  z-index: map-get($zindex, hamburger)

%popover-active
  display: block
