.tree_list
  list-style: none
  padding-left: 2rem
  
  .button_icon_expanded
    cursor: pointer
    padding-left: 1.6rem
    background-image: unicon-minus($uni-color-positive)
    background-repeat: no-repeat
    background-size: 1rem
    background-position: 0rem 0.5rem

  .button_icon_collapsed
    cursor: pointer
    padding-left: 1.6rem
    background-image: unicon-plus($uni-color-positive)
    background-repeat: no-repeat
    background-size: 1rem  
    background-position: 0rem 0.2rem

  div
    margin-bottom: 10px

    h5
      cursor: pointer
      margin: 0
      padding: 0