body
    height: 100vh
    width: 100vw
    max-width: 100vw
    max-height: 100vh
    overflow: hidden

    // Sidebar width variables
    --sidebar-collapsed-width: 4rem
    --sidebar-expanded-width: 240px
    @media screen and (max-width: 1300px)
        --sidebar-expanded-width: 220px


.application
    width: calc(100% - 1rem)
    margin: .75rem auto 0
    box-sizing: border-box
    padding: 0 1rem

.sidebar-hidden .application
    width: 90% // TODO: responsiveness
    @include media(1500px)
        width: 100% //98%
        padding: 0 1.75rem

.mat-menu-panel
    max-width: none !important

#page-container
    display: flex
    width: 100%
    height: 100vh
    max-width: 100vw
    max-height: 100vh
    padding-top: var(--navbar-height)
    flex-direction: row
    flex-wrap: nowrap
    box-sizing: border-box

    uni-sidebar
        flex: 0 0 var(--sidebar-expanded-width)

    #page-content-container
        flex: 1 0 auto
        position: relative
        height: 100%
        display: block
        overflow: auto
        overflow-x: hidden
        box-sizing: border-box
        margin: 0
        max-height: 100%
        max-width: calc(100vw - #{var(--sidebar-expanded-width)})

    uni-toolbar
        max-width: calc(100vw - #{var(--sidebar-expanded-width)})

    &.sidebar-collapsed
        uni-sidebar
            flex-basis: var(--sidebar-collapsed-width)

        #page-content-container,
        uni-toolbar
            max-width: calc(100vw - #{var(--sidebar-collapsed-width)})

    &.sidebar-hidden
        uni-sidebar
            display: none

        #page-content-container,
        uni-toolbar
            max-width: 100vw

.chatboxes
    position: absolute
    z-index: 10
    bottom: 0
    right: 4rem
    display: inline-flex
    align-items: flex-end


.fixed-position-toolbar
    padding-top: 5.5rem
    uni-toolbar
        position: fixed
        top: var(--navbar-height)
        width: 100%
        height: 5.5rem

//Jorge comment: added at first time in annual-settlement check-list component, I guess that would be standard
.page-navigation
    display: flex
    align-items: center
    justify-content: flex-start
    & > i
        width: pxToRem(20px)
        height: pxToRem(20px)
    h5
        font-weight: 600
        font-size: pxToRem(22px)
        line-height: pxToRem(35.2px)
        margin: 0 pxToRem(10px)
    h4
        margin-left: auto
        font-weight: 700
        font-size: pxToRem(24px)
        line-height: pxToRem(38.4px)
        letter-spacing: pxToRem(0.25px)
    .page-navigation-button
        border-radius: pxToRem(4px)
        border: 1px solid #CCCCCC
        color: var(--primary)
        padding: pxToRem(16px)
        display: flex
        align-items: center
        justify-items: center
        &:active, &:focus, &:focus-within
            text-decoration: none
        & > i
            width: pxToRem(16px)
            height: pxToRem(16px)
            color: var(--primary)
            position: relative
            bottom: 4px
            right: 3px
