<div class="authentication_component">
	<img src="http://www.unimicro.no/templates/images/x-logo.png" alt="Uni Economy logo">
    
    <!--<div *ngIf="!authService.authenticated" class="login">
        hei1
    </div>
    
    <div *ngIf="authService.authenticated && !authService.companySelected" class="company_select">
        hei2
    </div>-->
    
    
	<form id="loginForm" class="login_form" (submit)="login($event)">
        <input type="text" [disabled]="working" [(ngModel)]="credentials.username" placeholder="Username">
		<input type="password" [disabled]="working" [(ngModel)]="credentials.password" placeholder="Password">
		
		<button class="c2a" [attr.aria-busy]="working" [disabled]="working">Sign in</button>
	
	</form>
    
    <p>Don't have an account? <a [routerLink]="['Signup']">Register</a></p>
	
    <span class="company_select">
        <select style="display: none;"></select> <!-- kendo dropdownlist will compile here -->        
    </span>  
	
</div>
