<div class="login_component">
	
	<form id="loginForm" class="login_form" (submit)="authenticate($event)">
		
		<p>{{errorMessage}}</p>
		<input type="text" [(ngModel)]="credentials.username" placeholder="Username">
		<input type="password" [(ngModel)]="credentials.password" placeholder="Password">
		
		<button class="c2a">Login</button>
	
	</form>
	
	<!--<company-select id="company_select"></company-select>-->
    <span class="company_select">
        <select style="display: none;"></select> <!-- kendo dropdownlist will compile here -->        
    </span>  
	
</div>