<div class="authentication_component">
    <img src="../../../assets/uni-logo.png" alt="Uni Economy logo">
    
    <p>{{errorMessage}}</p>
    <form id="signupForm" class="login_form" (submit)="signup($event)">
        <input type="text" [(ngModel)]="user.CompanyName" placeholder="Company name">
        <input type="text" [(ngModel)]="user.Name" placeholder="Full name">
        <input type="email" [(ngModel)]="user.Email" placeholder="Email">
        <input type="text" [(ngModel)]="user.UserName" placeholder="Username">
        <input type="password" [(ngModel)]="user.Password" placeholder="Password">
    
        <button type="submit" class="c2a">Register</button>
    </form>
    
    <p>Already have an account? <a [routerLink]="['Login']">Log in</a></p>
</div>