<section class="project-router-outlet">
    <div class="project-header">
        <div class="header-name-and-company">
            <h3 class="project-header-name"> {{ project?.ProjectNumber }} - {{ project?.Name }} </h3>
            <span> {{ customerName }} </span>
        </div>
        <div class="header-numbers-info" *ngIf="projectService?.hasJournalEntryLineModule">
            <mat-form-field>
                <mat-select [value]="currentChartFilter" (valueChange)="onActiveChartFilterChange($event)" placeholder="Grafdata - periode">
                    <mat-option *ngFor="let filter of chartFilters" [value]="filter">
                        {{ filter.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select [value]="currentChartDataTypeFilter" (valueChange)="onActiveChartTypeFilterChange($event)" placeholder="Datavisning">
                    <mat-option *ngFor="let filter of chartTypeFilters" [value]="filter">
                        {{ filter.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="project-body" style="display: flex;">
        <div class="quick-access-numbers" style="flex: 0 1 auto; width: 20%;">
            <div>
                <p>Startdato</p>
                <h3 class="project-dash-dates">{{ getDates('start') }}</h3>
            </div>
            <div>
                <p>Sluttdato</p>
                <h3 class="project-dash-dates">{{ getDates('end') }}</h3>
            </div>
            <div *ngIf="projectService?.hasOrderModule">
                <p>Ordrereserve:</p>
                <h3 [ngClass]="getQANClass(orderReserve)" (click)="onNavigate('/dimensions/projects/orders', true)"> {{ orderReserve }}</h3>
            </div>
            <div *ngIf="projectService?.hasSupplierInvoiceModule">
                <p>Ubetalte regninger</p>
                <h3 [ngClass]="getQANClass(unpayedBills, true)" (click)="onNavigate('/dimensions/projects/supplierinvoices', true)"> {{ unpayedBills }} </h3>
            </div>
            <div *ngIf="projectService?.hasJournalEntryLineModule">
                <p>Løpende resultat</p>
                <h3 [ngClass]="getQANClass(resultSoFar)" (click)="onNavigate('/accounting/accountingreports/dimensions?dimtype=1')"> {{ resultSoFar }} </h3>
            </div>

        </div>
        <div class="chart-container">
            <canvas #chartElement1 *ngIf="projectService?.hasJournalEntryLineModule"> </canvas>
            <h4 *ngIf="!projectService?.hasJournalEntryLineModule" style="font-size: 1.2rem; font-weight: 400; text-align: center;"> Manglende tilganger for å se nøkkeltall for prosjekt </h4>
        </div>
    </div>
    <section class="project-overview-timeline-container">
    </section>
</section>
