<uni-toolbar [config]="toolbarConfig"
             [saveactions]="actions"
             [commentsConfig]="commentsConfig"
             class="no-print">
</uni-toolbar>

<aside class="horizontal_nav no-print">
    <ul>
        <li class="unigrid-small-true unigrid-huge-false unigrid-large-false unigrid-medium-false" >
            <a (click)="onTabClick(tabs[0])" [ngClass]="{'router-link-active': tabs[0].isSelected}" >{{tabs[0].label}}</a>
        </li>
        <li *ngFor="let tab of tabs" [hidden]="tab.isHidden" >
            <a (click)="onTabClick(tab)" [ngClass]="{'router-link-active': tab.isSelected}" >
                {{tab.label}}
                <span *ngIf="tab.count" class="tab_counter">{{tab.count}}</span>
            </a>
        </li>
    </ul>
</aside>

<section class="application split-tabs-parent" [attr.aria-busy]="busy" >
    <section class="split-tabs">
        <aside>
            <uni-form
                [config]='formConfig'
                [fields]='fields$'
                [model]='current'
                (changeEvent)="onFormChange($event)">
            </uni-form>
            <article class="collapsable no-topmargin no-horzmargins" [ngClass]="{'-is-open': !collapseSimpleJournal}">
                <h4 class="no-topmargin" (click)="collapseSimpleJournal = !collapseSimpleJournal">Kontering</h4>
                <div class="collapsable-content">
                    <bill-simple-journalentry class="no-topmargin" [supplierinvoice]="current" (valueChange)="onEntryChange($event)" ></bill-simple-journalentry>
                </div>
            </article>
        </aside>
        <div [hidden]="!tabs[1].isSelected">
            <div *ngIf="!(current | async)?.ID">
                <uni-image [singleImage]="true" [uploadWithoutEntity]="'true'" [fileIDs]="fileIds"
                    (fileListReady)="onFileListReady($event)"
                    (imageClicked)="onImageClicked($event)">
                </uni-image>
            </div>
            <uni-image *ngIf="(current | async)?.ID" [entity]="'SupplierInvoice'" [entityID]="(current | async)?.ID"
                (fileListReady)="onFileListReady($event)"
                (imageClicked)="onImageClicked($event)" >
            </uni-image>
        </div>

        <div [hidden]="!tabs[4].isSelected">
            <uni-bill-history [isActive]="tabs[4].isSelected" [supplierID]="(current | async)?.SupplierID" [parentID]="(current | async)?.ID" >
            </uni-bill-history>
        </div>
    </section>
</section>
<register-payment-modal></register-payment-modal>
<uni-confirm-modal></uni-confirm-modal>
<bankaccount-modal></bankaccount-modal>
<image-modal></image-modal>
