<uni-toolbar [config]="toolbarConfig"
             [saveactions]="actions"
             [commentsConfig]="commentsConfig"
             class="no-print">
</uni-toolbar>

<nav class="horizontal_nav no-print">
    <ul>
        <li class="unigrid-small-true unigrid-huge-false unigrid-large-false unigrid-medium-false" >
            <a (click)="onTabClick(tabs[0])" [ngClass]="{'router-link-active': tabs[0].isSelected}" >{{tabs[0].label}}</a>
        </li>
        <li *ngFor="let tab of tabs" [hidden]="tab.isHidden" >
            <a (click)="onTabClick(tab)" [ngClass]="{'router-link-active': tab.isSelected}" >
                {{tab.label}}
                <span *ngIf="tab.count" class="tab_counter">{{tab.count}}</span>
            </a>
        </li>
    </ul>
</nav>

<section class="application">
    <fieldset>
        <legend>Kjøpsfaktura</legend>

        <uni-form
            [config]='formConfig'
            [fields]='fields$'
            [model]='current'
            (readyEvent)="onFormReady($event)"
            (changeEvent)="onFormChange($event)"
            (inputEvent)="onFormInput($event)"
            (focusEvent)="onFocusEvent($event)">
        </uni-form>

        <article class="collapsable" [ngClass]="{'-is-open': !collapseSimpleJournal}">
            <h4 (click)="collapseSimpleJournal = !collapseSimpleJournal">Kontering</h4>
            <div class="collapsable-content">
                <bill-simple-journalentry [supplierinvoice]="current" (valueChange)="onEntryChange($event)" ></bill-simple-journalentry>
            </div>
        </article>
    </fieldset>

    <fieldset [hidden]="!tabs[1].isSelected">
        <legend>Dokument ({{this.files?.length || 0}})</legend>

        <div *ngIf="!(current | async)?.ID">
            <uni-image
                [singleImage]="true"
                [uploadWithoutEntity]="true"
                [fileIDs]="fileIds"
                (fileListReady)="onFileListReady($event)"
                (imageClicked)="onImageClicked($event)">
            </uni-image>
        </div>

        <uni-image
            *ngIf="(current | async)?.ID"
            [entity]="'SupplierInvoice'"
            [entityID]="(current | async)?.ID"
            (fileListReady)="onFileListReady($event)"
            (imageClicked)="onImageClicked($event)" >
        </uni-image>
    </fieldset>

    <fieldset [hidden]="!tabs[4].isSelected">
        <legend>Historikk</legend>

        <uni-bill-history
            [isActive]="tabs[4].isSelected"
            [supplierID]="(current | async)?.SupplierID"
            [parentID]="(current | async)?.ID">
        </uni-bill-history>
    </fieldset>

</section>

<image-modal></image-modal>
<uni-approve-modal (okclicked)="onTaskApproval($event)"></uni-approve-modal>
