<uni-toolbar
    [config]="toolbarConfig"
    [saveactions]="actions"
    [commentsConfig]="commentsConfig"
    class="no-print">
</uni-toolbar>

<section class="application">
    <section class="bill-left-side">
        <section class="uni-container">
            <uni-tabs class="scoped"
                [tabs]="detailsTabs"
                [(activeIndex)]="detailsTabIndex"
                (activeIndexChange)="onDetailsTabClick($event)">
            </uni-tabs>
            <label class="supplier-expense-label" *ngIf="detailsTabIndex === 0">
                <span>Leverandør</span>
                <autocomplete
                    class="customer-select"
                    [options]="autocompleteOptions"
                    [readonly]="supplierIsReadOnly"
                    [value]="(current | async).Supplier"
                    (valueChanges)="newSupplierSelected($event)">
                </autocomplete>
            </label>
            <uni-form
                *ngIf="detailsTabIndex === 0"
                [config]="formConfig$"
                [fields]="fields$"
                [model]="current"
                (readyEvent)="onFormReady()"
                (changeEvent)="onFormChange($event)"
                (inputEvent)="onFormInput($event)"
                (focusEvent)="onFocusEvent($event)">
            </uni-form>
            <section *ngIf="detailsTabIndex === 1" class="freetext-tab-view">
                <span>Fritekst</span>
                <textarea [(ngModel)]="currentFreeTxt" (keyup)="flagUnsavedChanged()" [attr.maxLength]="500"> </textarea>
            </section>
            <section class="mandatory-dimensions-validation-message">
                <span *ngIf="validationMessage?.Level === 30"><!--MissingRequiredDimensionsMessage - vises ikke-->
                    <i class="material-icons bad">error</i>
                    <span>{{validationMessage.Message}}</span>
                </span>
            </section>
        </section>

        <section class="uni-container" style="margin-bottom: 0">
            <uni-tabs class="scoped" [tabs]="tabs" [(activeIndex)]="activeTabIndex"></uni-tabs>

            <ng-template [ngIf]="activeTabIndex === 0">
                <journal-entry-manual
                    *ngIf="(current | async)"
                    [mode]="2"
                    [editmode]="false"
                    [journalEntryID]="(current | async)?.JournalEntryID"
                    [runAsSubComponent]="true"
                    [singleRowMode]="true"
                    [doValidateBalance]="false"
                    [orgNumber]="orgNumber"
                    [costAllocationData]="(costAllocationData$ | async)"
                    (dataChanged)="onJournalEntryManualChange($event)"
                    (dataLoaded)="onJournalEntryManualDataLoaded($event)">
                </journal-entry-manual>

                <table *ngIf="!(current | async)?.JournalEntry?.JournalEntryNumber" class="compact-summary">
                    <tr>
                        <td>Differanse</td>
                        <td [class.warning]="sumRemainder" *ngIf="sumRemainder != null">{{ sumRemainder | unicurrency}} {{current?.CurrencyCode?.ShortCode}}</td>
                        <td *ngIf="sumRemainder == null">-</td>
                        <td>Sum Mva</td>
                        <td *ngIf="sumVat != null">{{ sumVat | unicurrency}} {{current?.CurrencyCode?.ShortCode}}</td>
                        <td *ngIf="sumVat == null">-</td>
                    </tr>
                    <tr *ngIf="current.CurrencyExchangeRate">
                        <td>Valutakurs: {{current.CurrencyExchangeRate}}</td>
                    </tr>
                </table>

            </ng-template>

            <uni-bill-previous
                *ngIf="activeTabIndex === 1"
                [supplierID]="(current | async)?.SupplierID"
                [supplierInvoiceID]="(current | async)?.ID">
            </uni-bill-previous>

            <uni-bill-history
                *ngIf="activeTabIndex === 2"
                [supplierID]="(current | async)?.SupplierID"
                [supplierInvoiceID]="(current | async)?.ID">
            </uni-bill-history>

        </section>
    </section>

    <section class="bill-right-side uni-container">
        <header>Dokument ({{this.files?.length || 0}})</header>

        <span class="get-from-inbox" (click)="openAddFileModal()" role="button">
            <i class="material-icons">get_app</i>
            Hent fra innboks
        </span>

        <uni-image
            [singleImage]="false"
            [uploadWithoutEntity]="!(current | async)?.ID"
            [fileIDs]="(current | async)?.ID ? [] : startUpFileID"
            [entity]="'SupplierInvoice'"
            [entityID]="(current | async)?.ID"
            [size]="1200"
            [splitAllowed]="true"
            [rotateAllowed]="true"
            (fileListReady)="onFileListReady($event)"
            (imageDeleted)="onImageDeleted($event)"
            (imageUnlinked)="imageUnlinked($event)"
            (useWord)="onUseWord($event)">
        </uni-image>
    </section>
</section>
