<ul class="treelist" role="tree">
    <li *ngFor="let item of treeListItems" role="treeitem" [attr.aria-label]="item.title" [attr.aria-expanded]="item.expanded" class="treelist_item" [attr.id]="item.guid">

        <h5 (click)="item.expanded = !item.expanded" class="treelist_headline" [attr.aria-controls]="item.guid">{{item.title}}</h5>

        <section *ngIf="item.expanded || !item.title" class="treelist_content">

            <!-- Item is another list -->
            <uni-tree-list *ngIf="item.type === type.LIST" [treeListItems]="item.treeListItems" role="group"></uni-tree-list>

            <!-- Item is text -->
            <p *ngIf="item.type === type.TEXT">{{item.content}}</p>

            <!-- Item is a loadable component (Table or Form) -->
            <tree-list-component-loader *ngIf="item.type === type.TABLE || item.type === type.FORM" [componentConfig]="item"></tree-list-component-loader>

        </section>
    </li>
</ul>