<h1>Fra system</h1>
<section class="unitableWidthAuto">
    <ag-grid-wrapper [config]="systemTableConfig" [resource]="systemSource"></ag-grid-wrapper>
    <uni-summary [configs]="systemPeriodSums"></uni-summary>
</section>

<section *ngIf="amldData.length">
    <h1>Fra tilbakemelding</h1>
    <section class="unitableWidthAuto">
        <ag-grid-wrapper [config]="amldTableConfig" [resource]="amldData"></ag-grid-wrapper>
        <article  class="collapsable" [ngClass]="{'-is-open': !collapsePaymentInfo}" *ngIf="amldData.length">
            <h4 (click)="collapsePaymentInfo = !collapsePaymentInfo">Betalingsinformasjon</h4>
            <div class="collapsable-content">
                <table>
                    <tr>
                        <td>KID Arbeidsgiveravgift</td>
                        <td>{{kidAGA}}</td>
                    </tr>
                    <tr>
                        <td>KID Forskuddstrekk</td>
                        <td>{{kidTrekk}}</td>
                    </tr>
                    <tr>
                        <td>KID Finansskatt</td>
                        <td>{{kidFinancial}}</td>
                    </tr>
                    <tr>
                        <td>Kontonummer</td>
                        <td>{{accountNumber}}</td>
                    </tr>
                </table>
            </div>
        </article>
        <uni-summary [configs]="ameldingPeriodSums"></uni-summary>
    </section>
</section>
