<uni-form
    [config]="config$"
    [fields]="fields$"
    [model]="currentCategory$"
    (inputEvent)="formChange($event)">
</uni-form>

<h2>
    Ansatte tilknyttet kategorien
</h2>
<ag-grid-wrapper
    [config]="categoriesUsedInEmployeesConfig"
    [(resource)]="categoriesUsedInEmployees"
    (resourceChange)="employeeResourceChange()">
</ag-grid-wrapper>

<h2 *ngIf="categoriesUsedInPayrollruns.length > 0">
    {{ 'NAVBAR.PAYROLL' | translate }} tilknyttet kategorien
</h2>
<ag-grid-wrapper
    *ngIf="categoriesUsedInPayrollruns.length > 0"
    [config]="categoriesUsedInPayrollrunConfig"
    [resource]="categoriesUsedInPayrollruns">
</ag-grid-wrapper>
