<div>
    <h3>{{company.CompanyName}}</h3>
    <!--
        HARD-CODED VERSION
        <form>
        <fieldset>
            <label>
                Firmanavn:
                <input type="text" [(ngModel)]="company.CompanyName" />
            </label>
            <label>
                Organisasjonsnummer:
                <input type="text" [(ngModel)]="company.OrganizationNumber"/>
            </label>
            <label>
                Valuta:
                <input type="text" [(ngModel)]="company.BaseCurrency" />
            </label>
            <input type="checkbox" id="company_tax" [(ngModel)]="company.TaxMandatory" /> <label for="company_tax">TaxMandatory</label>
            <input type="checkbox" id="company_registered" [(ngModel)]="company.CompanyRegistered" /> <label for="company_registered">CompanyRegistered</label>
            <input type="checkbox" id="company_force_invoice" [(ngModel)]="company.ForceSupplierInvoiceApproval" /> <label for="company_force_invoice">ForceSupplierInvoiceApproval</label><br /><br />
            <label>
                AccountingLockedDate:
                <input type="date" [(ngModel)]="company.AccountingLockedDate" />
            </label>
            <label>
                VatLockedDate:
                <input type="date" [(ngModel)]="company.VatLockedDate" />
            </label>
        </fieldset><br />

        <fieldset>
            <label>Telefon:</label>
            <div *ngFor="#phone of company.Phones; #i = index;">
                <button (click)="removeFieldFromCompany('Phones', i)">X</button>
                <input type="text" [(ngModel)]="phone.Number" placeholder="Tlf-nummer" />
                <input type="text" [(ngModel)]="phone.LandCode" placeholder="Landskode" />
                <input type="text" [(ngModel)]="phone.Description" placeholder="Forklaring" />
                <input type="text" [(ngModel)]="phone.Type" placeholder="Type" /><br /><br />
            </div>
            <button (click)="addFieldToCompany('Phones')">Legg til nytt tlf-nummer</button>
        </fieldset><br />

        <fieldset>
            <label>E-post:</label>
            <div *ngFor="#email of company.Emails; #i = index;">
                <button (click)="removeFieldFromCompany('Emails', i)">X</button>
                <input type="text" [(ngModel)]="email.EmailAddress" placeholder="Epostadresse"/>
                <input type="text" [(ngModel)]="email.Description" placeholder="Forklaring"/>
                <input type="text" [(ngModel)]="email.Type" placeholder="Type" /><br /><br />
            </div>
            <button (click)="addFieldToCompany('Emails')">Legg til ny e-post adresse</button>
        </fieldset><br />

        <fieldset>
            <label>Adresse:</label>
            <div *ngFor="#adress of company.Address; #i = index;">
                <button (click)="removeFieldFromCompany('Address', i)">X</button>
                <input type="text" [(ngModel)]="adress.AddressLine1" placeholder="Gateadresse" />
                <input type="text" [(ngModel)]="adress.AddressLine2" placeholder="Gateadresse 2" />
                <input type="text" [(ngModel)]="adress.AddressLine3" placeholder="Gateadresse 3" />
                <input type="text" [(ngModel)]="adress.PostalCode" placeholder="Postnummer" />
                <input type="text" [(ngModel)]="adress.City" placeholder="By" />
                <input type="text" [(ngModel)]="adress.Country" placeholder="Land" />
                <input type="text" [(ngModel)]="adress.CountryCode" placeholder="Landskode" />
                <input type="text" [(ngModel)]="adress.Region" placeholder="Region" /><br /><br />
            </div>
            <button (click)="addFieldToCompany('Address')">Legg til ny adresse</button>
        </fieldset><br />

        <button (click)="saveCompanySettings()">Lagre innstillinger</button>
    </form>-->
</div>