<section class="journalEntrySimple" [ngClass]="{runassubcomponent: runAsSubComponent}">

    <journal-entry-simple-form
        [dropdownData]="dropdownData"
        tabindex="0"
        (created)="newLineCreated($event)"
        *ngIf="dropdownData !== null"
        [journalEntryLines]="journalEntryLines"
        [mode]="mode"
        [disabled]="disabled">
    </journal-entry-simple-form>

    <section *ngIf="dropdownData === null"
        class="journalEntrySimple_formLoadingPlaceholder"
        [attr.aria-busy]="dropdownData == null">
    </section>

    <table class="simpleTable">

        <thead>
            <tr>
                <th>Bilagsnr</th>
                <th class="medium_col">Dato</th>
                <th>Kontoer</th>
                <th>Beløp</th>
                <!--<th>Fordeling</th>-->
                <th>Beskrivelse</th>
                <th class="small_col"></th>
            </tr>
        </thead>

        <tbody>
            <template ngFor let-line
                [ngForOf]="journalEntryLines"
                [ngForTrackBy]="trackByLines">

                <tr tabindex="0"
                    (keyup.enter)="setSelectedJournalEntryLine(line)"
                    (click)="setSelectedJournalEntryLine(line)"
                    [attr.aria-selected]="selectedJournalEntryLine === line">

                    <td class="-isTemporary">
                        {{line.JournalEntryNo || "Ingen"}}
                    </td>
                    <td class="-isImportant">
                        {{getFinancialDateString(line)}}
                    </td>
                    <td class="simpleTable_multiline">
                        <dl>
                            <dt>Debet</dt>
                            <dd>{{line.DebitAccount ? line.DebitAccount.AccountNumber + " - " + line.DebitAccount.AccountName : ""}} {{ line.DebitVatType ? " - " + line.DebitVatType.VatCode : "" }}</dd>

                            <dt>Kredit</dt>
                            <dd>{{line.CreditAccount ? line.CreditAccount.AccountNumber + " - " + line.CreditAccount.AccountName : ""}}</dd>
                        </dl>
                    </td>
                    <td class="-isImportant">
                        {{line.Amount | number:'1.2-2'}}
                    </td>
                   
                    <td>{{line.Description}}</td>
                    <td class="simpleTable_actionMenu"></td>
                </tr>
                <tr *ngIf="selectedJournalEntryLine == line">
                    <td colspan="7">
                        <journal-entry-simple-form
                            [dropdownData]="dropdownData"
                            [journalEntryLine]="selectedJournalEntryLine"
                            (updated)="editViewUpdated($event)"
                            (aborted)="abortEdit()"
                            [journalEntryLines]="journalEntryLines"
                            [mode]="mode"
                            [disabled]="disabled">
                        </journal-entry-simple-form>
               		</td>
                </tr>
            </template>

            <tr *ngIf="journalEntryLines.length == 0">
                <td colspan="7">
                    Fyll inn data og trykk Legg til over for å legge inn en eller flere bilagslinjer
                </td>
            </tr>

        </tbody>
    </table>


</section>

