<section class="journalEntrySimple_form">
    <uni-form *ngIf='journalEntryLine && vattypes'            
        [config]='config' 
        [fields]='fields' 
        [model]='journalEntryLine'
        
        (onSubmit)='submit($event)'
        (onChange)='change($event)'
        (onReady)='ready($event)'>
    </uni-form>
    <fieldset class="journalEntrySimple_form_buttons">
        <button *ngIf="!isEditMode" (click)="addJournalEntry($event)">Legg til</button>
        <button (click)="emptyJournalEntry($event)">Tøm</button>
        <button *ngIf="isEditMode" (click)="editJournalEntry($event)">Oppdater</button>
        <button *ngIf="isEditMode" (click)="abortEditJournalEntry($event)">Avbryt</button>
    </fieldset>
</section>