<section class="marketplace-modules" [attr.aria-busy]="false">
    <section class="header">
        <h1 class="top-heading">Produkter</h1>
    </section>

    <section class="modules">
        <section class="module" *ngFor="let module of modules">
            <section class="price-info">
                <span class="price">{{module.price}} kr</span><span class="type"> {{priceText(module)}}</span>
            </section>

            <section class="product-info">
                <img class="icon" [src]="module.iconReference" />
                <span>{{module.label}}</span>
                <i *ngIf="module._isBought" class="material-icons purchase-indicator">check_circle</i>
            </section>

            <button class="more-button" (click)="openSubscribeModal(module)">
                Les mer
            </button>
        </section>
    </section>

    <section *ngIf="extensions?.length" class="extensions">
        <h3 class="top-heading">Utvidelser</h3>

        <section class="module" *ngFor="let extension of extensions">
            <section class="price-info">
                <span class="price">{{extension.price}} kr</span><span class="type"> {{priceText(extension)}}</span>
            </section>

            <section class="product-info">
                <img class="icon" [src]="extension.iconReference" />
                <span>{{extension.label}}</span>
                <i *ngIf="extension._isBought && !extension._activationFunction" class="material-icons purchase-indicator">
                    check_circle
                </i>
            </section>

            <button class="more-button" (click)="openSubscribeModal(extension)">
                Les mer
            </button>
        </section>

    </section>
</section>
