<section class="marketplace-modules" [attr.aria-busy]="false">
    <section class="header">
        <h1 class="top-heading">Produkter</h1>
    </section>
    <section class="modules">
        <!-- <h3 class="top-heading">Velg ett eller flere produkter</h3>
        <section class="bundle" *ngFor="let bundle of bundles" [ngClass]="{'expanded': bundle._isExpanded}">
            <i (click)="bundle._isExpanded = false"
               class="expand_arrow material-icons"
            >keyboard_arrow_down</i>
            <button class="button expand-button"
                    (click)="bundle._isExpanded = true"
            >Velg komplett</button>
            <h4 class="sale-text"><i class="material-icons">new_releases</i> Spar 20% på å abonnere på alle modulene</h4>
            <h3 class="heading">Trenger du et fullt ERP-system? Abonner på alle modulene i Komplett og spar 20%</h3>
            <ng-container *ngIf="bundle._isExpanded">
                <section class="bundle-module" *ngFor="let bundleProduct of bundle.products">
                    <img class="icon" [src]="bundleProduct.iconReference" />
                    <span class="name">{{bundleProduct.label}}</span>
                    <span class="price_container">
                        <span class="price">{{bundleProduct.price}} kr</span>
                        <span class="type">{{priceText(bundleProduct)}}</span>
                    </span>
                </section>
                <section class="bundle-price">
                    <span class="old-price">NOK {{bundleFullPrice(bundle)}}</span>
                    <span class="new-price">NOK {{bundle.bundlePrice}}</span>
                    <span class="type">/ per bruker / per måned</span>
                </section>
                <button class="button subscribe" (click)="editPurchases(bundle)">Abonner på {{bundle.label}}</button>
            </ng-container>
        </section> -->

        <section class="module" *ngFor="let module of modules">
            <section class="price-info">
                <span class="price">{{module.price}} kr</span><span class="type"> {{priceText(module)}}</span>
            </section>

            <section class="product-info">
                <img class="icon" [src]="module.iconReference" />
                <span>{{module.label}}</span>
                <i *ngIf="module._isBought" class="material-icons purchase-indicator">check_circle</i>
            </section>

            <button class="more-button" (click)="openSubscribeModal(module)">
                Les mer
            </button>
        </section>
    </section>

    <section *ngIf="extensions?.length" class="extensions">
        <h3 class="top-heading">Utvidelser</h3>
        <!-- <uni-tabs class="tabs"
                  [tabs]="tabs"
                  (activeIndexChange)="tagChanged($event)"></uni-tabs> -->

        <section class="module" *ngFor="let extension of extensions">
            <section class="price-info">
                <span class="price">{{extension.price}} kr</span><span class="type"> {{priceText(extension)}}</span>
            </section>

            <section class="product-info">
                <img class="icon" [src]="extension.iconReference" />
                <span>{{extension.label}}</span>
                <i *ngIf="extension._isBought" class="material-icons purchase-indicator">check_circle</i>
            </section>

            <button class="more-button" (click)="openSubscribeModal(extension)">
                Les mer
            </button>
        </section>

        <!-- <section class="extension" *ngFor="let extension of extensions">
            <section class="icon"><img src="//public-files.unieconomy.no/files/marketplace/material-extension.png" /></section>
            <h3 class="title">{{extension.label}}</h3>
            <p class="info ellipsis-on-3-lines">{{extension.description}}</p>
            <button class="subscribe" (click)="editPurchases(extension)">Abonner</button>
            <a class="link" (click)="openSubscribeModal(extension)">Les mer</a>
        </section> -->
    </section>
</section>
