\:host
    display: block
    margin-bottom: 10px

.filter-inputs
    display: flex

    input
        height: 2.5rem
        width: 15rem
        border-top-right-radius: 0
        border-bottom-right-radius: 0

    .icon-button
        background: #fff
        border: 1px solid var(--input-border-color)
        border-left: none
        border-radius: 0 var(--input-radius) var(--input-radius) 0

    button.saved-searches-toggle
        border-color: var(--border-color)
        padding-right: .5rem
        margin-right: 1rem
        i.material-icons
            color: var(--link-color)

.active-filters-display
    display: flex
    margin-top: 10px

    > i.material-icons
        margin: 0 5px


    .active-filter
        display: flex
        background: #f9f9f9
        height: 30px
        line-height: 30px
        border: 1px solid var(--border-color)
        border-radius: 3px
        font-size: 14px
        cursor: pointer
        overflow: hidden

        span
            padding: 0 10px
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis

        i.material-icons
            font-size: 18px
            height: 100%
            line-height: 30px
            padding: 0 5px
            border-left: 1px solid var(--border-color)
            &:hover
                background: rgba(0, 0, 0, .05)

    .active-filter + .active-filter
        margin-left: 5px

    span.clear-all
        flex: 0 0 auto
        margin: auto 0 auto 1rem
        cursor: pointer
        font-size: 15px
        color: var(--color-c2a)





