\:host
    display: block

.wrapper
    display: flex
    flex-wrap: wrap-reverse
    padding-top: 2px
    margin-bottom: 14px

    .freetext-and-advanced-filters
        flex: 0 0 auto
        display: flex
        align-items: center
        margin-right: 14px

        input
            height: 2.5rem
            width: 15rem

        .icon-button
            border: none
            border-left: var(--input-border-width) solid var(--input-border-color)
            border-radius: 0
            margin-top: 1px
            margin-bottom: 1px
            height: calc(100% - 2px)

            border-top-right-radius: var(--input-radius)
            border-bottom-right-radius: var(--input-radius)

            &:focus, &:hover
                background: #f5f5f5
                color: var(--color-c2a)


        button.saved-searches-toggle
            border-color: var(--border-color)
            padding-right: .5rem
            i.material-icons
                color: var(--link-color)

    .quick-filters-and-buttons
        flex: 1 0 auto
        display: flex
        max-width: 100%
        .button-container
            flex: 0 0 auto
            display: inline-flex
            align-items: center
            button i.material-icons
                margin-right: .25rem

.active-filters-display
    display: flex
    margin-bottom: 10px

    > i.material-icons
        margin: 0 5px


    .active-filter
        display: flex
        background: #f9f9f9
        height: 30px
        line-height: 30px
        border: 1px solid var(--border-color)
        border-radius: 3px
        font-size: 14px
        cursor: pointer
        overflow: hidden

        span
            padding: 0 10px
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis

        i.material-icons
            font-size: 18px
            height: 100%
            line-height: 30px
            padding: 0 5px
            border-left: 1px solid var(--border-color)
            &:hover
                background: rgba(0, 0, 0, .05)

    .active-filter + .active-filter
        margin-left: 5px

    span.clear-all
        flex: 0 0 auto
        margin: auto 0 auto 1rem
        cursor: pointer
        font-size: 15px
        color: var(--color-c2a)





