<section class="filter-inputs">
    <input #searchInput [formControl]="searchControl" type="text" placeholder="Søk">

    <button class="icon-button" (click)="showAdvancedFilters()">
        <i class="material-icons">filter_list</i>
    </button>

    <ng-container *ngIf="savedSearches?.length">
        <button #toggle class="saved-searches-toggle">
            Lagrede filter
            <i class="material-icons">keyboard_arrow_down</i>
        </button>

        <dropdown-menu [trigger]="toggle" minWidth="12rem">
            <ng-template>
                <a class="dropdown-menu-item" (click)="applySearch()">
                    Ikke valgt
                </a>

                <a class="dropdown-menu-item"
                    *ngFor="let search of savedSearches; let idx = index"
                    (click)="applySearch(search)">

                    <span>{{search.name}}</span>
                    <section class="align-right">
                        <i (click)="showAdvancedFilters(null, search)" class="material-icons">edit</i>
                        <i (click)="deleteSearch(idx, $event)" class="material-icons">close</i>
                    </section>
                </a>
            </ng-template>
        </dropdown-menu>
    </ng-container>

</section>

<section class="active-filters-display" *ngIf="advancedSearchFilters?.length">
    <i class="material-icons">subdirectory_arrow_right</i>

    <section class="active-filter" *ngFor="let filter of advancedSearchFilters; let idx = index">
        <span (click)="showAdvancedFilters(idx)">{{filter._displayText}}</span>
        <i class="material-icons" (click)="removeFilter(idx)">close</i>
    </section>

    <span *ngIf="advancedSearchFilters.length > 1" role="button" class="clear-all" (click)="removeAll()">Fjern alle</span>
</section>

