$navbarBackground: #0082c0

.horizontal_nav
    ul
        margin: 0
        list-style: none
        text-align: center
        width: 100%
        background: mix($uni-color-scale9, $navbarBackground, 60%)
        display: flex
        flex-direction: row
        justify-content: center
        height: 2rem

        li a
            @extend %clickable
            display: inline-block
            color: $navbarTextColor
            text-decoration: none
            font-weight: 400
            padding: 0 1rem
            border-right: .1rem solid transparentize($uni-color-negative, .5)
            height: 2rem
            box-sizing: border-box
            line-height: 1.9rem

            &:last-of-type
                border-right: none

            &:hover,
            &.-is-active,
            &.router-link-active
                background: darken(mix($uni-color-scale9, $navbarBackground, 60%), 15%)

.tab_counter
    display: inline-block
    background: darken(mix($uni-color-scale9, $navbarBackground, 60%), 10%)
    color: $uni-color-negative
    height: 1.2rem
    line-height: 1rem
    font-size: .9rem
    padding: .1rem .5rem
    margin: 0 -.1rem 0 .1rem
    border-radius: 99rem
    top: -.2rem