.horizontal_nav
    ul
        margin: 0
        list-style: none
        text-align: center
        width: 100%
        background: mix($uni-color-scale9, $navbarBackground, 60%)
        display: flex
        flex-direction: row
        justify-content: center
        height: 2rem

        li a
            @extend %clickable
            display: inline-block
            color: $navbarTextColor
            text-decoration: none
            font-weight: 400
            padding: 0 1rem
            border-right: .1rem solid transparentize($uni-color-negative, .5)
            height: 2rem
            box-sizing: border-box
            line-height: 2rem

            &:last-of-type
                border-right: none

            &.-is-active
                background: darken(mix($uni-color-scale9, $navbarBackground, 60%), 15%)

            &:hover,
            &.router-link-active
                background: darken(mix($uni-color-scale9, $navbarBackground, 60%), 15%)

@include media(large, max-width)
    .horizontal_nav ul
        li a
            display: none

        li:first-of-type a
            display: inline-block
