.vertical_nav
  ul
    list-style: none
    text-align: center
    background: mix($uni-color-scale9, $navbarBackground, 60%)
    width: 100%

    li a
      @extend %clickable
      text-decoration: none
      display: inline-block
      color: $navbarTextColor
      font-weight: 400
      width: 100%
      height: 3rem
      box-sizing: border-box
      line-height: 3rem

      &:-is-active
        background: darken(mix($uni-color-scale9, $navbarBackground, 60%), 15%)

      &:hover,
      &.router-link-active
        background: darken(mix($uni-color-scale9, $navbarBackground, 60%), 15%)