.giveSupportAccessModal
    width: 35rem

input
    width: inherit

.alert
    margin: 0.5rem 0 2rem
    i
        margin-right: 4px

.checkbox-label
    display: flex
    margin-bottom: 1rem
    mat-checkbox
        margin-right: 0.5rem
