<section role="dialog" class="uni-modal giveSupportAccessModal">
    <header>Gi supportbruker tilgang</header>

    <article>
        <input type="text" [(ngModel)]="searchInput">
    
        <section *ngIf="!showError" class="alert good">
            <i class="material-icons">info_outline</i>
            Oppgi navnet til den du ønsker å gi midlertidig tilgang
        </section>

        <section *ngIf="showError" class="alert bad">
            <i class="material-icons">error_outline</i>
            Fant ingen supportbrukere med dette navnet
        </section>

        <label class="checkbox-label">
            <mat-checkbox [(ngModel)]="hasAgreedToTerms"></mat-checkbox>
            Jeg aksepterer at denne brukeren gis midlertidig tilgang til mitt regnskap for å kunne yte support.
        </label>
        
    </article>

    <footer>
        <button class="secondary" (click)="cancel()">
            Avbryt
        </button>
        <button 
            class="c2a" 
            id="good_button_ok" 
            (click)="giveAccess()" 
            [disabled]="busy || !hasAgreedToTerms || !searchInput.length"
        >
            Gi tilgang
        </button>
    </footer>
</section>
