ledger-account-reconciliation
    display: block
    width: 100%

    .reconciliation-likely-match
        background-color: var(--alert-good)
        opacity: 0.6

.automark-percent-progress
    display: block
    width: 40vw
    text-align: center
    font-size: 2rem
    margin-top: 1rem

    h4
        font-size: 1rem
        font-weight: 400

    span
        font-size: .7rem
        display: block
        margin-top: 1rem

        span
            cursor: pointer
            font-weight: bold
            color: var(--color-c2a)

            &:hover
                text-decoration: underline

.automark-log-modal-view
    list-style-type: circle
    min-height: 12rem
    max-height: 12rem
    overflow-y: auto

    li
        overflow-x: hidden
        white-space: nowrap
        text-overflow: ellipsis
        margin-top: .8rem

.log-error-mgs
    font-size: .8rem
    margin: .2rem 2rem

.postpost-single-table
    font-size: .9rem
    thead
        tr
            td:not(:last-of-type)
                border-right: $unitable-border
                cursor: pointer
            &:hover
                background-color: #fafafa
    thead, tbody
        tr
            td
                &.table-link
                    text-align: center
                &.postpost-first
                    width: 3rem
                    cursor: pointer
                    color: var(--color-c2a)
                    text-align: center
                    i
                        font-size: 1.3rem
                        vertical-align: middle
                &:last-of-type
                    text-align: center
                    cursor: pointer
                    width: 3rem
                    i
                        font-size: 1.3rem
                        vertical-align: middle
    tbody
        tr
            td
                &.table-link
                    text-align: center
                    color: $uni-color-plus
                    text-decoration: underline
                    cursor: pointer

.postpost-pager
    text-align: center
    color: $uni-color-plus
    margin: 1rem 0
    span
        margin-left: .5rem
        i
            cursor: pointer
            vertical-align: middle

        &:first-of-type
            i
                margin-left: 0

        &.page-indicator
            margin: 0 1rem
            background-color: transparent
            color: var(--color-c2a)
            padding-top: .2rem

