ledger-account-reconciliation
    display: block

    .action-buttons
        margin-bottom: 1rem
        float: right

        button
            margin: 0 0 0 .5rem
            height: 2.25rem
            line-height: 0
            min-width: 6rem
            color: #fff

        select
            width: auto
            height: 2.25rem
            border-radius: 3px


    .reconciliation-marked-row
        font-style: italic
        color: $uni-color-scale5

        td:first-child
            background-color: $uni-color-scale8

    .reconciliation-likely-match
        background-color: transparentize($uni-color-good, .7)
        opacity: 0.6
