ledger-account-reconciliation
    .action-buttons
        margin-top: 0.5rem
        float: right

        button
            margin-top: 0
            margin-right: 0

    h2
        display: inline-block
        margin-top: 0rem

    .reconciliation-marked-row
        font-style: italic
        color: $uni-color-scale5

    .reconciliation-likely-match
        background-color: transparentize($uni-color-good, .7)