<uni-toolbar *ngIf="!modalMode"
             [config]="toolbarconfig"
             [saveactions]="saveactions"
             [tags]="categoryFilter"
             [validationMessages]="toolbarStatusValidation"
             [tagConfig]="tagConfig">
</uni-toolbar>

<section *ngIf="(product$ | async)" class="product-details application">
    <uni-form
        [config]="config$"
        [fields]="fields$"
        [model]="product$"
        (changeEvent)="change($event)">
    </uni-form>

    <article class="collapsable" [ngClass]="{'-is-open': showExtendedProductInfo}">
        <h4 (click)="showExtendedProductInfo = !showExtendedProductInfo">Utvidet produktinformasjon</h4>
        <div class="collapsable-content">
            <fieldset class="uni-fieldset">
                <legend>Produktbeskrivelse</legend>
                <label>
                    <span>Beskrivelse</span>
                    <textarea
                        #descriptionField
                        [formControl]="descriptionControl"
                        (change)="textareaChange()">
                    </textarea>
                </label>
            </fieldset>

            <fieldset class="uni-fieldset">
                <legend>Produktbilde</legend>
                <small *ngIf="!(product$ | async)?.ID">Produktet må lagres før bilde kan lastes opp</small>
                <uni-image
                    [entity]="'product'"
                    [entityID]="(product$ | async)?.ID"
                    [uploadConfig]="imageUploadConfig">
                </uni-image>
            </fieldset>
        </div>
    </article>
</section>
