<article class="authentication-component">
    <p *ngIf="!errorMessage" class="registration-step-info">Vennligst registrer deg som bruker av Uni Economy</p>
    <small class="validation error" *ngIf="errorMessage">{{errorMessage}}</small>

    <form #f="ngForm" [formGroup]="confirmInviteForm" (ngSubmit)="submitUser()">
        <label for="nameInput">Navn</label>
        <input id="nameInput"
            type="text"
            placeholder="Navn"
            autofocus
            formControlName="Name"
            [disabled]="!validInvite"
        />

        <label for="usernameInput">Brukernavn</label>
        <input id="usernameInput"
            type="text"
            placeholder="Brukernavn"
            formControlName="UserName"
            [disabled]="!validInvite"
        />

        <label for="passwordInput">Passord</label>
        <input id="passwordInput"
            type="password"
            placeholder="Passord"
            formControlName="Password"
            [disabled]="!validInvite"
        />

        <label for="confirmPasswordInput">Bekreft passord</label>
        <input id="confirmPasswordInput"
            type="password"
            placeholder="Bekreft passord"
            formControlName="ConfirmPassword"
            [disabled]="!validInvite"
        />

        <uni-password-guide *ngIf="confirmInviteForm?.controls"
            [passwordControl]="confirmInviteForm.controls.Password">
        </uni-password-guide>

        <button class="auth-button bad"
                [attr.aria-busy]="busy"
                [disabled]="busy || !f.form.valid || !validInvite">
            Opprett bruker
        </button>
    </form>

    <section class="links">
        <a [routerLink]="['/init/login']">Tilbake til innlogging</a>
    </section>
</article>
