<article class="authentication-component">
    <h1>Registrer bruker</h1>
    <small class="alert error" *ngIf="errorMessage">{{errorMessage}}</small>

    <form #f="ngForm" [formGroup]="confirmInviteForm" (ngSubmit)="submitUser()">
        <label class="uni-label">
            <span>Navn</span>
            <input type="text" autofocus formControlName="Name" [disabled]="!validInvite" />
        </label>

        <label class="uni-label">
            <span>Brukernavn</span>
            <input type="text" formControlName="UserName" [disabled]="!validInvite" autocomplete="new-username" />
        </label>

        <label class="uni-label">
            <span>Passord</span>
            <input type="password" formControlName="Password" [disabled]="!validInvite" autocomplete="new-password" />
        </label>

        <label class="uni-label">
            <span>Bekreft passord</span>
            <input type="password" formControlName="ConfirmPassword" [disabled]="!validInvite" autocomplete="new-password" />
        </label>

        <uni-password-guide
            *ngIf="confirmInviteForm?.controls"
            [passwordControl]="confirmInviteForm.controls.Password">
        </uni-password-guide>

        <button type="submit"
            class="c2a init-submit-button"
            [attr.aria-busy]="busy"
            [disabled]="busy || !f.form.valid || !validInvite">
            Opprett bruker
        </button>
    </form>

    <a class="init-link" [routerLink]="['/init/login']">Tilbake til innlogging</a>
</article>
