<article class="authentication-component">
    <small *ngIf="errorMessage.length" class="validation error">{{errorMessage}}</small>
    <small class="validation bad" *ngIf="invalidUsernameMsg?.length">{{invalidUsernameMsg}}</small>
    <small class="validation bad" *ngIf="passwordMismatch">Passord må være like</small>

    <form *ngIf="validInvite" [formGroup]="confirmInviteForm" (ngSubmit)="submitUser()" #f="ngForm">
        <label for="nameInput">Navn</label>
        <input id="nameInput"
            type="text"
            placeholder="Navn"
            autofocus
            formControlName="displayName"
            [disabled]="!validInvite"
        />

        <label for="usernameInput">Brukernavn</label>
        <input id="usernameInput"
            type="text"
            placeholder="Brukernavn"
            formControlName="username"
            [disabled]="!validInvite"
        />

        <label for="passwordInput">Passord</label>
        <input id="passwordInput"
            type="password"
            placeholder="Passord"
            formControlName="password"
            [disabled]="!validInvite"
        />

        <label for="confirmPasswordInput">Bekreft passord</label>
        <input id="confirmPasswordInput"
            type="password"
            placeholder="Bekreft passord"
            formControlName="confirmPassword"
            [disabled]="!validInvite"
        />

        <button type="submit" class="c2a"
                [attr.aria-busy]="busy"
                [disabled]="!f.form.valid || passwordMismatch || busy || !validInvite">
            Opprett bruker
        </button>

        <p>Passord må bestå av mellom 8 og 16 tegn</p>
        <p>
            Passord må inneholde 3 av 4 av<br>
            <small>stor bokstav, liten bokstav, nummer, symbol</small>
        </p>
    </form>
</article>
