<!-- Selection list -->
<section class="assignment-list">
    <section class="assignment-filters">
        <section class="show-completed-toggle">
            <input type="checkbox" class="toggle"
                [placeholder]="'Vis fullførte'"
                [checked]="showCompleted"
            />
            <label (click)="toggleShowCompleted()" class="toggle" tabindex="-1">
                Vis fullførte
            </label>
        </section>
    </section>

    <span class="no-approvals-message" *ngIf="!approvals?.length">Du har ingenting å godkjenne akkurat nå</span>
    <ul #approvalList>
        <li *ngFor="let approval of approvals" (click)="selectedApproval = approval" [attr.aria-selected]="selectedApproval?.ID === approval.ID">
            <section class="assignment-info">
                <p>{{approval.Task?.Title}}</p>
                <small>Tildelt av {{approval._assignedBy}}</small>
                <small>{{approval._createdDate}}</small>
            </section>

            <section class="assignment-buttons">
                <button *ngIf="approval._activeApproval" class="bad" (click)="reject(approval)">
                    Avvis
                </button>

                <button *ngIf="approval._activeApproval" class="good" (click)="approve(approval)">
                    Godkjenn
                </button>
            </section>
        </li>
    </ul>
</section>

<!-- Details -->
<section class="assignment-details">

    <table class="header">
        <tr><td><h2>{{title}}</h2></td>
        <td class="right"><uni-comments
            *ngIf="selectedApproval"
            [entity]="entityType"
            [entityID]="entityID"
            [toggleMode]="true">
        </uni-comments></td>
        </tr>
    </table>

    <section class="assignment-details-content">
        <!-- Hard coded or nothing now -->
        <!-- Can backend tell us the entity type? -->
        <article *ngIf="selectedApproval">
            
            <supplier-invoice-preview
                *ngIf="entityType==='SupplierInvoice'"
                [task]="selectedApproval?.Task">
            </supplier-invoice-preview>
            
            <work-approval-preview
                *ngIf="entityType==='WorkItemGroup'"
                [task]="selectedApproval?.Task">
            </work-approval-preview>            

        </article>
    </section>
</section>