<!-- Selection list -->
<section class="assignment-list">
    <section class="assignment-filters">
        <section class="show-completed-toggle">
            <input type="checkbox" class="toggle"
                [placeholder]="'Vis fullførte'"
                [checked]="showCompleted"
            />
            <label (click)="toggleShowCompleted()" class="toggle" tabindex="-1">
                Vis fullførte
            </label>
        </section>
    </section>

    <span class="no-approvals-message" *ngIf="!approvals?.length">Du har ingenting å godkjenne akkurat nå</span>
    <ul #approvalList>
        <li *ngFor="let approval of approvals" (click)="selectedApproval = approval" [attr.aria-selected]="selectedApproval?.ID === approval.ID">
            <section class="assignment-info">
                <p>{{approval.Task?.Title}}</p>
                <small>Tildelt av {{approval._assignedBy}}</small>
                <small>{{approval._createdDate}}</small>
            </section>

            <section class="assignment-buttons">
                <button *ngIf="approval._activeApproval" class="bad" (click)="reject(approval)">
                    Avvis
                </button>

                <button *ngIf="approval._activeApproval" class="good" (click)="approve(approval)">
                    Godkjenn
                </button>
            </section>
        </li>
    </ul>
</section>

<!-- Details -->
<section class="assignment-details">
    <section class="assignment-details-header">
        <h2>{{selectedApproval?.Task?.Title}}</h2>

        <!-- TODO: Need to get entity from selectedApproval -->
        <!-- Hard coded for now. Can backend give us entity type? -->
        <uni-comments
            *ngIf="selectedApproval"
            [entity]="'SupplierInvoice'"
            [entityID]="selectedApproval.ID"
            [toggleMode]="true">
        </uni-comments>
    </section>

    <section class="assignment-details-content">
        <!-- TODO: Need ngSwitch on entityType here -->
        <!-- Hard coded to supplierInvoice or nothing now -->
        <!-- Can backend tell us the entity type? -->
        <supplier-invoice-preview
            *ngIf="selectedApproval"
            [task]="selectedApproval?.Task">
        </supplier-invoice-preview>
    </section>
</section>