<!-- Selection list -->
<section class="uni-container assignment-list">
    <section class="assignment-filters">
        <mat-checkbox
            (change)="loadApprovals()"
            [(ngModel)]="showCompleted">
            Vis fullførte
        </mat-checkbox>
    </section>

    <span class="no-approvals-message" *ngIf="!approvals?.length">Du har ingenting å godkjenne akkurat nå</span>
    <ul #approvalList>
        <li *ngFor="let approval of approvals" (click)="onApprovalSelect(approval)" [attr.aria-selected]="selectedApproval?.ID === approval.ID">
            <section class="assignment-info">
                <p>{{approval.Task?.Title}}</p>
                <small>Tildelt av {{approval._assignedBy}}</small>
                <small>{{approval._createdDate}}</small>
            </section>

            <section class="assignment-buttons">
                <i class="material-icons approve-approval"
                    role="button"
                    title="Godkjenn"
                    *ngIf="approval._activeApproval"
                    (click)="approveOrReject(approval, 'approve')">
                    check_circle
                </i>

                <i class="material-icons reject-approval"
                    role="button"
                    title="Avvis"
                    *ngIf="approval._activeApproval"
                    (click)="approveOrReject(approval, 'reject')">
                    add_circle
                </i>
            </section>
        </li>
    </ul>
</section>

<!-- Details -->
<section class="uni-container assignment-details">
    <header>
        {{title}}
    </header>

    <section *ngIf="selectedApproval" class="assignment-details-content">
        <supplier-invoice-preview
            *ngIf="entityType==='SupplierInvoice'"
            [task]="selectedApproval?.Task">
        </supplier-invoice-preview>

        <work-approval-preview
            *ngIf="entityType==='WorkItemGroup'"
            [task]="selectedApproval?.Task">
        </work-approval-preview>
    </section>
</section>