@import '~src/styles/unibase/colors/__colors.sass'

input[type=search]
    height: 2.5rem
    min-width: 20rem
    margin-bottom: 1.5rem

mat-checkbox
    display: block
    padding-left: .5rem

    &.check-all
        padding-bottom: .5rem
        border-bottom: 1px solid $uni-color-scale8

.scrolling-viewport
    height: calc(100vh - 35rem)

.selection-list-item
    display: flex
    height: 35px
    align-items: center


