<div *ngFor="let customer of customers">
    <section
        class="card"
        *ngFor="let contract of customer.Contracts"
        [ngClass]="{'card-selected': selectedContract?.ID === contract.ID}"
        (click)="selectedContractChange.emit(contract)">

        <i class="material-icons">
            {{selectedContract?.ID === contract.ID ? 'radio_button_checked' : 'radio_button_unchecked'}}
        </i>

        <span>{{customer.Name}}</span>
        <span class="contract-type">
            <span class="license-type-label">Lisenstype</span>
            {{contractTypeToText(contract.ContractType)}}
        </span>
    </section>
</div>