.card
    display: flex
    height: 3.5rem
    cursor: pointer
    align-items: center
    background-color: #f7f7f7
    margin-top: 0.5rem
    padding: 0 1rem
    font-size: 14px

    i.material-icons
        margin-right: .5rem
        color: #8C97AB

    &.card-selected i.material-icons
        color: #1565c0

    .contract-type
        width: 12rem
        margin-left: auto
        span
            color: grey

.card-selected, .card:hover
    background-color: #D5EEF6
    outline: 0.1rem solid #3f76db
