h1
    font: 400 18px var(--font-family) !important
    span
        &:hover
            cursor: pointer
        &.active-header
            font-weight: 500

.list-container
    min-height: 150px
    max-height: calc(100vh - 28rem)
    margin-top: 2rem

    .add-admin
        margin-right: 5px

.license-owner
    display: flex
    flex-wrap: wrap
    margin: 0 -1rem 1rem

    .info-card
        flex: 1
        min-width: 400px
        margin-bottom: 1rem
        background: #fff
        margin: 0 1rem
        padding: 1.5rem 2rem
        border-radius: 3px
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.065)

    .info-field
        display: flex
        justify-content: space-between
        padding: 5px 0

        strong
            font-weight: 500

        span, section
            text-align: right
            a
                display: block

        &.main-company, &.two-factor > section
            display: flex
            align-items: center
            cursor: pointer

            select
                border-radius: 3px
                border: 1px solid #D2DAE2

        i.material-icons
            margin-left: 10px
            & + i.material-icons
                margin-left: 5px

            &.edit
                font-size: 21px
                margin-bottom: 2px
                &:hover
                    cursor: pointer

            &.close
                color: #F53B57
