<section class="license-owner">
    <section class="info-card">
        <section class="info-field">
            <strong>Lisenseier</strong>
            <span>{{customer?.Name || '-'}}</span>
        </section>

        <section class="info-field">
            <strong>Org.nummer</strong>
            <span>{{customer?.OrgNumber || '-'}}</span>
        </section>

        <section *ngIf="isAdmin && companyLicenses?.length" class="info-field main-company">
            <strong>Hovedselskap</strong>

            <section *ngIf="!mainCompanyEditMode">
                {{mainCompany?.CompanyName || 'Ikke satt'}}
                <i (click)="mainCompanyEditMode = true" class="material-icons edit">edit</i>
            </section>

            <section *ngIf="mainCompanyEditMode">
                <select [(ngModel)]="mainCompanyKey">
                    <option *ngFor="let company of companyLicenses" [value]="company.CompanyKey">
                        {{company.CompanyName}}
                    </option>
                </select>

                <i (click)="saveMainCompany()" class="material-icons">check</i>
                <i (click)="cancelMainCompanyEdit()" class="material-icons close">close</i>
            </section>

        </section>
        <section *ngIf="isAdmin" class="info-field">
            <strong>Lisensavtalen</strong>
            <span>
                <a [href]="lisenceAgreementUrl" target="_blank" rel="noopener noreferrer">
                    <i class="material-icons" style="font-size: 18px; margin-bottom: 2px;">launch</i>
                    Se avtalen
                </a>
            </span>
        </section>

        <section *ngIf="isAdmin" class="info-field two-factor">
            <strong>To-faktor pålogging</strong>

            
            <mat-slide-toggle [(ngModel)]="twoFactorEnabled" (ngModelChange)="twoFactorEnabledChange()"
                [labelPosition]="'before'">
            </mat-slide-toggle>

        </section>
    </section>

    <section class="info-card">
        <section class="info-field">
            <strong>Kontaktperson</strong>
            <span>
                {{customer?.ContactPerson || '-'}}
                <a href="mailto:{{customer?.ContactEmail}}">{{customer?.ContactEmail || '-'}}</a>
                <span *ngIf="customer?.ContactPhone">{{customer?.ContactPhone}}</span>
            </span>
        </section>
    </section>
</section>


<section class="list-container">
    <section class="header">
        <h1>Administratorer</h1>

        <div class="pull-right">
            <button *ngIf="isAdmin" (click)="addAdmin()" class="tertiary c2a add-admin">
                Legg til administrator
            </button>

            <input
                type="search"
                placeholder="Søk"
                [(ngModel)]="filterValue"
                (ngModelChange)="filterManagers()"
            />
        </div>

    </section>

    <license-info-list
        *ngIf="filteredManagers?.length"
        [columns]="columns"
        [rows]="filteredManagers"
        [orderBy]="'User.Name'"
        [contextMenu]="contextMenu">
    </license-info-list>
</section>