<section class="license-owner">
    <section class="info-card">
        <section class="info-field">
            <strong>Lisenseier</strong>
            <span>{{licenseOwner?.Name || '-'}}</span>
        </section>

        <section class="info-field">
            <strong>Org.nummer</strong>
            <span>{{licenseOwner?.OrgNumber || '-'}}</span>
        </section>
    </section>

    <section class="info-card">
        <section class="info-field">
            <strong>Kontaktperson</strong>
            <span>
                {{licenseOwner?.ContactPerson || '-'}}
                <a href="mailto:{{licenseOwner?.ContactEmail}}">{{licenseOwner?.ContactEmail || '-'}}</a>
                <a *ngIf="licenseOwner?.ContactPhone" href="tel:{{licenseOwner?.ContactPhone}}">{{licenseOwner?.ContactPhone}}</a>
            </span>
        </section>
    </section>
</section>


<section class="list-container">
    <section class="header">
        <h1>Administratorer</h1>

        <input
            class="pull-right"
            type="search"
            placeholder="Søk"
            [(ngModel)]="filterValue"
            (ngModelChange)="filterManagers()"
        />
    </section>

    <license-info-list
        *ngIf="filteredManagers?.length"
        [columns]="columns"
        [rows]="filteredManagers"
        [orderBy]="'User.Name'">
    </license-info-list>
</section>