<section role="dialog" class="uni-modal" style="width: 38rem;">
    <header> Hvordan ønsker du å betale denne regningen? </header>

    <article>
        <section *ngIf="busy" class="modal-spinner">
            <mat-spinner class="c2a"></mat-spinner>
        </section>

        <section class="to-payment-modal-conatiner">

            <section class="data-summary-container">
                <span> {{ current.Supplier.Info.Name }}: {{ current.BankAccount.AccountNumber | uniaccountnumber }} </span>
                <span> Netto: {{ total.net | uninumberformat: 'money' }} + MVA: {{ total.vat | uninumberformat: 'money' }} = <strong>Totalt: kr. {{ total.sum | uninumberformat: 'money' }}</strong> </span>
                <span> <strong>Forfallsdato:</strong> {{ current.PaymentDueDate | date: 'dd.MM.yyyy' }} </span>
            </section>

            <section class="outgoing-item-container" *ngFor="let item of VALUE_ITEMS" [ngClass]="{ 'checked': item.selected, 'disabled': item.disabled }" (click)="valueItemSelected(item)" title="{{ item.disabled ? 'Du må ha aktiv autobankavtale for å sende betaling rett til bank' : '' }}">
                <!-- <span class="fake-radio-button-ring" [ngClass]="{ 'checked': item.selected }"> </span> -->
                <i class="material-icons"> {{ item.selected ? 'radio_button_checked' : 'radio_button_unchecked' }} </i>
                <section class="outgoing-text-container">
                    <span class="value-header"> {{ item.label }} </span>
                    <span> {{ item.infoText }} </span>
                </section>
            </section>
        </section>
    </article>

    <footer class="center">
        <button class="secondary" (click)="cancel()">Avbryt</button>
        <button class="c2a" (click)="close()"> {{ options.buttonLabels.accept }} </button>
    </footer>
</section>