uni-budget-view
    uni-statustrack
        li:last-of-type
            &.active
                color: var(--color-bad)

.budget-container
    padding: 1rem

    .header-container
        display: flex
        align-items: center
        margin-bottom: .4rem
        h4
            font-size: 1.8rem
            font-weight: 400
            margin: 0 .5rem

        a
            height: 2rem
            line-height: 2rem
            margin-left: .5rem
            i
                vertical-align: middle
                margin: 0 4px 2px 0
                font-size: 1.8rem
                font-weight: 500

        button
            width: 8rem
            height: 2rem
            padding-right: 0
            i
                vertical-align: middle
                margin-left: 2px
                margin-bottom: 2px

    .budget-chart-container
        background-color: #FFFFFF
        height: 15rem
        transition: height .2s ease
        margin-bottom: 1rem

        canvas
            max-width: 50vw
            margin: 0 auto

        &.hide-chart
            height: 0rem

    .budget-table-container
        background-color: #FFFFFF
        padding: 1rem
        box-sizing: border-box

        .buttons-container
            display: flex
            div
                &:first-of-type
                    flex: 1


.empty-budget-container
    width: 100%
    height: 100%
    text-align: center
    background-color: #ededef
    display: flex
    align-items: center
    justify-content: center

    div
        display: flex
        flex-direction: column
        align-items: center
        margin-top: -4rem

        i
            color: #cfd5e5
            font-size: 15rem

        h4
            font-size: 1.5rem
            font-weight: 400
            margin-top: 0

        button
            width: 12rem
            & + button
                margin: .75rem 0 0 0

.sum-col-line
    margin-left: 24px

.div-table
    margin-top: 2rem
    font-size: .8rem

    .table-header-container
        .table-header
            font-weight: 600
    .row-container
        height: 40px
        line-height: 40px
        border-bottom: 1px solid #b9b9b9
        transition: background-color 2s ease-out

        &.line-updated
            background-color: rgba(216,238,246,.8)

        div
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap
            text-align: right
            width: 8rem
            padding-right: .7rem
            border-left: 1px solid #b9b9b9
            box-sizing: border-box
            &:first-of-type
                min-width: 20rem
                text-align: left
                cursor: pointer
                border-left: none
                line-height: 40px
                color: #6da3e3

            &.good
                color: #63a2e1

            &.bad
                color: lighten(red, 25%)
        i
            vertical-align: middle
            color: #b9b9b9

.subgroup-open
    font-weight: 600
    font-style: italic

.budget-template-modal
    width: 30vw
    min-width: 35rem

    .budget-template-modal-container
        .selections
            display: flex
            margin-bottom: 1rem

            span
                width: 10rem
                text-align: right
                display: block
                height: 2.4rem
                line-height: 2.4rem

            div
                width: 15.5rem
                height: 2.4rem
                border: 1px solid #b9b9b9
                margin-left: 1rem
                border-radius: 3px
                font-size: .9rem
                padding-left: .8rem
                cursor: pointer

                &.calender-div
                    width: 7rem
                    line-height: 2.4rem
                    &:first-of-type
                        margin-right: .5rem

                i
                    float: right
                    color: #b9b9b9
                    line-height: 2.4rem
                    font-size: 2rem

                    &.budget-cal-icon
                        font-size: 1.1rem
                        margin: 0 .5rem 0 0


            .checkbox-icon
                height: 1rem
                width: 1rem
                margin: .5rem 0 0 1rem
                color: var(--color-c2a)
                cursor: pointer

.budget-side-list
    width: 100%
    height: calc(100% - 4.75rem)
    z-index: 500
    position: fixed
    right: 0
    top: 4.75rem
    display: flex

    .shade-side
        width: 50%
        background-color: rgba(0, 0, 0, 0.7)

    .list-side
        background-color: #ffffff
        padding: 2rem
        width: 50%

        .list-header
            display: flex
            h4
                font-size: 1.6rem
                font-weight: 500
                flex: 1
                margin: 0 0 2rem 0

            i
                color: #b9b9b9
                cursor: pointer

        input
            width: 20rem
            height: 2.4rem
            border-radius: 3px

        ul
            list-style: none

            li
                display: flex
                font-size: .9rem
                height: 50px
                line-height: 35px
                border-bottom: 1px solid #b9b9b9
                padding: .4rem 0

                &:hover
                    background-color: #f7f7f7

                &:first-of-type
                    font-weight: 600
                    &:hover
                        background-color: #ffffff
                        cursor: default

                div
                    width: 5rem
                    text-align: center

                    &.budget-name-link
                        color: #2c5dbe
                        cursor: pointer
                        text-decoration: underline
                        overflow: hidden
                        text-overflow: ellipsis
                        white-space: nowrap
                        text-align: left

                    input
                        width: 1rem
                        height: 1rem
                        vertical-align: middle

                    i
                        vertical-align: middle
                        color: #b9b9b9
                        cursor: pointer
                        &.is-standard-budget-icon
                            color: var(--color-good)

.budget-entry-modal-container
    overflow: visible !important

.budget-entry-modal-info-container
    display: flex
    margin: 1rem 0

    h4
        margin: 0 2rem 0 0
        font-size: .9rem
        font-weight: 500
    i
        color: #b9b9b9
        cursor: pointer

.budget-file-import
    height: 6rem
    display: flex
    align-items: center
    border: 1px solid #b9b9b9
    border-radius: 3px
    padding-left: 1rem

.budget-sales-account-number
    color: #63a2e1

.budget-sales-account-number-bad
    color: lighten(red, 25%)