<uni-toolbar
    [config]="toolbarconfig"
    [validationMessages]="supplierStatusValidation"
    [saveactions]="saveactions"
    [commentsConfig]="commentsConfig"
    [selectConfig]="selectConfig"
    (selectValueChanged)="numberSeriesChange($event)">
</uni-toolbar>

<section class="application" *ngIf='(supplier$|async)'>
    <uni-tabs [tabs]="tabs" [(activeIndex)]="activeTabIndex" (tabClick)="onTabActivated($event)"></uni-tabs>

    <ng-template [ngIf]="activeTabIndex === 0">
        <uni-form
            [config]="{autofocus: true, labelWidth: '15rem'}"
            [fields]="fields$"
            [model]="supplier$"
            (changeEvent)="supplierDetailsChange($event)">
        </uni-form>

        <article *ngIf="(supplier$|async)?.ID" class="collapsable" [ngClass]="{'-is-open': showContactSection}">
            <h4 (click)="showContactSection = !showContactSection">Kontakter</h4>
            <div class="collapsable-content">
                <contacts
                    [parentBusinessRelation]="(supplier$ | async)?.Info"
                    (parentBusinessRelationChange)="onContactsChange()">
                </contacts>
            </div>
        </article>
    </ng-template>

    <section *ngIf="activeTabIndex === 1" class="uni-container customer-post-post-view">
        <div style="display: flex;">
            <uni-tabs
                [tabs]="postposttabs"
                (tabClick)="onPostpostFilterClick($event)">
            </uni-tabs>
            <button class="good" (click)="goToPostpost()">Rediger</button>
        </div>

        <ledger-account-reconciliation style="font-size: .9rem"
            [accountNumber]="(supplier$|async)?.SupplierNumber"
            [showRowSelect]="false"
            [hideHeader]="true"
            [supplierID]="(supplier$|async)?.ID">
        </ledger-account-reconciliation>
    </section>

    <section *ngIf="activeTabIndex === 2" class="uni-container">
        <uni-attachments
            id="attachments"
            [entity]="'Supplier'"
            [entityID]="(supplier$ | async)?.ID">
        </uni-attachments>
    </section>

    <section *ngIf="showReportWithID" class="uni-container">
        <uni-query-read-only
            [queryDefinitionID]="showReportWithID"
            [filterValue]="(supplier$ | async)?.ID"
            [supplierID]="(supplier$ | async)?.ID">
        </uni-query-read-only>
    </section>

</section>
