<div class="autocomplete" (clickOutside)="onClickOutside()">
    <input #query
           [attr.aria-describedby]="asideGuid"
           class="autocomplete_input"
           [formControl]="control"
           [readonly]="readOnly$ | async"
           [placeholder]="field?.Placeholder || ''"
           (focus)="focusHandler()"
           role="combobox"
           autocomplete="false"
           aria-autocomplete="inline"
           [attr.aria-owns]="'results-'+guid"
           [title]="control?.value || ''"
           type="text"
           tabindex="-1"
    />
    <button #toggleBtn class="uni-autocomplete-searchBtn"
            type="button"
            [attr.aria-busy]="busy$ | async"
            tabIndex="-1">
        Søk
    </button>

    <ul #list
        class="uniTable_dropdown_list"
        [id]="'results-' + guid"
        role="listbox"
        tabindex="-1"
        [attr.aria-expanded]="isExpanded$ | async">

        <li *ngFor="let item of lookupResults; let idx = index"
            class="autocomplete_result uniTable_dropdown_item"
            role="option"
            (mouseover)="onMouseOver(item.isHeader, item, idx)"
            (click)="confirmSelection(item)"
            [attr.aria-selected]="selectedIndex === idx"
            [ngClass]="{ 'group_list_header' : item.isHeader }">
            {{ item.isHeader ? item.header : template(item) }}
        </li>
        <li class="poster_tags_addNew" *ngIf="field?.Options?.editor"
            (click)="openEditor()"
            (keydown.enter)="openEditor()"
            (mouseover)="selectedIndex = lookupResults?.length; selectedItem = null"
            [attr.aria-selected]="selectedIndex === lookupResults?.length"
        >
            Opprett <strong> '{{control?.value}}'</strong>…</li>
    </ul>
    <ng-content></ng-content>
</div>
