input[type=search]
    height: 2.5rem
    min-width: 20rem
    margin-bottom: 1.5rem

.scrolling-viewport
    height: 25rem

.selection-list-item
    margin-right: .5rem
.disabled
    cursor: default
    opacity: .75

.check-all-container
    border-bottom: 1px solid #eee
    margin-bottom: .5rem
    .check-all
        display: flex
        max-width: fit-content
        cursor: pointer
        margin: 0 .5rem .5rem 0
        padding: 0 1rem
        font-size: 15px
        strong
            margin-left: 5px
