<ng-container *ngIf="filteredItems && !busy">
    <input type="search" [formControl]="filterControl" placeholder="Søk">

    <div class="check-all-container">
        <mat-checkbox class="check-all" (click)="onCheckAllChange()">
            Velg alle <strong *ngIf="filteredItems?.length">({{filteredItems?.length}})</strong>
        </mat-checkbox>
    </div>

    <section class="uni-selection-list">
        <cdk-virtual-scroll-viewport itemSize="55" class="scrolling-viewport">
            <label *cdkVirtualFor="let item of filteredItems" class="selection-list-item" [ngClass]="{disabled: item['_isMandatory']}">
                <mat-checkbox 
                    [(ngModel)]="item['_selected']" 
                    (ngModelChange)="onItemSelectionChange(item)" 
                    [disabled]="item['_isMandatory']"
                ></mat-checkbox>
                {{item[labelProperty]}}
                <span *ngIf="item[secondLabelProperty]" class="pull-right">
                    {{item[secondLabelProperty]}}
                </span>
            </label>
        </cdk-virtual-scroll-viewport>
    </section>
</ng-container>

<section *ngIf="busy" style="min-height: calc(100vh - 30rem)">
    <section class="modal-spinner">
        <mat-spinner class="c2a"></mat-spinner>
    </section>
</section>