<input *ngIf="items?.length > 1" type="search" [formControl]="filterControl" placeholder="Søk">

<section class="check-all" (click)="onCheckAllChange()">
    <i class="material-icons" [ngClass]="{'selected': checkAll}">
        {{checkAll ? 'check_box' : 'check_box_outline_blank'}}
    </i>

    Velg alle <strong *ngIf="filteredItems?.length">({{filteredItems?.length}})</strong>
</section>

<ul class="uni-selection-list">
    <cdk-virtual-scroll-viewport itemSize="55" class="scrolling-viewport">
        <li *cdkVirtualFor="let item of filteredItems"
            (click)="onItemSelectionChange(item)"
            [ngClass]="{'selected': item['_selected']}">
            <i class="material-icons">
                {{item['_selected'] ? 'check_box' : 'check_box_outline_blank'}}
            </i>

            {{item[labelProperty]}}
            <span *ngIf="item[secondLabelProperty]">
                {{item[secondLabelProperty]}}
            </span>
        </li>
    </cdk-virtual-scroll-viewport>
</ul>
