.uni-modal
    width: 45rem

article
    display: flex
    width: 100%
    padding-bottom: 3rem

    .report-type
        flex: 1

    .report-parameters
        flex: 0 0 auto
        margin-left: 2rem
        padding: 0 1rem

mat-checkbox
    display: block
    margin-top: 1rem

mat-form-field
    display: block

footer button
    min-width: 6rem
    height: 2.5rem
    line-height: 0

    &.previewButton
        background: #fff
        color: var(--color-good)
        text-shadow: none
        border: 1px solid var(--color-good)
