<uni-toolbar [config]="toolbarconfig"
             [saveactions]="saveactions">
</uni-toolbar>
<section class=" application">
    <section class="splitview">
        <nav class="splitview_list">
            <button class="new-button" (click)="createNew()">Ny konto</button>
            <account-list (uniAccountChange)="changeAccount($event)"></account-list>
        </nav>
        <main class="splitview_detail">
            <account-details (accountSaved)="accountSaved($event)" [inputAccount]="account" (changeEvent)="change($event)"></account-details>
        </main>
    </section>
</section>
