<h2 class="application">Altinn Systempålogging</h2>
<article *ngIf="formConfig" class="application">
    <uni-form *ngIf="altinn"
            [config]="{}"
            [fields]="formConfig"
            [model]="altinn"
    >
    </uni-form>
    <a href="https://www.altinn.no/ui/profile" target="_blank"> Har du ikke Id eller er usikker på om systemet er satt opp mot altinn, trykk her </a>
    <br/><br/><button (click)="check()">Sjekk login info</button>
    <section class="warn"> {{loginErr}} </section>
</article>
<uni-save [actions]="saveactions"></uni-save>