<h2 class="application">Altinn Systempålogging</h2>
<article *ngIf="formConfig" class="application">
    <!--<uni-component-loader></uni-component-loader>-->
    <uni-form [config]="formConfig"></uni-form>
    <a href="https://idporten.difi.no/opensso/UI/Login?realm=/norge.no&spEntityID=sp.altinn.no&service=IDPortenLevel3List&goto=http%3A%2F%2Fidporten.difi.no%2Fopensso%2FSSORedirect%2FmetaAlias%2Fnorge.no%2Fidp3%3FReqID%3D63599162529795847838731%26index%3Dnull%26acsURL%3Dhttps%253A%252F%252Fwww.altinn.no%253A443%252Fpages%252Fauthentication%252FLoginIDPorten.aspx%26spEntityID%3Dsp.altinn.no%26binding%3Durn%253Aoasis%253Anames%253Atc%253ASAML%253A2.0%253Abindings%253AHTTP-Artifact"
        target="_blank"> Har du ikke Id eller er usikker på om systemet er satt opp mot altinn, trykk her </a>
</article>
<footer class="full-footer">
    <section class="application">
        <button class="good" (click)="saveAltinn($event)">Lagre altinn</button>
        <section class="auto_save_info">
            {{ lastSavedInfo }}
        </section>
    </section>
</footer>