<h2 class="application">Altinn Systempålogging</h2>
<article class="application">
    <uni-form *ngIf="(altinn$ | async)"
            [config]="formConfig$"
            [fields]="fields$"
            [model]="altinn$"
            (changeEvent)="change($event)"
    >
    </uni-form>
    <a href="https://www.altinn.no/ui/profile" target="_blank"> Har du ikke Id eller er usikker på om systemet er satt opp mot Altinn, trykk her </a>
    <br/><br/><button [attr.aria-busy]="busy" (click)="check()">Sjekk login info</button>
    <section class="warn"> {{loginErr}} </section>
</article>
<uni-save [actions]="saveactions"></uni-save>
<uni-confirm-modal></uni-confirm-modal>
