.checkbox
    margin-right: 3rem
    padding-right: 3rem
    vertical-align: bottom

    input[type="checkbox"]
        height: 20px
        width: 2.2rem
        vertical-align: bottom

.dropdown
    width: 6rem
    margin: 1rem
    padding: 3px
    height: 2rem

    select.bad
        background-color: orange !important

.dropdown-label, .dropdown
    font-weight: normal
    font-size: 12pt
