.checkbox
    margin-right: 3rem
    padding-right: 3rem
    vertical-align: bottom

    input[type="checkbox"]
        height: 20px
        width: 2.2rem
        vertical-align: bottom

.dropdown
    width: 6rem
    margin: 0 1rem 0 1rem
    padding: 3px
    height: 2rem

.dropdown-label, .dropdown
    font-weight: normal
    font-size: 12pt
    align-items: center

.heading
    display: flex
    margin-bottom: 1rem

    .dropdown-label
        margin-top: 0.3rem

    .warn
        margin-left: 2rem
        font-size: 12pt

    button
        margin-left: auto

select
    border-radius: 4px

td.ignore
    color: #ccc