<section role="dialog" class="uni-modal uni-statement-upload-modal" [ngClass]="currentStep === 'custom' ? 'large-mode' : ''">
    <header>Importer bankdata</header>

    <article>
        <section *ngIf="busy" class="modal-spinner">
            <mat-spinner class="c2a"></mat-spinner>
        </section>

        <!-- Account/file selection step -->
        <section *ngIf="currentStep=='upload'">
            <label class="uni-label label-left">
                <span>Velg konto</span>
                <select [(ngModel)]="selectedAccountID">
                    <option *ngFor="let bankAccount of bankAccounts" [ngValue]="bankAccount.AccountID">
                        {{bankAccount.Account?.AccountNumber}} - {{bankAccount.Account?.AccountName}}
                        ({{(bankAccount.AccountNumber | uninumberformat: 'bankacct') || (bankAccount.IBAN | uninumberformat: 'bankacct')}})
                    </option>
                </select>
            </label>

            <section class="file-select">
                <label class="uni-label label-left">
                    <span>Velg fil</span>

                    <section class="upload-button">
                        <i class="material-icons">cloud_upload</i>
                        Last opp fil
                        <input type="file" accept=".bck,.csv,.xml,.txt" (change)="uploadFile($event)" />
                    </section>
                </label>

                <ul *ngIf="files?.length" class="selectable file-selection-list">
                    <li *ngFor="let file of files; let i = index;"
                        (click)="selectedFileID = file.ID"
                        [class.selected]="selectedFileID === file.ID">

                        <span> {{file.Name}} </span>
                        <i class="material-icons" (click)="removeFile(file.ID, i)"> delete_outline </i>

                    </li>
                </ul>
            </section>
        </section>

        <!-- Custom-file-editor -->
        <section *ngIf="currentStep=='custom'">
            <bank-file-editor (onValidate)="onCustomValidation($event)" [fileID]="selectedFileID"></bank-file-editor>
        </section>

        <!-- Preview/confirm step -->
        <section *ngIf="currentStep=='preview'">
            <label class="uni-label label-left">
                <span>Velg filformat</span>
                <select [(ngModel)]="selectedImportTemplate" (ngModelChange)="loadPreviewLines()">
                    <option *ngFor="let template of importTemplates" [ngValue]="template">
                        {{template.Name}}
                    </option>
                </select>
            </label>

            <section *ngIf="!previewLines?.length && !busy" class="invalid-format warn" style="font-size: 15px;">
                Klarte ikke tolke filen. Sjekk at du har valgt rett filformat.<br>
                <button class="tertiary c2a" (click)="currentStep = 'custom'">
                    <i class="material-icons">edit</i>
                    Tilpass filformat
                </button>
            </section>

            <section *ngIf="previewLines?.length">
                <ul>
                    <li *ngFor="let entry of previewLines">
                        <span class="date">{{entry.BookingDate | date: 'dd.MM.yy'}}</span>
                        <span class="description">{{entry.Description}}</span>
                        <span class="amount" [ngClass]="entry.Amount >= 0 ? 'positive' : 'negative'">
                            {{entry.Amount | uninumberformat: 'money'}}
                        </span>
                    </li>
                </ul>

                <small *ngIf="previewLines?.length >= 10" style="margin-top: 1rem; padding-left: 1rem;">
                    Viser bare de første 20 linjene i forhåndsvisning, det kan være flere linjer i filen.
                </small>
            </section>
        </section>
    </article>

    <footer>
        <button class="secondary pull-left" (click)="onClose.emit()">
            Avbryt
        </button>

        <button class="secondary"
            [disabled]="currentStep=='upload'"
            (click)="gotoPreviousStep()">
            Tilbake
        </button>

        <button class="c2a"
            *ngIf="currentStep!='preview'"
            [disabled]="!selectedAccountID || !selectedFileID || (currentStep=='custom' && !(customValidation?.success))"
            (click)="goToNextStep()">
            Neste
        </button>

        <button class="c2a"
            *ngIf="currentStep=='preview'"
            [disabled]="!previewLines?.length"
            (click)="import()">
            Fullfør
        </button>
    </footer>
</section>
