.dropdown
    width: 6rem
    margin: 0 1rem 0 1rem
    padding: 3px
    height: 2rem

.dropdown-label, .dropdown
    font-weight: normal
    font-size: 12pt
    align-items: center

.heading
    display: flex
    margin-bottom: 1rem

    .dropdown-label
        margin-top: 0.3rem

    .warn
        margin-left: 2rem
        font-size: 12pt

    button
        margin-left: auto

td.ignore
    color: #ccc

thead
    tr:first-of-type th
        padding-top: .5rem
    tr:last-of-type th
        padding-bottom: .5rem
th select
    width: 100%
    height: 2rem
