.uni-statement-upload-modal
    width: 40rem
    transition: width .6s ease-in-out

    &.large-mode
        width: 85rem

footer
    button.c2a, button.good
        min-width: 8rem

.bank-statement-upload
    display: flex
    align-items: center
    width: 8rem
    height: 36px
    cursor: pointer
    margin-left: 1rem
    padding: 0 16px 0 14px
    border-radius: 3px
    color: #fff
    background: #1565c0
    &:hover
        background: lighten(#1565c0, 10%)
    i.material-icons
        font-size: 20px
        margin-right: 5px
    span
        margin-left: 5px
    input
        visibility: hidden
        width: 0px
        height: 0px

.file-select
    border-top: 1px solid #cccccc
    padding-top: 1rem

    .button-section
        display: flex
        align-items: center
        margin-bottom: 1rem

        .select-file-label
            flex: 1

ul
    max-height: 25rem
    overflow: auto
    list-style: none
    margin: 0
    li
        display: flex
        height: 2.75rem
        align-items: center
        padding: 0 1rem
        margin-bottom: 8px
        background: #F5F6F9
        border-radius: 3px
        font-size: 14px

        span + span
            margin-left: 1rem
        .date
            flex: 0 0 5rem
        .description
            flex: 1
        .amount
            flex: 0 0 8rem
            text-align: right
            font-weight: 500
        .positive
            color: rgba(22, 93, 190, 0.96)
        .negative
            color: #D12323

    &.selectable li
        cursor: pointer
        &.selected
            background: rgba(0,145,255,0.15)
            color: #1565C0

label.uni-label
    display: inline-flex
    span
        width: 9rem

.invalid-format
    margin-top: 1rem
    button
        margin-top: 1rem