.uni-statement-upload-modal
    width: 40rem
    transition: width .6s ease-in-out

    &.large-mode
        width: 85rem

footer
    button.c2a, button.good
        min-width: 8rem

.uni-label
    span
        width: 9rem

    .upload-button
        display: inline-flex
        align-items: center
        justify-content: flex-end
        color: var(--color-c2a)
        font-weight: 500
        font-size: 15px
        cursor: pointer
        margin-right: .5rem
        i.material-icons
            margin-right: .5rem
        input
            visibility: hidden
            width: 0px
            height: 0px

.file-select
    border-top: 1px solid var(--border-color)
    padding-top: 1rem

ul
    max-height: 25rem
    overflow: auto
    list-style: none
    margin: 0
    li
        display: flex
        height: 2.75rem
        align-items: center
        padding: 0 1rem
        margin-bottom: 8px
        background: #F5F6F9
        border-radius: 3px
        font-size: 14px

        span + span
            margin-left: 1rem
        .date
            flex: 0 0 5rem
        .description
            flex: 1
        .amount
            flex: 0 0 8rem
            text-align: right
            font-weight: 500
        .positive
            color: rgba(22, 93, 190, 0.96)
        .negative
            color: #D12323

    &.selectable li
        cursor: pointer
        display: flex

        span
            flex: 1

        i
            color: var(--color-c2a)

            &:hover
                color: var(--color-bad)
        &.selected
            background: rgba(0,145,255,0.15)
            color: #1565C0

.invalid-format
    margin-top: 1rem
    button
        margin-top: 1rem