.uni-modal
    width: 38rem

    article
        display: flex
        flex-direction: column
        padding: 1rem 4.5rem

        img
            margin: 0 auto 1rem

        h1
            font-size: 25px
            font-weight: 400
            margin: 0 auto 1rem

        p
            font-weight: 400

        mat-checkbox
            margin: 1rem 0

        i.material-icons
            font-size: 16px