<uni-toolbar
    [config]="toolbarconfig"
    [saveactions]="saveActions">
</uni-toolbar>

<section class="application">

    <section class="dimension-list uni-container">
        <select #selectElem (change)="dimChange(selectElem.value)">
            <option *ngFor="let dim of dimensionMetaData"
                [value]="dim.Dimension"
                [selected]="dim.Dimension == currentDimension">
                {{ dim.Label }}
            </option>
        </select>

        <uni-table
            [resource]="dimensionList"
            [config]="tableConfig"
            (rowSelected)="onRowSelected($event)">
        </uni-table>
    </section>

    <section class="dimension-details uni-container">
        <uni-tabs [tabs]="tabs" (activeIndexChange)="changeTab($event)"></uni-tabs>

        <uni-form
            *ngIf="activeTabIndex === 0"
            [config]="{}"
            [fields]="fields$"
            [model]="model$">
        </uni-form>

        <uni-table
            *ngIf="activeTabIndex > 0"
            [resource]="lookupFunction"
            [config]="TOFTableConfig"
            (rowSelected)="onTOFRowSelected($event)">
        </uni-table>
    </section>

</section>