.application
    display: flex
    flex-flow: row wrap
    margin-top: 2rem

    .dimension-list
        flex: 1
        min-width: 20rem
        select
            height: 2rem
            padding: 0
            margin: 1rem
            width: calc(100% - 2rem)


    .dimension-details
        flex: 2
        min-width: 40rem