<uni-toolbar
    [config]="toolbarconfig"
    [saveactions]="saveActions">
</uni-toolbar>

<section class="application">

    <section class="dimension-list uni-container" style="margin-right: 1rem">
        <select #selectElem (change)="dimChange(selectElem.value)">
            <option *ngFor="let dim of dimensionMetaData"
                [value]="dim.Dimension"
                [selected]="dim.Dimension == currentDimension">
                {{ dim.Label }}
            </option>
        </select>

        <ag-grid-wrapper
            [resource]="dimensionList"
            [config]="tableConfig"
            (rowSelectionChange)="onDimensionSelected($event)"
            (rowDelete)="onRowDelete($event)">
        </ag-grid-wrapper>
    </section>

    <section class="dimension-details uni-container">
        <uni-tabs
            [tabs]="tabs"
            [(activeIndex)]="activeTabIndex"
            (tabClick)="changeTab()">
        </uni-tabs>

        <uni-form
            *ngIf="activeTabIndex === 0"
            [config]="{}"
            [fields]="fields$"
            [model]="model$">
        </uni-form>

        <ag-grid-wrapper
            *ngIf="activeTabIndex > 0"
            [resource]="lookupFunction"
            [config]="TOFTableConfig">
        </ag-grid-wrapper>
    </section>

</section>