<uni-toolbar
    [config]="toolbarconfig"
    [saveactions]="saveactions">
</uni-toolbar>

<section class="application">
    <uni-tabs [tabs]="tabs" [(activeIndex)]="activeTabIndex" (activeIndexChange)="onTabIndexChange($event)"></uni-tabs>

    <section class="splitview" *ngIf="activeTabIndex === 0">
        <nav class="splitview_list">
            <vattype-list (uniVatTypeChange)="changeVatType($event)"></vattype-list>
        </nav>
        <main class="splitview_detail">
            <vattype-details
                [vatType]="vatType"
                (vatTypeSaved)="vatTypeSaved($event)"
                (change)="onChange($event)">
            </vattype-details>
        </main>
    </section>

    <section *ngIf="activeTabIndex === 1" class="uni-container">
        <vat-deduction-settings style="display: block;"></vat-deduction-settings>
    </section>
</section>
