timetracking-timetable .period-dropdown
    margin-bottom: 2rem

.timecell
    text-align: center
    vertical-align: bottom

    .flexplus
        border-bottom: 2px solid var(--color-good)

    .flexminus
        border-bottom: 2px solid var(--color-bad)

    .timesick
        color: var(--color-warn)

    .timeoff
        color: var(--color-good)

.hasOvertime
    background-color: rgba(255,255,0,0.15)

.weekend
    color: $uni-color-scale4
    background-color: lighten($uni-color-scale9, 5%)

.timesheet
    // min-width: 100%
    table-layout: fixed
    border-collapse: collapse
    margin-top: 1rem
    font-size: 14px

    thead tr
        height: 2rem
        border: 1px solid var(--border-color)
        th:not(:last-of-type)
            border-right: 1px solid var(--border-color)

    tbody tr:not(.sum)
        border: 1px solid var(--border-color)
        td:not(:last-of-type)
            border-right: 1px solid var(--border-color)

    //     &.sum td
    //         border-bottom: none !important

    // tr.sum

.timesheet th
    font-size: 10pt
    text-align: left
    text-overflow: ellipsis
    overflow-x: hidden
    white-space: nowrap
    padding: pxToRem(3) pxToRem(4) 0 pxToRem(4)

.timesheet th.s1
    width: pxToRem(60)
.timesheet th.s2
    width: pxToRem(140)
.timesheet th.s3
    width: pxToRem(120)
.timesheet th.s4
    width: 35%
.timesheet th.s5
    width: 45%

.timesheet th.left
    text-align: left
    padding-left: 1em

.timesheet th.center
    text-align: center

.timesheet th.right
    text-align: right

.timesheet .hovereffect:hover
    background-color: lighten($uni-color-scale6, 32%)
    cursor: pointer

.timesheet
    tr
        height: 2.4rem
    td
        padding: pxToRem(3) pxToRem(4) 0 pxToRem(4)
        white-space: nowrap
        text-overflow: ellipsis
        overflow-x: hidden

tr.sum td
    font-weight: 600
    padding-bottom: 0.2em
    padding-top: 0.4em

.timesheet td.center
    text-align: center

.timesheet td.right
    text-align: right
    padding-right: 2rem

.timesheet td.good
    color: var(--color-good)

.timesheet td.warn
    color: var(--color-warn)

.timesheet td.c2a
    color: var(--color-c2a)

.timetable-context-menu
    color: var(--scale1)

.border-left
    border-left: 1px solid var(--border-color)

.status-icon-class
    vertical-align: middle
    margin-bottom: .2rem
    font-size: 20px !important
    line-height: 20px !important

.send-in-button
    height: 1.8rem
    margin: 0
    padding: 0 1rem
    line-height: 0

.year-navigation
    display: flex
    margin-top: 1.5rem
    justify-content: center
    span
        font-size: .7rem
        cursor: pointer

        &:last-of-type
            margin-left: 1rem
        &.yearselected
            font-size: 2rem
            border-bottom: 1px solid
            padding-bottom: .4rem

.time-off-edit-container
    div
        align-items: center
        margin-bottom: 1rem
        font-size: 15px

        label
            width: 7rem

        small
            margin-left: 1rem
            cursor: pointer

    .save-timeoff-footer
        display: flex
        margin-top: 1rem

        button
            margin-right: 1rem

.hours-report-options
    .mat-checkbox-label
        font-size: 14px
        line-height: 23px !important

.uni-timetracking-trigger-button
    margin-left: 1.5rem

    button
        font-size: 14px
        height: 2.25rem
        line-height: 2.25rem
        border: 1px solid var(--border-color)
        border-radius: var(--section-radius)

        i
            font-size: 20px
            margin: 0 0 3px .5rem
            color: var(--color-c2a)
