// timetracking-timetable
//     padding-bottom: 2rem !important

.timecell
    text-align: center
    vertical-align: bottom

    .flexplus
        border-bottom: 2px solid $uni-color-c2a

    .flexminus
        border-bottom: 2px solid $uni-color-bad

    .timesick
        color: $uni-color-warn

    .timeoff
        color: $uni-color-good

.hasOvertime
    background-color: rgba(255,255,0,0.15)

.weekend
    color: $uni-color-scale4
    background-color: lighten($uni-color-scale9, 5%)

.timesheet
    table-layout: fixed
    border-collapse: collapse
    cursor: pointer
    margin-top: 1rem

    thead tr
        height: 2rem
        border: 1px solid $uni-color-scale9
        th:not(:last-of-type)
            border-right: 1px solid $uni-color-scale9

    tbody tr
        border: 1px solid $uni-color-scale9
        td:not(:last-of-type)
            border-right: 1px solid $uni-color-scale9

        &.sum td
            border-bottom: none !important

.timesheet th
    font-size: 10pt
    text-align: left
    text-overflow: ellipsis
    overflow-x: hidden
    white-space: nowrap
    padding: pxToRem(3) pxToRem(4) 0 pxToRem(4)

.timesheet th.s1
    width: pxToRem(40)
.timesheet th.s2
    width: pxToRem(90)
.timesheet th.s3
    width: pxToRem(140)
.timesheet th.s4
    width: 35%
.timesheet th.s5
    width: 45%

.timesheet th.left
    text-align: left
    padding-left: 1em

.timesheet th.center
    text-align: center

.timesheet th.right
    text-align: right

.timesheet td:hover
    background-color: lighten($uni-color-scale6, 32%)

.timesheet td
    padding: pxToRem(3) pxToRem(4) 0 pxToRem(4)
    white-space: nowrap
    text-overflow: ellipsis
    overflow-x: hidden

tr.sum td
    font-weight: 600
    padding-bottom: 0.2em
    padding-top: 0.4em

.timesheet td.sumright
    font-weight: 600

.timesheet th.sum
    background-color: lighten(mix($uni-color-scale9, $navbarBackground, 50%), 24%)

.timesheet td.left
    text-align: left
    padding-left: 1em

.timesheet td.center
    text-align: center

.timesheet td.right
    text-align: right

.timesheet td.good
    color: $uni-color-c2a

.timesheet button
    width: 2rem
    margin: 0 0 pxToRem(2) pxToRem(2)
    padding: pxToRem(5) pxToRem(2) pxToRem(2) pxToRem(2)
    background-size: 0.8rem !important
    background: lighten($uni-color-scale6, 34%) center center no-repeat
    border: 1px solid #ccc
    height: 1em
    overflow: hidden

    &.assign
        background-image: unicon-letter($uni-color-scale3)
        fill: $uni-color-c2a

    &.approve
        background-image: unicon-check($uni-color-scale3)
        fill: $uni-color-good

    &.locked
        background-image: unicon-lock($uni-color-scale3)

.timesheet td.actions
    vertical-align: middle
