batch-invoice-modal
    .summary-field
        display: flex
        span:first-of-type
            flex: 0 0 19rem
        span:last-of-type
            color: var(--color-c2a)

    .mat-horizontal-content-container
        overflow: visible !important

    a.distribution-plan
        display: block
        margin-top: 1.5rem

    .good
        color: var(--color-good)
        span
            display: inline-block
            position: relative
            margin-left: 2rem
            i
                position: absolute
                top: 0.1rem
                display: inline-block
                left: -2rem
