batch-invoice-modal
    dt
        display: inline-block
        width: 17.01rem
        text-align: right
        font-family: $uni-stack
    dd
        display: inline-block
        margin-left: 1.5rem
        font-weight: bold
        color: $uni-color-c2a
        font-family: $uni-stack

    .mat-horizontal-content-container
        overflow: visible !important

    a.distribution-plan
        display: block
        margin-top: 1.5rem

    .good
        color: $uni-color-good
        span
            display: inline-block
            position: relative
            margin-left: 2rem
            i
                position: absolute
                top: 0.1rem
                display: inline-block
                left: -2rem
