article.tof-head
    padding: 0
    margin: 0
    width: 100%
    min-height: 13rem
    display: flex
    flex-flow: row wrap

    invoice-reminders
        order: 1
        flex: 1

        aside
            order: 2
            flex: 1
            margin-left: 0.6rem
            font-size: 0.9rem

    tof-customer-card
        order: 1
        flex: 0 1 30%
        margin-right: 1rem

        fieldset
            width: calc(100% - 2rem)

        input,
        button.searchBtn
            height: 2rem !important


    tof-details-form,
    tof-delivery-form,
        order: 2
        flex: 1

        fieldset
            width: 100%
            flex-basis: 100%
            max-width: none

        uni-field
            label span
                width: 10rem

            label span+*
                width: calc(100% - 10rem)

    .freetext-fieldset,
    .attachment-fieldset,
    .reminder-fieldset,
    .sellers-fieldset
        order: 2
        flex: 1
        width: 100%
        max-width: none


    .freetext-fieldset
        label
            display: block
            line-height: 2rem
            margin-bottom: 1rem

            span
                width: 10rem

            span+*
                width: calc(100% - 10rem)
                float: right

    uni-attachments
        height: 12rem
        width: calc(100% - 15rem)
        float: right
        label
            width: 100%
        article
            width: 100%
            margin: 0

.addressCard
    display: block
    height: 8.2rem
    width: 100%
    box-sizing: border-box
    min-height: pxToRem(107)
    padding: .3rem .8rem
    margin-top: 2.5rem
    border-radius: pxToRem(5)
    border: 1px dashed $uni-color-scale8
    font-size: .9rem
    position: relative

    &[aria-readonly]:not([aria-readonly=false])
        .edit-btn
            cursor: not-allowed

    .edit-btn
        min-height: 0
        height: 0.8rem
        width: 0.8rem
        position: absolute
        top: pxToRem(5)
        right: pxToRem(5)
        cursor: pointer

        background-size: auto .8rem
        background-image: unicon-edit($uni-color-scale5)
        &:hover
            background-image: unicon-edit($uni-color-c2a)

    .badge-in-progress
        background-color: $uni-color-warn

    .badge-completed
        background-color: $uni-color-good

    .badge-failed
        background-color: $uni-color-bad

    .badge-available
        background-color: $uni-color-positive

    .badge-unavailable
        display: none

    .sharing-badges
        position: absolute
        bottom: pxToRem(5)
        right: pxToRem(5)

    .sharing-badges > span
        width: pxToRem(45)
        color: white
        border: pxToRem(1) solid $uni-color-scale9
        border-radius: pxToRem(3)
        font-size: .8rem
        text-align: center
        padding: pxToRem(4)

    .unpaid-invoices a
        color: $uni-color-bad

uni-invoice-items
    display: block
    margin-top: 2rem
