article.tof-head
    padding: 0
    margin: 1.5rem 0 0
    width: 100%
    min-height: 13rem
    display: flex
    flex-flow: row wrap

    .uni-container
        fieldset
            padding-top: 0
            max-width: none
            margin-right: .5rem

        &.customer-card
            margin-right: 1rem
            min-width: 16rem

        &.tof-forms
            flex: 2.5
            min-width: 48rem
            margin-right: 0

    .required-dimension
        font-size: .9rem
        i.material-icons
            vertical-align: middle
            margin-bottom: 2px

    .comment-input label span
        margin-bottom: 1rem
        i.material-icons
            color: var(--color-c2a)
            margin-right: .25rem
            margin-bottom: 2px

    tof-details-form,
    tof-delivery-form,
    uni-dimension-view
        display: block
        order: 2
        flex: 1

        fieldset
            width: 100%
            flex-basis: 100%
            max-width: none

        uni-field
            @include labelLength(10rem)

    .tof-attachments,
    .tof-reminders,
    .tof-sellers
        box-sizing: border-box

tof-customer-card
    display: block
    padding: 0 1rem
    max-width: 35rem

    .customer-select
        margin-bottom: .5rem

    .addressCard
        display: flex
        flex-direction: column
        width: 100%
        box-sizing: border-box
        min-height: 8rem
        padding: .5rem .75rem .75rem
        border-radius: 4px
        border: 1px dashed var(--border-color)
        font-size: .9rem
        position: relative

        .edit-btn
            position: absolute
            top: .75rem
            right: .75rem
            cursor: pointer
            font-size: 16px
            &:hover
                color: var(--color-c2a)

        .badge-pending
            background-color: var(--color-warn)

        .badge-in-progress
            background-color: var(--color-warn)

        .badge-cancelled
            background-color: var(--color-bad)

        .badge-completed
            background-color: var(--color-good)

        .badge-failed
            background-color: var(--color-bad)

        .badge-available
            background-color: var(--color-c2a)

        .badge-unavailable
            display: none

        .sharing-badges
            margin-top: auto
            display: flex
            justify-content: flex-end
            flex-wrap: wrap

            > span
                flex: 0 0 auto
                min-width: 3rem
                height: 24px
                line-height: 24px
                color: #fff
                font-size: 14px
                text-align: center
                padding: 0 8px
                border-radius: 25px
                margin-top: .5rem
                & + span
                    margin-left: .25rem

        .unpaid-invoices a
            color: var(--color-bad)

.tradeitem-container
    margin-right: 0

    uni-tradeitem-table
        display: block

    .freetext-and-summary
        display: flex
        justify-content: space-between
        padding-bottom: 1rem

        .freetext
            flex: 1
            max-width: 35rem
            span
                display: block
                margin: 0 0 .25rem 2px
                font-weight: 500
                font-size: 14px

        .tof-summary
            display: flex
            .currency-and-db
                flex: 0 0 auto
                display: flex
                flex-direction: column
                margin-top: .25rem
                font-size: 14px
            .vertical-summary
                flex: 0 0 auto
                min-width: 25rem
                margin-left: 2rem
