article.tof-head
    padding: 0
    margin: 1.5rem 0 0
    width: 100%
    min-height: 13rem
    display: flex
    flex-flow: row wrap

    invoice-reminders
        order: 1
        flex: 1

        aside
            order: 2
            flex: 1
            margin-left: 0.6rem
            font-size: 0.9rem

    .uni-container

        fieldset
            padding-top: 0
            max-width: none
            margin-right: .5rem

        &.customer-card
            min-width: 16rem

        &.tof-forms
            flex: 2.5
            min-width: 48rem
            margin-right: 0

            .mat-tab-label
                height: 2.5rem !important


    tof-details-form,
    tof-delivery-form,
    uni-dimension-tof-view,
        display: block
        order: 2
        flex: 1

        fieldset
            width: 100%
            flex-basis: 100%
            max-width: none

        uni-field
            @include labelLength(10rem)

    .tof-freetext,
    .tof-attachments,
    .tof-reminders,
    .tof-sellers
        box-sizing: border-box

    .tof-freetext
        label
            display: block
            line-height: 2rem
            margin-bottom: 1rem

            span
                width: 10rem

            span+*
                width: calc(100% - 10rem)
                float: right


tof-customer-card
    display: block
    padding: 0 1rem
    max-width: 35rem

    input, button.searchBtn
        height: 2rem !important

    uni-search
        display: block
        height: 2rem
        margin-bottom: 1rem

    .addressCard
        display: block
        height: 8.2rem
        width: 100%
        box-sizing: border-box
        min-height: pxToRem(107)
        padding: .3rem .8rem
        margin-bottom: 1.5rem
        border-radius: pxToRem(5)
        border: 1px dashed $uni-color-scale8
        font-size: .9rem
        position: relative

        &[aria-readonly]:not([aria-readonly=false])
            .edit-btn
                cursor: not-allowed

        .edit-btn
            min-height: 0
            height: 0.8rem
            width: 0.8rem
            position: absolute
            top: pxToRem(5)
            right: pxToRem(5)
            cursor: pointer

            background-size: auto .8rem
            background-image: unicon-edit($uni-color-scale5)
            &:hover
                background-image: unicon-edit($uni-color-c2a)

        .badge-pending
            background-color: $uni-color-warn

        .badge-in-progress
            background-color: $uni-color-warn

        .badge-cancelled
            background-color: $uni-color-bad

        .badge-completed
            background-color: $uni-color-good

        .badge-failed
            background-color: $uni-color-bad

        .badge-available
            background-color: $uni-color-positive

        .badge-unavailable
            display: none

        .sharing-badges
            position: absolute
            bottom: pxToRem(5)
            right: pxToRem(5)

        .sharing-badges > span
            width: pxToRem(45)
            color: white
            border: pxToRem(1) solid $uni-color-scale9
            font-size: .8rem
            text-align: center
            padding: pxToRem(4)

        .unpaid-invoices a
            color: $uni-color-bad

.tradeitem-container
    margin-right: 0

    uni-tradeitem-table
        display: block


    .tof-summary
        display: flex
        .currency-info
            flex: 0 0 auto
            margin-left: auto
            margin-right: 3rem
            font-size: 14px

        .vertical-summary
            flex: 0 0 25rem
            margin-right: 2.75rem
