.uni-autobank-agreement-modal-body
    padding: 0 3rem

    p
        margin-bottom: 3rem

    &.final-msg
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

        i
            font-size: 5rem
            color: var(--color-c2a)
        p
            color: var(--color-c2a)
