<section role="dialog" class="uni-modal uni-autobank-agreement-modal">
    <section *ngIf="busy" class="modal-spinner">
        <mat-spinner class="c2a"></mat-spinner>
    </section>
    <i class="material-icons close-bankagreement-button" (click)="close()" title="Lukk veiviser. Du vil da bli navigert tilbake til startsiden"> close </i>
    <div style="flex: 0 0 20rem" class="progressbar_container sr-agreement-bar">
        <p style="color: var(--color-c2a)"> Veiviser for autobank </p>
        <ul class="autobank_progressbar">
            <li>
                <span [class.is-active-step]="steps === 0">  </span>
                <div [class.is-active-step]="steps === 0"> Intro </div>
            </li>
            <li>
                <span [class.is-active-step]="steps === 1">  </span>
                <div [class.is-active-step]="steps === 1"> Avtalevilkår </div>
            </li>
            <li>
                <span [class.is-active-step]="steps === 2">  </span>
                <div [class.is-active-step]="steps === 2"> Godkjenne betalinger </div>
            </li>
            <li>
                <span [class.is-active-step]="steps === 3">  </span>
                <div [class.is-active-step]="steps === 3"> Driftkonto* </div>
            </li>
            <li>
                <span [class.is-active-step]="steps === 4">  </span>
                <div [class.is-active-step]="steps === 4"> Lønnskonto </div>
            </li>
            <li>
                <span [class.is-active-step]="steps === 5">  </span>
                <div [class.is-active-step]="steps === 5"> Skattetrekkskonto </div>
            </li>
            <li>
                <span [class.is-active-step]="steps === 6">  </span>
                <div [class.is-active-step]="steps === 6"> Sikkerhet* </div>
            </li>
            <li>
                <span [class.is-active-step]="steps === 7">  </span>
                <div [class.is-active-step]="steps === 7"> Ferdigstilling </div>
            </li>
        </ul>
    </div>

    <div style="flex: 1; display: flex; flex-direction: column; justify-content: center; position: relative">

        <article class="uni-autobank-agreement-modal-body" *ngIf="steps === 0" id="step0" style="margin: 0 auto;">
            <h3>Koble sammen bank og regnskap</h3>
            <p>
                Autobank gjør det mulig for SpareBank 1 Regnskap å snakke sammen med nettbanken. Bankkontoer, saldo og transaksjoner er synlige i regnskapssystemet,
                og du legger opp utbetalinger i nettbanken direkte fra SpareBank 1 Regnskap. Sammenkoblingen gjør også selve regnskapsførselen enklere for deg.
                For å komme i gang med denne tjenesten må du gjennom denne veiviseren for oppsett av bankkontoer og opprettelse av passord.
            </p>

            <small style="color: var(--color-bad)"> {{ errorMsg }} </small>
        </article>

        <article class="uni-autobank-agreement-modal-body step1" *ngIf="steps === 1" id="step1">
            <ng-container *ngIf="bankAgreementUrl">
                <object [data]="bankAgreementUrl" type="application/pdf">
                    <a [href]="bankAgreementUrl">Avtalevilkår</a>
                </object>
                <br>

                <mat-checkbox [(ngModel)]="hasReadAgreement">
                    Godta vilkår og avtaler
                </mat-checkbox>
            </ng-container>
            <p *ngIf="!bankAgreementUrl">
                Fant ingen avtalevilkår. Kontakt systemansvarlig.
            </p>
        </article>

        <article class="uni-autobank-agreement-modal-body" *ngIf="steps === 2" id="step2">
            <h3>Godkjenning av betalinger</h3>
            <p>
                Her velger du metoden for å godkjenne betalinger: velger du regnskapsgodkjente betalinger kan du forhåndsgodkjenne betalingene,
                ellers må du ettergodkjenne betalingene i nettbanken.
            </p>

            <mat-radio-group [(ngModel)]="payload.BankApproval">
                <mat-radio-button [value]="false">Regnskapsgodkjente betalinger</mat-radio-button>
                <mat-radio-button [value]="true">Ettergodkjente betalinger i nettbanken</mat-radio-button>
            </mat-radio-group>
        </article>

        <article class="uni-autobank-agreement-modal-body" *ngIf="steps === 3" id="step3">
            <h3>Driftkonto</h3>
            <p>
                Her velger du hvilken bankkonto som brukes som driftskonto. Denne er <strong>påkrevd</strong> for å fortsette. <br/> Om du allerede har ordnet dette, trykk Neste.
            </p>
            <uni-form
                [model]="companySettings$"
                [fields]="fields$"
                [config]="{showLabelAbove: true, autoFocus: true}"
                (changeEvent)="isDirty = true">
            </uni-form>
        </article>

        <article class="uni-autobank-agreement-modal-body" *ngIf="steps === 4" id="step4">
            <h3>Lønnskonto</h3>
            <p> Her kan du velge å sette opp egen konto for eventuelle lønnsutbetalinger. Hvis ikke du setter opp en konto her, vil systemet bruke konto satt som Driftskonto. Trykk neste for å fortsette. </p>
            <uni-form
                [model]="companySettings$"
                [fields]="fields$"
                [config]="{showLabelAbove: true, autoFocus: true}"
                (changeEvent)="isDirty = true">
            </uni-form>
        </article>

        <article class="uni-autobank-agreement-modal-body" *ngIf="steps === 5" id="step5">
            <h3>Skattetrekkskonto</h3>
            <p> Her kan du sette opp en konto for eventuelle skattetrekk. Denne konto er ikke påkrevd, så om du ønsker å hoppe over, er det bare å trykke Neste. </p>
            <uni-form
                [model]="companySettings$"
                [fields]="fields$"
                [config]="{showLabelAbove: true, autoFocus: true}"
                (changeEvent)="isDirty = true">
            </uni-form>
        </article>

        <article class="uni-autobank-agreement-modal-body" *ngIf="steps === 6" id="step6">
            <h3>Sikkerhetsinnstillinger</h3>
            <p>
                Her oppretter du et passord for autobank. Passordet brukes til å bekrefte registrerte utbetalinger i systemet.
                Dette passordet må ikke forveksles med passordet du bruker ved pålogging i regnskapssystemet eller nettbanken.
            </p>

            <label class="uni-label">
                <span>Telefonnummer</span>
                <input type="text" [(ngModel)]="payload.Phone">
            </label>

            <label class="uni-label">
                <span>Passord</span>
                <input type="password" [(ngModel)]="payload.Password">
            </label>

            <label class="uni-label">
                <span>Bekreft passord</span>
                <input type="password" [(ngModel)]="payload.Password2">
            </label>
            <small>Passord må være minst 10 tegn og inneholde minst 1 stor bokstav [A-Z], 1 liten bokstav [a-z], et tall [0-9] og et tegn</small>
            <br/>
            <small style="color: var(--color-bad)"> {{ errorMsg }} </small>

        </article>

        <article class="uni-autobank-agreement-modal-body final-msg" *ngIf="steps === 7" id="step7">
            <i class="material-icons">thumb_up</i>
            <h3>Avtale opprettet </h3>
            <p>
                Oppsett fullført. Trykk ferdig for å begynne å bruke bankmodulen.
            </p>
        </article>
        <footer style="position: absolute; bottom: 2rem; width: 100%;">
            <button *ngIf="steps === 0" class="secondary pull-left" (click)="close()"> Gjennomfør senere </button>
            <button class="secondary" *ngIf="steps > 0 && steps < 7" (click)="prev()" [disabled]="isDirty">
                Tilbake
            </button>

            <button *ngIf="isDirty" class="c2a" (click)="saveAccount()"> Lagre </button>

            <button *ngIf="steps === 6" class="c2a" (click)="postAutobankUser()"> Opprett autobank </button>

            <!-- [disabled]="!dataLoaded || (isDirty && this.steps > 0) || !isNextStepValid" -->
            <button *ngIf="steps < 6" class="c2a" (click)="next()"> Neste </button>

            <button class="c2a" *ngIf="this.steps === 7" (click)="close()"> Ferdig </button>
        </footer>
    </div>
</section>
