<section class="subscribe-modal" role="dialog" class="uni-modal">
    <header>
        <button class="close-button" (click)="onClose.emit()">×</button>

        <section class="product-info">
            <img [src]="product.iconReference" />

            <section class="product-name">
                <strong>{{product.label}}</strong>
                <small>{{product.name}}</small>
            </section>
        </section>

        <section class="subscribe-section">
            <a *ngIf="product.productType === elsaProductType.Integration" href="{{product.buttonLink}}" target="_blank" [matTooltip]="cannotPurchaseProductsText">
                <button class="subscribe-button">{{product.buttonLabel || 'Aktiver produkt'}}</button>
            </a>

            <div [matTooltip]="missingPermissionText">
                <button *ngIf="action"
                    class="per-user"
                    (click)="action.click()"
                    [disabled]="!canPurchaseProducts">
                        {{action.label}}
                </button>
            </div>

            <span class="is-purchased" *ngIf="extensionBoughtAndActivated && !action">
                <i class="material-icons">check_circle</i>
                Aktivert
            </span>

            <span *ngIf="product.price" class="price-container">
                <span class="price">{{product.price}} kr</span>
                <span class="price-type">{{priceText(product)}}</span>
            </span>
        </section>

        <p>
            {{product.description}}
        </p>
    </header>

    <article class="htmlContent" *ngIf="product.htmlContent" [innerHTML]="product.htmlContent | keepHtml"></article>
</section>
