@import '../marketplaceSharedStyles.sass'

.uni-modal
    width: 40rem
    padding: 1.5rem 0 1rem

.product-header
    display: flex
    flex-direction: row
    margin: auto 0

    .product-icon
        flex: 0 0 auto
        width: 3rem
        height: 3rem
        margin-right: 1rem
        overflow: hidden
        & img
            width: 100%
            margin: auto

    > section
        flex: 1
        display: flex
        flex-direction: column
        line-height: 24px
        justify-content: center

        .name-row
            display: flex
            flex-direction: row

            strong
                font-weight: 500
                font-size: 20px

            span
                vertical-align: middle
            .is-purchased
                margin-left: 1rem
                font-weight: 400
                font-size: 14px
                color: #707d90
                i.material-icons
                    color: var(--color-good)
                    font-size: 21px
                    vertical-align: middle
                    margin-right: 4px

        .price-row
            color: #707d90
            font-weight: 300
            font-size: 13px

\:host article
    padding: 0rem 3rem 1rem
    .product-description
        font-size: 15px
        margin: 1rem 0 2rem

    .html-content::ng-deep
        font: 400 15px var(--font-family)

        h1
            font: 400 22px var(--font-family)

        h2
            font: 400 18px var(--font-family)

        h3
            font: 500 16px var(--font-family)

        p
            font: 400 15px var(--font-family)

        blockquote
            padding: 10px 20px
            margin: 0 0 20px
            border-left: 5px solid #eee
            p
                margin: 0

        ul
            list-style: none
            li
                position: relative
                padding-left: 1.25rem
                margin-bottom: 5px
                &:before
                    position: absolute
                    top: -4px
                    left: 0
                    content: '-'
                    font-size: 20px

        .video-container
            margin: 2rem 0
            iframe
                max-width: 100%

        img
            max-width: 100%

.material-icons
    margin: auto
    color: var(--color-warn)
    font-size: 48px

h1
    font: 500 18px 'Roboto', sans-serif
    margin: .5rem auto