<section class="uni-modal uni-redesign subscribe-modal" role="dialog">
    <header class="subscribe-modal-header">

        <section *ngIf="!isConsentStep" class="product-header">
            <section class="product-icon">
                <img src="{{product.IconReference}}" />
            </section>

            <section>
                <section class="name-row">
                    <strong>{{product.Label}}</strong>

                    <section class="is-purchased" *ngIf="product['_isBought'] && !action">
                        <i class="material-icons">check_circle</i>
                        <span>Aktivert</span>
                    </section>
                </section>

                <section class="price-row" *ngIf="product.Price">
                    <strong>{{product.Price}} kr</strong>
                    {{priceText(product)}}
                </section>
            </section>
        </section>
    </header>

    <article *ngIf="!isConsentStep" class="scrollable">
        <section class="product-description">{{product.Description}}</section>

        <!-- New markdown CMS -->
        <section *ngIf="htmlContent" class="html-content">

            <section class="product-information" [innerHTML]="htmlContent"></section>
            <section
                *ngIf="videoMarkup"
                class="video-container"
                [innerHTML]="videoMarkup | keepHtml">
            </section>
        </section>

        <!-- Old CMS  -->
        <ng-container *ngIf="!htmlContent">
            <!-- <p>{{product.Description}}</p> -->
            <section *ngIf="!htmlContent && product.HtmlContent" [innerHTML]="product.HtmlContent | keepHtml"></section>
        </ng-container>

        <a *ngIf="product?.ButtonLink" [href]="product.ButtonLink" target="_blank" class="read-more-link">
            {{product.ButtonLabel || 'Les mer'}}
        </a>
    </article>

    <section *ngIf="isConsentStep" style="display: grid">
        <i class="material-icons">info</i>
        <h1>Viktig informasjon</h1>

        <article style="text-align: center" [innerHTML]="htmlContent"></article>
    </section>

    <!-- has valid clientID is a temp fix -->
    <footer class="center" *ngIf="action && hasValidClientId"> 
        <div [matTooltip]="tooltipText">
            <button class="c2a rounded"
                (click)="onPurchaseClick()"
                [disabled]="!canPurchaseProducts || !hasOrgNr">
                {{isConsentStep ? 'Godta' : action.label}}
            </button>
        </div>

        <button (click)="onClose.emit()" style="margin-left: 10px;">{{isConsentStep ? 'Avbryt' : 'Lukk'}}</button>
    </footer>
</section>
