@import '../marketplaceSharedStyles.sass'

$side-margins: 5rem

.uni-modal
    width: 42rem

header
    display: flex
    flex-flow: column
    padding: 2rem $side-margins 1rem
    background-color: $bg-color
    color: $dark-text-color
    position: relative

    .close-button
        color: black
        position: absolute
        top: .5rem
        right: 0
        background-color: inherit
        text-shadow: none
        font-size: 2.2rem

    .product-info
        display: flex
        flex-direction: row
        margin: 0 0 1rem

        img
            width: 2.75rem
            height: 2.75rem

        .product-name
            margin: auto 1rem

            strong, small
                display: block
                line-height: 18px

            strong
                font-size: 1.25rem

            small
                color: #707d90

    .subscribe-section
        display: flex

        button
            margin-left: 0
            text-shadow: none
            background-color: $primary-button-color

            &.is-bought
                background-color: $good-color

        span.is-purchased
            margin: auto 2rem auto 0
            font-size: 14px
            color: #707d90
            i.material-icons
                color: $good-color
                font-size: 21px
                vertical-align: middle
                margin-right: 5px

        .price-container
            margin: auto 0
            white-space: nowrap

        .price
            font-weight: 800
            font-size: 1.3rem

.htmlContent
    color: $light-text-color
    padding: 1rem $side-margins 2rem
    ::ng-deep // <-- Fix for styling not being applied recursively
        h1
            color: $dark-text-color
            font-size: 1.125rem
            font-weight: 600

        ul
            padding-bottom: 1.67rem

        li
            list-style-type: none
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><circle style="fill:#{$light-text-color};" cx="10" cy="10" r="5"/></svg>')
            background-repeat: no-repeat
            background-position-y: center
            padding-left: 2rem

        img
            width: 100%
            height: auto

        iframe
            width: 100%
