<section class="subscribe-modal" role="dialog" class="uni-modal">
    <header>
        <button class="close-button" (click)="onClose.emit()">×</button>

        <section class="product-info">
            <img [src]="product.IconReference" />

            <section class="product-name">
                <strong>{{product.Label}}</strong>
                <small>{{product.Name}}</small>
            </section>
        </section>

        <section class="subscribe-section">
            <a *ngIf="product.ProductType === elsaProductType.Integration" href="{{product.ButtonLink}}" target="_blank" [matTooltip]="cannotPurchaseProductsText">
                <button class="subscribe-button">{{product.ButtonLabel || 'Aktiver produkt'}}</button>
            </a>

            <div [matTooltip]="missingPermissionText">
                <button *ngIf="action"
                    class="per-user"
                    (click)="action.click()"
                    [disabled]="!canPurchaseProducts">
                        {{action.label}}
                </button>
            </div>

            <span class="is-purchased" *ngIf="extensionBoughtAndActivated && !action">
                <i class="material-icons">check_circle</i>
                Aktivert
            </span>

            <span *ngIf="product.Price" class="price-container">
                <span class="price">{{product.Price}} kr</span>
                <span class="price-type">{{priceText(product)}}</span>
            </span>
        </section>

        <p>
            {{product.Description}}
        </p>
    </header>

    <article class="htmlContent" *ngIf="product.HtmlContent" [innerHTML]="product.HtmlContent | keepHtml"></article>
</section>
