\:host
    display: flex
    width: 100%
    height: 100%
    align-items: center
    border-radius: var(--section-radius)
    overflow: hidden

    .clock-date-section
        flex: 0 0 auto
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        height: 100%
        background: var(--color-c2a)
        color: #fff
        padding: 0 1rem
        .day
            font: 400 1.2rem var(--font-family)
        .date
            font: 400 .9rem var(--font-family)
            margin-top: 4px
    .clock-time-section
        font: 400 3.25rem var(--font-family)
        color: #8C97AB
        width: 100%
        text-align: center
        padding-right: .5rem
