<uni-toolbar [config]="toolbarconfig"
             [saveactions]="saveactions">
</uni-toolbar>
<section class="application">
    <section class="splitview">
        <nav class="splitview_list">
            <vattype-list (uniVatTypeChange)="changeVatType($event)"></vattype-list>
        </nav>
        <main class="splitview_detail">
            <vattype-details [vatType]="vatType" (vatTypeSaved)="vatTypeSaved($event)" (change)="onChange($event)"></vattype-details>
        </main>
    </section>
</section>
<div style="height: 70px">&nbsp;</div>
