<section class="uni-modal">
    <header>{{isNewCustomer ? 'Rediger kunde' : 'Ny kunde'}}</header>

    <article>
        <section *ngIf="busy" class="modal-spinner">
            <mat-spinner class="c2a"></mat-spinner>
        </section>

        <section *ngIf="externalLookupOptions" class="external-search">
            <autocomplete
                [options]="externalLookupOptions"
                (valueChange)="onExternalSearchSelected($event)">
            </autocomplete>
        </section>

        <uni-form
            [model]="customer$"
            [fields]="fields$"
            [config]="config$"
            (changeEvent)="isDirty = true">
        </uni-form>
    </article>

    <footer>
        <button (click)="onClose.emit()" class="secondary">
            Avbryt
        </button>

        <button *ngIf="showSaveAsLead" (click)="save(true)" class="secondary pull-right">
            Lagre som potensiell kunde
        </button>

        <button (click)="save()" class="c2a" (keydown.tab)="$event.preventDefault()">
            Lagre
        </button>
    </footer>
</section>