<article class="modal-content" [attr.aria-busy]="busy" *ngIf="config">
    <h1>Faste innstillinger feriepenger</h1>
    <uni-form *ngIf="companysalaryModel" [config]="formConfig" [fields]="fields" [model]="companysalaryModel" (onChange)="change($event)" (onReady)="ready($event)"></uni-form>
    <uni-table *ngIf="companysalaryModel" [config]="tableConfig" [resource]="vacationRates"></uni-table>
    <footer>
        {{infoText}}
        <button class="good" (click)="saveSettings()">Lagre</button>
        <button class="bad" *ngIf="config.hasCancelButton" (click)="config.cancel()">Avbryt</button>
    </footer>
</article>