@import 'redesign-buttons'
@import 'redesign-modal'
@import 'redesign-form'

.uni-redesign
    font-family: 'Roboto', sans-serif

.mat-checkbox-label, .mat-checkbox-disabled .mat-checkbox-label,
.mat-radio-label, .mat-radio-disabled .mat-radio-label
    font-family: 'Roboto', sans-serif

.mat-checkbox-inner-container
    background: #fff
.mat-checkbox-frame
    border-color: rgba(0, 0, 0, 0.3) !important