@import 'redesign-buttons'
@import 'redesign-modal'
@import 'redesign-form'

.uni-redesign
    font-family: var(--font-family)

    a
        color: #1565c0
        text-decoration: none
        &:hover
            text-decoration: underline

.mat-checkbox-label, .mat-checkbox-disabled .mat-checkbox-label,
.mat-radio-label, .mat-radio-disabled .mat-radio-label
    font-family: var(--font-family)

.mat-checkbox-inner-container
    background: #fff
.mat-checkbox-frame
    border-color: rgba(0, 0, 0, 0.3) !important