.input-with-button
    display: inline-flex
    height: 36px
    background: #fff
    border: 1px solid #C3CAD9
    border-radius: 3px

    input
        flex: 1
        height: 100%
        border: none

    button
        flex: 0 0 auto
        height: 100%
        color: rgba(0, 0, 0, 0.87)
        border: none
        border-left: 1px solid #C3CAD9
        border-radius: 0


.uni-redesign .uni-html-form
    font-size: 15px
    label:not(.mat-checkbox-layout)
        display: flex
        margin-bottom: 1rem

        > span
            flex: 0 0 200px
            margin: auto 1rem auto 0

        input, textarea, select
            flex: 1
            border: 1px solid #C3CAD9
            border-radius: 2px
            height: 36px

            &.ng-touched.ng-invalid, &.invalid
                border: 1px solid #F53B57


        select
            padding: 0 4px

    &.label-align-right label > span
        text-align: right

    // Label sizes
    &.label-xs label > span
        flex-basis: 100px

    &.label-sm label > span
        flex-basis: 150px

    &.label-md label > span
        flex-basis: 200px

    &.label-lg label > span
        flex-basis: 250px

    &.label-xl label > span
        flex-basis: 300px


    fieldset
        border: 0
        padding: 4rem 0 .5rem

        // Reset uniform styling
        background: unset
        width: unset
        min-width: unset
        max-width: unset
        flex-basis: unset
        margin: 0
        box-shadow: none

        legend
            font: 500 16px var(--font-family)
            line-height: unset
            height: unset
            border: 0
            padding: 0
            margin-top: 1rem
