.uni-html-form
    font-size: 15px
    label:not(.mat-checkbox-layout)
        display: flex
        margin-bottom: 1rem

        > span
            flex: 0 0 200px
            margin: auto 1rem auto 0

        input, textarea, select
            flex: 1
            border: 1px solid #C3CAD9
            border-radius: 3px
            height: 36px

            &.ng-touched.ng-invalid, &.invalid
                border: 1px solid #F53B57

        select
            padding: 0 4px

    &.label-align-right label > span
        text-align: right

    &.label-sm label > span
        flex-basis: 150px
