.uni-redesign .uni-modal,
.uni-redesign.uni-modal
    font-family: var(--font-family)
    display: flex
    flex-direction: column
    padding: 1rem 0
    border-radius: 0
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12)
    position: relative

    .modal-spinner
        position: absolute
        width: 100%
        height: 100%
        left: 0
        top: 0
        background: rgba(255,255,255,.75)
        display: flex
        z-index: 999

        mat-spinner
            margin: auto
            circle
                stroke: #1565c0

    > header
        flex: 0 0 4rem
        display: flex
        background: #fff
        padding: 0 2.5rem 0 3rem
        border-radius: 0
        color: $uni-color-positive

        font: 500 18px var(--font-family)
        line-height: 4rem

        h1
            font: 500 18px var(--font-family)
            margin: auto 0
            padding: 0

        i.close-button
            margin: auto 0 auto auto
            font-size: 24px


    > article
        flex: 1
        overflow: auto
        padding: 1rem 3rem

        &.scrollable
            max-height: calc(100vh - 15rem)

    > footer
        flex: 0 0 5rem
        display: flex
        padding: 0 3rem
        margin-top: 1rem
        justify-content: flex-end
        border-radius: 0
        border: 0

        > *
            margin: auto 0

        &.center
            justify-content: center

        button
            margin: auto 0
            & + button
                margin-left: 10px
            &.c2a
                min-width: 6rem
                &.rounded
                    min-width: 10rem

    &.maybe-default
        padding: 0

        header
            flex: 0 0 4rem
            line-height: 4rem
            padding: 0 2.5rem 0 2.25rem
            background: #f9f9f9
            border-bottom: 1px solid #ccc
            font-weight: 400

        article
            padding: 2.5rem 3rem

        footer
            flex: 0 0 4.5rem
            justify-content: flex-end
            padding: 0 2rem
            background: #f9f9f9
            border-top: 1px solid #ccc
