<article *ngIf="salaryBalance">
    <small *ngIf="showDescriptionText">{{ description$ | async }}</small>
    <header>
        <mat-slide-toggle
            [checked]="showAllLines"
            (change)="toggleShowAllLines($event)"
            [labelPosition]="'before'">
            Vis alle poster
        </mat-slide-toggle>

        <button class="tertiary c2a" style="margin-left: 1rem;" *ngIf="!isUnionType" (click)="activateEditMode()">
            Legg til manuell post
        </button>
    </header>
    <section>
        <ag-grid-wrapper [attr.aria-busy]="busy && !!editMode" [resource]="tableModel$ | async" [config]="tableConfig" class="salaryBalanceSummaryTable"></ag-grid-wrapper>
    </section>
</article>
