<article *ngIf="salaryBalance">
    <small *ngIf="showDescriptionText">{{ description$ | async }}</small>
    <header>
        <mat-slide-toggle
            [checked]="showAllLines"
            (change)="toggleShowAllLines($event)"
            [labelPosition]="'before'">
            Vis alle poster
        </mat-slide-toggle>

        <button class="add-manual-post" *ngIf="!isUnionType" (click)="activateEditMode()">
            Legg til manuell post
        </button>
    </header>
    <section>
        <uni-table [attr.aria-busy]="busy && !!editMode" [resource]="tableModel$ | async" [config]="tableConfig" class="salaryBalanceSummaryTable"></uni-table>
    </section>
</article>
