.splitview_detail
    button
        margin: 0 0 1rem
        min-width: 7rem
        height: 2rem
        line-height: 0
.splitview_list
    width: 30%
    ag-grid-wrapper
        max-height: unset !important
.splitview_detail
    width: 70%
