<uni-toolbar [config]="{title: 'Altinn oversikt'}" [saveactions]="actions"></uni-toolbar>
<section class="splitview application">
    <nav class="splitview_list">
        <ag-grid-wrapper [resource]="receipts$ | async" [config]="config$ | async" (rowSelectionChange)="updateSelected($event)"></ag-grid-wrapper>
    </nav>
    <main class="splitview_detail uni-container">
        <header>
            Detaljer
            <button class="tertiary c2a pull-right" (click)="updateReceipt()" [attr.aria-busy]="busy" [disabled]="!selectedReceipt$.value?.ReceiptID">Oppdater</button>
        </header>
        <section style="width: 100%">
            <uni-altinn-overview-details
                [receipt]="selectedReceipt$ | async">
            </uni-altinn-overview-details>
        </section>
    </main>
</section>
