<section role="dialog" class="uni-modal uni-redesign maybe-default">
    <header>Opprett flyt fra mal</header>
    <article>
        <section *ngIf="busy" class="modal-spinner">
            <mat-spinner class="c2a"></mat-spinner>
        </section>

        <label>
            <span>Navn</span>
            <input type="text" [(ngModel)]="eventPlan.Name" />
        </label>

        <label *ngFor="let input of flowInputs">
            <span>{{input.Label.no}}</span>            
            <input *ngIf="input.Type !== 'bool'" type="text" [(ngModel)]="input.Value" />
            <input *ngIf="input.Type === 'bool'" type="checkbox" [(ngModel)]="input.Value" />
        </label>
    </article>

    <footer class="center">
        <button class="c2a" (click)="save()">
            Lagre
        </button>

        <button (click)="onClose.emit()">
            Avbryt
        </button>
    </footer>
</section>