<uni-toolbar [config]="toolbarConfig"
             [saveactions]="saveActions">
</uni-toolbar>

<section class="application">
    <section class="splitview">
        <nav class="splitview_list">
            <uni-table *ngIf="roles?.length"
                        [config]="rolesTableConfig"
                        [resource]="roles"
                        (rowSelected)="onRowSelected($event)">
            </uni-table>
        </nav>

        <main class="splitview_detail">
            <uni-form [config]="formConfig$"
                      [fields]="formFields$"
                      [model]="formModel$"
                      (changeEvent)="onFormChange($event)">
            </uni-form>

            <uni-permission-selector *ngIf="permissions"
                [permissions]="permissions"
                (permissionSelected)="onPermissionAdded($event)">
            </uni-permission-selector>

            <uni-table [config]="permissionsTableConfig"
                       [resource]="displayRolePermisssions"
                       (rowDeleted)="onPermissionDeleted($event)">
            </uni-table>
        </main>
    </section>
</section>

<uni-confirm-modal></uni-confirm-modal>