<article [attr.aria-expanded]="expanded" class="uniFeedback_dropdown">
    <form (ngSubmit)="submit()">
        <small class="validation error" *ngIf="error">
            Noe gikk galt under sending. Vennligst prøv igjen.
        </small>
        
        <label>
            Tittel
            <input #title type="text" [ngFormControl]="titleControl" placeholder="Tittel" />
        </label>

        <label>
            Beskrivelse
            <textarea #description [ngFormControl]="descriptionControl" placeholder="Beskrivelse"></textarea>
        </label>

        <button type="submit"
                [attr.aria-busy]="busy" 
                [disabled]="!title.value.length || !description.value.length || busy">
            Send tilbakemelding
        </button>
    </form>
</article>
<button class="c2a uniFeedback_toggle" (click)="toggle()">Tilbakemelding</button>