<section class="splitview">

    <nav class ="splitview_list">
        <button class="good add-new-eventplan-button" (click)="onAddNewEventplan()" [disabled]="!currentEventplan?.ID">
            Ny flyt
        </button>
        <event-plans-list
            [selectedIndex]="selectedIndex"
            [data]="data"
            (eventplanSelected)="onEventplanSelected($event)"
            (eventplanDeleted)="onDeleteEventplan($event)"
        ></event-plans-list>
    </nav>

    <main class="splitview_detail">
        <event-plan-details
            [eventplan]="currentEventplan"
            [isTouched]="areDetailsTouched"
            (saveEventplan)="onSaveEventplan($event)"
            (deleteEventplan)="onDeleteEventplan($event)"
            (addSubscriber)="onAddSubscriber()"
            (updateSubscriber)="onUpdateSubscriber()"
            (deleteSubscriber)="onDeleteSubscriber()"
            (touched)="onDetailsTouched($event)"
        ></event-plan-details>
    </main>
</section>
