<section class="no-users" *ngIf="users?.length === 0">
    Det er kun lisensadministratorer som har tilgang til å se hvilke brukere som finnes på en lisens.
</section>

<section class="list-container" *ngIf="users?.length">
    <section class="header">
        <h1>Brukere på lisensen</h1>

        <section class="pull-right">
            <button #trigger class="tertiary toggle-button">
                {{selectedUserTypeName}}
                <i style="margin-bottom: 2px; margin-left: -2px;" class="material-icons">expand_more</i>
            </button>
            <dropdown-menu [trigger]="trigger">
                <ng-template>
                    <section 
                        *ngFor="let item of userTypeDropdown" 
                        class="dropdown-menu-item"
                        (click)="item.action()"
                        [attr.aria-selected]="selectedUserTypeName === item.label"
                    >
                        {{item.label}}
                    </section>
                </ng-template>
            </dropdown-menu>
        </section>

        <input
            type="search"
            placeholder="Søk"
            [(ngModel)]="filterValue"
            (ngModelChange)="filterUsers()"
        />
    </section>

    <license-info-list
        class="selection-list"
        [columns]="columns"
        [rows]="filteredUsers"
        [orderBy]="'UserName'"
        [contextMenu]="contextMenu"
        (rowClick)="onUserSelected($event)">
    </license-info-list>
</section>

<license-user-details
    *ngIf="selectedUser && detailsVisible"
    [user]="selectedUser"
    [contractID]="contractID"
    (close)="detailsVisible = false">
</license-user-details>