<section class="no-users" *ngIf="users?.length === 0">
    Det er kun lisensadministratorer som har tilgang til å se hvilke brukere som finnes på en lisens.
</section>

<section class="list-container" *ngIf="users?.length">
    <section class="header">
        <h1>Brukere på lisensen</h1>

        <select [(ngModel)]="userType" (change)="filterUsers()" class="pull-right">
            <option [value]="-1">Alle</option>
            <option [value]="0">Standard</option>
            <option [value]="1">Regnskapsfører</option>
            <option [value]="10">Supportbruker</option>
        </select>

        <input
            type="search"
            placeholder="Søk"
            [(ngModel)]="filterValue"
            (ngModelChange)="filterUsers()"
        />
    </section>

    <license-info-list
        class="selection-list"
        [columns]="columns"
        [rows]="filteredUsers"
        [orderBy]="'UserName'"
        (rowClick)="onUserSelected($event)">
    </license-info-list>
</section>

<license-user-details
    *ngIf="selectedUser && detailsVisible"
    [user]="selectedUser"
    (close)="detailsVisible = false">
</license-user-details>