<section role="dialog" class="uni-modal uni-redesign aprila-modal">
    <header>
        <div class="title">
            <h1>{{headerTitle}}</h1>
            <div class="settings-wrapper" *ngIf="hasPermission">
                <button (click)="toggleShowSetting()"><i class="material-icons">settings</i>Innstillinger</button>
                <div class="offer-settings" *ngIf='showOfferSettings' >
                    <span class="tip-arrow"></span>
                    <label>Alltid vis tilbud fra Aprila Fakturasalg <mat-slide-toggle [checked]="isShowOffer"
                            (change)="isShowOffer = !isShowOffer" class="modal-switch"></mat-slide-toggle></label>
                </div>
            </div>
        </div>
    </header>

        <article [attr.aria-busy]="gettingOfferProgress">
            <form class="uni-html-form">
                <div class="details" *ngIf="isOffered">
                    <div class="row">
                        <label class="title">Fakturabeløp</label><label> {{offer.InvoiceAmount.Amount}}
                            {{offer.InvoiceAmount.Currency}}</label>
                    </div>
                    <div class="row">
                        <label class="title">Avgift {{offer.CostPercentage}} %</label><label> {{offer.TotalCost.Amount}}
                            {{offer.TotalCost.Currency}}</label>
                    </div>
                    <div class="row">
                        <label class="title">Utbetaling i dag</label><label> {{offer.DisbursementAmount.Amount}}
                            {{offer.DisbursementAmount.Currency}}</label>
                    </div>
                    <!-- <label>Avgift 2% : 3750.00 kr</label>
                <label>Utbetaling idag : 3750.00 kr</label> -->
                    <label class="check-box-container">
                        <mat-checkbox class="check-box" (change)="isOfferAccept=$event.checked">
                        </mat-checkbox>
                        <label class="option-text">
                            Jeg ønsker å selge faktura
                        </label>
                    </label>
                </div>

                <div *ngIf="!isOffered && offer && offer.Reasons">
                    <div class="error" *ngFor="let error of offer.Reasons">
                        <label class="error-title">{{error.ReasonCode}}</label>
                        <label class="error-message">{{error.ReasonDescription}}</label>
                        <!-- <label class="error-reason"> <i class="material-icons">error</i> {{error.ReasonDescription}}</label> -->
                    </div>
                </div>

                <div class="error" *ngIf="validationError && validationError.length > 0">
                    <label class="error-title">Kan ikke selge denne fakturaen</label>
                    <label class="error-message" *ngFor="let error of validationError; index as i">{{i+1}}.
                        {{error}}</label>
                    <!-- <label class="error-reason"> <i class="material-icons">error</i> {{error.ReasonDescription}}</label> -->
                </div>

                <!-- <label><input type="checkbox"> Jeg onsker a selge faktura</label> -->
            </form>        
        </article>

        <footer class="modal-footer">
            <div class="note">
                <label>Tjensten leveres av Aprila Bank.</label>
                <label>Lær mer om <a> salg av fakturaer og prisberegning</a></label>
            </div>
            <div class="actions" *ngIf="!gettingOfferProgress">
                <button class="cancel" (click)="close(false)" [disabled]="offerFeedbackProgress">Avbryt</button>
                <button class="okay" (click)="declineOffer()" *ngIf="!isOfferAccept"  [disabled]="offerFeedbackProgress" [attr.aria-busy]="offerFeedbackProgress">Fakturer vanlig</button>
                <button class="okay" (click)="acceptOffer()" *ngIf="isOfferAccept"  [disabled]="offerFeedbackProgress" [attr.aria-busy]="offerFeedbackProgress">Selg og fakturaer</button>
            </div>

        </footer>
    
</section>
