@import '~src/styles/uni-redesign/_color.sass'

$settings-color: #2b394b

section.uni-modal.uni-redesign
    &.aprila-modal
        width: 650px
        padding-bottom: 0
        border-radius: 10px
        header
            .title
                width: calc(100% - 4rem)
                display: flex
                align-items: center
                h1
                    width: auto
                button
                    margin-left: 15px
                    border: 1px solid $uni-color-scale5
                    font-size: 12px
                    height: 12px
                    padding: 0 5px
                    color: $uni-color-scale5
                    i
                        padding-right: 5px
                        font-size: 18px
    .settings-wrapper
        position: relative
        display: flex

        .offer-settings
            .tip-arrow
                isplay: block
                width: 0
                position: absolute
                top: -10px
                left: 35px
                border-bottom: 12px solid $settings-color
                border-right: 11px solid transparent
                border-left: 12px solid transparent
            label
                color: white
                margin: 0
            box-shadow: 0 1px 14px 0px rgba(0, 0, 0, 0.14)
            background: $settings-color
            width: 300px
            height: 50px
            font-size: 12px
            border-radius: 3px
            display: flex
            align-items: center
            justify-content: center
            position: absolute
            z-index: 1
            top: 40px
            left: -20px
            border-radius: 3px
            .modal-switch
                margin-left: 12px
                ::ng-deep &.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar
                    background: $redesign-light-blue !important
                ::ng-deep &.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb
                    background: white !important 

    .details
        margin: 10px 65px
        .row
            margin: 8px 0
            padding: 0 15px
            justify-content: space-between
            background-color: #f2f2f2
            border-radius: 5px
            label
                margin: 0
                min-height: 50px
                align-items: center
                &.title
                    font-weight: bold
        .check-box-container
            margin-top: 15px 
            width: 230px
            .option-text   
                margin-left: 15px     

    .error
        display: flex
        flex-flow: column
        margin: 40px 0
        .error-title
            justify-content: center
            text-align: center
            font-weight: bold
        .error-message
            justify-content: center
            text-align: center
        .error-reason
            font-size: 12px
            justify-content: center
            text-align: center
            background: #fdd3d9
            margin: 0 90px
            padding: 10px
            border-radius: 3px
            i
                display: flex
                align-items: center
                font-size: 15px
                margin-right: 5px
                color: $uni-color-scale5


    .modal-footer
        background: #f7f7f7
        border-top: 0.01em solid #cbced0
        justify-content: space-between
        border-radius: 0 0 10px 10px
        .note
            display: flex
            flex-flow: column
            text-align: left
            font-size: 12px
        .actions
            display: flex

            .okay
                border-radius: 3px
                height: 2rem
                color: white
                background: $redesign-good
                white-space: nowrap
            .cancel
                border-radius: 3px
                border: 1px solid $uni-color-scale8
                height: 2rem
                color: $redesign-light-blue
                background-color: transparent
                white-space: nowrap
                &:hover
                    background: $uni-color-scale9

$tiny-and-less: "only screen and (max-width: 479px)"

@media #{$tiny-and-less}
    .aprila-modal
        .title
            button
                height: auto !important
            .settings-wrapper
                .offer-settings
                    left: -174px !important
                    top: 50px !important
                    .tip-arrow
                        left: 225px !important
        .details
            margin: auto !important

        .error
            .error-title
                text-align: center
            .error-message
                text-align: center
            .error-reason
                justify-content: center
                margin: 0 !important

        .modal-footer
            flex-direction: column
            padding-bottom: 15px  !important
            padding-top: 15px  !important
        .actions
            justify-content: center
            margin-top: 10px  !important
