@import '~src/styles/unibase/colors/__colors.sass'

$settings-color: #2b394b

section.uni-modal.aprila-modal
    width: 650px
    .settings-wrapper
        position: relative
        display: flex
        margin-left: 1rem

        > i.material-icons
            cursor: pointer

        .offer-settings
            box-shadow: 0 1px 14px 0px rgba(0, 0, 0, 0.14)
            background: $settings-color
            width: 300px
            height: 50px
            font-size: 12px
            border-radius: 3px
            position: absolute
            z-index: 1
            top: 40px
            left: -20px
            border-radius: 3px
            .tip-arrow
                width: 0
                position: absolute
                top: -10px
                left: 20px
                border-bottom: 12px solid $settings-color
                border-right: 11px solid transparent
                border-left: 12px solid transparent
            label
                color: white
                margin: 0

                display: flex
                justify-content: center
                align-items: center
                height: 100%

            .modal-switch
                margin-left: 12px
                ::ng-deep &.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar
                    background: var(--link-color) !important
                ::ng-deep &.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb
                    background: white !important

    .details
        font-size: 15px
        .item
            display: flex
            justify-content: space-between
            align-items: center
            height: 50px
            margin: 8px 0
            padding: 0 15px
            background-color: #f2f2f2
            border-radius: 4px

            span.title
                font-weight: bold

        mat-checkbox
            display: block
            margin: 1rem 0 .5rem .5rem

    .error
        display: flex
        flex-flow: column
        margin: 40px 0
        .error-title
            font-weight: bold
        .error-reason
            font-size: 12px
            background: #fdd3d9
            margin: 0 90px
            padding: 10px
            border-radius: 3px
            i
                display: flex
                align-items: center
                font-size: 15px
                margin-right: 5px
                color: $uni-color-scale5


    .modal-footer
        justify-content: space-between
        .note
            display: flex
            flex-flow: column
            text-align: left
            font-size: 12px

$tiny-and-less: "only screen and (max-width: 479px)"

@media #{$tiny-and-less}
    .aprila-modal
        .title
            button
                height: auto !important
            .settings-wrapper
                .offer-settings
                    left: -174px !important
                    top: 50px !important
                    .tip-arrow
                        left: 225px !important
        .details
            margin: auto !important

        .error
            .error-title
                text-align: center
            .error-message
                text-align: center
            .error-reason
                justify-content: center
                margin: 0 !important

        .modal-footer
            flex-direction: column
            padding-bottom: 15px  !important
            padding-top: 15px  !important
        .actions
            justify-content: center
            margin-top: 10px  !important
