section
    display: flex
    flex-direction: column
    justify-content: space-between

    margin: 0 1rem
    height: 60%

    p
        display: flex
        justify-content: space-between
        align-items: center

        background-color: var(--panel-header-background)
        border-radius: var(--section-radius)

    span
        max-width: 80%
        padding: 1.2rem 1rem

        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

    button
        font-size: .8rem
        i
            font-size: 1rem
            margin-right: 0.25rem