<section class="application supplierinvoice-listview">

    <header>
        <table class='timeentry_toolbar'><tr>
        <td>
            <button class="good" (click)="onAddNew()">Ny regning</button>
        </td>
        <td><input type="search" placeholder="Søk" [formControl]="searchControl" ></td>
        </tr></table>
    </header>

    <aside class="horizontal_nav no-print">
        <ul>
            <li *ngFor="let filter of filters">
                <a (click)="onFilterClick(filter)" [ngClass]="{'router-link-active': filter.isSelected}" >{{filter.label}}&nbsp;<span *ngIf="filter.count" class="tab_counter">{{filter.count}}</span></a>
            </li>
        </ul>
    </aside>

    <article [attr.aria-busy]="busy" >

        <uni-table [resource]="listOfInvoices"
            [config]="tableConfig"
            (rowSelected)="onRowSelected($event)"
            (rowDeleted)="onRowDeleted($event.rowModel)"
            (pageChange)="onPageChange($event)">
        </uni-table>

        <div class="right total">
            Sum {{currentFilter.label}} ({{currentFilter.count}} stk.) : {{totals.grandTotal | unicurrency}}
        </div>

    </article>

    <uni-confirm-modal></uni-confirm-modal>

</section>
