<uni-toolbar
    [config]="toolbarConfig"
    [saveactions]="saveActions">

</uni-toolbar>

<section class="supplierinvoice-listview">

    <header class="horizontal_nav no-print">
        <ul>
            <li *ngFor="let filter of filters">
                <a (click)="onFilterClick(filter)" [ngClass]="{'router-link-active': filter.isSelected}" >
                    {{filter.label}}&nbsp;
                    <span *ngIf="filter.count" [class.tab_counter_passive]="filter.passiveCounter" [class.tab_counter_hot]="filter.hotCounter" class="tab_counter">{{filter.count}}</span>
                </a>
            </li>
        </ul>
    </header>

    <header class="application">
        <table class='toolbar' style="float: left">
        <tr>
            <td>
                <input type="search" placeholder="Søk" [formControl]="searchControl" ><button class="good" (click)="onAddNew()">Nytt fakturamottak</button>
            </td>
            <td>
                <uni-form *ngIf="!(filters[0].isSelected || filters[1].isSelected)" [config]="config$"
                    [fields]="fields$"
                    [model]="searchParams$"
                    (changeEvent)="onFormFilterChange($event)">
                </uni-form>
            </td>
            <td>
            </td>
        </tr>
    </table>
    <a *ngIf="fileID" class="accounting_preview_links" (click)="documentSelected(true)">Bruk i fakturamottak</a>
    <a *ngIf="fileID" class="accounting_preview_links" (click)="documentSelected(false)">Bruk i bilagsregistrering</a>
    </header>

    <article class="application accounting_inbox_container" [attr.aria-busy]="busy">
        <!--Article container for the table-->
        <article class="accounting_inbox_list_container">
            <uni-table [resource]="listOfInvoices"
                [config]="tableConfig"
                (rowSelected)="onRowSelected($event)"
                (rowDeleted)="onRowDeleted($event.rowModel)"
                (pageChange)="onPageChange($event)"
                (rowSelectionChanged)="onRowSelectionChanged($event ? $event.rowModel : null)">
            </uni-table>

            <div class="right total" *ngIf="this.currentFilter.name === 'Inbox'">
                {{currentFilter.label}} ({{currentFilter.count}} stk.)
            </div>
            <div class="right total" *ngIf="this.currentFilter.name !== 'Inbox'">
                Sum {{currentFilter.label}} ({{currentFilter.count}} stk.) : {{totals.grandTotal | unicurrency}}
            </div>

        </article>

        <!--Article container for the preview -->
        <article class="preview_container" id="preview_container_id" [attr.aria-busy]="loadingPreview">
            <uni-image
                [singleImage]="true"
                [readonly]="true"
                [uploadWithoutEntity]="true"
                [fileIDs]="fileID"
                (fileListReady)="onFileListReady($event)">
            </uni-image>
        </article>
    </article>
</section>
