<uni-toolbar
    [config]="toolbarConfig"
    [saveactions]="saveActions">
</uni-toolbar>

<section class="application">
    <uni-tabs
        [tabs]="filters"
        [labelProperty]="'label'"
        [(activeIndex)]="activeFilterIndex"
        (tabClick)="onFilterClick($event)">
    </uni-tabs>

    <section class="progress-container">
        <mat-progress-bar
            *ngIf="loading$ | async"
            class="uni-progress-bar"
            mode="indeterminate">
        </mat-progress-bar>
    </section>

    <section class="bill-container">
        <!-- List -->
        <section class="uni-container bill-list">
            <ng-container *ngIf="currentFilter">
                <uniform-autocomplete
                    *ngIf="currentFilter.name === 'Rejected' || currentFilter.name === 'ForApproval' || currentFilter.name === 'Approved'"
                    class="assignee-filter"
                    [field]="assigneeFilterField"
                    [model]="searchParams$"
                    (changeEvent)="onFormFilterChange($event)">
                </uniform-autocomplete>

                <div class="bill-list-sum" *ngIf="currentFilter.name === 'Inbox'">
                    {{currentFilter.label}} ({{currentFilter.count}} stk.)
                </div>
                <div class="bill-list-sum" *ngIf="currentFilter.name !== 'Inbox'">
                    Sum {{currentFilter.label}} ({{currentFilter.count}} stk.) : {{totals.grandTotal | unicurrency}}
                </div>
            </ng-container>

            <ag-grid-wrapper
                [resource]="listOfInvoices"
                [config]="tableConfig"
                (rowClick)="onRowClick($event)"
                (rowSelectionChange)="onRowSelectionChange($event)"
                (rowDelete)="onRowDelete($event)">
            </ag-grid-wrapper>

            <span title="Oppdater" class="refreshbutton" (click)="onRefreshClicked()" ><i class="material-icons vertical-middle">refresh</i></span>
        </section>

        <!-- Detail -->
        <section class="uni-container bill-preview" *ngIf="previewVisible">
            <section *ngIf="fileID" class="accounting-preview-actions">
                <button class="secondary" (click)="documentSelected(true)">
                    {{ 'ACCOUNTING.SUPPLIER_INVOICE.CREATE' | translate }}
                </button>
                <button class="tertiary c2a" (click)="documentSelected(false)">
                    Bruk i bilagsføring
                </button>
            </section>

            <uni-image
                [splitFileDialogAllowed]="true"
                [rotateAllowed]="true"
                [uploadWithoutEntity]="true"
                [readonly]="true"
                [fileIDs]="fileID"
                (fileSplitCompleted)="onFileSplitCompleted()">
            </uni-image>
        </section>
    </section>
</section>
