@import '~src/styles/unibase/colors/__colors.sass'

\:host
    flex: 0 0 auto
    margin: auto 0

.validation-item
    display: inline-block
    margin-right: .75rem
    color: var(--scale1)
    outline: none
    cursor: default

    &.interactive
        cursor: pointer

    .validation-icon
        font-size: 21px
        vertical-align: middle
        margin-top: -4px

        &.good
            color: var(--color-good)
        &.bad
            color: var(--color-bad)
            transform: rotate(45deg) // because the icon used is a + not an x
        &.warn
            color: var(--color-warn)