uni-combo-group
    width: 100%
    height: 4rem
    margin: 1rem
    display: inline-block
    
    uni-field label
        margin: 0
        padding: 0
        box-sizing: border-box

    uni-field:first-of-type label
        width: 5rem

    uni-field:last-of-type label
        width: calc(100% - 5rem)
               
    uni-field input
        border-radius: 0
        border-left-width: 0
        
    uni-field:first-of-type input
        border-radius: pxToRem(3) 0 0 pxToRem(3)
        border-left-width: pxToRem(1)
 
    uni-field:last-of-type input
        border-radius: 0 pxToRem(3) pxToRem(3) 0
 