\:host
    display: block

.list-container
    height: calc(100vh - 12rem)

    select
        flex: 0 0 12rem
        height: 2.25rem
        border: 1px solid #D2DAE2
        border-radius: 2px
        margin-right: 1rem
        padding-left: 5px

        &.year-select
            flex: 0 0 6rem

span.sum
    margin-left: auto
    font-weight: 500

    span.label
        color: #8C96A9
        font-size: 15px
    span.value
        color: #485460
        margin-left: 5px
        font-size: 16px
