<!-- Check specifically for false so the message doesn't show while loading -->
<section class="missing-permissions" *ngIf="hasPermission === false">
    Det er kun lisensadministratorer som har tilgang til å se estimert forbruk på en lisens.
</section>

<section class="list-container" *ngIf="hasPermission">
    <section class="header">
        <h1>Estimert forbruk</h1>

        <select class="view-mode-select" [(ngModel)]="viewMode">
            <option [value]="0">Per produkt</option>
            <option [value]="1">Per bruker</option>
            <option [value]="2">Transaksjoner per selskap</option>
        </select>

        <select [(ngModel)]="periodFilter.month" (change)="loadInvoice()">
            <option [value]="0">Januar</option>
            <option [value]="1">Februar</option>
            <option [value]="2">Mars</option>
            <option [value]="3">April</option>
            <option [value]="4">Mai</option>
            <option [value]="5">Juni</option>
            <option [value]="6">Juli</option>
            <option [value]="7">August</option>
            <option [value]="8">September</option>
            <option [value]="9">Oktober</option>
            <option [value]="10">November</option>
            <option [value]="11">Desember</option>
        </select>

        <select [(ngModel)]="periodFilter.year" (change)="loadInvoice()" class="year-select">
            <option *ngFor="let option of yearSelectOptions" [value]="option">
                {{option}}
            </option>
        </select>

        <button class="tertiary c2a" (click)="openExportBillingModal()">
            Ordregrunnlag
        </button>

        <section class="pull-right">
            <button class="tertiary c2a" (click)="export()">
                <!-- <i class="material-icons">save_alt</i> -->
                Eksporter
            </button>
        </section>
    </section>

    <section *ngIf="settledUntilInfo?.length" class="settled-until" [innerHTML]="settledUntilInfo"></section>

    <ng-container *ngIf="emptyData === false">
        <license-info-list
            *ngIf="+viewMode === 0"
            class="selection-list"
            [columns]="columns"
            [rows]="billingData?.Items"
            [billingData]="billingData"
            (rowClick)="onRowClick($event)">
        </license-info-list>
    
        <cost-per-user
            *ngIf="+viewMode === 1"
            [billingData]="billingData">
        </cost-per-user>
    
        <transactions-per-company
            *ngIf="+viewMode === 2"
            [billingData]="billingData">
        </transactions-per-company>
    </ng-container>

    <section *ngIf="emptyData === true" class="empty-data">
        <img *ngIf="!hideEmptyDataImage"
            [src]="emptyDataImageUrl" 
            (load)="emptyDataImageLoaded = true"
            (error)="hideEmptyDataImage = true"
            alt="Illustration indicating missing data"
        />
        <section *ngIf="hideEmptyDataImage || emptyDataImageLoaded">
            Det finnes ikke estimert forbruk for denne perioden
        </section>
    </section>
</section>

<invoice-item-details
    *ngIf="detailsVisible && selectedRow"
    [item]="selectedRow"
    (close)="detailsVisible = false">
</invoice-item-details>
