\:host
    display: block

.missing-permissions
    font-size: 15px
    color: rgba(0, 0, 0, .75)
    margin-top: 2rem
    margin-left: 1rem

.list-container
    min-height: 150px
    max-height: calc(100vh - 12rem)

    select
        flex: 0 0 7rem
        margin-right: 1rem
        font-size: 15px

        &.view-mode-select
            flex: 0 0 14rem
        &.year-select
            flex: 0 0 5rem

    .settled-until
        margin: -0.5rem 0 5px

    .empty-data
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        padding: 1rem 4rem 1.5rem
        > img
            padding-right: 4rem

