\:host
    display: block

.list-container
    height: calc(100vh - 12rem)

    select
        flex: 0 0 12rem
        margin-right: 1rem
        &.year-select
            flex: 0 0 6rem

span.sum
    margin-left: auto
    font-weight: 500
    span.label
        color: #8C96A9
        font-size: 15px
    span.value
        color: #485460
        margin-left: 5px
        font-size: 16px
