.uni-card
    padding: 0
    margin-bottom: 1rem
    background-color: #fff
    border: 1px solid var(--border-color)
    border-radius: var(--section-radius)

    .uni-card-header
        display: flex
        align-items: center
        min-height: 3.75rem
        padding: 0 2rem
        border-bottom: 1px solid var(--border-color)

        h1
            font-size: 1.15rem
            font-weight: 500
            margin: 0 1rem 0 0

    .uni-card-header.borderless + .uni-card-content
        padding-top: .5rem

    .uni-card-content
        padding: 1.5rem 2rem

    .uni-card-footer
        display: flex
        justify-content: flex-end
        align-items: center
        height: 4.5rem
        padding: 0 2rem
        // border-top: 1px solid var(--border-color)
        background: var(--card-footer-background)


    &.collapsable
        .uni-card-header
            padding-right: 1rem
            border-bottom: none
        &.is-open .uni-card-header
            border-bottom: 1px solid var(--border-color)

    &.shadow
        border: none
        box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.1)

    // uniform override..
    fieldset
        box-shadow: none
        margin: 0 1rem .5rem