<section class="list-row header-row">
    <span class="cell" *ngFor="let column of columns"
        [ngClass]="{'align-right': !!column.numberFormat}"
        [ngStyle]="{'flex': column.flex || 1}">
        {{column.header}}
    </span>

    <span class="context-menu" *ngIf="contextMenu?.length"></span>
</section>

<cdk-virtual-scroll-viewport itemSize="50" class="list-body" #listBody>
    <section class="list-row" *cdkVirtualFor="let row of rows; templateCacheSize: 100" (click)="rowClick.emit(row)">
        <span class="cell" *ngFor="let column of columns"
            (click)="onColumnClick(column, row)"
            [ngClass]="getClass(column, row)"
            [ngStyle]="{'flex': column.flex || 1}">

            {{row | cellValue: column}}
        </span>

        <span class="context-menu" *ngIf="contextMenu?.length" [matMenuTriggerFor]="menu">
            <i class="material-icons">more_horiz</i>
            <mat-menu #menu="matMenu" xPosition="before">
                <div *ngFor="let item of contextMenu">
                    <button mat-menu-item
                        *ngIf="!item.hidden || !item.hidden(row)"
                        (click)="item.action(row)">
                        {{item.label}}
                    </button>
                </div>
            </mat-menu>
        </span>
    </section>
</cdk-virtual-scroll-viewport>
