<section class="list-row header-row">
    <span class="cell" *ngFor="let column of columns"
        [ngClass]="{'align-right': !!column.numberFormat}"
        [ngStyle]="{'flex': column.flex || 1}">
        {{column.header}}
    </span>
</section>

<cdk-virtual-scroll-viewport itemSize="50" class="list-body" #listBody>
    <section class="list-row" *cdkVirtualFor="let row of rows; templateCacheSize: 100" (click)="rowClick.emit(row)">
        <span class="cell" *ngFor="let column of columns"
            (click)="onColumnClick(column, row)"
            [ngClass]="getClass(column, row)"
            [ngStyle]="{'flex': column.flex || 1}">
            {{row | cellValue: column}}
        </span>
    </section>
</cdk-virtual-scroll-viewport>
