.uni-modal
    width: 34rem

.tooltip-icon
    margin-bottom: 2px
    margin-left: 5px

.alert.good
    margin-bottom: 2rem

.salary-section
    > strong
        display: block
        margin: 2rem 0 .5rem

    .tax-toggle
        display: flex
        margin: 1rem 0
        button
            width: 5rem
