i.material-icons.notification_important
    padding-left: 2rem
    vertical-align: middle

span.orderHours
    padding-top: 1rem
    padding-left: 0.3rem
    vertical-align: top
    font-size: 15px

span.notTransferredHours
    vertical-align: top
    font-weight: bold

i.icon-orange
    color: orange
