<uni-toolbar
    [config]="toolbarconfig"
    [saveactions]="saveActions"
    [commentsConfig]="commentsConfig"
    [selectConfig]="selectConfig"
    (selectValueChanged)="numberSeriesChange($event)">
</uni-toolbar>

<section class="application">
    <uni-tof-head
        [readonly]="readonly"
        [entityName]="'CustomerOrder'"
        [data]="order"
        [currencyCodes]="currencyCodes"
        [projects]="projects"
        [departments]="departments"
        [sellers]="sellers"
        [contacts]="order?.Customer?.Info?.Contacts || []"
        [dimensionTypes]="dimensionTypes"
        [distributionPlans]="distributionPlans"
        [reports]="reports"
        [paymentInfoTypes]="paymentInfoTypes"
        [currentUser]="currentUser"
        [canSendEHF]="canSendEHF"
        (dataChange)="onOrderChange($event)"
        (dimensionChange)="onDimensionChange($event)">
    </uni-tof-head>

    <section class="tradeitem-container">
        <section class="order-hours" *ngIf="hoursOnOrderCount && hasTimetrackingAccess">
            <i class="material-icons">notification_important</i>

            <span>
                Du har <strong>{{hoursOnOrderCount}}</strong> timer knyttet til denne ordren
                <ng-container *ngIf="nonTransferredHoursOnOrderCount">
                    ({{nonTransferredHoursOnOrderCount}} ikke overført)
                </ng-container>
            </span>

            <button class="tertiary c2a" (click)="openModal()">Vis/overfør timer</button>
        </section>

        <section class="tradeitem-container">
            <uni-tradeitem-table
                *ngIf="order"
                [configStoreKey]="'sales.order.tradeitemTable'"
                [defaultTradeItem]="newOrderItem"
                [vatDate]="order.OrderDate"
                [deliveryDate]="order.DeliveryDate || order.OrderDate"
                [vatTypes]="vatTypes"
                [projects]="projects"
                [departments]="departments"
                [(items)]="orderItems"
                [dimensionTypes]="dimensionTypes"
                [currencyCodeID]="currencyCodeID"
                [currencyExchangeRate]="currencyExchangeRate"
                (itemsChange)="onTradeItemsChange()">
            </uni-tradeitem-table>

            <section class="freetext-and-summary">
                <section *ngIf="order" class="freetext">
                    <span>Fritekst</span>
                    <textarea
                        [(ngModel)]="order.FreeTxt"
                        (change)="onFreetextChange()">
                    </textarea>
                </section>

                <section class="tof-summary">
                    <section class="currency-and-db">
                        <span>{{currencyInfo}}</span>
                        <span *ngIf="itemsSummaryData?.DekningsGrad">
                            DG: {{itemsSummaryData?.DekningsGrad | uninumberformat:'percent'}}%
                        </span>
                    </section>

                    <section class="vertical-summary" *ngIf="summaryLines?.length">
                        <section class="summary-line"
                            *ngFor="let summaryLine of summaryLines"
                            [ngClass]="{'total-sum': summaryLine.isTotalSum}">

                            <label>{{summaryLine.label}}</label>
                            <span>{{summaryLine.value}}</span>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>
