<uni-toolbar [config]="toolbarconfig"></uni-toolbar>

<uni-tof-head [readonly]="readonly"
              [entityName]="'CustomerOrder'"
              [data]="order"
              (dataChange)="onOrderChange($event)">
</uni-tof-head>

<section class="application">
    <uni-tradeitem-table *ngIf="order"
                         [readonly]="readonly"
                         [entity]="order"
                         (entityChange)="onOrderChange($event)">
    </uni-tradeitem-table>
    <uni-summary *ngIf="order" [configs]="summary"></uni-summary>
</section>

<uni-save [actions]="saveActions"></uni-save>

<uni-confirm-modal></uni-confirm-modal>
<send-email-modal></send-email-modal>
<report-preview-modal></report-preview-modal>
<order-to-invoice-modal *ngIf="order"></order-to-invoice-modal>
