<uni-toolbar [config]="toolbarconfig"
             [saveactions]="saveActions">
</uni-toolbar>

<uni-tof-head [readonly]="readonly"
              [entityName]="'CustomerOrder'"
              [data]="order"
              [currencyCodes]="currencyCodes"
              (dataChange)="onOrderChange($event)">
</uni-tof-head>

<section class="application">
    <uni-tradeitem-table *ngIf="order"
                         [readonly]="readonly"
                         [defaultTradeItem]="newOrderItem"
                         [(items)]="orderItems"
                         [currencyCodeID]="currencyCodeID"
                         [currencyExchangeRate]="currencyExchangeRate"
                         (itemsChange)="recalcDebouncer.next($event)">
    </uni-tradeitem-table>
    <uni-summary *ngIf="order" [configs]="summary"></uni-summary>
</section>

<uni-confirm-modal></uni-confirm-modal>
<send-email-modal></send-email-modal>
<report-preview-modal  (printed)="onPrinted($event)"></report-preview-modal>
<order-to-invoice-modal *ngIf="order"></order-to-invoice-modal>
