.login-component
  margin-top: 50px
  width: 400px
    
  #loginForm
    input
      width: 100%
      margin: 0.5rem 1rem
      display: block
    
    button
      width: 100%
      margin-top: 0
  
  #companyDropdown
    margin-left: 1rem