.journal-entry-credited
    color: $uni-color-scale7
    font-style: italic

    a
        color: $uni-color-scale7 !important

transquery-details
    .application
        position: relative

    .transquery-filter-form
        position: absolute
        top: .4rem
        left: 20rem
        z-index: #{map-get($zindex, toolbar) - 2}

        uni-field
            width: auto
            padding: 0
            padding-right: 1.5rem

            label span
                @extend %visuallyHidden

            label span+*
                width: auto

            .uniSelect
                width: 9.375rem

        .collapsable.-is-open > .collapsable-content
            justify-content: left

@media screen and (max-width: 1000px)
    transquery-details .transquery-filter-form
        position: static