.journal-entry-credited
    color: $uni-color-scale7
    font-style: italic

    a
        color: $uni-color-scale7 !important

transquery-details
    .transquery-filter-form
        margin-left: 2rem
        uni-field
            width: 8.8rem
            padding: 0
            padding-right: 1.5rem

            &:not(:last-child)
                label span
                    @extend %visuallyHidden

                label span+*
                    width: auto

                .uniSelect
                    width: 9.375rem

            &:last-child
                width: auto
                label
                    span
                        width: 6rem

ag-grid-wrapper
    height: calc(100vh - 14rem)
    font-size: 14px
