@import 'periodPicker'

drilldown-result-report-part,
distribution-period-report-part,
dimensions-overview-report-part,
dimensions-overview-report-part,
drilldown-balance-report-part
    display: block

accounting-details-report
    .uni-account-report-details-year-select
        margin: 1rem 2rem
        input
            height: 2.25rem
    .account-search
        display: block
        height: 2.25rem
        width: 20rem
        margin: 1rem 0

        input, button
            height: 2.25rem !important

    h2.account-details-report-header
        font-weight: normal
        font-size: 21px
        margin: 0

    distribution-period-report-part .distribution-periods
        margin-top: 0

    uni-table
        font-size: 13px

accounting-reports, accounting-details-report

    h1
        margin-bottom: pxToRem(5)

    .amount
        text-align: right !important
        min-width: 6em

    .percentage
        text-align: right !important
        color: var(--scale1) !important
        text-overflow: clip
        width: 5%

    .percentage::after
        content: '%'

    .period-setup > uni-select
        margin-bottom: pxToRem(10)
        width: 10rem

    .accounting-report-drilldown
        clear: both
        margin-top: 2rem
        overflow: auto

        h2
            margin-top: 0

        .accounting-report-drilldown-main
            @include unigrid(8, 4, 3)
            margin-left: pxToRem(0)
            float: left

            .profit-margin
                margin-top: 2rem

        .accounting-report-drilldown-chart
            @include unigrid(8, 4, 1)
            float: left
            height: pxToRem(450)

            label
                font-size: large
                text-align: center

    .distribution-periods
        clear: both
        margin-top: 2rem
        overflow: auto

        h2
            margin-top: 0

        .distribution-periods-table
            @include unigrid(8, 4, 2)
            margin-left: pxToRem(0)
            float: left

        .distribution-periods-chart
            @include unigrid(8, 4, 2)
            float: left

        uni-table
            font-size: small

            tr:not(:first-child)
                td:not(:first-child)
                    &:hover
                        text-decoration: underline

                &:nth-last-of-type(2)
                    border-bottom: pxToRem(1) solid black
                &:last-of-type
                    margin-top: 1rem
                    border-bottom: pxToRem(3) solid black
                    border-bottom-style: double

    .distribution-periods::after
        clear: both

    .accounting-report-drilldown-table
        position: relative
        border-color: transparent
        cursor: pointer
        border-collapse: collapse
        width: 100%
        font-size: smaller

        td, th
            padding: pxToRem(2) pxToRem(6)
            border-left: 1px solid var(--border-color)
            height: calc(1.2rem + #{pxToRem(10)})
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis

            &:first-of-type
                border-left: none

        tr
            border-bottom: 1px solid var(--border-color)

            &:nth-of-type(odd)
                background: var(--table-row-odd-background)

            &:nth-of-type(even)
                background: var(--table-row-even-background)

            &:hover
                background: var(--table-row-select-background)

            &:nth-last-of-type(2)
                border-bottom: pxToRem(1) solid black

            &:last-of-type
                margin-top: 1rem
                border-bottom: pxToRem(3) solid black
                border-bottom-style: double

            &.expanded
                font-style: italic
                font-weight: 600

            td.negative
                color: red

            td.positive
                color: blue

        th
            border-bottom: 1px solid var(--border-color)
            margin-bottom: pxToRem(-1)
            font-weight: 600
            text-align: left

        .bottom
            vertical-align: bottom

        .center
            text-align: center

.accountquery_selector
    font-size: 1rem
    line-height: 2rem
    input
        width: 100%

dimension-type-report

    .accounting-report-drilldown, .dimension-result
        margin-top: 0

.vertical-middle
    vertical-align: middle

.link
    font-weight: bold

table

    td.negative
        color: red

    td.positive
        color: blue

accounting-reports

    ul
        list-style: none
        vertical-align: top

    .report
        border-radius: pxToRem(5)
        border: 1px solid $uni-color-scale7
        padding: pxToRem(10)
        cursor: pointer
        margin-bottom: pxToRem(10)
        margin-right: pxToRem(15)
        background-color: $uni-color-negative
        box-shadow: 10px 10px 7px -7px $uni-color-scale7
        height: 18rem
        width: 12rem
        display: inline-block
        vertical-align: top

        &:hover
            background-color: $uni-color-scale8

.uni-period-selector-trigger-button
    button
        padding-top: 2px
        margin-right: 1rem
        i
            font-size: 22px
            margin: 0 0 3px .5rem
            color: var(--color-c2a)

account-details fieldset
    flex: 1