annual-settlement-selector-component
    margin-bottom: 20px
    display: flex
annual-settlement-selector-component span
    margin: 0 20px 10px 0px
annual-settlement-selector-component span:first-of-type
    margin-left: 0px
annual-settlement-selector-component span:last-of-type
    margin-right: 0px

@media screen and (max-width: 1000px)
    annual-settlement-selector-component span
        display: inline-block

@media screen and (max-width: 560px)
    annual-settlement-selector-component span
        display: block
        margin: 10px 0
annual-settlement-road-map-component
    width: 100vw
    .annual-settlement-container
        margin-top: 1.2rem
        padding-bottom: 5rem
    .complete-button
        float: right
        padding: 0 10rem
        margin: 0
    h2
        font-size: 3rem
        font-weight: 400
        width: 100%
        text-align: right
    uni-step
        display: flex
        align-items: center
        .step-status
            width: 10vw
            display: flex
            justify-content: center
            button
                height: 3.3rem
                border-radius: 50%
        .step-content
            padding: 2rem
            header
                font-weight: 600
                font-size: 1.2rem
            button
                margin: 2rem 0 0 0
                padding: 0 3rem

