annual-settlement-selector-component
    display: flex
annual-settlement-selector-component span
    margin: 0 pxToRem(20px) 0 0
    font-weight: 700
    font-size: pxToRem(16px)
    line-height: pxToRem(24px)
annual-settlement-selector-component span:first-of-type
    margin-left: 0
annual-settlement-selector-component span:last-of-type
    margin-right: 0
@media screen and (max-width: 1000px)
    annual-settlement-selector-component span
        display: inline-block
@media screen and (max-width: 560px)
    annual-settlement-selector-component span
        display: block
        margin: 10px 0

annual-settlement-road-map-component
    .row
        margin-left: 50px
        margin-right: 50px
    width: 100vw
    h4
        font-size: pxToRem(24px)
        line-height: pxToRem(38.4px)
        font-weight: 700 !important
    .annual-settlement-container
        margin-top: 1.2rem
        padding-bottom: 5rem
    .complete-button
        float: right
        padding: 0 10rem
        margin: 0

annual-settlement-check-list-component
    .row
        margin-left: 50px
        margin-right: 50px
    .last
        margin-bottom: 3rem
    .alert.info
        &.warn
            background: var(--alert-info)
            width: 100vw
        position: relative
        padding: 0rem 2.5rem 1rem 4rem
        background-color: #fff
        border: 1px solid var(--active-tab-color)
        border-radius: 9px
        .info-text
            position: relative
            top: 12px
            h6
                font-weight: 600
                font-size: pxToRem(18px)
                line-height: pxToRem(28.8px)
                letter-spacing: pxToRem(0.15px)
                font-family: 'Montserrat', sans-serif
                margin: 0 0 pxToRem(15px) 0
            a
                text-decoration: underline
        .material-icons.info
            position: absolute
            top: 12px
            left: 20px
            color: var(--scale1)
        .material-icons.close
            position: absolute
            top: 12px
            right: 20px
            color: var(--scale1)
            cursor: pointer

uni-step
    &.checked
        h6
            margin: 0 !important
    &.disabled
        *
            opacity: 0.85
        button.c2a
            display: none
    .step-container
        display: flex
        background: #fff
        padding: pxToRem(21px)
        align-items: start
        border-radius: pxToRem(9px)
        border: 1px solid var(--border-color)
        margin-bottom: pxToRem(24px)
        .step-status
            margin-right: pxToRem(21px)
            display: flex
            justify-content: center
            mat-checkbox
                &.mat-checkbox-checked .mat-checkbox-background
                    background-color: var(--checkbox-checked-background-good) !important
                    border: #fff
                .mat-checkbox-checkmark .mat-checkbox-checkmark-path
                    stroke: var(--checkbox-checked-color-good) !important
                    stroke-width: 3px

            button
                border: 1px solid var(--link-color)
                background: var(--dropdown-select-background)
                border-radius: 50%
                padding: pxToRem(8px)
                i
                    height: pxToRem(20px)
                    width: pxToRem(20px)
                    position: relative
                    right: pxToRem(2px)
                    bottom: pxToRem(1px)
                i.material-icons
                    right: pxToRem(4px)
                    bottom: pxToRem(3px)
        .step-content
            h6
                font-weight: 600
                font-size: pxToRem(18px)
                line-height: pxToRem(28.8px)
                letter-spacing: pxToRem(0.15px)
                font-family: 'Montserrat', sans-serif
                margin: 0 0 pxToRem(15px) 0
            article
                font-weight: 400
                font-size: pxToRem(15px)
                line-height: pxToRem(24px)
                letter-spacing: pxToRem(0.15px)
                margin: 0 0 pxToRem(15px) 0
            button
                padding: pxToRem(12px) pxToRem(16px)
                border: 1px solid var(--button-c2a)
                min-width: pxToRem(194px)
