balance-search
    .balance-search-year-select
        width: 9rem
        padding: 0
        margin-right: .5rem
        input
            height: 2.25rem

    ag-grid-wrapper
        height: calc(100vh - 15rem)
        font-size: 14px

