balance-search
    .balancesearch-filter-form
        uni-field
            width: 9rem
            padding: 0
            margin-right: .5rem

            &:not(:last-child) label span
                width: 0
                height: 0

            &:last-child
                width: auto
                label span
                    width: 6rem

    ag-grid-wrapper
        height: calc(100vh - 15rem)
        font-size: 14px
