/* NEW SUPPLIER-INVOICE  */

.supplier-invoice-table-payment-overdue
	color: $uni-color-Bad

.supplier-invoice-table-payment-ok
	color: $uni-color-Good

.supplier-invoice-table-plus
	color: $uni-color-plus !important

supplier-invoice-table-minus
	color: $uni-color-minus !important

.no-wrap
	white-space: nowrap
	display: inline-block

.no-topmargin
	margin-top: 0 !important
	padding-top: 0 !important

.no-horzmargins
	margin-left: 0 !important
	margin-right: 0 !important

.split-tabs
	display: flex
	min-height: 100vh
	margin: 0 auto

	aside
		flex-shrink: 0
		width: 50%
		margin-right: 1em
		overflow-x: hidden
		text-overflow: ellipsis

		uni-field
			width: 100%

			&.half-width
				width: calc(50% - 2rem)

			ul
				margin-top: 0

		input
			&.autocomplete_input
				width: calc(100% - 3.4rem)

		button.tiny
			display: inherit
			margin: inherit
			padding-left: 4px
			padding-right: 4px
			box-shadow: none
			border: 0
			border-radius: 0

		uni-numeric-input
			
			input
				text-align: right

	div
		flex-grow: 1

@media all and (max-width: 800px)
	.split-tabs
		flex-flow: column

		aside
			width: 100%

.split-tabs-parent
	margin-top: 0
	padding-top: 0

.left
	text-align: left !important

.right
	text-align: right !important

.center
	text-align: center !important

.total
	padding-right: 0.5rem
	font-weight: bold

$border-color: $uni-color-scale8

bill-simple-journalentry
	width: 100%

.compact-journalentry-table
	width: calc(100% - 1rem) !important 
    table-layout: fixed
	word-break: break-word 
    border-collapse: collapse
	border-spacing: 0
    cursor: pointer
	margin-left: 1rem
	margin-right: 1rem

	tbody tr:first-of-type td
		border-top: 1px solid $uni-color-scale5

	tbody tr td:first-of-type
		border-left: 1px solid $border-color

	tbody td		
		border-right: 1px solid $border-color
		border-bottom: 1px solid $border-color
		padding: pxToRem(4)

	th
		text-align: left
		font-weight: normal

	td
		text-overflow: ellipsis
		overflow-x: hidden
		white-space: nowrap

	&.editable td
		background-color: white

	th.accountname
		width: 8rem

	th.vattype
		width: 6rem

	th.sumcol
		width: 6rem

	th.actions
		width: 2.2rem

	td.actions
		padding: 0
		margin: 0

	td button
		width: 2rem
		margin: 0 0 0 pxToRem(2)
		padding: 0 pxToRem(2) pxToRem(7) pxToRem(2)
		background: lighten($uni-color-scale6, 34%) unicon-trash($uni-color-scale3) center center no-repeat
		background-size: 0.9rem    
		box-shadow: none
		height: 1em

.compact-journalentry

	li
		overflow-x: hidden
		white-space: nowrap
		
.compact-summary
	width: 100%
	margin-top: 0.5rem
	margin-left: 1rem
	margin-right: 1rem

	td
		width: 25%
		text-align: left
		padding: pxToRem(5)

	td.warning
		color: red
		font-weight: bold

.journalref
	margin: 1rem
	font-weight: bold
