uni-bill
	.application
		display: flex
		flex-wrap: wrap
		justify-content: center
		width: 100%
		padding: 0 1rem
		margin: 1.5rem 0

		.mandatory-dimensions-validation-message > span > span
            position: relative
            bottom: 0.4rem
            left: 0.5rem

		.bill-left-side,.bill-right-side
			flex: 1
			min-width: 35rem
			margin: 0 .5rem
			.uni-container
				margin-right: 0

			.freetext-tab-view
				display: flex
				span
					margin-right: 2rem
				textarea
					min-height: 12rem


		.bill-right-side
			max-height: calc(100vh - 14rem)
			position: relative

			.get-from-inbox
				position: absolute
				cursor: pointer
				padding: 0
				top: .45rem
				right: 10rem
				color: #60656a
				i.material-icons
					color: #0f4880
					vertical-align: middle

			uni-image
				display: flex
				flex-direction: column
				max-height: 95%
				padding-right: 0

				.upload-input
					position: absolute
					top: -2.25rem
					right: 2rem

				.uniImage
					overflow: auto
					padding-right: 1rem

	// Remove margin/padding/shadow that is on journal entry by default
	journal-entry-manual .uni-container
		margin: 0
		box-shadow: none
		.journalentry-input-components
			padding: 0

	fieldset
		flex: 1
		max-width: none

	uni-bill-history
		display: block

	uni-bill-previous
		display: block

	uni-field
		max-width: 100%

	uni-image picture
		display: inline-block

	.journalentry-input-components
		min-width: auto

@media all and (min-width: 1700px)
	.bill-small-field
		display: inline-block
		width: 50%

		&.right label > span
			width: 8rem
			margin-left: 1rem

.bill-amount-field
	display: inline-block
	width: calc(100% - 10.0rem)

.bill-currency-field
	width: 10rem
	float: right


	span
		@extend %visuallyHidden

	label span+*
		width: 100%

article.collapsable h4
	box-sizing: border-box

/* BILL (detail)  */

.supplier-invoice-table-payment-overdue
	color: $uni-color-bad

.supplier-invoice-table-payment-ok
	color: $uni-color-good

.supplier-invoice-table-plus
	color: $uni-color-plus !important

supplier-invoice-table-minus
	color: $uni-color-minus !important

.compact-summary
	width: 100%
	margin-top: 0.5rem
	margin-left: 1rem
	margin-right: 1rem

	td
		width: 25%
		text-align: left
		padding: pxToRem(5)

	td.warning
		color: red
		font-weight: 600

/* BILLS (listview)  */
.bill-container
	display: flex
	flex-wrap: wrap
	margin: 0
	min-height: 20rem

	.bill-list
		flex: 1
		position: relative

		.assignee-filter
			display: inline-block
			width: 15rem
			position: absolute
			top: 2px
			left: 22rem
			z-index: 300

		.refreshbutton
			cursor: pointer
			color: $uni-color-scale2
			position: absolute
			top: 4px
			left: 18rem
			z-index: #{map-get($zindex, toolbar) - 2}

		.hascomments
			color: $uni-color-warn

		.bill-list-sum
			position: absolute
			top: 1.25rem
			right: 1rem
			padding: 0

	.bill-preview
		flex: 1

		.accounting-preview-links
			margin-bottom: .5rem

			a
				background: unicon-share($uni-color-c2a) no-repeat left
				background-size: .7rem
				padding-left: 1.25rem
				margin-right: 2rem
				color: #60656a

				&:hover, &:focus
					color: darken(#60656a, 10%)


button.document_from_flow_button
    margin: 1rem 0

.confirm_modal_list

    list-style: none

    label
        display: block
        padding-left: 15px
        text-indent: -15px
        cursor: pointer

    input[type='checkbox']
	    width: 18px
	    height: 18px
	    padding: 0
	    margin: 0 1.5rem 0 0
	    vertical-align: bottom
	    cursor: pointer
	    position: relative
	    top: -2px

.smart-booking-settings-form
	span
		width: 16rem
	uni-checkbox-input
		width: calc(100% - 16rem)
