uni-bill
	.application
		display: flex
		flex-wrap: wrap
		justify-content: center
		width: 100%
		padding: 0 1rem
		margin: 1.5rem 0

		.bill-left-side,
		.bill-right-side
			flex: 1
			min-width: 35rem
			margin: 0 .5rem
			.uni-container
				margin-right: 0

	// Remove margin/padding/shadow that is on journal entry by default
	journal-entry-manual .uni-container
		margin: 0
		box-shadow: none
		.journalentry-input-components
			padding: 0

	fieldset
		flex: 1
		max-width: none

	uni-bill-history
		display: block

	uni-field
		max-width: 100%

	.dimension-field
		@inclue labelLength(10rem)

	uni-image picture
		display: inline-block

	.journalentry-input-components
		min-width: auto

@media all and (min-width: 1700px)
	.bill-small-field
		display: inline-block
		width: calc(50% - 2px)

		&.right label > span
			width: 8rem
			margin-left: 1rem

.bill-amount-field
	display: inline-block
	width: calc(100% - 10.5rem)

.bill-currency-field
	width: 10rem
	float: right


	span
		@extend %visuallyHidden

	label span+*
		width: 100%

article.collapsable h4
	box-sizing: border-box

/* BILL (detail)  */

.supplier-invoice-table-payment-overdue
	color: $uni-color-bad

.supplier-invoice-table-payment-ok
	color: $uni-color-good

.supplier-invoice-table-plus
	color: $uni-color-plus !important

supplier-invoice-table-minus
	color: $uni-color-minus !important

.compact-summary
	width: 100%
	margin-top: 0.5rem
	margin-left: 1rem
	margin-right: 1rem

	td
		width: 25%
		text-align: left
		padding: pxToRem(5)

	td.warning
		color: red
		font-weight: 600

/* BILLS (listview)  */
.bill-container
	display: flex
	flex-wrap: wrap
	margin: 0

	.bill-list
		flex: 1
		position: relative

		.assignee-filter
			display: inline-block
			width: 15rem
			position: absolute
			top: .4rem
			left: 20rem
			z-index: 300

	.bill-preview
		flex: 1

		.accounting-preview-links
			margin-bottom: .5rem

			a
				background: unicon-share($uni-color-c2a) no-repeat left
				background-size: .7rem
				padding-left: 1.25rem
				margin-right: 2rem
				color: #60656a

				&:hover, &:focus
					color: darken(#60656a, 10%)

.multiselectListElement
    list-style: none
    display: none
    transition: .4s linear
    position: absolute
    background: #f8f9fd
    width: 30vw
    border: 1px solid $uni-color-scale5
    border-radius: 0.25rem
    margin-top: -7px
    max-height: calc(50vh - 150px)
    overflow-y: scroll

    li
        padding: .5rem 1rem

        &:hover
            background-color: $uni-color-scale8
            cursor: pointer
            &:first-of-type
                background-color: #f8f9fd

        label
            display: block
            padding-left: 15px
            text-indent: -15px
            cursor: pointer

        input[type='checkbox']
            width: 18px
            height: 18px
            padding: 0
            margin: 0 1.5rem 0 0
            vertical-align: bottom
            cursor: pointer
            position: relative
            top: -2px


.selectedAssigneeUsersList
    list-style: none
    margin-bottom: 0

    li
        float: left
        width: auto
        padding: 0 .6rem
        cursor: pointer
        border: 1px solid $uni-color-scale5
        border-radius: .125rem
        margin: 0 pxToRem(16) pxToRem(16) 0

.multiselectADropdown
	cursor: pointer
	display: inline-block
	width: 100%
	background-color: $uni-color-negative
	border: 1px solid $uni-color-scale5
	padding-left: 5px
	@extend input[type=text]
	@extend %selectChevron

.currentTeamText
    width: 50%
    cursor: pointer
    padding: .6rem
    border: 1px solid $uni-color-scale5
    border-radius: .125re
    margin-bottom: pxToRem(16)

    p
        margin: 0
        &:first-of-type
            font-size: 1.15rem
        &:last-of-type
            margin-top: .125rem

.uni-approve-modal-class
    footer
       margin-top: 0

.approveModalAssignRejectUl
    list-style: none
    width: 100%
    border-bottom: 1px solid $uni-color-scale7

    li
        float: left
        border: 1px solid $uni-color-scale7
        border-top-left-radius: .3rem
        border-top-right-radius: .3rem
        border-bottom: none
        padding: .4rem .6rem
        margin: 0 .1rem 0 0

        &:hover
            cursor: pointer
            color: $uni-color-negative
            background-color: $uni-color-c2a


.selected_tab_view
    color: $uni-color-negative
    background-color: $uni-color-c2a

button.document_from_flow_button
    margin: 1rem 0

.confirm_modal_list

    list-style: none

    label
        display: block
        padding-left: 15px
        text-indent: -15px
        cursor: pointer

    input[type='checkbox']
	    width: 18px
	    height: 18px
	    padding: 0
	    margin: 0 1.5rem 0 0
	    vertical-align: bottom
	    cursor: pointer
	    position: relative
	    top: -2px


