create-corrected-vatreport-form
    button.good
        width: 17rem
    .uni-modal footer
        text-align: center
        display: unset
    .create-message-options
        margin: 3rem
        article
            padding: 1rem
            margin-bottom: 2rem
            border-radius: 0.4rem
            &.selected
                background-color: var(--alert-info)
            mat-radio-button
                display: inline-block
                float: left
            h1
                font-weight: 500
                font-size: 1rem
                display: inline-block
                margin: 0
            p
                font-size: 13px
                margin: 0
                margin-left: 1.8rem

