journal-entry-professional
    width: 100%

    uni-table
        font-size: smaller

        td
            padding: pxToRem(0) pxToRem(7)

        th
            padding: pxToRem(0) pxToRem(7)

.validation_messages_container
    max-height: 0
    transition: max-height 1s ease-out
    overflow: hidden

    &[aria-visible=true]
        max-height: 500px
        transition: max-height 1s ease-in

    strong
        margin: .8rem 0