journal-entry-simple
    .simpleTable
        margin-top: 1rem
        margin-bottom: 1.5rem
        border-spacing: 0px;
        border-collapse: separate;

.journalEntrySimple_form
    background-color: transparentize($uni-color-scale9, .5)
    font-size: 0.8rem    
    width: 100%
    
    uni-field
        width: pxToRem(120)
        margin: 0
        padding-bottom: 0

    label,
    fieldset    
        width: calc(100% - 1rem)
        float: left
        margin-left: 0.5rem
        margin-right: 0.5rem

    .small-field
        width: pxToRem(60)

    .large-field
        width: pxToRem(200)

    button        
        white-space: nowrap
        margin-top: 1.5rem
        margin-right: 0.3rem
        margin-left: 0.3rem