journal-entry-simple
    .simpleTable
        margin-top: 1rem
        margin-bottom: 1.5rem
        border-spacing: 0px;
        border-collapse: separate;

.journalEntrySimple_form
    background-color: transparentize($uni-color-scale9, .5)
    font-size: 0.8rem
    min-height: 7rem
    width: 100%
    display: inline-block

    uni-field
        width: auto
        margin: 0

    label,
    fieldset    
        width: pxToRem(120)
        float: left
        margin-left: 0.5rem
        margin-right: 0.5rem
        min-height: 3rem

    .small-field
        width: pxToRem(60)

    .large-field
        width: pxToRem(200)

    .journalEntrySimple_form_buttons
        float: left
        width: auto

    button
        margin-top: 0rem
        margin-right: 0.3rem
        margin-left: 0.3rem