journal-entry-professional
    width: 100%

    uni-table
        font-size: smaller

        td
            padding: pxToRem(0) pxToRem(7)
            height: 2rem

        th
            padding: pxToRem(0) pxToRem(7)
