new-account-form
    .new-account-modal
        height: 35rem !important
        width: 50rem !important
        position: relative

        footer
            bottom: 2rem
            right: 2rem
            position: absolute

    .business-relation-preview
        margin-top: 1rem
        margin-bottom: 2rem
        display: inline-block

        label
            display: block



