payments
    .payment-invoice-data
        display: block
        width: calc(100% - 2rem)
        margin: 0 auto
        padding-top: 0

        p
            margin: .5rem 0

.register-payment-modal
    width: 42rem

    .pay-invoice-message
        margin: 1rem 0
        display: block
        font-size: 14px