period-picker
    position: relative
    .picker-area
        display: block
        position: absolute
        width: 14rem
        color: $uni-color-positive
        padding: 1rem
        background: $uni-color-negative
        border: pxToRem(1) solid $uni-color-scale8
        box-shadow: var(--dropdown-shadow)
        border-radius: pxToRem(5)
        z-index: map-get($zindex, picker)
        left: pxToRem(-50)

        button
            float: right
            margin-top: pxToRem(20)
