postpost
    .splitview
        .pointintime-filter
            position: absolute
            margin-left: 19rem
            margin-right: 2rem
            margin-top: pxToRem(7)
            z-index: 101

        uni-summary
            position: relative
            top: -2.9rem

        .toolbar
            width: 100%
            min-height: 3.2rem

            button
                float: right
