postpost
    .splitview
        .pointintime-filter
            position: absolute
            margin-left: 19rem
            margin-right: 2rem
            margin-top: pxToRem(7)
            z-index: 101
            width: 10rem

        .splitview_detail
            min-height: 30em
            margin-top: 3.15rem

            uni-summary
                position: relative
                top: -2.9rem
