postpost
    .filterview
        uni-form
            float: left
        @include clearfix

    .splitview
        padding-bottom: 1rem

        .splitview_detail
            min-height: 30em

    uni-summary
        position: absolute
        left: 1rem
        right: -1rem
