supplier-invoice-detail
	display: flex
	position: absolute
	align-content: stretch
	align-items: stretch
	flex-wrap: wrap

	// Adds a pseudo elem to represent the left gutter
	&:before
		content: ''
		display: block
		flex-grow: 0
		height: pxToRem(1)

		// The gutter is 1/2 a unigrid-column...
		@each $size in map-keys($unigrid-columns)
			@include media($size)
				&
					width: (unigrid-colWidth($size) / 2)

		// ...except on huge viewports, where it's a whole one
		@include media(huge)
			&
				width: unigrid-colWidth(huge)

		// ...and on mobile where it is gone

    // Our main interface is 9cols, half or the whole wp
	.supplier-invoice-detail
		@include unigrid(9, 4, 4)
		flex-grow: 0
		margin-top: 2rem
		margin-bottom: 4rem

		.supplier-invoice-detail-form
			margin-left: -1rem

		uni-section
			margin-left: 1rem

	.supplier-invoice-detail-document
		flex-grow: 1
		display: flex
		justify-content: space-around
		align-items: center
		width: calc(50% - 8rem)

		uni-image
			width: 80%

	uni-toolbar
		width: calc(100% - 30px)

		h1
			margin-left: 0px

	uni-widget-poster
        /* temporary hide widget - we don't have anything useful to show here */
        display: none

        .application
            section
                margin-left: pxToRem(0)
                margin-top: pxToRem(5)
                margin-bottom: pxToRem(5)

.uni_save_modal_mode
	position: relative
	border-radius: pxToRem(3)

	.singleButton
		position: absolute
		right: 2rem

