supplier-invoice-detail
	display: flex
	position: absolute
	align-content: stretch
	align-items: stretch
	flex-wrap: wrap
	height: calc(100vh - 5rem)

	// Adds a pseudo elem to represent the left gutter
	&:before
		content: ''
		display: block
		flex-grow: 0
		height: pxToRem(1)

		// The gutter is 1/2 a unigrid-column...
		@each $size in map-keys($unigrid-columns)
			@include media($size)
				&
					width: (unigrid-colWidth($size) / 2)

		// ...except on huge viewports, where it's a whole one
		@include media(huge)
			&
				width: unigrid-colWidth(huge)

		// ...and on mobile where it is gone

    // Our main interface is 9cols, half or the whole wp
	.supplier-invoice-detail
		@include unigrid(9, 4, 4)
		flex-grow: 0
		margin-top: 2rem
		overflow: auto

		.supplier-invoice-detail-form
			margin-left: -1rem

	.supplier-invoice-detail-document
		flex-grow: 1
		background: transparentize($uni-color-scale9, .5)
		display: flex
		justify-content: space-around
		align-items: center

	uni-widget-poster
        .application
            section
                margin-left: pxToRem(0)
                margin-top: pxToRem(5)
                margin-bottom: pxToRem(5)
