uni-assign-modal, uni-approve-modal
    
    dialog.uniModal .modal-content
        width: pxToRem(500)

    footer
        margin-top: 4rem

    button
        margin-left: 0 !important
        margin-right: 0
        min-width: 6rem

    .tab-page
        padding: 1rem

    .members
        color: $uni-color-good
        margin-top: 1rem
        margin-left: pxToRem(4)
        font-size: 9pt

    table
        width: 100%

