uni-assign-modal
    
    dialog.uniModal .modal-content
        width: pxToRem(500)

    footer
        margin-top: 4rem

        button
            width: 6rem
            margin-left: 0 !important

        button:last-of-type
            margin-right: 0 !important

    .tab-page
        padding: 1rem

    .members
        color: $uni-color-good
        margin-top: 1rem
        margin-left: pxToRem(4)
        font-size: 9pt

