.vatreport_poster
    @extend .amelding_poster
.vatreport_poster_widget
    @extend .amelding_poster_widget
.vatreport_poster_details
    @extend .amelding_poster_details
.vatreport_poster_figures
    width: 100%
    padding: 1rem
    border: pxToRem(1) $uni-color-scale9 solid

    tr
        height: 2rem

        &:first-of-type th
            text-align: right

    .datacolumn
        max-width: 6rem

    th
        font-weight: normal
        text-align: left
        font-size: 1.1rem

    td
        text-align: right
        font-size: 1.1rem
        color: $uni-color-Good
        white-space: nowrap

.vatreport_poster_events
    li
        width: 100%
        border-radius: pxToRem(3)
        display: block
        list-style: none
        text-align: center
        padding: .2rem 1rem
        font-size: 1rem

        &:not(:last-of-type)
            margin-bottom: .5rem

        &.success
            color: $uni-color-Good
            border: pxToRem(2) solid $uni-color-Good

        &.warn
            color: $uni-color-Warn
            border: pxToRem(2) solid $uni-color-Warn

        &.incomplete
            color: $uni-color-scale5
            border: pxToRem(2) solid $uni-color-scale5


vat-report-view
    .comment
        width: 35%
        margin-bottom: 13rem
        margin-top: 7rem
        margin-left: 5%
        margin-right: 5%

        label
            display: block

        &.commentToSend
            float: left

        &.internalComment
            float: right

        textarea
            width: 100%
            height: 8rem
            border-radius: .5rem
