vat-summary-per-post
    table
        width: 80%
        margin-left: auto
        margin-right: auto

        th
            text-align: left
            font-size: 1.1rem

        .postNumber
            min-width: 3.5rem
            display: inline-block

        .subHeading
            padding-left: 1rem
            font-weight: bold

        .post
            padding-left: 2rem

    .currency
        text-align: right
        width: 8rem

    .symbol
        text-align: right
        width: 2rem
