.mvachecklist
    list-style: none
    padding: 2rem

    li
        position: relative
        padding-left: 4rem
        padding-right: .5rem
        padding-top: .5rem
        padding-bottom: .5rem
        position: relative
        margin-bottom: .35rem

        &:before,
        &:after
            top: .8rem
            box-sizing: border-box
            display: block
            content: ''
            position: absolute
            margin-left: 1.5rem
            left: 0
            height: 1rem
            width: 1rem

        &:before
            border: pxToRem(1) solid #acacac
            border-radius: pxToRem(3)
            background: linear-gradient(to bottom, #d7d7d7 0, lighten(#d7d7d7, 50%) 100%)

        &.warn:before
            background: unicon-warning($uni-color-Warn) center center no-repeat
            background-size: contain
            border: none

        &.success
            background-color: #e7f7d6

        &.warn
            background-color: #f7f1d6

        &.success:before
            background: linear-gradient(to top, #0aa801 0, lighten(#0aa801, 10%) 100%)

        &.success:after
            transform: rotate(45deg)
            border-bottom: pxToRem(2) solid white
            border-right: pxToRem(2) solid white
            height: .7rem
            width: .3rem
            left: .4rem
