vatreport-receipt-view
    .vatReportReceiptTable
        @include unigrid-flush(12)
        margin: auto

        caption
            @extend h3
            text-align: left
        th
            width: 30%
