.account_query_table_rows
    td
        cursor: pointer
        text-align: right
        &:first-of-type
            text-align: left

    &:last-of-type
        cursor: default
        margin-top: 1rem
        border-bottom: 1px solid var(--border-color)
        border-bottom-style: double

    &:nth-last-child(2)
        border-bottom: 1px solid var(--border-color)

