.uni-modal
    width: 53rem

.has-agreement-permission
    // padding: 0
    header
        // padding: 0 2rem
        // font-weight: 400
        a
            font-weight: 500
            font-size: 14px
            margin-left: auto
            text-decoration: none

    object
        display: block
        margin: 0rem 2rem 1rem
        width: calc(100% - 4rem)
        height: calc(100vh - 15rem)
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14)

    // footer
    //     margin-top: 0
    //     padding: 0 2rem
    //     button.logout
    //         margin-left: auto
    //     button.c2a
    //         min-width: 8rem
    //         height: 2.5rem

.missing-agreement-permission
    ul
        list-style: none
        margin: 1.5rem 0 0
        li
            display: flex
            justify-content: space-between
            padding: 1rem
            background: #f5f5f5

            & + li
                margin-top: .75rem