.success-import .success-message
    background-color: #f2f2f2
    padding: 1rem 1.25rem
    margin: 1rem 0
    width: 100%

    strong
        display: block
        margin-bottom: 1rem

    .status-container
        display: flex
        flex-direction: row
        align-items: center
        margin-top: 10px
        .progress-check
            font-size: 22px
            color: var(--color-good)
            margin-bottom: 2px
        .progress-time
            margin: 0 1rem

.error-import .error-message
    margin-top: 1rem
    font-size: 14px
    min-height: 45px
    background-color: #fdd3d9
    display: flex
    align-items: center

    i.material-icons
        margin: 0 8px
        font-size: 22px
        color: var(--color-bad)


