<section role="dialog" class="uni-modal">
    <header>{{header}}</header>

    <article>
        <section *ngIf="isFetching" class="modal-spinner">
            <mat-spinner></mat-spinner>
        </section>

        <div class="success-import" *ngIf='status && !isFetching'>
            <div>Importen av {{options.data.entityName}} var vellykket.</div>

            <div class="success-message">
                <strong class="progress-title">Progresjon</strong>
                <div *ngFor="let prgrs of progress" class="status-container">
                    <i class="material-icons progress-check">check_circle</i>
                    <span class="progress-time"> {{prgrs.Created | date:'HH:mm:ss'}}</span>
                    <span>{{prgrs.Progress}}</span>
                </div>
            </div>
        </div>

        <div class="error-import" *ngIf='!status && !isFetching'>
            <div>
                Det oppstod en feil under importen av dine {{options.data.entityName}}.
                Følgende feil oppstod:
            </div>
            <div class="error-message">
                <i class="material-icons">highlight_off</i>
                {{log[0].Msg}}
            </div>
        </div>
    </article>

    <footer>
        <button class="tertiary c2a" *ngIf="status && !isFetching" (click)="onNavigateTo()">
            Åpne {{options.data.listName}}
        </button>
        <button class="secondary" (click)="close()">Lukk</button>
    </footer>
</section>