<section role="dialog" class="uni-modal medium" style="text-align: left;">
    <header>{{headerString}}</header>
    <article class="scrollable">
        <section *ngIf="!showReceipt" class="unitableWidthAuto">
            <uni-form
                [config]="config$"
                [fields]="fields$"
                [model]="formModel$"
                (changeEvent)="change($event)">
            </uni-form>

            <p *ngIf="!busy && !valid" class="alert bad">
                Mangler systemkontoer. Sjekk hovedbokskontoene på
                <a (click)="routeToSalarySettings()">lønnsinnstillinger</a>.
            </p>

            <p *ngIf="state === 0">Jobber med å generere nytt bokføringsbilag. Dette kan ta litt tid</p>
            <p *ngIf="!jobBusy && ((formModel$ | async).bookingType !== draftType || !getDraft(draft))">Trykk generer for å generere et nytt bokføringsbilag</p>
            <section *ngIf="draftType === (formModel$ | async).bookingType || state === 0" [attr.aria-busy]="busy">
                <ag-grid-wrapper *ngIf="summary" [resource]="summary.PostList" [config]="accountTableConfig"></ag-grid-wrapper>
                <label>Kontrollsum totalt: </label> {{sum$ | async | unicurrency }}
            </section>
        </section>

        <section *ngIf="showReceipt" [attr.aria-busy]="busy">
            <p>Bilaget er bokført i ditt regnskap</p>
            <p>
                <a (click)="close(true)">
                    Bilagsnummer: {{journalNumber}}
                </a>
            </p>
            <p>Dato {{journalDate}}</p>
        </section>
    </article>

    <footer class="postingsummary_footer">
        <section *ngIf="!showReceipt">
            <button *ngIf="((formModel$ | async).bookingType !== draftType || !getDraft(draft)) && draft" [attr.aria-busy]="jobBusy" (click)="rebuildPostings()" class="good">Generer</button>
            <button *ngIf="((formModel$ | async).bookingType === draftType && getDraft(draft)) || !draft" [disabled]="busy || !valid" (click)="postTransactions()" class="good">Bokfør</button>
            <button [disabled]="busy" (click)="close()" class="bad">Avbryt</button>
        </section>
        <button [disabled]="busy" *ngIf="showReceipt" (click)="close()" class="good">OK</button>
    </footer>
</section>
