uni-alert-component
    width: 100%

    .close
        margin-left: auto

    h2
        font-weight: 500 !important
        font-size: 17px !important

    i
        &.good
            color: var(--color-good) !important


