<uni-toolbar
    [saveactions]="saveActions"
    [config]="toolbarconfig"
></uni-toolbar>
<div class="application">
    <section class="splitview">
        <nav class ="splitview_list">
            <uni-cost-allocation-list #costAllocationList
                [selectedIndex]="selectedIndex"
                [data]="costAllocationItems"
                (costAllocationSelected)="onCostAllocationSelected($event)"
                (costAllocationDeleted)="onDeleteCostAllocation($event)"
            ></uni-cost-allocation-list>
        </nav>
        <main class="splitview_detail">
            <uni-cost-allocation-details
                style="margin: .5rem"
                [costAllocation]="currentCostAllocation"
                (touched)="onDetailsTouched($event)"
            ></uni-cost-allocation-details>
        </main>
    </section>
</div>
