<div *ngIf="vatType">        
    <uni-form            
        [config]="config" 
        [fields]="fields" 
        [model]="vatType"                
        (change)="changeEvent($event)">
    </uni-form>
    <uni-table
            [resource]="vatType.VatReportReferences"
            [config]="uniTableConfig"
            (rowDeleted)="onVatPostReferenceDelete($event.rowModel)"
    ></uni-table>
</div>
<div *ngIf="!vatType">
    Velg en mvakode i listen til venstre for å se detaljer om mvakoden
</div>
