@import 'list'
@import 'detail'
@import 'content'
@import 'uniForms'

.splitview
    display: flex
    flex-direction: row
    margin: 2rem auto
    *
        box-sizing: border-box

    @include media(small)
        flex-wrap: wrap

.splitview_list,
.splitview_detail
    align-self: flex-start


@include media(large, max-width)
    .splitview
        flex-wrap: wrap
        justify-content: center

    .splitview_list.splitview_list,
    .splitview_detail.splitview_detail
        min-width: 85.2%

    .splitview_list
        position: static
        uni-table
            max-height: 14rem
            overflow-y: auto
