.splitview_detail
    border: none
    padding: .5rem
    background: #fff
    border: 1px solid $uni-color-scale9
    margin-left: 1rem
    margin-top: 0
    align-self: stretch
    max-width: calc(100% - 15rem)
    min-width: 28.2rem // avoid fieldsets flowing out of container
    display: flex
    flex-direction: row
    flex-wrap: wrap

    fieldset
        flex: 1 0 100%
        width: 100%
        max-width: none
        border: none

        legend
            background: #fff
            font-size: 19px
            font-weight: 400
            margin: 0 .5rem
            width: calc(100% - 1rem)

        &.small
            width: 49%
            flex: 1 0 49%
            &:first-of-type
                float: left

            @include media(1100px)
                flex: 1 0 100%
                width: 100%
                float: none