.splitview_list
    padding: 0
    min-width: 15rem
    max-width: 33%

    @supports (position: sticky)
        position: sticky
        top: 10rem
        max-height: calc(100vh - 15rem)

    input[type=search].unitableSearch_input
        display: inline-block

    @include media(small)
        width: 100%
