.splitview_list
    padding: 0
    min-width: 15rem
    max-width: 33%

    > button, .splitview-list-button
        margin: .75rem 0
        height: 2rem
        line-height: 0

    input[type=search].unitableSearch_input
        display: inline-block

    @include media(small)
        width: 100%
