.splitview_detail uni-form
    form
        margin-top: 1rem

    .collapsable
        margin-left: 0
        margin-right: 0
        min-width: 100%

    legend
        background-color: $uni-color-legend2
        color: #fff
