<section role="dialog" class="uni-modal medium">
    <header>KID-Identifikator</header>
    <article class="image-modal-body">
        <p>
            Dersom du endrer verdi i feltet KID-identifikator vil KIDnr på fakturaer du sender ut endres.
            Vi anbefaler ikke å endre verdi i dette feltet etter at man har begynt å bruke systemet.

            Ønsker du å endre verdien?
        </p>
    </article>
    <footer>
        <button (click)="accept()" class="good">Behold</button>
        <button (click)="close()" class="bad">Avbryt</button>
    </footer>
</section>
