uni-table, .uni-table
    display: inline-block
    box-sizing: border-box
    width: 100%

    *
        box-sizing: border-box

    .unitable-main-table
        width: 100%
        border-collapse: collapse
        position: relative
        table-layout: fixed

    input
        border: 0
        margin: 0

    th
        text-align: left
        cursor: pointer

    td:focus
        outline: none

    .select-column,
    .context-menu-column
        overflow: visible
        text-overflow: clip
        &:not(.text-menu)
            width: pxToRem(32)

    &.scrollable
        overflow-y: auto
        max-height: 15rem

.uni-table
    display: table
    border-collapse: collapse
    position: relative
    table-layout: fixed

unitable-editor
    width: 0
    height: 0

    .unitable-editor-span
        margin: 0
        padding: 0
        position: absolute

        input,
        .input-with-button,
        unitable-textinput
            width: 100%
            height: 100%

unitable-editor span.hidden
    display: none

button.table-button
    background-color: transparent
    border: none
    padding: 0
    cursor: pointer
    box-shadow: none
    line-height: 0
    margin: 0
    text-shadow: none
    color: $uni-color-warn

    &:hover,
    &:focus
        @extend button.table-button
        text-decoration: underline

.unitable_edit_toggle_button
    margin: 1rem
    padding: 0
    position: absolute
    top: 0
    right: 0
    height: 1rem
    width: 1rem
    @extend %hideText
    display: inline-block
    background-size: contain
    background-position: center center
    background-repeat: no-repeat
    border-bottom-color: transparent
    background-image: unicon-edit($uni-color-c2a)

    &:hover
        cursor: pointer