unitable-column-menu

    .column-menu-toggle
        @extend %hideText
        background: transparent unicon-filter($uni-color-scale5) center center no-repeat
        background-size: 1rem
        height: 1.2rem
        width: 1.2rem
        float: right
        box-shadow: none
        border: pxToRem(2) solid $uni-color-scale8
        margin: .5rem 0

        &:hover,
        &:focus
            background-color: $uni-color-scale9

        &:focus
            border-color: $uni-color-C2A

    .column-menu-dropdown
        @extend %contextMenu
        display: block !important // @FIXME: Remove after UniTable upgrade
        right: 0
        top: 1.5rem

        li
            @extend %contextMenuItem

            &:last-of-type:hover
                cursor: default
                background: none

            label
                position: relative
                padding-left: 1rem

                input[type=checkbox]
                    margin-right: .5rem
                    position: absolute
                    left: -.5rem

            button
                maring: 2rem auto
                width: 80%