uni-table .contextMenu, .uni-table .contextMenu
    position: relative
    button
        font-size: 0
        text-color: transparent
        width: 100%
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
        background: transparent no-repeat center center
        background-image: unicon-more($uni-color-scale5)
        background-size: 1rem

unitable-contextmenu .dropdown-menu
    position: absolute
    width: unset
    display: inline-block