unitable-pagination
  @include clearfix
  display: block
  margin: 1rem 0

  ul
    list-style: none

    ul
      display: block
      float: left

    li
      display: block
      float: left
      margin-left: .2rem

      &:first-of-type
        margin-left: 0

  ul, li, button
    margin: 0
    padding: 0
    display: block

  button
    &:hover,
    &:focus
      background-color: $uni-color-scale9


  button,
  button[disabled]:hover,
  button[disabled]:focus
    background-color: $uni-color-negative
    color: $uni-color-scale3
    text-shadow: none
    box-shadow: none
    border: pxToRem(1) solid $uni-color-scale7
    height: 2rem

  .pagination_next,
  .pagination_prev
    background: no-repeat center center
    background-size: .6rem .6rem
    font-size: 0
    width: 2rem

    &:hover,
    &:focus
      border-color: $uni-color-C2A
      background-color: $uni-color-scale8

  .pagination_prev
    background-image: unicon-prev-page($uni-color-scale7)
    margin-right: .5rem
    &:hover,
    &:focus
      background-image: unicon-prev-page($uni-color-positive)


  .pagination_next
    background-image: unicon-next-page($uni-color-scale7)
    margin-left: .5rem
    &:hover,
    &:focus
      background-image: unicon-next-page($uni-color-positive)

  .pagination_page
    padding: 0 .5rem

    &.-is-active
      border-color: $uni-color-C2A
      background: $uni-color-C2A
      color: $uni-color-negative

  input[type=number]
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button
    -webkit-appearance: none
    margin: 0