.unitableSearch_advanced
    list-style: none

.unitableSearch_advanced_filter
    select
        all: unset
        border: pxToRem(1) solid $uni-color-scale8
        padding: .3rem
        max-width: 25%

    input
        max-width: 33%