unitable-search, table-search
    display: inline-block
    margin-bottom: .5rem
    position: relative


.unitableSearch_input
    width: 15rem

// Everything in this file needs a serious revisit
// Last minute release stuff..
.advanced-search-wrapper
    display: inline-block

.unitableSearch_advanced
    list-style: none
    padding: .5rem 1rem 1rem 1rem
    margin-top: .25rem
    background: #fff
    min-width: 40rem

    padding: .5rem 0 1rem 0
    li
        padding: 0 1rem

    li.unitable-saved-searches

        ul
            list-style: none
            padding-left: 0
            margin-top: .75rem
            li
                padding: .1rem .5rem
                margin-bottom: .25rem
                padding-left: .5rem
                border: 1px solid var(--border-color)
                border-radius: 2px
                width: 14rem
                overflow: hidden
                white-space: nowrap
                text-overflow: ellipsis
                position: relative
                cursor: pointer

                &:hover
                    border: 1px solid $uni-color-scale6

                .delete-search
                    display: block
                    float: right
                    height: 1rem
                    width: 1rem
                    margin-top: .25rem
                    border-radius: 50%

                    background: unicon-trash($uni-color-bad) center no-repeat
                    background-size: .75rem
                    &:hover
                        background: unicon-trash(#b72e38) center no-repeat
                        background-size: .75rem

    li.section-header
        font-size: 18px
        font-weight: 300
        margin-bottom: 1rem

        &.section-search
            margin-top: 2rem
            padding-top: 1rem
            border-top: 1px solid var(--border-color)

    //

    & > button
        margin: 0

    li.advanced-filter-options
        display: flex
        flex-flow: row
        margin-top: 2rem

        button
            margin: 0
            height: 2rem
            line-height: 0
            text-shadow: none

            &.add-filter
                flex: 0 0 7rem
                background: #fff unicon-plus(#455463) left .5rem center no-repeat
                background-size: .75rem
                color: #455463
                border: 1px solid var(--border-color)
                font-weight: 300

            &.good
                flex: 0 0 5rem

        input
            flex: 0 0 14rem
            margin: 0 .5rem 0 auto

.unitable-advanced-search-toggle
    cursor: pointer
    color: #455463
    margin-left: 10px
    font-size: 21px
    vertical-align: middle

.unitableSearch_advanced_filter
    display: flex
    align-content: center
    margin: .5rem 0

    select
        width: auto
        flex-grow: 0
        margin-right: 1rem
        height: 2rem
        border: pxToRem(1) solid #C3CAD9
        border-radius: pxToRem(2)

    .large_select
        flex-grow: 2
        margin-right: 0rem
        min-width: 8rem

    input
        flex-grow: 2

    button
        box-shadow: none
        border-radius: 99rem
        background: #C3CAD9 no-repeat center center
        background-image: unicon-close(#455463)
        background-size: .6rem
        height: 1.667rem
        width: 1.667rem
        padding: 0
        text-indent: -99rem
        overflow: hidden
        margin: 0 0 0 1rem

        &:hover,
        &:focus
            background-color: #A1ABBF
