$cellpadding: pxToRem(5) pxToRem(10)

%unitable-selected-cell
    box-shadow: inset 0 0 0 pxToRem(2) $uni-color-C2A
    padding: $cellpadding
    margin: pxToRem(1)
    min-height: calc(1.5rem + #{pxToRem(10)})

uni-table
    position: relative

    table *
        border-color: transparent

    input[type=checkbox]
        display: block

    td, th
        padding: $cellpadding
        border-left: pxToRem(1) solid $uni-color-scale9
        height: calc(1.5rem + #{pxToRem(10)})
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

        &:first-of-type
            border-left: none

        &.noTruncation
            text-overflow: clip

    tr
        border-bottom: pxToRem(1) solid $uni-color-scale9

        &:nth-of-type(odd)
            background: mix($uni-color-scale9, $uni-color-negative, 30%)

        &:hover
            background: mix($uni-color-C2A, $uni-color-negative, 15%)


        &[aria-readonly]:not([aria-readonly=false])
            $disabled-stripe1: mix($uni-color-scale9, $uni-color-negative, 60%)
            $disabled-stripe2: mix($uni-color-scale9, $uni-color-negative, 30%)
            background: repeating-linear-gradient(-45deg, $disabled-stripe1, $disabled-stripe1 1rem, $disabled-stripe2 1rem, $disabled-stripe2 2rem)
            color: $uni-color-scale4

    table:not(.editable-table) tr
        &[aria-selected]:not([aria-selected=false]):not([aria-readonly=true]),
        &:focus:not([aria-readonly=true])
            background: $uni-color-C2A
            color: $uni-color-negative
            outline: none

            td
                border-left-color: mix($uni-color-negative, $uni-color-C2A, 20%)

    th
        background: $uni-color-negative
        border-bottom: pxToRem(1) solid $uni-color-scale8
        margin-bottom: pxToRem(-1)
        color: $uni-color-positive
        font-weight: 600

        a:link
            color: $uni-color-positive

        &.issortedasc,
        &.issorteddesc
            &:after
                display: inline-block
                float: right
                font-size: .8rem
                color: $uni-color-scale5
                padding-top: .2rem
                height: 1rem

        &.issortedasc:after
            content: '\25B2'

        &.issorteddesc:after
            content: '\25BC'

    table.editable-table td:focus
        @extend %unitable-selected-cell

    table:not(.editable-table) tr
        cursor: pointer

unitable-editor
    .autocomplete_input,
    input[type=email],
    input[type=number],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=url],
    input[type=color],
    input[type=date],
    input[type=datetime],
    input[type=datetime-local],
    input[type=month],
    input[type=time],
    input[type=week],
    input
        @extend %unitable-selected-cell
        display: block

.unitable_autocomplete_results
    background: $uni-color-negative
    border: pxToRem(1) solid $uni-color-scale8
    box-shadow: 0 0 1rem transparentize($uni-color-positive, .8)
    border-radius: pxToRem(3)
    box-sizing: border-box
    display: block
    position: absolute
    width: 100%
    min-width: 20rem
    max-height: 15rem
    overflow-x: auto
    list-style: none
    margin-top: 2rem
    z-index: 999

    &[aria-expanded=false]
        visibility: hidden

.unitable_autocomplete_result
    padding: .2rem 1rem

    &[aria-selected=true]
        font-weight: 400
        background: $uni-color-C2A
        color: $uni-color-negative

unitable-contextmenu
    width: 0
    height: 0

    ul
        position: absolute
        z-index: 100

        margin: 0
        padding: 0
        border-top-left-radius: 3px
        border-bottom-left-radius: 3px
        list-style: none

        &.hidden
            display: none

        li
            padding: 5px 10px
            min-width: 5rem
            cursor: pointer

.unitable-delete-btn
    margin: 0
    padding: 0

    background: transparent no-repeat center center
    background-size: 0.8rem
    background-image: unicon-trash($uni-color-scale7)

    &:hover, &:focus
        background-image: unicon-trash($uni-color-Bad)

    button
        min-width: 100%
        min-height: 100%
        background: transparent
        &:hover, &:focus
            background: transparent

unitable-autocomplete
    .uniAutocomplete
        display: inline-block
        position: absolute

        input.uniAutocomplete_input
            position: relative
            z-index: 999
            text-overflow: ellipsis
            overflow: hidden

unitable-select
    .uniSelect
        display: inline-block
        position: absolute

        input.uniSelect_input
            position: relative
            z-index: 999
            background: #fff unicon-chevron-down($uni-color-scale5) center right .5rem no-repeat
            background-size: auto .5rem
            padding-right: 2rem
            text-overflow: ellipsis
            overflow: hidden
            cursor: pointer

unitable-datepicker
    .uni-datepicker
        .uni-datepicker-calendarBtn
            margin-top: pxToRem(1)
            min-height: calc(1.5rem + #{pxToRem(10)})

        uni-calendar
            margin: calc(1.5rem + #{pxToRem(12)}) pxToRem(1)

            td
                text-overflow: clip
                line-height: 1.5rem


.uniTable_dropdown_list
    position: absolute
    @extend .uni-multivalue-values
    box-sizing: border-box
    margin-top: 0
    min-width: pxToRem(300)
    max-height: 17rem
    overflow-y: auto

    visibility: hidden

    &[aria-expanded]:not([aria-expanded=false])
        visibility: visible