$cellpadding: pxToRem(3) pxToRem(10)

%unitable-selected-cell
    box-shadow: inset 0 0 0 pxToRem(1) $uni-color-c2a
    padding: $cellpadding
    margin: pxToRem(1)
    min-height: calc(1.5rem + #{pxToRem(10)})

.uni-table:not(.editable-table) tr
    &[aria-selected]:not([aria-selected=false]):not([aria-readonly=true]),
    &:focus:not([aria-readonly=true])
        background: #d4dfee
        outline: none

uni-table,
table.uni-table

    table.editable-table
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none

    position: relative
    table
        border-left: none
        border-collapse: separate
        border-spacing: 0

    table *
        border-color: transparent

    input[type=checkbox]
        display: block

    thead
        position: -webkit-sticky // You had one job, autoprefixer! 😿
        position: sticky
        top: 0
        z-index: map-get($zindex, picker - 1)
        border: pxToRem(1) solid $uni-color-scale9

    tfoot
        tr, tr:hover, tr:focus
            background: none
            border: none
            cursor: unset !important
        td
            border: none !important
            font-weight: bold

    td, th
        padding: $cellpadding
        border-left: pxToRem(1) solid $uni-color-scale9
        height: calc(1.5rem + #{pxToRem(10)})
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        position: relative

        &:last-of-type
            border-right: pxToRem(1) solid $uni-color-scale9

        &.noTruncation
            text-overflow: clip

        &.number-good
            color: $uni-color-plus

        &.number-bad
            color: $uni-color-minus

        &.date-good,
        &.status-good
            color: $uni-color-good

        &.date-bad,
        &.status-bad
            color: $uni-color-bad

        &.status-waiting
            color: $uni-color-warn

        &.focus
            border: 1px solid $uni-color-c2a

    tr
        box-sizing: border-box
        background: #fff
        border-bottom: 1px solid $uni-color-scale9

        &:nth-of-type(even)
            background: $uni-color-negative

        &[aria-readonly]:not([aria-readonly=false])
            background: $uni-color-negative
            color: $uni-color-scale4

        &:hover
            background: #d4dfee

    th
        border-bottom: none
        background: mix($uni-color-scale9, $uni-color-negative, 60%)
        margin-bottom: pxToRem(-1)
        color: $uni-color-positive
        font-weight: 600

        a:link
            color: $uni-color-positive

        &.issortedasc,
        &.issorteddesc
            &:after
                display: inline-block
                float: right
                font-size: .8rem
                color: $uni-color-scale5
                padding-top: .2rem
                height: 1rem

        &.issortedasc:after
            content: '\25B2'

        &.issorteddesc:after
            content: '\25BC'

    table.editable-table td:focus
        border: 1px solid $uni-color-c2a

    table:not(.editable-table) tr
        cursor: pointer
        &[aria-selected]:not([aria-selected=false]):not([aria-readonly=true]),
        &:focus:not([aria-readonly=true])
            background: #d4dfee

    th:last-of-type
        position: relative

        unitable-column-menu
            position: absolute
            width: 100%
            height: 100%
            top: 0
            left: 0

            .column-menu-toggle
                position: absolute
                top: 0
                float: none
                height: 100%
                width: 100%
                margin: 0
                border: none
                padding: 0

uni-table, .uni-table
    input[type=checkbox]
        clip: auto
        height: auto
        margin: auto
        overflow: visible
        position: static
        width: auto
        height: 100%

unitable-editor
    .autocomplete_input,
    input[type=email],
    input[type=number],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=url],
    input[type=color],
    input[type=date],
    input[type=datetime],
    input[type=datetime-local],
    input[type=month],
    input[type=time],
    input[type=week],
    input
        @extend %unitable-selected-cell
        margin: 0
        display: block

.unitable_autocomplete_results
    background: $uni-color-negative
    border: pxToRem(1) solid $uni-color-scale8
    box-shadow: 0 0 1rem transparentize($uni-color-positive, .8)
    border-radius: pxToRem(3)
    box-sizing: border-box
    display: block
    position: absolute
    width: 100%
    min-width: 20rem
    max-height: 15rem
    overflow-x: auto
    list-style: none
    margin-top: 2rem
    z-index: map-get($zindex, picker)

    &[aria-expanded=false]
        visibility: hidden

.unitable_autocomplete_result
    padding: .2rem 1rem

    &[aria-selected=true]
        font-weight: 400
        background: $uni-color-c2a
        color: $uni-color-negative

.autocomplete-add-button
    padding: 0px !important
    height: 2rem

.autocomplete-add-button button
    width: 100%
    margin: 0px
    height: 100%
    background-color: $uni-color-scale8

unitable-contextmenu
    width: 0
    height: 0

    ul
        position: absolute
        z-index: map-get($zindex, picker)

        margin: 0
        padding: 0
        border-top-left-radius: 3px
        border-bottom-left-radius: 3px
        list-style: none

        &.hidden
            display: none

        li
            padding: 5px 10px
            min-width: 5rem
            cursor: pointer

.unitable-delete-btn
    margin: 0
    padding: 0

    background: transparent no-repeat center center
    background-size: 0.8rem
    background-image: unicon-trash($uni-color-scale7)

    &:hover, &:focus
        background-image: unicon-trash($uni-color-bad)

    button
        min-width: 100%
        min-height: 100%
        background: transparent
        &:hover, &:focus
            background: transparent

unitable-autocomplete
    .autocomplete
        .uni-autocomplete-searchBtn
            min-height: calc(1.5rem + #{pxToRem(10)})
            border: 1px solid $uni-color-scale8
            border-left: none
            border-radius: 0

        .uniTable_dropdown_list
            margin-top: calc(1.5rem + #{pxToRem(12)})

unitable-select
    .uniSelect
        display: inline-block
        position: absolute

        input.uniSelect_input
            position: relative
            z-index: map-get($zindex, picker)
            background: #fff unicon-chevron-down($uni-color-scale5) center right .5rem no-repeat
            background-size: auto .5rem
            padding-right: 2rem
            text-overflow: ellipsis
            overflow: hidden
            cursor: pointer

        .uniTable_dropdown_list
            margin-top: 0

uni-table .uni-datepicker
    height: 100%

    .uni-datepicker-calendarBtn
        height: 100%
        border-radius: 0

.uniTable_dropdown_list
    position: absolute
    @extend .uni-multivalue-values
    box-sizing: border-box
    min-width: pxToRem(300)
    max-height: 25rem
    overflow-y: auto

    visibility: hidden
    left: 0

    &[aria-expanded]:not([aria-expanded=false])
        visibility: visible


.unitable-tooltip
    display: block
    width: 2rem
    height: 100%
    position: absolute
    top: 0
    right: 0

    &.left
        left: 0
    &.center
        left: 50%
        transform: translateX(-50%)

    &.good
        background: $uni-color-good unicon-info($uni-color-negative) no-repeat center
    &.warn
        background: $uni-color-warn unicon-info($uni-color-negative) no-repeat center
    &.bad
        background: unicon-warning($uni-color-bad) no-repeat center
        background-size: 1rem

    &.good, &.warn
        background-size: .4rem
        border-radius: 50%
        height: 1.1rem
        width: 1.1rem
        margin: .45rem 0
