ag-grid-wrapper
    display: flex
    flex-direction: column
    width: 100%

    &.contained
        background: #fff
        padding: 1rem 1rem 0
        border: 1px solid var(--border-color)
        border-radius: 3px

    // .filters-and-buttons
    //     display: flex
    //     align-items: flex-end
    //     .button-container
    //         flex: 0 0 auto
    //         margin-bottom: 14px

    .uni-ag-wrapper
        position: relative
        overflow: hidden

    .bottom-bar
        display: flex
        justify-content: space-between
        align-items: center

    .row-count
        display: flex
        margin-top: 1rem
        font-size: 14px
        &.absolute
            position: absolute
            bottom: 1rem
            left: 5px
            margin-top: 0
        span + span
            margin-left: 2rem

    &.font-13
        .uni-ag-wrapper
            font-size: 13px

// Borders
ag-grid-wrapper
    .ag-header
        border-bottom: 1px solid var(--border-color)
    .ag-row
        border-bottom: 1px solid var(--border-color)

    &.borders ag-grid-angular:not(.editable)
        .ag-header
            border: 1px solid var(--border-color)
            border-top-left-radius: 3px
            border-top-right-radius: 3px
        .ag-body
            background: #fff
            border: 1px solid var(--border-color)
            border-top: none
            border-bottom-left-radius: 4px
            border-bottom-right-radius: 4px
            overflow: hidden // to avoid rows clipping the border radius

    ag-grid-angular.editable
        .ag-header
            border-top: 1px solid var(--border-color)
        .ag-body-container .ag-cell,
        .ag-header-container .ag-header-cell
            border-left: 1px solid var(--border-color)
        .ag-pinned-right-header,
        .ag-pinned-right-cols-container
            border-left: 1px solid var(--border-color)
            border-right: 1px solid var(--border-color)

ag-grid-angular
    width: 100%
    height: 100%

.uni-ag-wrapper
    display: block
    position: relative
    font-size: 14px
    @media screen and (max-width: 1300px)
        font-size: 13px

    span.expand-collapse-groups
        cursor: pointer
        color: #1565c0
        position: absolute
        top: .6rem
        right: 1rem
        z-index: 999
        font-size: 14px
        line-height: 30px
        user-select: none

// Group toggle
.ag-group-contracted
    margin-right: .5rem
    margin-top: 1px

.ag-icon-checkbox-indeterminate
    @extend .ag-icon-checkbox-unchecked

.ag-body-container
    margin-bottom: 0 !important

.ag-body
    .ag-row-group
        font-weight: 500
        .table-link
            text-decoration: none !important
            cursor: default
            &:hover
                background: transparent


// Header & cell styling
.ag-header
    background: var(--table-header-background)
    color: var(--table-header-color)
    font-weight: 500

.ag-row
    color: var(--text-color)

// Hide resize indicator
.ag-header-cell::after
    display: none !important

.ag-dnd-ghost
   z-index: 999

.ag-cell,
.ag-header-cell,
.ag-cell,
.ag-header-cell
    display: inline-flex !important
    align-items: center
    padding: 0 10px

    > span
        display: flex
        align-items: center
        .ag-group-expanded
            margin-right: .5rem
            padding-top: 2px
        .ag-group-child-count
            margin-left: .5rem

    &:focus
        outline: none

    .ag-header-cell-resize
        position: absolute
        right: -1px
        width: 10px

    &.col-menu, &.row-menu,  &.checkbox-cell
        padding: 0
        cursor: pointer
        justify-content: center
        color: var(--scale1)

    &.row-drag-cell
        .ag-cell-wrapper
            display: inline-flex
            justify-content: center
            align-items: center
        .ag-row-drag
            display: inline-flex
            &:before
                cursor: pointer
                font-family: 'Material Icons'
                content: 'unfold_more'
                font-size: 24px
                color: var(--scale1)

        .ag-cell-value
            display: none

    &.col-menu i.material-icons
        margin-left: -2px
        font-size: 20px

    &.row-menu .row-menu-container
        display: block

        i.material-icons, i.material-icons
            box-sizing: border-box
            vertical-align: middle
            &:not(:first-of-type)
                border-left: 1px solid var(--border-color)
                margin-left: 4px
                padding-left: 4px

            &.disabled
                color: $uni-color-scale7
                cursor: not-allowed

.ag-cell
    span[role=link]
        display: block
        width: 100%
        cursor: pointer
        padding: 5px 0
        text-decoration: none
        color: var(--link-color) !important
        &:hover
            text-decoration: underline

    span.placeholder
        color: var(--scale1)

    &.number-bad, &.date-bad
        color: var(--color-bad) !important

.ag-cell-label-container
    width: 100%

.ag-cell > span,
.ag-header-cell-text
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

.align-left
    justify-content: flex-start
    text-align: left
.align-right
    justify-content: flex-end
    text-align: right
    padding-right: 1rem
.align-center
    justify-content: center
    text-align: center

// Row styling
.ag-row
    cursor: pointer
    &.ag-row-even
        background: var(--table-row-even-background, #fff)
    &.ag-row-odd
        background: var(--table-row-odd-background, #fff)
    &.ag-row-hover
        background: var(--table-row-select-background)

ag-grid-wrapper:not(.no-select-background)
    ag-grid-angular:not(.editable):not(.multi-row-select)
        .ag-row-selected, .ag-row-dragging
            background: var(--table-row-select-background)

ag-grid-wrapper.selection-disabled ag-grid-angular:not(.editable)
    .ag-row
        cursor: default
        user-select: text
    .ag-row-hover, .ag-row-selected, .ag-row-dragging
        background: unset


ag-grid-angular.editable .readonly-row,
ag-grid-angular .disabled-row
    background: #f0f0f0
    color: var(--scale1)
    cursor: not-allowed

.ag-overlay-wrapper
    text-align: left
    padding-left: 10px
    padding-top: 50px !important

ag-grid-angular.has-sum-row .ag-overlay-wrapper
    padding-top: 0 !important

.ag-icon-checkbox-unchecked,
.ag-icon-checkbox-checked
    background: none !important
    @extend %checkboxStyle

.ag-icon-checkbox-checked
    &:before
        border-color: var(--color-c2a) !important
        background: var(--color-c2a) !important

    &:after
        opacity: 1 !important
        border-color: $uni-color-negative !important

.header-checkbox
    @extend %checkboxStyle
    margin-bottom: 8px
    &.checked
        &:before
            border-color: var(--color-c2a) !important
            background: var(--color-c2a) !important

        &:after
            opacity: 1 !important
            border-color: $uni-color-negative !important

%checkboxStyle
    width: 1rem !important
    height: 25px !important
    box-sizing: border-box
    user-select: none
    box-sizing: border-box
    position: relative
    white-space: nowrap
    display: block
    overflow: hidden
    text-overflow: ellipsis

    &:focus
        outline: none
        &:before
            background: $uni-color-scale9
        &:after
            border-color: $uni-color-negative

    &:before
        display: block
        content: ''
        border: pxToRem(1) solid $uni-color-scale7
        height: 1rem
        width: 1rem
        margin-left: .3rem
        box-sizing: border-box
        position: absolute
        top: .5rem
        left: -.3rem
        border-radius: .2rem
        background: #fff

    &:after
        display: block
        content: ''
        border-right: .2rem solid transparent
        border-bottom: .2rem solid transparent
        position: absolute
        top: .5rem
        left: .25rem
        height: .75rem
        width: .5rem
        transform: rotate(45deg)

    &:hover,
    &:focus
        &:before
            background: $uni-color-scale9

        &:after
            border-color: $uni-color-negative

// Sum row
.ag-floating-bottom
    border: none

    .ag-row, .ag-row-hover, .ag-row-focus
        background: none
        border: none !important
    .row-menu
        display: none !important
    .ag-cell
        border: none
        font-weight: 600

// Tooltip
.table-tooltip
    display: block
    width: 2rem
    height: 100%
    float: right

    &.left
        float: left

    &.good
        background: var(--color-good) unicon-info(#fff) no-repeat center
    &.warn
        background: var(--color-warn) unicon-info(#fff) no-repeat center
    &.neutral
        background: var(--color-c2a) unicon-info(#fff) no-repeat center
    &.bad
        background: unicon-warning(#F53B57) no-repeat center
        background-size: 1.4rem
        height: 1.9rem

    &.good, &.warn, &.neutral
        background-size: .4rem
        border-radius: 50%
        height: 1.1rem
        width: 1.1rem
        margin: .45rem 0

// EDITOR
ag-grid-wrapper
    .table-editor
        position: absolute
        z-index: #{map-get($zindex, toolbar) - 1}

        input, .input-with-button
            height: 100%
            width: 100%

// Paging
.ag-paging-panel
    display: none
.pagination
    display: flex
    justify-content: flex-end
    margin-top: 1rem

    i.material-icons
        vertical-align: middle
        user-select: none
        cursor: pointer
        margin-top: 2px
        font-size: 21px

    .pagination-info
        margin: 0 1rem
        font-size: 14px

        input
            width: 46px
            height: 20px
            margin: 0 5px
            text-align: center

    @media (max-width: 1300px)
        .pagination-info
            font-size: 12px
        i.material-icons
            font-size: 19px

.checkbox-column
    color: var(--color-c2a-dark)

.ag-column-drop.ag-column-drop-horizontal
    display: flex
    height: 3rem
    align-items: center
    background: #fff
    border: 1px solid var(--border-color)
    margin-bottom: .5rem
    padding: 0 .5rem

    .ag-column-drop-icon
        margin-top: 5px

    .ag-column-drop-empty-message,
    .ag-column-drop-list
        margin-left: 1rem
        height: unset


table.uni-html-table
    width: 100%
    border-collapse: collapse
    font-size: 15px

    thead tr
        background: var(--alt-table-header-background)
        border-bottom: var(--alt-table-header-border)
        th
            font-weight: 500
            text-align: left
            color: var(--alt-table-header-color)

    tbody tr
        border-bottom: var(--alt-table-body-border)

    th, td
        padding: .75rem
