uni-table table, table.uni-table
    a:link,
    a:visited
        color: $uni-color-c2a

uni-table table, table.uni-table
    .unitable-link
        color: $uni-color-c2a
        text-decoration: underline

