uni-table table, table.uni-table
    a:link,
    a:visited
        color: var(--link-color)

uni-table table, table.uni-table
    .unitable-link
        color: var(--link-color)
        text-decoration: underline
        cursor: pointer

