.regtimecontainer 
    margin-bottom: 4rem
    margin-top: 0.6rem

.regtimetitle
    padding: 1rem 1rem 1rem 0
    font-size: 1.2em

.regtimetitle span
    margin-right: 1rem

.regtimetitle select
    display: inline-block
    width: auto
    padding-left: pxToRem(7)
    padding-right: pxToRem(7)

.regtimetabtip
    color: $uni-color-scale4
    margin-left: pxToRem(-15)

.timeentry_toolbar button
    margin-left: 0
    margin-right: pxToRem(7)

.timeentry_toolbar
    width: 100%
    margin: pxToRem(7) 0 pxToRem(4) 0

    tr > td:last-of-type
        text-align: right
        font-size: 1.2em

.regtime_filters
    ul
        margin: pxToRem(7) 0 pxToRem(7) 0
        /*padding-left: pxToRem(30)*/
        list-style: none
        text-align: left
        width: 100%
        color: $uni-color-scale7
        display: flex
        flex-direction: row
        justify-content: left
        height: 2rem
        /*background: unicon-filter($uni-color-scale7) left center no-repeat*/
        background-size: 1rem
        border-bottom: pxToRem(1) solid $uni-color-scale8

        li a
            @extend %clickable
            white-space: nowrap
            display: inline-block
            text-decoration: none
            font-weight: 400
            margin-left: pxToRem(1)
            padding: 0 1rem
            border-right: .1rem solid transparentize($uni-color-negative, .5)
            height: 2rem
            box-sizing: border-box
            line-height: 2rem
            border-radius: 5px 5px 0 0

            &:last-of-type
                border-right: none

            &.-is-active
                color: $navbarTextColor
                background: darken(mix($uni-color-scale7, $navbarBackground, 60%), 15%)

            &:hover,
            &.router-link-active
                color: $navbarTextColor
                background: darken(mix($uni-color-scale7, $navbarBackground, 60%), 15%)

.timeentriesTable
    width: 100%
    table-layout: fixed
    border-collapse: collapse
    cursor: pointer
    margin-top: 1rem

.timeentriesTable th
    text-align: left
    text-overflow: ellipsis
    overflow-x: hidden
    white-space: nowrap
    border-width: 0 0 pxToRem(1) 0
    border-color: $uni-color-scale8
    border-style: solid
    padding: pxToRem(3) pxToRem(4) 0 pxToRem(4)


.timeentriesTable th.s1
    width: pxToRem(40)
.timeentriesTable th.s2
    width: pxToRem(90)
.timeentriesTable th.s3
    width: pxToRem(140)
.timeentriesTable th.s4
    width: 35%
.timeentriesTable th.s5
    width: 45%


.timeentriesTable th.center
    text-align: center

.timeentriesTable th.right
    text-align: right

.timeentriesTable th:first-of-type
    border-width: 0 0 pxToRem(1) 0

.timeentriesTable th:last-of-type
    border-right: 0

.timeentriesTable tr:hover
    background-color: lighten($uni-color-scale6, 32%)

.timeentriesTable td
    padding: pxToRem(3) pxToRem(4) 0 pxToRem(4)
    border-bottom: pxToRem(1) solid $uni-color-scale9
    border-left: pxToRem(1) solid $uni-color-scale9
    white-space: nowrap
    text-overflow: ellipsis
    overflow-x: hidden

.timeentriesTable td.sum
    background-color: lighten(mix($uni-color-scale9, $navbarBackground, 50%), 30%)
    height: 2rem
    border-top: 1px solid $uni-color-scale6 !important
    font-weight: bold

.timeentriesTable td.sumright
    background-color: lighten(mix($uni-color-scale9, $navbarBackground, 50%), 30%)
    font-weight: bold
    border-left: 1px solid $uni-color-scale6


.timeentriesTable th.sum
    background-color: lighten(mix($uni-color-scale9, $navbarBackground, 50%), 24%)

.timeentriesTable td.center
    text-align: center

.timeentriesTable td.right
    text-align: right    

.timeentriesTable td:first-of-type
    border-left: 0

.timeentriesTable td:last-of-type
    border-right: 0

.alternateRow
    background-color: lighten(mix($uni-color-scale9, $navbarBackground, 50%), 26%)
    
.alternateRow td
    border-color: $uni-color-scale8

.timeentriesTable tr td.timeSheet_actions
    width: pxToRem(15)

.timeentriesTable tr:last-of-type td.timeSheet_actions button
    visibility: hidden;

.timeentriesTable tr td.timeSheet_actions button
    width: 2rem
    margin: 0 0 0 pxToRem(7)
    padding: 0 pxToRem(7) 0 pxToRem(7)
    background: lighten($uni-color-scale6, 34%) unicon-trash($uni-color-scale3) center center no-repeat
    background-size: 0.9rem    
    box-shadow: none
    height: 1em

.timeentriesTable tr:hover td.timeSheet_actions button
    background: lighten($uni-color-scale6, 34%) unicon-trash(red) center center no-repeat
    background-size: 0.8rem  
    box-shadow: 0 pxToRem(1) pxToRem(1) $uni-color-scale7