.regtimecontainer 
    margin-bottom: 4rem

.regtimetitle
    padding: 1rem 1rem 1rem 0

.regtimetitle span
    margin-right: 1rem

.regtimetitle select
    display: inline-block
    width: auto
    padding-left: pxToRem(7)
    padding-right: pxToRem(7)

.regtimetabtip
    color: $uni-color-scale4
    margin-left: pxToRem(-15)