sidemenu
    display: block
    padding: 0 !important
    margin-right: 1rem
    width: 20rem
    &.minimized
        width: 80px

    .uni-container
        margin-bottom: 0

    .minimized-sidebar-icons
        padding: 0 !important

        i.material-icons
            display: block
            font-size: 30px
            color: var(--color-c2a)
            cursor: pointer
            text-align: center
            padding-top: 1rem

.sidemenu_calender_container
    width: 100%
    text-align: center
    padding-top: .5rem !important
    box-sizing: border-box
    margin: 0

    .sidemenu_calender
        display: block
        z-index: 1
        position: relative
        box-shadow: none
        background-color: transparent
        margin: 0
        table
            background-color: transparent
            border-collapse: collapse
            width: 100%
            tr
                background-color: transparent !important
                height: 2.5rem
            caption
                background-color: transparent
                font-size: 1.2rem
                color: $uni-color-positive
                text-transform: capitalize

                a
                    &:before
                        height: 2.5rem
                        width: 2rem
                        display: block
                        content: ''
                        background: unicon-chevron-right($uni-color-positive) center center no-repeat
                        background-size: .4rem

                &:hover
                    &:before
                        background-size: .4rem
            .prev
                left: 1%
                transform: rotate(180deg)

            .next
                right: 2%

            thead
                color: var(--scale1)

            tbody > tr > td
                height: 2.5rem
                line-height: 2.5rem
                font-size: 13px

                /*-n+2 selects the last two elements of each tr*/
                &:nth-last-of-type(-n+2)
                    background-color: var(--scale4)
                &.selected
                    background-color: var(--scale4)
                    color: var(--color-c2a)

    button.c2a
        height: 34px
        border-radius: 17px
        width: 130px
        padding: 0
        margin-top: 1.5rem

.sidemenu_template_container
    width: 100%
    margin: .75rem 0 0 0
    padding-top: 0 !important
    box-sizing: border-box
    border-top: 1px solid var(--border-color)

    .template-header
        display: flex
        align-items: center
        margin: 1rem 0
        span
            flex: 1
        i
            color: var(--color-c2a)
            cursor: pointer

    .template_info_section
        padding: .4rem 1rem
        display: flex
        border: 1px solid #CCC
        border-radius: 4px
        cursor: pointer
        margin-bottom: .75rem
        &:hover
            background-color: var(--dropdown-select-background)
        .info
            flex: 1
            display: flex
            justify-content: center
            flex-direction: column
            font-size: 14px
            text-align: left

            span
                font-size: 13px

            span:first-of-type
                font-size: 14px
                font-weight: 600
                margin-bottom: -5px

        .edit
            display: flex
            align-items: center

            i
                vertical-align: middle
                font-size: 20px
                color: var(--text-color)
                cursor: pointer

                &:hover
                    color: var(--color-c2a)
                &:first-of-type
                    margin-right: .6rem
                &:last-of-type:hover
                     color: var(--color-bad)


    button.good
        height: 2rem
        line-height: 0
        margin: 1rem 0 0
        min-width: 8rem

.sidemenu_minified_to_from
    font-size: 0.7rem
    text-align: center
    cursor: pointer
    margin: 0

.calendar_flexplus,
.calendar_flexminus_light,
.calendar_flexminus
    width: 60%
    margin: 0 auto
    position: relative
    bottom: pxToRem(5)

    &:after
        content: ''
        display: block
        position: absolute
        bottom: 0
        left: .2rem
        right: .2rem
        height: pxToRem(2)
        border-radius: pxToRem(2)

.calendar_flexplus:after
    background-color: var(--color-good)
.calendar_flexminus:after
    background-color: var(--color-bad)
.calendar_flexminus_light:after
    background-color: var(--color-warn)

uni-template-modal
    label
        width: 100px
        display: inline-block
        margin-bottom: 20px
        margin-right: 10px

    .template-modal-input-field
        width: 50%
        margin-right: 2%

.sidemenu_hide_button_container
    width: 100%
    height: 2.5rem
    margin-top: 1rem
    padding: 0 !important
    text-align: right

    &.minimized
        text-align: center
        .sidemenu-toggle
            margin-right: 0

    .sidemenu-toggle
        line-height: 2.5rem
        vertical-align: middle
        margin-right: .5rem
        font-size: 29px
        cursor: pointer

