#sidemenu_timetracking_component
    width: 335px
    float: left
    height: calc(100vh - 160px)
    

.sidemenu_container
    background-color: $uni-color-scale9
    min-height: 100%

.sidemenu_calender_container
    width: 80%
    text-align: center
    padding: 15px 
    margin: 0 auto
    .sidemenu_calender
        display: block
        position: relative
        box-shadow: none
        background-color: $uni-color-scale9
        margin: 0
        table
            background-color: $uni-color-scale9
            caption
                background-color: $uni-color-scale9
                font-size: 1.4rem
                color: #717882
                a
                    &:before
                        height: 2.5rem
                        width: 2rem
                        display: block
                        content: ''
                        background: unicon-chevron-right(#717882) center center no-repeat
                        background-size: .6rem

                &:hover
                    &:before
                        background-size: .4rem
            .prev
                left: 1%
                transform: rotate(180deg)

            .next
                right: 2%

            thead
                color: $uni-color-scale5

            tbody > tr > td
                /*-n+2 selects the last two elements of each tr*/
                &:nth-last-of-type(-n+2)
                    background-color: $uni-color-scale8
                    border-bottom: 1px solid $uni-color-scale8
                &.selected
                    background-color: $uni-color-scale8
                    border-radius: 100%
                    color: $uni-color-negative

    button
        background-color: $uni-color-c2a
        height: 22px
        width: 130px
        padding: 0
        margin-top: 2rem

.sidemenu_template_container
    width: 80% 
    margin: 0 auto

    h3
        font-size: 1.3rem
        margin-left: 15px

    .sidemenu_template

        .template_info_section
            border-bottom: 1px solid $uni-color-scale8
            width: calc(85% - 20px)
            float: left
            padding: 10px
            &:last-of-type
                border: none
            &:hover
                background-color: $uni-color-scale8
                cursor: pointer

        .sidemenu_template_start_end_time
            float: right
            margin: 0
            font-size: 0.8rem

        .sidemenu_template_time_total
            float: right
            &:after
                clear: both

        .sidemenu_template_description
            width: 70%
            display: inline-block
            overflow-x: hidden
            white-space: nowrap

        .sidemenu_template_timeart
            font-size: 0.9rem
            max-width: 60%
            display: inline-block
            overflow-x: hidden
            white-space: nowrap

        .sidemenu_template_edit_symbol
            @extend %hideText
            display: inline-block
            height: 1rem
            width: 1rem
            background-size: contain
            background-position: center center
            background-repeat: no-repeat
            position: relative
            top: .2rem
            border-bottom-color: transparent
            background-image: unicon-edit(#628cb2)
            cursor: pointer

    h4
        font-weight: 200
        font-size: 1rem
        padding: 0 15px

    button
        background-color: $uni-color-good
        height: 22px
        width: 120px
        padding: 0
        float: right
        margin: 15px 7px

.sidemenu_minified_calender_icon
    @extend %hideText
    display: inline-block
    height: 2rem
    width: 2rem
    margin: 70px 0 0 0
    background-size: contain
    background-position: center center
    background-repeat: no-repeat
    position: relative
    top: .2rem
    left: calc(40px - 1rem)
    border-bottom-color: transparent
    background-image: unicon-calendar(#628cb2)
    cursor: pointer

.sidemenu_minified_template_icon
    @extend %hideText
    display: inline-block
    height: 2rem
    width: 2rem
    background-size: contain
    background-position: center center
    background-repeat: no-repeat
    position: relative
    top: .2rem
    left: calc(40px - 1rem)
    border-bottom-color: transparent
    background-image: unicon-edit(#628cb2)
    cursor: pointer

.sidemenu_minified_to_from
    font-size: 0.7rem
    text-align: center

.sidemenu_hide_button
    background-color: transparent
    color: $uni-color-c2a
    position: absolute
    top: 50vh
    left: 280px
    @extend %hideText
    display: inline-block
    height: 1rem
    width: 1rem
    background-size: contain
    background-position: center center
    background-repeat: no-repeat
    border-bottom-color: transparent
    background-image: unicon-prev(#628cb2)
    cursor: pointer
    transition: linear .3s

    &:hover, &:focus
        background-color: transparent

.uni_template_modal_content
    footer
        margin-top: 3rem
    label
        width: 100px
        display: inline-block
        margin-bottom: 20px
        margin-right: 10px

    input
        width: 50%
        margin-right: 2%
        