sidemenu
    display: block
    padding: 0 !important
    margin-right: 1rem

    width: 305px
    &.minimized
        width: 80px

    .uni-container
        margin-bottom: 0

    .minimized-sidebar-icons
        padding: 0 !important

        i.material-icons
            display: block
            font-size: 30px
            color: var(--color-c2a)
            cursor: pointer
            text-align: center
            padding-top: 1rem

.sidemenu_calender_container
    width: 100%
    text-align: center
    padding-top: .5rem !important
    box-sizing: border-box
    margin: 0

    .sidemenu_calender
        display: block
        z-index: 1
        position: relative
        box-shadow: none
        background-color: transparent
        margin: 0
        table
            background-color: transparent
            border-collapse: collapse
            width: 100%
            tr
                background-color: transparent !important
            caption
                background-color: transparent
                font-size: 1.2rem
                color: $uni-color-positive
                text-transform: capitalize

                a
                    &:before
                        height: 2.5rem
                        width: 2rem
                        display: block
                        content: ''
                        background: unicon-chevron-right($uni-color-positive) center center no-repeat
                        background-size: .4rem

                &:hover
                    &:before
                        background-size: .4rem
            .prev
                left: 1%
                transform: rotate(180deg)

            .next
                right: 2%

            thead
                color: $uni-color-scale5

            tbody > tr > td
                height: 2.2rem
                line-height: 2.2rem

                /*-n+2 selects the last two elements of each tr*/
                &:nth-last-of-type(-n+2)
                    background-color: #f4f4f4 // $uni-color-scale9
                &.selected
                    background-color: $uni-color-scale9
                    color: $uni-color-positive

    button
        @extend button.c2a
        height: 22px
        width: 130px
        padding: 0
        margin-top: 1.5rem

.sidemenu_template_container
    width: 100%
    margin: .75rem 0 0 0
    padding-top: 0 !important
    box-sizing: border-box
    border-top: 1px solid $uni-color-scale9

    h3
        font-size: 1.3rem
        margin: 1.25rem 10px .25rem
        i.material-icons
            color: var(--color-good)
            vertical-align: middle
            margin-top: -3px
            margin-left: .25rem
            cursor: pointer


    .sidemenu_template
        border-bottom: 1px solid $uni-color-scale9

        .template_info_section
            width: calc(100% - 3.5rem)
            display: inline-block
            padding: 10px
            &:hover
                background-color: $uni-color-scale9
                cursor: pointer

        .sidemenu_template_time_total
            float: right
            &:after
                clear: both

        .sidemenu_temmplate_name
            font-size: 0.8rem
            color: #638bb2
            max-width: 50%
            overflow-x: hidden
            white-space: nowrap
            display: inline-block

        .sidemenu_template_timeart
            font-size: 0.9rem
            max-width: 60%
            display: inline-block
            overflow-x: hidden
            white-space: nowrap

        .edit-icon
            vertical-align: top
            margin-top: 1rem
            margin-left: .25rem
            cursor: pointer
            font-size: 21px

    button.good
        height: 2rem
        line-height: 0
        margin: 1rem 0 0
        min-width: 8rem

.sidemenu_minified_to_from
    font-size: 0.7rem
    text-align: center
    cursor: pointer
    margin: 0

.calendar_flexplus,
.calendar_flexminus_light,
.calendar_flexminus
    width: 60%
    margin: 0 auto
    position: relative
    bottom: pxToRem(5)

    &:after
        content: ''
        display: block
        position: absolute
        bottom: 0
        left: .2rem
        right: .2rem
        height: pxToRem(2)
        border-radius: pxToRem(2)

.calendar_flexplus:after
    background-color: var(--color-good)
.calendar_flexminus:after
    background-color: var(--color-bad)
.calendar_flexminus_light:after
    background-color: var(--color-warn)

uni-template-modal
    label
        width: 100px
        display: inline-block
        margin-bottom: 20px
        margin-right: 10px

    .template-modal-input-field
        width: 50%
        margin-right: 2%

.sidemenu_hide_button_container
    width: 100%
    height: 2.5rem
    margin-top: 1rem
    padding: 0 !important
    text-align: right

    &.minimized
        text-align: center
        .sidemenu-toggle
            margin-right: 0

    .sidemenu-toggle
        line-height: 2.5rem
        vertical-align: middle
        margin-right: .5rem
        font-size: 29px
        cursor: pointer

