<section role="dialog" class="uni-modal aprila-modal">
    <header>{{header}}</header>

    <article>
        <section *ngIf="orderStatus==orderStatusType.CREDITED" class="error-message">
            Aprila Bank har mottatt kreditnota og saldo er gjenopprettet
        </section>

        <section *ngIf="orderStatus==orderStatusType.RECOURSED" class="error-message">
            Din faktura er kreditert hos Aprila bank, men beløp
            {{options.data.invoiceAmount}},- har blitt utbetalt fra Aprila bank.
            <br><br>
            For at saldoen din hos Aprila bank skal
            kunne gjenopprettes må du betale tilbake beløpet. Aprila bank vil sende en faktura for tilbakebetaling innen
            kort tid til deres oppgitte epost.
        </section>

        <section *ngIf="orderStatus==orderStatusType.ERROR" class="error-message">
            Forespørsel på kreditering hos Aprila bank feilet. Kreditnota er foreløpig lagret som kladd.
            <br><br>
            Tjenesten kan være nede, så prøv å hente opp igjen kladd om en liten stund for å forespørre kreditering på nytt.
            Kontakt kundesenter dersom feilen vedvarer.
        </section>
    </article>

    <footer>
        <button class="secondary" (click)="close(true)">Lukk</button>
    </footer>
</section>