/*
	Not included in main css bundle because it's also used by
	the popout-fileviewer and when printing EHF files
*/
.uni-ehf {
    display: block;
    background: #fff;
    padding: 1rem 2rem;
	font-size: 14px;
	line-height: 24px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif
}

.uni-ehf h1 {
	font-weight: 500;
	font-size: 22px;
	/* font: 500 22px var(--font-family); */
	color: #0f4880;
	margin: 5px 0;
}

.uni-ehf h4 {
	font-weight: 700;
	font-size: 13px;
	/* font: 700 13px var(--font-family); */
	color: #0f4880;
	margin: 5px 0;
}

.uni-ehf .invoice-head {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.uni-ehf .invoice-head .supplier-and-customer {
	margin-right: 2rem;
	margin-bottom: 1rem;
}

.uni-ehf .invoice-head .supplier-and-customer > section + section {
	margin-top: 1rem;
}

.uni-ehf dl {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
}

.uni-ehf table {
	margin: 2rem 0;
	width: 100%;
	font-size: 13px;
	border-collapse: collapse;
}

.uni-ehf table thead {
	font-weight: 500;
	border-bottom: 1px solid #ccc;
}

.uni-ehf table tr {
	height: 1.5rem;
	line-height: 1.5rem;
}

.uni-ehf table th,
.uni-ehf table td {
	text-align: left;
	padding: 5px;
}

.uni-ehf .number {
	text-align: right;
}

.uni-ehf table th.mva {
	min-width: 4rem;
}

.uni-ehf table th.sum {
	min-width: 8rem;
}

.uni-ehf .freetext {
	padding: .75rem;
	background: #f9f9f9;
}

.uni-ehf .summary-row {
	display: flex;
	margin: 2rem 0 1rem;
	padding-top: 1rem;
    page-break-inside: avoid;
    border-top: 1px solid #ccc;
}

.uni-ehf .note-row {
    margin: 2rem 0 1rem;
	padding-top: 0.2rem;
    page-break-inside: avoid;
}

.uni-ehf .note-row p {
    font-size: 13px;
    font-style: italic;
}

.uni-ehf .tax-summary {
	margin-right: 2rem;
}

.uni-ehf .tax-summary table {
	font-size: 12px;
	margin: 0;
}

.uni-ehf .tax-summary table thead {
	border: none;
}

.uni-ehf .tax-summary table tr {
	height: 1.25rem;
	line-height: 1.25rem;
}

.uni-ehf .tax-summary th + th,
.uni-ehf .tax-summary td + td {
	text-align: right;
	padding-left: 1rem;
}

.uni-ehf .summary {
	margin: 5px 0 0 auto;
	font-size: 13px;
}

.uni-ehf .summary dl dd {
	text-align: right;
}

.uni-ehf .summary dl.total {
	font-weight: 600;
	border-top: 1px solid;
	border-bottom: 1px solid;
}
