#app-loading-spinner {
	background: #f8f9fD;
    display: block;
}
#data-loading-spinner {
	background: #f8f9fD;
    display: none;
}
#app-loading-spinner,
#data-loading-spinner {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	text-align: center;
    color: rgb(103, 106, 108);
}
.app-spinner-wrapper {
    width: 50rem;
    max-width: 90%;
    height: 25rem;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f8f9fD;
    border-radius: 3px;
}
.app-spinner-wrapper h1 {
    display: block;
    position: relative;
    top: 18rem;
    width: 100%;
    height: 150px;
    font: 200 1.777rem/3rem 'Source Sans Pro', -apple-system, 'Segoe UI', 'Droid Sans', var(--font-family), 'Ubuntu', 'Fira Sans Light', sans
}
.app-spinner-wrapper #spinner {
    display: block;
    position: absolute;
    top: 5rem;
    left: calc(50% - 75px);
    width: 150px;
    height: 150px;
    margin: 0;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #1496d5;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.app-spinner-wrapper #spinner:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #33647f;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
.app-spinner-wrapper #spinner:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #93bfd9;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
    }
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}