<section role="dialog" class="uni-modal medium" style="text-align: left;">
    <header>
        <h1>{{headerString}}</h1>
    </header>
    <article class="scrollable">
        <section *ngIf="!showReceipt" class="unitableWidthAuto">
            <uni-form
                [config]="config$"
                [fields]="fields$"
                [model]="formModel$"
                (changeEvent)="change($event)">
            </uni-form>
            <p *ngIf="!busy && !valid" role="alert" class="error"> Mangler systemkontoer. Sjekk hovedbokskontoene på <a (click)="routeToSalarySettings()">lønnsinnstillinger</a>.</p>
            <section [attr.aria-busy]="busy">
                <ag-grid-wrapper *ngIf="summary" [resource]="summary.PostList" [config]="accountTableConfig"></ag-grid-wrapper>
                <label>Kontrollsum totalt: </label> {{sum$ | async | unicurrency }}
            </section>
        </section>

        <section *ngIf="showReceipt" [attr.aria-busy]="busy">
            <p>Bilaget er bokført i ditt regnskap</p>
            <p>
                <a (click)="close()" href="#/accounting/transquery?JournalEntryNumber={{journalNumber}}">
                    Bilagsnummer: {{journalNumber}}
                </a>
            </p>
            <p>Dato {{journalDate}}</p>
        </section>
    </article>

    <footer class="postingsummary_footer">
        <section *ngIf="!showReceipt">
            <button [disabled]="busy || !valid" (click)="postTransactions()" class="good">Bokfør</button>
            <button [disabled]="busy" (click)="close()" class="bad">Avbryt</button>
        </section>
        <button [disabled]="busy" *ngIf="showReceipt" (click)="close()" class="good">OK</button>
    </footer>
</section>
