<section role="dialog" class="postingsummary">
    <header>
        <h1>{{headerString}}</h1>
    </header>
    <article [attr.aria-busy]="busy">
        <section *ngIf="!showReceipt" class="unitableWidthAuto">
            <uni-form
                [config]="config$"
                [fields]="fields$"
                [model]="formModel$">
            </uni-form>
            <uni-table *ngIf="summary" [resource]="summary.PostList" [config]="accountTableConfig"></uni-table>
            <label>Kontrollsum totalt: </label> {{getAccountingSum() | unicurrency }}
        </section>

        <section *ngIf="showReceipt">
            <p>Bilaget er bokført i ditt regnskap</p>
            <p>
                <a (click)="close()" href="#/accounting/transquery/details;JournalEntryNumber={{journalNumber}}">
                    Bilagsnummer: {{journalNumber}}
                </a>
            </p>
            <p>Dato {{journalDate}}</p>
        </section>
    </article>

    <footer class="postingsummary_footer">
        <section *ngIf="!showReceipt">
            <button [disabled]="busy" (click)="postTransactions()" class="good">Bokfør</button>
            <button [disabled]="busy" (click)="close()" class="bad">Avbryt</button>
        </section>
        <button [disabled]="busy" *ngIf="showReceipt" (click)="close()" class="good">OK</button>
    </footer>
</section>
