<annual-settlement-check-list-toolbar-component></annual-settlement-check-list-toolbar-component>
<section class="container-fluid uni-grid-container">
    <section class="row header">
        <a href="#/accounting/annual-settlement">
            <i class="material-icons">keyboard_backspace</i>
        </a>
        <h5>
            Sjekkliste for årsavslutning
        </h5>
        <i class="material-icons-outlined">info</i>
        <h4>
            2020
        </h4>
    </section>
    <section class="row last">
        <section class="alert info" *ngIf="showInfoBox">
            <i class="material-icons info">info</i>
            <article class="info-text">
                <h6>{{infoOption.title}}</h6>
                <p>
                    {{infoOption.text}}
                </p>
            </article>
            <i class="material-icons close" (click)="showInfoBox = false">close</i>
        </section>
        <section class="alert info warn" *ngIf="showMvaBox">
            <i class="material-icons info">info</i>
            <article class="info-text">
                <h6>{{mvaOption.title}}</h6>
                <p [innerHTML]="mvaOption.text"></p>
            </article>
            <i class="material-icons close" (click)="showMvaBox = false">close</i>
        </section>
        <uni-stepper>
            <uni-step *ngFor="let option of options" [step]="option">
                <ng-template #stepButtonTemplate let-item="item">
                    <i class="material-icons" style="color:#78E178; width:27px; height: 27px; cursor:pointer; font-size:27px;user-select: none"
                       *ngIf="option?.check"
                       (click)="option.check=false">check_circle</i>
                    <i style="border:2px solid black; width:27px; height: 27px; border-radius: 50%; cursor:pointer;user-select: none"
                       *ngIf="!option?.check"
                       (click)="option.check=true">&nbsp;</i>
                </ng-template>
                <ng-template #stepCardTemplate let-item="item">
                    <h6>{{item.title}}</h6>
                    <article [innerHTML]="item.text"></article>
                </ng-template>
            </uni-step>
        </uni-stepper>
    </section>
</section>
