<annual-settlement-check-list-toolbar-component
    [annualSettlement]="annualSettlement"
></annual-settlement-check-list-toolbar-component>
<section class="container-fluid uni-grid-container">
    <section class="row header page-navigation">
        <a href="#/accounting/annual-settlement" class="page-navigation-button">
            <i class="material-icons">keyboard_backspace</i>
        </a>
        <h5>
            Sjekkliste for årsavslutning
        </h5>
        <i class="material-icons-outlined">info</i>
        <h4>
            2020
        </h4>
    </section>
    <section class="row">
        <section class="alert info" *ngIf="showInfoBox">
            <i class="material-icons info">info</i>
            <article class="info-text">
                <h6>{{infoOption.title}}</h6>
                <p>
                    {{infoOption.text}}
                </p>
            </article>
            <i class="material-icons close" (click)="showInfoBox = false">close</i>
        </section>
        <uni-stepper>
            <uni-step *ngFor="let option of options" [step]="option" [class.checked]="option?.checked">
                <ng-template #stepButtonTemplate let-item="item">
                    <mat-checkbox [ngModel]="option?.checked" (change)="updateOption(option, $event)"></mat-checkbox>
                </ng-template>
                <ng-template #stepCardTemplate let-item="item">
                    <h6>{{item.title}}</h6>
                    <article [innerHTML]="item.text" *ngIf="!item?.checked"></article>
                </ng-template>
            </uni-step>
        </uni-stepper>
    </section>
    <section class="row last" style="justify-content: flex-end">
        <button (click)="completeCheckListStep()">Sjekkliste fullført</button>
    </section>
</section>
