annual-settlement-check-list-component
    .row
        margin-left: 50px
        margin-right: 50px
    .last
        margin-bottom: 3rem

    .custom-list-item-container
        .custom-list-item-status
            mat-checkbox
                &.mat-checkbox-checked .mat-checkbox-background
                    background-color: var(--checkbox-checked-background-good) !important
                    border: #fff
                .mat-checkbox-checkmark .mat-checkbox-checkmark-path
                    stroke: var(--checkbox-checked-color-good) !important
                    stroke-width: 3px
