<annual-settlement-check-list-toolbar-component></annual-settlement-check-list-toolbar-component>
<section class="container-fluid uni-grid-container">
    <section class="row header">
        <a href="#/accounting/annual-settlement">
            <i class="material-icons">keyboard_backspace</i>
        </a>
        <h5>
            Sjekkliste for årsavslutning
        </h5>
        <i class="material-icons-outlined">info</i>
        <h4>
            2020
        </h4>
    </section>
    <section class="row last">
        <uni-stepper>
            <uni-step *ngFor="let option of options" [step]="option">
                <ng-template #stepButtonTemplate let-item="item">
                    <input type="checkbox" />
                </ng-template>
                <ng-template #stepCardTemplate let-item="item">
                    <h6>{{item.title}}</h6>
                    <article [innerHTML]="item.text"></article>
                </ng-template>
            </uni-step>
        </uni-stepper>
    </section>
</section>
<!--
<mat-selection-list #items>
    <mat-list-option *ngFor="let item of items">
        <div class="uni-container">
            Option
        </div>
    </mat-list-option>
</mat-selection-list>
-->
