// THEME FILE FOR SoftRig ENVIRONMENT
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Open+Sans:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap')



body
    --font-family: 'Roboto',sans-serif
    --body-background: #FAFAFA
    --border-color: #E1E1E1

    --link-color: #00c8eb
    --text-color: #000000
    --scale1: #4B4B4B
    --scale2: #E1E1E1
    --scale3: #8C96A9
    --scale4: #e8ecf2

    --logo-width: 9rem

    --navbar-height: 82px
    --navbar-background: #000000
    --navbar-icon-color: #00c8eb

    --company-dropdown-border: 1px solid #8C96A9
    --company-dropdown-background: #fff
    --company-dropdown-color: #000000

    --tabstrip-background: #fff
    --tabstrip-color: #000000
    --tabstrip-link-color: #4B4B4B
    --tabstrip-active-link-color: var(--link-color)

    --tab-color: #000
    --active-tab-color: #00c8eb

    --sidebar-background: #fff
    --sidebar-color: #000
    --sidebar-header-color: var(--sidebar-color)
    --sidebar-icon-color: #00c8eb
    --sidebar-hover-color: #00c8eb
    --sidebar-active-section-background: #fff
    --sidebar-active-section-header-color: #000
    --sidebar-active-section-header-background: rgba(0, 200, 235, 0.2)

    --toolbar-background: #fff
    --toolbar-border: 1px solid #E9EFF4
    --toolbar-header-color: var(--color-c2a-dark)
    --toolbar-icon-color: #00c8eb

    --toolbar-button-border: 2px solid var(--border-color)
    --toolbar-button-color: #78e178

    --button-radius: 4px
    --section-radius: 3px

    --color-c2a: #00c8eb
    --color-c2a-dark: #000
    --color-good: #78e178
    --color-bad: #ff5a5a
    --color-bad-light: #FF8C8C
    --color-warn: #ffe164
    --color-warn-light: #ffe164

    --button-c2a: #00c8eb
    --button-c2a-hover: #00aacd
    
    --button-good: #00c8eb
    --button-good-hover:#00aacd

    --button-bad: #ff5a5a
    --button-bad-hover: #b23e3e

    --button-warn: #ffe164
    --button-warn-hover: #b29d46

    --dropdown-shadow: 0 5px 4px 2px rgba(140, 150, 169, 0.1)
    --dropdown-select-background: #f8f8f8
    --dropdown-select-color: #00c8eb

    --checkbox-size: 18px
    --checkbox-checked-color: #00c8eb
    --checkbox-checked-background: #fff
    --checkbox-checked-border: 1px solid #00c8eb

    --table-header-background: #E1E1E1
    --table-header-color: #000
    --table-row-odd-background: #fff
    --table-row-even-background: #fff
    --table-row-select-background: rgba(0, 200, 235, 0.2)

    --alt-table-header-background: var(--table-header-background)
    --alt-table-header-color: var(--table-header-color)
    --alt-table-header-border: 1px solid var(--border-color)
    --alt-table-body-border: 1px solid var(--border-color)

    // Alerts
    --alert-border: none

    --alert-info: #DAEEFF
    --alert-info-text-color: var(--text-color)
    --alert-info-icon-color: var(--color-c2a)
    --alert-info-link-color: var(--text-color)

    --alert-good: #DAF0CD
    --alert-good-text-color: var(--text-color)
    --alert-good-icon-color: var(--text-color)
    --alert-good-link-color: var(--text-color)

    --alert-warn: #FFEBD5
    --alert-warn-text-color: var(--text-color)
    --alert-warn-icon-color: var(--text-color)
    --alert-warn-link-color: var(--text-color)

    --alert-bad: #FDD5D2
    --alert-bad-text-color: var(--text-color)
    --alert-bad-icon-color: var(--text-color)
    --alert-bad-link-color: var(--text-color)


    --toast-info: #DFF1F9
    --toast-info-text: var(--text-color)

    --toast-good: #A0EBA0
    --toast-good-text: var(--text-color)

    --toast-warn: #ffe164
    --toast-warn-text: var(--text-color)

    --toast-bad: #FF8C8C
    --toast-bad-text: var(--text-color)

    --widget-header-size: 18px
    --widget-header-color: #000
    --widget-c2a: #00c8eb

    --chat-header-background: #000

//----------------since we dont have any other way to override inner styles--------------------
//---------we have accessed elements and classes directly and then styled accordingly----------
//------------------should be replaced with additional var options later-----------------------
button
    color: #000 !important
    font-weight: 600 !important
    &.secondary
        color: #000 !important
        font-weight: 500 !important

//--------------------------overriding the login.sass, feels hacky------------------------------

.login-container
    button.c2a
        font-family: 'Montserrat', sans-serif !important
        font-size: 27px !important

.background
    margin-top: 5rem !important

.init-header
    margin-top: 2rem

//-----------------------------end the login and init part---------------------------------------

.tab-strip
    span
        font-weight: 600
    ul
        font-weight: 500

h1, h2, h3, h4, h5
    font-family: 'Montserrat', sans-serif !important
    font-weight: 600 !important

//------------------above should be replaced with var options later---------------------------