.uni-modal
    width: 43rem
    strong
        font-weight: 500
    article
        padding-top: 2rem

header i.material-icons
    font-size: 28px
    line-height: 4rem
    margin-right: 1rem
    color: #F49C20

.administrators
    border: 1px solid #E2E6F0

    .header
        height: 45px
        line-height: 45px
        background: rgb(240, 240, 240)
        padding: 0 1rem
        font-size: 16px
        border-bottom: 1px solid #E2E6F0

    ul
        max-height: 20rem
        overflow-y: auto
        list-style: none
        padding: 1rem 2rem
        margin: 0

        li
            display: flex
            justify-content: space-between
            padding: 5px 0


.footer
    display: flex
    flex-direction: column
    margin: 2rem 0 .5rem

    button
        margin: .75rem auto
        height: 45px