<section class="no-companies" *ngIf="companies?.length === 0">
    Det er kun lisensadministratorer som har tilgang til å se hvilke selskaper som inngår i en lisens.
</section>

<section class="list-container" *ngIf="companies?.length">
    <section class="header">
        <h1>Selskaper på lisensen</h1>

        <input
            class="pull-right"
            type="search"
            placeholder="Søk"
            [(ngModel)]="filterValue"
            (ngModelChange)="filterCompanies()"
        />
    </section>

    <license-info-list
        [columns]="columns"
        [rows]="filteredCompanies"
        [orderBy]="'CompanyName'">
    </license-info-list>
</section>
