.no-companies
    font-size: 15px
    color: rgba(0, 0, 0, .75)
    margin-top: 2rem
    margin-left: 1rem

.list-container
    min-height: 150px
    max-height: calc(100vh - 12rem)

    .select-contract
        display: flex
        align-items: center
        margin: -1.5rem 1.5rem 5px
        
        > button
            color: var(--text-color)
            font-weight: 400

.actions
    margin-left: auto
    button
        padding: 1px 10px 0
    input
        margin-left: 1rem