<section class="no-companies" *ngIf="companies?.length === 0">
    Det er kun lisensadministratorer som har tilgang til å se hvilke selskaper som inngår i en lisens.
</section>

<section class="list-container" *ngIf="companies?.length">
    <section class="header">
        <h1>Selskaper på lisensen</h1>

        <div class="actions">
            <button (click)="createCompany()" class="tertiary c2a">
                Opprett selskap
            </button>

            <button (click)="grantAccess()" class="tertiary c2a">
                Gi tilgang til selskaper
            </button>

            <button (click)="deletedCompanies()" class="tertiary c2a">
                Se slettede selskaper
            </button>

           <input
                type="search"
                placeholder="Søk"
                [(ngModel)]="filterValue"
                (ngModelChange)="filterCompanies()"
            />
        </div>
    </section>

    <license-info-list
        [columns]="columns"
        [rows]="filteredCompanies"
        [orderBy]="'CompanyName'"
        [contextMenu]="contextMenu">
    </license-info-list>
</section>
