<section class="list-container">
    <section class="header">
        <h1>Selskaper på lisensen</h1>

        <div class="actions">
            <!--This span and disabled attribute is a temporary solution until the UX team has decided on something else-->
            <span [matTooltip]="companyLimitReached ? 'Du har nådd maks antall selskaper på denne lisensen' : ''" style="margin-right: 1rem">
                <button (click)="createCompany()" class="tertiary c2a" [disabled]="companyLimitReached">
                    Opprett selskap
                </button>
            </span>

            <button (click)="grantAccess()" class="tertiary c2a">
                Gi tilgang til selskaper
            </button>

            <button (click)="deletedCompanies()" class="tertiary c2a">
                Se slettede selskaper
            </button>

           <input
                type="search"
                placeholder="Søk"
                [(ngModel)]="filterValue"
                (ngModelChange)="filterCompanies()"
            />
        </div>
    </section>

    <section class="no-companies" *ngIf="companies?.length === 0">
        Fant ingen selskaper på denne lisensen.
    </section>

    <license-info-list
        *ngIf="companies?.length"
        [columns]="columns"
        [rows]="filteredCompanies"
        [orderBy]="'CompanyName'"
        [contextMenu]="contextMenu">
    </license-info-list>
</section>
