<!-- Hvordan funker ID dersom vi har flere treeList på en side? -->
<ul id="tree_list">
    <li *ngFor="#item of content">
        
        <!-- Item is another list -->
        <div *ngIf="item.type === type.LIST">
            <span [ngClass]="{button_icon_expanded: dir.expanded, button_icon_collapsed: !dir.expanded}" (click)="dir.toggle()">{{item.title}}</span>
            <uni-treelist-2 [content]="item.content"></uni-treelist-2>
        </div>
        
        <!-- Item is form, table or text -->
        <div *ngIf="item.type !== type.LIST">
            <h5 (click)="showContent($event)">{{item.title}}</h5>
            <uni-table *ngIf="item.type === type.TABLE" [config]="item.content"></uni-table>
            <uni-form *ngIf="item.type === type.FORM" [fields]="item.content.fields" (submit)="item.content.onSubmit"></uni-form>
            <p *ngIf="item.type === type.TEXT">{{item.content}}</p>
        </div>
    </li>    
</ul>