<section class="application">
    <article class="collapsable" [ngClass]="{'-is-open': !collapseView}">
        <h4 (click)="collapseView = !collapseView">Timeføring</h4>
        <div class="collapsable-content" [attr.aria-busy]="busy">


            <table class='timeentry_toolbar'><tr>
                <td>
                    <button class="good" (click)="onAddNew()">Ny stilling</button>
                    <button [hidden]="!(currentRelation && currentRelation.ID)" class="bad" (click)="onDelete()">Slett stilling</button>
                    &nbsp;&nbsp;
                    <button [hidden]="!(currentRelation && currentRelation.ID)" class="secondary-button" (click)="onRegisterHours()">Rediger timer</button>
                </td>                
                <td>                    
                </td>
                <td>                    
                </td>
            </tr></table>            
            

            <section class="splitview">
                <nav class="splitview_list">          

                    <table class="timeentriesTable">
                        <thead><tr>
                            <th>Arbeidsgiver</th>
                            <th>Prosent</th>
                            <th class="center">Aktiv</th>
                        </tr></thead>
                        <tbody>
                            <tr *ngFor="let item of items" (click)="onItemClicked(item)" [class.alternateRow]="item._isSelected" >
                                <td>{{item.CompanyName}}</td>
                                <td>{{item.WorkPercentage}}</td>
                                <td class="center">
                                    <input class="visiblecheckbox" type="checkbox" [checked]="item.IsActive" disabled >
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </nav>

                <main class="splitview_detail">
                    <uni-form
                            [config]="formConfig$"
                            [fields]="fields$"
                            [model]="model$"
                            (changeEvent)="onChange($event)"
                            (readyEvent)="onReady($event)">
                    </uni-form>                    
                </main>
                
            </section>

        </div>
    </article>
</section>
