@import "_journalentrySimple"
@import "_journalentryProfessional"
@import "_payments"
@import "_supplierInvoices"


th
    text-align: left
    border-bottom: 1px solid grey
    font-weight: normal
    
.journalentrymodeselector 
    @include unigrid(4)
    float: right

.journalentrytempbox
    border: 1px solid #CCCCCC
    background-color: #F2F2F2
    padding: 5px
    margin: 5px