@import "_journalentrySimple"
@import "_journalentryProfessional"
@import "_payments"
@import "_supplierInvoices"


th
    text-align: left
    border-bottom: 0.1rem solid grey
    font-weight: normal
    
.journalentrymodeselector 
    @include unigrid(4)
    float: right

.journalentrytempbox
    border: 0.1rem solid #CCCCCC
    background-color: #F2F2F2
    padding: 0.5rem    
    
.validationresultboxmedium 
    border: 0.1rem solid #CCCCCC
    background-color: #F2F2F2
    padding: 0.5rem
    margin-top: 2rem
    width: 45%