journal-entry-simple table
    margin-left: 10px
    margin-right: 10px
    width: 100%

.journalentrysimple-biginfo
    font-size: 25px

.journalentrysimple-multilineinfo
    font-size: 12px

.journalentrysimple-multilineinfo label 
    color: grey
