

journal-entry-simple table
    width: 100%
    margin-top: 1rem
    margin-bottom: 1.5rem

journal-entry-simple .journal-entry-row-selected
    opacity: 0.5

journal-entry-simple h3
    margin-top: 0.1rem
    margin-bottom: 0.1rem

journal-entry-simple p
    margin-top: 0.1rem
    margin-bottom: 0.1rem

journal-entry-simple td
    border-bottom: 0.1rem solid $uni-color-scale9

journal-entry-simple table div
    overflow: hidden
    white-space: nowrap 
    text-overflow: ellipsis    

journal-entry-simple tr:hover
    background-color: transparentize($uni-color-scale9, .5)

.journalentrysimple-biginfo
    font-size: 1.4rem

.journalentrysimple-multilineinfo
    font-size: 0.75rem

.journalentrysimple-multilineinfo label 
    color: $uni-color-scale7

journal-entry-simple td
    whitespace: nowrap
    overflow-x: hidden    

journal-entry-simple .small_col
    width: 2rem

journal-entry-simple .medium_col
    min-width: 8rem
    width: 8rem    
    
journal-entry-simple .action_menu    
    font-size: 0      
    &:after
        font-size: 1rem
        content: ''
        display: inline-block
        height: 1rem
        width: 1rem
        background: unicon-more($uni-color-scale6) no-repeat center center
        background-size: .8rem
        position: relative
        top: .3rem
        border: .1rem solid $uni-color-scale8
        border-radius: 99rem

.journal-entry-simple-table-wrapper
    @include unigrid(12,6,4,1)  
    float: left  
    margin-top: 10rem

.journal-entry-simple-validation
    @include unigrid(4,2,2,1)
    float: right
    background-color: transparentize($uni-color-scale9, .5)
    padding-left: 1rem
    padding-right: 1rem
    padding-bottom: 1rem
    margin-bottom: 2rem !important

.journal-entry-simple-helper
    @extend .journal-entry-simple-validation

.journal-entry-simple-form-buttonrow    
    width: 100%
    margin-top: 1rem
    margin-bottom: 1rem
    padding-bottom: 1rem
    margin-left: 0.5rem

.journal-entry-simple-form-buttonrow button
    padding: 0 0.5rem
    margin: 0.5rem 0.5rem
    
.journal-entry-simple-form
    background-color: transparentize($uni-color-scale9, .5)
    font-size: 0.8rem
    min-height: 7rem
 
    .button-group
        float: left
 
    button        
        margin-top: 1.5rem
        margin-right: 0.3rem
        margin-left: 0.3rem

    
.journal-entry-simple-form uni-form
    width: 100%

    label,
    fieldset
        //@include unigrid(2, 2, 1)
        width: pxToRem(120) 
        float: left // And float them.
        margin-left: 0.5rem
        margin-right: 0.5rem
        min-height: 3rem // So they don't run flush row-to-row.

    .small-field
        width: pxToRem(60)
        
    .large-field
        width: pxToRem(200)

.journal-entry-simple-form-loading-placeholder
    background-color: transparentize($uni-color-scale9, .8)
    height: 7rem
    width: 100%
