<uni-form
    [config]="config$"
    [fields]="fields$"
    [model]="wageType$"
    (changeEvent)="change($event)"
    (toggleEvent)="toggle($event)"
    (moveForwardEvent)="tabForward($event)"
    (moveBackwardEvent)="tabBackward($event)">
</uni-form>

<ng-template [ngIf]="showSupplementaryInformations">
    <p>Valgte tilleggsopplysninger</p>
    <uni-table
        [config]="tilleggspakkeConfig"
        [resource]="(wageType$ | async)?.SupplementaryInformations">
    </uni-table>
</ng-template>
