\:host
    margin: 0 auto !important
    height: 90vh !important

    form
        margin-top: 0.5rem

    label
        display: flex
        align-items: center
        margin-bottom: 1rem

        uni-tooltip
            position: static !important
            margin-left: 5px

        span
            flex: 0 0 185px
            margin-right: 20px
            font-size: 14px

        input, select
            flex: 1
            &.ng-touched.ng-invalid
                border: 1px solid var(--color-bad)

        .invalid input
            border: 1px solid var(--color-bad)

        .warning input
            border: 1px solid var(--color-warn)

        select
            padding-left: 4px

    small.form-warning
        display: block
        color: var(--color-warn)
        margin: -10px 0 16px 205px

    small.form-error
        display: block
        color: var(--color-bad)
        margin: -10px 0 16px 205px