<section class="application teams-container">
    <section style="background-color: #fff; padding: 1rem;">
        <mat-form-field style="width: 25rem;">
            <mat-select placeholder="Team" [value]="current" (valueChange)="setCurrent($event)">
                <mat-option *ngFor="let team of teams" [value]="team">
                    {{ team.Name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <uni-form
            [config]="formConfig$"
            [fields]="formFields$"
            [model]="formModel$"
            (changeEvent)="onFormChange($event)"
            (inputEvent)="onFormInput($event)">
        </uni-form>

        <ag-grid-wrapper
            [config]="positionTableConfig"
            [resource]="current?.Positions"
            (rowDelete)="onPositionDeleted($event)">
        </ag-grid-wrapper>
    </section>

</section>
