
﻿<uni-toolbar [config]="{ title: 'Teams' }" [saveactions]="saveactions"></uni-toolbar>

<section class="teams-select">
    <label class="uni-label label-left">
        <span>Velg team</span>
        <uni-select
            [config]="selectConfig"
            [items]="teams"
            [(value)]="current"
            (valueChange)="setCurrent($event)">
        </uni-select>
    </label>
</section>

<section class="application teams-container">
    <section style="background-color: #fff; padding: 1rem;">

        <label class="uni-label" style="margin: 1rem 0 2rem;">
            <span>Teamnavn</span>
            <input type="text" [(ngModel)]="current.Name" (change)="onFormChange($event)">
        </label>

        <ag-grid-wrapper
            [config]="positionTableConfig"
            [resource]="current?.Positions"
            (rowDelete)="onPositionDeleted($event)">
        </ag-grid-wrapper>
    </section>

</section>