<section class="reconciliation-list-container statement-view">
    <table [attr.aria-busy]="busy" *ngIf="bankStatements.length">
        <thead>
            <tr>
                <th> Bankkonto </th>
                <th> Kontonr </th>
                <th> Periode </th>
                <th> Status </th>
                <th class="center"> Antall poster </th>
                <th class="right"> Sum </th>
                <th>  </th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let statement of bankStatements">
            <tr [ngClass]="statement._open ? 'opened': ''">
                <td> {{ statement.AccountName }} </td>
                <td>
                    {{ statement.AccountNumber }}
                </td>
                <td>
                    {{ statement._periodeText }}
                </td>
                <td [ngClass]="statement.StatusCode === 48002 ? 'done' : 'good'"> {{ getStatusText(statement) }} </td>
                <td class="center"> <a class="good" (click)="statementClick(statement)" title="Vis alle poster"> {{ statement.count }} </a> </td>
                <td class="right" [ngClass]="statement.Amount  >= 0 ? 'good' : 'bad'"> {{ (statement.Amount | uninumberformat: 'money') || '0,00' }} </td>
                <td>
                    <i #toggle class="material-icons">more_vert</i>
                    <dropdown-menu [trigger]="toggle" *ngIf="statement.StatusCode === 48002">
                        <ng-template>
                            <section class="dropdown-menu-item"  (click)="onActionClick(action, statement)" *ngFor="let action of actions">
                                {{action.label}}
                            </section>
                        </ng-template>
                    </dropdown-menu>

                    <dropdown-menu [trigger]="toggle" *ngIf="statement.StatusCode === 48001">
                        <ng-template>
                            <section class="dropdown-menu-item"  (click)="onActionClick(action, statement)" *ngFor="let action of actionsDone">
                                {{action.label}}
                            </section>
                        </ng-template>
                    </dropdown-menu>
                </td>
            </tr>
            <tr *ngIf="statement._open">
                <td colspan="7" style="padding-left: 2rem !important; height: 400px">
                    <div class="list-header">
                        <span> Beskrivelse </span>
                        <span> Dato </span>
                        <span> Sum åpne </span>
                        <span> Sum total </span>
                    </div>
                    <ul class="entry-list-ul">
                        <cdk-virtual-scroll-viewport itemSize="50" id="scrolling-viewport">
                            <li *cdkVirtualFor="let entry of statement.entries" class="list-body-li">
                                <span title="{{ entry.Description }}"> {{ entry.Description }} </span>
                                <span title="{{ entry._periodeText }}"> {{ entry._periodeText }} </span>
                                <span title="{{ entry.OpenAmountCurrency }}" [ngClass]="statement.OpenAmountCurrency  >= 0 ? 'good' : 'bad'"> {{ ( entry.OpenAmountCurrency | uninumberformat: 'money' ) || '0,00' }} </span>
                                <span title="{{ entry.AmountCurrency }}" [ngClass]="statement.AmountCurrency  >= 0 ? 'good' : 'bad'"> {{  (entry.AmountCurrency | uninumberformat: 'money' ) || '0,00' }} </span>
                            </li>
                        </cdk-virtual-scroll-viewport>
                    </ul>
                </td>
            </tr>
           </ng-container>
        </tbody>
    </table>

    <span *ngIf="!bankStatements.length && dataLoaded" class="empty-statement-msg">
        Ingen avstemminger å vise. Gå til <strong (click)="goToReconciliationView()" title="Link til bankavstemming"> avstemmingsbilde </strong> for å starte.
    </span>

    <small *ngIf="busy"> Sletter avstemming... </small>
</section>