
.chart-section
    width: calc(100% - 18rem)
    display: flex
    flex-direction: column

    .chart
        height: calc(100% - 5rem)

    .chart-legend
        flex: 0 0 auto
        margin: 1rem 0 1rem 2.5rem

.overdue-section
    width: 14rem
    display: flex
    flex-direction: column
    margin: auto .5rem auto 4rem
    padding: 1.5rem
    background: var(--alert-warn)
    border-radius: var(--section-radius)
    text-align: center

    .sum
        font-size: 20px
        font-weight: 500
        margin-bottom: 1rem

    button
        margin-top: 2rem
