\:host
    &.ext02 strong
        color: var(--widget-c2a)

.reminder-list-widget
    padding-top: .5rem
    padding-bottom: .5rem

    a.reminder-item
        display: flex
        align-items: center
        height: 4rem
        padding: 0 1rem

        border: 1px solid var(--border-color)
        border-radius: var(--section-radius)
        color: var(--text-color)
        text-decoration: none
        transition: background .15s ease-in

        & + a.reminder-item
            margin-top: .75rem

        &:hover
            background: var(--dropdown-select-background)

        i
            vertical-align: middle
            color: var(--widget-c2a)
            margin-right: 1rem

        div
            flex: 1
            display: flex
            flex-direction: column
            justify-content: center
            font-size: .9rem
            line-height: 1.35rem
            overflow: hidden
            strong, span
                white-space: nowrap
                text-overflow: ellipsis
                overflow: hidden

    .no-items-message
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        width: 100%
        height: 100%
        i
            font-size: 55px
            margin-bottom: 1.4rem
            color: var(--color-good)