uni-bureau-dashboard
    text-align: left

    .list-content
        background: $uni-color-negative
        color: $uni-color-positive
        height: calc(100% - 35px)
        box-sizing: border-box

        input.table-filter
            margin: 1rem 2rem
            width: 20rem

        .uni-table
            position: relative
            height: calc(100% - 4rem)
            cursor: pointer

            .unitableSearch_advancedBtn
                display: none

            unitable-pagination
                position: absolute
                bottom: 1rem
                left: 1.5rem
                margin: 0

            .count-col
                width: 12rem

            th:first-of-type,
            td:first-of-type
                padding-left: 2rem

            th
                background: lighten($uni-color-toolbar, 20%)

            td:hover
                background: darken(mix($uni-color-c2a, $uni-color-negative, 15%), 5%)

            i
                font-style: normal
                float: right
    .right-side
        background-color: $uni-color-legend

        table
            width: 100%
        th, td
            width: 50%

        td:nth-child(2)
            background-color: $uni-color-negative
            border-radius: 2px
            border-bottom-width: 2px
            border-color: $uni-color-scale7
            border-style: solid

        th ~ th
            border-top: 2px solid $uni-color-positive
            padding-top: 8px

        hr
            border-color: $uni-color-positive
            height: 35px
