uni-bureau-dashboard
    .bureau-splitview
        display: flex
        flex-flow: row wrap
        margin-top: 1.5rem

    .bureau-company-list
        flex: 1
        min-width: 30rem

        // avoid ag-grid resize messing with flex layout
        overflow: hidden

        .bureau-link-col .table-link
            display: inline-block
            &:hover
                background: none


        .bureau-search-input
            width: 16rem
            height: 2.5rem
            padding: 0 1rem !important
            margin: 1.25rem 1rem 0

    .bureau-company-details
        flex: 0 0 45rem
        margin-right: 0
        overflow: hidden

        @include media(1700px)
            flex: 0 0 35rem

        header
            font-size: 1.25rem
            color: #60656a
            background: #fff
            border-bottom: none
            padding: .25rem 1rem !important
            margin: 0