uni-dashboard-detail-view
    .tasks
        display: flex
        flex-direction: row
        height: 100%
        background-color: $uni-color-legend

    .for-approval, .for-processing
        display: flex
        flex-direction: column
        align-items: center
        width: 50%
        background-color: white
        margin: 0.6rem
        padding: 1rem

        .material-icons
            font-size: 6rem
            margin: 1rem

        .text-container
            margin-top: 1rem
            p
                margin: 0

    .for-approval
        margin-right: 0.3rem

    .for-processing
        margin-left: 0.3rem


