.bureau-company-details
    margin-left: 1rem
    .company-overview
        display: flex
        flex-direction: column
        align-items: center
        padding: 1.1rem

        .highlighted-bar
            display: flex
            flex-direction: row
            justify-content: space-between
            background-color: $uni-color-negative
            width: 100%
            margin-bottom: 1rem

            section
                display: flex
                flex-direction: column
                align-items: center
                padding: 0.8rem

        .info-section
            display: flex
            flex-direction: row
            white-space: normal
            flex-wrap: wrap
            width: 95%
            font-size: 0.9rem

            span
                width: 50%
                margin-top: 1rem

            .info-name
                font-weight: bold
                margin-left: 1rem
                margin-right: 0.3rem
