.bureau-company-details
    .tab-part
        margin: 0.5rem
        width: calc(100% - 1rem)
        height: 6rem
        display: flex
        flex-direction: row
        align-items: center
        background-color: white
        justify-content: flex-start

        .image-container
            width: 6rem
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            margin: 0 0.8rem
            color: $uni-color-legend2

            img
                display: block
                max-width: 50%
                max-height: 50%
                width: auto
                height: auto
                margin-bottom: 0.3rem

        .text-container
            font-size: 0.9rem
            margin-left: .75rem
            p
                margin: 0
                white-space: normal
                padding-right: 0.5rem
            a
                text-decoration: underline
                margin-left: .25rem

    .invoice-icon
        content: unicon-supplierinvoice($uni-color-legend2)

    .journalentry-icon
        content: unicon-journalentry($uni-color-legend2)

    .hours-icon
        content: unicon-hourreg($uni-color-legend2)

    .amelding-icon
        content: unicon-amelding($uni-color-legend2)

    .payrollrun-icon
        content: unicon-payrollrun($uni-color-legend2)

    .sale-icon
        content: unicon-sale($uni-color-legend2)

    .material-icons
        vertical-align: bottom
        color: $uni-color-legend2

    .no_access
        display: block
        position: relative

    .no_access::before
        content: "Du har ikke tilgang til denne informasjonen for dette selskapet"
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: $uni-color-scale9
        color: $uni-color-legend2
        text-align: center
        line-height: 28rem

    .small-header
        padding-top: 0.5rem

    .clickable
        cursor: pointer


