uni-bureau-dashboard
    .bureau-splitview
        display: flex
        flex-flow: row wrap
        margin-top: 1.5rem

    .bureau-company-list
        flex: 1
        min-width: 30rem

        // avoid ag-grid resize messing with flex layout
        overflow: hidden

        .template-company
            .table-link
                padding-left: 2.5rem
            &:before
                position: absolute
                top: 8px
                left: 10px
                content: 'MAL'
                font: 400 10px var(--font-family)
                background: var(--color-c2a)
                color: #fff
                padding: 3px 6px
                border-radius: 2px

        .bureau-link-col .table-link
            display: inline-block
            &:hover
                background: none


        .bureau-search-input
            display: block
            width: 16rem
            height: 2.5rem
            padding: 0 1rem !important
            margin: 1.25rem 1rem 0

    .bureau-company-details
        flex: 0 0 45rem
        margin-right: 0
        overflow: hidden

        @include media(1700px)
            flex: 0 0 35rem

        header
            font-size: 1.25rem
            color: #60656a
            background: #fff
            border-bottom: none
            padding: .25rem 1rem !important
            margin: 0
            display: flex

            .details-toggle
                color: #60656a
                cursor: pointer
                font-size: 14px
                margin-left: auto

                i.material-icons
                    vertical-align: middle
                    margin-top: -2px


        &.minimized
            flex: 0 0 8rem
            .details-toggle
                margin: 0 auto


    .bureau-filters
        display: flex
        span
            cursor: pointer

        button i.material-icons
            margin-bottom: 2px


.bureau-group-menu-item
    display: flex
    font-size: 15px
    span
        margin-right: 1rem
    strong
        margin-left: auto
