uni-travel-lines
    width: 100%

section
    display: flex
    uni-form, uni-image
        flex: 1
    @media (max-width: 1300px)
        flex-direction: column
    margin-bottom: 1rem
    margin-top: 1rem
