<table>
    <caption>
        <a class="prev" (click)="prevMonth()"></a>
        <label>{{calendarDate?.format('MMMM YYYY')}}</label>
        <a class="next" (click)="nextMonth()"></a>
    </caption>

    <thead>
    <tr>
        <th *ngFor="let day of weekdays">{{day}}</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let week of calendarWeeks">
        <td *ngFor="let weekday of week"
            (click)="dateSelected(weekday)"
            [ngClass]="{
                            'other-month': weekday.month !== calendarDate.month(),
                            'selected': weekday.day === selectedDate.date()
                                        && weekday.month === selectedDate.month()
                        }">
            {{weekday.day}}
        </td>
    </tr>
    </tbody>
</table>
