@media screen and (max-width: 1350px)
    .marketing-toggle-btn
        display: none

    uni-init
        #marketing-content
            margin: 2rem 10%
            padding-top: 2rem !important
            img
                display: none

        #init-content
            margin: 2rem 10% 0 10%
            padding-top: 0 !important
            img
                padding: 1rem 0 0 0 !important
            .view-container
                width: 100% !important
                padding-top: 1rem
                background: $uni-color-negative
            .authentication-component
                box-shadow: none


@media screen and (max-width: 950px)
    uni-init
        #marketing-content,
        #init-content
            margin: 2rem 2.5% 0 2.5%

@media screen and (max-width: 450px)
    #marketing-content
        h1
            font-size: 2rem !important
        input, #ue-video
            width: 100% !important


uni-init
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    overflow: auto
    background-size: cover
    background-image: url('assets/init_bg.jpg')

    .init-container
        display: flex
        flex-flow: row wrap-reverse
        width: 100%
        min-height: 100%
        padding: 0

    #marketing-content,
    #init-content
        padding-top: 6rem

    #marketing-content
        order: 1
        flex: 1 1 57%
        box-sizing: border-box
        background: $uni-color-negative
        color: $uni-color-positive

        display: flex
        flex-flow: row
        justify-content: center

        img
            width: 3rem
            position: absolute
            top: 1rem

        h1
            font-size: 2.5rem
            margin-top: 0

        p
            font-size: 1.25rem
            font-weight: 300

        .registration-form
            margin: 2.5rem 0

            button, input
                height: 4rem
                font-size: 1.5rem
                font-weight: 300
                border-radius: 0

            button
                min-width: 10rem
                margin-left: 0
                background: $uni-color-bad
                color: $uni-color-negative

                &[aria-busy]:not([aria-busy=false]):before
                    height: 15px !important
                    width: 15px !important
                    border-top: 1px solid $uni-color-negative !important

                &:hover, &:focus
                    background: darken($uni-color-bad, 10%)

            input
                display: none
                width: 0
                color: $uni-color-positive

                &.ng-invalid.ng-touched
                    @extend input[type=text].error

        #ue-video
            width: 90%

    #init-content
        order: 2
        flex: 1 1 43%
        position: relative
        box-sizing: border-box

        .view-container
            width: 30rem
            margin: 0 auto

        img
            display: block
            margin: 0 auto
            padding: 0 0 2rem 0
            width: 18rem

        .marketing-toggle-btn
            @extend %hideText
            position: absolute
            top: .5rem
            left: .5rem
            width: 2rem
            height: 2rem
            border-radius: 50%
            background: $uni-color-negative unicon-chevron-left($uni-color-scale6) center no-repeat
            background-size: .65rem

            &:hover
                background: $uni-color-negative unicon-chevron-left($uni-color-scale3) center no-repeat
                background-size: .65rem

            &.expand-content
                transform: rotate(180deg)


.authentication-component
    min-height: 13rem
    max-width: 25rem
    margin: 0 auto
    padding: 2rem 3rem 1rem 3rem
    background: $uni-color-negative
    position: relative
    box-shadow: 0 0 30px #d9dee9

    form
        label
            @extend %visuallyHidden

        input
            display: block
            width: 100%
            margin: .75rem 0
            color: $uni-color-positive
            height: 2.5rem

        .input-with-icon
            position: relative
            width: 100%

            input
                padding-left: 2.25rem
            span
                position: absolute
                top: 0
                left: 0
                height: 2.5rem
                width: 2rem

                &.user-icon
                    background: unicon-user($uni-color-scale6) center no-repeat
                    background-size: .9rem
                &.password-icon
                    background: unicon-lock($uni-color-scale6) center no-repeat
                    background-size: .8rem

        input[type=checkbox]
            display: inline-block
            width: 2rem

        small.privacy-info
            color: $uni-color-scale5
            display: block
            margin: 1rem 0

    button
        width: 100%
        height: 2.5rem
        padding: 0
        margin: .25rem 0 .5rem 0

    .uniSelect_input
        height: 2.5rem
        margin-top: 1rem


    .links
        position: absolute
        width: 100%
        text-align: center
        bottom: 1rem
        left: 0

ul.progress-list
    list-style: none

    li
        margin-top: 1rem

        &:before
            content: ''
            display: inline-block
            height: 1rem
            width: .5rem
            margin: 0 .5rem 0 .5rem
            position: relative

        &.finished:before
            border-bottom: .1rem solid $uni-color-scale7
            border-right: .1rem solid $uni-color-scale7
            transform: rotate(45deg)

        &[aria-busy=true]:before
            content: ''
            display: inline-block
            height: 1rem
            width: 1rem
            margin-left: 0
            margin-right: .5rem
            position: relative
            border-radius: 50%
            border-top: .1rem solid $uni-color-scale7
            border-right: .1rem solid transparent
            animation: spinner 600ms linear infinite

uni-signup,
uni-confirm-invite
    .authentication-component
        padding: 1rem 3rem

        p
            color: $uni-color-scale3
            font-size: 17px
            &.registration-step-info
                margin-bottom: 2rem

        small.validation
            margin: 0 0 1rem 0

        .links
            position: static
            margin-top: 1rem

        button.bad
            height: 3rem

        input.ng-invalid.ng-touched
            @extend input[type=text].error


uni-password-guide
    ul.password-validation
        list-style: none
        margin-left: .5rem
        font-size: .9rem

        li
            display: inline-block
            width: 40%
            color: $uni-color-scale5

            &:before
                content: '🞩'
                margin-right: .5rem

            &.completed
                color: $uni-color-scale7
                &:before
                    color: $uni-color-good
                    content: '✓'

