$init-header-height: 10rem
$init-footer-height: 6rem

uni-init
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    overflow: auto
    display: flex
    flex-direction: column
    width: 100vw
    min-height: 100vh
    background: #fff

    input
        -webkit-appearance: none // because ios safari doesn't show box-shadow without this

    .logo
        cursor: pointer
        outline: none

    .init-header
        flex: 0 0 $init-header-height
        display: flex
        justify-content: center
        align-items: center
        position: relative
        padding: 0 3rem
        a
            position: absolute
            right: 3rem
            margin: .4rem 0
        img
            width: 20rem
        .sb-logo
            width: 16rem !important

        @media screen and (max-width: 700px)
            justify-content: flex-start
            img
                width: 18rem
        @media screen and (max-width: 500px)
            justify-content: center
            a
                display: none

    .init-footer
        flex: 0 0 $init-footer-height
        display: flex
        justify-content: center
        align-items: center

    .init-content
        flex: 1
        display: flex
        flex-direction: column
    .init-footer
        font-size: 16px
        color: #787B80

.authentication-component
    width: 30rem
    max-width: 92vw
    min-height: 10rem
    background: #fff
    border-radius: 4px
    padding: 1.5rem 2.5rem
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.16)

    h1
        margin: 0 0 .5rem
        font-size: 24px
        font-weight: 500
        color: var(--init-header)

    p
        color: var(--init-text)

    .init-subtitle
        font-weight: 500
        font-size: 15px
        color: var(--init-subtitle)
        margin-bottom: 2rem

    label.uni-label
        margin-bottom: 1.25rem
        > span
            font-weight: 500
            color: var(--init-label)

    small.validation
        margin: 0 0 1rem 0

    a.init-link
        display: block
        width: 100%
        text-align: center
        margin-top: .5rem
        font-size: 15px

    .init-submit-button
        width: 100%
        height: 2.75rem
        margin: .5rem 0

uni-password-guide
    ul.password-validation
        list-style: none
        margin-left: .5rem
        margin-bottom: 2rem
        font-size: .9rem
        display: flex
        flex-flow: row wrap
        justify-content: space-between

        li
            flex: 0 0 50%
            // color: var(--scale1)

            &:before
                content: '🞩'
                // color: var(--color-bad)
                margin-right: .5rem

            &.completed
                color: var(--init-label)
                // color: $uni-color-scale7
                &:before
                    // color: var(--color-good)
                    content: '✓'

.locked-container
    position: absolute
    height: 100%
    width: 100%
    background-color: var(--scale4)
    z-index: 9
    display: flex
    justify-content: center

    .company-lock
        width: 40rem
    .user-lock
        width: fit-content

    section
        display: flex
        flex-direction: column
        background-color: white
        border: 1px solid #CCC
        padding: 1rem 2rem
        border-radius: 3px
        height: fit-content
        margin-top: 5rem

        h3
            font-size: 20px
            color: var(--color-c2a-dark)

        button
            width: 15rem
            margin: 2rem 0 1rem 0


uni-signup, uni-confirm-invite, uni-login
    display: flex
    height: 100%
    position: relative
    padding-top: 2rem

    .background
        width: 100%
        position: absolute
        top: 0
        left: 0
        height: 42vh
        z-index: -1

        &.full-height
            height: 100%

    .content
        display: flex
        justify-content: center
        width: 100%
        padding: 2rem
        img
            margin-right: 10rem
            width: 40vw
            max-width: 40rem

        @media screen and (max-width: 1000px)
            img
                display: none