@import './styles/base-theme'
@import 'theme'

@import './styles/vendor/__vendor'
@import './styles/unibase/__unibase'
@import './styles/components/__components'
@import './styles/specifics/__specifics'
@import './app/components/sales/recurringInvoice/recurringInvoiceDetails'
@import './app/components/accounting/budget/budgetView'

body
    background-color: var(--body-background)

.pull-left
    margin-right: auto
.pull-right
    margin-left: auto

.overflow-ellipsis
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

uni-versions-view
    .button-row
        margin-top: 2rem

    button
        min-width: 8rem


