<uni-toolbar [config]="{title: 'Jobber', hideBreadcrumbs: true}"></uni-toolbar>

<section class="application">
    <uni-tabs [tabs]="tabs" [(activeIndex)]="activeTabIndex"></uni-tabs>

    <section class="uni-container">
        <ng-template [ngIf]="activeTabIndex === 0">
            <h2>
                Sist kjørte jobber
                <i class="material-icons" role="button" (click)="refresh()" style="color: var(--color-c2a)">refresh</i>
            </h2>

            <ag-grid-wrapper
                [resource]="jobRuns"
                [config]="jobRunsConfig"
                (rowSelectionChange)="onJobRunSelected($event)">
            </ag-grid-wrapper>
        </ng-template>

        <ng-template [ngIf]="activeTabIndex === 1">
            <h2>Alle jobber</h2>

            <ul class="job-list">
                <li *ngFor="let job of jobs">
                    <a [routerLink]="['/admin/job-details']" [queryParams]="{jobName: job.name}">
                        {{job.name}}
                    </a>
                </li>
            </ul>
        </ng-template>

        <saft-import-view *ngIf="activeTabIndex === 2"></saft-import-view>
        <batch-invoices-container *ngIf="activeTabIndex === 3"></batch-invoices-container>
    </section>
</section>
