.fields-section
    margin: 1rem 2rem 1rem 0
    background-color: white
    border: 1px solid #ccc
    width: 100%

    &.no-bgc
        background-color: transparent
        border: none

    header
        height: 4rem
        display: flex
        align-items: center
        padding: 0 2rem
        width: 100%
        border-bottom: 1px solid #ccc

        span
            font-weight: bold
            font-size: 18px
            flex: 1

        a
            font-size: 13px
            font-weight: 600

        i.material-icons
            margin-left: 1rem
            color: var(--color-c2a)
            font-size: 22px
            cursor: pointer

    .fields-body-container
        padding: 1rem 2rem

.info-and-fields-container
    display: flex
    padding-bottom: 1rem
    border-bottom: 1px solid #cccccc
    margin: 1rem 4rem

    &.last
        border-bottom: none

    fieldset
        box-shadow: none
        padding: 1rem 1rem 0.5rem !important

    .left-aligned-info-section
        width: 32rem
        padding-right: 5rem
        margin-top: 2rem

        header
            font-size: 18px
            margin-bottom: 1rem
            font-weight: 500

        p
            font-size: 15px

        small
            display: block

        > p, > small
            margin: 0 0 1.5rem

        button
            min-width: 10rem

.dual-tile-container
    margin: 1rem 2rem
    display: flex

    .fields-section
        &:first-of-type
            margin-right: 2rem

        .form-body
            padding: 1rem 2rem
            margin-top: 1rem

.settings-sub-view
    width: 100%

    &.active
        display: flex
        flex-direction: column
        align-items: center

.fields-body-container
    reminder-settings,.aga-form-style
        fieldset
            box-shadow: none
            width: calc(50% - 1rem)
            flex-basis: calc(50% - 1rem)
            margin: 0 0 1rem 0

            &:first-of-type
                margin-right: 2rem

            .fieldset-column-container
                width: calc(100% - 2rem)
                margin: 2rem 1rem 0

            legend
                font-weight: bold
                font-size: 18px
                padding: 0
                padding: .75rem 2rem
                border-bottom: 1px solid #ccc

.uni-aga-settings-buttons
    margin-left: 0

    button
        border: none
        text-align: left
        padding: 0

@media (max-width: 1000px)
    .settings-link-section,.dual-tile-container
        flex-direction: column
        align-items: center

        .main-links
            width: 22rem
            margin-bottom: 5rem !important
