uni-query-read-only
    display: flex
    flex-direction: column
    position: relative
    min-height: 10rem

    button.add-new-button
        position: absolute
        right: 0

    ag-grid-wrapper
        flex: 1