\:host
    display: grid
    grid-template-columns: auto 1fr
    padding: 1rem
    margin: 1rem 0
    background-color: var(--alert-good)
    border-radius: var(--section-radius)
    .material-icons
        color: var(--alert-good-icon-color)
        padding-right: 1rem
