kid-settings
    .splitview_list
        min-width: 50%

    .splitview_detail
        min-width: 50%

        uni-field
            margin-left: 0
            @include labelLength(6rem)

        .uni-checkbox
            margin-bottom: 1.25rem
            margin-left: .25rem
            @include labelLength(3rem)