<article class="authentication-component">
    <small class="validation error" *ngIf="errorMessage.length">{{errorMessage}}</small>
    <small class="validation good" *ngIf="successMessage.length">{{successMessage}}</small>
    <small class="validation good" *ngIf="passwordChanged">
        Passord har blitt endret. <a [routerLink]="['login']">Gå til innlogging</a>.
    </small>

    <section *ngIf="!code || !userid">
        <form [formGroup]="emailForm" (ngSubmit)="sendResetEmail()" #f="ngForm">
            <label for="email-input">Epost</label>
            <input id="email-input" type="email" autofocus formControlName="email" placeholder="Epost" [disabled]="busy || emailSent">

            <button type="submit" [attr.aria-busy]="busy" [disabled]="!f.form.valid || busy || emailSent" class="auth-button c2a" >Tilbakestill passord</button>
        </form>
    </section>

    <section *ngIf="code && userid && !passwordChanged" >
        <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()" #f="ngForm">
            <label for="password-input">Passord</label>
            <input id="password-input" type="password" autofocus formControlName="Password" placeholder="Passord">
            <div *ngIf="(passwordForm?.controls.Password.touched && passwordForm?.controls.Password.invalid)" class="bad">Nødvendig*</div>

            <label for="confirm-password-input">Bekreft passord</label>
            <input id="confirm-password-input" type="password" formControlName="ConfirmPassword" placeholder="Bekreft passord">
            <div *ngIf="passwordForm?.controls.ConfirmPassword.touched && passwordForm.controls.ConfirmPassword.invalid" class="bad">Nødvendig*</div>
            <div class="bad">{{passwordForm.controls.ConfirmPassword.errors?.passwordMatchValidator}}</div>
        
            <uni-password-guide *ngIf="passwordForm?.controls"
                [passwordControl]="passwordForm.controls.Password">
            </uni-password-guide>

            <button type="submit" [attr.aria-busy]="busy" [disabled]="busy" class="auth-button c2a">Bytt passord</button>
        </form>
    </section>

    <section class="links">
        <a [routerLink]="['login']">Tilbake til innlogging</a>
    </section>

</article>