<article class="authentication-component">
    <!--<img src="../../../assets/uni-logo.png" alt="Uni Micro logo">-->

    <small class="validation error" *ngIf="errorMessage.length">{{errorMessage}}</small>
    <small class="validation good" *ngIf="successMessage.length">{{successMessage}}</small>
    <small class="validation good" *ngIf="passwordChanged">
        Passord har blitt endret. <a [routerLink]="['login']">Gå til innlogging</a>.
    </small>

    <section *ngIf="!code || !userid">
        <form [formGroup]="emailForm" (ngSubmit)="sendResetEmail()" #f="ngForm">
            <label>
                Epost
                <input type="email" formControlName="email" placeholder="Epost" [disabled]="busy || emailSent">
            </label>
            <button type="submit" [attr.aria-busy]="busy" [disabled]="!f.form.valid || busy || emailSent" class="c2a" >Tilbakestill passord</button>
        </form>
    </section>

    <section *ngIf="code && userid">
        <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()" #f="ngForm">
            <label>
                Passord
                <input type="password" formControlName="password" placeholder="Passord">
            </label>

            <label>
                Bekreft passord
                <input type="password" formControlName="confirmPassword" placeholder="Bekreft passord">
            </label>

            <button type="submit" [attr.aria-busy]="busy" [disabled]="!f.form.valid || !passwordsMatch || busy" class="c2a">Change password</button>
        </form>
    </section>

    <p><a [routerLink]="['login']">Tilbake til innlogging</a></p>

</article>