<ng-template [ngIf]="employeeleaveItems">
    <small *ngIf="!employeeID">Ansatt må lagres før permisjoner kan registreres<br><br></small>
    <small *ngIf="unsavedEmployments$ | async">
        Det finnes ulagrede arbeidsforhold. Disse vil ikke kunne benyttes før du har lagret.<br><br>
    </small>

    <ag-grid-wrapper
        [(resource)]="employeeleaveItems"
        [config]="tableConfig"
        (rowDelete)="onRowDeleted($event)"
        (rowChange)="rowChanged($event)">
    </ag-grid-wrapper>
</ng-template>
