// THEME FILE FOR EXT02 ENVIRONMENT
body
    --font-family: 'Roboto', sans-serif, arial
    --body-background: #f5f6f8
    --border-color: #EDEDED

    --link-color: #007272
    --text-color: #333
    --scale1: #808080
    --scale2: #c4c4c4
    --scale3: #e3e3e3
    --scale4: #F5F6F8

    --logo-width: 9rem

    --navbar-height: 82px
    --navbar-background: #fff
    --navbar-icon-color: #007272

    --company-dropdown-border: 1px solid #A5E1D2
    --company-dropdown-background: rgba(0, 0, 0, 0)
    --company-dropdown-color: #333

    --tabstrip-background: #fff
    --tabstrip-color: #2b2b2b
    --tabstrip-link-color: #333333
    --tabstrip-active-link-color: #007272

    --tab-color: #2B2B2B
    --active-tab-color: #007272

    --sidebar-background: #fff
    --sidebar-color: #2B2B2B
    --sidebar-icon-color: #007272
    --sidebar-hover-color: #007272
    --sidebar-active-section-background: #D2F0E9

    --toolbar-background: #fff
    --toolbar-border: 1px solid var(--border-color)
    --toolbar-header-color: #00343E
    --toolbar-icon-color: #007272

    --toolbar-button-border: 1px solid var(--border-color)
    --toolbar-button-color: #007272

    --button-radius: 3px
    --section-radius: 3px

    --color-c2a: #007272
    --color-c2a-dark: #005959
    --color-good: #01A901
    --color-bad: #D63731
    --color-bad-light: #F8598B
    --color-warn: #FF9E2C
    --color-warn-light: #fbbe11

    --button-c2a: #007272
    --button-c2a-hover: #005959

    --button-good: #007272
    --button-good-hover: #005959

    --button-bad: #D63731
    --button-bad-hover: #DC223E

    --button-warn: #FF9E2C
    --button-warn-hover: #ffa733

    --dropdown-shadow: 0 5px 4px 2px rgba(140, 150, 169, 0.1)
    --dropdown-select-background: #DAEEFF
    --dropdown-select-color: #007272

    --checkbox-size: 18px
    --checkbox-checked-color: #fff
    --checkbox-checked-background: #007272
    --checkbox-checked-border: 1px solid #007272

    --table-header-background: #fff
    --table-header-color: #2B2B2B
    --table-row-even-background: #fafafa
    --table-row-odd-background: #fff
    --table-row-select-background: #DAEEFF

    --alert-info: #DAEEFF
    --alert-good: #DAF0CD
    --alert-warn: #FFEBD5
    --alert-bad: #FDD5D2

    --toast-info: #DAEEFF
    --toast-info-text: var(--text-color)

    --toast-good: #01A901
    --toast-good-text: #fff

    --toast-warn: #FAB86B
    --toast-warn-text: var(--text-color)

    --toast-bad: #D63731
    --toast-bad-text: #fff

    --widget-header-size: 16px
    --widget-header-color: #2b2b2b
    --widget-c2a: #007272

    --chat-header-background: #007272
