input.select-input
    cursor: pointer
    &[readonly]:not([aria-readonly=true])
        background-color: #fff

    background-image: unicon-chevron-down(#1d2b33)
    background-position: center right 14px
    background-repeat: no-repeat
    background-size: auto 8px
    padding-right: 40px

.select-search
    padding: .5rem
    input
        width: 100%
