.uniSelect
    display: inline-block
    position: relative

.uniSelect_input[role=combobox][readonly]
    background: #fff unicon-chevron-down($uni-color-scale5) center right .5rem no-repeat
    background-size: auto .5rem
    padding-right: 2rem
    text-overflow: ellipsis
    overflow: hidden

    &[disabled]:not([disabled=false])
        @extend input[disabled]


.uniSelect input[type=text][readonly].uniSelect_input.uniSelect_input
    background: #fff unicon-chevron-down($uni-color-scale5) center right .5rem no-repeat
    background-size: auto .5rem

.uniSelect_dropdown
    position: absolute
    width: 100%
    max-height: 20rem
    z-index: 9999

    .uniSelect_search
        background: #fff
        padding: .2rem .2rem
        border: pxToRem(1) solid $uni-color-scale7
        border-bottom: pxToRem(1) solid $uni-color-scale9

    ul.uniSelect_dropdown_list
        @extend .uni-multivalue-values
        box-sizing: border-box
        margin-top: 0
        min-width: pxToRem(150)
        max-height: 17rem
        overflow-y: auto
        border-top: none

.uniSelect_dropdown_new_button_item
    padding: 0

    button
        margin: 0
        width: 100%
        height: 100%

