<uni-toolbar
    class="amelding-toolbar"
    [config]="toolbarConfig"
    [showFullStatustrack]="true"
    [saveactions]="actions"
    [contextmenu]="contextMenuItems"
    [searchConfig]="toolbarSearchConfig"
    (statusSelectEvent)="setAmeldingFromEvent($event)">
</uni-toolbar>

<section class="application">
    <!-- Poster -->
    <section class="uni-container amelding_poster">
        <article class="amelding_poster_widget">
            <dl class="amelding_poster_details" [ngClass]="{'no_avvik': periodStatus === 'Mottatt'}">
                <dt>Juridisk enhet</dt>
                <dd>{{(legalEntityNo || '') | uninumberformat:'orgno'}}</dd>

                <dt>Status periode</dt>
                <dd>{{periodStatus}}</dd>
            </dl>
        </article>

        <article class="amelding_poster_widget two-up">
            <table class="amelding_poster_figures">
                <tr>
                    <td></td>
                    <th>Sum forskuddstrekk</th>
                    <th>Sum arbeidsgiveravgift</th>
                    <th *ngIf="showFinanceTax">Sum finansskatt</th>
                    <th *ngIf="showGarnishment">Sum utleggstrekk</th>
                </tr>
                <tr>
                    <th class="datacolumn">Fra lønnsystem</th>
                    <td class="currency">{{totalFtrekkSystemStr}}</td>
                    <td class="currency">{{totalAGASystemStr}}</td>
                    <td *ngIf="showFinanceTax" class="currency">{{totalFinancialSystemStr}}</td>
                    <td *ngIf="showGarnishment" class="currency">{{totalGarnishmentSystemStr}}</td>
                </tr>
                <tr>
                    <th class="datacolumn">Fra tilbakemelding</th>
                    <td class="currency">{{totalFtrekkFeedbackStr}}</td>
                    <td class="currency">{{totalAGAFeedBackStr}}</td>
                    <td *ngIf="showFinanceTax" class="currency">{{totalFinancialFeedbackStr}}</td>
                    <td *ngIf="showGarnishment" class="currency">{{totalGarnishmentFeedbackStr}}</td>
                </tr>
            </table>
        </article>

        <article class="amelding_poster_widget">
            <ul class="amelding_poster_events" *ngIf="initialized">
                <li [className]="clarifiedDate ? 'success' : 'warn'">
                    <i class="material-icons">{{clarifiedDate ? 'check_circle' : 'error'}}</i>
                    {{clarifiedDate ? 'Generert' : 'Ikke generert'}}
                    <time *ngIf="clarifiedDate">{{clarifiedDate}}</time>
                </li>
                <li [className]="submittedDate ? 'success' : 'warn'">
                    <i class="material-icons">{{submittedDate ? 'check_circle' : 'error'}}</i>
                    {{submittedDate ? 'Innsendt' : 'Ikke innsendt'}}
                    <time *ngIf="submittedDate">{{submittedDate}}</time>
                </li>
                <li [className]="feedbackObtained ? 'success' : 'warn'">
                    <i class="material-icons">{{feedbackObtained ? 'check_circle' : 'error'}}</i>
                    {{feedbackObtained ? 'Tilbakemelding hentet' : 'Tilbakemelding ikke hentet'}}
                </li>
            </ul>
        </article>
    </section>

    <!-- Tabs and content -->
    <section class="uni-container amelding-container">
        <uni-tabs class="scoped"
            [tabs]="tabs"
            [(activeIndex)]="activeTabIndex"
            (tabClick)="addTab()">
        </uni-tabs>

        <section [ngSwitch]="activeTabIndex">
            <amelding-summary-view
                *ngSwitchCase="0"
                [currentSumUp]="currentSumUp"
                [currentAMelding]="currentAMelding"
                [errorMessage]="validationErrorMessage"
                [period]="currentPeriod">
            </amelding-summary-view>

            <amelding-aga-view
                *ngSwitchCase="1"
                [currentSumUp]="currentSumUp">
            </amelding-aga-view>

            <amelding-receipt-view
                *ngSwitchCase="2"
                [currentAMelding]="currentAMelding"
                [aMeldingerInPeriod]="aMeldingerInPeriod"
                [companySalary]="companySalary">
            </amelding-receipt-view>

            <amelding-periodsummary-view
                *ngSwitchCase="3"
                [currentAMelding]="currentAMelding"
                [systemData]="currentSumsInPeriod"
                [aMeldingerInPeriod]="aMeldingerInPeriod"
                [companySalary]="companySalary"
                [showGarnishment]="showGarnishment">
            </amelding-periodsummary-view>
        </section>
    </section>
</section>
