<unitable-search
    *ngIf="config?.searchable"
    [columns]="tableColumns"
    [tableConfig]="config"
    [configFilters]="advancedSearchFilters"
    (filtersChange)="onFiltersChange($event)"
    (upOrDownArrows)="onFilterInputUpOrDownArrows($event)">
</unitable-search>

<table *ngIf="tableData && config?.columns" class="unitable-main-table"
   [ngClass]="{'editable-table': config.editable}"
   (keydown)="onKeyDown($event)">

    <unitable-editor
        (valueChange)="onEditorChange($event)"
        (copyFromAbove)="copyFromCellAbove()">
    </unitable-editor>

    <unitable-contextmenu [items]="config.contextMenu.items"></unitable-contextmenu>

    <thead *ngIf="config.headerVisible">
        <tr unitable-header
            *ngIf="config && tableColumns"
            [config]="config"
            [columns]="tableColumns"
            [(sortInfo)]="sortInfo"
            (sortInfoChange)="filterAndSortTable()"
            (columnsChange)="onColumnSetupChange($event)"
            (selectAllRows)="onSelectAllRowsChange($event)">
        </tr>
    </thead>

    <tbody #tbody>
        <tr unitable-row
            *ngFor="let row of getPageData()"
            [ngClass]="config.conditionalRowCls && config.conditionalRowCls(row.toJS())"
            [attr.aria-readonly]="config.isRowReadOnly && config.isRowReadOnly(row.toJS())"
            [attr.aria-selected]="(config.multiRowSelect && row.get('_rowSelected')) || (!config.multiRowSelect && row == lastFocusedRowModel)"
            [columns]="tableColumns"
            [rowModel]="row"
            [config]="config"
            (rowDeleted)="onDeleteRow($event)"
            (cellFocused)="onCellFocused($event)"
            (cellClicked)="onCellClicked($event)"
            (rowSelectionChanged)="onRowSelected($event)"
            (contextMenuClicked)="updateContextMenu($event)">
        </tr>
    </tbody>

    <tfoot *ngIf="columnSums">
        <tr>
            <td *ngIf="config?.multiRowSelect"></td>
            <ng-template ngFor let-column [ngForOf]="tableColumns">
                <td *ngIf="column.get('visible')"
                    [ngStyle]="{'text-align': column.get('alignment') || 'left'}"
                    [ngClass]="columnSums[column.get('field')] >= 0 ? 'number-good': 'number-bad'">
                    {{(columnSums[column.get('field')]) | uninumberformat: 'money'}}
                </td>
            </ng-template>
        </tr>
    </tfoot>
</table>

<unitable-pagination #pager
    *ngIf="config?.pageable && rowCount > config?.pageSize"
    [pageSize]="config.pageSize"
    [rowCount]="rowCount"
    (pageChange)="onPageChange($event)">
</unitable-pagination>
