.workorder

    h3
        border-bottom: 1px solid $uni-color-scale9

    table
        width: 100%
        padding-left: 1em;
        padding-right: 0.3em;
        border-collapse: collapse
        border-spacing: 0

        th, td
            padding: pxToRem(2) pxToRem(5) pxToRem(2) pxToRem(5)
            font-size: 11pt

        th
            text-align: left
            border-bottom: 1px solid $uni-color-scale9
            background-color: $uni-color-scale9            

        th.right, td.right
            text-align: right


        
