workitem-transfer-wizard

    .uni-modal
        width: 95vw
        max-width: pxToRem(900)

    .container
        padding: 1em 1em 0 1em

    .wizard-step-container
        height: 16em
        overflow-y: auto

    .stepheader
        padding-bottom: 0.5em
        font-weight: bold
        font-size: 12pt


    .small
        width: 50%
        min-width: pxToRem(350) !important
        display: inline-block

        &:nth-of-type(4) label > span
            text-align: right
            width: 5em

    .nolabel
        width: 50%
        min-width: pxToRem(350) !important
        display: inline-block

        span
            display: none

        localdate-picker-input
            width: 50%
            display: inline-block
            float: none


.workorder

    h3
        padding: pxToRem(2) pxToRem(5) pxToRem(2) pxToRem(5)
        cursor: pointer
        font-weight: normal
        font-size: 12pt
        margin: pxToRem(2) pxToRem(5) pxToRem(2) pxToRem(5)

    h3:hover
        background-color: lighten($uni-color-scale9,2%)

    .error
        color: var(--color-bad)

    .workorder-details
        margin: 0 0.5em 0.5em 1em

    table.header
        width: 100%

        td:last-of-type
            width: pxToRem(250)

        td.label
            text-align: right
            padding-left: 1em
            padding-right: 1em

    table.preview
        width: 100%
        padding-left: 1em;
        padding-right: 0.3em;
        border-collapse: collapse
        border-spacing: 0
        table-layout: fixed
        border: 1px solid $uni-color-scale8

        th, td
            padding: pxToRem(2) pxToRem(5) pxToRem(2) pxToRem(5)
            font-size: 11pt

        th
            text-align: left
            border-bottom: 1px solid $uni-color-scale9

        th.right, td.right
            text-align: right

        th.w2
            width: 2rem

        th.w4
            width: 4rem

        th.w6
            width: 6rem

        td.text
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis

.merge-options
    float: right
    max-width: pxToRem(300)