<uni-toolbar [config]="toolbarconfig"
             [saveactions]="saveActions"
             [commentsConfig]="commentsConfig">
</uni-toolbar>

<uni-tabs [routes]="childRoutes" [queryParamsHandling]="'preserve'" class="horizontal_nav"></uni-tabs>

<section class="project-list">
    <uni-table
        [resource]="lookupFunction"
        [config]="tableConfig"
        (rowSelected)="onRowSelected($event)"
        (dataLoaded)="onTableReady()"
        (pageChange)="onPageChange($event)">
    </uni-table>
</section>

<router-outlet></router-outlet>
