<header class="poster">
    <article class="poster_toolbar">
        <span *ngIf="supplierInvoice != null && supplierInvoice.ID > 0">
            <h2 class="poster_toolbar_headline">
                Leverandørfakturanr {{supplierInvoice.InvoiceNumber}}, {{supplierInvoice.Supplier.Info.Name}}                                    
            </h2>
            <p *ngIf="supplierInvoice.JournalEntry != null">Status: {{getStatusText()}}, bilagsnr: {{supplierInvoice.JournalEntry.JournalEntryNumber != null ? supplierInvoice.JournalEntry.JournalEntryNumber : 'Bilag ikke bokført' }}</p>
        </span>
        <h2 class="poster_toolbar_headline" *ngIf="invoiceId == 0">
            Ny leverandørfaktura
            <p>Ny faktura med smartbokføring</p>            
        </h2>
    </article>    
</header>

<article class="supplier-invoice-detail-form">    
    <uni-component-loader></uni-component-loader>    
</article>

<section class="supplier-invoice-detail-booking">
    <journal-entry-manual [supplierInvoice]="supplierInvoice" [runAsSubComponent]="true" *ngIf="supplierInvoice && supplierInvoice.ID > 0"></journal-entry-manual>
</section>

<section class="supplier-invoice-detail-document" *ngIf="supplierInvoice && supplierInvoice.ID > 0">
    <h3>
        Faktura
    </h3>
    <p>Fakturadokument kan vises her. Ikke implementert foreløpig. Avventer til dokumentsystem er på plass</p>
    <p></p>
</section>

<footer class="full-footer">    
    <button class="good" (click)="saveSupplierInvoice($event)">Lagre leverandørfaktura</button>
    <button class="good" (click)="saveAndBook($event)" *ngIf="supplierInvoice && supplierInvoice.ID > 0">Bokfør leverandørfaktura</button>
    <button (click)="saveAndRunSmartBooking($event)" *ngIf="supplierInvoice && supplierInvoice.ID > 0">Kjør smartbokføring på ny</button>    
</footer>
