<header class="poster">
    <article class="poster_toolbar">
        <h2 class="poster_toolbar_headline">
            <p *ngIf="supplierInvoice != null && supplierInvoice.ID > 0">Leverandørnummer &nbsp;:&nbsp; {{supplierInvoice.ID}}</p>
            <p *ngIf="supplierInvoice == null || supplierInvoice.ID == 0"><i>Ny faktura-registrering med smart bokføring.</i></p>
            <button *ngIf="supplierInvoice != null && supplierInvoice.JournalEntryID == null && supplierInvoice.ID > 0" (click)="onSmartBook()">Smart bokføring</button>
        </h2>

        <nav class="poster_toolbar_tools">
            <a href="#" class="previous">Forrige</a>
            <a href="#" class="next">Neste</a>
            <a href="#" class="new">Ny faktura</a>
        </nav>

    </article>
    <!-- Widget poster -->
    <section class="poster_overview">
        <uni-widget-poster [model]="SupplierInvoice"></uni-widget-poster>
    </section>

</header>



<article class="supplier-invoice-detail-form">
    <router-outlet></router-outlet>
    <uni-component-loader></uni-component-loader>
    <!--<uni-form (uniFormSubmit)="onSubmit($event)" [config]="formBuilder"></uni-form>-->
</article>

<!--<section class="supplier-invoice-detail-document">-->
<section class="supplier-invoice-detail-document">
    <h3>
        Faktura
    </h3>
    <p>Fakturadokument kan vises her. Ikke implementert foreløpig. Avventer til dokumentsystem er på plass</p>
    <p></p>
</section>
