<section class="marketplace-add-ons-details" [attr.aria-busy]="false" *ngIf="product$ | async as product">
    <section class="title-section">
        <section class="inner-title-section">
            <section class="icon-section">
                <img *ngIf="product.iconReference" src="{{product.iconReference}}" />
                <img *ngIf="!product.iconReference" src="//public-files.unieconomy.no/files/marketplace/sale_icon.png" />
            </section>
            <section class="text-section">
                <span>UniEconomy</span>
                <span>{{product.label}}</span>
            </section>
        </section>
    </section>
    <section class="background add-on-background-image">
    </section>
    <section class="header">
        <section class="background add-on-details-background-image {{product?._backgroundClass}}"></section>
        <section class="inner-container">
            <section class="product-info">
                <h1>{{product.label}}</h1>
                <p>{{product.description}}</p>
                <img [src]="product._laptopImage" />
            </section>
            <section class="price-container">
                <section class="price-header">
                    <span *ngIf="product.isPerUser && !(hasBoughtProduct$ | async)">pr. bruker</span>
                    <span *ngIf="!product.isPerUser && !(hasBoughtProduct$ | async)">pr. firma</span>
                </section>
                <section *ngIf="!(hasBoughtProduct$ | async)" class="price-body">
                    <h3>{{product.price}} kr</h3>
                    <ul>
                        <li *ngIf="product.isPerTransaction">pr. transaksjon</li>
                        <li *ngIf="product.isMonthly">pr. måned</li>
                    </ul>
                </section>
                <section *ngIf="!(hasBoughtProduct$ | async)"class="buy-button-section">
                    <button (click)="buy(product)">Kjøp nå</button>
                </section>
                <section *ngIf="(hasBoughtProduct$ | async)" class="has-bought-section">
                    <section class="has-bought-header">Du har kjøpt {{product.label}}</section>
                    <section *ngIf="!(canActivate$ | async)" class="checkmark_thingy">
                        Abonnert <i class="material-icons">check circle</i>
                    </section>
                    <section *ngIf="(canActivate$ | async)" class="checkmark_thingy" (click)="activate(product)">
                        Aktiver <i class="material-icons">circle</i>
                    </section>
                    <section class="number_of_users"><a href="#/settings/users">
                        {{numberOfUsersForProduct$ | async}} brukere</a>
                    </section>
                </section>
            </section>
        </section>
    </section>

    <h1 *ngIf="product.subProducts" class="sub-apps-heading">
        Utvidelser
    </h1>
    <section class="app-containers sub-app-containers">
        <section *ngFor="let subProduct of product.subProducts"
                 class="app-container"
                 (click)="navigateTo('/marketplace/add-ons/' + subProduct.id)">
            <section class="app-header">
                <img *ngIf="!!subProduct.imageReference" src="{{subProduct.imageReference}}" />
                <img *ngIf="!subProduct.imageReference" src="//public-files.unieconomy.no/files/marketplace/sale.png" />
            </section>
            <section class="app-body">
                <h3>{{subProduct.label}}</h3>
                <p>{{subProduct.description}}</p>
            </section>
            <section class="app-footer">
                <a>les mer</a>
            </section>
        </section>
    </section>

    <h1 class="suggested-products-heading">
        Forslag til andre moduler
    </h1>
    <section class="app-containers other-modules">
        <section *ngFor="let product of suggestedProducts$ | async"
                 class="app-container"
                 (click)="navigateTo('/marketplace/add-ons/' + product.id)">
            <section class="app-header">
                <img *ngIf="!!product.imageReference" src="{{product.imageReference}}" />
                <img *ngIf="!product.imageReference" src="//public-files.unieconomy.no/files/marketplace/sale.png" />
            </section>
            <section class="app-body">
                <h3>{{product.label}}</h3>
            </section>
        </section>
    </section>
</section>
