<section class="marketplace-add-ons" [attr.aria-busy]="false" *ngIf="products$ | async as products">
    <section class="header">
        <section class="background add-on-background-image">
            <h1>Uni Economy</h1>
            <h2>Fremtidens økonomisytem i dag</h2>
        </section>
        <section class="inner-container">
            <img src="../../../../assets/marketplace/addOns/laptop.png" />
            <section>
                <p>
                    Uni Economy er bygget på nyeste tilgjengelig teknologi. Med et tilpasningsdyktig og fleksibelt
                    rammeverk kan du være sikker på at denne 100% skybaserte løsningen takler utfordringer som
                    kommer. Med Uni Economy er du rustet for fremtiden.
                </p>
            </section>
        </section>
    </section>

    <section *ngFor="let product of products | onlyBundles"
             (click)="navigateTo('/marketplace/add-ons/' + product.id)"
             class="package-deal-container">
        <h1>Kjøp vårt nye skybaserte økonomisystem!</h1>
        <img src="../../../../assets/marketplace/modules/komplet_pakka_moduler_text.png" />
        <button>Prøv gratis</button>
    </section>

    <h1 class="app-containers-heading">Velg en eller flere pakker</h1>
    <section class="app-containers">
        <section *ngFor="let product of products | filterOutBundles"
                 (click)="navigateTo('/marketplace/add-ons/' + product.id)"
                 class="app-container">
            <section class="app-header">
                <img *ngIf="!!product.imageReference" src="{{product.imageReference}}" />
                <img *ngIf="!product.imageReference" src="//public-files.unieconomy.no/files/marketplace/sale.png" />
            </section>
            <section class="app-body">
                <h3>{{product.label}}</h3>
                <p>{{product.description}}</p>
            </section>
            <section class="app-footer">
                <a>les mer</a>
            </section>
        </section>
    </section>
</section>
