uni-feedback
    @include unigrid-flush(5, 2, 2, 1)
    z-index: map-get($zindex, hamburger)
    width: auto

    .uniFeedback_toggle
        width: 2.5rem
        padding: 0
        border-radius: 99rem
        overflow: hidden
        color: transparent
        box-shadow: 0 0 1rem transparentize($uni-color-positive, .8)
        transition: all 300ms ease
        background: $uni-color-c2a unicon-bug() left .5rem center no-repeat
        background-size: 1.5rem
        white-space: nowrap
        margin-top: pxToRem(5)
        margin-bottom: pxToRem(5)

    .uniFeedback_dropdown
        position: fixed
        width: 45rem
        right: calc(5.2vw)
        margin-top: 2.4rem
        background: #fff
        box-shadow: 0 0 1rem rgba(161,170,188,.4)
        padding: 2rem
        border-radius: pxToRem(3)

        h1
            margin: 0

        display: none
        &[aria-expanded]:not([aria-expanded=false])
            display: block

        // arrow
        &:before
            border: solid transparent
            content: ''
            height: 0
            width: 0
            position: absolute
            pointer-events: none
            display: block
            border-color: rgba(255, 255, 255, 0)
            border-bottom-color: #fff
            border-width: .5rem
            margin-left: -.5rem
            top: -1rem
            right: 2.75rem

        form
            width: 100%
            transition: opacity 300ms ease

            input
                margin-bottom: 1rem

            textarea
                 box-sizing: border-box

            button
                margin-left: 0
