uni-feedback
    @include unigrid-flush(5, 2, 2, 1)
    position: fixed
    bottom: 1.5rem
    left: 0
    z-index: 999
    width: auto

    .uniFeedback_toggle
        width: 2.5rem
        height: 2.5rem
        padding: 0
        border-radius: 99rem
        overflow: hidden
        text-indent: 3rem
        color: transparent
        box-shadow: 0 0 1rem transparentize($uni-color-positive, .8)
        transition: all 300ms ease
        background: $uni-color-C2A unicon-bug() left .5rem center no-repeat
        background-size: 1.5rem
        white-space: nowrap

        &:hover
            color: $uni-color-negative
            width: auto
            padding-right: 2rem
            transition: all 300ms ease-out

    .uniFeedback_dropdown
        background: #fff
        box-shadow: 0 0 1rem rgba(161,170,188,.4)
        display: none
        padding: 1rem
        margin-left: 1rem
        border-radius: pxToRem(3)

        &[aria-expanded]:not([aria-expanded=false])
            display: block

        &.-is-successful
            background: $uni-color-Good
            position: relative

            &:before
                content: 'Tusen takk for tilbakemeldingen!'
                display: block
                position: absolute
                color: $uni-color-negative
                font-size: 1.7rem
                top: 50%
                left: 0
                right: 0
                text-align: center
                transform: translateY(-50%)

            form
                opacity: 0

        form
            width: 100%
            transition: opacity 300ms ease

            input
                margin-bottom: 1rem

            textarea
                 box-sizing: border-box

            button
                margin-left: 0