$uni-color-positive: #343f51
$uni-color-negative: #f3f4f9

$uni-color-C2A: #396BB2
$uni-color-Good: #62973a
$uni-color-Bad: #ce4731
$uni-color-Warn: #e1974c
$uni-color-action: #9067a7

$uni-color-scale1: #222e37
$uni-color-scale2: #32414d
$uni-color-scale3: #455463
$uni-color-scale4: #596879
$uni-color-scale5: #707d90
$uni-color-scale6: #8893a6
$uni-color-scale7: #a1aabc
$uni-color-scale8: #bdc3d2
$uni-color-scale9: #dadee8

html, body
    background-color: $uni-color-negative