$uni-color-positive: #343f51
$uni-color-negative: #f3f4f9

$uni-color-c2a: #0f4880
$uni-color-good: #008000
$uni-color-bad: #d24d57
$uni-color-warn: #d47500
$uni-color-action: #d47500

$uni-color-toolbar: #638bb3

$uni-color-scale1: #222e37
$uni-color-scale2: #32414d
$uni-color-scale3: #455463
$uni-color-scale4: #596879
$uni-color-scale5: #707d90
$uni-color-scale6: #8893a6
$uni-color-scale7: #a1aabc
$uni-color-scale8: #bdc3d2
$uni-color-scale9: #dadee8

html, body
    background-color: $uni-color-negative