.add-changeincome-link
    font-size: 14px
    display: block
    margin-top: .5rem
    text-decoration: none

.calculate-income-button
    margin-left: auto
    order: 2

.alert.info
    align-items: center
