<section class="uni-container">
    <section class="minimized-sidebar-icons" [hidden]="!minimized">
        <i class="material-icons" (click)="toggleSidemenu()">date_range</i>
        <p class="sidemenu_minified_to_from" (click)="toggleSidemenu()">Kalender</p>
        <section *ngFor="let template of timeTrackingTemplates; let i = index;" (click)="onTemplateSelected(template)">
            <i class="material-icons">access_time</i>
            <p class="sidemenu_minified_to_from" style="margin: 0;">{{ template.Name }}</p>
            <p class="sidemenu_minified_to_from" style="margin-top: 0;">{{ template.StartTime }} - {{ template.EndTime }}</p>
        </section>
    </section>

    <section class="sidemenu_calender_container"  [hidden]="minimized">
        <unitable-calendar
            class="sidemenu_calender"
            (dateChange)="onCalendarDateChange($event)"
            (monthChange)="onCalendarMonthChange($event)"
            [date]="initDate"
            [config]="calendarConfig">
        </unitable-calendar>
        <button (click)="setTodayAsCurrentDay()">Gå til idag</button>
    </section>

    <section class="sidemenu_template_container"  [hidden]="minimized">
        <section class="template-header">
            <span> Maler </span>
            <i class="material-icons" role="button" (click)="createNewTemplate()" title="Opprett ny mal"> add_circle_outline </i>
        </section>

        <section class="template_info_section" *ngFor="let template of timeTrackingTemplates; let i = index;" title="{{ template.Description }}" (click)="onTemplateSelected(template)">
            <section class="info">
                <span> {{ template.Name }} </span>
                <span> {{ template.StartTime }} - {{ template.EndTime }} </span>
            </section>
            <section class="edit">
                <i class="material-icons" title="Rediger" (click)="$event.stopPropagation(); onTemplateEdit(template, i)">edit</i>
                <i class="material-icons" title="Slett" (click)="$event.stopPropagation(); onTemplateDelete(i);">delete_outline</i>
            </section>
        </section>
</section>

    <div class="sidemenu_hide_button_container" [ngClass]="{'minimized': minimized}">
        <i class="material-icons sidemenu-toggle" role="button" (click)="toggleSidemenu()">
            {{minimized ? 'keyboard_arrow_right' : 'keyboard_arrow_left'}}
        </i>
    </div>

</section>