.uni-split-view-container
    padding: 1rem
    box-sizing: border-box
    display: flex
    flex-direction: row

    .left-side
        flex: 1 0 55%

    .right-side
        flex: 1 0 44%
        margin-left: 1%
