<article class="authentication-component">
    <img src="../../../assets/uni-logo.png" alt="Uni Micro logo">
    
    <section *ngIf="!code || !userid">        
        <form [ngFormModel]="emailForm" (ngSubmit)="sendResetEmail()" #f="ngForm">
            <input type="email" ngControl="email" placeholder="Email">
            <button type="submit" [disabled]="!f.form.valid" class="c2a" >Send reset email</button>
        </form>
        <p *ngIf="emailFormMessage.length">{{emailFormMessage}}</p>
    </section>
    
    <section *ngIf="code && userid">        
        <form [hidden]="!code || !userid" [ngFormModel]="passwordForm" (ngSubmit)="resetPassword()" #f="ngForm">
            <input type="password" ngControl="password" placeholder="Password">
            <input type="password" ngControl="confirmPassword" placeholder="Confirm password">
            <button type="submit" [disabled]="!f.form.valid || !passwordsMatch" class="c2a">Change password</button>
        </form>
        
        <p *ngIf="passwordChanged">Password changed successfully. <a [routerLink]="['Login']">Go to login</a>.</p>
    </section>
    
</article>