<section class="authentication-component">
    <img src="../../../assets/uni-logo.png" alt="Uni Economy logo">
    
    <form *ngIf="emailForm" [ngFormModel]="emailForm" (ngSubmit)="checkEmail()" #f="ngForm">
        <input type="email" ngControl="Email" placeholder="Email" [disabled]="detailsForm || working">
        <button type="submit" class="c2a" *ngIf="!detailsForm" [attr.aria-busy]="working" [disabled]="!f.form.valid">Check email</button>
    </form>
    
    <section *ngIf="detailsForm">
        <form *ngIf="!existingUser" [ngFormModel]="detailsForm" (ngSubmit)="submitDetails()" #f="ngForm">
            <input type="text" ngControl="CompanyName" placeholder="Company name">
            <input type="text" ngControl="Name" placeholder="Full name" [disabled]="existingUser">
            <input type="text" ngControl="UserName" placeholder="Username" [disabled]="existingUser">
            <input type="password" ngControl="Password" placeholder="Password" [disabled]="existingUser">
            <input type="password" ngControl="ConfirmPassword" placeholder="Confirm password" [disabled]="existingUser">
            <button type="submit" class="c2a" [attr.aria-busy]="working" [disabled]="!f.form.valid || !passwordsMatching">Sign up</button>
        </form>
        
        <form *ngIf="existingUser" [ngFormModel]="detailsForm" (ngSubmit)="submitDetails()" #f="ngForm">
            <input type="text" ngControl="CompanyName" placeholder="Company name">
            <button type="submit" class="c2a" [attr.aria-busy]="working" [disabled]="!f.form.valid">Add company</button>
        </form>
    </section>   
    
    <p style="color: red">{{errorMessage}}</p>
    <p *ngIf="!success">Already have an account? <a [routerLink]="['Login']">Log in</a></p>
    <p *ngIf="success">Success. <a [routerLink]="['Login']">Go to login</a></p>
</section>