<div class="authentication-component">
    <section *ngIf="busy" class="spinner">
        <mat-spinner class="c2a"></mat-spinner>
    </section>

    <h1>
        <i (click)="goBack()" class="material-icons">
            arrow_back_ios
        </i>
        Registrer bedriften din
    </h1>

    <ng-container *ngIf="step === 1">

        <section class="alert info" *ngIf="!company">
            Søk på selskapsnavn eller organisasjonsnummer for å komme i gang
        </section>

        <autocomplete
            [options]="autocompleteOptions"
            (valueChanges)="onCompanySelected($event)">
        </autocomplete>

        <section *ngIf="company">
            <label #companyNameInput class="uni-label">
                <span>Firmanavn</span>
                <input type="text" [(ngModel)]="company.CompanyName">
            </label>

            <label class="uni-label">
                <span>Organisasjonsnummer</span>
                <input type="text" readonly [value]="company.OrganizationNumber">
            </label>

            <label class="uni-label">
                <span>Adresse</span>
                <input type="text" [(ngModel)]="company.Address">
            </label>

            <section class="input-row">
                <label class="uni-label postal-code">
                    <span>Postnummer</span>
                    <input type="text" [(ngModel)]="company.PostalCode">
                </label>

                <label class="uni-label">
                    <span>Poststed</span>
                    <input type="text" [(ngModel)]="company.City">
                </label>
            </section>
        </section>
    </ng-container>

    <ng-container *ngIf="step === 2">
        <section class="alert warn">
            Vennligst svar på et par spørsmål for å hjelpe oss med oppsett av bedriften
        </section>

        <label class="uni-label">
            <span>Skal du betale moms?</span>
            <mat-radio-group class="horizontal" [(ngModel)]="includeVat">
                <mat-radio-button [value]="true">Ja</mat-radio-button>
                <mat-radio-button [value]="false">Nei</mat-radio-button>
            </mat-radio-group>
        </label>

        <label class="uni-label">
            <span>Skal du ha lønnsmodulen?</span>
            <mat-radio-group class="horizontal" [(ngModel)]="includeSalary">
                <mat-radio-button [value]="true">Ja</mat-radio-button>
                <mat-radio-button [value]="false">Nei</mat-radio-button>
            </mat-radio-group>
        </label>

    </ng-container>

    <section class="footer">
        <button *ngIf="company && step === 1" class="c2a" (click)="step = 2">
            Videre
        </button>

        <button *ngIf="step === 2"
            class="c2a"
            [disabled]="includeVat === undefined || includeSalary === undefined"
            (click)="createCompany()">
            Opprett selskap
        </button>

        <!-- <a routerLink="/init/register-company">Tilbake</a> -->
    </section>
</div>