@import 'textWidget'
@import 'contactWidget'
@import 'tableWidget'
@import 'alertsWidget'
@import 'imageWidget'

uni-poster
    display: block
    width: 100%
    background: lighten($uni-color-scale9, 5%)
    padding: .5rem 6.5%
    display: flex
    flex-wrap: wrap
    align-items: stretch
    align-content: stretch
    box-sizing: border-box

    .widget
        @include unigrid(4, 2, 2, 1)
        flex-grow: 1

        &.large
            @include unigrid(8, 4, 4)

        & > *
            display: block
            width: 100%


    // Generic styling for text in widgets
    &
        color: $uni-color-scale2
        font-size: 1.1rem
        line-height: 150%

    h1
        color: $uni-color-decorative
        font-weight: normal
        line-height: 100%

        &.large
            font-size: 3rem

    .large
        font-size: 1.5rem

    .small
        font-size: 1rem

    .good
        color: $uni-color-good
    
    .bad
        color: $uni-color-bad

    .c2a
        color: $uni-color-c2a

    .highlighted
        color: $uni-color-decorative