uni-widget-contact
    text-align: center

    img, .withoutAvatar
        height: 4.5rem
        width: 4.5rem
        object-fit: cover
        border-radius: 2.5rem
        background-color: $uni-color-action
        background-image: unicon-user($uni-color-negative)
        background-size: 2.5rem auto
        background-position: center center
        background-repeat: no-repeat
        display: inline-block

    h1, ul
        margin: 0

    li
        list-style: none
