uni-widget-table
    table
        width: 100%
        padding: 1rem
        border: pxToRem(1) $uni-color-scale9 solid
        box-sizing: border-box

        tr
            height: 2rem

            &:first-of-type th
                text-align: right

        th
            font-weight: normal
            text-align: left
            font-size: 1.1rem
            white-space: nowrap

        td
            text-align: right
            font-size: 1.5rem
            color: $uni-color-good
            white-space: nowrap