\:host
    width: 100%
    height: 100%

.attachment-toggle
    display: flex
    justify-content: space-between
    align-items: center
    height: 100%
    padding: 0 10px
    i.material-icons
        color: var(--link-color)

input[type=file]
    position: absolute
    width: 0
    height: 0
    opacity: 0

.file-name
    margin-right: 1rem

.delete-icon
    margin-left: auto !important

.upload-icon, .from-inbox-icon
    color: var(--color-c2a)
    margin-right: 5px
    margin-left: -2px !important

.dropdown-menu-item
    border-bottom: 1px solid var(--border-color)
