\:host
    display: inline-block
    width: 100%
    margin: 0 .75rem

    .status
        display: inline-block
        width: 100%
        padding: 0 10px
        border-radius: 50px
        font-size: 13px
        text-align: center
        &.info
            background: #fff
            border: 1px solid var(--border-color)
        &.c2a
            background: var(--color-c2a)
            color: #fff
        &.good
            background: var(--color-good)
            color: #fff
        &.warn
            background: var(--color-warn)
            color: #fff
        &.bad
            background: var(--color-bad)
            color: #fff