\:host
    display: inline-block
    width: 100%
    margin: 0 .75rem

    .status
        display: inline-block
        width: 100%
        padding: 0 10px
        border-radius: var(--alert-border-radius)
        font-size: 13px
        text-align: center
        &.info
            background: #fff
            border: 1px solid var(--border-color)
        &.c2a
            background: var(--color-c2a)
            color: #fff
        &.good
            background: var(--alert-good)
            color: var(--alert-good-text-color)
        &.warn
            background: var(--alert-warn)
            color: var(--alert-warn-text-color)
        &.bad
            background: var(--alert-bad)
            color: var(--alert-bad-text-color)