uni-search
    td, th
        padding: 0 6px !important

    input, button.searchBtn
        height: 2rem !important

    input[disabled]
        background-color: #edf0f7 !important
        color: initial !important
