<h2 style="margin-bottom: 1rem">SAF-T (auditfile)
    <i class="material-icons" style="cursor: pointer; color: var(--color-c2a);" (click)="refresh()" title="Oppdater visning"> refresh </i>
</h2>

<section class="saft-buttons-section">
    <label>
        <i class="material-icons">cloud_upload</i>
        <span>Last opp fil</span>

        <input type="file" accept=".xml"
            (change)="uploadFile($event)"
            [attr.aria-disabled]="busy"
            [disabled]="busy"
        />
    </label>

    <label (click)="exportSaft($event)">
        <i class="material-icons">cloud_download</i>
        <span>Start SAFT eksport</span>
    </label>
</section>

<table [attr.aria-busy]="busyFetch" class="uni-table jobs-table">
    <thead>
        <tr>
            <th>Job</th>
            <th class="size-1">ID</th>
            <th class="size-filename">Filnavn</th>
            <th>Størrelse</th>
            <th>Type</th>
            <th>Jobstatus</th>
            <th class="size-buttons"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let file of files" class="saftTableLine" >
            <td>{{file.JobName}}</td>
            <td>{{file.FileID}}</td>
            <td>{{file.FileName}}</td>
            <td>{{file.FileSize}}</td>
            <td>{{file.FileContentType}}</td>
            <td class="ellipsis">
                <span [hidden]="!file.busyFetch">Henter status..</span>
                <a href="/#/admin/job-logs?jobName={{jobName}}&jobID={{file.jobid || 0}}" class="bad" [hidden]="!file.hasError">
                    &nbsp;En feil har oppstått
                </a>
                <a href="/#/admin/job-logs?jobName={{jobName}}&jobID={{file.jobid || 0}}">{{file.jobStatus}}</a>
            </td>
            <td *ngIf="file.JobName !== 'ExportSaft'">
                <button  [disabled]="file.disabled" [attr.aria-busy]="file.busy" (click)="onJobStart(file)" class="secondary">Start import</button>
                <i class="material-icons bad" *ngIf="!file.disabled" (click)="onFileDeleteClick(file)" title="Slett fil"> delete_outline </i>
            </td>
            <td *ngIf="file.JobName === 'ExportSaft'">
                <button *ngIf="file.FileID>=0" (click)="onDownloadExport(file)" class="secondary" style="margin: 0 !important">Last ned</button>
            </td>
        </tr>
    </tbody>
</table>