.uni-modal
    width: 45rem

    > article
        max-height: calc(100vh - 12rem)

.summary
    display: flex
    section
        span + span
            font-weight: 500
            padding-left: .5rem
            color: var(--color-c2a)

        & + section
            margin-left: 2rem

.alert, .alert a
    font-size: 15px
    font-weight: 400

.alert
    display: flex
    flex-direction: column
    padding: .75rem 1rem

    &:last-of-type
        margin-bottom: 2rem

    // span
    //     margin: .75rem 0

    // &.warn span
    //     margin: 0

    strong
        margin-bottom: .75rem
    mat-checkbox
        margin-top: .75rem

    ::ng-deep .mat-checkbox-label
        font-size: 15px

