<header class="supplier_poster" *ngIf="Supplier">
    
    <article class="poster_toolbar">
        <section>
            <h1 *ngIf="SupplierID > 0">{{Supplier.Info.Name}}</h1>
            <p *ngIf="SupplierID > 0">Leverandørnr. {{Supplier.SupplierNumber}}</p>
            <h1 *ngIf="SupplierID == 0">Ny leverandør</h1>
            <p *ngIf="SupplierID == 0">&nbsp;</p>
        </section>
            
        <nav class="poster_toolbar_tools">
            <a (click)="previousSupplier()" class="previous">Forrige</a>
            <a (click)="nextSupplier()" class="next">Neste</a>
            <a (click)="addSupplier()" class="new">Ny leverandør</a>
        </nav>         
    </article>
    
    <!-- Widget poster -->
    <section class="poster_overview">        
        <uni-widget-poster [model]="Supplier" *ngIf="SupplierID > 0">
            ..future widgets..
        </uni-widget-poster>
        <external-search [searchText]="searchText" (onSelect)="addSearchInfo($event)" *ngIf="SupplierID == 0"></external-search>
    </section>
    
</header>

<section class="supplier-details application">
    <uni-component-loader></uni-component-loader>
    
    <uni-multival [label]="'E-post'" [values]="email"></uni-multival>
</section>

<footer class="full-footer">
    <section class="application">
        <button class="good" (click)="saveSupplierManual($event)">Lagre leverandør</button>
        <section class="auto_save_info">
            {{ LastSavedInfo }}    
        </section>
    </section>
</footer>