<header class="supplier_poster" *ngIf="supplier">
    
    <article class="poster_toolbar">
        <section>
            <h1 *ngIf="supplier && supplier.ID > 0">{{supplier.Info.Name}}</h1>
            <p *ngIf="supplier && supplier.ID > 0">Leverandørnr. {{supplier.SupplierNumber}}</p>
            <h1 *ngIf="supplierID == 0">Ny leverandør</h1>
            <p *ngIf="supplierID == 0">&nbsp;</p>
        </section>
            
        <nav class="poster_toolbar_tools" *ngIf="!modalMode">
            <a (click)="previousSupplier()" class="previous">Forrige</a>
            <a (click)="nextSupplier()" class="next">Neste</a>
            <a (click)="addSupplier()" class="new">Ny leverandør</a>
        </nav>         
    </article>
    
    <!-- Widget poster -->
    <section class="poster_overview">    
        <section class="application">     
            <uni-widget-poster [model]="supplier" *ngIf="supplier && supplier.ID > 0">
            </uni-widget-poster>
        </section>
        <external-search [searchText]="searchText" (onSelect)="addSearchInfo($event)" *ngIf="supplier && supplier.ID == 0"></external-search>
    </section>
</header>

<section class="supplier-details application">
    <uni-form *ngIf='supplier'            
        [config]="config" 
        [fields]="fields" 
        [model]="supplier"                
        (onChange)="change($event)">
    </uni-form>
    
    <email-modal></email-modal>
    <phone-modal></phone-modal>
    <address-modal></address-modal>
</section>

<uni-save [actions]="saveactions" [class.uni_save_modal_mode]="modalMode"></uni-save>
