@import '~src/styles/uni-redesign/_color.sass'

$xs-and-less: "only screen and (max-width: 767px)"
    
.under-line
    margin: 0 2.5rem 0 3rem
    border-top: 1px solid #d6d6d6

.title
    margin-top: 20px
    font-weight: bold

    .value
        font-weight: normal
        margin-left: 15px