<section role="dialog" class="uni-modal">
    <header>Betingelser for Import</header>
    <article>
        <section *ngIf="loading$ | async" class="modal-spinner">
            <mat-spinner></mat-spinner>
        </section>

        <p>
            Ved benyttelse av verktøyet for import av data aksepterer brukeren på vegne av
            lisenseier at dette er på eget ansvar.
        </p>

        <p>
            Feil og mangler i verktøyet samt eventuelle feil som oppstår i
            etterkant av bruk av programmet er ikke omfattet av supportavtalen.
        </p>

        <p>
            Systemleverandør er ikke ansvarlig for eventuelle økonomiske tap, direkte eller indirekte, som følge av
            feil, tap av data eller mangler i programmet.
        </p>

        <p>Systemleverandørens kundekonsulenter kan bistå ved import av data.</p>

        <p>
            Hvis du som kunde trenger hjelp til rydde opp etter en import er dette en tjeneste som vil bli belastet
            per time etter medgått tid fra systemleverandør sin side.
        </p>

        <div [attr.aria-busy]="busy">
            <mat-checkbox class="check-box" [(ngModel)]="isSelected">
                Jeg godtar vilkår og betingelser
            </mat-checkbox>

            <div class="alert good" style="margin-top: 1rem;" *ngIf='hasAgreed'>
                Disse vilkårene og betingelsene ble godtatt av deg den <b>{{approvedDate}}</b>
            </div>
        </div>
    </article>

    <footer>
        <button class="secondary" (click)="close()" *ngIf='hasAgreed'>Lukk</button>
        <button class="c2a" *ngIf='!hasAgreed' (click)="proceed()" [disabled]="!isSelected">Fortsett</button>
    </footer>
</section>