@import '../../../../../styles/unibase/colors/__colors.sass'
uni-select
    display: block
    margin-bottom: 0.5rem
ul
    list-style-type: none
    display: flex
    justify-content: flex-start
    margin-top: 0
    li
        color: var(--scale1)
        cursor: pointer
        margin-right: 1.25rem

        &[aria-selected]:not([aria-selected=false])
            border-bottom: 0.1rem solid var(--color-c2a)
