// THEME FILE FOR EXT01 ENVIRONMENT
@font-face
    font-family: MuseoSans
    src: url(/assets/fonts/MuseoSans-500.woff2) format("woff2")
@font-face
    font-family: MuseoSans
    src: url(/assets/fonts/MuseoSans-300.woff2) format("woff2")
    font-weight: 300
@font-face
    font-family: MuseoSans
    src: url(/assets/fonts/MuseoSansRounded-700.woff2) format("woff2")
    font-weight: 500
@font-face
    font-family: MuseoSans
    src: url(/assets/fonts/MuseoSansRounded-700.woff2) format("woff2")
    font-weight: 700
@font-face
    font-family: MuseoSans
    src: url(/assets/fonts/MuseoSansRounded-700.woff2) format("woff2")
    font-weight: bold

$theme-has-good-btn: true
$btn-inversed-hover-state: false
$secondary-btn-grey-border: true
$hide-input-outline: false

body
    --font-family: MuseoSans, arial, sans-serif
    --body-background: #f4f4f4
    --core-border-color: #ccc
    --border-color: #ccc
    --section-radius: 4px
    --logo-width: 11.25rem

    --color-c2a: #0071cd
    --color-c2a-dark: #002776
    --color-good: #008A00
    --color-bad: #E60000
    --color-bad-light: #E60000
    --color-warn: #FF9100
    --color-warn-light: #FF9100


    // Text
    --link-color: #0071CD
    --text-color: #262626
    --scale1: #808080
    --scale2: #c4c4c4
    --scale3: #e3e3e3
    --scale4: #f4f4f4


    // Navbar
    --navbar-height: 82px
    --navbar-background: #fff
    --navbar-icon-color: #002776

    --company-dropdown-border: 1px solid #ccc
    --company-dropdown-background: #fff
    --company-dropdown-color: #4a5155

    --tabstrip-background: #fff
    --tabstrip-header-color: #262626
    --tabstrip-header-weight: 400
    --tabstrip-link-color: #676767
    --tabstrip-active-link-color: #0071CD


    // Sidebar
    --sidebar-background: #fff
    --sidebar-color: #676767
    --sidebar-header-color: var(--sidebar-color)
    --sidebar-icon-color: #002776
    --sidebar-hover-color: #002776
    --sidebar-active-section-background: #fff
    --sidebar-active-section-header-background: #DFF1F9


    // Toolbar
    --toolbar-background: #fff
    --toolbar-header-color: var(--color-c2a-dark)
    --toolbar-breadcrumb-color: var(--scale1)
    --toolbar-button-border: inset 0 0 0 2px var(--border-color)
    --toolbar-button-border-focus: inset 0 0 0 2px var(--color-c2a)


    // Tabs
    --tab-color: #676767
    --active-tab-color: #002776
    --scoped-tab-background: #f9f9f9


    // Inputs
    --input-border-width: 1px
    --input-border-width-focus: 1px
    --input-border-color: var(--border-color)
    --input-border-color-focus: var(--border-color)
    --input-icon-color: var(--text-color)
    --input-color: var(--text-color)
    --input-radius: 4px

    --checkbox-size: 20px
    --checkbox-checked-color: #005AA4
    --checkbox-checked-background: #fff
    --checkbox-checked-border: 2px solid #005AA4


    // Buttons
    --button-radius: 4px
    --button-font-size: 15px

    --button-primary-font-weight: 400
    --button-secondary-font-weight: 500
    --button-tertiary-font-weight: 500

    --secondary-btn-border-width: 2px
    --secondary-btn-focus-border-width: 2px

    --button-c2a: #0071cd
    --button-c2a-hover: #0063b4

    --button-good: #008A00
    --button-good-hover: #007100

    --button-bad: #E60000
    --button-bad-hover: #D90000

    --button-warn: #FF9100
    --button-warn-hover: #F28400


    // Dropdown menus
    --dropdown-shadow: 0 5px 4px 2px rgba(140, 150, 169, 0.1)
    --dropdown-select-background: #DFF1F9
    --dropdown-select-color: #0071cd


    // Tables
    --table-header-background: #fff
    --table-header-color: #002776
    --table-row-even-background: #fff
    --table-row-odd-background: #fff
    --table-row-select-background: #DFF1F9
    --table-icon-color: var(--scale1)
    --table-border: 1px solid var(--border-color)
    --row-border: 1px solid var(--border-color)
    --cell-border: 1px solid var(--border-color)

    --alt-table-header-background: var(--table-header-background)
    --alt-table-header-color: var(--table-header-color)
    --alt-table-header-border: 1px solid var(--border-color)
    --alt-table-body-border: 1px solid var(--border-color)


    // Alerts
    --alert-border: 1px solid rgba(0, 0, 0, .15)

    --alert-info: #DFF1F9
    --alert-info-text-color: var(--text-color)
    --alert-info-icon-color: var(--text-color)
    --alert-info-link-color: var(--text-color)

    --alert-good: #E1F4E3
    --alert-good-text-color: var(--text-color)
    --alert-good-icon-color: var(--text-color)
    --alert-good-link-color: var(--text-color)

    --alert-warn: #F8F5EB
    --alert-warn-text-color: var(--text-color)
    --alert-warn-icon-color: var(--text-color)
    --alert-warn-link-color: var(--text-color)

    --alert-bad: #F3BBAA
    --alert-bad-text-color: var(--text-color)
    --alert-bad-icon-color: var(--text-color)
    --alert-bad-link-color: var(--text-color)


    // Toasts
    --toast-info: #DFF1F9
    --toast-info-text: var(--text-color)

    --toast-good: #E1F4E3
    --toast-good-text: var(--text-color)

    --toast-warn: #F3BBAA
    --toast-warn-text: var(--text-color)

    --toast-bad: #F3BBAA
    --toast-bad-text: var(--text-color)


    // Cards
    --card-header-height: 2.5rem
    --card-header-border: none
    --card-header-color: unset
    --card-header-font-size: 16px
    --card-header-weight: 400
    --card-footer-background: #DFF1F9

    --init-header: var(--color-c2a-dark)
    --init-subtitle: var(--color-c2a-dark)
    --init-label: var(--color-c2a-dark)
    --init-text: var(--text-color)

    --contract-type-card-header: var(--color-c2a-dark)
    --contract-type-card-text: var(--text-color)

    --widget-header-size: 18px
    --widget-header-color: #002776
    --widget-c2a: #002776

    --chat-header-background: #005AA4
    --panel-header-background: rgb(240, 240, 240)
