\:host
    @media (max-width: 1300px)
        display: none

a
    display: inline-flex
    align-items: center
    height: 32px
    border-radius: 4px
    padding: 0 .5rem 0 .75rem
    background: var(--company-dropdown-background, rgba(0, 0, 0, 0.2))
    color: var(--company-dropdown-color, #fff)
    border: var(--company-dropdown-border, none)
    text-decoration: none

    i
        margin-left: .5rem