$toolbar-grey: $uni-color-scale6

@import 'breadcrumbs'
@import 'statustrack'
@import 'toolbarTools'
@import 'toolbarSearch'
@import 'tags'

.sidebar-hidden uni-toolbar
    padding-left: 1.75rem

uni-toolbar
    position: fixed
    top: $reserved-height-for-navbar
    width: 100%
    height: 5.5rem
    box-sizing: border-box
    padding: .25rem 1.5rem //.25rem 2rem
    display: flex
    flex-direction: row

    &.static
        position: static
        margin-bottom: 2rem

    background: #fff
    color: $toolbar-grey
    // border-bottom: 1px solid $uni-color-scale9
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14)
    z-index: map-get($zindex, toolbar)

    .toolbar-title
        color: #1d2b33 // $uni-color-c2a
        font-size: 1.45rem
        font-weight: 600
        .material-icons
            font-size: 22px
            margin-top: 3px


.toolbar-dropdown-list
    @extend %contextMenu
    position: absolute
    top: 1.1rem
    right: 0
    text-align: left
    font-size: 14px
    z-index: #{map-get($zindex, toolbar) + 1}

    li
        width: 14rem
        padding: .35rem .5rem

.toolbar-left,
.toolbar-center,
.toolbar-right
    background: #fff
    height: 100%

.toolbar-left
    flex: 0 0 auto
    margin-right: 3rem
    display: flex
    flex-direction: column
    justify-content: center

    uni-breadcrumbs
        flex: 0 0 auto
        font-size: 14px
        line-height: 14px
        margin-bottom: .25rem

    .toolbar-header
        flex: 0 0 auto
        max-width: 25rem

        h1, uni-toolbar-search
            line-height: inherit
            margin: 0
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap
            padding: 0 0 .15rem 0 // padding bottom to avoid letter clipping

        i.material-icons
            vertical-align: middle
            margin-top: -2px
            margin-left: .25rem
            color: $uni-color-scale7
            cursor: pointer


.toolbar-center
    flex: 2
    display: flex
    flex-flow: row wrap
    margin-right: .5rem

    @include media(860px)
        uni-tags,
        uni-statustrack .completed,
        uni-statustrack .future
            display: none

    @include media(650px)
        display: none

    uni-statustrack
        flex: 0 0 auto
        margin: auto 0
        margin-right: 1rem

    .toolbar-extras
        flex: 0 0 auto
        margin: auto 0
        display: flex

        > *
            margin-right: 1rem

        .toolbar-subhead
            color: $uni-color-scale3
            font-size: 16px
            @include media(1300px)
                font-size: 15px

            .subhead-label
                color: $toolbar-grey
                font-size: inherit

            &.bad
                color: $uni-color-bad

        .toolbar_uniselect
            margin-left: 1.5rem
            font-size: 1rem

            uni-select
                display: inline-block
                width: 12rem
                margin-left: .25rem

                .uniSelect_input
                    height: 1.75rem
                    color: $uni-color-scale5
                    background: #fff unicon-chevron-down($uni-color-scale8) center right .5rem no-repeat !important
                    background-size: auto .5rem !important
                    border-color: $uni-color-scale8

                .uniSelect_dropdown_list
                    color: $uni-color-positive
                    li
                        min-height: unset

.toolbar-extras, .toolbar-left
    small
        font-size: 16px
        color: $toolbar-grey
        flex-basis: fit-content
        white-space: nowrap

    a:link,
    a:visited,
        font-size: 16px
        color: $uni-color-link

.toolbar-right
    flex: 0 1 auto
    display: flex
    flex-flow: row wrap
    justify-content: flex-end
    text-align: right
    margin-left: auto

    .toolbar_tools, uni-save
        flex: 0 0 auto
        margin: auto 0 auto .5rem
        height: 2rem