@import 'breadcrumbs'
@import 'statustrack'
@import 'navigation'

uni-toolbar
    box-sizing: border-box
    margin: 0
    width: 100%
    height: 5.5rem
    padding: .5rem calc(6.25% + 2rem) .5rem 6.25%
    position: fixed
    z-index: map-get($zindex, toolbar)
    top: 2.5rem
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: baseline
    background: $uni-color-toolbar
    color: white

    uni-breadcrumbs
        flex-grow: 1
        flex-shrink: 1
        order: 1
        padding: 0
        min-height: 1.7rem
        align-self: flex-start

    uni-statustrack
        flex-basis: fit-content
        flex-grow: 0
        order: 2

    &:after
        content: ''
        display: block
        order: 3
        flex-basis: 100%

    h1
        display: flex
        align-items: baseline
        margin: 0 0 0 1rem
        flex-grow: 1
        order: 4
        line-height: 100%
        font-weight: 300

        small
            @extend p
            color: transparentize(white, .2)
            flex-basis: fit-content
            margin: 0 0 0 1rem

        a:link,
        a:visited
            @extend p
            color: transparentize(white, .2)
            border-color: transparentize(white, .2)

    nav
        flex-basis: fit-content
        flex-grow: 0
        align-self: flex-start
        order: 5

        input[type=search]
            height: 2.2rem
            width: 7rem
            position: relative
            top: .4rem