.breadcrumbs,
uni-breadcrumbs
    margin: 0 auto
    padding: .5rem 1rem 0
    list-style: none

    li
        display: inline-block
        color: rgba(255,255,255,.8)

        &:before
            display: none
            content: ''

        &:not(:last-child):after
            content: '›'
            display: inline-block
            padding: 0 .3rem
            color:  rgba(255,255,255,.5)

        a:link.home
            @extend %hideText
            display: inline-block
            height: 1rem
            width: 1rem
            background: unicon-home(rgba(255,255,255,1)) center center no-repeat
            background-size: 1rem
            position: relative
            top: .2rem
            border-bottom-color: transparent

            &:hover,
            &:focus
                background-image: unicon-home-filled(rgba(255,255,255,1))
                border-bottom-color: transparent


        a:link,
        a:visited
            text-decoration: none
            color:  rgba(255,255,255,.8)
            border-bottom: pxToRem(1) solid rgba(255,255,255,.2)

        a:hover,
        a:focus
            color:  rgba(255,255,255,1)
            border-bottom-color: white