.breadcrumbs
    margin: 0
    padding: 0
    list-style: none

    li
        display: inline-block

        i.material-icons
            color: var(--toolbar-breadcrumb-color)
            font-size: 15px
            margin-bottom: 1px

        a
            text-transform: uppercase
            text-decoration: none
            color: var(--toolbar-breadcrumb-color)
            font-size: 12px

        a:hover
            color: var(--link-color)

        @media screen and (max-width: 1300px)
            a
                font-size: 11px