%toolbarButton
    display: inline-block
    height: 1.75rem !important
    width: 2.1rem
    margin: 0 0 0 .2rem
    font-size: 0
    box-shadow: none
    background-color: transparent
    background-repeat: no-repeat
    background-position: center
    background-size: 1rem auto
    position: relative
    border-radius: 0
    padding: 0
    border: pxToRem(1) solid transparentize($uni-color-negative, .5)
    box-sizing: border-box

    &[type=button]
        top: -2px

    &:hover,
    &:focus
        border-color: $uni-color-negative

.toolbar_tools
    min-width: 14rem
    text-align: right
    color: $uni-color-positive

    a,
    button
        @extend %toolbarButton
        cursor: pointer
        background-size: auto .8rem

    .previous
        background-image: unicon-prev($uni-color-negative)
        &:hover,
        &:focus
            background-image: unicon-prev($uni-color-negative)
            background-position: center center
            background-repeat: no-repeat

    .info
        background-image: unicon-info($uni-color-negative)
        &:hover,
        &:focus
            background-image: unicon-info($uni-color-negative)
            background-position: center center
            background-repeat: no-repeat
    .next
        background-image: unicon-next($uni-color-negative)
        &:hover,
        &:focus
            background-image: unicon-next($uni-color-negative)
            background-position: center center
            background-repeat: no-repeat
    .new
        background-image: unicon-new($uni-color-negative)
        &:hover,
        &:focus
            background-image: unicon-new($uni-color-negative)
            background-position: center center
            background-repeat: no-repeat

    .contextmenu_button[type=button]
        background-image: unicon-more($uni-color-negative) !important


