$statustrack-background: #fff
$statustrack-height: 1.5rem
$statustrack-border: .0625rem

.uni-statustrack
    width: fit-content

.uni-statustrack > ol,
uni-statustrack > ol
    display: flex
    border-radius: pxToRem(3)
    background: $statustrack-background
    box-sizing: border-box
    height: $statustrack-height + $statustrack-border
    margin: 0
    border: var(--container-borders)
    font-size: 15px

    & > li
        position: relative
        padding: 0 1.5rem
        line-height: $statustrack-height
        color: $uni-color-positive
        cursor: pointer

        &:first-of-type
            border-radius: pxToRem(3) 0 0 pxToRem(3)

        &:last-of-type
            border-radius: 0 pxToRem(3) pxToRem(3) 0

        &.completed,
        &.future
            background: $statustrack-background
            color: $uni-color-scale5

        &.active,
        &.obsolete
            z-index: #{map-get($zindex, toolbar) + 2}
            color: var(--color-c2a)
            font-weight: 500

        &:not(:last-of-type)
            &:after
                border-left-color: $statustrack-background

            &:before
                border-left-color: #ccc

            &.active:before
                border-left-color: #ccc

        &:before,
        &:after
            content: ''
            position: absolute
            display: block
            height: 0
            width: 0
            top: -1px
            border-color: transparent
            border-style: solid
            border-width: (($statustrack-height/2) + ($statustrack-border/2)) 0 (($statustrack-height/2) + ($statustrack-border/2)) .5rem

        &:before
            z-index: #{map-get($zindex, toolbar) + 1}
            right: -.5625rem

        &:after
            z-index: #{map-get($zindex, toolbar) + 3}
            right: -.5rem


.statustrack_title[data-badge]:after
    content: attr(data-badge)
    display: block
    position: absolute
    top: -.5rem
    right: -.5rem
    background: lighten($uni-color-toolbar, 5%)
    color: #fff
    border-radius: 99rem
    min-width: 1.2rem
    line-height: 1.2rem
    font-size: .9rem
    text-align: center
    z-index: #{map-get($zindex, toolbar) + 4}

.statustrack_substati
    @extend %popover
    padding: 0
    top: 1.65rem
    left: 0

    max-height: calc(100vh - 10rem)
    overflow-y: auto

    li:hover &,
    li:focus &
        @extend %popover-active

    li
        font-weight: 400
        padding: .5rem 1rem
        line-height: 120%
        cursor: pointer

        &:not(:last-of-type)
            border-bottom: solid pxToRem(.5) $uni-color-scale8

        time
            display: block
            font-size: .9rem
            color: $uni-color-scale5

        &:hover
            background: var(--color-c2a)
            color: $uni-color-negative
            padding: .5rem 1rem

            time
                color: $uni-color-negative

        &:before
            display: none

        .checkmark
            vertical-align: middle
            float: right
            font-size: 21px
            color: $uni-color-scale6

.statustrack_statuslog
    @extend %popover
    padding: 0 1rem

    li:hover &,
    li:focus &
        @extend %popover-active

    li
        font-weight: 400
        font-size: 0.9rem
        padding: .5rem 0
        line-height: 120%

        &:not(:last-of-type)
            border-bottom: solid pxToRem(.5) $uni-color-scale8

        div
            margin-bottom: .4rem

        time
            display: block
            font-size: .9rem
            margin-top: .8rem
            color: $uni-color-scale5

        &:before
            display: none
