%toolbarButton
    display: inline-block
    height: 2rem !important
    width: 2.1rem
    margin: 0 0 0 .5rem
    font-size: 0
    box-shadow: none
    background-color: transparent
    background-repeat: no-repeat
    background-position: center
    background-size: 1rem auto
    position: relative
    padding: 0
    box-sizing: border-box
    border-radius: 3px
    border: 1px solid $uni-color-scale8
    &:hover
        border: 1px solid $uni-color-scale6


.toolbar_tools
    display: flex
    color: $uni-color-scale3

    > button,
    .comments_toggle,
    .toolbar-share,
    .contextmenu_button[type=button]
        @extend %toolbarButton
        cursor: pointer
        background-size: auto .8rem
        float: right

    .comments_toggle
        background-image: unicon-chat($uni-color-scale5) !important
    .previous
        background-image: unicon-prev($uni-color-scale5)
    .info
        background-image: unicon-info($uni-color-scale5)
    .next
        background-image: unicon-next($uni-color-scale5)
    .new
        font-size: 16px
        text-shadow: none
        color: $uni-color-scale3
        width: auto
        padding: 0 1rem 0 .75rem

        .material-icons
            vertical-align: middle
            font-size: 20px
            color: $uni-color-scale4

    .contextmenu_button[type=button]
        background-size: auto .25rem
        background-image: unicon-more($uni-color-scale5) !important

    uni-toolbar-share
        position: relative
        .toolbar-share
            background-image: unicon-share($uni-color-scale5)

            &[aria-busy]:not([aria-busy=false])
                background-image: none

                &:before
                    border: 1px solid $uni-color-scale5
                    border-top: 1px solid $uni-color-scale7
                    position: absolute
                    top: 25%