uni-toolbar-search
    position: relative

    ul.toolbar-dropdown-list
        position: absolute
        top: 1.35rem
        left: 0
        text-align: left
        min-width: 13.5rem
        border: none

        li
            width: 100%
            min-width: 10rem
            box-sizing: border-box
            padding: .25rem .5rem

    input[type=search]
        width: 100%
        background-color: mix($uni-color-c2a, $uni-color-toolbar, 50)
        color: $uni-color-negative
        font-size: 1.5rem
        font-weight: 300
        border: none
