<section role="dialog" class="uni-modal"
        (clickOutside)="close(false)"
        (keydown.esc)="close(false)">
	<header>
		<h1>{{options.header || 'Tilleggsopplysninger'}}</h1>
    </header>

	<article>
        <uni-form
            [config]="config$"
            [fields]="fields$"
            [model]="salaryTransaction$">
        </uni-form>
    </article>

	<footer>
		<button *ngIf="!options.readOnly" class="good" (click)="close(true)">OK</button>
		<button class="bad" (click)="close(false)">Avbryt</button>
	</footer>
</section>