uni-recurring-invoice-settings-view
    display: block
    fieldset
        width: 100%
        flex-basis: auto

        section
            section
                &:nth-of-type(2)
                    padding-right: 1rem

.subhead-link
    color: #00aeef !important
    font-size: 14px !important
    font-weight: 400
    text-decoration: underline
    cursor: pointer

.log-error-msg-text
    font-size: 14px
    margin-left: 2rem
    font-weight: 400

.next-invoice-highlighted
    input
        background-color: lighten($uni-color-warn, 50%)