<uni-toolbar *ngIf="!modalMode" [config]="toolbarconfig"
                                [saveactions]="saveactions">
</uni-toolbar>

<section [ngClass]="{'application': !modalMode}">
        <section *ngIf="remindersEmail">
                <b>{{remindersEmail.length}} purringer kan sendes på epost</b>
                <uni-table [resource]="remindersEmail"
                           [config]="reminderTable">
                </uni-table>
                <br/>
        </section>
        <section *ngIf="remindersPrint">
                <b>{{remindersPrint.length}} purringer må skrives ut på papir</b>
                <uni-table [resource]="remindersPrint"
                           [config]="reminderTable">
                </uni-table>
        </section>
</section>
<report-preview-modal></report-preview-modal>