<uni-toolbar *ngIf="!modalMode" [config]="toolbarconfig"
                                [saveactions]="saveactions">
</uni-toolbar>

<section [ngClass]="{'application': !modalMode}">
        <b *ngIf="!runNumbers || runNumbers.length === 0">Ingen kjøringer</b>
        <uni-form *ngIf="!modalMode && (runNumbers && runNumbers.length > 0)"
              [config]="config$"
              [fields]="fields$"
              [model]="searchParams$"
              (changeEvent)="onFormFilterChange($event)">
        </uni-form>
        <section *ngIf="remindersEmail">
                <b>{{remindersEmail.length}} purringer kan sendes på epost</b>
                <uni-table [resource]="remindersEmail"
                           [config]="reminderTable"
                           (rowChanged)="onRowChanged($event)">
                </uni-table>
                <br/><br/>
        </section>
        <section *ngIf="remindersPrint">
                <b>{{remindersPrint.length}} purringer må skrives ut på papir</b>
                <uni-table [resource]="remindersPrint"
                           [config]="reminderTable"
                           (rowChanged)="onRowChanged($event)">
                </uni-table>
        </section>
</section>
<report-preview-modal></report-preview-modal>
<uni-confirm-modal></uni-confirm-modal>