<uni-toolbar
    *ngIf="!modalMode"
    [config]="toolbarconfig"
    [saveactions]="saveactions">
</uni-toolbar>

<section [ngClass]="{'application': !modalMode}">
    <section class="uni-container">
        <p *ngIf="!runNumbers || runNumbers.length === 0">Ingen kjøringer</p>
        <uni-form
            *ngIf="!modalMode && (runNumbers && runNumbers.length > 0)"
            [config]="config$"
            [fields]="fields$"
            [model]="searchParams$"
            (changeEvent)="onFormFilterChange($event)">
        </uni-form>

        <section *ngIf="remindersEmail">
            <p>{{remindersEmail.length}} purringer kan sendes på e-post eller sendes til fakturaprint</p>
            <uni-table *ngIf="remindersEmail.length"
                [resource]="remindersEmail"
                [config]="reminderTable"
                (rowChanged)="onRowChanged($event)">
            </uni-table>
        </section>

        <section *ngIf="remindersPrint">
            <p>{{remindersPrint.length}} purringer må skrives ut på papir eller sendes til fakturaprint</p>
            <uni-table *ngIf="remindersPrint.length"
                [resource]="remindersPrint"
                [config]="reminderTable"
                (rowChanged)="onRowChanged($event)">
            </uni-table>
        </section>
    </section>
</section>
