.ticker-overview
    display: flex
    flex-direction: row
    width: 100%
    height: 100%
    box-sizing: border-box
    padding: 0
    margin: 0

    .ticker-list
        flex: 0 0 14rem
        box-sizing: border-box
        list-style: none
        padding: .5rem 1.5rem
        margin-top: .25rem

        > li
            font-weight: bold
            margin-bottom: 1rem

        ul
            list-style: none
            padding: 0

            li
                cursor: pointer
                font-weight: normal
                padding: .15rem .5rem
                border-radius: pxToRem(3)

                &:hover,
                &[aria-selected]:not([aria-selected=false])
                    background: mix($uni-color-c2a, $uni-color-negative, 10%)

    uni-ticker-container
        flex:  0 0 calc(100% - 14rem)
        width: calc(100% - 14rem)
        background: #fff
        padding: .5rem 1.5rem 0 1.5rem
        box-sizing: border-box