uni-ticker-overview
    display: block
    position: absolute
    top: 0
    width: 100%
    height: 100%

.ticker-overview
    display: flex
    flex-direction: row
    width: 100%
    box-sizing: border-box
    padding: 0

    height: calc(100% - 2rem)
    margin: 1rem 0

    .ticker-list
        flex: 0 0 12.5rem
        box-sizing: border-box
        list-style: none
        padding: .5rem 1.5rem
        margin: 0
        overflow-y: auto
        font-size: 14px

        > li
            font-weight: bold
            margin-bottom: 1rem

        ul
            list-style: none
            padding: 0

            li
                cursor: pointer
                font-weight: normal
                padding: .15rem .5rem
                border-radius: pxToRem(3)

                &:hover,
                &[aria-selected]:not([aria-selected=false])
                    background: mix($uni-color-c2a, $uni-color-negative, 10%)

    .overview-ticker-section
        flex:  0 0 calc(100% - 13rem)
        padding: .5rem .5rem 0 1.5rem
        box-sizing: border-box
        overflow: hidden

        .overview-ticker-header
            display: flex
            align-items: center
            margin-bottom: 1.5rem

            span.ticker-title
                font-size: 26px
                margin-right: 1.5rem

            .ticker-actions
                display: inline-flex
                align-items: center
                button
                    height: 2.25rem

                    &.tertiary
                        font-weight: 400
                        i.material-icons
                            font-size: 21px