uni-ticker-wrapper uni-ticker
    .ticker-horizontal-menu
        display: inline-block
        position: absolute
        top: .55rem
        left: 23rem
        z-index: map-get($zindex, toolbar)

        a
            margin-right: 1rem
            cursor: pointer
            &:hover, &:focus
                text-decoration: underline

uni-ticker
    position: relative

    // Only visible when inside uni-ticker-wrapper
    // Important actions should be in toolbar in overview.ts
    .ticker-horizontal-menu
        display: none

    uni-table
        font-size: .9rem

        unitable-search
            display: inline-block

        th, td
            border-left: none
        th
            border-bottom: none
            background: mix($uni-color-scale9, $uni-color-negative, 60%)

        tr:nth-of-type(even)
            background: $uni-color-negative

        tr:nth-of-type(odd)
            background: #fff

        tr[aria-selected]:not([aria-selected=false]),
        tr:focus,
        tr:hover
            background: #d4dfee !important
            color: $uni-color-positive !important
            .contextMenu button
                background-image: unicon-more($uni-color-scale5)
                background-size: 1rem

        th.ticker-link-col
            text-align: center !important

        td a.ticker-link
            text-align: center
            &:hover
                background: darken(#d4dfee, 5%)

        td a
            display: block


uni-ticker-detail-view
    margin-bottom: 1rem
    width: 100%

    *
        box-sizing: border-box

    .ticker-detail-container
        display: flex
        flex-wrap: wrap
        width: 100%

    .ticker-fieldset-column
        flex: 1 0 50%

        .ticker-field
            display: block
            width: 100%
            padding: .25rem 1rem

            label
                display: inline-block
                float: left
                width: 8rem
                font-weight: 600

            span
                display: inline-block
                min-height: 1.5rem
                width: calc(100% - 8.5rem)
                padding: 0 1rem
                background: mix($uni-color-negative, $uni-color-c2a, 98%)
                border-radius: pxToRem(3)

                &.date-good
                    background: mix($uni-color-negative, $uni-color-good, 60%)
                &.date-bad
                    background: mix($uni-color-negative, $uni-color-bad, 60%)

uni-sub-ticker-container
    .sub-ticker-container
        display: inline-block
        width: 100%
        font-weight: 300
        margin-left: 0
        background-color: #d4dfee
        overflow-y: visible
        position: relative

        uni-ticker
            margin-bottom: 1rem

            &:first-of-type .ticker-header
                padding-right: 3.5rem

            .ticker-header
                height: 2.25rem
                background: $uni-color-toolbar
                padding: 0 1.25rem 0 2rem

                span.ticker-title
                    color: #fff
                    line-height: 2.25rem
                    font-size: 1.15rem

                .ticker-context-menu
                    display: block
                    float: right
                    width: 2rem

                .sub-ticker-open-button
                    margin: 0
                    height: 2.25rem
                    line-height: 2.25rem
                    padding: 0 .5rem 0 1.5rem
                    background: transparent
                    color: #fff
                    text-shadow: none
                    float: right

                    background: unicon-edit($uni-color-negative) left no-repeat
                    background-size: 1rem
                    &:hover
                        color: $uni-color-positive
                        background: unicon-edit($uni-color-positive) left no-repeat
                        background-size: 1rem

                .contextmenu_button[type=button]
                    border: none
                    height: 2.25rem
                    top: 0
                    background: unicon-more($uni-color-negative) center no-repeat
                    background-size: 1rem
                    &:hover
                        background: unicon-more($uni-color-positive) center no-repeat
                        background-size: 1rem

        .closeBtn
            @extend %hideText
            position: absolute
            z-index: 999
            top: 0
            right: 1.25rem
            height: 2.25rem
            width: 2rem
            margin: 0
            background: unicon-close($uni-color-negative) center no-repeat
            background-size: .8rem
            &:hover
                background: unicon-close($uni-color-positive) center no-repeat
                background-size: .8rem


        .ticker-data
            padding: 1rem 1rem 2rem 1rem

    uni-ticker
        width: 100%
        overflow: visible
        margin-right: 0 !important

        .filter-info
            display: none

        .ticker-data
            border: none

    h3
        @extend h2
        margin-top: 0
        font-weight: 400
        margin-bottom: .5rem
        width: calc(100% - 5rem)
        float: left

    .sub-ticker-container .data-container
        background-color: inherit
        height: auto
        width: 100%
        padding: 0
