uni-ticker-container
    position: relative
    font-size: 0.9rem

    .ticket-container
        margin-top: 2.5rem
        display: flex
        flex-direction: row
        width: calc(100% - #{pxToRem(1)}) // Or else it overflows in Canary for some reason.

    uni-ticker-filters
        margin-right: 1rem
        flex: 0 0 10rem
        width: 10rem

        &.expanded
            flex: 0 1 60%

    uni-ticker
        margin-right: 1rem
        flex: 1 1 auto

        &:not(.expanded)
            flex: 1 1 15rem

    uni-sub-ticker-container
        flex: 0 0 10rem

        &.expanded
            flex: 0 1 60%


    .closeBtn
        @extend %hideText
        position: relative
        top: 3rem
        right: -.5rem
        height: 2rem
        width: 2rem
        padding: 0
        box-shadow: none
        border: none
        background: transparent unicon-close($uni-color-positive) center no-repeat
        background-size: .8rem
        margin-top: -2.5rem
        float: right

        &:hover
            background-color: $uni-color-scale8
            border-radius: 99rem
            background-size: .8rem
