uni-ticker
    font-size: 0.9rem

    .filter-info
        border: 1px solid $uni-color-scale8
        border-radius: pxToRem(7)
        margin-bottom: 0.5rem
        padding: 0.3rem

    .ticker-data
        border: 1px solid $uni-color-scale5
        border-radius: pxToRem(7)

        h3
            width: calc(100% - 100px)
            display: inline-block
            float: left

    .menu-container
        background: $uni-color-scale9
        border-bottom: 1px solid $uni-color-scale5
        padding-top: 0.3rem
        padding-bottom: 0.3rem
        padding-left: 1rem
        padding-rigth: 1rem
        border-top-left-radius: pxToRem(7)
        border-top-right-radius: pxToRem(7)

        a
            margin-right: 2rem
            cursor: pointer

    uni-context-menu
        float: right
        margin-top: 20px

    .data-container
        background-color: white
        border-bottom-left-radius: pxToRem(7)
        border-bottom-right-radius: pxToRem(7)

    uni-table
        font-size: 0.9rem

uni-ticker-detail-view
    font-size: 0.8rem
    margin-bottom: 1rem
    display: inline-block
    width: 100%

    .ticker-field
        background-color: white
        height: 3rem
        float: left
        padding: 0.5rem
        margin-left: 2px
        margin-bottom: 2px

        label
            display: block

        div
            font-weight: normal
            white-space: nowrap
            overflow: hidden

            text-overflow: ellipsis

        &.small
            width: calc(20% - 20px)

        &.medium
            width: calc(40% - 22px)

uni-sub-ticker-container

    .sub-ticker-header
        font-size: 0.8rem
        color: $uni-color-scale7
        font-weight: bolder
        margin-left: 1rem

    .sub-ticker-container
        height: calc(100vh - 300px)
        display: inline-block
        width: 100%
        font-weight: normal
        margin-left: 0.5rem
        background-color: $uni-color-scale9
        border: 1px solid $uni-color-scale3
        border-radius: pxToRem(7)
        margin-right: -1rem

    .sub-ticker-container-expanded
        padding-left: 1rem
        padding-top: 0.5rem
        padding-bottom: 1rem
        padding-left: 1rem
        padding-right: 1rem

    .sub-ticker-empty
        width: 5rem
        padding-left: 1rem
        padding-top: 1rem
        padding-bottom: 1rem
        font-weight: bolder

    .sub-ticker-summary
        overflow: hidden
        width: 9rem
        padding-left: 1rem
        padding-top: 0.5rem
        padding-bottom: 1rem

        dl
            font-size: 0.8rem

        dd
            margin-top: 0.5rem
            margin-left: 0rem
            white-space: nowrap
            font-weight: bolder

        dt
            font-weight: normal
            white-space: nowrap

    uni-ticker
        width: 100%
        margin-right: 0px !important

        .filter-info
            display: none

        .ticker-data
            border: none

        .data-container
            background-color: inherit

