uni-ticker-wrapper uni-ticker
    .ticker-horizontal-menu
        display: inline-block
        position: absolute
        top: 5px
        right: 0
        z-index: map-get($zindex, toolbar)

        a
            font-family: 'Roboto'
            font-weight: 500
            font-size: 14px
            margin-right: 1rem
            cursor: pointer
            color: #1565c0

            &:hover, &:focus
                text-decoration: underline

uni-ticker
    display: block
    position: relative

    ag-grid-wrapper
        height: calc(100vh - 15rem)

    // Only visible when inside uni-ticker-wrapper
    // Important actions should be in toolbar in overview.ts
    .ticker-horizontal-menu
        display: none

    .uni-ag-wrapper
        font-size: 14px

    .ticker-default-filter
        display: flex
        align-items: center
        label
            position: absolute
            top: 6px
            left: 300px

uni-ticker-detail-view
    margin-bottom: 1rem
    width: 100%
    font-size: 14px

    *
        box-sizing: border-box

    .ticker-detail-container
        display: flex
        flex-wrap: wrap
        width: 100%

    .ticker-fieldset-column
        flex: 1 0 50%
        min-width: 18rem

        .ticker-field
            display: flex
            width: 100%
            padding: .25rem 1rem .25rem 0

            label
                flex: 0 0 8rem
            span
                flex: 1
                padding: 0 1rem
                background: mix($uni-color-negative, $uni-color-c2a, 98%)
                border: 1px solid $uni-color-scale9
                border-radius: pxToRem(3)
                white-space: pre-wrap

                &.date-good
                    background: mix($uni-color-negative, $uni-color-good, 60%)
                &.date-bad
                    background: mix($uni-color-negative, $uni-color-bad, 60%)

uni-sub-ticker-container
    overflow: auto
    .sub-ticker-close-icon
        cursor: pointer
        font-size: 30px
        margin: .25rem .5rem

    .sub-ticker-container
        display: inline-block
        width: 100%
        font-weight: 400
        margin-left: 0
        overflow-y: visible
        position: relative

        box-sizing: border-box
        padding: 1rem

        uni-ticker
            position: relative

            + uni-ticker
                margin-top: 2rem

            header.sub-ticker-header
                display: flex

                > *
                    flex: 0 0 auto
                    margin: auto 1rem auto 0

                span.ticker-title
                    font-size: 1.25rem

                .contextmenu_button
                    border: none
                .toolbar-dropdown-list
                    left: 0
                    right: unset

                .sub-ticker-open-button
                    padding: 0 .5rem 0 1.5rem
                    background: transparent
                    color: $uni-color-positive
                    text-shadow: none

                    background: unicon-edit($uni-color-positive) left no-repeat
                    background-size: 1rem

        .ticker-data
            padding: 1rem 0 0

    uni-ticker
        width: 100%
        overflow: visible
        margin-right: 0 !important

        ag-grid-wrapper
            height: unset

        .ticker-data
            border: none

    .sub-ticker-container .data-container
        background-color: inherit
        height: auto
        width: 100%
        padding: 0
