.reciever-container
    display: flex
    grid-column: 2 span

    label
        flex: 1

    button.icon-button
        margin-left: .25rem
        margin-top: 1.75rem
        color: var(--color-c2a)
