@import '~src/styles/unibase/colors/__colors.sass'
@import '~src/styles/unibase/icons/__icons.sass'
.import-regulative-container
    display: grid
    justify-items: center
    justify-content: center
    text-align: center
    grid-row-gap: 1rem
    .regulative-icon
        content: unicon-regulative($uni-color-negative)
    .empty-regulative-content
        max-width: 40rem
    .c2a,.secondary
        width: 12rem
    .secondary
        margin-left: 0
