<uni-toolbar [config]="toolbarconfig"></uni-toolbar>
<section class="application">
    <article class="transquery-search">
        <uni-form class="transquery-filter-form"
                [config]="config$"
                [fields]="fields$"
                [model]="searchParams$"
                (changeEvent)="onFormFilterChange($event)"
                *ngIf="allowManualSearch">
        </uni-form>
    </article>
    <uni-table
        [resource]="lookupFunction"
        [config]="uniTableConfig"
        (columnsChange)="onColumnsChange($event)"
        (cellClick)="onCellClick($event)">
    </uni-table>

    <uni-summary [configs]="summary" *ngIf="summaryData" [attr.aria-busy]="busy"></uni-summary>
</section>
