<uni-toolbar [config]="toolbarconfig"></uni-toolbar>
<section class="application">
    <section *ngIf="useConfiguredFilter" class="transquery-filter-hidden-message">
        Vi har skjult søkefeltene og viser data basert på linken du kom fra.
        <a (click)="resetConfiguredFilter()">Trykk her </a>
        for å nullstille søket og vise alle feltene.
    </section>
    <button (click)="toExcel()" class="c2a" style="float: right">Eksporter til excel</button>
    <uni-form
        *ngIf="!useConfiguredFilter"
        class="transquery-filter-form"
        [config]="config$"
        [fields]="fields$"
        [model]="searchParams$"
        (readyEvent)="onFormReady($event)"
        (changeEvent)="onFormFilterChange($event)"
        (inputEvent)="onFormInput($event)">
    </uni-form>

    <mat-progress-bar
        *ngIf="loading$ | async"
        class="uni-progress-bar"
        mode="indeterminate">
    </mat-progress-bar>

    <ag-grid-wrapper
        [(resource)]="lookupFunction"
        [config]="uniTableConfig"
        [columnSumResolver]="columnSumResolver"
        (columnsChange)="onColumnsChange($event)"
        (cellClick)="onCellClick($event)">
    </ag-grid-wrapper>

    <uni-summary [configs]="summary" *ngIf="summaryData" [attr.aria-busy]="busy"></uni-summary>
</section>
