<uni-toolbar [config]="toolbarconfig"></uni-toolbar>
<section class="application">
    <uni-form
        *ngIf="allowManualSearch"
        class="transquery-filter-form"
        [config]="config$"
        [fields]="fields$"
        [model]="searchParams$"
        (readyEvent)="onFormReady($event)"
        (changeEvent)="onFormFilterChange($event)"
        (inputEvent)="onFormInput($event)">
    </uni-form>

    <ag-grid-wrapper
        class="transquery-grid-font-size"
        [resource]="lookupFunction"
        [config]="uniTableConfig"
        [columnSumResolver]="columnSumResolver"
        (columnsChange)="onColumnsChange($event)"
        (cellClick)="onCellClick($event)">
    </ag-grid-wrapper>

    <uni-summary [configs]="summary" *ngIf="summaryData" [attr.aria-busy]="busy"></uni-summary>
</section>
